[2020-04-20 15:37] #522 closed

[2020-04-20 15:41] MwithM commented on #532
Discussion can continue here, but as the proposal has not been sent to DAO and it's late for that, I'm closing this as
`was: not submitted`

[2020-04-20 15:41] #532 closed

[2020-04-20 15:58] Bayernatoor opened #548 "For cycle 12"
## Summary

 - BSQ requested: 500$ / 0.56 = 893

## Contributions delivered

- Handled L1 support throughout cycle 12 on Keybase, Reddit and the Bisq forums.

- Created several wiki pages.

## Contributions in progress

- Continuing L1 support.

- Working on additional Wiki pages (Failed trades).

## Roles performed

- L1 Support Agent - [report](https://github.com/bisq-network/roles/issues/64#iss

[2020-04-20 16:06] Bayernatoor commented on #548
Oops - missed the Proposal Phase, will resubmit in Cycle 13.

[2020-04-20 16:06] Bayernatoor commented on #548
Missed the Proposal Phase, will resubmit in Cycle 13.

[2020-04-20 16:06] #548 closed

[2020-04-20 16:56] dmos62 commented on #522
@MwithM what's a good way to stay up to date with CR deadlines? [bisq.network/calendar](bisq.network/calendar)?

[2020-04-20 17:08] MwithM commented on #522
This [calendar](https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe%2FMadrid) updates the deadline to submit compensation requests for review, which is a week before the end of proposal phase.

https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe%2FMadrid

[2020-04-21 09:51] mrosseel commented on #543
tx id: 1df8277c41a101ada3e7a162d10a6190530651d860deede0b0489519816a06a7

[2020-04-22 09:38] freimair opened #549 "For Cycle 13"
## Summary

 - BSQ requested: 200 USD / [0,63](https://github.com/bisq-network/compensation/issues/551) = 317 BSQ

## Contributions delivered

- https://github.com/bisq-network/bisq/pull/4197 (30 USD)

- reviewed https://github.com/bisq-network/bisq/pull/4159 (20 USD)

## Contributions staged for merging

- Get rid of 3/4 problem ([via](https://github.com/bisq-network/projects/issues/25)) (USD 600

[2020-04-22 15:04] ghubstan opened #550 "For Cycle 13"
## Summary

BSQ requested: 6,675 USD / 0.63 = 10,595 BSQ

_Based on Cycle 13 BSQ rate for Cycle 13 is 0.63 USD per 1 BSQ_

## Contributions delivered

 - Investigated issue [3918](https://github.com/bisq-network/bisq/issues/3918) and found sources of unnecessarily large resident memory use by JVM and Linux glibc.  @freimair implmented first finding of that investigation which reduces the JVM's MAX

[2020-04-23 12:40] ripcurlx commented on #524
@alexej996 I think you made a mistake asking for 250 BSQ instead of 446 BSQ in the compensation request submitted to the DAO.

[2020-04-27 21:17] MwithM commented on #547
Closed as accepted.

[2020-04-27 21:17] #547 closed

[2020-04-27 21:19] MwithM commented on #541
Closed as accepted

[2020-04-27 21:19] #541 closed

[2020-04-27 21:19] MwithM commented on #531
Closing as accepted.

[2020-04-27 21:19] #531 closed

[2020-04-27 21:19] MwithM commented on #538
Closing as accepted.

[2020-04-27 21:19] #538 closed

[2020-04-27 21:20] MwithM commented on #528
Closing as accepted.

[2020-04-27 21:20] #528 closed

[2020-04-27 21:20] MwithM commented on #546
Closing as accepted.

[2020-04-27 21:20] #546 closed

[2020-04-27 21:20] MwithM commented on #545
Closing as accepted.

[2020-04-27 21:20] #545 closed

[2020-04-27 21:21] MwithM commented on #540
Closing as accepted.

[2020-04-27 21:21] #540 closed

[2020-04-27 21:22] MwithM commented on #537
Closing as rejected.

[2020-04-27 21:22] #537 closed

[2020-04-27 21:24] MwithM commented on #544
Closing as accepted.

[2020-04-27 21:24] #544 closed

[2020-04-27 21:25] MwithM commented on #533
Closing as accepted.

[2020-04-27 21:25] #533 closed

[2020-04-27 21:25] MwithM commented on #536
Closing as accepted.

[2020-04-27 21:25] #536 closed

[2020-04-27 21:26] MwithM commented on #539
Closing as accepted.

[2020-04-27 21:26] #539 closed

[2020-04-27 21:26] MwithM commented on #521
Closing as accepted.

[2020-04-27 21:26] #521 closed

[2020-04-27 21:26] MwithM commented on #542
Closing as accepted.

[2020-04-27 21:26] #542 closed

[2020-04-27 21:27] MwithM commented on #535
Closing as accepted.

[2020-04-27 21:27] #535 closed

[2020-04-27 21:28] MwithM commented on #523
Closing as accepted.

[2020-04-27 21:28] #523 closed

[2020-04-27 21:28] MwithM commented on #529
Closing as accepted.

[2020-04-27 21:28] #529 closed

[2020-04-27 21:28] MwithM commented on #543
Closing as accepted.

[2020-04-27 21:28] #543 closed

[2020-04-27 21:28] MwithM commented on #530
Closing as accepted.

[2020-04-27 21:28] #530 closed

[2020-04-27 21:30] MwithM commented on #526
Closing as rejected.

[2020-04-27 21:30] #526 closed

[2020-04-27 21:30] MwithM commented on #527
Closing as rejected.

[2020-04-27 21:30] #527 closed

[2020-04-27 21:31] MwithM commented on #534
Closing as accepted.

[2020-04-27 21:31] #534 closed

[2020-04-27 21:33] MwithM commented on #525
Closing as accepted.

[2020-04-27 21:33] #525 closed

[2020-04-27 21:33] MwithM commented on #524
Closing as accepted.

[2020-04-27 21:33] #524 closed

[2020-04-27 21:33] MwithM commented on #520
Closing as accepted.

[2020-04-27 21:33] #520 closed

[2020-04-27 21:36] MwithM commented on #519
90 days volume weighted average was used.

[2020-04-27 21:36] #519 closed

[2020-04-27 21:43] MwithM opened #551 "BSQ rate for Cycle 13 is 0.63 USD per 1 BSQ"
The recommended USD/BSQ rate to be used for compensation requests on **cycle 13 is 0.63**. The 90 day weighted volume average at the beginning of the cycle has been used.

![image](https://user-images.githubusercontent.com/50149324/80423396-45018200-88e0-11ea-8b10-9e9ea5dc93ca.png)

More info about the Compensation process at https://bisq.wiki/Compensation

[2020-04-28 10:00] sqrrm commented on #520
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:00] sqrrm commented on #521
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:00] sqrrm commented on #522
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:00] sqrrm commented on #523
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:01] sqrrm commented on #524
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:01] sqrrm commented on #525
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:01] sqrrm commented on #526
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:01] sqrrm commented on #527
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:01] sqrrm commented on #528
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:02] sqrrm commented on #529
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:02] sqrrm commented on #530
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:02] sqrrm commented on #531
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:02] sqrrm commented on #532
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:02] sqrrm commented on #533
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:02] sqrrm commented on #534
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:02] sqrrm commented on #535
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:02] sqrrm commented on #537
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:02] sqrrm commented on #538
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:03] sqrrm commented on #539
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:03] sqrrm commented on #540
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:03] sqrrm commented on #541
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:03] sqrrm commented on #544
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:03] sqrrm commented on #543
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:03] sqrrm commented on #545
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:03] sqrrm commented on #546
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:04] sqrrm commented on #547
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-04-28 10:04] sqrrm commented on #548
There are some inconsistencies with the vote result calculation for cycle 12. We are looking into it. Please avoid moving any BTC in your BSQ wallet for now, they might actually be BSQ that failed to get colored.

[2020-05-04 05:04] doitsu232 opened #552 "For Cycle 13"
## Summary

 - BSQ requested: **63 BSQ**

## Contributions delivered

Translations from English to German (12th February ~ 13th May 2020)
My contribution included translating all new untranslated strings.
I had to do the reviews myself, and since it was extra work I rounded up the amount of BSQ a bit.

**#bisq-desktop / displayStrings.properties**
![Screenshot_2020-05-13 #bisq-desktop Transifex Ed

[2020-05-06 07:45] cbeams commented on #550
@ghubstan, I've looked through everything so far, and it all looks reasonable to me (thanks for the great work, btw!). The only item that raised a yellow flag for me is 3K usd for the memory usage improvements. I didn't track this work while it was going on, and I can easily imagine that it required a lot of time and effort to analyze, test, etc, but this wasn't mentioned in your description above

[2020-05-06 14:22] ghubstan commented on #550
@cbeams , Thanks for reviewing this.  I did plan to include the rpc work that has been merged in `Contributions in progress` section above.  I just haven't got around to it.  (According to the [calendar](https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe%2FMadrid), I have until end of Saturday, May 9 to get that done.)

I will also add

[2020-05-06 22:30] niyid opened #553 "For Cycle #13"
## Summary

 - BSQ requested:

**` 1950 BSQ`**

## Contributions delivered

- bisq-network/bisq#3352 - `500 BSQ`
- bisq-network/bisq#3510 - `1,300 BSQ` (`1,000 BSQ` for discovery of critical "showstopper" bug and `300 BSQ` for resolution)
- bisq-network/bisq#3899 - `50 BSQ`
- bisq-network/bisq#3408 - `100 BSQ`

## Contributions in progress

- bisq-network/bisq#3338 (Awaiting ACK from reviewer)
- b

[2020-05-08 16:03] ghubstan commented on #550
This request is ready for review

[2020-05-08 16:04] ghubstan commented on #550
This request is ready for review

[2020-05-11 03:35] pedromvpg opened #554 "For Cycle #13"
## Summary

**BSQ requested**
2500 USD = 3968 BSQ @ 0.63 USD/BSQ
+2500 BSQ to be sent in the next cycle)

**Total**
5000 USD = 7936 BSQ (0.63 USD per 1 BSQ)

## Contributions delivered

1. Story boards
2. Animation reusing the previously designed eye still on hold for the Bitcoin Magazine back cover ad.
3. Individual shapes layered and some animated individually.
4. VO script
5. VO creation with t

[2020-05-11 10:40] ifarnung commented on #554
A great video!  I thought it was really well done. Thanks for that contribution.

[2020-05-11 14:20] stevavoliajvar opened #555 "For Cycle 13"
## Summary

- USD requested: 200
 - BSQ requested: 317

## Roles performed
I'm secondary operator for @alexej996 forum and price node.

- Forum secondary operator : 100 USD
- Pricenode seconday operator: 100 USD

[2020-05-11 14:22] MwithM commented on #555
Ongoing cycle is number 13 please edit title.

[2020-05-11 18:25] alexej996 opened #556 "For Cycle 13"
## Summary
This is a compensation request for work done in Cycle 12.

 - USD requested: **250**
 - BSQ requested: **396**

## Roles performed

- Forum operator: https://github.com/bisq-network/roles/issues/19#issuecomment-626891519 (100 USD)
- Reddit moderator: https://github.com/bisq-network/roles/issues/25#issuecomment-626877070 (50 USD)
- Pricenode operator: https://github.com/bisq-network/role

[2020-05-11 19:17] alexej996 commented on #556
DAO txid: **31d812ef6fd6a5382bv6adbedf3c547e391e49143de1875b6521095f8f78f663**

[2020-05-12 01:46] jmacxx opened #557 "For Cycle 13"
## Summary

- BSQ requested: 200 / 0.63 = `317.46 BSQ`
- USD requested: 200
- BSQ rate: 0.63 USD per BSQ as per #551

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Developed: [report on payments to incident victims]|Support|50|bisq-network/support/pull/399
|Display the BSQ amount correctly in issuance log message|dev|0|https://github.com/bisq-ne

[2020-05-12 07:08] cbeams commented on #555
I don't think we have a precedent for secondary @bisq-network/pricenode-operators, and in general, secondary role holders don't request compensation unless they actually did something, i.e. needed to take over for the primary in some capacity. I see that @alexej996 gave this a 👍, perhaps one or both of you could explain more about this arrangement and why you believe it merits compensation? Withou

[2020-05-12 09:30] bounhun opened #558 "For Cycle 13"
## Summary

 - BSQ requested: **1500 BSQ**

## Contributions delivered

ETH volume booster bounty https://github.com/bisq-network/growth/issues/177 1000 BSQ

LTC volume booster bounty https://github.com/bisq-network/growth/issues/178 500 BSQ

This bounty proposal was for three months. I started on February and it had to end April. Volume has improved but it's still not huge (from 6.93 to 8.817 BTC

[2020-05-12 10:17] ifarnung commented on #558
Reading through the github history, it seems like you have put in a solid effort as a market maker in an effort to generate trading volume.   It's good to see such involvement with Bisq and I hope that the spread you were charging allowed you to make some profit, though I know that price swings and hedging costs can really eat into what are already thin margins.

Correct me if I'm wrong, @flix, bu

[2020-05-12 14:29] leo816 opened #559 "For Cycle 13"
## Summary

 - BSQ requested: 3008

USD requested:  1800 USD
BSQ rate: 0.63 USD per BSQ
BSQ requested:  1800/ 0.63 =   2857 BSQ

The  amount of the fee reimbursements: 151 BSQ = 3008 BSQ

## Contributions delivered

**Mediations**

I have mediated  **471**  cases since the start of this role.
16 cases from the old mediation.
83 cases in November
62 on December
69 on January
61 on February
142 on M

[2020-05-13 08:43] doitsu232 commented on #552
updated on 13th of may 2020.

[2020-05-14 05:55] devinbileck opened #560 "For Cycle 13"
## Summary

As stated in [compensation 551](https://github.com/bisq-network/compensation/issues/551), the BSQ rate for cycle 13 is 0.63 USD per 1 BSQ.

 - BSQ requested: `600 USD / 0.63 = 952.38`
 - DAO proposal transaction ID: `fb307f7cd97dba29bb35177306519c0c72c25360b527904ec94fc2160113b41d`

## Contributions delivered

None.

## Contributions in progress

None.

## Roles performed

The amounts

[2020-05-14 07:05] alexej996 commented on #555
Couple of months back I saw someone asking for a compensation on a secondary role in their CR, so I said to Stevan that he might be eligible for a compensation. He was interested so about a month ago I asked in #ops if somebody knows more about this, but no one answered, so I tought he might just let the voting decide.

It ain't a big deal either way, Stevan has been helping me out for year or so,

[2020-05-14 07:34] MwithM opened #561 "For Cycle 13"
## Summary

 - BSQ requested: **1388.88 BSQ**

[Rate](https://github.com/bisq-network/compensation/issues/551) used: 0.63USD/BSQ
875 / 0.63 = 1388.88 BSQ

## Roles performed

**Growth**

Community manager https://github.com/bisq-network/roles/issues/95#issuecomment-628431613 `425USD`

Transifex Admin https://github.com/bisq-network/roles/issues/20#issuecomment-628434897 `25 USD`

**Support agent**

[2020-05-14 10:07] mrosseel opened #562 "Cycle 13"
## Summary

 - BSQ requested:  476 BSQ

## Contributions delivered

None

## Contributions in progress

None

## Roles performed

Pricenode Operator at [bisq-network/roles#14](https://github.com/bisq-network/roles/issues/14#issuecomment-628535946) | 50
Seednode Operator at [bisq-network/roles#15](https://github.com/bisq-network/roles/issues/15#issuecomment-628536468) | 2 servers * 50
Bitcoin Node

[2020-05-14 11:13] mrosseel commented on #562
tx id: 4ef9668c603ba8985da4fc774ae0f88574bb81781fbc4454abbe18bfb82aabb2

[2020-05-14 11:40] robkaandorp opened #563 "For Cycle 13"
## Summary

This compensation request is for cycle 13 and the already approved compensation for cycle 12. I didn't have time after approval to add the proposal to the DAO, so it was closed as 'not submitted'. See https://github.com/bisq-network/compensation/issues/532

 - BSQ requested for cycle 12: 50 USD / 0.56 = 89.29 BSQ
 - BSQ requested for cycle 13: 50 USD / 0.63 = 79.37 BSQ

Total BSQ: 89.2

[2020-05-14 16:31] devinbileck commented on #560
I have updated my request to account for my second BTC node. Ready for review.

[2020-05-15 09:36] robkaandorp commented on #563
DAO txid: af86c32b2428ed3bb3d2d93c42fdafd124fa006d6be2ec2dacec1c5e0510e3d7

[2020-05-15 15:20] sqrrm opened #564 "For Cycle 13"
## Summary
 - BSQ requested: `3143` (USD 1980 / 0.63)
 - Proposal TxId: [012a56e1bfcea4fa408dfd1dea5efbd20626e7b44dff14060fead52604a524d9](https://bsq.ninja/tx.html?tx=012a56e1bfcea4fa408dfd1dea5efbd20626e7b44dff14060fead52604a524d9)

This month we had an issue with the DAO state after vote count. Otherwise we've seen some new contributors making PRs and also reviewing. I'm really happy to see mor

[2020-05-16 09:55] sqrrm commented on #549
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-05-16 10:04] sqrrm commented on #550
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

I think it's not always clear why a certain PR or contribution is worth more than others. It helps more people understand the work that goes into a piece of code when you explain it like you did now for the

[2020-05-16 10:23] sqrrm commented on #553
It's hard to review work done when issues solved are linked but not the solution. Linking PRs would be better.

I think these items are asking too much. The value is limited and it shouldn't take much work to implement. These items seem to have been rejected in previous CRs as well.

This has also been rejected before from what I understand, and it's not priority. At least a more reasonable amount

[2020-05-16 10:27] sqrrm commented on #557
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-05-16 10:29] niyid commented on #553
I did not get the part this part regarding https://github.com/bisq-network/bisq/issues/3408 :

On the others, I can review the figures if you are open to another review.

[2020-05-16 12:11] jmacxx commented on #557
TxID: 0ec19d8e69a8e64be4e4222889a79585f1ce98aed10c7dbbddd6775249f5309a

[2020-05-16 12:26] cbeams commented on #561
@MwithM, why did you charge only 325 USD for the support role? https://github.com/bisq-network/proposals/issues/200 stipulates that L1 support agents should be paid out at 500 USD / month. It is of course fine if you request less than this, I just want to make sure we're all on the same page.

Aside from that, my admin [team lead review](https://bisq.wiki/Compensation#Team_Lead) is complete and I

[2020-05-16 12:31] cbeams commented on #564
@sqrrm, this looks good from my side, just one nit that L2 support work is really dev work, and shouldn't be earmarked as "support" from a budget perspective. This is something that @ripcurlx and I have ironed out in his last compensation requests as well.

I'll let @wiz give his review now; otherwise mine is complete.

[2020-05-16 12:33] cbeams commented on #559
@leo816, I see that this is still marked [WIP], but given that today is the deadline, I've reviewed this anyway and it looks good to me, so my [team lead review](https://bisq.wiki/Compensation#Team_Lead) is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-05-16 13:33] sqrrm commented on #564
Sure, will move it to dev for future CRs.

[2020-05-16 15:12] MwithM commented on #561
I feel like I'm a step behind from the rest of the team, so I'm charging a less for a while.

[2020-05-16 15:19] MwithM commented on #549
@wiz still has review to do, isn't it?

[2020-05-16 15:21] stejbac opened #565 "For Cycle 13"
## Summary

 - BSQ requested: 125 / 0.63 = 198.41 BSQ

## Contributions delivered

- [Tidy PersistableEnvelope inheritance](https://github.com/bisq-network/bisq/pull/4102) (75 USD)
- [Remove PersistableNetworkPayloadList & TradeStatisticsList](https://github.com/bisq-network/bisq/pull/4159) (50 USD)
- [Fix proof-of-burn signing for password protected wallets](https://github.com/bisq-network/bisq/p

[2020-05-16 17:12] Bayernatoor opened #566 "For Cycle 13"
## Summary

 - BSQ requested: 1587.30

 Rate used: 0.63USD/BSQ
 1000 / 0.63 = 1587.30 BSQ

## Contributions delivered

**This compensation request includes my late/missed submission for cycle 12:**

https://github.com/bisq-network/compensation/issues/548

USD/BSQ rate changed in cycle 13 - I am using this cycles rate for compensation.

**As well as work done throughout Cycle 13:**

Finished the Fa

[2020-05-16 17:22] Bayernatoor commented on #566
Txid: 001c077af4eeeafe885447d09eca50d2299ec73c30b99fffe3457546e4c278fa

[2020-05-16 17:50] ghubstan commented on #550
ProposalTxId = `45e792c8432b3217cb21ad9482eecfcc3b27b7c052fa81e875698637b3fb551b`

[2020-05-17 05:13] luisantoniocrag opened #567 "For Cycle 13"
## Summary

 - BSQ requested: `1380 BSQ`

## Contributions delivered

](https://github.com/bisq-network/growth/issues/190) in the first month of efforts to implement BISQ in LATAM, starting with Mexico.

###  Facebook  `280 USD`

Insights - Last 28 Days
![2020-05-16_22-14-07](https://user-images.githubusercontent.com/42625753/82134918-bc7d4f80-97c2-11ea-9145-1e9cca2b79a6.png)
![2020-05-16_22-14-30

[2020-05-17 05:27] Bisq-knight opened #568 "For Cycle 13"
## Summary

1000 USD / [0.61 USD per BSQ](https://github.com/bisq-network/compensation/issues/551) = 1639 BSQ

 - BSQ requested: **1639 BSQ**

## Contributions delivered

See Roles report

## Contributions in progress

Mediation.

## Roles performed

Mediator - [report](https://github.com/bisq-network/roles/issues/83)

[2020-05-17 09:51] wiz commented on #556
:+1: for ops

[2020-05-17 09:54] wiz commented on #555
@stevavoliajvar Hello there. It's great that you're taking on the secondary role for the forums and that pricenode, but the ops budget is set per node instance: https://github.com/orgs/bisq-network/teams/ops/discussions/1

Of course you guys can split the compensation however you want, but the sum of your compensation requests for the same node can't exceed the budget for running a node! Since @al

[2020-05-17 09:54] #555 closed

[2020-05-17 09:54] wiz commented on #563
:+1: for ops

[2020-05-17 09:55] wiz commented on #562
:+1: for ops

[2020-05-17 09:57] wiz commented on #560
:+1: for ops

[2020-05-17 10:15] wiz commented on #549
well yes but ops stuff is kinda pre-approved
:+1: for ops which is just monitoring operator anyway

[2020-05-17 10:33] wiz opened #569 "For Cycle 13"
## Summary

 - BSQ requested: `$1950 / .63 = 3095 BSQ`

 ## [Ops] Contributions Delivered

* [Reviewed and Tested Permutation Fix](https://github.com/bisq-network/bisq/pull/4206) for [Cycle 12 DAO issue](https://github.com/bisq-network/bisq/issues/4201): `200 BSQ`

## [Ops] Roles Performed

* [2x Bisq Seednode Operator](https://github.com/bisq-network/roles/issues/15#issuecomment-629934988): `200

[2020-05-17 11:10] sqrrm commented on #565
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-05-17 11:42] Emzy opened #570 "For Cycle 13"
## Summary

 - BSQ requested: `1111`

## Contributions delivered

None.

## Contributions in progress

## Roles performed

- Pricenode operator at bisq-network/roles#14 - `100` USD
- Seednode operator at bisq-network/roles#15 - (2*) `200` USD
- Bitcoin Node operator at bisq-network/roles#67 - (4*) `200` USD
- Mailman operator at bisq-network/roles#26 -`100` USD
- Explorer operator at bisq-network/

[2020-05-17 11:44] wiz commented on #570
:+1: for ops
btw let’s work on giving 1 of your bitcoin nodes to someone else, 4 is kind of a lot

[2020-05-17 11:49] RefundAgent opened #571 "For Cycle 13"
## Summary

 - BSQ requested: 669.4

The compensation for the refund agent has been changed after discussions with cbeams to be a fee/dispute + interest of the outstanding BTC during the cycle. The fee is suggested to be $50/case and 1% for the outstanding BTC. cbeams has not yet answered my latest email so maybe he or the DAO will not approve. Due to the time constraints I still make the request.

[2020-05-17 12:01] Emzy commented on #570
new BtcNode("kirsche.emzy.de", "fz6nsij6jiyuwlsc.onion", "78.47.61.83", BtcNode.DEFAULT_PORT, "@emzy"),

Let's drop this one, what do you think?

[2020-05-18 01:20] stejbac commented on #565
Tx ID: 4efd3a3a6b1b7f90c3852818ddc19b405045af20c5e8c6f58f0fe021912dc0ba

[2020-05-18 01:26] m52go commented on #561
[Approved](https://bisq.wiki/Compensation#Team_Lead).

Please submit your DAO proposal and paste the transaction ID here as a comment when complete.

[2020-05-18 01:27] m52go commented on #554
[Approved](https://bisq.wiki/Compensation#Team_Lead).

The video was indeed incredible, and was delivered unbelievably quickly too. In addition, the GIFs were never requested but delivered anyway. I'm saying all this to point out that the amount Pedro is requesting here is well below the market rate for an over-delivery of what I consider to be world-class design.

All items not only helped Bisq h

[2020-05-18 01:39] m52go commented on #552
I don't believe the website changed in the past cycle to warrant updated translations (?). It's only 0.66 BSQ so I'm not going to hold this up, but I am curious if you specify what you actually updated.

[Approved](https://bisq.wiki/Compensation#Team_Lead).

Please submit your DAO proposal and paste the transaction ID here as a comment when complete.

[2020-05-18 02:20] m52go commented on #558
While the increases are great, especially the drastic increase in ETH activity, I think it's important to judge this bounty claim by its original conditions (otherwise slippery slope, can of worms, etc).

So while it was a great effort, I have to agree that this bounty should not be paid out.

This is my opinion, but I think the Bisq DAO should make the final judgment call. I'm not going to outrig

[2020-05-18 02:45] m52go opened #572 "For Cycle 13"
**BSQ requested: `5634`**

Amount above is the total of the items listed below (3550 USD) adjusted for the 3-month average BSQ price of $0.63 specified in issue 551.

## Contributions delivered

**Website** `1500 USD`

Refactored the structure of the whole website. Did it as a series of commits for expedience; some changes simply required deleting extraneous files, while others were more involved

[2020-05-18 04:24] wiz commented on #554
The video was amazing, excellent job 🏆

[2020-05-18 04:25] wiz commented on #572
:+1: for ops

[2020-05-18 04:33] wiz commented on #569
93ceacd224c6bc74bf0307c95b061b2b4bb25a55d36102086dfc1d5fae91d091

[2020-05-18 05:07] devinbileck commented on #560
DAO proposal transaction ID: `fb307f7cd97dba29bb35177306519c0c72c25360b527904ec94fc2160113b41d`

[2020-05-18 07:28] MwithM commented on #567
Facebook and Telegram requests are too high. Facebook is a new media that we want to explore, specially because Bitcoin LATAM community seems to be very active there, but it's still a very recent creation and has very little followers (37 likes) to request 280 USD for it. I don't remember if we did request something in the past for Telegram groups, but most of us are doing this task for free. So I

[2020-05-18 08:04] MwithM commented on #552
@m52go The website strings are just those two in the picture, the "copyright" and "for v1.2.7 (approximate)". Website translation is not being compensated, but it's less than 50 cents. Also, reviews ar not up to compensation either, and I think it's better to leave strings unreviewed than self-review.
I approve the request as well, proceed to submit DAO proposal.

[2020-05-18 08:38] cbeams commented on #566
Hi @Bayernatoor. I'm approving this as-is, but for future requests, please wait for that approval before submitting your proposal to the DAO. See https://bisq.wiki/Compensation#Contributor for details.

[2020-05-18 08:38] cbeams commented on #566
@MwithM, per my comment above, we should update the compensation request issue template to reflect the new process at https://bisq.wiki/Compensation#Contributor (the current issue template still tells contributors to submit their request to the DAO right away). I'd also like to have a field for people to post a link to their last compensation request. I always have to look these up manually in ord

[2020-05-18 08:46] cbeams commented on #568
Looks like there's an error in the description:

This should be, according to https://github.com/bisq-network/compensation/issues/551:

Assuming that's updated, I approve this request, and please go ahead with submitting your proposal and pasting the txid here. Thanks.

[2020-05-18 10:18] cbeams commented on #571
My [team lead review](https://bisq.wiki/Compensation#Team_Lead) is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

See https://github.com/bisq-network/proposals/issues/222 for the official proposal to change the compensation scheme / incentives as described in the description above.

[2020-05-18 10:26] cbeams commented on #569
My [team lead review](https://bisq.wiki/Compensation#Team_Lead) is complete and I approve this request.

Please see https://github.com/bisq-network/compensation/issues/566#issuecomment-630033762 and https://github.com/bisq-network/compensation/issues/566#issuecomment-630034007 for notes on waiting until team lead review is complete to submit your proposal to the DAO.

[2020-05-18 10:30] cbeams commented on #572
My [team lead review](https://bisq.wiki/Compensation#Team_Lead) is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-05-18 10:34] MwithM commented on #561
`tx=0258ecf0760733007b07e6643cee51797b1470715b9ee5beaca8912a38dcddaf`

[2020-05-18 14:28] m52go commented on #552
@MwithM thanks, sorry I jumped the gun here. This was supposed to be yours to review.

[2020-05-18 14:34] cbeams opened #573 "For Cycle 13"
## Summary

_Previous compensation request: #533._

- USD requested: 185 USD
- BSQ rate: 0.63 USD per BSQ as per #551
- BSQ requested: 185 / 0.63 = `294 BSQ`

## Contributions delivered

## Contributions in progress

- Work on the Bisq daemon and API continues at https://github.com/bisq-network/projects/11

## Roles performed

_Note that management functions like the team lead roles below are stil

[2020-05-18 14:55] MwithM commented on #552
No problem, I probably would have overseen the website stuff.

[2020-05-18 15:10] Bayernatoor commented on #566
@cbeams  Sounds good, will make sure to wait for approval in the future!

[2020-05-18 15:55] cbeams commented on #573
@m52go, @sqrrm please review, thanks.

[2020-05-18 15:59] pedromvpg commented on #554
Thanks everyone!
I hope that with this time of remote content, we'll find more opportunities to use the video and promote bisq!

[2020-05-18 16:22] Emzy commented on #570
TX ID: e9e1c54f564107ad972a577b5e935b6a4f7b27d7d6fcb368f380cfdb7d6331e4

[2020-05-18 18:54] m52go commented on #573
[Approved](https://bisq.wiki/Compensation#Team_Lead), looks good to me :+1:

[2020-05-18 18:59] m52go commented on #567
For the record, luisantoniocrag did approach me (more than once) about publishing articles on the wiki instead of Medium—the hold-up is on my end, as it wasn't clear how to properly offer non-English articles on the wiki. But I recently found a plugin to make this possible, so hopefully this can change soon.

Overall I do appreciate the energy luisantoniocrag is putting into this effort!

I'll lea

[2020-05-18 23:04] burningman2 opened #574 "For Cycle 13"
## Summary

- BSQ requested: 397 BSQ (250 USD / 0.63 USD = 397 BSQ)

## Roles performed

BTC donation address owner/burning man.

Buying BSQ with BTC funds from donation address and burning the BSQ.

Report April 18th 2020: https://github.com/bisq-network/roles/issues/80#issuecomment-615928371
Requested: 50 USD

Report April 25th 2020: https://github.com/bisq-network/roles/issues/80#issuecomment-6

[2020-05-18 23:14] burningman2 commented on #554
@pedromvpg Thanks for your great contribution! World class as always!

[2020-05-19 06:41] MwithM commented on #554
Don't forget to submit compensation request and comment the TXID.

[2020-05-19 11:18] RefundAgent opened #575 "For Cycle 13"
## Summary

This is in reality a reimbursement request for the Refund Agent. The input limit in the Bisq app makes it impossible to make large reimbursement requests at present.

 - BSQ requested: 53286.9

## Contributions delivered

I have paid out BTC which has been rebought to this amount as specified in: https://github.com/bisq-network/roles/issues/93

## Contributions in progress

I have paid

[2020-05-19 15:05] m52go commented on #572
`da90e8141f6a3e47a8d66ff6887d2f02da31b96d7ac8b7e608b36c34a202a65a`

[2020-05-19 15:37] bounhun commented on #558
I'll postpone this compensation request for next cycle. If volume is the same as last month it might be ennough to satisfy targets for volume, or at least it will be more credible that I plan to stay making orders.

[2020-05-20 07:05] MwithM commented on #568
@Bisq-knight Don't forget to submit the request to DAO and publish TXID here.

[2020-05-20 07:08] MwithM commented on #567
I already told @luisantoniocrag via Keybase that he can edit the compensation request if he thinks it's necessary and comment when he does that.

[2020-05-20 07:09] MwithM commented on #559
Remember this:

[2020-05-20 07:10] #558 closed

[2020-05-20 07:11] MwithM commented on #558
Closed as: not submitted (postposed)

[2020-05-20 07:16] MwithM commented on #549
Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-05-20 07:49] freimair commented on #549
oh sorry, totally forgot that. here it is:

https://bsq.bisq.cc/tx.html?tx=a3d67a5503dfb0df5a034d4357d0646b755658d00542e36e35c524e19824d6d2

[2020-05-20 12:35] chimp1984 commented on #574
Tx ID: a7637177ce3a3d318bf1f061a8d646860e1081bb0c43e737d71bd15877b5832a

[2020-05-20 14:22] burningman2 commented on #574
Tx ID: a7637177ce3a3d318bf1f061a8d646860e1081bb0c43e737d71bd15877b5832a

[2020-05-21 07:04] doitsu232 commented on #552
https://bsq.ninja/tx.html?tx=424ba20694e2bf36f20e8df99ca16dc5f011bd30c431a4dac0b3a5ab477f4a0c

[2020-05-21 07:17] cbeams commented on #574
My [team lead review](https://bisq.wiki/Compensation#Team_Lead) is complete and I approve this request. The proposal has already been submitted to the DAO.

[2020-05-21 07:27] cbeams commented on #575
My [team lead review](https://bisq.wiki/Compensation#Team_Lead) is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

Note that I validated the amount of BSQ requested by adding up the values reported in https://github.com/bisq-network/roles/issues/93 between the dates of Apr 25th–May 16th. And I validated the

[2020-05-21 10:48] sqrrm commented on #564
Proposal request tx id: [012a56e1bfcea4fa408dfd1dea5efbd20626e7b44dff14060fead52604a524d9](https://bsq.ninja/tx.html?tx=012a56e1bfcea4fa408dfd1dea5efbd20626e7b44dff14060fead52604a524d9)

[2020-05-21 11:05] petrhejna opened #576 "For Cycle 13"
## Summary

 - BSQ requested: `79 BSQ` (50 USD / 0.63 ~ 79 BSQ)

**Note**: Please not this is my first contribution and first compensation request. My primary motivation is to test and get familiar with the Bisq workflow and processes. I am more than open to any feedback, corrections and additional info. Defining the price was quite hard for me, because I spend quite a lot of time and effort on le

[2020-05-21 11:15] sqrrm commented on #576
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

A note: it is expected that compensation requests are posted a few days before the end of the proposal phase to give time for review and feedback of the compensation request. There is usually a notification

[2020-05-21 11:31] MwithM commented on #576
Here you can find how the compensation request process works, for next cycle keep in mind that this compensation requests should be ready for review one week before end of proposal phase. https://bisq.wiki/Compensation

You only have a few hours to submit your request to DAO https://docs.bisq.network/compensation.html#file-your-compensation-request-in-the-dao

[2020-05-22 00:00] petrhejna commented on #576
Tx: `98b94075b8a4384553361dd160086b420723e90e6d65bd5d7942cfd3d12f42e3`

@MwithM @sqrrm Thank you for info. I'll do sooner next month.

Is there please any "Calendar" or some timeline (other then Governance tab in Bisq). Thank you.

[2020-05-22 07:16] MwithM commented on #576
Yes, this calendar alerts about deadline for compensation request submission (1 week before end of proposal phase).

[2020-05-22 07:20] MwithM commented on #575
Don't forget to submit the request to DAO and publish TXID here.

[2020-05-22 07:21] MwithM commented on #571
Don't forget to submit the request to DAO and publish TXID here.

[2020-05-22 19:19] petrhejna commented on #576
@MwithM thank you for the link. However is there some way how to subscribe to it but ICS link?

I don't have Google stuff on my phone, so I need some standard way of subscribing to the calendar.

Thank you a lot.

[2020-05-22 19:59] oscarguindzberg opened #577 "For Cycle 13"
## Summary

 - BSQ requested: USD 4000 / 0.63 = BSQ 6349.20

## Contributions delivered

- Segwit support plan: https://github.com/bisq-network/proposals/issues/226 . Project: https://github.com/bisq-network/projects/issues/34 (USD 4000)

## Contributions in progress

## Roles performed

[2020-05-22 22:29] oscarguindzberg commented on #577
txid: 97be9337e9283745c458d81a4f735088b33241e78964afffd5dd208e39c7041a

[2020-05-22 22:31] oscarguindzberg commented on #577
I just found out I should have waited before publishing my compensation request tx.

[2020-05-22 22:32] oscarguindzberg commented on #577
Previous compensation request: https://github.com/bisq-network/compensation/issues/283

[2020-05-24 09:22] RefundAgent commented on #575
TxID: 71d40d5*********************0383ca

[2020-05-24 09:23] RefundAgent commented on #571
TxID:  51db5b9dc****************b966f

[2020-05-24 11:27] cbeams commented on #573
I failed to submit this to the dao prior to the deadline; will submit in cycle 14.

[2020-05-24 17:15] MwithM commented on #554
There's two DAO proposals pointing to this issue, one for 3968 BSQ and another one for 2500 BSQ, which equals 6468 BSQ.
Why is it split? I don't understand how this amount is calculated based on BSQ requested on summary:

[2020-05-24 17:42] MwithM commented on #553
There's a reimbursement request with TXID `15ffe6e6f27250c6f345bf2747217b6654ec7a1ce1035918c19c3de8b2df78b7` requesting 1950 BSQ, the same amount of this issue.
It's ok to submit requests even when they're not approved by team leaders, but why did you do a  proposal for reimbursement instead of compensation?

[2020-05-24 18:12] MwithM commented on #577
The proposal phase has ended and there's no proposal submitted to DAO.

Closing as "not submitted".

[2020-05-24 18:42] leo816 commented on #559
thank you,
Proposal Tx ID:  1d18f941a63fd3bf950808382152b7cc80c0279dbf8dcbe79a2aec5f91152c32

[2020-05-24 18:58] niyid commented on #553
That was an error. It was meant to be a compensation request.

On Sun, 24 May 2020, 18:42 MwithM, <notifications@github.com> wrote:

[2020-05-24 20:30] oscarguindzberg commented on #577
@MwithM I am a bit confused:
What is the proposal to DAO?
Isn't this tx enough https://bsq.bisq.cc/tx.html?tx=97be9337e9283745c458d81a4f735088b33241e78964afffd5dd208e39c7041a ?

[2020-05-24 20:33] oscarguindzberg commented on #577
<img width="1194" alt="dao2" src="https://user-images.githubusercontent.com/1145132/82764393-b3086e80-9de4-11ea-9b2e-345bf82b7e7b.png">

[2020-05-24 21:29] MwithM commented on #577
Sorry did not see it.

[2020-05-25 12:42] sqrrm commented on #577
This is in accordance with what we have discussed. Only published a bit late, but delivered very much according to specification. I approve this.

[2020-05-26 06:55] MwithM commented on #568
I'll accept the proposal with TXID d94a08417ef0f6e7c0a31f10dee10374c811466c7bee79eb33b46009bda84b90 assuming that the difference will be substraced at compensation for next cycle.

Please remember to post the TXID after team lead review.

[2020-05-26 07:08] MwithM commented on #567
I'm rejecting proposal with TXID `38797f899c138e6ce0e1589643fef63ad4d162cd92bc7937b8693f3bfd7664f3` because of the reasons above.

[2020-05-26 14:49] m52go commented on #567
It would be good if we could have such discussions here on the thread in the future, so that thought processes and results are clear for everyone.

I left this open-ended expecting that we would get a more definitive result before voting started, but it's not clear what that result is.

From an overall growth budgeting perspective, this request is ok. But since the contests in this thread were nev

[2020-05-26 20:09] luisantoniocrag commented on #567
I understand I will be more detailed for the next cycle.

[2020-06-01 11:03] MwithM commented on #553
was:rejected

[2020-06-01 11:03] #553 closed

[2020-06-01 11:05] MwithM commented on #567
was:rejected

[2020-06-01 11:05] #567 closed

[2020-06-01 11:06] MwithM commented on #568
was:rejected

[2020-06-01 11:06] #568 closed

[2020-06-01 11:09] MwithM commented on #554
`ea298460a97f9ab06a04ab182d06e9226b68e7df57af93467b51290d383c90e4` was accepted
`c958d01674961ab4dbbd0731d5a2930b85b06779bfc4503af988e0876958e154` was rejected

Closing as accepted

[2020-06-01 11:09] #554 closed

[2020-06-01 11:10] MwithM commented on #557
was:accepted

[2020-06-01 11:10] #557 closed

[2020-06-01 11:10] MwithM commented on #562
was:accepted

[2020-06-01 11:10] #562 closed

[2020-06-01 11:10] MwithM commented on #563
was:accepted

[2020-06-01 11:10] #563 closed

[2020-06-01 11:11] MwithM commented on #556
was:accepted

[2020-06-01 11:11] #556 closed

[2020-06-01 11:11] MwithM commented on #550
was:accepted

[2020-06-01 11:11] #550 closed

[2020-06-01 11:11] MwithM commented on #560
was:accepted

[2020-06-01 11:11] #560 closed

[2020-06-01 11:12] MwithM commented on #566
was:accepted

[2020-06-01 11:12] #566 closed

[2020-06-01 11:13] MwithM commented on #569
was:accepted

[2020-06-01 11:13] #569 closed

[2020-06-01 11:13] MwithM commented on #561
was:accepted

[2020-06-01 11:13] #561 closed

[2020-06-01 11:14] MwithM commented on #570
was:accepted

[2020-06-01 11:14] #570 closed

[2020-06-01 11:14] MwithM commented on #572
was:accepted

[2020-06-01 11:14] #572 closed

[2020-06-01 11:14] MwithM commented on #565
was:accepted

[2020-06-01 11:14] #565 closed

[2020-06-01 11:15] MwithM commented on #577
was:accepted

[2020-06-01 11:15] #577 closed

[2020-06-01 11:15] MwithM commented on #559
was:accepted

[2020-06-01 11:15] #559 closed

[2020-06-01 11:15] MwithM commented on #575
was:accepted

[2020-06-01 11:15] #575 closed

[2020-06-01 11:16] MwithM commented on #552
was:accepted

[2020-06-01 11:16] #552 closed

[2020-06-01 11:16] MwithM commented on #564
was:accepted

[2020-06-01 11:16] #564 closed

[2020-06-01 11:17] MwithM commented on #576
was:accepted

[2020-06-01 11:17] #576 closed

[2020-06-01 11:17] MwithM commented on #571
was:accepted

[2020-06-01 11:17] #571 closed

[2020-06-01 11:17] MwithM commented on #549
was:accepted

[2020-06-01 11:17] #549 closed

[2020-06-01 11:18] MwithM commented on #574
was:accepted

[2020-06-01 11:18] #574 closed

[2020-06-01 11:25] MwithM opened #578 "BSQ rate for Cycle 14 is 0.63 USD per 1 BSQ"
The recommended USD/BSQ rate to be used for compensation requests on **cycle 14 is 0.63**. The 90 day weighted volume average at the beginning of the cycle has been used.

![imagen](https://user-images.githubusercontent.com/50149324/83404532-1b6dd600-a40b-11ea-806e-d79aff9bcd6b.png)

More info about the Compensation process at https://bisq.wiki/Compensation

[2020-06-01 11:25] #551 closed

[2020-06-02 17:16] devinbileck commented on #568
I rejected this proposal because of the incorrect BSQ rate as pointed out by Chris.

[2020-06-02 19:17] Bisq-knight commented on #568
My bad, I Didn't see this on time. I'll do it next cycle then

[2020-06-03 07:38] MwithM commented on #576
Hope this works: https://bisq.wiki/Events_calendar

[2020-06-04 08:58] mrosseel opened #579 "[WIP] Cycle 14"
## Summary

 - BSQ requested:

## Contributions delivered

None

## Contributions in progress

https://github.com/bisq-network/bisq/pull/4282

## Roles performed

Pricenode Operator at [bisq-network/roles#14](https://github.com/bisq-network/roles/issues/14#issuecomment-628535946) | 50
Seednode Operator at [bisq-network/roles#15](https://github.com/bisq-network/roles/issues/15#issuecomment-62853646

[2020-06-08 13:52] alexej996 opened #580 "For Cycle 14"
## Summary
This is a compensation request for work done in Cycle 13.

 - USD requested: **250**
 - BSQ requested: **396**

## Roles performed

- Forum operator: https://github.com/bisq-network/roles/issues/19#issuecomment-640617701 (100 USD)
- Reddit moderator: https://github.com/bisq-network/roles/issues/25#issuecomment-640619651 (50 USD)
- Pricenode operator: https://github.com/bisq-network/role

[2020-06-08 14:35] burningman2 opened #581 "For Cycle 14"
## Summary

- BSQ requested: 238 BSQ (150 USD / 0.63 USD = 238 BSQ)

## Roles performed

BTC donation address owner/burning man.

Buying BSQ with BTC funds from donation address and burning the BSQ.

Report May 24rd 2020: https://github.com/bisq-network/roles/issues/80#issuecomment-633283989
Requested: 50 USD

Report May 31rd 2020: https://github.com/bisq-network/roles/issues/80#issuecomment-63655

[2020-06-08 15:28] burningman2 commented on #581
Tx ID: 6698344a5f124949373a61af7aaeb4668037426b7f57a0ee4c7185b031875e82

[2020-06-08 15:33] alexej996 commented on #580
**DAO txid**: 9cf91b38abf29031b2e047154d65fcfad4ba1a63f6d6f879edf05e463d459f87

[2020-06-08 20:49] luisantoniocrag opened #582 "For Cycle 14"
## Summary

- **BSQ requested**: **`507`**
- USD requested: 320
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): #567

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Facebook Managment | growth | 150 | https://www.facebook.com/bisqES/ | I managed and shared content
|Streaming on Facebook - What is Bisq?| growth | 70

[2020-06-11 17:59] jmacxx opened #583 "For Cycle 14"
## Summary

- BSQ requested: 100 / 0.63 = `158.73 BSQ`
- USD requested: 100
- BSQ rate: 0.63 USD per BSQ as per #578

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Display "Payment Method" column in Open Offers view|dev|25|https://github.com/bisq-network/bisq/pull/4193|released v1.3.5
|Fix Trader Chat row selection and unread message count|dev|2

[2020-06-11 18:02] jmacxx commented on #557
@bisq-bot issuance

[2020-06-12 21:52] petrhejna opened #584 "For Cycle 14"
## Summary

- **BSQ requested**: **`48`**
- USD requested: 30
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): #576

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bugfix: Opening a take/create offers closes previously openned tab. | dev* | 30 | https://github.com/bisq-network/bisq/pull/4263 |  |

## Contributions in

[2020-06-13 05:37] wiz commented on #580
:+1: for ops

[2020-06-17 16:04] ghubstan opened #586 "For Cycle 14"
## Summary

- **BSQ requested**: **`1984.13`**
- USD requested: 1250
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): #550

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Migrate cli test suites to bats testing system | dev | 250 | https://github.com/bisq-network/bisq/pull/4209 | released |
| Add rpc wallet protectio

[2020-06-17 16:10] ghubstan commented on #586
@jmacxx, I don't know why my table formatting is messed up.  Any hint you can give me to get this looking like yours at [583](https://github.com/bisq-network/compensation/issues/583)?

[2020-06-17 16:11] ghubstan commented on #586
This request is ready for review.

[2020-06-17 16:50] m52go commented on #586
@ghubstan that first line in the table with the dashes is required (I know it's not obvious in the template...will submit a fix shortly).

Concretely, keep this line:
`| --- | --- | --- | --- | --- |`

And add your items below it.

Also, you don't need brackets around numbers in the summary section.

[2020-06-17 17:43] dmos62 opened #588 "For Cycle 14"
## Summary

- **BSQ requested**: **`428`**
- USD requested: 270
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/502

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bugfixes related to switch statements | dev | 50 | https://github.com/bisq-network/bisq/pull/4250 | |

[2020-06-17 18:12] leo816 commented on #581
My [team lead](https://bisq.wiki/Compensation#Team_Lead) review is complete and I approve this request. The proposal has already been submitted to the DAO.

[2020-06-17 20:52] RefundAgent opened #589 "For Cycle 14"
## Summary
This is in reality a reimbursement request, it is here because of limitations of the input control in the application. I am the refund agent and my report is here: https://github.com/bisq-network/roles/issues/93

- **BSQ requested**: **`91387.6`**
- USD requested: 57574.19
- BSQ rate: [rate] USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Ti

[2020-06-17 21:20] RefundAgent opened #590 "For Cycle 14"
## Summary

- **BSQ requested**: **`3000`**
- USD requested: 1890
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD | Link | Notes |
| Refund Agent |Support* | 1890| https://github.com/bisq-network/roles/issues/93 | --- |

## Contributions in progress

I am continuing to refund but strongly encourage the DAO to find a

[2020-06-17 21:20] m52go commented on #589
@RefundAgent thanks for using the new format!

1. Would you mind filling in the USD equivalent of your request in the table? I know it may not apply to you like it does to others but the bot requires it. You can just copy/paste the following:

[code]

2. Also could you fill in the summary section? Particularly the USD number. Also (FYI) numbers in the summary section don't need to be surrounded wi

[2020-06-17 21:28] m52go commented on #590
This one's valid :+1:

One request: I assume this request is compensation for your time and effort? If so, could you please add an asterisk to the team column? Like so:

[code]

This will help us analyze issuance for roles (as opposed to contributions delivered).

[2020-06-17 22:04] MwithM opened #591 "For Cycle 14"
## Summary

- **BSQ requested**: **`1627`**
- USD requested: 1025
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): #561

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Community manager|Growth*|425|https://github.com/bisq-network/roles/issues/95#issuecomment-645556675 | |
| Transifex admin | Growth* | 0 | https://gith

[2020-06-17 22:25] MwithM commented on #582
Tomorrow is the deadline for submitting compensation requests. Please complete this and remove the [WIP] tag.

[2020-06-17 22:25] MwithM commented on #579
Tomorrow is the deadline for submitting compensation requests. Please complete this and remove the [WIP] tag.

[2020-06-17 22:26] MwithM commented on #588
Tomorrow is the deadline to submit compensation requests. Please complete this and remove the [WIP] tag.

[2020-06-18 01:33] leo816 commented on #591
The total USD should be 1025$

[2020-06-18 01:50] leo816 opened #592 "For Cycle 14"
## Summary

- **BSQ requested**: **`2857`**
- USD requested: 1800
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): #559

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-645711365 |  |
| L1 Support Agent | Support | 500 | https://g

[2020-06-18 06:05] devinbileck opened #593 "For Cycle 14"
## Summary

- **BSQ requested**: **`952.38`**
- USD requested: 600
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): #560

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 100 | https://github.com/bisq-network/roles/issues/67#issuecomment-646031507
| Seed node operator | ops* | 200 | https

[2020-06-18 07:45] cbeams commented on #592
The table formatting is incorrect. The title row should exist just once, then a line of separators, then the individual line items.

As shown in the issue template:

[code]

The first line is the column title row; the second line is the separator row. Your individual entries should follow. Do not add empty lines in-between them.

/cc @jmacxx, @m52go

[2020-06-18 07:47] cbeams commented on #592
And when a cell is to be left empty, e.g. the "Notes" field, do not put dashes in it as you did above, e.g. `| --- |`. Just leave it empty, e.g.: `| |`.

[2020-06-18 07:49] cbeams commented on #592
Here is the reference for GitHub Flavored Markdown tables. @jmacxx, maybe we want to link to this in the issue template. https://github.github.com/gfm/#tables-extension-

[2020-06-18 07:50] MwithM commented on #592
The issue template has been [corrected](https://github.com/bisq-network/compensation/pull/587/files) to prevent this mistake.
[code]

[2020-06-18 14:39] luisantoniocrag commented on #582
ok =)

[2020-06-18 14:58] Bisq-knight opened #594 "For Cycle 14"
## Summary

- **BSQ requested**: **`3174`**
- USD requested: 2000
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediation | Support | 1000 | [Roles report Cycle 14](https://github.com/bisq-network/roles/issues/83#issuecomment-645501524) | Cycle 14 |
| Mediation | S

[2020-06-18 16:45] dmos62 commented on #588
@MwithM ready for review.

[2020-06-18 17:35] Emzy opened #595 "For Cycle 14"
## Summary

- **BSQ requested**: **`1190`**
- USD requested: 750
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): #570

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 2* Seed node operator | ops* | 200 | bisq-network/roles#15 |  |
| Pricenode operat

[2020-06-19 08:20] leo816 commented on #594
Please add your previous compensation request (I believe its 568) My team lead review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks

[2020-06-19 08:27] leo816 commented on #591
Regarding the Support side of this compensation request, my [team lead ](https://bisq.wiki/Compensation#Team_Lead)review is complete and I approve this request.
Also, You mention in the cycle report that https://bisq.wiki/User_Guide:_Bisq_DAO_for_Traders is overlapping with https://bisq.wiki/Buy_BSQ which you created, but I don't see any text in the first. Did you edit it?

[2020-06-19 09:51] MwithM commented on #591
@m52go Did remove it a 12h ago.

[2020-06-19 10:02] leo816 commented on #589
My team lead []([review](https://bisq.wiki/Compensation#Team_Lead)) is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

Note that I validated the amount of BSQ requested by adding up the values reported in bisq-network/roles#93 between the dates of May 16th.- June 12th And I validated the individual amounts

[2020-06-19 10:10] leo816 commented on #590
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-06-19 13:18] freimair opened #596 "For Cycle 14"
## Summary

- **BSQ requested**: **`397`**
- USD requested: 250
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): #549

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Arch Linux AUR Maintainer | dev* | 150 |  https://github.com/bisq-network/roles/issues/78#issuecomment-643124843 |
| Monitoring Operator/Maintainer | op

[2020-06-19 13:27] sqrrm opened #597 "For Cycle 14"
## Summary

- **BSQ requested**: **`2000`**
- USD requested: 1260
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): #564

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Message not sent | support | 15 | | User happy |
| Two payments to same address | support | 30 | | UI not clear, user ok |
| Fix comparator | dev | 15

[2020-06-19 17:05] pedromvpg opened #598 "For Cycle #14"
## Summary

- **BSQ requested**: **`3968`**
- USD requested: 2500
- BSQ rate: 0.63 USD per BSQ (at the time of the first com request)
- Previous compensation request: #554

## Contributions delivered

Second installment for Bitcoin Halving video and other materials presented here: https://github.com/bisq-network/compensation/issues/554

[2020-06-19 21:25] bounhun opened #599 "For Cycle 14"
## Summary

- **BSQ requested**: **`[750]`**
- USD requested: 472.5
- BSQ rate: 0.63 [USD per BSQ ](https://github.com/bisq-network/compensation/issues/578)
- Previous compensation request (if applicable): #558

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| ETH  bounty | Growth | 315 | https://github.com/bisq-network/growth/issues/177 | |
| LTC

[2020-06-20 06:54] cbeams commented on #573
Re-opening as resubmitted for DAO Cycle 14. As mentioned above in https://github.com/bisq-network/compensation/issues/573#issuecomment-633216850:

As this was approved in Cycle 13, I see no need for additional approval this time around. Conveniently, the USD/BSQ rate is/was 0.63 in both cycles, so there is nothing to be concerned about there.

DAO txid: `8587d242e2efa3e282d45788b1b41e3424726daed23

[2020-06-20 07:29] cbeams opened #600 "For Cycle 14"
## Summary

- **BSQ requested**: **`329.37`**
- USD requested: 207.50
- BSQ rate: [0.63](https://github.com/bisq-network/compensation/issues/578) USD per BSQ
- Previous compensation request (if applicable): #573

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Admin Team Lead | admin* | 82.50 | https://github.com/bisq-network/roles/issues/98#issu

[2020-06-20 07:29] cbeams commented on #600
@m52go and/or @ripcurlx, please review, thanks.

[2020-06-20 08:59] mrosseel opened #601 "For Cycle 14"
## Summary

- **BSQ requested**: **`476`**
- USD requested: 300
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): #543

## Contributions delivered

| Title                         | Team | USD    | Link  | Notes |
| ---                           | --- | ---     | ---   | ---   |
| pricenode doc fix                       | dev | 0       | https://github.com/bisq-network/

[2020-06-20 09:07] cbeams commented on #600
@m52go and/or @ripcurlx, please review, thanks.

[2020-06-20 09:34] cbeams commented on #592
My [team lead review](https://bisq.wiki/Compensation#Team_Lead) is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-06-20 09:37] cbeams commented on #600
@jmacxx, @m52go, note that the parser never acted on this issue. I originally created it without a [WIP] prefix, then a quickly edited the title and added it. When I was finished writing everything up, I removed it again. You can see these changes in the timeline above. Perhaps originally creating the issue without the prefix confused the parser?

[2020-06-20 09:39] cbeams commented on #591
From the Admin side, my [team lead review](https://bisq.wiki/Compensation#Team_Lead) is complete and I approve this request. @m52go, handing off to you for Growth review.

[2020-06-20 10:12] mrosseel commented on #601
tx id: 4acd9e1424927008c239f6963030734d2e32e7828b2fbb3bca705a469bec3201

[2020-06-20 14:39] ghost commented on #600
The bot was running, but events stopped being delivered some time last night.  No events made it to the bot after issue 599.  In github's event log, it shows an error and that event content cannot be displayed.  Events immediately following are for issue 573.

![image](https://user-images.githubusercontent.com/47253594/85204194-60817b80-b2d8-11ea-83bb-4bd658f340fd.png)

I'll redeliver events to th

[2020-06-20 14:47] leo816 commented on #592
33664a5a4d0b592adf370352a3e9af926263a33bbe2d551b56e9c491e5f7213b

[2020-06-20 16:41] MwithM commented on #601
Contributors should wait for team lead review before submitting compensation request to DAO.
https://bisq.wiki/Compensation#Incorporate_review_feedback_for_your_request

[2020-06-20 18:18] wiz commented on #601
@mwithm If a person's only contributions during a cycle were for ops roles which are basically pre-approved, I think it's fine to submit without waiting for ops team lead review, per ops budget https://github.com/orgs/bisq-network/teams/ops/discussions/1

[2020-06-20 19:45] wiz opened #602 "For Cycle 14"
## Summary

* **BSQ requested**: **`4682`**
* USD requested: 2950
* BSQ rate: 0.63 USD per BSQ
* Previous compensation request (if applicable): #569

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Work on Mempool Fee Estimation | ops | 500 | https://github.com/bisq-network/projects/issues/27 | |
| Work on Wiki Plugins and Spam Cleanup | ops | 20

[2020-06-20 19:45] ghost commented on #602
## Info
Parsed lineitem: {"team":"OPS","amount":500}
Parsed lineitem: {"team":"OPS","amount":200}
Parsed lineitem: {"team":"SUPPORT","amount":1000}
Parsed lineitem: {"team":"OPS","amount":100}
Parsed lineitem: {"team":"OPS","amount":100}
Parsed lineitem: {"team":"OPS","amount":0}
Parsed lineitem: {"team":"OPS","amount":400}
Parsed lineitem: {"team":"OPS","amount":100}
Parsed lineitem: {"team":"OPS

[2020-06-20 19:58] MwithM commented on #601
@wiz Placing a budget doesn't mean that tasks of that the tasks of the role have been properly done, but as team leader, if you think that ops related requests can be pre-approved, I'm ok with it.

[2020-06-20 21:38] ghost commented on #602
@wiz, :1st_place_medal:  Thanks for the interestingly formatted markdown.  Doing your part to make bisq-bot more resilient!! :smile:

[2020-06-21 07:30] mrosseel commented on #601
@MwithM badly done ops jobs can still be rejected at DAO level but I agree that it's better to intercept before DAO voting. Maybe the bot can also add a 'this request has been approved, reply with your tx id' comment.

[2020-06-21 08:22] wiz commented on #601
Believe me bro, if you're not doing a good job at running your nodes I will let you know about it way before it gets to the compensation proposal stage. I monitor the performance of all the Bisq infrastructure, and I get alerts whenever anything goes down. Just ask @m52go how I trolled him today into fixing his BSQ explorer 😉

[2020-06-21 12:03] sqrrm commented on #583
As stand in dev team lead that forgot this is part of the duty I approve this request.

Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

Also, you're not asking much. The stuff you've done is fairly simple but still not trivial. Much appreciated.

[2020-06-21 12:04] sqrrm commented on #584
As stand in dev team lead that forgot this is part of the duty I approve this request.

Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-06-21 12:07] sqrrm commented on #586
As stand in dev team lead that forgot this is part of the duty I approve this request.

Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-06-21 12:08] sqrrm commented on #588
As stand in dev team lead that forgot this is part of the duty I approve this request.

Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-06-21 12:10] sqrrm commented on #596
As stand in dev team lead that forgot this is part of the duty I approve this request.

Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-06-21 12:12] sqrrm commented on #601
No one avoids the sarcastic hammer of @wiz

[2020-06-21 14:46] Bisq-knight commented on #594
@leo816  I edited the comp request. will publish the proposal now

[2020-06-21 14:49] Emzy commented on #595
txid= c8f30f58af6abb5b46154a1de9d78d0ac2bdf4a6af77ae5241e27a7499495d03

[2020-06-21 15:09] ghubstan commented on #586
From log:  `MyProposalListService: Proposal tx has been published.`
`TxId=8f3943e483aba75aff2b83eb6ec2322f771da0c2b645a2d24e1d7a9f60a296e2`

[2020-06-21 15:27] ghost commented on #583
txId=8b9f8bc97a9cd16a4bc6bc014107bc6164dd1c4c585397db0eb78bfaec1f1088

[2020-06-21 17:19] wiz commented on #593
:+1:

[2020-06-21 17:20] wiz commented on #596
:+1:

[2020-06-21 17:21] wiz commented on #595
:+1:

[2020-06-21 19:08] ripcurlx commented on #600
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Thanks for everything @cbeams!

[2020-06-21 19:12] ripcurlx commented on #588
@sqrrm Thanks for reviewing this cycle again as you are more familiar with the PRs merged in this cycle!

Still, as stand in dev [team lead](https://bisq.wiki/Compensation#Team_Lead ) I approve this request.

[2020-06-21 19:13] ripcurlx commented on #597
@sqrrm Thanks for jumping in as the dev team lead and reviewing this cycle again as you are more familiar with the PRs merged in this cycle!

Still, as stand in dev [team lead](https://bisq.wiki/Compensation#Team_Lead ) I approve this request.

Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-06-21 19:15] ripcurlx commented on #596
I think as @freimair didn't contribute any development in this cycle only @wiz :+1: would have been necessary.

[2020-06-21 19:17] ripcurlx commented on #584
@petrhejna Could you please update your compensation request to match the new template? Doing it like that it can be automatically be parsed and used for reporting and budgeting. Thanks!

[2020-06-21 19:21] ripcurlx commented on #598
@pedromvpg There is a new template for compensation requests using a tabular format that can be parsed by bisq-bot. Would you consider switching your request to the new format. A good example is #586.
Thanks in advance!

[2020-06-21 19:23] ripcurlx commented on #602
As with the removal of the admin team lead role I approve this compensation request as one of the team admins.

[2020-06-21 20:29] ghost commented on #584
@ripcurlx The link for template says 404. Where I can find valid one?

[2020-06-21 21:30] MwithM commented on #584
Just open a new issue at compensation repository. Also, you can take it from [here](https://github.com/bisq-network/compensation/pull/585/files).
Or contact me at keybase and I'll copy/paste it.

[2020-06-21 22:39] ghost commented on #584
@ripcurlx @MwithM thx, done

[2020-06-22 02:22] ghost commented on #584
## Info
Read BSQ amount from summary: 48
Read USD amount from summary: 30
Read BSQ rate from summary: 0.63

## Errors
Unknown team specified: ---
Invalid amount specified: ---
Tableformat: request lineitem #1 did not pass validation.
Unknown team specified: first
Invalid amount specified: item
Tableformat: request lineitem #2 did not pass validation.
No compensation lineitems found.

[2020-06-22 02:22] ghost commented on #584
## Info
Read BSQ amount from summary: 48
Read USD amount from summary: 30
Read BSQ rate from summary: 0.63

## Errors
Unknown team specified: ---
Invalid amount specified: ---
Tableformat: request lineitem #1 did not pass validation.
Unknown team specified: first
Invalid amount specified: item
Tableformat: request lineitem #2 did not pass validation.
No compensation lineitems found.

[2020-06-22 02:22] ghost commented on #584
## Info
Read BSQ amount from summary: 48
Read USD amount from summary: 30
Read BSQ rate from summary: 0.63

## Errors
Unknown team specified: first
Invalid amount specified: item
Tableformat: request lineitem #2 did not pass validation.
No compensation lineitems found.

[2020-06-22 02:39] wiz commented on #602
7c2bde400f2bfb056d443c18d81a8aadac99a5e70e9e962bfd56a71ed3068d8f

[2020-06-22 03:16] m52go commented on #599
Although the bounty conditions were not precisely met, I think the amount requested is reasonable for the results and consistent effort. This is my opinion, and I think voters should have the opportunity to form their own opinions.

Going forward, we will better define how/if partial bounties may be claimed to avoid this kind of situation in the future.

[Approved](https://bisq.wiki/Compensation#R

[2020-06-22 03:16] m52go commented on #598
Yes would be great (but not necessary) if you could switch your request to the new format. It's already the default for new issues in this repository, and will probably be mandatory in the next cycle.

[Approved](https://bisq.wiki/Compensation#Review_team_member_requests) for voting. Please post your transaction ID here when possible.

[2020-06-22 03:16] m52go commented on #582
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests) for voting. Please post your transaction ID here when possible.

[2020-06-22 03:16] m52go commented on #591
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests) for voting. Please post your transaction ID here when possible.

[2020-06-22 03:16] m52go commented on #580
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests) for voting. Please post your transaction ID here when possible.

[2020-06-22 05:49] Bisq-knight commented on #594
tx id:
`0bc6a3f79d183e552322396eeb3e0a0c763d550b48af8737a7012ddd28d97090`

[2020-06-22 07:46] MwithM commented on #584
Don't forget ot post the TXID of your DAO proposal.

[2020-06-22 07:51] MwithM commented on #591
TXID: `a6edd58f043793e42ae2bbb56998a702b21441a838a4af0249d223fc16d1b379`

[2020-06-22 07:58] cbeams commented on #600
txid: `d97eb5f6a3a9bfcf615c487a472de0524e23340c3c3374ee5561387ef42759d3`

[2020-06-22 08:42] bounhun commented on #599
`fff5950a394c211a49a0b38d9cc574e8b7de33825c9fa24bf5235a68d432050a`

[2020-06-22 10:34] leo816 commented on #602
From the Support side, My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request.

[2020-06-22 14:19] devinbileck commented on #593
Tx ID f8e040deab6be3a35704a5eff1247ce644b6f867495c7f7a82522804586725a8

[2020-06-22 17:46] ghost commented on #584
transaction Id: `fcad15e0cb0cc6899a283fce549d6e8342e35ba0df15cd8590dd07e2d431fe56`

[2020-06-22 18:14] Bayernatoor opened #603 "For Cycle 14"
## Summary

- **BSQ requested**: **`793.65`**
- USD requested: 500
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): #566

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Support agent | Support* | 500 | https://github.com/bisq-network/roles/issues/64#issuecomment-647685538

## Contributions in progress

N/A

[2020-06-22 18:18] leo816 commented on #603
Please make sure to make the compensation request earlier next cycle. My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-06-22 18:19] m52go opened #604 "For Cycle 14"
## Summary

- **BSQ requested**: **`6785`**
- USD requested: 4275
- BSQ rate: [0.63](https://github.com/bisq-network/compensation/issues/578) USD per BSQ
- Previous compensation request (if applicable): #572

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Prepare wiki for public rollout | support | 2500 | https://github.com/bisq-network/projects

[2020-06-22 18:22] Bayernatoor commented on #603
TxID: 09332aa95b7520f0d762d2a34becc21ef221bae3fc387afa302bddd746beeea1

[2020-06-22 19:42] cbeams commented on #604
Thanks, @MwithM, but with my departure, team lead compensation requests should be reviewed by one or more other team leads. I'm not sure exactly how this should be done, i.e. who should be chosen to review whose requests, but one simple way is for the team lead to simply request that another specific team lead do the review. Maybe it would be good to agree amongst the six team leads on a "buddy sy

[2020-06-22 20:49] m52go commented on #604
@wiz @ripcurlx could I have a team-lead review please?

[2020-06-23 03:18] wiz commented on #604
:+1:
great job on the wiki

[2020-06-23 10:55] sqrrm commented on #597
Proposal request tx id: [e0274d40442aa85f25db9fd02be607a21ca03d41708200fd0e0c31b4b04c39aa](https://bsq.sqrrm.net/tx.html?tx=e0274d40442aa85f25db9fd02be607a21ca03d41708200fd0e0c31b4b04c39aa)

[2020-06-23 14:00] lyyva opened #605 "For Cycle 14"
## Summary

- **BSQ requested**: **`285`**
- USD requested:180
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): #278

## Contributions delivered
![dao testing results](https://user-images.githubusercontent.com/49204861/85413072-3e029300-b562-11ea-8d0b-7565210ada82.png)

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DAO Testing | dev | 180 |  |

[2020-06-23 14:02] lyyva commented on #605
Due to family reasons i was unable to submit this compensation request in due time. This was originally supposed to be for cycle 7.
Looking forward to getting more involved again!

[2020-06-23 14:57] MwithM commented on #605
[Compensation requests](https://bisq.wiki/Compensation) should be sent before 19th june, one week before end of proposal phase, to give time to team leads to review them. Also, compensation request title should be the current cycle, not the one your asking compensation for. So, this compensation request should be titled `For Cycle 14`.
There's no such thing as "testing" team, I guess your request

[2020-06-23 15:37] MwithM commented on #598
Hey @pedromvpg don't forget to submit your proposal to the DAO and comment here the TXID.

[2020-06-23 15:38] MwithM commented on #582
Hey @luisantoniocrag don't forget to submit your compensation to the DAO and comment here the TXID.

[2020-06-23 15:39] MwithM commented on #595
Hey @Emzy don't forget to submit your compensation request to the DAO and comment here the TXID.

[2020-06-23 15:39] MwithM commented on #588
Hey @dmos62 don't forget to submit your compensation to the DAO and comment here the TXID.

[2020-06-23 15:40] MwithM commented on #596
Hey @freimair don't forget to submit your compensation to the DAO and comment here the TXID.

[2020-06-23 15:41] MwithM commented on #589
Hey @RefundAgent don't forget to submit your compensation to the DAO and comment here the TXID.

[2020-06-23 16:08] robkaandorp opened #606 "For Cycle 14"
## Summary

- **BSQ requested**: **`79.37`**
- USD requested: 50
- BSQ rate: 0.63 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/563

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BTC Node operator | ops* | 50 | https://github.com/bisq-network/proposals/issues/189 | |

## Contrib

[2020-06-23 16:40] wiz commented on #606
:+1:

[2020-06-23 16:42] leo816 commented on #597
From the Support side, My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request.

[2020-06-23 18:20] luisantoniocrag commented on #582
Hey! @MwithM Thanks!
5b6e6c2eba06d3a2239e5bc1c93561df26e96cdf44ab74fed60049deeccf8a49

[2020-06-23 18:27] freimair commented on #596
damn. again. :)

8e60adc72c16d1ab62dbea9309939c97ac6e082c3944594f1b94fb1d69944cbf

[2020-06-23 19:17] robkaandorp commented on #606
DAO txid: 3b42cbb698c436df8c7c60a446a280279794da06423cdd95ad495a6b3894563a

[2020-06-23 19:24] ghost commented on #605
## Info
Read BSQ amount from summary: 285
Read USD amount from summary: 180
Read BSQ rate from summary: 0.63

## Errors
Unknown team specified: testing
Tableformat: request lineitem #1 did not pass validation.
No compensation lineitems found.

[2020-06-23 20:47] m52go commented on #604
`4efa257ded8036a86dff32dabd08900f471343b795cfe8a23ba263d55a9bcced`

[2020-06-24 07:52] MwithM commented on #580
Please remember to submit the proposal to the DAO and comment here the TXID.

[2020-06-24 07:52] MwithM commented on #590
Please remember to submit the proposal to the DAO and comment here the TXID.

[2020-06-24 16:21] dmos62 commented on #588
TXID: 3f915a2d308ce1d5a94ef809513f7a9e4bc3264834efcac309f19936c8771425

@MwithM thanks for the reminder.

[2020-06-25 07:35] MwithM commented on #579
Closed as not submitted.

[2020-06-25 10:40] lyyva commented on #605
@MwithM fine with me of course. Seems like a lot has changed since i´ve been here last! Very impressed with the organized workflow, and my apologies, i didn´t realize there was now a deadline where everything had to be submitted (even though i could have found that out of course!)
Fixed everything else you pointed out.

[2020-06-29 11:38] RefundAgent commented on #590
TxID: 58293********afb

[2020-06-29 11:40] RefundAgent commented on #589
TxID:   89798b************cc5a

[2020-07-02 12:02] MwithM commented on #605
Closed as: rejected

[2020-07-02 12:02] #605 closed, assigned to nobody

[2020-07-02 12:02] MwithM commented on #599
Closed as: rejected

[2020-07-02 12:02] #599 closed

[2020-07-02 12:04] ghost commented on #580
Issuance cannot be displayed as there were errors in the comp request

[2020-07-02 12:04] MwithM commented on #580
closed as: accepted

[2020-07-02 12:04] #580 closed

[2020-07-02 12:05] ghost commented on #598
Issuance cannot be displayed as there were errors in the comp request

[2020-07-02 12:05] MwithM commented on #598
closed as: accepted

[2020-07-02 12:05] #598 closed

[2020-07-02 12:06] ghost commented on #595
## Issuance by Team:
|team|amount|
|---|---|
|OPS|1190.00 BSQ|

Total Issuance: 1190.00 BSQ (equivalent to: 750.00 USD)

[2020-07-02 12:06] MwithM commented on #595
closed as: accepted

[2020-07-02 12:06] #595 closed

[2020-07-02 12:08] ghost commented on #588
Issuance cannot be displayed as there were errors in the comp request

[2020-07-02 12:11] MwithM commented on #588
Closed as: accepted

[2020-07-02 12:11] #588 closed

[2020-07-02 12:11] ghost commented on #589
## Issuance by Team:
|team|amount|
|---|---|
|SUPPORT|91387.60 BSQ|

Total Issuance: 91387.60 BSQ (equivalent to: 57574.19 USD)

[2020-07-02 12:11] MwithM commented on #589
Closed as: accepted

[2020-07-02 12:11] #589 closed

[2020-07-02 12:12] ghost commented on #590
## Issuance by Team:
|team|amount|
|---|---|
|SUPPORT|3000.00 BSQ|

Total Issuance: 3000.00 BSQ (equivalent to: 1890.00 USD)

[2020-07-02 12:12] MwithM commented on #590
Closed as: accepted

[2020-07-02 12:12] #590 closed

[2020-07-02 12:13] ghost commented on #573
Issuance cannot be displayed as there were errors in the comp request

[2020-07-02 12:13] MwithM commented on #573
Closed as: accepted

[2020-07-02 12:13] #573 closed

[2020-07-02 12:16] ghost commented on #592
## Issuance by Team:
|team|amount|
|---|---|
|SUPPORT|2857.00 BSQ|

Total Issuance: 2857.00 BSQ (equivalent to: 1800.00 USD)

[2020-07-02 12:17] MwithM commented on #592
Closed as: accepted

[2020-07-02 12:17] #592 closed

[2020-07-02 12:17] ghost commented on #594
## Issuance by Team:
|team|amount|
|---|---|
|SUPPORT|3174.00 BSQ|

Total Issuance: 3174.00 BSQ (equivalent to: 2000.00 USD)

[2020-07-02 12:17] MwithM commented on #594
Closed as: accepted

[2020-07-02 12:17] #594 closed

[2020-07-02 12:18] ghost commented on #602
## Issuance by Team:
|team|amount|
|---|---|
|OPS|3094.88 BSQ|
|SUPPORT|1587.12 BSQ|

Total Issuance: 4682.00 BSQ (equivalent to: 2950.00 USD)

[2020-07-02 12:18] MwithM commented on #602
Closed as: accepted

[2020-07-02 12:18] #602 closed, assigned to nobody

[2020-07-02 12:19] ghost commented on #601
## Issuance by Team:
|team|amount|
|---|---|
|OPS|476.00 BSQ|

Total Issuance: 476.00 BSQ (equivalent to: 300.00 USD)

[2020-07-02 12:19] MwithM commented on #601
Closed as: accepted

[2020-07-02 12:19] #601 closed

[2020-07-02 12:20] ghost commented on #583
## Issuance by Team:
|team|amount|
|---|---|
|DEV|158.73 BSQ|

Total Issuance: 158.73 BSQ (equivalent to: 100.00 USD)

[2020-07-02 12:20] MwithM commented on #583
Closed as: accepted

[2020-07-02 12:20] #583 closed

[2020-07-02 12:20] ghost commented on #586
## Issuance by Team:
|team|amount|
|---|---|
|DEV|1984.13 BSQ|

Total Issuance: 1984.13 BSQ (equivalent to: 1250.00 USD)

[2020-07-02 12:20] MwithM commented on #586
Closed as: accepted

[2020-07-02 12:20] #586 closed

[2020-07-02 12:20] ghost commented on #600
## Issuance by Team:
|team|amount|
|---|---|
|ADMIN|329.37 BSQ|

Total Issuance: 329.37 BSQ (equivalent to: 207.50 USD)

[2020-07-02 12:21] MwithM commented on #600
Closed as: accepted

[2020-07-02 12:21] #600 closed

[2020-07-02 12:21] ghost commented on #603
## Issuance by Team:
|team|amount|
|---|---|
|SUPPORT|793.65 BSQ|

Total Issuance: 793.65 BSQ (equivalent to: 500.00 USD)

[2020-07-02 12:21] MwithM commented on #603
Closed as: accepted

[2020-07-02 12:21] #603 closed, assigned to leo816

[2020-07-02 12:22] ghost commented on #593
## Issuance by Team:
|team|amount|
|---|---|
|OPS|952.38 BSQ|

Total Issuance: 952.38 BSQ (equivalent to: 600.00 USD)

[2020-07-02 12:22] MwithM commented on #593
Closed as: accepted

[2020-07-02 12:22] #593 closed

[2020-07-02 12:22] ghost commented on #584
## Issuance by Team:
|team|amount|
|---|---|
|DEV|48.00 BSQ|

Total Issuance: 48.00 BSQ (equivalent to: 30.00 USD)

[2020-07-02 12:23] MwithM commented on #584
Closed as: accepted

[2020-07-02 12:23] #584 closed

[2020-07-02 12:23] ghost commented on #597
## Issuance by Team:
|team|amount|
|---|---|
|SUPPORT|71.43 BSQ|
|DEV|1484.13 BSQ|
|OPS|444.44 BSQ|

Total Issuance: 2000.00 BSQ (equivalent to: 1260.00 USD)

[2020-07-02 12:23] MwithM commented on #597
Closed as: accepted

[2020-07-02 12:23] #597 closed

[2020-07-02 12:23] ghost commented on #606
## Issuance by Team:
|team|amount|
|---|---|
|OPS|79.37 BSQ|

Total Issuance: 79.37 BSQ (equivalent to: 50.00 USD)

[2020-07-02 12:23] MwithM commented on #606
Closed as: accepted

[2020-07-02 12:23] #606 closed, assigned to nobody

[2020-07-02 12:24] ghost commented on #581
Issuance cannot be displayed as there were errors in the comp request

[2020-07-02 12:25] MwithM commented on #581
Closed as: accepted

[2020-07-02 12:25] #581 closed

[2020-07-02 12:25] ghost commented on #591
## Issuance by Team:
|team|amount|
|---|---|
|GROWTH|674.61 BSQ|
|SUPPORT|793.66 BSQ|
|ADMIN|158.73 BSQ|

Total Issuance: 1627.00 BSQ (equivalent to: 1025.00 USD)

[2020-07-02 12:25] MwithM commented on #591
Closed as: accepted

[2020-07-02 12:25] #591 closed

[2020-07-02 12:26] ghost commented on #596
## Issuance by Team:
|team|amount|
|---|---|
|DEV|238.20 BSQ|
|OPS|158.80 BSQ|

Total Issuance: 397.00 BSQ (equivalent to: 250.00 USD)

[2020-07-02 12:26] MwithM commented on #596
Closed as: accepted

[2020-07-02 12:26] #596 closed

[2020-07-02 12:26] ghost commented on #604
## Issuance by Team:
|team|amount|
|---|---|
|SUPPORT|4007.51 BSQ|
|GROWTH|2539.42 BSQ|
|OPS|238.07 BSQ|

Total Issuance: 6785.00 BSQ (equivalent to: 4275.00 USD)

[2020-07-02 12:26] MwithM commented on #604
Closed as: accepted

[2020-07-02 12:26] #604 closed, assigned to nobody

[2020-07-02 12:28] ghost commented on #578
Issuance cannot be displayed as there were errors in the comp request

[2020-07-02 12:28] MwithM commented on #578
Closed as: accepted

[2020-07-02 12:28] #578 closed

[2020-07-02 12:28] ghost commented on #582
## Issuance by Team:
|team|amount|
|---|---|
|GROWTH|507.00 BSQ|

Total Issuance: 507.00 BSQ (equivalent to: 320.00 USD)

[2020-07-02 12:28] MwithM commented on #582
Closed as: accepted

[2020-07-02 12:28] #582 closed

[2020-07-02 12:42] ghost commented on #588
## Issuance by Team:
|team|amount|
|---|---|
|DEV|428.00 BSQ|

Total Issuance: 428.00 BSQ (equivalent to: 270.00 USD)

[2020-07-02 12:45] MwithM opened #607 "BSQ rate for Cycle 15 is 0.65 USD per 1 BSQ"
The recommended USD/BSQ rate to be used for compensation requests on cycle 15 is 0.65. The 90 day weighted volume average at the beginning of the cycle has been used.

![imagen](https://user-images.githubusercontent.com/50149324/86360434-a80ded00-bc72-11ea-98d3-ca7042d06d40.png)

More info about the Compensation process at https://bisq.wiki/Compensation

[2020-07-12 03:38] ghost opened #608 "For Cycle 15"
## Summary

- **BSQ requested**: **`307.69`**
- USD requested: 200
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/583

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Warn when restoring wallet seedwords without date | dev | 50 | https://github.com/bisq-network/b

[2020-07-13 12:58] alexej996 opened #609 "For Cycle 15"
## Summary
This is a compensation request for work done in Cycle 14.

- **BSQ requested** : **384**
- USD requested: **250**
- BSQ rate: **0.65** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/580

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bis

[2020-07-13 12:58] ghost commented on #609
## Info
Read USD amount from summary: 250
Read BSQ amount from summary: 384

## Errors
No compensation lineitems found.

[2020-07-13 13:12] ghost commented on #609
## Info
Read BSQ amount from summary: 384
Read USD amount from summary: 250
Read BSQ rate from summary: 0.65

## Errors
No compensation lineitems found.

[2020-07-13 13:12] ghost commented on #609
## Info
Read BSQ amount from summary: 384
Read USD amount from summary: 250
Read BSQ rate from summary: 0.65

## Errors
No compensation lineitems found.

[2020-07-13 16:18] alexej996 commented on #609
**DAO txid** : 0e7a9aeff6c22787023245b6f4ecb926c1930e91d2ba40dc859b19e96a7e21b3

[2020-07-16 05:54] doitsu232 opened #610 "For Cycle 15"
## Summary

- **BSQ requested**: **59.55**
- USD requested: 38.71
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): -

## Contributions delivered
| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DE Translation for Bisq Desktop | growth | 38.71 | see screenshot | 14th May ~ 16th July 2020

![Screenshot_2020-07-16 #bisq-desktop Transifex Editor](htt

[2020-07-16 05:54] ghost commented on #610
## Info
Read BSQ amount from summary: 59.55
Read USD amount from summary: 38.71
Read BSQ rate from summary: 0.65

## Errors
Unknown team specified: transifex
Tableformat: request lineitem #1 did not pass validation.
No compensation lineitems found.

[2020-07-16 05:55] ghost commented on #610
## Info
Read BSQ amount from summary: 59.55
Read USD amount from summary: 38.71
Read BSQ rate from summary: 0.65

## Errors
Unknown team specified: transifex
Tableformat: request lineitem #1 did not pass validation.
No compensation lineitems found.

[2020-07-16 12:27] freimair opened #611 "For Cycle 15"
## Summary

- **BSQ requested**: **`2077`**
- USD requested: 1350
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): #596

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Arch Linux AUR Maintainer | dev* | 50 |   https://github.com/bisq-network/roles/issues/78#issuecomment-659372484 |
| Monitoring Operator/Maintainer |

[2020-07-18 11:59] cbeams opened #612 "For Cycle 15"
## Summary

- **BSQ requested**: **`153.85`**
- USD requested: 100
- BSQ rate: [0.65](https://github.com/bisq-network/compensation/issues/607) USD per BSQ
- Previous compensation request (if applicable): #600

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Domain Name Owner | admin* | 25 | https://github.com/bisq-network/roles/issues/77#issuecom

[2020-07-19 12:27] RefundAgent commented on #589
TXID: 89798b***************cc5a

[2020-07-19 12:32] RefundAgent opened #613 "For Cycle 15"
## Summary
This is a reimbursement request disguised as a compensation request. I request to be reimbursed for my payouts.

- **BSQ requested**: **`46142.7`**
- USD requested: 29992.8
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered
I have contributed as the Refund Agent

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | ---

[2020-07-19 12:32] ghost commented on #613
## Info
Read BSQ amount from summary: 46142.7
Parsed lineitem: {"team":"SUPPORT","amount":0}

## Errors
USD amount not specified in summary section
Invalid amount specified: item
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 46142.70 BSQ
   - Calculated total: 0.00 BSQ

[2020-07-19 12:36] ghost commented on #613
## Info
Read BSQ amount from summary: 46142.7
Read USD amount from summary: 29992.8
Parsed lineitem: {"team":"SUPPORT","amount":0}

## Errors
Invalid amount specified: item
ERROR: Total USD does not match the sum of line items:
   - Summary total: 29992.80 USD
   - Calculated total: 0.00 USD

[2020-07-19 12:36] ghost commented on #613
## Info
Read BSQ amount from summary: 46142.7
Read USD amount from summary: 29992.8
Read BSQ rate from summary: 0.65
Parsed lineitem: {"team":"SUPPORT","amount":0}

## Errors
Invalid amount specified: item
ERROR: Total USD does not match the sum of line items:
   - Summary total: 29992.80 USD
   - Calculated total: 0.00 USD

[2020-07-19 13:08] RefundAgent opened #614 "For Cycle 15"
## Summary
Refund Agent compensation

19 cases handled, 50 USD each. $950 or 1461.54 BSQ.
2.8 BTC has been paid out giving an interest of 0.028 BTC = $255.8 = 393.538 BSQ

In total $1205.8 or 1855 BSQ.

- **BSQ requested**: **`[BSQ 1855]`**
- USD requested: [1205.8]
- BSQ rate: [0.65] USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD |

[2020-07-19 13:52] mrosseel opened #615 "For Cycle 15"
## Summary

- **BSQ requested**: **`461`**
- USD requested: 300
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): #601

## Contributions delivered

| Title                         | Team | USD    | Link  | Notes |
| ---                           | --- | ---     | ---   | ---   |
| pricenode Operator            | ops* | 50      | [bisq-network/roles#14](https://github.co

[2020-07-19 13:56] ghost commented on #586
## Info
Read BSQ amount from summary: 1984.13
Read USD amount from summary: 1250
Read BSQ rate from summary: 0.63
Parsed lineitem: {"team":"DEV","amount":250}
Parsed lineitem: {"team":"DEV","amount":1000}

## Errors
Incorrect BSQ rate specified: 0.63, expected: 0.65
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 1984.13 BSQ
   - Calculated total: 1923.08 BSQ

[2020-07-19 18:07] dmos62 opened #616 "For Cycle 15"
## Summary

- **BSQ requested**: **`1446`**
- USD requested: 940
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/588

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Reduce initial request size PR review  | dev | 220 | https://github.com/bisq-network/bisq/pull/4233

[2020-07-19 18:20] Emzy opened #617 "For Cycle 15"
## Summary

- **BSQ requested**: **`1538`**
- USD requested: 1000
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): #595

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 3* Seed node operator | ops* | 300 | bisq-network/roles#15 |  |
| Pricenode opera

[2020-07-19 18:32] Bayernatoor opened #618 "For Cycle 15"
## Summary

- **BSQ requested**: **`769.23`**
- USD requested: 500
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): #603

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Support agent | Support* | 500 | https://github.com/bisq-network/roles/issues/64#issuecomment-660687788

## Contributions in progress

[2020-07-19 19:04] wiz commented on #617
:+1:

[2020-07-19 20:37] MwithM opened #619 "For Cycle 15"
## Summary

- **BSQ requested**: **`1658.46`**
- USD requested: 1078
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): #591

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community manager | Growth* | 425 | https://github.com/bisq-network/roles/issues/95#issuecomment-660702977 |  |
| Transifex admin | Growth* | 25 |

[2020-07-19 21:03] ghubstan opened #620 "For Cycle 15"
## Summary

- **BSQ requested**: **`9230.77`**
- USD requested: 6000
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): #586

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Rename `CoreWalletService` -> `CoreWalletsService` | dev | 50 | https://github.com/bisq-network/bisq/pull/4295 | released |
| Add wallets protectio

[2020-07-19 21:11] ghubstan commented on #586
Looks like there is a bot bug because [the rate was 0.63 in Cycle 14, not 0.65
](https://github.com/bisq-network/compensation/issues/578)

[2020-07-19 21:11] ghubstan commented on #620
This request is ready for review.

[2020-07-20 06:06] devinbileck opened #621 "For Cycle 15"
## Summary

- **BSQ requested**: **`1076.92`**
- USD requested: 700
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): #593

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 100 | https://github.com/bisq-network/roles/issues/67#issuecomment-661215560 | 2 nodes
| Seed node operator | ops* |

[2020-07-20 08:02] robkaandorp opened #622 "For Cycle 15"
## Summary

- **BSQ requested**: **`76.92`**
- USD requested: 50
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/606

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BTC Node operator | ops* | 50 | https://github.com/bisq-network/proposals/issues/189 | |

## Contrib

[2020-07-20 09:36] sqrrm opened #623 "For Cycle 15"
## Summary

- **BSQ requested**: **`8338`**
- USD requested: 5420
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): #597

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Release preparations | dev | 50 | | v1.3.6 |
| Fix use all BSQ for fee bug | dev | 550 | https://github.com/bisq-network/bisq/pull/4354 | |
| Suggest

[2020-07-20 09:36] ghost commented on #623
## Info
Parsed lineitem: {"team":"DEV","amount":50}
Parsed lineitem: {"team":"DEV","amount":550}
Parsed lineitem: {"team":"DEV","amount":800}
Parsed lineitem: {"team":"DEV","amount":250}
Parsed lineitem: {"team":"DEV","amount":340}
Parsed lineitem: {"team":"DEV","amount":630}
Parsed lineitem: {"team":"DEV","amount":2000}
Parsed lineitem: {"team":"DEV","amount":440}
Parsed lineitem: {"team":"DEV","

[2020-07-20 09:45] ripcurlx opened #624 "For Cycle 15"
## Summary

This is a compound compensation request for Cycle 13,14 and 15 (since April '20). I only had limit resources during that time because of personal reasons 👶 .

- **BSQ requested**: **`6892`**
- USD requested: 4480
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): #542

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- |

[2020-07-20 10:02] robkaandorp commented on #622
DAO txid: 89b8c93fc08890f35f07699c66a58eaebc730065bc587bcefa2f9ec886279eb3

[2020-07-20 10:53] softsimon opened #625 "For Cycle 15"
## Summary

* **BSQ requested**: **`6769`**
* USD requested: 4400
* BSQ rate: 0.65 USD per BSQ
* Previous compensation request (if applicable): first-time contributor

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Work on Bisq Explorer | ops | 4400 | https://github.com/bisq-network/projects/issues/37 | https://mempool.space/bisq |

## Code Ship

[2020-07-20 11:10] wiz commented on #621
:+1:

[2020-07-20 11:10] wiz commented on #625
:+1:

[2020-07-20 11:12] wiz commented on #615
:+1:

[2020-07-20 11:13] wiz commented on #609
:+1:

[2020-07-20 13:03] bounhun opened #626 "For Cycle 15"
## Summary

- **BSQ requested**: **`750`**
- USD requested: 487.5
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): #599

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| ETH bounty | Growth | 325 | https://github.com/bisq-network/growth/issues/177#issuecomment-661022501 |  |
|LTC bounty|Growth|162.5| https://github.com

[2020-07-20 13:03] ghost commented on #626
## Info
Parsed lineitem: {"team":"GROWTH","amount":315}
Parsed lineitem: {"team":"GROWTH","amount":157.5}

## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section

[2020-07-20 13:04] ghost commented on #626
## Info
Read BSQ amount from summary: 472.5
Read USD amount from summary: 750
Read BSQ rate from summary: 0.63
Parsed lineitem: {"team":"GROWTH","amount":315}
Parsed lineitem: {"team":"GROWTH","amount":157.5}

## Errors
Incorrect BSQ rate specified: 0.63, expected: 0.65
ERROR: Total USD does not match the sum of line items:
   - Summary total: 750.00 USD
   - Calculated total: 472.50 USD

ERROR: T

[2020-07-20 13:08] ghost commented on #626
## Info
Read BSQ amount from summary: 487.5
Read USD amount from summary: 750
Read BSQ rate from summary: 0.65
Parsed lineitem: {"team":"GROWTH","amount":325}
Parsed lineitem: {"team":"GROWTH","amount":162.5}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 750.00 USD
   - Calculated total: 487.50 USD

ERROR: Total BSQ does not match the sum of line items:
   -

[2020-07-20 13:48] elkimek opened #627 "For Cycle 15"
## Summary

- **BSQ requested**: **`76.92`**
- USD requested: 50
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Publish blog post about Bisq on Alza blog | Growth | 50 | https://www.alzashop.com/p2p-exchange-bisq-how-to-buy-and-sell-bitcoin-guide | EN version |
| Pu

[2020-07-20 13:59] m52go commented on #627
This request is for the [new 'hat-tip' bounty](https://github.com/bisq-network/growth/issues/195). I confirm that I nominated @elkimek to claim it.

A full explanation of the hat-tip bounty is at the link above, but in short: the article on the Alza blog went above and beyond. It's extensive, covering many aspects of what Bisq is, how it works, and even covers the Bisq DAO. As a bonus, it's hosted

[2020-07-20 15:32] leo816 opened #628 "For Cycle 15"
## Summary

- **BSQ requested**: **`4340`**
- USD requested: 2821
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): #592

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-661888700 |  |
| L1 Support Agent | Support | 500 |https://gi

[2020-07-20 17:31] devinbileck commented on #621
Tx ID a6091c85dc3d86a6b4238ace30fe462ffa12d47cd100538122a7878733bd1b40

[2020-07-20 21:06] MwithM commented on #627
Just a reminder: now that the request is approved by team leader, @elkimek should make the DAO request and publish here the TXID.
https://bisq.wiki/Compensation#Submit_your_request_as_a_DAO_proposal

[2020-07-20 21:38] burningman3 opened #629 "For Cycle 15"
## Summary

- **BSQ requested**: **`[1000]`**
- USD requested: [650]
- BSQ rate: [0.65] USD per BSQ
- Previous compensation request (if applicable): #

I ask for 1000 BSQ per month for performing this role.

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation address | support | 650 | https://github.c

[2020-07-20 21:38] ghost commented on #629
## Info
Read BSQ amount from summary: 1000
Read USD amount from summary: 650
Read BSQ rate from summary: 0.65
Parsed lineitem: {"team":"ADMIN","amount":0}
Parsed lineitem: {"team":"ADMIN","amount":0}

## Errors
Invalid amount specified: -
Invalid amount specified: -
ERROR: Total USD does not match the sum of line items:
   - Summary total: 650.00 USD
   - Calculated total: 0.00 USD

[2020-07-20 21:39] ghost commented on #629
## Info
Read BSQ amount from summary: 1000
Read USD amount from summary: 650
Read BSQ rate from summary: 0.65
Parsed lineitem: {"team":"ADMIN","amount":650}
Parsed lineitem: {"team":"ADMIN","amount":0}

## Errors
Invalid amount specified: -

[2020-07-21 03:14] m52go commented on #619
Growth items look good to me :+1:

[2020-07-21 03:16] m52go commented on #610
If this looks good to @MwithM then it looks good to me.

[2020-07-21 07:32] cbeams commented on #612
@m52go, could you review this? Would you be willing to review my requests on each cycle going forward, just so it's obvious to @MwithM who should be assigned? Thanks.

[2020-07-21 09:02] elkimek commented on #627
@MwithM thanks I was waiting for the BSQ confirmation because I didn't have any.

txid: 31fa275290f26713dba101543ae32936d378f185e0013f12b97c5ffdad838020

[2020-07-21 10:25] MwithM commented on #610
Approved, go ahead and publish the TXID of the DAO request.

[2020-07-21 10:30] MwithM commented on #624
Who should review the dev related compensation requests?

[2020-07-21 10:45] wiz commented on #624
:+1: for ops, will add GitHub Admin into ops team budget going forward (now that admin team was disbanded)

[2020-07-21 10:59] sqrrm commented on #624
@MwithM I will review ripcurlx's CR's, and perhaps some chosen other ones.

Approved for dev.

[2020-07-22 07:42] ripcurlx commented on #623
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. ~Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.~ I forgot that @wiz has to :+1: as well for the ops related items.

[2020-07-22 07:43] ripcurlx commented on #616
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-07-22 07:44] ripcurlx commented on #608
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-07-22 07:46] ripcurlx commented on #620
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-07-22 07:49] ripcurlx commented on #611
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-07-22 07:53] ripcurlx commented on #612
:+1: from my side.

[2020-07-22 07:59] ripcurlx commented on #614
@RefundAgent Do you see a decrease in refund agent cases already since v1.3.6. was shipped? Might have a delay because of the delayed payout tx.

[2020-07-22 08:03] ripcurlx commented on #624
TX ID: [b0d511074ab150715e95df2f46bb97489e4ce18dd25c3d32276267f1b8fed090](https://bsq.sqrrm.net/tx.html?tx=b0d511074ab150715e95df2f46bb97489e4ce18dd25c3d32276267f1b8fed090)

[2020-07-22 10:14] freimair commented on #611
6742e2fa4b0cdb34b2a925f31eb9f27a6e5f5a5af342e1da1c70542e1ad10cdd

[2020-07-22 10:34] ghost commented on #628
## Info
Read USD amount from summary: 2821
Parsed lineitem: {"team":"SUPPORT","amount":1000}
Parsed lineitem: {"team":"SUPPORT","amount":500}
Parsed lineitem: {"team":"SUPPORT","amount":1321}
Parsed lineitem: {"team":"SUPPORT","amount":0}

## Errors
BSQ amount not specified in summary section

[2020-07-22 10:37] sqrrm commented on #614
Should be a 20 day delay to see any impact of the recommended deposit.

[2020-07-22 10:43] Bisq-knight opened #630 "For Cycle 15"
## Summary

- **BSQ requested**: **`1538`**
- USD requested: 1000
- BSQ rate: 0.65 USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediation | Support | 1000 | [Roles report Cycle 15](https://github.com/bisq-network/roles/issues/83#issuecomment-662379877) | Cycle 15 |

## Contributio

[2020-07-22 10:45] Emzy commented on #617
tx-id: 3292c04529104da8b0523417f364be2124bfd42b4968b802bfa7702cb8998612

[2020-07-22 12:30] ghost commented on #608
txid: ab7e02235d6ae16c29a61d47b9091e1465a5ebbe3f342804aafa2e020207458f

[2020-07-22 12:47] ghubstan commented on #620
Proposal tx has been published. TxId  =  `442640e0e915b472473941485e2051d65e4a20c1af4531abec126f7d67e66311`

[2020-07-22 15:10] m52go commented on #629
@burningman3 two small requests:

1. Would you mind changing role team to "support"? Would help for budgeting.
2. It would be helpful to have more descriptive contribution titles, maybe something like "burningman trading sessions" or "buy and burn bsq from donation address btc" or something (up to you). This will help with reporting, when it's implemented.

[2020-07-22 21:07] wiz commented on #623
👍

[2020-07-22 21:28] burningman3 commented on #629
Tx ID: cca48dfef4e4d5739105d7fe8d274ae5d8c2299b636261874a37248227463577

[2020-07-23 05:34] cbeams commented on #612
Proposal txid: `af634c1be7aad740a62d772acb3328cc7318c33f8438ebb775d34f4ae120528d`

[2020-07-23 06:51] doitsu232 commented on #610
finally confirmed tx: e5abeda50506c64fce12690cd249c7fe70ba11da32d2cf69cfd14e0baf097f32

[2020-07-23 08:24] ripcurlx commented on #614
Except for altcoin trades I guess. @leo816 Do you have time to review this and the other remaining the support issues?

[2020-07-23 10:33] dmos62 commented on #616
c32c212209eec3568ffe80bf2cf28357badd2ce783f9d282b2f59683558c4fb1

[2020-07-23 13:54] ripcurlx commented on #622
@wiz Could you add your review similar to e.g. https://github.com/bisq-network/compensation/issues/608#issuecomment-662298548 so we have a timestamp and it is clear that this item can be moved to a different lane.

[2020-07-23 14:01] ripcurlx commented on #628
Seems to be fine from my side :+1: @wiz, @m52go, @freimair Do we need :+1: from all team leads for our own compensation requests?

[2020-07-23 14:04] m52go commented on #609
Yes, [approved](https://bisq.wiki/Compensation#Review_team_member_requests) from my end as well.

[2020-07-23 14:04] leo816 commented on #630
my [team lead ](https://bisq.wiki/Compensation#Team_Lead)review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-07-23 14:07] m52go commented on #626
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests), let's give it another go. It's been a good effort, with good results lately.

As noted elsewhere, we should make thresholds for future bounties to enable partial claims.

[2020-07-23 14:27] leo816 commented on #614
Taking into account the approved paid per case [proposal](https://github.com/bisq-network/proposals/issues/222) my [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-07-23 14:47] bounhun commented on #626
I have linked twice the ETH bounty because there's where I exposed my reasons to try again. I'll expose them again too, I'm open for discussion and I want to know your opinion:

- Spent about 100USD in fees.
- I've been 5 months placing orders almost 24/7 and I plan to continue doing it, although maybe less hours a day.
- Although trade volume has not significantly risen, number of trades did.
- I

[2020-07-23 14:53] MwithM commented on #628
No, one team lead reviews  the work of another team lead. It's up to you who should review it. https://github.com/orgs/bisq-network/teams/dao/discussions/15/comments/2

[2020-07-23 14:55] MwithM commented on #619
@leo816 Is it ok for you?

[2020-07-23 14:57] leo816 commented on #628
Then @ripcurlx Im happy with you reviewing my compensation request from now on

[2020-07-23 15:14] leo816 commented on #619
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-07-23 15:14] leo816 commented on #618
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-07-23 15:28] leo816 commented on #629
Please make sure the screenshots take up the entire window. Take the example of previous [reports](https://github.com/bisq-network/roles/issues/80#issuecomment-636555631) .

My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-07-23 15:43] leo816 commented on #613
Please add the previous compensation request number.

My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

Note that I validated the amount of BSQ requested by adding up the values reported in bisq-network/roles#93 between the dates of  June 15t

[2020-07-23 16:25] m52go opened #631 "For Cycle 15"
## Summary

- **BSQ requested**: **`6076`**
- USD requested: 3950
- BSQ rate: .65 USD per BSQ
- Previous compensation request (if applicable): #604

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Deliver new getting-started page | growth | 3000 | https://bisq.network/getting-started | Includes interactive web page (linked) and [playlist of 10 vi

[2020-07-23 19:09] mrosseel commented on #615
txid: 702509ef969d5390f82572f0140bb7dbdb745bb7f888bc95cde8bdc036887ea7

[2020-07-23 21:45] sqrrm commented on #623
Proposal request tx id: 1d2b271168f9b5ddc2e6fad79ccf21fc6d2b7aed1833581250a270f9e72cc943

[2020-07-24 03:55] Bayernatoor commented on #618
Txid: 6892700c34a1c9797a5dc820d2e28cfab3259d996e127da39eb95c6e9cdd9a4d

[2020-07-24 04:59] m52go commented on #631
@bisq-network/team-leads may I have a review please?

[2020-07-24 06:00] MwithM commented on #619
Compensation request proposal TXID: `36061f67bbc6a8cd5beff5e0edd5be843b59bf911a1f75b6ab193255b346c25e`

[2020-07-24 06:15] MwithM commented on #631
I think it's better if you ask one of the team leads (considering availability and familiarity with your tasks) to peer review your compensation request.

I'll assign @leo816 and @wiz as there's support and ops tasks, if they want to take a look as well to growth tasks, they're welcome.

[2020-07-24 06:44] bounhun commented on #626
TXID 6f31f69b5fc720a040c9017c6f202c6f66c1669afcde0d02d353f142ae93cd6c

[2020-07-24 10:13] ghost commented on #631
## Info
Read BSQ amount from summary: 6076
Read USD amount from summary: 3950
Read BSQ rate from summary: 0.65
Parsed lineitem: {"team":"GROWTH","amount":3000}
Parsed lineitem: {"team":"SUPPORT","amount":50}
Parsed lineitem: {"team":"SUPPORT","amount":25}
Parsed lineitem: {"team":"SUPPORT","amount":25}
Parsed lineitem: {"team":"SUPPORT","amount":25}
Parsed lineitem: {"team":"GROWTH","amount":600}

[2020-07-24 10:46] wiz commented on #631
![did-you-get-the-memo-about-the-new-tps-reports-cover-sheet-ill-go-ahead-and-get-you-a-copy-of-the-me](https://user-images.githubusercontent.com/232186/88383859-4e6a8f80-cde6-11ea-8b27-4a4a9465a566.jpg)

[2020-07-24 11:11] wiz commented on #631
My Bisq team lead review is complete, and I approve this request with the following Haiku poem:
[code]

[2020-07-24 11:16] wiz commented on #622
As the ops team lead I approve this request

[2020-07-24 11:45] leo816 commented on #631
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-07-24 16:07] MwithM commented on #625
Please post in a comment here the DAO TXID for this compensation request.

[2020-07-24 16:08] MwithM commented on #614
Please post in a comment here the DAO TXID for this compensation request.

[2020-07-24 16:09] MwithM commented on #630
Please post in a comment here the DAO TXID for this compensation request.

[2020-07-24 16:09] MwithM commented on #613
Please post in a comment here the DAO TXID for this compensation request.

[2020-07-24 16:10] MwithM commented on #629
Please post in a comment here the DAO TXID for this compensation request.

[2020-07-24 16:10] MwithM commented on #628
Please post in a comment here the DAO TXID for this compensation request.

[2020-07-24 16:11] softsimon commented on #625
e64690c868dee45335441b4f133fc2ba6a6a860323b0dfc438b4ea712028575d

[2020-07-24 16:11] MwithM commented on #631
Please post in a comment here the DAO TXID for this compensation request.

[2020-07-24 17:59] Bisq-knight commented on #630
4b1d13905aa416a8bec96fcb580f23e507310abb3d587624960c5197bee2fa40

[2020-07-24 21:39] m52go commented on #631
`42235fa9c7370976ac4f469a9a368bae2ca82ec9a65c09e1b4f153ce0089926d`

[2020-07-25 08:45] leo816 commented on #628
Proposal Tx ID: 0cd812ee646864f610224b0b81919483667d9f2786615e53e2bf7b0248fe9dd9

[2020-07-25 14:50] RefundAgent commented on #614
TxID:  b6a3e07*********************ee964

[2020-07-25 14:51] RefundAgent commented on #613
The difference is probably the mining fees I needed to pay.

TxID: 8ad848***********************125c6

[2020-07-25 15:25] wiz opened #632 "For Cycle 15"
## Summary

* **BSQ requested**: **`4692`**
* USD requested: 3050
* BSQ rate: 0.65 USD per BSQ
* Previous compensation request (if applicable): #602

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Mediator | support* | 1000 | https://github.com/bisq-network/roles/issues/83#issuecomment-663868096 | |
| Bisq Analytics Operator | ops* | 100 |

[2020-07-25 15:31] MwithM commented on #632
![imagen](https://user-images.githubusercontent.com/50149324/88460405-60a70500-ce9c-11ea-8f9a-fa3eb4f40f94.png)

Or are you indeed?

Any @bisq-network/team-leads available to review this?

[2020-07-25 15:50] m52go commented on #632
It seems all items are quite standard except for dev items, so dev review would be ideal, but to my sense dev requests look reasonable.

Approved for voting.

Would be great to have a developer lead comment before voting begins.

[2020-07-25 18:34] ghost commented on #586
Thanks, I'll change the bot so it ignores notifications from closed issues.

[2020-07-26 18:11] wiz commented on #632
9b58696c094bd96fd523fba1933b8c1de49dd6f6ef20b9ad0bd9b367d357d8b5

[2020-07-27 08:59] ripcurlx commented on #629
See https://github.com/bisq-network/compensation/issues/629#issuecomment-662706765

[2020-07-27 10:09] ripcurlx commented on #632
If we take our previous requirements for dev work the dark theme might not be a candidate for compensation. In that specific case because of my absence to give feedback up-front I'm :+1: for this.

[2020-07-27 18:36] wiz commented on #628
Hi Leo, are you actually providing L1 support in the support channel? @bisq_knight and I stopped claiming it after we hired L1 support agents, so we should probably clarify who is L1 support agent or not.

[2020-07-27 19:28] leo816 commented on #628
Perhaps we should revisit the requirements to make them more specific.
On the [bisq.wiki](https://bisq.wiki/Support_Agent) the duties are:
- Handle support cases
- Keep the coverage calendar up to date
- Submit regular cycle reports

[2020-07-29 14:03] MwithM commented on #613
@RefundAgent

Reimbursement limit was [raised](https://github.com/bisq-network/proposals/issues/203) to allow this requests. This, for Cycle 15, should already be a reimbursement request and not a compensation request. I'm going to accept this proposal but it should be the last time.

[2020-07-29 14:29] m52go commented on #612
I'm not sure how I missed this -- sorry. Yes, I'll review yours going forward.

[2020-07-29 20:08] cbeams commented on #612
All good, thanks!

[2020-08-02 22:02] ghost commented on #629
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|SUPPORT|1000.00|650.00|

Total Issuance: 1000.00 BSQ (equivalent to: 650.00 USD)

[2020-08-02 22:03] MwithM commented on #629
closed as accepted

[2020-08-02 22:03] #629 closed, assigned to leo816

[2020-08-02 22:04] ghost commented on #622
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|OPS|76.92|50.00|

Total Issuance: 76.92 BSQ (equivalent to: 50.00 USD)

[2020-08-02 22:04] MwithM commented on #622
closed as accepted

[2020-08-02 22:04] #622 closed, assigned to nobody

[2020-08-02 22:05] ghost commented on #609
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|OPS|307.20|200.00|
|GROWTH|76.80|50.00|

Total Issuance: 384.00 BSQ (equivalent to: 250.00 USD)

[2020-08-02 22:05] MwithM commented on #609
closed as accepted

[2020-08-02 22:05] #609 closed, assigned to nobody

[2020-08-02 22:05] ghost commented on #621
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|OPS|1076.92|700.00|

Total Issuance: 1076.92 BSQ (equivalent to: 700.00 USD)

[2020-08-02 22:05] MwithM commented on #621
closed as accepted

[2020-08-02 22:05] #621 closed, assigned to nobody

[2020-08-02 22:06] ghost commented on #627
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|GROWTH|76.92|50.00|

Total Issuance: 76.92 BSQ (equivalent to: 50.00 USD)

[2020-08-02 22:06] MwithM commented on #627
closed as accepted

[2020-08-02 22:06] ghost commented on #608
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|DEV|307.69|200.00|

Total Issuance: 307.69 BSQ (equivalent to: 200.00 USD)

[2020-08-02 22:06] MwithM commented on #608
closed as accepted

[2020-08-02 22:06] #608 closed, assigned to ripcurlx

[2020-08-02 22:08] #627 closed, assigned to nobody

[2020-08-02 22:08] ghost commented on #617
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|OPS|1538.00|1000.00|

Total Issuance: 1538.00 BSQ (equivalent to: 1000.00 USD)

[2020-08-02 22:08] MwithM commented on #617
closed as accepted

[2020-08-02 22:08] #617 closed, assigned to nobody

[2020-08-02 22:09] ghost commented on #611
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|DEV|1923.15|1250.00|
|OPS|153.85|100.00|

Total Issuance: 2077.00 BSQ (equivalent to: 1350.00 USD)

[2020-08-02 22:09] MwithM commented on #611
closed as accepted

[2020-08-02 22:09] #611 closed, assigned to ripcurlx, wiz

[2020-08-02 22:09] ghost commented on #624
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|DEV|6384.33|4150.00|
|OPS|507.67|330.00|

Total Issuance: 6892.00 BSQ (equivalent to: 4480.00 USD)

[2020-08-02 22:09] MwithM commented on #624
closed as accepted

[2020-08-02 22:09] #624 closed, assigned to wiz

[2020-08-02 22:09] ghost commented on #620
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|DEV|9230.77|6000.00|

Total Issuance: 9230.77 BSQ (equivalent to: 6000.00 USD)

[2020-08-02 22:09] MwithM commented on #620
closed as accepted

[2020-08-02 22:09] #620 closed, assigned to ripcurlx

[2020-08-02 22:10] ghost commented on #612
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ADMIN|153.85|100.00|

Total Issuance: 153.85 BSQ (equivalent to: 100.00 USD)

[2020-08-02 22:10] MwithM commented on #612
closed as accepted

[2020-08-02 22:10] #612 closed, assigned to m52go

[2020-08-02 22:11] ghost commented on #610
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|GROWTH|59.55|38.71|

Total Issuance: 59.55 BSQ (equivalent to: 38.71 USD)

[2020-08-02 22:11] MwithM commented on #610
closed as accepted

[2020-08-02 22:11] #610 closed, assigned to m52go, MwithM

[2020-08-02 22:11] ghost commented on #616
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|DEV|1446.00|940.00|

Total Issuance: 1446.00 BSQ (equivalent to: 940.00 USD)

[2020-08-02 22:11] MwithM commented on #616
closed as accepted

[2020-08-02 22:11] #616 closed, assigned to ripcurlx

[2020-08-02 22:11] ghost commented on #619
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|GROWTH|735.38|478.00|
|SUPPORT|769.23|500.00|
|ADMIN|153.85|100.00|

Total Issuance: 1658.46 BSQ (equivalent to: 1078.00 USD)

[2020-08-02 22:12] MwithM commented on #619
closed as accepted

[2020-08-02 22:12] #619 closed, assigned to m52go, leo816

[2020-08-02 22:12] ghost commented on #615
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|OPS|461.00|300.00|

Total Issuance: 461.00 BSQ (equivalent to: 300.00 USD)

[2020-08-02 22:12] MwithM commented on #615
closed as accepted

[2020-08-02 22:12] #615 closed, assigned to nobody

[2020-08-02 22:12] ghost commented on #618
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|SUPPORT|769.23|500.00|

Total Issuance: 769.23 BSQ (equivalent to: 500.00 USD)

[2020-08-02 22:12] MwithM commented on #618
closed as accepted

[2020-08-02 22:12] #618 closed, assigned to leo816

[2020-08-02 22:12] ghost commented on #623
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|DEV|7907.25|5140.00|
|OPS|430.75|280.00|

Total Issuance: 8338.00 BSQ (equivalent to: 5420.00 USD)

[2020-08-02 22:13] MwithM commented on #623
closed as accepted

[2020-08-02 22:13] #623 closed, assigned to ripcurlx

[2020-08-02 22:15] ghost commented on #626
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|GROWTH|750.00|487.50|

Total Issuance: 750.00 BSQ (equivalent to: 487.50 USD)

[2020-08-02 22:15] MwithM commented on #626
closed as accepted

[2020-08-02 22:15] #626 closed, assigned to m52go

[2020-08-02 22:16] ghost commented on #628
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|SUPPORT|4340.00|2821.00|

Total Issuance: 4340.00 BSQ (equivalent to: 2821.00 USD)

[2020-08-02 22:16] MwithM commented on #628
closed as accepted

[2020-08-02 22:16] #628 closed, assigned to nobody

[2020-08-02 22:16] ghost commented on #614
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|SUPPORT|1855.00|1205.80|

Total Issuance: 1855.00 BSQ (equivalent to: 1205.80 USD)

[2020-08-02 22:16] MwithM commented on #614
closed as accepted

[2020-08-02 22:16] #614 closed, assigned to leo816

[2020-08-02 22:16] ghost commented on #631
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|GROWTH|5652.99|3675.00|
|SUPPORT|192.28|125.00|
|OPS|230.73|150.00|

Total Issuance: 6076.00 BSQ (equivalent to: 3950.00 USD)

[2020-08-02 22:17] MwithM commented on #631
closed as accepted

[2020-08-02 22:17] #631 closed, assigned to leo816

[2020-08-02 22:17] ghost commented on #630
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|SUPPORT|1538.00|1000.00|

Total Issuance: 1538.00 BSQ (equivalent to: 1000.00 USD)

[2020-08-02 22:17] MwithM commented on #630
closed as accepted

[2020-08-02 22:17] #630 closed, assigned to leo816

[2020-08-02 22:17] ghost commented on #625
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|OPS|6769.00|4400.00|

Total Issuance: 6769.00 BSQ (equivalent to: 4400.00 USD)

[2020-08-02 22:17] MwithM commented on #625
closed as accepted

[2020-08-02 22:17] #625 closed, assigned to nobody

[2020-08-02 22:18] ghost commented on #613
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|SUPPORT|46142.70|29992.80|

Total Issuance: 46142.70 BSQ (equivalent to: 29992.80 USD)

[2020-08-02 22:18] MwithM commented on #613
closed as accepted

[2020-08-02 22:18] #613 closed, assigned to leo816

[2020-08-02 22:19] ghost commented on #632
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|SUPPORT|1538.36|1000.00|
|OPS|1615.28|1050.00|
|DEV|1538.36|1000.00|

Total Issuance: 4692.00 BSQ (equivalent to: 3050.00 USD)

[2020-08-02 22:19] MwithM commented on #632
closed as accepted

[2020-08-02 22:19] #632 closed, assigned to nobody

[2020-08-02 22:19] #607 closed, assigned to MwithM

[2020-08-02 22:26] MwithM opened #633 "BSQ rate for Cycle 16 is 0.68 USD per 1 BSQ"
The recommended USD/BSQ rate to be used for compensation requests on cycle 16 is 0.68. The 90 day weighted volume average at the beginning of the cycle has been used.

![imagen](https://user-images.githubusercontent.com/50149324/89133838-bf652200-d51f-11ea-81b6-569ee0e63291.png)

More info about the Compensation process at https://bisq.wiki/Compensation

[2020-08-02 22:26] ghost commented on #633
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2020-08-08 05:09] pedromvpg opened #634 "For Cycle 16"
## Summary

- **BSQ requested**: **`4632.35`**
- USD requested: 3150
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

Title | Team | USD | Link | Notes |
-- | -- | -- | -- | -- |
Client - Dark Mode Design Refresh - Initial bad PR                | dev     | 0       | https://github.com/bisq-network/bisq/pull/4121 | Added for reference befo

[2020-08-08 12:13] alexej996 opened #635 "For Cycle 16"
## Summary
This is a compensation request for work done in Cycle 15.

- **BSQ requested** : **367**
- USD requested: **250**
- BSQ rate: **0.68** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/609

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bis

[2020-08-08 15:09] alexej996 commented on #635
DAO txid: **353fb882528310c1dfc68a80592b3b25302deb024810d5cacb15d7d547f85f58**

[2020-08-09 19:23] wiz commented on #635
:+1:

[2020-08-19 13:49] RefundAgent opened #636 "For Cycle 16"
## Summary
Refund Agent compensation August 19

12 cases handled, 50 USD each. $600 or 882.35 BSQ.
0.757 BTC has been paid out giving an interest of 0.00757 BTC = $89.66 = 131.85 BSQ

In total $689.66 or 1014.21 BSQ.

- **BSQ requested**: **`1014.2`**
- USD requested: 689.66
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #614

## Contributions delivered

| Title | Te

[2020-08-19 13:49] ghost commented on #636
## Info
Read BSQ amount from summary: 1014.2
Read USD amount from summary: 689.66
Read BSQ rate from summary: 0.66
Parsed lineitem: {"team":"support","amount":689.66}

## Errors
Incorrect BSQ rate specified: 0.66, expected: 0.68

[2020-08-19 20:03] niyid opened #637 "For Cycle 16"
## Summary

 - BSQ requested:

- BSQ requested: **` 1950.00 BSQ`**
- USD requested: **` 1326.00 USD`**
- BSQ rate: **` 0.68 USD/BSQ`**

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Show reputation balance in BSQ wallet stats | dev | 340| bisq-network/bisq#3352 |  |
| Launch in Limbo with BisqException | dev | 884| bisq-network/bisq#3510 | `1,0

[2020-08-19 20:03] ghost commented on #637
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2020-08-19 20:05] ghost commented on #637
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2020-08-19 20:25] ifarnung commented on #637
Link to this identical and previously voted upon and rejected compensation request: https://github.com/bisq-network/compensation/issues/553

[2020-08-20 07:14] MwithM commented on #636
The parsing is invalid and the compensation request could be rejected for this.
 You can use your last compensation request #614 as an example. The table is not formatted correctly and although you changed the BSQ rate from 0.66 to 0.68, the parser did not reviewed the changes.
Also, please complete with "#614" the "previous compensation request" field.

[2020-08-20 08:21] mrosseel opened #638 "For Cycle 16"
## Summary

- **BSQ requested**: **`514`**
- USD requested: 350
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #615

## Contributions delivered

| Title                         | Team | USD    | Link  | Notes |
| ---                           | --- | ---     | ---   | ---   |
| 2x pricenode Operator            | ops* | 100      | [bisq-network/roles#14](https://githu

[2020-08-20 08:29] robkaandorp opened #639 "For Cycle 16"
## Summary

- **BSQ requested**: **`73.53`**
- USD requested: 50
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable):  https://github.com/bisq-network/compensation/issues/622

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BTC Node operator | ops* | 50 | https://github.com/bisq-network/proposals/issues/189 | Updated btc

[2020-08-20 08:31] robkaandorp commented on #639
DAO txid: 839cd1a4d6d50ca99dce37d3f6dce7ba41450b61770bd022ec77a01bcb4150fd

[2020-08-20 09:30] MwithM opened #640 "For Cycle 16"
## Summary

- **BSQ requested**: **`1825`**
- USD requested: 1241
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #619

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community manager | Growth* | 475 | https://github.com/bisq-network/roles/issues/95#issuecomment-677436020 |  |
| Transifex admin | Growth* | 0 | http

[2020-08-20 09:41] wiz commented on #639
:+1:

[2020-08-20 09:57] cd2357 opened #641 "For Cycle 16"
## Summary

* **BSQ requested**: **`13235`**
* USD requested: 9000
* BSQ rate: 0.68 USD per BSQ
* Previous compensation request (if applicable): first-time contributor

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Work on migrating from earn.com fee estimations | ops | 1500 | bisq-network/projects#27 | `mempool-fees` |
| Work on pricenode exte

[2020-08-20 10:10] wiz commented on #641
:+1: Thanks for your hard work, this is approved for ops team.

Internally for our budget, we will re-allocate the $60/month for each of the 5 Pricenodes that would have been paid to Bitcoin Average to the compensation for this project.

[2020-08-20 11:11] ghost commented on #638
## Info
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"ops","amount":50}
Parsed lineitem: {"team":"ops","amount":0}

## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section

[2020-08-20 14:43] ghubstan opened #642 "For Cycle 16"
## Summary

- **BSQ requested**: **`14706`**
- USD requested: 10000
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #620

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Add API test harness for Linux/OSX | dev | 10000 | https://github.com/bisq-network/bisq/pull/4366 | merged |
| Move gRPC boilerplate from :core to :

[2020-08-20 19:11] Bayernatoor opened #643 "For Cycle 16"
## Summary

- **BSQ requested**: **`[735.29]`**
- USD requested: [500]
- BSQ rate: [0.68] USD per BSQ
- Previous compensation request (if applicable): #618

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Support Agent | support* | 500 | https://github.com/bisq-network/roles/issues/64#issuecomment-677844989 |

## Contributions in progress

Contin

[2020-08-20 19:15] Emzy opened #644 "For Cycle 16"
## Summary

- **BSQ requested**: **`1250`**
- USD requested: 850
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #595

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 3* Seed node operator | ops* | 300 | bisq-network/roles#15 |  |
| Pricenode operat

[2020-08-20 21:07] ghost opened #645 "For Cycle 16"
## Summary

- **BSQ requested**: **`1213.24`**
- USD requested: 825
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/608

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Maintain floor amount of 5.46 BSQ to prevent dust errors | dev | 50 | https://github.com/bisq-n

[2020-08-20 22:59] sqrrm opened #646 "For Cycle 16"
## Summary

- **BSQ requested**: **`1588`**
- USD requested: 1080
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #623

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Review: input validation | dev | 80 | https://github.com/bisq-network/bisq/pull/4381 | |
| Review: data store | dev | 40 | https://github.com/bisq-net

[2020-08-20 23:58] devinbileck opened #647 "For Cycle 16"
## Summary

- **BSQ requested**: **`1323.53`**
- USD requested: 900
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #621

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 100 | https://github.com/bisq-network/roles/issues/67#issuecomment-678033704 | 2 nodes
| Seed node operator | ops* |

[2020-08-21 07:12] cbeams opened #648 "For Cycle 16"
## Summary

- **BSQ requested**: **`73.53`**
- USD requested: 50
- BSQ rate: [0.68](https://github.com/bisq-network/compensation/issues/633) USD per BSQ
- Previous compensation request (if applicable): #612

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 | https://github.com/bisq-network/roles/issues/18#issuecomment-67808

[2020-08-21 07:27] cbeams commented on #648
Please approve, @m52go.

[2020-08-21 09:42] MwithM commented on #644
Is this still WIP? Remove `[WIP]` from title if it isn't.

[2020-08-21 15:21] m52go opened #649 "For Cycle 16"
## Summary

- **BSQ requested**: **`2022`**
- USD requested: 1375
- BSQ rate: .68 USD per BSQ
- Previous compensation request (if applicable): #631

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| | | | https://github.com/bisq-network/bisq-website/pull/378 |
| | | | https://github.com/bisq-network/bisq-website/pull/382 |
| Review bisq-website PRs

[2020-08-21 16:41] m52go commented on #648
[Approved](https://bisq.wiki/Compensation#Team_Lead). Please submit to the DAO and post TXID here.

[2020-08-21 16:42] m52go commented on #645
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth. Excellent work on the compensation bot!

[2020-08-21 16:43] m52go commented on #640
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth :+1:

[2020-08-21 16:43] m52go commented on #634
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth :+1:

[2020-08-21 16:44] m52go commented on #635
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth. ~Please submit to the DAO and post TXID here.~

[2020-08-22 12:49] wiz opened #650 "For Cycle 16"
## Summary

* **BSQ requested**: **`6911`**
* USD requested: 4700
* BSQ rate: 0.68 USD per BSQ
* Previous compensation request (if applicable): #632

## Contributions Delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| `$BSQ Bounty` for finding solution to improve resilience of Bisq Pricenodes and removing BitcoinAverage as TTP/CPOF | dev | 2500 | https://github.com/

[2020-08-22 12:59] wiz commented on #649
[👍 Approved 🧙‍♂️✨🌈 ](https://bisq.wiki/Compensation#Team_Lead)

[2020-08-22 13:00] wiz commented on #647
[👍 Approved 🧙‍♂️✨🌈 ](https://bisq.wiki/Compensation#Team_Lead)

[2020-08-22 13:10] wiz commented on #646
[👍 Approved 🧙‍♂️✨🌈 ](https://bisq.wiki/Compensation#Team_Lead) for ops, except for Bitcoin Node Maintainer which is `team:dev`

[2020-08-22 13:11] wiz commented on #638
[👍 Approved 🧙‍♂️✨🌈 ](https://bisq.wiki/Compensation#Team_Lead) for ops
Also don't forget to shut down your 2nd pricenode instance now that migration is successfully completed.

[2020-08-23 02:06] leo816 commented on #640
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-08-23 02:07] leo816 commented on #643
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-08-23 02:09] leo816 commented on #649
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-08-23 02:55] leo816 opened #651 "For Cycle 16"
## Summary

- **BSQ requested**: **`2205`**
- USD requested: 1500
- BSQ rate: [0.68] USD per BSQ
- Previous compensation request (if applicable): #628

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-679085869 |  |
| L1 Support Agent | Support | 500 |https://

[2020-08-23 02:55] ghost commented on #651
## Info
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":0}
Parsed lineitem: {"team":"support","amount":0}

## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section

[2020-08-23 03:58] devinbileck commented on #647
07123b3d86b697748e3c7b74661a05a663e67e2a87ee3253bd5a9196266e07e7

[2020-08-23 06:59] MwithM commented on #640
TXID: edited, wrong txid.

[2020-08-23 09:01] wiz commented on #644
:+1: :+1: :+1:

[2020-08-23 09:08] Emzy commented on #644
TXID: 7dd4bfc19322cc33eaeb753b6d60a2b62cd3ebd88407e67a41915e536f20a8a3

[2020-08-23 09:17] mrosseel commented on #638
txid: 2f97fa7dc636777c07420d0860abc9174d3f6f83e671f996d7adae97efb37e8b

[2020-08-23 21:53] sqrrm commented on #637
I still reject this request.

[2020-08-23 22:03] sqrrm commented on #642
I have a hard time valuing this work. While we do need a test framework and I think the code is good, there is a lot of money going into code that's not actually useful for end users.

On the other hand, we have previously been severely lacking in tests, and this framework will allow us to set up more live like tests. Very good stuff, but useless if Bisq is no longer around.

I suggest that we sho

[2020-08-23 22:05] sqrrm commented on #645
I leave this for @ripcurlx to opine.

[2020-08-23 22:06] sqrrm commented on #650
Approved for dev from my side.

[2020-08-24 01:11] wiz commented on #650
db6e84ddab139ef72517d246dd9d2c57047aade2ca1b48dcc693897174ebadac

[2020-08-24 03:51] Bayernatoor commented on #643
TXid: 5a0a4154de95b262fec33d0ec0040b9c47636785a11207305b989eb5627e690c

[2020-08-24 07:06] cbeams commented on #648
`b735e52200048ddb17e55b71faff3d6fa96f041f52993a3118c8d0ff2208a807`

[2020-08-24 08:16] RefundAgent commented on #636
Proposal txID. b76a72977d8498a3b854e052743680df360f0e66a7786471f7282e7af63ff94c

[2020-08-24 08:39] ripcurlx commented on #637
My vote 👎  also hasn't changed since then.

[2020-08-24 08:52] ripcurlx commented on #634
@pedromvpg Please see https://github.com/bisq-network/bisq/pull/4398#issuecomment-678998410, so I can approve this work as well (as merged to master) for this compensation request.

[2020-08-24 08:56] ripcurlx commented on #646
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-08-24 08:56] ripcurlx commented on #650
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-08-24 08:59] ripcurlx commented on #645
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-08-24 09:02] ripcurlx commented on #642
Sorry for jumping in that late because of vacation. I agree what @sqrrm is mentioning above. I'll have a look if the Codacy issues are wrong so it can be merged to master and compensated.

[2020-08-24 09:23] ripcurlx opened #652 "For Cycle 16"
## Summary

- **BSQ requested**: **`2225`**
- USD requested: 1513
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #624

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev | 630 | https://github.com/bisq-network/roles/issues/63#issuecomment-679014662 |  |
| Bitcoin Fullnode Operator| ops | 5

[2020-08-24 09:23] ghost commented on #652
## Info
Read BSQ rate from summary: 0.68
Parsed lineitem: {"team":"dev","amount":960}
Parsed lineitem: {"team":"ops","amount":150}
Parsed lineitem: {"team":"ops","amount":180}
Parsed lineitem: {"team":"dev","amount":1680}
Parsed lineitem: {"team":"dev","amount":300}
Parsed lineitem: {"team":"dev","amount":38}
Parsed lineitem: {"team":"dev","amount":54}
Parsed lineitem: {"team":"dev","amount":28}
P

[2020-08-24 11:01] burningman3 opened #653 "For Cycle 16"
## Summary

- **BSQ requested**: **`[1000]`**
- USD requested: [680]
- BSQ rate: [0.68] USD per BSQ
- Previous compensation request (if applicable): #629

I ask for 1000 BSQ per month for performing this role.

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation address | support | 680 | https://githu

[2020-08-24 11:01] ghost commented on #653
## Info
Read BSQ amount from summary: 1000
Read USD amount from summary: 680
Read BSQ rate from summary: 0.68
Parsed lineitem: {"team":"support","amount":650}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 680.00 USD
   - Calculated total: 650.00 USD

[2020-08-24 11:28] burningman3 commented on #653
Tx ID: 1b45d4bf0735bcf1be27641dc260f40ab1cedaf4878f26f64e5e66b05419b200

[2020-08-24 12:52] cd2357 commented on #641
TX ID: `1ed9e0563fb7c8ded8063aedac85ef41b9e78a88425bbcd2044bd37c636603d0`

[2020-08-24 15:15] ghubstan commented on #642
@sqrrm @ripcurlx:

I expected this valid questioning and pushback to the CR.  I can be flexible about the amount requested, but when I was ready to submit the PR about a month ago, I thought it was worth more than 10K USD.

Let me respond to your comments and give you my plan for the next phase of development.  Maybe it will help you decide to approve this CR as is, or not.

Although the `apitest`

[2020-08-24 16:47] sqrrm commented on #652
Dev approved.

[2020-08-24 18:49] ripcurlx commented on #634
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-08-24 19:24] m52go commented on #649
`49b92fad10aa074bdaf84a8576acbb9a4f3a81d8cff23466c07392227ecb6901`

[2020-08-24 20:38] pedromvpg commented on #634
I made a mistake and added the request before your approval:
https://mempool.space/bisq/tx/8af9608492b1eee2d8876e7d988c87664e57dfa706b4e88a35554f3e4a547b09

Will avoid that in the future.

[2020-08-24 21:21] ghost commented on #645
txId=78cee34957f46a07e21fb53ad74394148cd0911e45353f460bea135ebcb1827e

[2020-08-24 22:18] Bisq-knight opened #654 "For Cycle 16"
## Summary

- **BSQ requested**: **`1470`**
- USD requested: 1000
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #630

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediation | Support | 1000 | [Roles report Cycle 16](https://github.com/bisq-network/roles/issues/83#issuecomment-679394100) | Cycle 16 |

## Contribu

[2020-08-25 10:43] MwithM commented on #636
How many BTC are left for large cases? Have they asked for that reimbursement yet? Who is going to provide the necessary info to arbitrate this cases and how is it going to be shared to the DAO to submit a proper vote?

[2020-08-25 15:37] ripcurlx commented on #652
@wiz Do I have your OK for ops as well?

[2020-08-25 16:47] ghubstan commented on #642
The `apitest` related [scratch branch](https://github.com/ghubstan/bisq/commits/api-scratch) commits I mentioned above are now PRs, and listed in the `Contributions in progress` section of this CR.

[2020-08-26 09:01] leo816 commented on #651
Proposal Tx ID: c1f50dca43088fb1c634ffe3bddb6e7df2fa3518882fd6a92f288596eb94b02b

[2020-08-26 09:02] leo816 commented on #654
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-08-26 09:04] leo816 commented on #653
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request, thanks.

[2020-08-26 09:08] leo816 commented on #650
My Support [Team Lead](https://bisq.wiki/Compensation#Team_Lead) review is complete and I approve this request.

[2020-08-26 09:11] leo816 commented on #636
Please see my comments about the new arbitration action protocol [here](https://github.com/bisq-network/proposals/issues/256#issue-686134318)
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-08-26 09:13] leo816 commented on #636
This is the [first case](https://github.com/bisq-network/support/issues/482) as far as I'm concerned. @RefundAgent there needs to be better communication with devs to let them know everything that is going on so that users are aware of changes quickly.

[2020-08-26 10:18] sqrrm commented on #642
Having considered this a bit further, I approve of this compensation request seeing it as a part of the whole API project. It's already able to run the tests which is something we haven't been able to do before. It will also help speed up the upcoming API dev.

[2020-08-26 12:27] Bisq-knight commented on #654
tx id = 6b8d0235e8c11eab80b5f9d11e5cac12b2a96b78d386e6395c8c7bd12515bda9

[2020-08-26 14:48] ghubstan commented on #642
Proposal tx:   `0128c8cb88438563afea73b5cb5fbc77eff6eb87be16634f87efb0eb94d6c112`

[2020-08-27 07:29] MwithM commented on #652
Considering the amount of the compensation and that most of OPS tasks are pre-approved, I will change this proposal status to review complete and OP should submit the proposal TXID.

[2020-08-27 07:31] MwithM commented on #646
Please comment here the TXID of your DAO proposal.

[2020-08-27 08:21] wiz commented on #652
:+1: for ops

[2020-08-27 08:22] ripcurlx commented on #652
Proposal transaction ID: 947b72d7b321f03595decbf0ca86615e3e8057907e07b21d60c258ea978fab15

[2020-08-27 19:50] RefundAgent commented on #636
There is one case for reimbursement this cycle: https://github.com/bisq-network/support/issues/482
and a request has also been made in the app.

The trader asks for 0.65 BTC and the relevant mediator Bisq-knight approves the request. There was a reimbursement request in the previous cycle which was granted by the DAO.

I will try to improve communication somewhat in the future, although I think mo

[2020-08-29 14:10] sqrrm commented on #640
@MwithM The string you have posted does not correspond to the DAO proposal tx id, it doesn't look like a txid at all.

[2020-08-29 14:31] sqrrm commented on #646
Tx: 2d82a4393e6d3cc1b3d8c974d720c16f01febf328771b3a982e063bdb92f23d2

[2020-08-29 17:33] ripcurlx commented on #640
@MwithM Is this `f1344300a708fcdf35133bd5cc25e0b2c41e5ccc36466f05f791136366477bd8` your TXID?

[2020-08-29 20:30] MwithM commented on #640
yes sorry, that's the correct txid:
f1344300a708fcdf35133bd5cc25e0b2c41e5ccc36466f05f791136366477bd8

[2020-08-30 08:23] cbeams commented on #646
I see in the description above a number of plain "link" todos without actual links:

<img width="471" alt="image" src="https://user-images.githubusercontent.com/301810/91654610-97c79200-eaaa-11ea-8ab5-626a72025319.png">

Looking at the role issues that would have been linked to, there are cycle reports for last month but not for this one.

Was this just an oversight, @sqrrm?

[2020-08-30 08:37] cbeams commented on #653
In future requests, this figure should probably be denominated in a fixed USD value, as opposed to a fixed BSQ value. This is consistent with our approach to other fixed monthly compensation rates, e.g. for support agents, bitcoin node operators, etc.

[2020-08-30 13:35] sqrrm commented on #646
@cbeams Thanks for actually reading the CR. I forgot to do the reports, now updated, although a bit late.

[2020-09-03 09:23] freimair opened #655 "For Cycle 17"
## Summary

- **BSQ requested**: **`896`**
- USD requested: 600
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #611

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Arch Linux AUR Maintainer | dev* | 50 |   https://github.com/bisq-network/roles/issues/78#issuecomment-686364877 |
| Monitoring Operator/Maintainer | op

[2020-09-04 07:21] ghost commented on #653
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1000.00|680.00|

Total Issuance: 1000.00 BSQ (equivalent to: 680.00 USD)

[2020-09-04 07:21] MwithM commented on #653
was:accepted

[2020-09-04 07:21] #653 closed, assigned to nobody

[2020-09-04 07:22] ghost commented on #652
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|2114.71|1438.00|
|ops|110.29|75.00|

Total Issuance: 2225.00 BSQ (equivalent to: 1513.00 USD)

[2020-09-04 07:22] MwithM commented on #652
was:accepted

[2020-09-04 07:22] #652 closed, assigned to wiz, sqrrm

[2020-09-04 07:23] MwithM commented on #651
was:accepted

[2020-09-04 07:23] #651 closed, assigned to ripcurlx

[2020-09-04 07:26] MwithM commented on #650
was:accepted

[2020-09-04 07:26] #650 closed, assigned to ripcurlx, leo816

[2020-09-04 07:27] ghost commented on #649
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|1654.36|1125.00|
|support|147.05|100.00|
|ops|220.58|150.00|

Total Issuance: 2022.00 BSQ (equivalent to: 1375.00 USD)

[2020-09-04 07:27] MwithM commented on #649
was:accepted

[2020-09-04 07:27] #649 closed, assigned to leo816

[2020-09-04 07:27] ghost commented on #648
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|73.53|50.00|

Total Issuance: 73.53 BSQ (equivalent to: 50.00 USD)

[2020-09-04 07:27] MwithM commented on #648
was:accepted

[2020-09-04 07:27] #648 closed, assigned to m52go

[2020-09-04 07:28] ghost commented on #654
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1470.00|1000.00|

Total Issuance: 1470.00 BSQ (equivalent to: 1000.00 USD)

[2020-09-04 07:28] MwithM commented on #654
was:accepted

[2020-09-04 07:28] #654 closed, assigned to leo816

[2020-09-04 07:29] ghost commented on #647
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1323.53|900.00|

Total Issuance: 1323.53 BSQ (equivalent to: 900.00 USD)

[2020-09-04 07:29] MwithM commented on #647
was:accepted

[2020-09-04 07:29] #647 closed, assigned to nobody

[2020-09-04 07:30] ghost commented on #646
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1249.81|850.00|
|ops|338.19|230.00|

Total Issuance: 1588.00 BSQ (equivalent to: 1080.00 USD)

[2020-09-04 07:30] MwithM commented on #646
was:accepted

[2020-09-04 07:30] #646 closed, assigned to ripcurlx

[2020-09-04 07:30] ghost commented on #645
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|257.35|175.00|
|growth|955.89|650.00|

Total Issuance: 1213.24 BSQ (equivalent to: 825.00 USD)

[2020-09-04 07:30] MwithM commented on #645
was:accepted

[2020-09-04 07:30] #645 closed, assigned to ripcurlx, m52go, sqrrm

[2020-09-04 07:31] ghost commented on #644
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1250.00|850.00|

Total Issuance: 1250.00 BSQ (equivalent to: 850.00 USD)

[2020-09-04 07:31] MwithM commented on #644
was:accepted

[2020-09-04 07:31] #644 closed, assigned to nobody

[2020-09-04 07:31] ghost commented on #643
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|735.29|500.00|

Total Issuance: 735.29 BSQ (equivalent to: 500.00 USD)

[2020-09-04 07:31] MwithM commented on #643
was:accepted

[2020-09-04 07:31] #643 closed, assigned to leo816

[2020-09-04 07:32] ghost commented on #642
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|14706.00|10000.00|

Total Issuance: 14706.00 BSQ (equivalent to: 10000.00 USD)

[2020-09-04 07:32] MwithM commented on #642
was:accepted

[2020-09-04 07:32] #642 closed, assigned to ripcurlx, sqrrm

[2020-09-04 07:32] ghost commented on #641
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|13235.00|9000.00|

Total Issuance: 13235.00 BSQ (equivalent to: 9000.00 USD)

[2020-09-04 07:33] MwithM commented on #641
was:accepted

[2020-09-04 07:33] #641 closed, assigned to nobody

[2020-09-04 07:33] ghost commented on #640
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|722.06|491.00|
|support|735.29|500.00|
|admin|367.65|250.00|

Total Issuance: 1825.00 BSQ (equivalent to: 1241.00 USD)

[2020-09-04 07:33] MwithM commented on #640
was:accepted

[2020-09-04 07:33] #640 closed, assigned to m52go, leo816

[2020-09-04 07:33] ghost commented on #639
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|73.53|50.00|

Total Issuance: 73.53 BSQ (equivalent to: 50.00 USD)

[2020-09-04 07:33] MwithM commented on #639
was:accepted

[2020-09-04 07:33] #639 closed, assigned to nobody

[2020-09-04 07:34] #637 closed, assigned to ripcurlx, sqrrm

[2020-09-04 07:34] MwithM commented on #637
was:not submitted

[2020-09-04 07:34] ghost commented on #638
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|514.00|350.00|

Total Issuance: 514.00 BSQ (equivalent to: 350.00 USD)

[2020-09-04 07:34] MwithM commented on #638
was:accepted

[2020-09-04 07:34] #638 closed, assigned to nobody

[2020-09-04 07:36] ghost commented on #636
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1014.20|689.66|

Total Issuance: 1014.20 BSQ (equivalent to: 689.66 USD)

[2020-09-04 07:36] MwithM commented on #636
was:accepted

[2020-09-04 07:36] #636 closed, assigned to leo816

[2020-09-04 07:36] ghost commented on #635
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|293.60|200.00|
|growth|73.40|50.00|

Total Issuance: 367.00 BSQ (equivalent to: 250.00 USD)

[2020-09-04 07:36] MwithM commented on #635
was:accepted

[2020-09-04 07:36] #635 closed, assigned to m52go

[2020-09-04 07:37] ghost commented on #634
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|3088.23|2100.00|
|growth|1544.12|1050.00|

Total Issuance: 4632.35 BSQ (equivalent to: 3150.00 USD)

[2020-09-04 07:37] MwithM commented on #634
was:accepted

[2020-09-04 07:37] #634 closed, assigned to ripcurlx, m52go

[2020-09-04 07:38] #633 closed, assigned to nobody

[2020-09-04 07:43] MwithM opened #656 "BSQ rate for Cycle 17 is 0.67 USD per 1 BSQ"
The recommended USD/BSQ rate to be used for compensation requests on cycle 17 is 0.67. The 90 day weighted volume average at the beginning of the cycle has been used.

![imagen](https://user-images.githubusercontent.com/50149324/92212786-c8d10980-ee92-11ea-9f67-c3bceef0cbe4.png)

More info about the Compensation process at https://bisq.wiki/Compensation
Rate for last cycle: https://github.com/bisq

[2020-09-04 07:43] ghost commented on #656
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2020-09-11 14:34] alexej996 opened #657 "For Cycle 17"
## Summary
This is a compensation request for work done in Cycle 16.

- **BSQ requested** : **373**
- USD requested: **250**
- BSQ rate: **0.67** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/635

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bis

[2020-09-11 14:34] ghost commented on #657
## Info
Read BSQ amount from summary: 373
Read USD amount from summary: 250
Read BSQ rate from summary: 0.67
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"growth","amount":50}
Parsed lineitem: {"team":"ops","amount":100}

## Errors
Incorrect BSQ rate specified: 0.67, expected: 0.68
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 373.00 BSQ
   - C

[2020-09-11 14:35] ghost commented on #657
## Info
Read BSQ amount from summary: 373
Read USD amount from summary: 250
Read BSQ rate from summary: 0.67
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"growth","amount":50}
Parsed lineitem: {"team":"ops","amount":100}

## Errors
Incorrect BSQ rate specified: 0.67, expected: 0.68
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 373.00 BSQ
   - C

[2020-09-11 14:43] alexej996 commented on #657
no, no bot, it is 0.67

[2020-09-11 17:31] alexej996 commented on #657
**DAO txid**: 65664c69d188f06229bf2ed9e1ca6daa8f6685d5c50c9e534773128d5b55bc98

[2020-09-20 14:59] ghubstan opened #658 "For Cycle 17"
## Summary

- **BSQ requested**: **`447.76`**
- USD requested: 300
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #642

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Fix setUpScaffold() signature | dev | 0 | https://github.com/bisq-network/bisq/pull/4429 | merged |
| Move bats based mainnet test from :cli to :apit

[2020-09-20 22:43] Bayernatoor opened #659 "For Cycle 17"
## Summary

- **BSQ requested**: **`[746.26]`**
- USD requested: [500]
- BSQ rate: [.67] USD per BSQ
- Previous compensation request (if applicable): #643

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Support Agent | support* | 500 | https://github.com/bisq-network/roles/issues/64#issuecomment-695844727 |  |

## Contributions in progress

| Ti

[2020-09-21 09:44] acrual opened #660 "For Cycle 17"
## Summary

- **BSQ requested**: **`[74.62]`**
- USD requested: [50]
- BSQ rate: [0.67] USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Experience the DAO | growth | 50 | https://www.rankia.com/blog/aprendiendo-bitcoin-desde-cero/4715938-plataformas-intercambio-descentralizadas-que-b

[2020-09-21 09:44] ghost commented on #660
## Info
Read BSQ amount from summary: 74.62
Read USD amount from summary: 50
Read BSQ rate from summary: 0.67
Parsed lineitem: {"team":"growth","amount":74.62}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 50.00 USD
   - Calculated total: 74.62 USD

[2020-09-21 11:00] MwithM commented on #660
I proposed Adolfo via twitter to ask for this compensation according to the [Tipping Hat](https://github.com/bisq-network/growth/issues/195) promotion.
The blog is written on an important Spanish financial forum, and it had very good articles about BTC. Even if the article doesn't give the best view of BSQ, it's not supposed to be a promotional paid add but a honest opinion, and the general view o

[2020-09-21 11:07] acrual commented on #660
It has improved my understanding of Bisq indeed, thanks a lot btw for your feedback and help in editing the article!

[2020-09-21 11:24] MwithM opened #661 "For Cycle 17"
## Summary

- **BSQ requested**: **`1900.75`**
- USD requested: 1273.5
- BSQ rate: 0.67 USD per BSQ as in #656
- Previous compensation request (if applicable): #640

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 475 | https://github.com/bisq-network/roles/issues/95#issuecomment-695958948 |  |
| Transifex Admin | *G

[2020-09-21 16:01] oscarguindzberg opened #662 "For cycle 17"
## Summary

- **BSQ requested**: **`14925.37`**
- USD requested: 10000
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #577

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Use bisq's bitcoinj 0.15.8 | dev | 5000 | https://github.com/bisq-network/bisq/pull/4504 | |
| Extract btc to segwit addresses | dev | 5000 | htt

[2020-09-21 16:29] wiz commented on #662
This compensation proposal is subject to the terms of DAO proposal 247 https://github.com/bisq-network/proposals/issues/247 and will be paid from the special BTC multisig escrow to @oscarguindzberg as follows, pending DAO approval in Cycle 17 voting:

USD: 10000
BSQ: 10000 / .67 = 14925.37 BSQ
BTC: 14925.37 * 0.00005669 = 0.84611940, minus 0.01492537 BTC for comp req = 0.83119403 BTC net to oscar

[2020-09-21 17:18] leo816 commented on #661
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead) review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-09-21 17:20] leo816 commented on #659
From the side of support my [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-09-21 17:22] chimp1984 commented on #662
What means "0.01492537 BTC for comp req" ?

[2020-09-21 18:05] wiz commented on #662
that refers to the cost incurred by the Guarantor for coloring the BSQ since 1 BSQ requires 100 sats, which would have been incurred by Oscar if he created his own comp req like normal

[2020-09-21 18:20] chimp1984 commented on #662
Ah true. Was surprised its that much but its correct. Printing money is not cheap these days ;-)

[2020-09-21 19:44] ghost opened #663 "For Cycle 17"
## Summary

- **BSQ requested**: **`1119`**
- USD requested: 750
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/645

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Improve warning message regarding insufficient BSQ | dev | 0 | https://github.com/bisq-network/bis

[2020-09-21 19:52] robkaandorp opened #664 "For Cycle 17"
## Summary

- **BSQ requested**: **`74.63`**
- USD requested: 50
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable):  https://github.com/bisq-network/compensation/issues/639

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BTC Node operator | ops* | 50 | https://github.com/bisq-network/proposals/issues/189 | |

## Contri

[2020-09-21 20:02] robkaandorp commented on #664
DAO txid: 705195f14e4614e612906cee33304996b84caf7b86ee8d2913df527388231273

[2020-09-21 20:34] wiz commented on #664
ACK - :+1: for ops

[2020-09-21 23:12] Bayernatoor commented on #659
TXID: f3fd2781f7a6f07034b028e68ee3e4f63d74689ff69a44d09def7c9e1bb17af5

[2020-09-22 05:03] devinbileck opened #665 "For Cycle 17"
## Summary

- **BSQ requested**: **`1641.79`**
- USD requested: 1100
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #647

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 100 | https://github.com/bisq-network/roles/issues/67#issuecomment-696509839 | 2 nodes
| Seed node operator | ops* |

[2020-09-22 06:18] cd2357 opened #666 "For Cycle 17"
## Summary

- **BSQ requested**: **`149.25`**
- USD requested: 100 USD
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #641

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Wrote the Qubes Setup Guide | growth | 100 | https://bisq.wiki/Running_Bisq_on_Qubes | Related to bisq-network/bisq#4386 and bisq-network/bisq#45

[2020-09-22 10:10] sqrrm opened #667 "For Cycle 17"
## Summary

- **BSQ requested**: **`4642`**
- USD requested: 3110
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #646

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Simplify witness signing | dev | 170 | https://github.com/bisq-network/bisq/pull/4455 | |
| Dev mode CSS | dev | 40 | https://github.com/bisq-network/

[2020-09-22 11:17] cbeams opened #668 "For Cycle 17"
## Summary

- **BSQ requested**: **`74.63`**
- USD requested: 50
- BSQ rate: [0.67](https://github.com/bisq-network/compensation/issues/656) USD per BSQ
- Previous compensation request (if applicable): #648

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 | https://github.com/bisq-network/roles/issues/18#issuecomment-69665

[2020-09-22 11:18] ghost commented on #655
## Info
Read BSQ amount from summary: 896
Read USD amount from summary: 600
Read BSQ rate from summary: 67
Parsed lineitem: {"team":"dev","amount":50}
Parsed lineitem: {"team":"ops","amount":200}
Parsed lineitem: {"team":"dev","amount":350}

## Errors
Incorrect BSQ rate specified: 067, expected: 0.67

[2020-09-22 11:22] cbeams commented on #668
Please approve, @m52go.

[2020-09-22 11:42] wdljt opened #669 "For Cycle 17"
## Summary

 - BSQ requested: 496.21

## Contributions delivered

### Bisq desktop in Simplified Chinese

2028 words*0.07=141.96 USD

### Bisq desktop in Traditional Chinese

2150 words*0.07=150.5 USD

### Cycle 12 Keep update for two language

Link:https://github.com/bisq-network/compensation/issues/527

20USD*2=40USD

###Total (141.96+150.5+40)/0.67=496.21

## Contributions in progress

![CN-ZH]

[2020-09-22 11:42] ghost commented on #669
## Info
Read BSQ amount from summary: 496.21

## Errors
USD amount not specified in summary section
No compensation lineitems found.

[2020-09-22 12:17] #669 closed, assigned to nobody

[2020-09-22 12:28] wdljt opened #670 "For Cycle 17"
## Summary

- **BSQ requested**: **`[496.21]`**
- USD requested: [332.46]
- BSQ rate: [0.67] USD per BSQ
- Previous compensation request (if applicable): #547

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq desktop in Simplified Chinese | growth | 141.96 | https://www.transifex.com/bisq/bisq-desktop/translate/#zh_CN | 2028 words |
| Bisq de

[2020-09-22 12:36] ghost commented on #670
## Info
Read BSQ amount from summary: 496.21
Read USD amount from summary: 332.46
Read BSQ rate from summary: 0.67

## Errors
No compensation lineitems found.

[2020-09-22 12:37] ghost commented on #670
## Info
Read BSQ amount from summary: 496.21
Read USD amount from summary: 332.46
Read BSQ rate from summary: 0.67

## Errors
No compensation lineitems found.

[2020-09-22 12:40] ghost commented on #670
## Info
Read BSQ amount from summary: 496.21
Read USD amount from summary: 332.46
Read BSQ rate from summary: 0.67

## Errors
No compensation lineitems found.

[2020-09-22 12:44] ghost commented on #670
## Info
Read BSQ amount from summary: 496.21
Read USD amount from summary: 332.46
Read BSQ rate from summary: 0.67

## Errors
No compensation lineitems found.

[2020-09-22 12:47] ghost commented on #670
## Info
Read BSQ amount from summary: 496.21
Read USD amount from summary: 332.46
Read BSQ rate from summary: 0.67

## Errors
No compensation lineitems found.

[2020-09-22 12:47] ghost commented on #670
## Info
Read BSQ amount from summary: 496.21
Read USD amount from summary: 332.46
Read BSQ rate from summary: 0.67

## Errors
No compensation lineitems found.

[2020-09-22 13:32] ripcurlx opened #671 "For Cycle 17"
## Summary

- **BSQ requested**: **`4046`**
- USD requested: 2711
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #652

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev | 660 | https://github.com/bisq-network/roles/issues/63#issuecomment-696731362 |  |
| Bitcoin Fullnode Operator| ops | 5

[2020-09-22 14:12] stejbac opened #672 "For Cycle 17"
## Summary

- **BSQ requested**: **`298.51`**
- USD requested: 200
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/565

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Review: Add multiple fee receivers | dev | 100 | https://github.com/bisq-network/bisq/pull/4294 |

[2020-09-22 14:29] ChanoSan opened #673 "For Cycle 17"
## Summary

- **BSQ requested**: **`67.91`**
- USD requested: 45.5
- BSQ rate: 0.67 USD per BSQ as in #656
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Japanese Translator | Growth | 45.5 | image at bottom | bisq-desktop only |

## Contributions in progress

650 words *0.07 = 45.5 (several st

[2020-09-22 14:52] MwithM commented on #670
As [transifex admin](https://github.com/bisq-network/roles/issues/20) and with @m52go persmission, I approve this request. Submit this to DAO vote and publish the TXID.

Just let me point that the 20 USD for translating strings at cycle 12 are approved on this request because there was a part of translations that were still not paid after the DAO rejected the request because there was unapproved w

[2020-09-22 15:08] ghost commented on #662
## Info
Read BSQ amount from summary: 1492537
Read USD amount from summary: 10000
Read BSQ rate from summary: 0.67

## Errors
Unknown team specified: segwit
Tableformat: request lineitem #1 did not pass validation.
Unknown team specified: segwit
Tableformat: request lineitem #2 did not pass validation.
No compensation lineitems found.

[2020-09-22 15:36] ghost commented on #662
## Info
Read BSQ amount from summary: 1492537
Read USD amount from summary: 10000
Read BSQ rate from summary: 0.67
Parsed lineitem: {"team":"dev","amount":5000}
Parsed lineitem: {"team":"dev","amount":5000}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 1492537.00 BSQ
   - Calculated total: 14925.37 BSQ

[2020-09-22 20:56] m52go commented on #657
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth.

[2020-09-22 21:10] m52go commented on #670
[Approved](https://bisq.wiki/Compensation#Team_Lead), with expectation that this will be put to good use soon in a CNY growth initiative.

[2020-09-22 21:25] Bisq-knight opened #674 "For Cycle 17"
## Summary

- **BSQ requested**: **`1492`**
- USD requested: 1000
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): [#654](https://github.com/bisq-network/compensation/issues/654)

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediation | Support | 1000 | [Roles report Cycle 17](https://github.com/bisq-network/roles/

[2020-09-22 21:46] m52go commented on #666
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth. Go ahead and submit to the DAO and post your txid here.

Had a conversation about this with @cd2357. This particular article took a while to research and write, but it's well-done, addresses a topic that Bisq users care about (see [Twitter](https://twitter.com/bisq_network/status/1305900463250759680) and support requests), and furthe

[2020-09-22 21:48] m52go commented on #661
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth :+1:

[2020-09-22 21:52] m52go commented on #660
@MwithM and I discussed this a few weeks ago. I [approve](https://bisq.wiki/Compensation#Team_Lead) this submission based on the idea that Rankia is a good medium. For what it's worth, @acrual has been around Bisq for a while ([link](https://github.com/bisq-network/proposals/issues?q=is%3Aissue+author%3Aacrual+is%3Aclosed) and [link](https://github.com/bisq-network/bisq/issues?q=is%3Aissue+author%

[2020-09-22 21:54] m52go commented on #668
[Approved](https://bisq.wiki/Compensation#Team_Lead)—please submit to the DAO and post txid here.

[2020-09-22 22:09] leo816 opened #675 "For Cycle 17"
## Summary

- **BSQ requested**: **`3456`**
- USD requested: 2316
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #651

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-699209981 |  |
| L1 Support Agent | Support | 500 |https://gi

[2020-09-22 22:12] leo816 commented on #674
Please give a little more detail of the problems you've seen with the different cases (% of unresponsive sellers, banking issues etc) My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-09-22 23:40] m52go opened #676 "For Cycle 17"
## Summary

- **BSQ requested**: **`4216`**
- USD requested: 2825
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #649

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Overhaul site copy | growth | 400 | https://github.com/bisq-network/bisq-website/pull/389 | Update front page copy, FAQ content, and other text across

[2020-09-23 01:12] wiz commented on #657
Approved for ops

[2020-09-23 01:14] wiz commented on #665
Approved for ops

[2020-09-23 01:14] wiz commented on #671
Approved for ops

[2020-09-23 01:15] wiz commented on #667
Approved for ops

[2020-09-23 05:25] devinbileck commented on #665
Tx ID b34a6868e87f8600e978c0bf5b97bb1feb24db964ea6b0761021a66b62dd11e3

[2020-09-23 06:06] ghost commented on #676
## Info
Read BSQ amount from summary: 4216
Read USD amount from summary: 2825
Read BSQ rate from summary: 0.67

## Errors
No compensation lineitems found.

[2020-09-23 06:07] ghost commented on #676
## Info
Read BSQ amount from summary: 4216
Read USD amount from summary: 2825
Read BSQ rate from summary: 0.67

## Errors
No compensation lineitems found.

[2020-09-23 06:09] ghost commented on #676
## Info
Read BSQ amount from summary: 4216
Read USD amount from summary: 2825
Read BSQ rate from summary: 0.67

## Errors
No compensation lineitems found.

[2020-09-23 06:20] m52go commented on #676
Not sure what's going on with [the bot](https://github.com/bisq-network/growth/blob/fc017d6d5591b6b56e6be563bc7423bba4e82250/reporting/compensation-bot/crParser.js#L300). Ideas?

[2020-09-23 06:46] MwithM commented on #676
It looks good, I don't know.
@jmacxx ¿?

[2020-09-23 06:52] wiz commented on #676
maybe because you have quotes in it

[2020-09-23 06:53] wiz commented on #676
Approved for ops

[2020-09-23 06:56] MwithM commented on #662
@wiz If this is pending on approving a proposal on the DAO, will this issue produce a DAO submission? Should it be tagged as "For cycle 17"?
Let me know how to deal with this special compensation request.

[2020-09-23 07:01] MwithM commented on #675
Submission deadline ended a few hours ago. Please complete the request and remove [WIP] tag header as soon as possible.

[2020-09-23 07:38] MwithM commented on #673
I approve this. Please submit the request to the Bisq DAO and publish here the resulting TXID.

[2020-09-23 09:10] acrual commented on #660
Great! Many thanks! :)

DAO txid: f8cd956498f7adc19088af450fcb79bbb81d6182c455ed8032e4a9b8cc31c11d

[2020-09-23 09:20] Emzy opened #677 "For Cycle 17"
## Summary

- **BSQ requested**: **`1343`**
- USD requested: 900
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #644

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 3* Seed node operator | ops* | 300 | bisq-network/roles#15 |  |
| Pricenode operat

[2020-09-23 09:48] wiz commented on #677
Approved for ops

[2020-09-23 09:48] sqrrm commented on #671
Approved for dev

[2020-09-23 11:00] MwithM commented on #661
TXID `53dd7afa1b1183c437a808063267fa183ea99825c6c29bfb04cf1c160ce0c9fb`

[2020-09-23 13:18] softsimon opened #678 "For Cycle 17"
## Summary

* **BSQ requested**: **`7462`**
* USD requested: 5000
* BSQ rate: 0.67 USD per BSQ
* Previous compensation request (if applicable): #625

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Markets API re-implementation in NodeJS | ops | 5000 | https://github.com/mempool/mempool/pull/107 | https://github.com/bisq-network/projects/iss

[2020-09-23 13:18] ghost commented on #678
## Info
Read BSQ amount from summary: 7462
Read USD amount from summary: 5000
Read BSQ rate from summary: 0.67

## Errors
No compensation lineitems found.

[2020-09-23 13:28] ripcurlx commented on #658
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-09-23 13:32] ghost commented on #676
## Info
Read BSQ amount from summary: 4216
Read USD amount from summary: 2825
Read BSQ rate from summary: 0.67

## Errors
No compensation lineitems found.

[2020-09-23 13:34] ripcurlx commented on #662
Not sure what proposal @wiz was referring to that needs to pass the DAO voting as it was approved already without putting it to the DAO for voting. @chimp1984 is reviewing @oscarguindzberg work before anything is merged into master.
So from my side as stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID

[2020-09-23 13:34] ripcurlx commented on #672
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-09-23 13:35] ripcurlx commented on #667
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-09-23 13:36] ripcurlx commented on #663
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-09-23 13:42] ghost commented on #676
@m52go you confused the poor bot by not having an EOL on the last line of your table.  I'll work on fixing this, in the meantime if you edit your comp request and just add a newline at the end.  Thanks!

[2020-09-23 13:43] wiz commented on #678
@jmacxx is this because of missing EOL issue?

[2020-09-23 13:44] ghost commented on #678
Yes.  It never rains, it pours, right?

[2020-09-23 13:45] ripcurlx commented on #655
@freimair Regarding the Tor upgrade: Is this just about the version upgrade or includes review/research of the Tor changelog and some testing efforts? Just for clarification purpose.

[2020-09-23 13:51] ghubstan commented on #658
ec9ea671050f452c70df95af9bdf15a4d215dca194b1eace390c110eda6b2f4b

[2020-09-23 14:26] m52go commented on #676
@jmacxx thanks for the quick fix. I'll try to be nicer to it next time :)

[2020-09-23 15:33] RefundAgent opened #679 "For Cycle 17"
## Summary
Refund Agent compensation September 23

29 cases handled , 50 USD each. $1450 or 2164.18 BSQ.

1.41464 BTC has been paid out giving an interest of 0.0141464 BTC = $148.19 = 221.18 BSQ

In total $1598.19 or 2385.36 BSQ.

- **BSQ requested**: **`2385.36`**
- USD requested: 1598.19
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #636

## Contributions delivere

[2020-09-23 15:33] ghost commented on #679
## Info
Read BSQ amount from summary: 2494.3
Read USD amount from summary: 1671.18
Read BSQ rate from summary: 0.67

## Errors
Unknown team specified: first
Invalid amount specified: item
Tableformat: request lineitem #1 did not pass validation.
No compensation lineitems found.

[2020-09-23 15:39] ghost commented on #679
## Info
Read BSQ amount from summary: 2385.36
Read USD amount from summary: 1598.19
Read BSQ rate from summary: 0.67
Parsed lineitem: {"team":"support","amount":1671.18}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1598.19 USD
   - Calculated total: 1671.18 USD

[2020-09-23 17:34] burningman3 opened #680 "For Cycle 17"
## Summary

- **BSQ requested**: **`[1000]`**
- USD requested: [670]
- BSQ rate: [0.67] USD per BSQ
- Previous compensation request (if applicable): #653

I ask for 1000 BSQ per month for performing this role. I think this is a reasonable rate as it relates to the bond, personal risk and the expected amount of work correlating to bisq activity.

## Contributions delivered

| Title | Team | USD | L

[2020-09-23 19:59] cd2357 commented on #666
Tx ID: 3b307637b92a9b39115dfbc898cd99b5c41a3fde3df1ae7db6626c21d62d0e22

[2020-09-23 21:12] MwithM commented on #674
Previous compensation request # is missing.

[2020-09-23 22:30] wiz commented on #662
It's not "pending" anything, it's "subject to the terms of" the linked proposal. See the proposal for the details.

[2020-09-23 23:28] Emzy commented on #677
TXID: 283a23bdf13732a64b2502194cc3a28cd56c0060bfa7c151b356980d09e90e20

[2020-09-24 01:58] ChanoSan commented on #673
TXID `40fb114cce06874064544b12b7601d9b0b6c05d6c93f86ca42127036c6bac442`

[2020-09-24 05:39] stejbac commented on #672
Tx ID: a921518ea357e5e8eb339272f11b40eb759f6e50cff76fe80b2fa09907f1606a

[2020-09-24 07:45] sqrrm commented on #667
Tx: 37e1b3554f721c7f261808a4291362e3e74e217485e781b4c5b92b85b5120aec

[2020-09-24 09:19] wiz commented on #678
Approved for ops

[2020-09-24 12:38] wiz commented on #662
As per bisq-network/proposals#247 the Guarantor has created DAO proposal with TXID
`a78ec3ddd7d2b65b4a29c2429f0a0a35239516e6a7cf4b6dff15bf82ad291698` @oscarguindzberg can you please confirm this

[2020-09-24 14:07] oscarguindzberg commented on #662
I am happy the BSQ going to the guarantor as per https://github.com/bisq-network/proposals/issues/247

[2020-09-24 15:11] freimair commented on #655
well, tor upgrade is always:
- releasing a new [tor-binary](https://github.com/JesusMcCloud/tor-binary/releases/tag/0.4.3.6)
- releasing a new [netlayer](https://github.com/JesusMcCloud/netlayer/releases/tag/0.6.8)
- include these releases in bisq as per the PR
- see if everything works on Linux - although we never had issues when just upgrading the tor version

prior to doing the actual release a

[2020-09-24 19:33] ripcurlx commented on #655
That was the information I was missing here - thanks. As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-09-25 11:02] softsimon commented on #678
a93d9c83aaadf29e1599df19e473da05df2111c014c5c9ef884b37a23a8b04dc

[2020-09-25 15:00] burningman3 commented on #680
Tx ID: f00e8264107a837b5c4a9a798f3b71169124df8592d61d0b574dec3c1e6c9936

[2020-09-25 15:12] ghost commented on #663
TxId: 5acd44c35a38fffee0871a5462819190430aa7dbdc0ce9e7cad04555e169b6e7

[2020-09-25 19:22] ripcurlx commented on #671
TxID: `bb496b4d600c82c6e786fc5347a9af847ec5282939b70f80816a818fbbec79cc`

[2020-09-25 22:58] ghost commented on #675
## Info
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":0}
Parsed lineitem: {"team":"support","amount":0}

## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section

[2020-09-25 23:19] leo816 commented on #675
Was on hold until I figured out the issue with the fee reimbursements. now completed.

[2020-09-26 08:04] leo816 commented on #675
Proposal Tx id. 18d069f79cc7025e17b1b08b096f0d89f97c5901bb488807596276b81640e2f5

[2020-09-26 08:05] mrosseel opened #681 "For Cycle 17"
## Summary

- **BSQ requested**: **`447`**
- USD requested: 300
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #638

## Contributions delivered

| Title                         | Team | USD    | Link  | Notes |
| ---                           | --- | ---     | ---   | ---   |
| 1x pricenode Operator            | ops* | 50      | [bisq-network/roles#14](https://github

[2020-09-26 08:07] leo816 commented on #676
For Support, My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-09-26 08:44] Bisq-knight commented on #674
My bad. now it's there

[2020-09-26 10:12] wiz commented on #681
Approved for ops

[2020-09-26 13:07] mrosseel commented on #681
txid: 3cfa9f6d77e987b37d812fc6e8249c0185df990050a7b03f8f668314eb3fabce

[2020-09-26 14:10] Bisq-knight commented on #674
tx id
`af183951b9f2833fb9ea77356087baa9963d67cfd1f716bb890f83ec5da5afeb`

[2020-09-26 15:07] RefundAgent commented on #679
TxID:   a014f3*********d3f46

[2020-09-26 19:53] wiz opened #682 "For Cycle 17"
## Summary

* **BSQ requested**: **`7164`**
* USD requested: 4800
* BSQ rate: 0.67 USD per BSQ
* Previous compensation request (if applicable): #650

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Implement https:// usage for Monero Explorer API | dev | 600 | https://github.com/bisq-network/bisq/pull/4492 |  |
| Work on Bisq Markets API rewrite

[2020-09-26 20:44] freimair commented on #655
569aa6fb07ab2bdf3f0841fafd2a10dd5bd32386555d765dbcaa960b568b5d1

[2020-09-26 23:18] m52go commented on #676
`cd97d59c80e591f363e0eef63e68f9eb1f56005312bfe0873633de95e7f0d1d6`

[2020-09-27 08:28] leo816 commented on #679
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request.

[2020-09-27 08:32] leo816 commented on #680
As was mentioned last month, please make sure next cycle you use a fixed rate in USD to make the compensation. It is the standard we use with everyone else. If you don't, the compensation request will not have my approval.
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request.

[2020-09-27 08:34] leo816 commented on #682
Make sure you make the mediator cycle report for this month, from the support side My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-09-27 09:51] sqrrm commented on #682
I approve of dev.

[2020-09-28 03:44] wdljt commented on #670
txID:a027b4af8b1a9d250a8beab34865539c4d33ac78dc33d0798a4276d441ec0969

[2020-09-28 17:54] ripcurlx commented on #675
I post-approve this request as dev team lead.

[2020-09-29 08:34] wiz commented on #682
bddd967c513d666f11778bc206fc5ec81df79cef358ca421149ff221b03c7f37

[2020-09-29 09:03] MwithM commented on #680
I don't see the problem in asking for less compensation, as long as he knows that he could ask 1000USD for this and next cycles and that this is the limit for this role.

[2020-09-30 07:27] ripcurlx commented on #660
@acrual You made a mistake in your compensation request posting `https://bisq-network/dao-compensation/660` instead of `https://bisq.network/dao-compensation/660`. I guess most reviewers will be sophisticated enough to find the correct proposal, but it might be the case that you have to re-submit it in the next cycle if it is voted down because of that.

[2020-10-01 20:55] acrual commented on #660
Oh thanks, what an idiotic mistake from my side!

Regards!

[2020-10-05 06:38] MwithM commented on #668
Closed as rejected

[2020-10-05 06:38] #668 closed, assigned to m52go

[2020-10-05 06:39] ghost commented on #675
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|3456.00|2316.00|

Total Issuance: 3456.00 BSQ (equivalent to: 2316.00 USD)

[2020-10-05 06:39] MwithM commented on #675
Closed as accepted

[2020-10-05 06:39] #675 closed, assigned to ripcurlx

[2020-10-05 06:40] ghost commented on #664
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|74.63|50.00|

Total Issuance: 74.63 BSQ (equivalent to: 50.00 USD)

[2020-10-05 06:40] MwithM commented on #664
Closed as accepted

[2020-10-05 06:40] #664 closed, assigned to nobody

[2020-10-05 06:40] ghost commented on #665
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1641.79|1100.00|

Total Issuance: 1641.79 BSQ (equivalent to: 1100.00 USD)

[2020-10-05 06:40] MwithM commented on #665
Closed as accepted

[2020-10-05 06:40] #665 closed, assigned to nobody

[2020-10-05 06:41] ghost commented on #661
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|893.29|598.50|
|support|746.27|500.00|
|admin|261.19|175.00|

Total Issuance: 1900.75 BSQ (equivalent to: 1273.50 USD)

[2020-10-05 06:41] MwithM commented on #661
Closed as accepted

[2020-10-05 06:41] #661 closed, assigned to m52go, leo816

[2020-10-05 06:41] ghost commented on #666
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|149.25|100.00|

Total Issuance: 149.25 BSQ (equivalent to: 100.00 USD)

[2020-10-05 06:41] MwithM commented on #666
Closed as accepted

[2020-10-05 06:41] #666 closed, assigned to m52go

[2020-10-05 06:42] ghost commented on #672
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|298.51|200.00|

Total Issuance: 298.51 BSQ (equivalent to: 200.00 USD)

[2020-10-05 06:42] MwithM commented on #672
Closed as accepted

[2020-10-05 06:42] #672 closed, assigned to ripcurlx

[2020-10-05 06:42] ghost commented on #673
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|67.91|45.50|

Total Issuance: 67.91 BSQ (equivalent to: 45.50 USD)

[2020-10-05 06:42] MwithM commented on #673
Closed as accepted

[2020-10-05 06:42] #673 closed, assigned to m52go, MwithM

[2020-10-05 06:42] ghost commented on #677
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1343.00|900.00|

Total Issuance: 1343.00 BSQ (equivalent to: 900.00 USD)

[2020-10-05 06:42] MwithM commented on #677
Closed as accepted

[2020-10-05 06:42] #677 closed, assigned to nobody

[2020-10-05 06:42] ghost commented on #667
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4298.70|2880.00|
|ops|343.30|230.00|

Total Issuance: 4642.00 BSQ (equivalent to: 3110.00 USD)

[2020-10-05 06:42] MwithM commented on #667
Closed as accepted

[2020-10-05 06:42] #667 closed, assigned to ripcurlx

[2020-10-05 06:43] ghost commented on #662
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|14925.37|10000.00|

Total Issuance: 14925.37 BSQ (equivalent to: 10000.00 USD)

[2020-10-05 06:43] MwithM commented on #662
Closed as accepted

[2020-10-05 06:43] #662 closed, assigned to ripcurlx

[2020-10-05 06:43] ghost commented on #681
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|447.00|300.00|

Total Issuance: 447.00 BSQ (equivalent to: 300.00 USD)

[2020-10-05 06:43] MwithM commented on #681
Closed as accepted

[2020-10-05 06:43] #681 closed, assigned to nobody

[2020-10-05 06:44] ghost commented on #678
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|7462.00|5000.00|

Total Issuance: 7462.00 BSQ (equivalent to: 5000.00 USD)

[2020-10-05 06:44] MwithM commented on #678
Closed as accepted

[2020-10-05 06:44] #678 closed, assigned to nobody

[2020-10-05 06:44] ghost commented on #663
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1119.00|750.00|

Total Issuance: 1119.00 BSQ (equivalent to: 750.00 USD)

[2020-10-05 06:44] MwithM commented on #663
Closed as accepted

[2020-10-05 06:44] #663 closed, assigned to ripcurlx

[2020-10-05 06:44] ghost commented on #671
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|3934.07|2636.00|
|ops|111.93|75.00|

Total Issuance: 4046.00 BSQ (equivalent to: 2711.00 USD)

[2020-10-05 06:45] MwithM commented on #671
Closed as accepted