[2019-01-02 06:34] ripcurlx commented on #198
@oscarguindzberg I didn't transfer your compensation request for voting because it was marked with [WIP]. Feel free to submit it for next month's voting cycle.

[2019-01-04 08:46] freimair opened #200 "For January 2019"
## Summary

 - BSQ requested: 7000
 - BSQ address: B1JJUQWUHEoUwng4uGGWsT4hnTMc6dXtj9K

## Contributions delivered

- Sins commited in a previous year got a hold of me. Fixed in https://github.com/bisq-network/bisq/pull/2194.
- Monitor release: Showing off (https://github.com/bisq-network/bisq/pull/2348)
- Presentation of Monitor progress: https://www.youtube.com/watch?v=M4cusbcI_j8

## Contributi

[2019-01-04 09:35] ripcurlx commented on #200
@freimair That's a first, that a compensation request is prepared already in the beginning of the month :+1:

[2019-01-04 14:46] KanoczTomas opened #201 "For November 2018 - January 2019"
## Summary
 - BSQ requested: 305
 - BSQ address: B17TT6PsriwSLoKDnybE4LoDazkffQxtx3G

## Contributions delivered

### November 2018
- wrote update instructions for Monero transaction proof text [#1885](https://github.com/bisq-network/bisq/issues/1885) - **requesting bounty `30` BSQ**
- processed reimbursement issues for November 2018, [#155](https://github.com/bisq-network/support/issues/155), [#1

[2019-01-05 08:46] ripcurlx commented on #183
Compensation Voting Complete

This voting period is now complete, and the results are as follows:

15 contributors submitted 15 compensation requests.
Two first-time compensation requests this time (Welcome @initCCG and @ CaveSpectre11  👍).
7 stakeholders voted.

Total compensation requested was 48,685 BSQ.
Total compensation received was 48,685 BSQ.

We have now completed 15 monthly voting rounds

[2019-01-05 08:47] ripcurlx commented on #95
Closing as complete, see https://github.com/bisq-network/compensation/issues/183#issuecomment-451638745.

[2019-01-05 08:47] #95 closed

[2019-01-05 08:48] ripcurlx commented on #184
Closing as complete, see https://github.com/bisq-network/compensation/issues/183#issuecomment-451638745.

[2019-01-05 08:48] #184 closed

[2019-01-05 08:48] ripcurlx commented on #185
Closing as complete, see https://github.com/bisq-network/compensation/issues/183#issuecomment-451638745.

[2019-01-05 08:48] #185 closed

[2019-01-05 08:48] ripcurlx commented on #186
Closing as complete, see https://github.com/bisq-network/compensation/issues/183#issuecomment-451638745.

[2019-01-05 08:48] #186 closed

[2019-01-05 08:48] ripcurlx commented on #187
Closing as complete, see https://github.com/bisq-network/compensation/issues/183#issuecomment-451638745.

[2019-01-05 08:48] #187 closed

[2019-01-05 08:48] ripcurlx commented on #188
Closing as complete, see https://github.com/bisq-network/compensation/issues/183#issuecomment-451638745.

[2019-01-05 08:48] #188 closed

[2019-01-05 08:49] ripcurlx commented on #189
Closing as complete, see https://github.com/bisq-network/compensation/issues/183#issuecomment-451638745.

[2019-01-05 08:49] #189 closed

[2019-01-05 08:49] ripcurlx commented on #190
Closing as complete, see https://github.com/bisq-network/compensation/issues/183#issuecomment-451638745.

[2019-01-05 08:49] #190 closed

[2019-01-05 08:49] ripcurlx commented on #191
Closing as complete, see https://github.com/bisq-network/compensation/issues/183#issuecomment-451638745.

[2019-01-05 08:49] #191 closed

[2019-01-05 08:49] ripcurlx commented on #192
Closing as complete, see https://github.com/bisq-network/compensation/issues/183#issuecomment-451638745.

[2019-01-05 08:49] #192 closed

[2019-01-05 08:49] ripcurlx commented on #194
Closing as complete, see https://github.com/bisq-network/compensation/issues/183#issuecomment-451638745.

[2019-01-05 08:49] #194 closed

[2019-01-05 08:49] ripcurlx commented on #195
Closing as complete, see https://github.com/bisq-network/compensation/issues/183#issuecomment-451638745.

[2019-01-05 08:49] #195 closed

[2019-01-05 08:49] ripcurlx commented on #196
Closing as complete, see https://github.com/bisq-network/compensation/issues/183#issuecomment-451638745.

[2019-01-05 08:49] #196 closed

[2019-01-05 08:49] ripcurlx commented on #197
Closing as complete, see https://github.com/bisq-network/compensation/issues/183#issuecomment-451638745.

[2019-01-05 08:49] #197 closed

[2019-01-05 08:49] ripcurlx commented on #199
Closing as complete, see https://github.com/bisq-network/compensation/issues/183#issuecomment-451638745.

[2019-01-05 08:49] #199 closed

[2019-01-05 08:50] ripcurlx commented on #183
Closing as complete.

[2019-01-05 08:50] #183 closed

[2019-01-07 11:36] alfsbs opened #202 "For November 2018"
## Summary

- BSQ requested: 200
- BSQ address: B16kMZonmnNXrZvSqGuXVjpWWTZnSVG3xJb
 
## Contributions delivered
 
- [Payment Methods Slack](https://bisq.slack.com/messages/C89R6FQS3/)
- [Payment Methods Community](https://bisq.community/c/payment-methods)
- [Payment Methods Tracking and Report](https://docs.google.com/spreadsheets/d/1AeWAz5w_IzIQ3-QS9yEzZBOTH_83DT503IhLg_PQD10/edit?usp=sharing)
-

[2019-01-07 11:37] alfsbs opened #203 "For December 2018"
## Summary
 
- BSQ requested: 200
- BSQ address: B16kMZonmnNXrZvSqGuXVjpWWTZnSVG3xJb
 
## Contributions delivered
 
- [Payment Methods Slack](https://bisq.slack.com/messages/C89R6FQS3/)
- [Payment Methods Community](https://bisq.community/c/payment-methods)
- [Payment Methods Tracking and Report](https://docs.google.com/spreadsheets/d/1AeWAz5w_IzIQ3-QS9yEzZBOTH_83DT503IhLg_PQD10/edit?usp=sharing)

[2019-01-28 09:01] ripcurlx opened #204 "Conduct Feb 1st–4th compensation request voting"
_(previous voting round: #183 )_

 - [x] Announce call for requests 3 days ahead and provide instructions on how to submit in a comment on this issue
 - [x] Announce that the review period (1st) has begun in a comment on this issue
 - [x] Transcribe [compensation requests](https://github.com/bisq-network/compensation/issues) to [stake and voting spreadsheet](https://docs.google.com/spreadsheets/d/

[2019-01-28 09:03] ripcurlx commented on #204
@bisq-network/contributors, please submit any compensation requests by EOD on Thursday January 31st.

As usual, instructions can be found at https://docs.bisq.network/dao/phase-zero.html#how-to-request-compensation. Thanks.

To match the setup of the Bisq DAO on Testnet, we'll have an additional review day on February 1st and the voting takes place from 2nd to 4th of February.

Please also add you

[2019-01-28 17:55] ManfredKarrer opened #205 "For January 2019"
## Basic information

 - BSQ amount requested: **15600**
 - BSQ address: **B1N15prE63ZHC7grk2hyuVDLNfrQYCkDT84**

## Details

### Development work:
- Development work [1]
- Preparation and testing for v0.9.2 release
- Hotfix for v0.9.3 release
- Code review

### Others:
- Onboarding/coordination with new developers
- Created 2 new branches and PRs for API and new trade protocol
- Add DAO monitor n

[2019-01-29 11:46] KanoczTomas commented on #204
@ripcurlx the compensation request is greyed out in the testnet DAO. When will the proposal phase be available roughly? Also I assume the BSQ address has to be used from the mainnet DAO as before, right?

[2019-01-29 14:24] ripcurlx commented on #204
The Bisq DAO Testnet compensation request is just for testing, the real voting will still take place in the spreadsheet. I think the next voting phase on Testnet will start some time tomorrow or the day after (depending on your timezone).

[2019-01-29 14:34] ripcurlx opened #206 "For January 2019"
## Summary

 - BSQ requested:`10405`
 - BSQ address: B1Dj1kAGDs4AGh83cPFJBQC7pDubtuZV2ZS

## Contributions delivered

**Reviews of PRs**
I monitor PR reviews separately from the responsibilities of the Bisq Desktop Maintainer role.

_Reviewed PRs:_
- https://github.com/bisq-network/bisq/pull/2198
- https://github.com/bisq-network/bisq/pull/2165
- https://github.com/bisq-network/bisq/pull/2164
- ht

[2019-01-29 23:56] pedromvpg opened #207 "For January 2019"
## Summary

 - BSQ requested: 3000
 - BSQ address: B18BA37KaiSHLMhyjs7FMPAJMfcVcVzJPCm

## Contributions delivered

Start a bisq instagram account to organically establish presence on the bitcoin circles ahead of a potential bull market in the next coming years.

Start generating compelling and animated visual content to drive users to the client and signal to potential contributors that bisq is s

[2019-01-30 00:11] pedromvpg opened #208 "[WIP] For January 2019"
## Summary

 - BSQ requested: 1000
 - BSQ address: B18BA37KaiSHLMhyjs7FMPAJMfcVcVzJPCm

## Contributions delivered

First working prototype to code implementation of the monthly reporting tool within the website environment.

Objective: to simplify and automate the issuing of reports and embedded them on the website blog to enrich the content and provide more information in one single location wit

[2019-01-30 00:16] pedromvpg opened #209 "For January 2019"
## Summary

 - BSQ requested: 50
 - BSQ address: B18BA37KaiSHLMhyjs7FMPAJMfcVcVzJPCm

## Contributions delivered

QA website:
1. Navigation active state issue
2. Markets page pair selection issue

## Roles performed

Designer

[2019-01-30 10:07] HarryMacfinned commented on #209
@pedromvpg ,
The usual usage for compensation request is to open only one issue per month, and to group everything inside.

[2019-01-30 11:02] eyalron33 opened #210 "For December 2018 and January 2019"
This compensation request regards a variety of contributions made to Bisq during December 2018 and January 2019.

    BSQ amount requested: 5000 (3000 for December 2018 + 2000 for January 2019)
    BSQ address: B1PU7DoYDHWi2impz86Fvu3ZgsREaBnGJBW

## Contributions delivered

### Development:

- Collaborating with Craig Sailor on the Bisq new trade protocol ([github repository](https://github.com/c

[2019-01-30 11:34] ripcurlx commented on #204
@bisq-network/contributors As the proposal phase is active right now on Testnet, please file your compensation requests there as well. You can link your CR also if it is still [WIP], but it would be great if we have a mirror state on Testnet this time and also do the voting in the voting spreadsheet and on Testnet! Thanks!

[2019-01-30 20:09] arunasurya opened #211 "For January 2019"
## Summary

- BSQ requested: 350
- BSQ address: B1PFD3uscJqFQfLNAS6bWQtr1PUahrWNvC7

## Contributions delivered

### Reviews and feedback: 100BSQ
Reviewed and provided feedback to @m52go on [the Introduction to Bisq DAO](https://docs.bisq.network/user-dao-intro.html).

### Transifex Reviews and Glossary Additions for Russian: 250BSQ
- https://www.transifex.com/user/profile/arunasurya/: reviewed ov

[2019-01-30 20:22] Emzy opened #212 "For January 2019"
## Summary

 - BSQ requested: 400
 - BSQ address: B16X76GXZ3hDTkDRiRtb1bYN1bAuDpP7nSE

## Contributions delivered

None.

## Contributions in progress

None.

## Roles performed

- Bisq Pricenode Operator at bisq-network/roles#14 (50)
- Bisq Seednode Operator at bisq-network/roles#15 (50)
- Bisq Bitcoin Node Operator at bisq-network/roles#67 (250)
- Bisq Mailman Operator at bisq-network/roles#26 (

[2019-01-30 22:54] sqrrm opened #213 "For January 2019"
## Summary

 - BSQ requested: `1660`
 - BSQ address: B1EFcs4HsAijnxFwZB8QudD5wNTRwTUnNGJ

## Contributions delivered

### Reviews

https://github.com/bisq-network/bisq/pull/2191
https://github.com/bisq-network/bisq/pull/2195

**BSQ requested** `230`

### DAO Explorer at https://explorer.bisq.network/ and https://explorer.sqrrm.net/
We had some trouble with the seed nodes this month due to memory c

[2019-01-31 02:04] CaveSpectre11 opened #214 "For January"
## Summary

 - BSQ requested: 50
 - BSQ address: B1M4i1X6oq3i8YaA6C9tgYUF86EZ8r6MdZC

## Contributions delivered

https://github.com/bisq-network/bisq/pull/2187 as reported in https://github.com/bisq-network/bisq/issues/2134
50 BSQ.  Fixed color saturation on buttons when hovering or selected.

## Contributions in progress

(I have been busy with my day job 14 hour days and have not been able to p

[2019-01-31 07:41] devinbileck opened #215 "For January 2019"
## Summary

 - BSQ requested: 4000
 - BSQ address: B1N7BFqBX2MUmbZ4KGNKujooPaWBxTyVx6H

## Contributions delivered

- Updated Windows install experience. Key features include abort the installer if the application is running prior to install or uninstall (e.g. to prevent file in use conflicts), and added German, French, and Spanish translations (all text content shown within the installer dialogs

[2019-01-31 13:45] alexej996 opened #216 "For January 2019"
## Summary
 - BSQ requested: **3000**
 - BSQ address: **B1CS43KxAFaTQFK4xPMKxybGffmp89zg7QS**
## Roles performed
- Support Staff: https://github.com/bisq-network/roles/issues/64#issuecomment-459353230 (2600 BSQ)
- Forum operator: https://github.com/bisq-network/roles/issues/19#issuecomment-459362187 (250 BSQ)
- Reddit moderator: https://github.com/bisq-network/roles/issues/25#issuecomment-45935702

[2019-01-31 17:28] HarryMacfinned opened #217 "For January 2019"
## Summary

 - BSQ requested: `2400`
 - BSQ address: B19yxYCRTVaDfRfucrH6aEzeZpoVTv8Je8S

This compensation request :
- follows the https://docs.bisq.network/roles.html#compensation recommendations
- applies the 1BSQ=1USD rule
- is atm quite a copy/paste from the previous compensation requests (for the roles) which didn't take into account the activity increase since Q4/2018 (-> this will probably

[2019-02-01 06:39] alfsbs opened #218 "For January 2019"
## Summary
 
- BSQ requested: 100
- BSQ address: B16kMZonmnNXrZvSqGuXVjpWWTZnSVG3xJb
 
## Contributions delivered
 
- [Payment Methods Slack](https://bisq.slack.com/messages/C89R6FQS3/)
- [Payment Methods Community](https://bisq.community/c/payment-methods)
- [Payment Methods Tracking and Report](https://docs.google.com/spreadsheets/d/1AeWAz5w_IzIQ3-QS9yEzZBOTH_83DT503IhLg_PQD10/edit?usp=sharing)

[2019-02-01 07:08] m52go opened #219 "For January 2019"
## Summary

 - BSQ requested: `8150`
 - BSQ address: B1FGfKZQrpbLN9UNMogyJAVTR5PJNRkGPXJ

## Contributions delivered

**Documentation**
- DAO Introduction ([PR](https://github.com/bisq-network/bisq-docs/pull/96))
- DAO Getting Started ([PR](https://github.com/bisq-network/bisq-docs/pull/96))
- Backup/Recovery ([PR](https://github.com/bisq-network/bisq-docs/pull/95))
- Update old screenshots with n

[2019-02-01 09:11] ripcurlx commented on #204
@bisq-network/contributors All compensation requests that will be added to the voting spreadsheet end of today are already assigned to the corresponding contributor and moved to discussion. Please review and comment if necessary on the compensation requests today. Thanks!

[2019-02-01 09:14] ripcurlx commented on #201
To me your compensation request feels a little bit low compared to what you contributed.

[2019-02-01 09:15] ripcurlx commented on #202
@alfsbs In your two CR you are referencing the wrong report. It is always your report from last May.

[2019-02-01 09:40] ripcurlx commented on #209
@pedromvpg As @HarryMacfinned mentioned it would be great if you could merge CR of the same month into one issue next time. If the work is spread over multiple months, splitting it up is fine.

[2019-02-01 09:43] ripcurlx commented on #210
@eyalron33 It would be great if you could split up your contributions in the descriptions between the different contributions, so it is easier to evaluate. Also if people do similar tasks in the future they would have a reference they could use for their valuation of contribution.

[2019-02-01 09:46] ripcurlx commented on #211
@arunasurya As you started to work more and more in Transifex, do you think you would be up for taking over the Transifex maintainer role? I'm doing the updating of the translations within the client before every release with a script, so it is not much effort for me to continue to do it myself. But it would be great if someone could have an eye on comments and feedback within Transifex and to pus

[2019-02-01 09:49] ripcurlx commented on #215
Thanks for all your work and testing @devinbileck!

[2019-02-01 10:15] KanoczTomas commented on #201
@ripcurlx thanks, I reconsidered the amount requesting the automation script. From the stakeholders perspective it is much more then 5 BSQ value added. I strugle to find my contribution value so thanks for the feedback. I valued it to 200 BSQ, please share your thoughts if it is too much or the oposite. Also for the role I am doing for reimbursements 25 BSQ might be a bit low, but that is I though

[2019-02-01 10:31] eyalron33 commented on #210
@ripcurlx Good idea, I didn't think about it. Is it ok if I'll do it for the next time though? Because for this time I was just marking the hours for myself, without writing which task was done on each hour.

Sorry about that.

I added the amount of hours there for clarification.

[2019-02-01 10:35] ripcurlx commented on #210
I think we shouldn't add hours of work as we don't want to compensate time spent, but more work contributed. But yes, it would be great if you could split up for next month how the total sum you are requesting is made of.

[2019-02-01 10:37] ManfredKarrer commented on #206
@ripcurlx Your requested amount feels too low to me.

[2019-02-01 10:37] ManfredKarrer commented on #213
@sqrrm  Your requested amount feels too low to me.

[2019-02-01 10:39] ripcurlx commented on #201
There is no fixed value on a role. 25 BSQ is used by lots of contributors as a base value for roles you're holding and reporting when there is hardly any contribution involved in a month. So your updated amount looks now more realistic to me 👍

[2019-02-01 10:45] KanoczTomas commented on #201
@ripcurlx ah good to know. I had a gut feeling that the role amount is fixed :) Makes more sense now, thanks for clarifying.

[2019-02-01 15:49] ripcurlx commented on #206
@ManfredKarrer I haven't added my work on the 0.9.4 of this month in this compensation request. But still I've also forgot to add the contributions of the last two days to the compensation request. Just updated the amount.

[2019-02-01 16:42] ManfredKarrer commented on #206
All what it merged can be included (even if its not released)....

[2019-02-02 12:53] ripcurlx commented on #204
@bisq-network/contributors Compensation requests have been staged in the BSQ stake and vote tracking spreadsheet, and the voting period is now open.

The specific worksheet for this month is at https://docs.google.com/spreadsheets/d/1xlXDswj3251BPCOcII-UyWlX7o7jMkfYBE-IZ5te5Ck/edit#gid=476879080

Voting instructions are at https://docs.bisq.network/dao/phase-zero.html#how-to-vote.

Some of you wil

[2019-02-02 12:55] ripcurlx commented on #206
@ManfredKarrer I know, but for me it's easier in that regard to have it in the CR when it is released, as otherwise I would need to separate merge ornot merged to master contributions as well.

[2019-02-02 14:40] KanoczTomas commented on #207
@ripcurlx instagram is fine for small actions that were done, like mile stones with added graphics. I think putting the monghtly trades amount (with nice graphics) or new listings/delistings would be fine on it.

[2019-02-02 14:43] KanoczTomas commented on #209
To be honest I lack what was done in this CR, as I am fairly new could not really guess what was the work delivered - just giving feedback :)

[2019-02-02 14:45] KanoczTomas commented on #202
https://github.com/bisq-network/payment-methods/issues/19 is not working! (PM evaluation)

[2019-02-02 14:53] KanoczTomas commented on #211
@arunasurya is there a way to view the transifex aditions without having transifex account?
https://www.transifex.com/user/profile/arunasurya/ says profile for me. I am too lazy now to create an account, just maybe you could state it needs an account to verify, or maybe find out how it can be easily viewed by anyone. Of maybe copying it here would help as well, or linking a file.

[2019-02-02 16:00] devinbileck commented on #209
I agree that a more detailed description with links to GH issues would be very beneficial for those not following every single issue/PR to be able to make a decision when voting.

[2019-02-02 16:02] pedromvpg commented on #207
Here are some graphics I've been working on for potential future posts.

![screen shot 2019-02-02 at 11 01 39 am](https://user-images.githubusercontent.com/807505/52166342-00d20280-26da-11e9-9b40-24b24bec0ada.png)

[2019-02-04 09:41] mrosseel opened #220 "For Dec 2018, Jan, Feb 2019"
## Summary

 - BSQ amount requested: 750
 - BSQ address: B1CZf25cS7KrGJnT8Z5uq8DbUApZLydCkj

## Contributions delivered

## Contributions in progress

### Hosting
Monthly costs nodes: 50 / node * 5: 250 BSQ

Running:
1 Price node + bitcoinaverage subscription
1 Seed node
2 Bitcoin full nodes
1 Monitoring node + 1 messaging sync node (on one server)

Actual costs of nodes + subscription = 162 USD,

[2019-02-04 16:15] arunasurya commented on #211
@ripcurlx , sure I can take over the role. Maybe we can have a brief call to discuss how to transition smoothly? Let me know on slack!

[2019-02-04 18:32] KanoczTomas opened #221 "For February 2019"
## Summary

 - BSQ requested: 4320
 - BSQ address:  B17TT6PsriwSLoKDnybE4LoDazkffQxtx3G

## Contributions delivered

 * created scripts to automate regtest setup for DAO local testing. The script is prompting the user for Alice's and Bob's address and creates the genesis TX for them, spins up a regtest bitcoind and mines blocks accordingly. There are scripts to spin up bitcoind, seed node, alice a

[2019-02-05 07:42] ripcurlx commented on #204
Compensation Voting Complete

This voting period is now complete, and the results are as follows:

16 contributors submitted 18 compensation requests.
No first-time compensation requests this time.
7 stakeholders voted.

Total compensation requested was 47,115 BSQ.
Total compensation received was 47,115 BSQ.

We have now completed 16 monthly voting rounds. In total, we have approved the creation o

[2019-02-05 07:43] ripcurlx commented on #200
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:43] #200 closed

[2019-02-05 07:44] ripcurlx commented on #201
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:44] #201 closed

[2019-02-05 07:44] ripcurlx commented on #202
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:44] #202 closed

[2019-02-05 07:44] ripcurlx commented on #203
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:44] #203 closed

[2019-02-05 07:45] ripcurlx commented on #205
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:45] #205 closed

[2019-02-05 07:45] ripcurlx commented on #206
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:45] #206 closed

[2019-02-05 07:45] ripcurlx commented on #207
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:45] #207 closed

[2019-02-05 07:45] ripcurlx commented on #209
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:45] #209 closed

[2019-02-05 07:45] ripcurlx commented on #210
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:45] #210 closed

[2019-02-05 07:45] ripcurlx commented on #211
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:45] #211 closed

[2019-02-05 07:46] ripcurlx commented on #212
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:46] #212 closed

[2019-02-05 07:46] ripcurlx commented on #213
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:46] #213 closed

[2019-02-05 07:46] ripcurlx commented on #214
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:46] #214 closed

[2019-02-05 07:46] ripcurlx commented on #215
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:46] #215 closed

[2019-02-05 07:46] ripcurlx commented on #216
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:46] #216 closed

[2019-02-05 07:46] ripcurlx commented on #217
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:46] #217 closed

[2019-02-05 07:46] ripcurlx commented on #218
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:46] #218 closed

[2019-02-05 07:47] ripcurlx commented on #219
Closing as complete, see https://github.com/bisq-network/compensation/issues/204#issuecomment-460541588.

[2019-02-05 07:47] #219 closed

[2019-02-05 07:49] ripcurlx commented on #204
Closing as complete.

[2019-02-05 07:49] #204 closed

[2019-02-25 14:39] ripcurlx opened #222 "Conduct Mar 1st–4th compensation request voting"
_(previous voting round: #204 )_

 - [x] Announce call for requests 3 days ahead and provide instructions on how to submit in a comment on this issue
 - [x] Announce that the review period (1st) has begun in a comment on this issue
 - [x] Transcribe [compensation requests](https://github.com/bisq-network/compensation/issues) to [stake and voting spreadsheet](https://docs.google.com/spreadsheets/d/

[2019-02-25 14:41] ripcurlx commented on #222
@bisq-network/contributors, please submit any compensation requests by EOD on Thursday February 28th.

As usual, instructions can be found at https://docs.bisq.network/dao/phase-zero.html#how-to-request-compensation. Thanks.

To match the setup of the Bisq DAO on Testnet, we'll have an additional review day on March 1st and the voting takes place from 2nd to 4th of March.

Please also add your com

[2019-02-25 21:21] devinbileck opened #223 "For February 2019"
## Summary

 - BSQ requested: `3550`
 - BSQ address: `B1N7BFqBX2MUmbZ4KGNKujooPaWBxTyVx6H`

## Contributions delivered

My notable contributions include the following:

- **Generate RPM package as part of Linux packaging process.** We can now provide an installation package for RedHat-based Linux distributions which should help with adoption from more users.
PR: https://github.com/bisq-network/bis

[2019-02-26 08:48] ripcurlx opened #224 "For February 2019"
## Summary

 - BSQ requested:`16180`
 - BSQ address: B1Dj1kAGDs4AGh83cPFJBQC7pDubtuZV2ZS

## Contributions delivered

**Reviews of PRs**
I monitor PR reviews separately from the responsibilities of the Bisq Desktop Maintainer role.

_Reviewed PRs:_
- https://github.com/bisq-network/bisq/pull/2436
- https://github.com/bisq-network/bisq/pull/2434
- https://github.com/bisq-network/bisq/pull/2455
- ht

[2019-02-27 11:45] Emzy opened #225 "For February 2019"
## Summary

 - BSQ requested: 540
 - BSQ address: B16X76GXZ3hDTkDRiRtb1bYN1bAuDpP7nSE

## Contributions delivered

None.

## Contributions in progress

None.

## Roles performed

- Bisq Pricenode Operator at bisq-network/roles#14 (50)
- Bisq Seednode Operator at bisq-network/roles#15 (50)
- Bisq Bitcoin Node Operator at bisq-network/roles#67 (250)
- Bisq Mailman Operator at bisq-network/roles#26 (

[2019-02-27 18:47] freimair opened #226 "For February 2019"
## Summary

 - BSQ requested: 12400
 - BSQ address: B1JJUQWUHEoUwng4uGGWsT4hnTMc6dXtj9K

## Contributions delivered

- Monitor release **Settled** (via https://github.com/bisq-network/bisq/pull/2432)  (8500 BSQ)
  - see https://github.com/bisq-network/proposals/issues/62 for a list of new features and or course the git log for all the fixes along the way
  - enjoy the [Readme](https://github.com/b

[2019-02-28 05:04] ManfredKarrer opened #227 "For February 2019"
## Basic information

 - BSQ amount requested: **12600**
 - BSQ address: **B1N15prE63ZHC7grk2hyuVDLNfrQYCkDT84**

## Details

### Development work:
- Development work [1]
- Preparation and testing for v0.9.4 release
- Code review

### Others:
- Dev sessions
- Coordination for DAO landing page release

Requested: 9000 BSQ

[1] https://github.com/ManfredKarrer

### Roles:
The following are roles I a

[2019-02-28 10:10] sqrrm opened #228 "For February 2019"
## Summary

 - BSQ requested: `5230`
 - BSQ address: B1EFcs4HsAijnxFwZB8QudD5wNTRwTUnNGJ

## Contributions delivered

### Development
This is a collection of DAO code review and improvement over the last three months, some of which has been more on the general safety of BSQ parsing and some more specific.
https://github.com/bisq-network/bisq/pull/2171
https://github.com/bisq-network/bitcoinj/pull/

[2019-02-28 13:06] eyalron33 opened #229 "For February 2019"
## Basic information

 - BSQ requested: 1400
 - BSQ address: B1PU7DoYDHWi2impz86Fvu3ZgsREaBnGJBW

## Contributions delivered
- Gave a lecture [The DAO of Bisq](https://fosdem.org/2019/schedule/event/the_dao_of_bisq/) in Fosdem 2019. I paid from my own pocket for traveling and accommodation in this event.

Requested: 300 BSQ

- Gave a lecture The DAO of Bisq in [Amsterdam Bitcoin Wednesday workshop

[2019-02-28 13:12] alexej996 opened #230 "For February 2019"
## Summary
 - BSQ requested: **3000**
 - BSQ address: **B1CS43KxAFaTQFK4xPMKxybGffmp89zg7QS**
## Roles performed
- Support Staff: https://github.com/bisq-network/roles/issues/64#issuecomment-468261912 (2600 BSQ)
- Forum operator: https://github.com/bisq-network/roles/issues/19#issuecomment-468266962 (250 BSQ)
- Reddit moderator: https://github.com/bisq-network/roles/issues/25#issuecomment-46825843

[2019-02-28 13:46] KanoczTomas commented on #224
@ripcurlx could you please add the year as well to the issue? It will make the header unique.

[2019-02-28 13:48] xiphon opened #231 "For February 2019"
## Summary

 - BSQ requested: 100
 - BSQ address: B1EnBmUPBggfHogLy3DidFob1vvd2YfB4Yb

## Contributions delivered

 - Implemented Monero and Cryptonote address validator https://github.com/bisq-network/bisq/pull/2422

[2019-02-28 14:33] ripcurlx commented on #224
Sure - Yes, time flies 😄

[2019-02-28 17:30] ManfredKarrer commented on #229
Are you shure 1400 BSQW covers your efforts? I felt it was more...

[2019-02-28 19:54] HarryMacfinned opened #232 "For February 2019"
## Summary

 - BSQ requested: `2900`
 - BSQ address: B19yxYCRTVaDfRfucrH6aEzeZpoVTv8Je8S

This compensation request :
- follows the https://docs.bisq.network/roles.html#compensation recommandations
- applies the 1BSQ=1USD rule

## Roles performed
### Substantive reports

- Support | https://github.com/bisq-network/roles/issues/64#issuecomment-468344806 | (BSQ requested = 2500)
Evaluation is based

[2019-02-28 20:25] arunasurya commented on #229
@eyalron33, I would agree with @ManfredKarrer, considering that your presentation was fantastic and substantial, how many people you have reached, preparation, travel time, etc...

[2019-02-28 20:35] arunasurya opened #233 "For February 2019"
## Summary

 - BSQ requested: 1000
 - BSQ address: B1PFD3uscJqFQfLNAS6bWQtr1PUahrWNvC7

## Contributions delivered

### Blog post initiative: 600BSQ
 - Coordinated the blog post initiative: recruiting writers, reviews/edits, setting up a smooth blog writing process, keeping the Bisq community informed, etc.
- Worked closely with @m52go on reviews/edits, publication and other processes.

### A blog

[2019-02-28 21:57] m52go opened #234 "For February 2019"
## Summary

 - BSQ requested: `9450`
 - BSQ address: B1FGfKZQrpbLN9UNMogyJAVTR5PJNRkGPXJ

## Contributions delivered

**Video**
- Bisq DAO in Brief ([link](https://www.youtube.com/playlist?list=PLFH5SztL5cYPAXWFz-IMB4dBZ0MEZEG_e))
  - Comprehensive but _concise_ 7-part video series covering:
    - the why, what, and how of the Bisq DAO
    - walk-through of BSQ issuance
    - practical takeaways f

[2019-03-01 04:36] ManfredKarrer commented on #198
Thanks @oscarguindzberg for the detailed overview!

[2019-03-01 04:40] ManfredKarrer commented on #198
Regaring https://github.com/bisq-network/bisq/pull/2478 : I did not had time today to review and test it but it will be done soon. So lets make an exception here and consider it as merged ;-) (there is no doubt that it gets merged).

[2019-03-01 08:24] ripcurlx commented on #222
@bisq-network/contributors All compensation requests that will be added to the voting spreadsheet end of today are already assigned to the corresponding contributor and moved to discussion. Please review and comment if necessary on the compensation requests today. Thanks!

[2019-03-01 08:37] eyalron33 commented on #229
Thank you both for this though:-)

It's too late to change now, but I'll consider "adjusting" the presentations costs in next month request.

[2019-03-02 06:17] ripcurlx commented on #222
@bisq-network/contributors Compensation requests have been staged in the BSQ stake and vote tracking spreadsheet, and the voting period is now open.

The specific worksheet for this month is at https://docs.google.com/spreadsheets/d/1xlXDswj3251BPCOcII-UyWlX7o7jMkfYBE-IZ5te5Ck/edit#gid=820601546

Voting instructions are at https://docs.bisq.network/dao/phase-zero.html#how-to-vote.

Some of you wil

[2019-03-02 08:14] m52go commented on #198
Hello @oscarguindzberg would you mind making a corresponding compensation request in the testnet Bisq DAO, if you haven't already? Would really help us with testing this round.

The proposal phase for this round ends sometime tonight.

https://docs.bisq.network/getting-started-dao.html

[2019-03-02 08:14] m52go commented on #230
Hello @alexej996 would you mind making a corresponding compensation request in the testnet Bisq DAO, if you haven't already? Would really help us with testing this round.

The proposal phase for this round ends sometime tonight.

https://docs.bisq.network/getting-started-dao.html

[2019-03-02 08:15] m52go commented on #229
Hi @eyalron33, would you mind making a corresponding compensation request in the testnet Bisq DAO, if you haven't already? Would really help us with testing this round.

The proposal phase for this round ends sometime tonight.

https://docs.bisq.network/getting-started-dao.html

[2019-03-02 08:15] m52go commented on #226
Hello @freimair would you mind making a corresponding compensation request in the testnet Bisq DAO, if you haven't already? Would really help us with testing this round.

The proposal phase for this round ends sometime tonight.

https://docs.bisq.network/getting-started-dao.html

[2019-03-02 10:35] eyalron33 commented on #229
@m52go Done.

[2019-03-02 16:41] ManfredKarrer commented on #198
@ripcurlx Seems you added it still to the spreadsheet. Could you edit/strike your above comment?

[2019-03-02 18:15] ripcurlx commented on #198
Done.

[2019-03-02 18:36] pedromvpg opened #235 "For February 2019"
## Summary

 - BSQ requested: 5000
 - BSQ address: B18BA37KaiSHLMhyjs7FMPAJMfcVcVzJPCm

## Contributions delivered

**DAO webpage design**
BSQ Requested: 2000

**DAO webpage implementation**
BSQ Requested: 1000

**DAO descriptive illustrations and diagrams**
BSQ Requested: 1500

**Client DAO screen**
BSQ Requested: 500

![bisq-dao-page_design](https://user-images.githubusercontent.com/807505/53685

[2019-03-03 04:18] ManfredKarrer commented on #235
I fear that request came too late. But no worry just add it again for March.

[2019-03-03 09:35] ripcurlx commented on #235
@pedromvpg Yes, unfortunately your compensation request was filed too late for this month's voting round. Feel free to re-submit it next month.

[2019-03-03 10:49] freimair opened #236 "For March 2019"
## Summary

 - BSQ requested: 14200
 - BSQ address: B1JJUQWUHEoUwng4uGGWsT4hnTMc6dXtj9K

## Contributions delivered

- as I encountered the openjdk with Wayland coredumps now during development I finally had a reproducible testing source and found a solution: closes https://github.com/bisq-network/bisq/issues/2279 (300 BSQ)
- Netlayer, jtorctl, tor-binary via https://github.com/bisq-network/bisq/p

[2019-03-03 10:54] freimair commented on #226
@m52go oh my, totally forgot about that. Damn work-live-balance stuff. Next time, for sure!

[2019-03-06 13:31] ripcurlx commented on #222
Compensation Voting Complete

This voting period is now complete, and the results are as follows:

15 contributors submitted 15 compensation requests.
Two first-time compensation requests this time (Welcome @oscarguindzberg and @xiphon 👍).
7 stakeholders voted.

Total compensation requested was 52,050 BSQ.
Total compensation received was 52,050 BSQ.

We have now completed 17 monthly voting rounds.

[2019-03-06 13:32] ripcurlx commented on #198
Closing as complete, see https://github.com/bisq-network/compensation/issues/222#issuecomment-470107704.

[2019-03-06 13:32] #198 closed

[2019-03-06 13:32] ripcurlx commented on #220
Closing as complete, see https://github.com/bisq-network/compensation/issues/222#issuecomment-470107704.

[2019-03-06 13:32] #220 closed

[2019-03-06 13:32] ripcurlx commented on #221
Closing as complete, see https://github.com/bisq-network/compensation/issues/222#issuecomment-470107704.

[2019-03-06 13:32] #221 closed

[2019-03-06 13:33] ripcurlx commented on #223
Closing as complete, see https://github.com/bisq-network/compensation/issues/222#issuecomment-470107704.

[2019-03-06 13:33] #223 closed

[2019-03-06 13:33] ripcurlx commented on #224
Closing as complete, see https://github.com/bisq-network/compensation/issues/222#issuecomment-470107704.

[2019-03-06 13:33] #224 closed

[2019-03-06 13:33] ripcurlx commented on #225
Closing as complete, see https://github.com/bisq-network/compensation/issues/222#issuecomment-470107704.

[2019-03-06 13:33] #225 closed

[2019-03-06 13:33] ripcurlx commented on #226
Closing as complete, see https://github.com/bisq-network/compensation/issues/222#issuecomment-470107704.

[2019-03-06 13:33] #226 closed

[2019-03-06 13:33] ripcurlx commented on #227
Closing as complete, see https://github.com/bisq-network/compensation/issues/222#issuecomment-470107704.

[2019-03-06 13:33] #227 closed

[2019-03-06 13:33] ripcurlx commented on #228
Closing as complete, see https://github.com/bisq-network/compensation/issues/222#issuecomment-470107704.

[2019-03-06 13:33] #228 closed

[2019-03-06 13:33] ripcurlx commented on #229
Closing as complete, see https://github.com/bisq-network/compensation/issues/222#issuecomment-470107704.

[2019-03-06 13:33] #229 closed

[2019-03-06 13:33] ripcurlx commented on #230
Closing as complete, see https://github.com/bisq-network/compensation/issues/222#issuecomment-470107704.

[2019-03-06 13:33] #230 closed

[2019-03-06 13:33] ripcurlx commented on #231
Closing as complete, see https://github.com/bisq-network/compensation/issues/222#issuecomment-470107704.

[2019-03-06 13:33] #231 closed

[2019-03-06 13:34] ripcurlx commented on #232
Closing as complete, see https://github.com/bisq-network/compensation/issues/222#issuecomment-470107704.

[2019-03-06 13:34] #232 closed

[2019-03-06 13:34] ripcurlx commented on #233
Closing as complete, see https://github.com/bisq-network/compensation/issues/222#issuecomment-470107704.

[2019-03-06 13:34] #233 closed

[2019-03-06 13:34] ripcurlx commented on #234
Closing as complete, see https://github.com/bisq-network/compensation/issues/222#issuecomment-470107704.

[2019-03-06 13:34] #234 closed

[2019-03-06 13:34] ripcurlx commented on #222
Closing as complete.

[2019-03-06 13:34] #222 closed

[2019-03-13 06:48] KanoczTomas opened #237 "For March 2019"
## Summary

 - BSQ requested: 2825
 - BSQ address:  B17TT6PsriwSLoKDnybE4LoDazkffQxtx3G

## Contributions delivered

 * created an issue template as I had to ask for aditional details from people requesting reimbursement. The template gathers bisq version as well. The template worked fine as I did not have to ask for additional info anymore, making processing on my side easier and quicker -  https

[2019-03-22 13:33] michaltakac opened #238 "For March 2019"
## Summary

- BSQ requested: 20
- BSQ address: B18x61QoqJetyBs4eGNtKr4D5aAdwref2o6

## Contributions delivered

Participated in quick survey about my experience with the bisq dao (on testnet).

[2019-03-25 11:08] FKrauss opened #239 "For March - testing 0.9.5"
## Summary

 - BSQ requested: 20
 - BSQ address: B1LpTRDi1tLqX74u23F5ZdnjXV7bhxwaxX8

## Contributions delivered

## Contributions in progress

helped testing the DAO voting mechanism and answered a survey

[2019-03-25 13:15] y3v63n opened #240 "For March 2019 - Translation RU/Localization"
## Summary

 - BSQ requested: 305
 - BSQ address: B17jdeefV4g5PuL4CgisJeR32JAbAF7ztfD

## Contributions delivered

Requested (105 BSQ):
1,503 words translated into Russian (at the rate of 0.07USD).

Requested (200 BSQ):
Helped @arunasurya with identifying localization workflows and processes, suggested glossary and style guide creation for each language and provided template for them. Helped to ex

[2019-03-25 14:34] huey735 opened #241 "For March 2019"
## Summary

 - BSQ requested: 740
 - BSQ address: B1NBcexfGapodHZzFyoeTzJnqqdSkZbNVQQ

## Contributions delivered
**Request: 20 BSQ**
Participated in quick survey about my experience with the bisq dao (on the testnet).
This value was suggested by the bounty.

**Request: 280 BSQ**
Translated the "Bisq DAO in Brief" playlist created by @m52go to Portuguese
https://www.youtube.com/playlist?list=PLFH5

[2019-03-25 19:11] Mycelial1 opened #242 "For March 2019 - Blogpost"
## Summary

 - BSQ requested: 420
 - BSQ address: B1BUqX5aYPyXMzCfGNX6UjTyNQd1t6qpyRK

## Contributions delivered

## Blogpost: 400 BSQ

Completed a blog titled "How to Earn BSQ by Contributing to Bisq" which was published on Bisq's medium blog.

https://bisq.network/blog/how-to-earn-bsq/

## Feedback Survey: 20 BSQ
Provided feedback via a survey about testing the Bisq DAO

## Contributions in pro

[2019-03-26 15:44] ripcurlx opened #243 "Conduct April 1st-4th compensation request voting"
_(previous voting round: #222 )_

 - [x] Announce call for requests 3 days ahead and provide instructions on how to submit in a comment on this issue
 - [x] Announce that the review period (1st) has begun in a comment on this issue
 - [x] Transcribe [compensation requests](https://github.com/bisq-network/compensation/issues) to [stake and voting spreadsheet](https://docs.google.com/spreadsheets/d/

[2019-03-26 15:48] ripcurlx commented on #243
@bisq-network/contributors, please submit any compensation requests by EOD on Sunday March 31st.

This might be the last voting round using our Google Spreadsheet, so don't miss out this historic event 😉.

As usual, instructions can be found at https://docs.bisq.network/dao/phase-zero.html#how-to-request-compensation. Thanks.

To match the setup of the Bisq DAO on Testnet, we'll have an additional

[2019-03-26 20:43] devinbileck opened #244 "For March 2019"
## Summary

 - BSQ requested: `6550`
 - BSQ address: `B1N7BFqBX2MUmbZ4KGNKujooPaWBxTyVx6H`

## Contributions delivered

- **Testing (exploratory style).** Primarily focused on DAO related functionality. I mainly encountered/entered UI issues or improvements, but did uncover a more serious issue when submitting proposals with manipulated DAO parameters, leading to https://github.com/bisq-network/bi

[2019-03-27 15:40] flix1 opened #245 "For March 2019"
## Summary

 - BSQ requested: 15000
 - BSQ address: **B18pxrZRFJ7Q1PsND9xqayk1uQbtZiH39MC** (spreadsheet address)

## Contributions delivered

 For past contributions including:
200 https://github.com/bisq-network/compensation/issues/34
20 https://github.com/bisq-network/compensation/issues/46
20 https://github.com/bisq-network/compensation/issues/62
800 https://github.com/bisq-network/compensatio

[2019-03-27 15:55] flix1 commented on #243
Hi @ripcurlx I understand that the addresses listed in the spreadsheet will be abandoned and that we need to submit a new BSQ address from Bisq 0.9.5 client that lists all our past compensations so that the current address balance will be transferred in the DAO genesis distribution. Is this correct?

I have some doubts because I see no similar requests in github/compensation/issues so far...

Also

[2019-03-27 15:57] ManfredKarrer commented on #243
For the spread sheet we use the old BSQ address. Before I will do the genesis I will request from all contributors the new BSQ address as well.

[2019-03-27 16:03] ManfredKarrer commented on #245
@flix1 Please request an appropriate amount. You provided a huge contribution with your help and strategies to bring liquidity to another level! Hard to estimate that value but I would not feel comfortable if you did not get at least about 20 000 BSQ for all that. You never requested much in the past for your contributions so I think we owe you something.

[2019-03-27 16:15] flix1 commented on #245
I am extremely thankful @ManfredKarrer. I hope to be able to contribute more to Bisq in the future.

I will correct my request.

[2019-03-27 16:19] flix1 commented on #245
I have used the spreadsheet BSQ address as I understand that we will migrate to the new DAO genesis BSQ addresses at a later date.

[2019-03-27 20:30] Emzy opened #246 "For March 2019"
## Summary

 - BSQ requested: 500
 - BSQ address: B16X76GXZ3hDTkDRiRtb1bYN1bAuDpP7nSE

## Contributions delivered

None.

## Contributions in progress

None.

## Roles performed

- Bisq Pricenode Operator at bisq-network/roles#14 (50)
- Bisq Seednode Operator at bisq-network/roles#15 (50)
- Bisq Bitcoin Node Operator at bisq-network/roles#67 (250)
- Bisq Mailman Operator at bisq-network/roles#26 (

[2019-03-28 13:01] arunasurya commented on #240
Thank you for all your contributions this month, @y3v63n! I look forward to continuing working with you!

[2019-03-28 15:02] arunasurya commented on #242
Great job! Looking forward to your future posts!

[2019-03-28 16:30] ripcurlx opened #247 "For March 2019"
## Summary

 - BSQ requested:`15655`
 - BSQ address: B1Dj1kAGDs4AGh83cPFJBQC7pDubtuZV2ZS

## Contributions delivered

**Reviews of PRs**
I monitor PR reviews separately from the responsibilities of the Bisq Desktop Maintainer role.

_Reviewed PRs:_
- https://github.com/bisq-network/bisq/pull/2490
- https://github.com/bisq-network/bisq/pull/2482
- https://github.com/bisq-network/bisq/pull/2488
- ht

[2019-03-28 18:00] Stam57 opened #248 "For March 2019"
## Summary

 - BSQ requested: 720
 - new BSQ address: B1CPX2HuSeW4Kzfs3sjuuPPxteLzZUNb66D

This is my first compensation request.
I am translating Bitsquare (and then Bisq) into Greek since January 2017.
https://bisq.community/t/any-cunning-linguists-among-us/721/52?u=stam

## Contributions delivered

**Transifex Translations (720BSQ)**

10327 words translated into Greek (at the rate of 0.07USD an

[2019-03-29 09:09] ripcurlx commented on #241
@huey735 Could you please share your feedback here as well, as I guess there is no link available that documents your testing efforts and survey input?

[2019-03-29 09:10] ripcurlx commented on #239
@FKrauss Could you please share your feedback here as well, as I guess there is no link available that documents your testing efforts and survey input?

[2019-03-29 09:11] ripcurlx commented on #238
@michaltakac Could you please share your feedback here as well, as I guess there is no link available that documents your testing efforts and survey input?

[2019-03-29 10:10] huey735 commented on #241
Yeah I was wondering about that. Well, my feedback was focused on the UX/UI.
* During the Vote Phase, the button to actually vote was semi-hidden which caused me to not cast the vote. Admittedly, it was mostly due to my lack of attention.
* I didn't fully understand what to do on the Vote Reveal Phase from its description. However, I think it was more me complicating things rather than the text be

[2019-03-29 12:28] alexej996 opened #249 "For March 2019"
## Summary
 - BSQ requested: **3000**
 - BSQ address: **B1CS43KxAFaTQFK4xPMKxybGffmp89zg7QS**
## Roles performed
- Support Staff: https://github.com/bisq-network/roles/issues/64#issuecomment-477975538 (2600 BSQ)
- Forum operator: https://github.com/bisq-network/roles/issues/19#issuecomment-477980192 (250 BSQ)
- Reddit moderator: https://github.com/bisq-network/roles/issues/25#issuecomment-47797662

[2019-03-29 12:31] alexej996 commented on #249
I will be creating a compensation request in Bisq DAO on testnet very soon.

[2019-03-29 14:15] oscarguindzberg opened #250 "For March 2019"
## Summary

 - BSQ requested: 12300
 - BSQ address: B1LiYyuKpAZQHuyzRiFy8uBYNC71S8nEXQJ

## Contributions delivered

Audits:

- Bisq's bitcoinj "addr" message support audit (2300 BSQ)
  - Audit report: https://github.com/bisq-network/bitcoinj/issues/28
  - Bugfix: https://github.com/bisq-network/bisq/pull/2591
  - Add link to this report on the source code: https://github.com/bisq-network/bitcoinj

[2019-03-29 14:24] ripcurlx commented on #243
As pointed out by @oscarguindzberg on Slack, the total sum of BSQ added in the voting spreadsheet was incorrect (the last few lines were not included in the sum formular) since 2018.10. Each single compensation requests was not affected by this mistake, only the total reporting.

**e.g. for February 2019:**
Total compensation requested was ~52,050~ 114,070 BSQ.
Total compensation received was ~52,

[2019-03-29 16:05] ben-kaufman opened #251 "For March 2019"
## Summary

 - BSQ requested: 1800
 - BSQ address: BmkZMETyptYNqoXj5mnQVqDGA9XprxwpR4V

## Contributions delivered

My PRs:
https://github.com/bisq-network/bisq/pull/2483 - 200 BSQ
https://github.com/bisq-network/bisq/pull/2492 - 10 BSQ
https://github.com/bisq-network/bisq/pull/2504 - 1000 BSQ (as specified in issue bisq-network/bisq#2477)
https://github.com/bisq-network/bisq/pull/2519 - 100 BSQ
h

[2019-03-30 03:45] ManfredKarrer opened #252 "For March 2019"
## Basic information

 - BSQ amount requested: **16775**
 - BSQ address: **B1N15prE63ZHC7grk2hyuVDLNfrQYCkDT84**

## Details

### Development work:
- Development work [1]
- Preparation and testing for v0.9.5 release
- DAO testing
- Setup for new DAO testnets (testnet, mainnet)

### Others:
- Dev sessions

Requested: 13000 BSQ (the relative high amount reflects a very intense month with in average

[2019-03-30 15:27] sqrrm opened #253 "For March 2019"
## Summary

 - BSQ requested: `22040`
 - BSQ address: B1EFcs4HsAijnxFwZB8QudD5wNTRwTUnNGJ

## Contributions delivered

### DAO Design
As the launch of the DAO is closing in I'm also adding a request for work done on DAO design, security and other work that is now reflected in the code. Most of this work has been in direct discussions and planning with @ManfredKarrer over the last 18 months, some i

[2019-03-30 17:13] Wimking1987 commented on #253
BSQ requested:350
BSQ address: B14Cictu1JaHoR3wCF4uq9D3LxcxZvk4FYs

https://github.com/Wimking1987/bisq-design/commit/5773112cba134015db5bfb685ee8799261581f1f

[2019-03-30 17:43] ManfredKarrer commented on #253
@Wimking1987 You need to create a new issue for your compensation request. This is the request of @sqrrm

[2019-03-30 18:18] Wimking1987 opened #254 "For March 2019"
BSQ requested:350
BSQ address: B14Cictu1JaHoR3wCF4uq9D3LxcxZvk4FYs

![bisq_network_visualisation](https://user-images.githubusercontent.com/48585299/55280035-6defc600-5320-11e9-9138-667f3b6043c2.jpg)

https://github.com/Wimking1987/bisq-design/commit/5773112cba134015db5bfb685ee8799261581f1f

The design will be used in the blog and can be used everywhere when we need a visualisation of the network:

[2019-03-31 09:06] eyalron33 opened #255 "For March 2019"
## Basic information

 - BSQ requested: 600
 - BSQ address: B1PU7DoYDHWi2impz86Fvu3ZgsREaBnGJBW

## Contributions delivered
- Additional compensation for Bisq lectures given in February 2019, see discussion [here](https://github.com/bisq-network/compensation/issues/229).

Requested: 500 BSQ

- Proof reading [Aruna Surya](https://github.com/arunasurya)'s Bisq documentation.

Requested: 100 BSQ

[2019-03-31 11:03] HarryMacfinned opened #256 "For March 2019"
march 2019
## Summary

 - BSQ requested: `2900`
 - BSQ address: B19yxYCRTVaDfRfucrH6aEzeZpoVTv8Je8S

This compensation request :
- follows the https://docs.bisq.network/roles.html#compensation recommandations
- applies the 1BSQ=1USD rule

## Roles performed
### Substantive reports

- Support | https://github.com/bisq-network/roles/issues/64#issuecomment-478323513 | (BSQ requested = 2500)
Evaluatio

[2019-03-31 15:54] ManfredKarrer commented on #61
@blabno Is that request compete now as it is still marked WIP? This months will be the last requests on the spreadsheet...

[2019-03-31 15:54] ManfredKarrer commented on #208
@pedromvpg  Is that request compete now as it is still marked WIP? This months will be the last requests on the spreadsheet...

[2019-03-31 16:05] m52go commented on #239
I chatted directly with @FKrauss on Slack before and after he submitted feedback. I know it's not customary to acknowledge work without some kind of proof, but I think it is reasonable in this case.

[2019-03-31 16:06] m52go commented on #238
I chatted directly with @michaltakac on Slack before and after he submitted feedback. I know it's not customary to acknowledge work without some kind of proof, but I think it is reasonable in this case.

[2019-03-31 16:06] m52go opened #257 "For March 2019"
## Summary

 - BSQ requested: `8325`
 - BSQ address: B1FGfKZQrpbLN9UNMogyJAVTR5PJNRkGPXJ

## Contributions delivered

**Blog**
- Write post/essay _Benefits of the Bisq DAO, Part I: Funding FLOSS & Avoiding Surveillance Capitalism_ ([link](https://github.com/bisq-network/bisq-website/pull/149))
  - I requested a bit more than usual here because this post was a longer and required more time to think

[2019-03-31 16:26] pedromvpg opened #258 "For March 2019"
## Summary

 - BSQ requested: 5000
 - BSQ address: B18BA37KaiSHLMhyjs7FMPAJMfcVcVzJPCm

## Contributions delivered

**DAO webpage design**
BSQ Requested: 2000

**DAO webpage implementation**
BSQ Requested: 1000

**DAO descriptive illustrations and diagrams**
BSQ Requested: 1500

**Client DAO screen**
BSQ Requested: 500

![bisq-dao-page_design](https://user-images.githubusercontent.com/807505/53685

[2019-03-31 16:28] pedromvpg commented on #235
Created a new one for march
https://github.com/bisq-network/compensation/issues/258

Can we close this one?

[2019-03-31 16:28] #235 closed

[2019-03-31 16:34] pedromvpg commented on #208
I'm going to close this one out as it relates to
https://github.com/bisq-network/bisq-website/pull/156

I'll come back to this in the future once its more developed.

[2019-03-31 16:34] #208 closed

[2019-03-31 17:29] arunasurya opened #259 "For March 2019"
## Summary

 - BSQ requested: 3500
 - BSQ address: B1PFD3uscJqFQfLNAS6bWQtr1PUahrWNvC7

## Contributions delivered

### Blog Project: 2500BSQ
- Defined [the blog writing process](https://github.com/arunasurya/blogposts/blob/master/bisqblogproject.md) and shared with the writer community.
- Created the [blog writing schedule](https://docs.google.com/spreadsheets/d/1En6LwJQlzpsY5rOSuiZa2ThoI8rrdlTNo

[2019-03-31 17:39] pedromvpg commented on #254
Hey @Wimking1987,

It looks good but I don't think this is the best way to use the "cat" mark. For these visualization diagrams can we focus more on how different parts of the network integrate with each other?
- the Bitcoin blockchain
- the Bisq netwerk
- the Bisq DAO

I would also avoid any gradients, shadows, and dimensionality as it don't really match the rest of the aesthetics. Flatter uses o

[2019-03-31 18:00] ManfredKarrer commented on #254
@Wimking1987
For background, @pedromvpg is the designer who did all our rebranding and redesign.

[2019-03-31 18:13] Wimking1987 commented on #254
Thanks a lot for the feedback. Will try to be closer to your visualisations @pedromvpg and will have a look how the different parts integrate with each other.

[2019-03-31 18:16] ManfredKarrer commented on #254
@Wimking1987 I am not sure if we want to use that design on the webpage as it is as we want to stick with the design line of @pedromvpg . In case your request gets rejected it does not mean it was bad quality but if we will not use it in Bisq it is not really justified that the Bisq DAO issue a compensation. I am aware that this might create a bit of frustration and was likely caused by lack of co

[2019-03-31 20:34] m52go commented on #241
@huey735 your request of 70 BSQ for translating the _whole series_ seems very low to me.

[2019-04-01 07:41] ripcurlx commented on #243
@bisq-network/contributors All compensation requests (we have a new record with 23 CRs 🚀 ) that will be added to the voting spreadsheet end of today are already assigned to the corresponding contributor and moved to discussion. Please review and comment if necessary on the compensation requests today. Thanks!

[2019-04-01 07:44] ripcurlx commented on #238
Works for me this time, but I do think it's important to be as transparent as possible in CRs, otherwise they won't be voted for in future voting rounds.

[2019-04-01 12:14] m52go opened #260 "ACTION REQUIRED: All Contributors Since October 2017"
We need a final mainnet BSQ address from each of you before the DAO launches.

All of you have already specified addresses in your compensation requests, but you may want to generate a fresh one if:

* you no longer have access to the wallet
* the wallet is old (e.g., 1.5-year-old wallets _should_ work, but there have been several significant changes over time, and compatibility hasn't been tested

[2019-04-01 12:15] m52go commented on #260
[continued; can't tag more than 50 people in a single post]

- @oscarguindzberg

- @xiphon

- @michaltakac

- @FKrauss

- @y3v63n

- @huey735

- @Mycelial1

- @Stam57

- @ben-kaufman

- @Wimking1987

[2019-04-01 12:24] alexej996 commented on #260
My old BSQ address is: **B1CS43KxAFaTQFK4xPMKxybGffmp89zg7QS**
The new one is: **B1Bq9yRRvjbSb9VJYt59farky9MUUYmxZR5**

[2019-04-01 12:28] y3v63n commented on #260
Hi, the address I specified is a new one and should be fine.

[2019-04-01 12:31] michaltakac commented on #260
Confirming my existing BSQ address **B18x61QoqJetyBs4eGNtKr4D5aAdwref2o6** is the one that should be used

[2019-04-01 12:46] mrosseel commented on #260
Hi,

Already mailed to genesis@ with the new address for @mrosseel

regards,
Mike

On Mon, 1 Apr 2019 at 14:14, Steve Jain <notifications@github.com> wrote:

[2019-04-01 12:46] Technohacker commented on #260
Confirming I have access to the wallet with address **B1Q9Gg1DxURa1xBvvXmWcJVEDMiwUNWCyad**

(Checked with version v0.9.1. In case I need to update please let me know)

[2019-04-01 12:57] oscarguindzberg commented on #260
I confirm my current address B1LiYyuKpAZQHuyzRiFy8uBYNC71S8nEXQJ

[2019-04-01 13:26] dgyg commented on #260
Confirming my BSQ address B1DMw2kmC2Dfj7Ncq6kUdwfFJ7dPQDy7dwr

[2019-04-01 13:30] ripcurlx commented on #260
Confirming that my current address is **B1Dj1kAGDs4AGh83cPFJBQC7pDubtuZV2ZS**

[2019-04-01 13:54] jdonmoyer commented on #260
Confirming that my current address is: B1G3RTdM2tSwkSB5tgno3aETHDdR3Cc2r92

Jason Donmoyer
*Threddies <https://threddies.com/> Co-Founder*

Check out our Retail Store & Showroom:
510 W. Walnut St.
Perkasie, PA 18944

215-257-4100

On Mon, Apr 1, 2019 at 8:14 AM Steve Jain <notifications@github.com> wrote:

[2019-04-01 14:14] CaveSpectre11 commented on #260
Mine is fairly new (November 2018) so I presume it's confirm-able: B1M4i1X6oq3i8YaA6C9tgYUF86EZ8r6MdZC

[2019-04-01 14:38] rex4539 commented on #260
I confirm that my address is B153NNHXQxnH5v6AXv8F5zdhPsdjkQfxB7v

[2019-04-01 14:42] FKrauss commented on #260
confirming, same address:
B1LpTRDi1tLqX74u23F5ZdnjXV7bhxwaxX8

[2019-04-01 14:43] ManfredKarrer opened #261 "Requested amounts"
I have the feeling we are entering a kind of spiral upwards regarding requested amounts.

We have to remind ourself to relate the requested amount to the amount of value added to Bisq. I am sure there is much work in the backgound which is often not always visible. But then please help others to make it more visible or wait for the request until the work has materialized in somehing more tangible

[2019-04-01 14:47] j3ko commented on #260
confirming my address has not changed:
B1PP58rq6TnKifRitzHgU8gJemL1dcNtKNV

[2019-04-01 14:48] huey735 commented on #260
Confirming address
B1NBcexfGapodHZzFyoeTzJnqqdSkZbNVQQ

[2019-04-01 15:02] ManfredKarrer commented on #259
Is the Bisq Academy work already visible to Bisq users? Is it promoted? How many users have read it?
It is a bit hard to me to evaluate if the added value to Bisq is worth 3500 BSQ.

I doubt that many users if any have read / benefited from it. So I would suggest to postpone that until it has more clearly added value to Bisq, otherwise we create a wrong culture how we compensate for work on Bisq.

[2019-04-01 15:06] eyalron33 commented on #261
I completely align with Manfred.

The amounts being asked have grown exponentially recently. I feel now it's now double or even triple normal rates for such contributions in other organizations. There is a danger for it to become a race. Past contributes feeling they were not properly contributed due to the new standards, then asking for even higher amounts next time, creating higher standards.

Y

[2019-04-01 15:06] arunasurya commented on #254
Hi everyone,

I just noticed this thread and would like to voice my opinion here. It is I who invited @Wimking1987 to help me with design for the Bisq academy, which, if I understood correctly, @ManfredKarrer believed had value for the broader Bisq community. I also thought that we could add images for our weekly blog posts to enhance their attractiveness. Both of these sites do not require us to

[2019-04-01 15:11] ManfredKarrer commented on #261
I think the basic guildlines are clear: The added value to Bisq. People can compare what they would get paid in a freeelance work for compareable work. There is also work which is more long term, contains daily business, etc. For those of course it is a bit harder to estimate as not all small work package can be estimated. Still such work should produce some clearly visible added value to Bisq and

[2019-04-01 15:13] m52go commented on #261
I was going to raise this concern privately about some requests, so I'm glad Manfred raised it here first.

Only thing I want to add is there's a reason we can reject proposals, and people shouldn't take it personally. **It doesn't necessarily mean your work wasn't worthwhile, it just means you haven't made a good enough case for your work's value**. I've hesitated to reject proposals in the past,

[2019-04-01 15:15] flix1 commented on #260
New address:  **B1KnLU3Ff1SLwW1HrkoYMFrx8VEuTVPfyvD**

(Old address: B18pxrZRFJ7Q1PsND9xqayk1uQbtZiH39MC)

[2019-04-01 15:19] arunasurya commented on #259
I think there has been miscommunication. I thought that @ManfredKarrer believed the Academy could add value to the Bisq community. I assumed that trying to get it to a high and consistent quality level, consulting with more experienced contributors and working with designers, were part of this long-term effort that could be compensated. I have done work on my part, and publicizing it is not my str

[2019-04-01 15:21] Emzy commented on #260
Confirming address:
B16X76GXZ3hDTkDRiRtb1bYN1bAuDpP7nSE

[2019-04-01 15:25] ManfredKarrer commented on #259
@arunasurya Yes I value your work on that I think it will be a valuable contribution to Bisq. I just don't see that has materialized at the current stage as I have not seen it included anywhere (maybe I missed that as I did not follow it closely) or promoted. Maybe we have a phone call to avoid  misunderstandings, I am not so good with writing....

[2019-04-01 15:33] huey735 commented on #241
I guess. I figured 10 BSQ/hr of work would suffice. I wouldn't know any other way to measure its worth to be honest. I'll look at other contributors providing similar work in the future for reference.

[2019-04-01 15:41] KanoczTomas commented on #237
@ripcurlx please note values were altered for the blogpost on my side. I made a mistake of relatively comparing the post with other requests, when did a reseach about how much they pay on the market it was way over shot :) Please update it in the spreadsheet. The amounts especially in the support part are reflecting the feedback I did ask too litle in the past for that work. This was captured in a

[2019-04-01 16:04] eyalron33 commented on #261
@ManfredKarrer You're possibly the only person in Bisq who can estimate what's the added value to Bisq, so you're (possibly) the only person who may think that "the added value to Bisq" is a clear guideline :- )

A horizontal view of Bisq is needed in order to evaluate such thing; almost no one besides you have it.

I, for example, have difficulties to even estimate the added value of my contribut

[2019-04-01 16:11] huey735 commented on #261
Yeah, it's not always evident how to measure the value added. But I think as time goes by we could look to previous similar paid contributions for guidance.
Rejecting requests may come off has harsh but is the correct mechanism to pressure them down to reasonable values.

[2019-04-01 17:00] ManfredKarrer commented on #261
@eyalron33 Sure there are cases where it is more difficult and you cannot compare all according to that metrics. What is the value if you find a critical consensu sbug in the DAO? Unlimited at the end if it would make the difference if the DAO suceeds or fails - and with it the value of any BSQ.

But as a rule of thumb just use the number what you would request in a freelance work relationship. Th

[2019-04-01 17:15] m52go commented on #261
I think valuing work is fraught with issues, with or without a role like a COO, and the numbers will never be perfect for everyone.

My preferred approach would be to determine baseline metrics for roles and delivered work, and then let contributors make their case for adjustments.

As role maintainer, I've slacked on implementing this. For example, the blog maintainer emerged over the past couple

[2019-04-01 17:31] m52go commented on #241
It's not too late to change your request.

Freelance pricing is notoriously hard. Better to charge for the value of the project to Bisq, instead of hourly, relative to other contributions, I think. The production of these videos was accepted at 4900 BSQ, and your translations will make them available to a whole new _relevant_ market. We've been getting lots of interest from Brazil lately. That's w

[2019-04-01 17:40] ManfredKarrer commented on #261
I think we should also find ways to make the cost / benefit ration more visible if possible. The revenue comes from trading fees so all work need to be related to the goal how we can increase trade volume. Of course that must not lead to a primitive short minded strategy. We have to keep Bisq's long term "mission" in mind and to get to break even will take it's time. But at the end if we don't man

[2019-04-01 18:01] m52go commented on #261
Practically speaking I think (a) roles need to be better defined and (b) role owners should maintain a list of bounties for non-role work.

Bounties don't need to be all-inclusive or super-actively maintained but they would help with allocating resources and valuing contributions (i.e,. establish baselines). Making role owners responsible eliminates the need for centralized "managers" who no one w

[2019-04-01 18:20] Stam57 commented on #260
My old BSQ address is:
B1Ke6nE58wDpLa8StA3Ls3nRNSrtheKSG2V

My new BSQ address is:
B1CPX2HuSeW4Kzfs3sjuuPPxteLzZUNb66D

[2019-04-01 18:30] ManfredKarrer commented on #261
Yes sounds like a good plan. With Twitter we had such a discussion in the past and it got resolved with setting a baseline what we think its worth what Twitter adds. Providing some stats will help to justify the costs over time. I think such an approach should be good enough for now.

For the blog posts: Yes we definitely want to have activity there. But the costs need to be limited and be brought

[2019-04-01 18:42] arunasurya commented on #260
Confirming the address: B1PFD3uscJqFQfLNAS6bWQtr1PUahrWNvC7

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, April 1, 2019 2:14 PM, Steve Jain <notifications@github.com> wrote:

[2019-04-01 20:15] eyalron33 commented on #261
Great idea, @m52go.

[2019-04-01 20:34] m52go commented on #260
Wimking1987
B14Cictu1JaHoR3wCF4uq9D3LxcxZvk4FYs

[2019-04-01 21:35] devinbileck commented on #240
Just curious, is it possible to provide links or a report of translations contributed? And any record of discussions regarding your second contribution?
Otherwise without that information, the majority of stake holders will be unable to make an informed vote and will (should) either defer or reject it.

[2019-04-01 21:39] devinbileck commented on #237
Regarding **_participating in testing the DAO on Bisq testnet_**, do you have any additional details such as a report detailing the test coverage or the issues you encountered/entered.

[2019-04-01 21:40] devinbileck commented on #255
Just curious, any record of your proof reading activities?

[2019-04-01 22:01] Mycelial1 commented on #260
Confirming my BSQ address
B1BUqX5aYPyXMzCfGNX6UjTyNQd1t6qpyRK

[2019-04-01 22:18] eyalron33 commented on #255
It was done on a private email exchange with @arunasurya. You can also see [Aruna's compensation request](https://github.com/bisq-network/compensation/issues/259) where my help was mentioned.

[2019-04-02 01:24] leshik commented on #260
Confirming that my current address is **B1CK6i6P4cGc73sRTtovNaRUC9QrjhzUJxd**

[2019-04-02 05:39] tomatopeel commented on #260
please use my old address

On Mon, 1 Apr 2019 at 17:45, Steve Jain <notifications@github.com> wrote:

[2019-04-02 06:23] y3v63n commented on #240
I checked several recent compensation requests for translation jobs and none of them contained any reports, so that was the reason I didn't provide any either.

Anyone with Transifex account can verify the word counts I indicated above here: https://www.transifex.com/bisq/bisq-desktop/translate/#ru/displaystringsproperties/166392802?q=translator%3Ay3v63n+translated_after%3A2019-03-01

Not sure if

[2019-04-02 06:32] devinbileck commented on #240
Thanks @y3v63n , that helps!
Sorry, I wasn't trying to single you out. I like to evaluate and make an informed vote on as many proposals that I can, which requires sufficient details within the proposal.
That link to transifex should be sufficient to evaluate your contribution.

[2019-04-02 07:44] huey735 commented on #240
@y3v63n you can get your statistics on Transifex by going to the Bisq Dashboard and on the top right of the graph you can select "all" or "mine". Selecting mine, it'll show only your contributions. That's where I got my numbers.

[2019-04-02 07:46] ripcurlx commented on #243
@bisq-network/contributors Thanks everyone who participated in the discussion on the valuation of compensation requests. If someone wants to change the amount or the description of her/his compensation request, feel free to do so until EOD. I'll delay the voting this time for one day, because of the special circumstances.

[2019-04-02 08:48] eyalron33 commented on #260
*for both eyalron33 and neiman30*:

Confirming address: B1PU7DoYDHWi2impz86Fvu3ZgsREaBnGJBW

On Mon, Apr 1, 2019 at 2:14 PM Steve Jain <notifications@github.com> wrote:

[2019-04-02 09:14] huey735 commented on #241
@ripcurlx I took advantage of the vote delay to make some edits to my request and include the translation work you merged to the Bisq software.

[2019-04-02 09:18] #248 closed

[2019-04-02 09:34] Stam57 commented on #248
I have to close this issue and withdraw my compensation request for the following reason:
According to

https://docs.google.com/spreadsheets/d/1xlXDswj3251BPCOcII-UyWlX7o7jMkfYBE-IZ5te5Ck/edit#gid=820601546

after the genesis distribution I will be compensated with an amount of 2313 BSQ for my work in Transifex (in the spreadsheet -line 19- is still my old BSQ address B1Ke6nE58wDpLa8StA3Ls3nRNSrth

[2019-04-02 10:58] blabno commented on #61
Yes it's complete.

[2019-04-02 10:58] blabno commented on #61
Tasks are complete but I need to get new BSQ address.

[2019-04-02 11:06] y3v63n commented on #240
@huey735 Thanks! For some reason, word counts in the dashboard are slightly higher than those when I use filters.

[2019-04-02 12:32] ben-kaufman commented on #260
My old BSQ address is: BmkZMETyptYNqoXj5mnQVqDGA9XprxwpR4V
My new address is: B112ZP1RHmVyxGknTtDR8bvRKyQuhVNc1Xo

[2019-04-02 13:09] ManfredKarrer commented on #61
@blabno Please change the title / remove WIP. Today EOD voting starts....
@ripcurlx This request should be added as well....

[2019-04-02 13:50] clearwater-trust commented on #260
Confirming address: **B15VTptnSAUURnacM9MV736yjUmF4Qta6E2**

Thanks!

[2019-04-02 13:56] ArthurCideron commented on #260
Let me add to the notification storm.

Confirming:
B1CuNXH7DfFLdti8TMFnaYTVBs7umXH8d2A

[2019-04-02 14:08] oscarguindzberg commented on #243
@ripcurlx Is there a link to what has been decided about the valuation of compensation requests? I would like to check if I have to adjust mine.

[2019-04-02 14:14] ripcurlx commented on #243
That's the issue I was referencing: https://github.com/bisq-network/compensation/issues/261

[2019-04-02 19:46] blabno commented on #260
This is @blabno
My BSQ mainnet address is: B1ARsZ9kk1wANuuw9EDFnWF9ERwa1x5N2Rm

Sent with [ProtonMail](https://protonmail.com) Secure Email.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Monday, 1 April 2019 14:14, Steve Jain <notifications@github.com> wrote:

[2019-04-02 19:48] blabno commented on #61
Ok, so I've updated my BSQ address. This issue is ready.

[2019-04-02 20:53] arunasurya commented on #259
Thought I should provide more stats for the blog posts on Medium. The publication started in late February, and the first post was published on Feb 25, 2019 :

![Medium views_March 2019](https://user-images.githubusercontent.com/43150241/55435121-bb6e6c00-5588-11e9-8b39-2ba83e4b207e.png)
![Medium minutes read_March 2019](https://user-images.githubusercontent.com/43150241/55435134-c32e1080-5588-11e

[2019-04-02 21:05] m52go commented on #259
Thanks Aruna. We should determine better metrics when we finalize the role of the blog admin (traffic metrics just incentivize click-bait, and impact is cumulative over time), but for the sake of completeness, here are some more numbers for blog posts on the bisq.network website.

![Screenshot from 2019-04-02 17-01-16](https://user-images.githubusercontent.com/735155/55436095-666f2d80-5569-11e9-95

[2019-04-03 04:19] BravoIndia commented on #260
Confirming: B1RsBHsUuEBTLUgf7KeFs4KnT9jwMWi7Xt

Thank you!

[2019-04-03 05:56] arunasurya commented on #259
Upon more careful consideration, I would like to state a few things, both in regard to my compensation request for March 2019 and [the current discussion](https://github.com/bisq-network/compensation/issues/261) on compensating our bloggers.

First, regarding the Bisq academy, I agree with @ManfredKarrer that it is hard to assess its value now, so I will evaluate the project, and if I still find i

[2019-04-03 05:59] arunasurya commented on #261
I have written up my thoughts on this topic in [the comments to my March 2019 comp.request](https://github.com/bisq-network/compensation/issues/259)

[2019-04-03 06:55] eyalron33 commented on #259
I did not feel mislead, so there is no need to apologize to me. Things regarding "officiality" will be come clearer with time using the DAO.

[2019-04-03 07:03] Wimking1987 commented on #259
Same here, no need to apologize. ;)

Am Mi., 3. Apr. 2019 um 08:55 Uhr schrieb eyalron33 <
notifications@github.com>:

--

wimlanz.ch
079 811 04 80
Winzerstrasse 79
8049 Zürich

[2019-04-03 08:47] HarryMacfinned commented on #260
Hello @m52go ,
I just sent a mail to the address you mentioned.
Thank you.

[2019-04-03 09:25] ripcurlx commented on #243
@bisq-network/contributors Compensation requests have been staged in the BSQ stake and vote tracking spreadsheet, and the voting period is now open.

The specific worksheet for this month is at https://docs.google.com/spreadsheets/d/1xlXDswj3251BPCOcII-UyWlX7o7jMkfYBE-IZ5te5Ck/edit#gid=459254761

Voting instructions are at https://docs.bisq.network/dao/phase-zero.html#how-to-vote.

Some of you wil

[2019-04-03 09:26] ripcurlx commented on #61
@blabno sorry for closing the issue by mistake

[2019-04-03 14:34] sqrrm commented on #260
Old: B1EFcs4HsAijnxFwZB8QudD5wNTRwTUnNGJ
New: B13ydR5AbXUMDs4444SrMcvaxcUqH8t2s2G

[2019-04-03 16:35] ManfredKarrer commented on #259
@arunasurya No need for aplogize. I was for sure big part of the confusion due lack of thinking through the processes.... We all are learning how to work in such a model and its not always easy.
I would prefer to not stop the efforts as all communication efforts are valueable in regards to the DAO launch. I will try to have a call with you to see whats the most practical short term approach is...

[2019-04-03 16:57] arunasurya commented on #259
OK, I will write the post this week, and we will continue with the weekly publications.

[2019-04-03 17:01] kwcareer commented on #260
I replied by email, but unlike others I have not appeared in the reply list. This is what I sent:

Confirming my existing address is:  B1EoZ4gaFK3Wj7bbN7uypZ6TXcrnniiHpDz

[2019-04-03 17:02] ManfredKarrer commented on #259
@Wimking1987 Sorry also to my reaction on your request. I have seen later it was used in the blog post and on Medium. We did not had set up clear guidelines for design contributions and its an open discussion how to deal exactly with it. My current opinion is that all on the webpage (including blog posts) should match @pedromvpg 's design style. At outside areas like Medium I think we can be more

[2019-04-03 17:09] m52go commented on #260
@kwcareer how is that you have a spot on the voting spreadsheet, but don't have an issue in this repository?

I had assumed all contributors would have opened issues in this repository...now I'm wondering if there are other contributors like you.

[2019-04-03 17:26] kwcareer commented on #260
@m52go

I do not know, did I omit to take some action somewhere perhaps? I found this if it is of any help: https://github.com/bisq-network/compensation/issues/142

[2019-04-03 17:57] eyalron33 commented on #259
Bitcoin does not have a DAO, so it cannot have a Twitter account. Bisq does have a DAO. I think that organization official accounts are useful, and we luckly developed a toolallowing us to have one? Why not to use it?

[2019-04-03 18:16] ManfredKarrer commented on #259
I see it more as a compromise as we need to deal with some centralized infrastructure like the GH account. The more "Bitcoiny" we get the better IMO, but yes its useful and atm I think we should focus on efficienty. That Bitcoin Subreddit is not official (even if they would have the structure to do it) is good as it avoids a lot of problems. The more local (driven independently by contributors) th

[2019-04-03 18:29] m52go commented on #260
Oh...you are in the list after all. Not sure where the confusion is.

I used an API call to get a list of all users who have opened an issue here, so the chances of an error were slim to none.

[2019-04-03 18:39] eyalron33 commented on #259
The DAO is gonna be officially the Bisq community, No way around that, Manfred:-)

As the DAO is the official community, it allows you to define official community assets. I see only cons of not using it (Bitcoin.com) but no pros, besides some romanticism.

Would the Bitcoin subreddit be worse for being official? No, it would identical to how it is now, with some extra insurace that its operators

[2019-04-03 21:52] sqrrm commented on #259
It's perhaps not the best place for a debate about these things, in a compensation request, sorry @arunasurya .

@eyalron33 While the DAO is the community at this point it's also possible to fork the DAO and it has to be possible to do as a countermeasure to certain threats. If that happens and some of the contributors that manage these resources go with the fork you will still have the same probl

[2019-04-03 22:29] eyalron33 commented on #259
@sqrrm By "officially managing resources" I mean by that manage have a bond in the DAO.

I'm not so clear what does "to fork the DAO" means (at least in the technical implementation we created). Do you mean something like making a new competing DAO?

When people with bonded roles switch a DAO, they lose their bond in the DAO they left. They may decide to do that because the compensation for switch

[2019-04-03 22:31] eyalron33 commented on #259
@arunasurya @sqrrm @ManfredKarrer maybe it's really better to change this discussions to another place. Where would be good for that?:-)

[2019-04-04 07:24] chirhonul commented on #260
Confirming that my address `B197ZcX369usMDHCF6iD2h1CMbntkovDqoe` is correct.

[2019-04-04 07:24] devinbileck commented on #236
I noticed https://github.com/bisq-network/bisq/pull/2501 is not yet merged. So should not be considered delivered yet.
As seednode operator, you have 2 seednodes? Typically 50 BSQ is requested per node. So should it be 100 not 150? But based on your total requested, I believe you calculated it as 100 so maybe that was just a typo?

[2019-04-04 09:55] sqrrm commented on #259
@eyalron33 What I mean by forking the DAO is that the community splits in two fairly equal parts. The technical implementation of the DAO is mainly a way to manage the social aspect, where the social aspect is where the real power and value lies. With a fork the new community could keep most of the the DAO bonds and whatever they want by modifying the code to their liking.

If you then want to che

[2019-04-04 10:33] arunasurya commented on #259
I thought more about it, and I realize now that I got caught up in my projects, and for a moment forgot about the main reason we are here, which is Bisq and its users:). I think we need to define value to Bisq better. For my future contributions, I will keep in mind that Bisq is efficient, lean and resilient, and direct my work accordingly. I don't have a better idea of where to have the discussio

[2019-04-04 10:51] freimair commented on #236
Ah damn, that one is indeed not merged. Well, hm. @ripcurlx I guess there is not much we can do now can we?

ad Seednode Operator: yes, typo.

[2019-04-04 11:03] freimair commented on #260
old: B1JJUQWUHEoUwng4uGGWsT4hnTMc6dXtj9K
new: B15co2SV4cZr5ytscwHejuQWiZHYJN5imxg

[2019-04-04 11:23] ripcurlx commented on #236
As everything is already copied over to the spreadsheet for voting, I can't update the amount anymore. If your CR gets accepted, please try to get your PR merged to master as soon as possible after the DAO launch.

[2019-04-04 12:03] arunasurya commented on #254
I now understand the situation better, and the need for the consistent design not only on the website but other sites associated with Bisq such as Medium's Bisq publication. For future design related things, I will run things by @pedromvpg.

[2019-04-04 14:00] eyalron33 commented on #259
@sqrrm I don't understand the phrase "splits in two fairly equal parts".

The case of splitting into *exactly* equal parts can be ignored as it is not realistic. For any other scenario, one part *must be bigger* than the other (voting-power wise), hence this is the "right DAO" and can be verified check using the system we created.

The bigger part then has no problem.

The smaller part can choose

[2019-04-04 18:31] arunasurya commented on #254
Upon thinking about this further, I find it constraining not to be able to use designs by other designers for projects that are not published directly on the Bisq site. I understand the need for consistency on the Bisq website but I believe that we can be more flexible on other sites, as long as we don't change the core logo (the cat) itself. I would like to use Wim's design on my github site as w

[2019-04-04 18:35] m52go commented on #254
@arunasurya I think the intention is to make the design approach consistent, not that all design is done by the same designer. I agree that the Bisq aesthetic should be consistent across channels as much as possible (i.e., wherever it can be managed).

[2019-04-05 03:44] fedegrc commented on #260
Confirming address B1961fVVFMnQunrKVtWVsBsReLvL6q6VT3R

[2019-04-05 19:30] pedromvpg commented on #260
still the same: B18BA37KaiSHLMhyjs7FMPAJMfcVcVzJPCm

[2019-04-05 19:41] kopite77 commented on #260
confirming my BSQ address: B1KMMTchfJAyNDGQwUW2qdJKLxvUupnfKZZ

[2019-04-06 07:49] ripcurlx commented on #243
Compensation Voting Complete

This voting period is now complete, and the results are as follows:

23 contributors submitted 23 compensation requests.
8 first-time compensation requests this time (Welcome @michaltakac, @FKrauss, @y3v63n, @huey735, @Mycelial1, @ben-kaufman, @Wimking1987 and @blabno  👍).
10 stakeholders voted.

Total compensation requested was 136,775 BSQ.
Total compensation receive

[2019-04-06 07:50] ripcurlx commented on #236
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:50] #236 closed

[2019-04-06 07:50] ripcurlx commented on #237
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:50] #237 closed

[2019-04-06 07:50] ripcurlx commented on #238
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:50] #238 closed

[2019-04-06 07:50] ripcurlx commented on #239
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:50] #239 closed

[2019-04-06 07:50] ripcurlx commented on #240
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:50] #240 closed

[2019-04-06 07:51] ripcurlx commented on #241
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:51] #241 closed

[2019-04-06 07:51] ripcurlx commented on #242
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:51] #242 closed

[2019-04-06 07:51] ripcurlx commented on #244
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:51] #244 closed

[2019-04-06 07:51] ripcurlx commented on #245
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:51] #245 closed

[2019-04-06 07:51] ripcurlx commented on #246
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:51] #246 closed

[2019-04-06 07:51] ripcurlx commented on #247
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:51] #247 closed

[2019-04-06 07:51] ripcurlx commented on #249
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:51] #249 closed

[2019-04-06 07:51] ripcurlx commented on #250
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:51] #250 closed

[2019-04-06 07:51] ripcurlx commented on #251
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:51] #251 closed

[2019-04-06 07:51] ripcurlx commented on #252
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:51] ripcurlx commented on #252
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:51] #252 closed

[2019-04-06 07:52] ripcurlx commented on #253
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:52] #253 closed

[2019-04-06 07:52] ripcurlx commented on #254
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:52] #254 closed

[2019-04-06 07:52] ripcurlx commented on #255
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:52] #255 closed

[2019-04-06 07:52] ripcurlx commented on #256
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:52] #256 closed

[2019-04-06 07:52] ripcurlx commented on #257
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:52] #257 closed

[2019-04-06 07:52] ripcurlx commented on #258
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:52] #258 closed

[2019-04-06 07:52] ripcurlx commented on #259
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:52] #259 closed

[2019-04-06 07:52] ripcurlx commented on #61
Closing as complete, see https://github.com/bisq-network/compensation/issues/243#issuecomment-480483512.

[2019-04-06 07:52] #61 closed

[2019-04-06 08:43] JohnResh opened #262 "Bisq DAO Testing Feedback"
Claim of feedback reward + bug report.

 - BSQ requested: 30
 - BSQ address: B1FcVZn2xXfTNS5Fib8yZDQMrRL87GPR6YG

## Contributions delivered
https://github.com/bisq-network/bisq/issues/2596

Also:
Bisq DAO Testing Feedback: done
Got it. Thank you!

[2019-04-06 22:19] aejontargaryen commented on #260
confirming BSQ address : B1AweC1bYPY6SzkWTanwX2JWpBhVRxL72he

[2019-04-08 10:27] ripcurlx commented on #262
@JohnResh You need to file your compensation request here https://github.com/bisq-network/compensation/issues. To be able to evaluate your compensation request please add your feedback to the issue as well. Thanks for testing the DAO!

[2019-04-08 10:39] ripcurlx commented on #262
@JohnResh My mistake 😬 - I had multiple repositories mixed up in my ZenHub view.

[2019-04-08 10:40] ripcurlx commented on #262
But as mentioned above, please add your testing feedback here in the issue as well.

[2019-04-08 15:13] #260 closed

[2019-04-08 15:14] m52go opened #263 "LAST CHANCE: Update Mainnet BSQ Address"
We need a final mainnet BSQ address from each person listed below before the DAO launches, which is happening very soon (i.e., a _matter of days_).

- To change your address...
  - _Preferred_: reply here with your new address AND old address
  - _Otherwise_: email genesis@bitsquare.io with new and old addresses AND reply here stating you've done so
- To keep your address...
  - Reply here confirm

[2019-04-08 15:41] xiphon commented on #263
Confirming BSQ address: `B1EnBmUPBggfHogLy3DidFob1vvd2YfB4Yb`

[2019-04-08 15:55] ghubstan commented on #263
My existing BSQ address is the one that should be used.

Thank you,
Stan  [ @ghubstan ]

On Mon, Apr 8, 2019 at 12:14 PM Steve Jain <notifications@github.com> wrote:

[2019-04-08 16:26] KanoczTomas commented on #260
communicated my new address, you should have it now @m52go

[2019-04-08 16:57] pfergi42 commented on #260
**New address:** B1JDugJeHYuzX7biJ7Nw6KSABVy21d5rqWo

Old address: B1D3KUonHEcCg9tuvYXVRbWivdGfCHtnA8n

[2019-04-09 14:31] itsN1X opened #264 "For April 2019"
## Summary

 - BSQ requested: 666
 - BSQ address: B1NpPA7nh3gPe2FRozYuuJVBWF5Pm5rT8q1

## Contributions delivered

-  Surveys
-  Testing DAO (regtest)
-  Bug Report & Feedback
-  Governance
-  Testnet Peers (regtest)

<details><summary>

## Contributions in progress

</summary>

- [x] Testing DAO
- [x] Platform compatibility (Soft)
-  Governance
- [ ] Proposing (regtest)
- [x] Proposal analysing (

[2019-04-09 20:31] alfsbs commented on #263
I confirm my old BSQ address as final BSQ mainnet address: B16kMZonmnNXrZvSqGuXVjpWWTZnSVG3xJb

[2019-04-09 22:51] leomcy commented on #263
My existing BSQ address is the one that should be used. Thank you, @leomcy

[2019-04-09 22:58] m52go commented on #264
Hi @itsN1X, I believe we spoke on Slack. Have you actually done these tasks, or are they items you plan to do in the future?

Compensation can only be requested for delivered work ([link](https://github.com/bisq-network/proposals/issues/19)).

If you're wondering where to start, I recommend [checking out this checklist](https://docs.bisq.network/contributor-checklist.html), hanging out on our Slac

[2019-04-10 00:17] m52go commented on #263
`@AndersBTC` said on Twitter to use the existing address, which is the following, per [this issue](https://github.com/bisq-network/compensation/issues/81).

B1MhJmVFgxYDGXBWE74396E9ZmSXLJupmSm

[2019-04-10 14:45] cbeams commented on #260
Confirming that I've sent my new addresses to @ManfredKarrer as requested.

[2019-04-11 06:21] JohnResh commented on #262
I did not save my testing feedback, but I remember suggesting adding tooltips to the governance terms, especially "confiscating a bond" which I found quite confusing.
Hope this is enough. If not, you can reduce the reward to +10 just for the bug report.

[2019-04-11 10:50] agb19 opened #265 "For April 2019"
## Summary

Hi everyone, this is my first compensation request, please be gentle and apologies for any mistakes.

 - BSQ requested: 500

## Contributions delivered

Identified, documented and tested two issues affecting Bisq functionality on slow networks. My contribution includes:
- discussing the problem on the bisq.community forum with other affected users
- studying the problem in real and sim

[2019-04-12 05:05] initCCG commented on #263
Our existing address should be used.
Thank you.

[2019-04-12 10:52] itsN1X commented on #264
Oh, my bad! That was such a `¬<pre>` message løl

_And I am not an active_ contributor, but have been w\ the project since a while🖤

----

- [ ] Survey

###### `20`**BSQ**

- [ ] Reporting

 bugs in `regtestdao`
###### `X`**BSQ**

- [ ] Testing the new 9.7, > on multiple OSes.
    :- TAILS ☑ :  `Clean Install`
    :- Ubuntu ☑ :  `Clean Install`
    :- MINT ☑ :  `Clean Install`
    :- Kubuntu ☑ :

[2019-04-12 11:14] Nolaan commented on #263
This is my new address : B19WUHxD8L5KHdWAyRYYcsid6bps593R7z6

[2019-04-12 14:57] ManfredKarrer commented on #263
What was your old one?

[2019-04-12 15:45] Nolaan commented on #263
@ManfredKarrer apparently yes, I just copied the one provided by 0.9.8 running mainnet BTC

[2019-04-12 15:51] ghubstan commented on #263
Confirming BSQ address for @ghubstan <https://github.com/ghubstan> :
B1N8bDbnGwxC4gi2DLSttRNvxPan1kYWynW

On Fri, Apr 12, 2019 at 11:57 AM Manfred Karrer <notifications@github.com>
wrote:

[2019-04-12 15:53] HarryMacfinned commented on #263
@Nolaan ,
There is a compensation request with your pseudo
https://github.com/bisq-network/compensation/issues/14
BSQ address seems to differ from your new one.

[2019-04-12 15:55] Nolaan commented on #263
Aren't they the same you mean?

[2019-04-13 21:33] rhcastilhos opened #266 "For April 2019"
## Summary

 - BSQ requested: 118.98 BSQ

## Contributions delivered

**Request: 118.98 BSQ**

Translation of Bisq software to Portuguese (Brazil) (pt_BR) (from dec/18 to apr/19)
Word count:
- 5,949 Translated

As previous requests of translators, I'm asking for each word 0.02 BSQ:
- Translation - 5,949 words * 0.02 BSQ = 118.98 BSQ

![image](https://user-images.githubusercontent.com/10789865/5718

[2019-04-15 19:33] #263 closed

[2019-04-16 03:53] bugrasan commented on #263
it seems my addr also differs from the old one in #119:
B1FRo6ojpNEj1yDqMeeG5kH8xDM7HssLJ91

[2019-04-19 22:49] AndersBTC commented on #263
Hi,

so I believe/hope that my previous address is still valid. But what do I do
now, if I want to sell these for BTC? Or trade them in general?
Unfortunately I have not had time to follow the project since last summer
2018.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail&utm_term=icon>
Virus-free.
www.avast.com
<https://www.avast.com/s

[2019-04-19 23:16] m52go commented on #263
@AndersBTC just open update Bisq to the current version and run it. As long as you're using the same data directory as you had when you generated that address, you'll see your BSQ balance in the software and you can sell buy/sell BSQ as you would anything else on Bisq (i.e., making your own offer or taking other offers).

[2019-04-30 08:19] ripcurlx commented on #243
Closing as complete.

@bisq-network/contributors The proposal phase for this voting cycle will end at ~10th of May 10:15 (please check the Bisq client `DAO -> Governance` for exact timing). Please submit your compensation requests as always here on GitHub and reference it in your first Bisq DAO compensation request within the Bisq client. See https://docs.bisq.network/getting-started-dao.html#part

[2019-04-30 08:19] #243 closed

[2019-04-30 08:20] ripcurlx commented on #261
Closing as complete.

[2019-04-30 08:20] #261 closed

[2019-05-02 09:29] arunasurya opened #267 "For April 2019"
## Summary

 - BSQ requested: 2704
 - BSQ address: B16cXeZAQyQ7Dmnkcjr4GdkifJexn6FJ5aA

## Contributions delivered

### Bisq blog project (700BSQ)
- Wrote a blog post: https://bisq.network/blog/why-aruna-surya/ (400BSQ).
- Reviewed and suggested edits for two blog posts (https://bisq.network/blog/dao-launch-third-anniversary/; https://bisq.network/blog/ricardo-janine-rogue-bitcoin-interview/), pro

[2019-05-02 09:31] arunasurya commented on #266
You may find the following documentation useful for your comp. request: https://github.com/arunasurya/bisqtransifex/blob/master/translatordocumentation.md.

[2019-05-02 13:28] criptonauta commented on #260
@m52go

I contributed but my name is not on the list

A lot of translations in Transifex since 2 years ago.

[2019-05-02 13:53] m52go commented on #260
@criptonauta have you ever made a compensation request for your work? It doesn't seem like you've ever opened an issue in this repository.

[2019-05-02 14:06] criptonauta commented on #260
@m52go not yet. Just knew about it some days ago. I will finish the current revision since it's close to a new release and make a request prior to May 5th.

[2019-05-02 15:53] m52go commented on #260
The convention has been to make a compensation request on a monthly basis for any work you've done in the past month.

But you're still free to make a compensation request for all your contributions from the past, as long as you can provide documentation/proof of them so stakeholders can make an informed decision.

[2019-05-03 06:45] y3v63n opened #268 "For April 2019"
## Summary

- BSQ requested: 580.63

## Contributions delivered

### Transifex translations (140.63 BSQ)

- Translated 2,009 words into Russian (at the rate of 0.07 BSQ per source word). Ensured that at the time of the release on 15  April, Russian was 100% translated. See the screenshot with the stats bellow. The report can also be accessed here: https://www.transifex.com/bisq/bisq-desktop/transl

[2019-05-03 12:53] ripcurlx opened #269 "Cycle 5"
## Summary

 - BSQ requested:`29880`

This is a compound compensation request for contributions delivered from April 2019 until now. I'll tried to split up all contributions as detailed as possible. I wasn't very active from May until August because of paternity leave  -> !😴.

## Contributions delivered

**Reviews of PRs**
I monitor PR reviews separately from the responsibilities of the Bisq Deskt

[2019-05-03 20:34] devinbileck opened #270 "Cycle 1"
## Summary

This compensation request covers work [delivered](https://github.com/bisq-network/proposals/issues/19) since the previous voting period ([for March](https://github.com/bisq-network/compensation/issues/244)) up until the end of the DAO cycle 1 proposal phase, between 2019-04-01 and 2019-05-09.

Since the BSQ market is still new and undergoing price discovery, it still assumes 1 BSQ == 1

[2019-05-04 03:06] ManfredKarrer opened #271 "Cycle 1"
## Basic information

- BSQ amount requested: **16270**

## Details

### Development work:
- Development work [1]
- Working on proposals for improved protection tools [2]
- Development for v1.1.0 release [3]

### Others:
- Handling of exceptional situation with SEPA and Interac chargeback scams
- Dev sessions

Requested: 12000 BSQ

[1] https://github.com/ManfredKarrer
[2] https://github.com/bisq-n

[2019-05-04 03:37] ManfredKarrer commented on #268
Please make sure you make the request in the Bisq app in the DAO section!
The BSQ address field above can be removed as it is now irrelevant.

[2019-05-04 03:38] ManfredKarrer commented on #266
Please make sure you make the request in the Bisq app in the DAO section!
The BSQ address field above can be removed as it is now irrelevant.

[2019-05-04 03:38] ManfredKarrer commented on #265
Please make sure you make the request in the Bisq app in the DAO section!
The BSQ address field above can be removed as it is now irrelevant.

[2019-05-04 03:39] ManfredKarrer commented on #264
Please make sure you make the request in the Bisq app in the DAO section!
The BSQ address field above can be removed as it is now irrelevant.

[2019-05-04 03:39] ManfredKarrer commented on #262
Please make sure you make the request in the Bisq app in the DAO section!
The BSQ address field above can be removed as it is now irrelevant.

[2019-05-04 14:29] m52go commented on #262
I found 1 response that reflected @JohnResh's feedback from above. I, for one, would recommend including the feedback survey in your compensation request when you file it in the DAO.

![Screenshot from 2019-05-04 10-24-49](https://user-images.githubusercontent.com/735155/57180532-66f43000-6e57-11e9-88b9-0df2d43c6018.png)

[2019-05-04 16:30] huey735 opened #272 "For April 2019"
## Summary

 - BSQ requested: 154

## Contributions delivered

Translation and review of Bisq software to Portuguese (pt)
Translation of Bisq software to Portuguese (Brazil) (pt_BR)
Word count:
3760 Reviewed
7896 Translated (As my translation into pt-br was basically a copy-paste of my pt-pt translation left to Brazilian reviewers to review I'll divide this value by 2)

Using my [previous compensa

[2019-05-04 16:40] huey735 commented on #268
@ManfredKarrer how will you know what BSQ address to send the funds to?

[2019-05-04 17:13] sqrrm commented on #268
@huey735 The request should be done within the app which will automatically handle the addresses.

When you make the compensation request the app will create a transaction with some BSQ and BTC  txoutputs that can be spent by an address you control. One of the BTC outputs will later be treated as a BSQ txoutput if enough people vote in favor of your compensation request. You never have to bother w

[2019-05-04 20:06] criptonauta commented on #272
@huey735, I'm Brazilian and the only reason I'm using the pt_PT is that pt_BR is temporarily unavailable.

I say that considering Bisq as a financial tool. The differences between pt_PT and pt_BR can be significant in some circumstances. I rather to use it in English and have no doubts about what I'm reading than to use the software in pt_PT and risk to make some mistake with my money involved on

[2019-05-04 22:03] rhcastilhos commented on #266
I don't have 2 BSQ to open the request.
The minimum amount available in bisq is 120 BSQ for 0.03 BTC, which is too much for me. It would be nice to have offers with smaller amounts of BSQ.

[2019-05-05 03:30] ManfredKarrer commented on #266
Make your own offer ;-)

[2019-05-05 08:32] HarryMacfinned opened #273 "For cycle1 (april 2019)"
## Summary

 - BSQ requested: `3100`

This compensation request :
- follows the https://docs.bisq.network/roles.html#compensation recommandations
- applies the 1BSQ=1USD rule (as still suggested on the slack #compensation channel)
- concerns april 2019, ie the 01/04/2019-30/04/2019 period.

## Roles performed
### Substantive reports

- Support | https://github.com/bisq-network/roles/issues/64#issu

[2019-05-05 08:46] blabno opened #274 "For April 2019"
## Summary

 - BSQ requested: 200
 - BSQ address: B1PuuhNN2CnLAS4wiSTkdXEBqqTx4UMF4Nn

## Contributions delivered

## Contributions in progress

## Roles performed

New asset review.

[2019-05-05 15:48] criptonauta opened #275 "Before April 2019"
## Summary

 - BSQ requested: 304.75
 - BSQ address: B1NT4jRKVNTVQ746y11Vy9jBECApJxQgKUW

## Contributions delivered

To sort what was done prior to April 2019, I used the following filters on Transifex:

**For Translation:**

`translator:criptonauta translated_before:2019-03-31`

Also selected all strings

![image](https://user-images.githubusercontent.com/6478038/57196115-af7b1e80-6f27-11e9-8174

[2019-05-05 16:04] criptonauta opened #276 "For April 2019"
## Summary

 - BSQ requested: 111,65
 - BSQ address: B1NT4jRKVNTVQ746y11Vy9jBECApJxQgKUW

## Contributions delivered

To sort what was done during April 2019, I used the following filters on Transifex:

**For Translation:**

`translator:criptonauta translated_before:2019-04-30 translated_after:2019-04-01`

Also selected all strings

![image](https://user-images.githubusercontent.com/6478038/571966

[2019-05-06 14:11] agb19 commented on #265
Done, thanks!

[2019-05-06 16:32] m52go opened #277 "For Cycle 1"
_Note: this request includes all work from the calendar month of April and the days in May leading up to the end of Cycle 1's proposal phase._

## Summary

 - BSQ requested: `12225`

## Contributions delivered

**Website**
- Create stats page ([PR](https://github.com/bisq-network/bisq-website/pull/156)) (1600)
- Add DAO FAQs ([PR](https://github.com/bisq-network/bisq-website/pull/152)) (150)
- Rea

[2019-05-06 19:54] lyyva opened #278 "For April 2019, Cycle 1"
## Summary

 - BSQ requested: 420
 - BSQ address: B1GCDozS2rf8AhKszR9Bbpu3pa769jCfL5a

## Contributions delivered

- completed testing of trading process

- completed testing of altcoin trading accounts
- started testing DAO governance, but was unable to complete this time.
Outside of the fixed testing processes, i also participated in most DAO testing rounds on testnet and tested trades on mainne

[2019-05-06 21:28] Emzy opened #279 "Cycle 1"
## Summary

 - BSQ requested: 775

## Contributions delivered

None.

## Contributions in progress

None.

## Roles performed

- Bisq Pricenode Operator at bisq-network/roles#14
- Bisq Seednode Operator at bisq-network/roles#15
- Bisq Bitcoin Node Operator at bisq-network/roles#67
- Bisq Mailman Operator at bisq-network/roles#26
- Markets Website+API Operator at bisq-network/roles#9

## Compensati

[2019-05-06 21:42] Mycelial1 opened #280 "Cycle 1"
## Summary

 - BSQ requested: 100
 - BSQ address: B1D6dh4pZyB1LgjpfBUPTaLVGDABSgZuCKv

## Contributions delivered

 I played a small ambassador role by submitting a superchat in [this video](https://www.youtube.com/watch?v=Fsgi5GZSb_Y&feature=youtu.be) at 36:20 to correct someone on the subject of Bisq and KYC.

The youtuber consistently reads superchats out loud so I thought it a good moment to e

[2019-05-06 22:00] mrosseel opened #281 "Cycle 1"
## Summary

 - BSQ amount requested: 450

## Contributions delivered

## Contributions in progress

### Hosting
Monthly costs nodes: 50 / node * 5: 250 BSQ

Running:
1 Price node + bitcoinaverage subscription
2 Seed nodes
2 Bitcoin full nodes
1 Monitoring node + 1 messaging sync node (on one server)

## Roles performed

Pricenode Operator at https://github.com/bisq-network/roles/issues/14#issuecom

[2019-05-07 09:59] sqrrm opened #282 "Cycle 1"
## Summary

 - BSQ requested: `3570`

## Contributions delivered

### Code delivered
https://github.com/bisq-network/bisq/pull/2664
https://github.com/bisq-network/bisq/pull/2757
https://github.com/bisq-network/bisq/pull/2763

BSQ requested: `380`

### Reviews
https://github.com/bisq-network/bisq/pull/2587
https://github.com/bisq-network/bisq/pull/2614
https://github.com/bisq-network/bisq/pull/264

[2019-05-08 09:22] ripcurlx commented on #269
I'll delay all compensation requests until August 2019 (roughly cycle 4), because of taxation and insurance reasons in my home country.

[2019-05-08 19:29] oscarguindzberg opened #283 "Cycle 1"
## Summary

 - BSQ requested: `22950`
 - BSQ address: `B17rrWD5BVbx2R8DVxRGkN3FqkppB2mKrjQ`

## Contributions delivered

- bisq’s bitcoinj 0.14.7 connection handling changes audit (2300 BSQ)
  - Audit: https://github.com/bisq-network/bitcoinj/issues/30
  - Fixes: https://github.com/bisq-network/bitcoinj/pull/31
- Migrate to bitcoinj 0.15 (12400 BSQ)
  - Review bitcoinj 0.15 release release notes h

[2019-05-09 22:02] lyyva opened #284 "Cycle 1"
## Summary

 - BSQ requested: 20
 - BSQ address: B196TC3zLzsKAZzQRXzhc8pWjCmJqxXAyR3

## Contributions delivered
filled out the DAO testing survey back before the v1 release. Unfortunately did not take a screenshot, didn´t know back then that i had to, but m52go would be able to confirm.

## Contributions in progress
continously testing, see the other request.

[2019-05-10 15:41] ripcurlx commented on #278
@lyyva which version did you test on testpad, so I can export the report of your tests.

[2019-05-10 15:44] ripcurlx commented on #278
I didn't find your name on any of the reports - did you use another name? Do you still have the invitation link sent via email?

[2019-05-10 15:46] ripcurlx commented on #268
@y3v63n Please don't add add any hourly rates in your compensation requests as we are not compensating by hour, but by delivered work. So just posting 440 BSQ is in your case sufficient.

[2019-05-10 16:11] devinbileck commented on #278
@lyyva I believe your username on slack/testpad is bisquit?
I have already generated these reports:
https://bisq.ontestpad.com/script/35/report/ACE?auth=99cd2e6ebd1190565c2ba744f16d424b
https://bisq.ontestpad.com/script/31/report/ACE?auth=68660bf7fe39e4dc490920d4a8c48d87

[2019-05-10 16:28] lyyva commented on #278
@ripcurlx yep, bisquit - i tried typing in both usernames in the dao proposal, but seems to have gotten lost! Thanks @devinbileck - those are the ones.

[2019-05-11 17:35] Mycelial1 commented on #274
I would vote on this if you provided some details :)

[2019-05-20 16:14] alexej996 opened #285 "For April 2019"
## Summary
 - BSQ requested: **3000**
 - BSQ address: **B122i2L3e1bRmye1r5zZmYh2mCLSsqZuAhY**
## Roles performed
- Support Staff: https://github.com/bisq-network/roles/issues/64#issuecomment-494037683 (2600 BSQ)
- Forum operator: https://github.com/bisq-network/roles/issues/19#issuecomment-494052117 (250 BSQ)
- Reddit moderator: https://github.com/bisq-network/roles/issues/25#issuecomment-49403112

[2019-05-28 16:42] #282 closed

[2019-05-29 05:13] #273 closed

[2019-05-29 09:43] #271 closed

[2019-06-03 16:43] MwithM opened #286 "For cycle 2"
## Summary

 - BSQ requested:  160
 - BSQ address: B1Fd3PjC3S7uYSsKhgXXxUWRYo1KmagQC3s

## Contributions delivered

Period: Since 15 april to end of june. Nick at transifex is tasmanoide.

- Translated: 200 words from bisq-website homepage_content. Removed translated text from Liquid strings. 726 words from bisq-desktop. _926*0,07EUR = 64,8EUR = 90BSQ_

- Reviewed 764 words from bisq-website homep

[2019-06-04 11:36] ArnaudFR86 opened #287 "For Cycle 2 #287"
## Summary

 - BSQ requested: 1773
 - BSQ address: B1N9DAjde1BwxeYPNKSwwNN44onubKQzyGH

## Contributions: French translation & Review

Transifex nickname: arnaudFR86

•	Translated:
14944 words from bisq-desktop 14944 * 0,08=1195

•	Reviewed:
16539 words from bisq-desktop 16539 * 0.035=578

![reviewingfrench](https://user-images.githubusercontent.com/50170753/58873976-dc0d8c00-86c7-11e9-9a30-99f02c

[2019-06-04 21:52] ManfredKarrer commented on #241
@huey735
Please send me in slacl or the forum a btc address for refunding you for the donation for the dao genesis tx: see https://bisq.community/t/refund-bsq-genesis-donations/7776

[2019-06-05 11:46] MwithM commented on #286
Frist compensation request sent on Bisq DAO, I hope everything is fine.

[2019-06-05 16:10] freimair opened #289 "Cycle 2"
## Summary

 - BSQ requested: 1800

## Contributions delivered

- brought the monitor up to speed https://github.com/bisq-network/bisq/pull/2870 (1650 BSQ)

## Contributions in progress

## Roles performed

- [Arch Linux AUR maintainer](https://github.com/bisq-network/roles/issues/78#issuecomment-499148623) (50 BSQ)
- [Netlayer Maintainer](https://github.com/bisq-network/roles/issues/81#issuecomme

[2019-06-05 19:50] asicminer001 opened #290 "compenstation"
## Summary

 - BSQ requested:
 - BSQ address:

## Contributions delivered

## Contributions in progress

## Roles performed

[2019-06-06 08:42] ManfredKarrer opened #291 "Cycle 2"
## Basic information

- BSQ amount requested: **370**

### Roles:

Operator roles:
- Bitcoin Node Operator: https://github.com/bisq-network/roles/issues/67 `(2 nodes: 2 x 80= 160)`
- Seed nodes: Handover of seed nodes is now completed. I left my nodes as backup running until recently: `(2 nodes: 2 x 80= 160)`
- Price node Operator: Handover of price node is now completed. I left my node as backup

[2019-06-06 15:23] arunasurya opened #292 "For cycle 2: May 1 - June 6"
## Summary

 - BSQ requested: 2200
 - BSQ address: B1N4MqESeLjN6PQg2ZsfTEnhsnqQk8J6V16

## Roles performed: Transifex Admin
- Set up and moderated [the first translator call](https://www.youtube.com/watch?v=nAE0EdojliQ&list=PLFH5SztL5cYPPMIBM22SbqrJ01AXTeVY_).
- Updated [the Bisq Translation documentation](https://github.com/arunasurya/bisqtransifex).
- Had phone calls with several translators.
-

[2019-06-07 12:26] sqrrm opened #293 "Cycle 2"
## Summary

 - BSQ requested: `1040`

## Contributions delivered

### Code
https://github.com/bisq-network/bisq/pull/2846
https://github.com/bisq-network/bisq/pull/2854

BSQ requested: `150`

### Reviews
https://github.com/bisq-network/bisq/pull/2844
https://github.com/bisq-network/bisq/pull/2858
https://github.com/bisq-network/bisq/pull/2862

BSQ requested: `150`

### Explorer
https://github.com/

[2019-06-07 18:50] #270 closed

[2019-06-07 18:51] #277 closed

[2019-06-07 18:53] m52go opened #294 "For Cycle 2"
**BSQ requested: `4575`**

## Contributions delivered

**Website**

- Fix errors in markets pages ([PR](https://github.com/bisq-network/bisq-website/pull/171)) (1500)
    - Changes were not straightforward and needed time to examine, which is part of the reason it was put off for so long.
- Update stats page ([PR](https://github.com/bisq-network/bisq-website/pull/186)), make small edits for transl

[2019-06-07 19:54] devinbileck opened #295 "For Cycle 2"
## Summary

This compensation request covers work [delivered](https://github.com/bisq-network/proposals/issues/19) since the previous voting period ([for cycle 1](https://github.com/bisq-network/compensation/issues/270)) up until a few days prior to the end of the cycle 2 proposal phase, between 2019-05-09 and 2019-06-07.

Since the BSQ market is still new and undergoing price discovery, this requ

[2019-06-07 20:14] Mycelial1 opened #296 "Cycle 2"
## Summary
BSQ requested:  30.8
BSQ address: B1LRkpmQrCMcrdC55jdU6nJN5eoQmT9Vowq

## Contributions delivered
Spanish Translator

**Translated** 440 words into Spanish from bisq-website homepage_content and bisq-desktop
BSQ requested = 30.8 (0.07 x 440)

![1](https://user-images.githubusercontent.com/34950746/59129731-a375e880-893b-11e9-96ef-e38002cc4051.jpg)
![2](https://user-images.githubusercont

[2019-06-07 22:04] m52go commented on #286
@MwithM appreciate your work.

One suggestion -- would you mind changing the title of this issue to indicate the DAO cycle, e.g., "For Cycle 2"? You can specify the specific time frame within the request, if you need to.

[2019-06-07 22:04] m52go commented on #287
@ArnaudFR86 one suggestion -- would you mind changing the title of this issue to indicate the DAO cycle, e.g., "For Cycle 2"? You can specify the specific time frame within the request, if you need to.

https://docs.bisq.network/compensation.html#create-the-issue

[2019-06-07 22:04] m52go commented on #292
@arunasurya would you mind changing the title of this issue to indicate the DAO cycle, e.g., "For Cycle 2"? You can specify the specific time frame within the request, if you need to.

[2019-06-07 22:12] m52go commented on #296
169 BSQ for editing a blog post? That sounds high to me.

Also -- this post would need to be merged over the weekend in order for it to be eligible for compensation before voting begins. I will try to get it done this time, but in the future, know that work [must be merged](https://docs.bisq.network/compensation.html#value-your-work) before it can be compensated.

[2019-06-07 22:49] Mycelial1 commented on #296
Sure.
I wanted an even number that represented my coordination with writers, editing, and keeping the blog moving forward.

Because the blog role isn't technically defined yet, I will reduce the requested amount and make a separate compensation request to see how the stakeholders respond to it.

I believe communications like the blog are important to maintain but I am fully prepared for the stakeh

[2019-06-07 23:32] alexej996 opened #297 "Cycle 2"
## Summary
 - BSQ requested: **3000**
 - BSQ address: **B122i2L3e1bRmye1r5zZmYh2mCLSsqZuAhY**
## Roles performed
- Support Staff: https://github.com/bisq-network/roles/issues/64#issuecomment-500067820 (2600 BSQ)
- Forum operator: https://github.com/bisq-network/roles/issues/19#issuecomment-500069605 (300 BSQ)
- Reddit moderator: https://github.com/bisq-network/roles/issues/25#issuecomment-50006424

[2019-06-08 05:17] ArnaudFR86 commented on #296
As you said keeping the blog moving forward, I think for the next one,  you should only include the work that have been already delivered as stated here:  "for non-code contributions that means already delivered. "

[2019-06-08 20:08] Emzy opened #298 "Cycle 2"
## Summary

 - BSQ requested: 550

## Contributions delivered

None.

## Contributions in progress

None.

## Roles performed

- Bisq Pricenode Operator at bisq-network/roles#14
- Bisq Seednode Operator at bisq-network/roles#15
- Bisq Bitcoin Node Operator at bisq-network/roles#67
- Bisq Mailman Operator at bisq-network/roles#26
- Markets Website+API Operator at bisq-network/roles#9

## Compensati

[2019-06-08 23:08] huey735 commented on #296
@Mycelial1 Amy work for the translation of the website hasn't been delivered yet according to this [standard](https://github.com/bisq-network/proposals/issues/19).

[2019-06-08 23:11] huey735 commented on #287
@ArnaudFR86 the translation for the website hasn't yet been delivered according to this [standard](https://github.com/bisq-network/proposals/issues/19).

[2019-06-09 00:56] ArnaudFR86 commented on #287
@huey735 "work in question has been made available to users. "  The French one have been uploaded in 1.1.2 and is avaibable for users, but you are right for the 809 words part.

[2019-06-09 05:55] ArnaudFR86 commented on #287
Edit: 09/06/2019: The total have been edited according to @huey735 remark, and to follow correct process.

[2019-06-09 09:48] HarryMacfinned opened #299 "For Cycle 2"
## Summary

 - BSQ requested: `2900`

This compensation request :
- follows the https://docs.bisq.network/roles.html#compensation recommandations
- applies the 1BSQ=1USD rule (as still suggested on the slack #compensation channel)
- concerns cycle 2 (as discussed on the slack #dao channel)

## Roles performed
### Substantive reports

- Support | https://github.com/bisq-network/roles/issues/64#issu

[2019-06-09 12:39] y3v63n opened #300 "For Cycle 2"
## Summary

BSQ requested: 503.19

## Contributions delivered

### Translations (43.19 BSQ)

- Translated 617 words into Russian See the screenshot with the stats bellow. The report can also be accessed here: https://www.transifex.com/bisq/bisq-desktop/translate/#ru/displaystringsproperties/173007184?q=translator%3Ay3v63n+translated_after%3A2019-05-01+translated_before%3A2019-05-31

![Opera Снимок

[2019-06-09 15:09] Mycelial1 commented on #296
OK. I will hold off until next cycle.

[2019-06-09 15:09] #296 closed

[2019-06-11 08:58] MwithM commented on #287
There's 2 compensation requests pointing to the same issue. One was open at 4th june and another on 9th.

[2019-06-11 10:44] sqrrm commented on #287
Since there are two compensation requests pointing to this one github issue I will be voting against them both to avoid both getting approved. This is not a vote against the work done, just making sure the process works as intended. A new request for this same work can be created for the next cycle so the work will still be compensated, just that compensation will come later.

I suspect this doubl

[2019-06-11 10:52] ArnaudFR86 commented on #287
quote from the chat yesterday:

ArnaudFR86 [8 h 18]

Hi guys, one question too, yesterday I have edited my compensation request to change the amount, then I withdrawn my proposal in dao to change the amount and re-submitted to match the new amount, but now I can see that my proposal #287 appear two times in the compensation list, (  with the same good updated amount) it is an issue ? Thanks

Homar

[2019-06-11 10:57] ManfredKarrer commented on #287
Seems the deletion was not well propagated.

[2019-06-11 11:16] #268 closed

[2019-06-11 11:21] ArnaudFR86 commented on #287
@sqrrm Understood, I will create a new proposal for the next cycle. the initial confusion come from me that included in my proposal some work that have not been yet delivered. one part of the work have been uploaded, but not the website part, I should had made the distinction initialy, Documentation is fine.

@ManfredKarrer after canceling my initial proposal and submitting the second, I kept the

[2019-06-11 11:26] #287 closed

[2019-06-11 19:23] ManfredKarrer commented on #287
I voted already on the other one. Once the voting starts you should not change or close open proposals.

[2019-06-12 11:35] ArnaudFR86 commented on #287
Iam sorry, understood, it will not happen again.

[2019-06-17 10:39] #300 closed

[2019-06-17 10:45] #286 closed

[2019-06-17 15:33] sqrrm commented on #287
As the first proposal of the two got accepted there should be no need to ask for compensation again.

@ManfredKarrer This case would be a typical reason for having the extra time between proposal submission and voting (BREAK1). It's currently set at 1 day (149 blocks) which was perhaps not enough to conclude this discussion before voting started. I don't see a need to change it, just pointing out

[2019-06-17 15:33] #293 closed

[2019-06-17 15:48] #299 closed

[2019-06-17 15:54] #294 closed

[2019-06-17 16:53] #295 closed

[2019-06-17 18:15] #291 closed

[2019-06-26 09:05] arunasurya opened #301 "Cycle 3"
## Summary

 - BSQ requested: 625
 - BSQ address: B1AV2e3cizdiyraqDXfXGBMBiHikpRfwqjt

## Roles performed: Transifex Admin
- Set up and moderated [the second translator call](https://www.youtube.com/watch?v=K1TG-_ISj2w&list=PLFH5SztL5cYPPMIBM22SbqrJ01AXTeVY_&index=2).
- Successfully transferred the role of the Transifex Admin to @y3v63n (had several calls, online discussions, etc).
- Made minor ch

[2019-07-01 19:21] Drazen-V opened #302 "Cycle 3"
## Summary
 - BSQ requested: 200
 - BSQ address: B1FALz8qtjBSrAJDG8YRNE4yk8RVN3bB6qo

## Contributions delivered
Bug reports:
[bisq-network/bisq/issues/2938](https://github.com/bisq-network/bisq/issues/2938) includes an analysis about the source of the problem.
[bisq-network/support/issues/260](https://github.com/bisq-network/support/issues/260)

## Contributions in progress (not asking for compen

[2019-07-02 10:15] MwithM commented on #302
Hi Drazen.
Thanks for translation to Hebrew. At the moment Bisq is not compensating for translations to this language: https://github.com/arunasurya/bisqtransifex/blob/master/translatordocumentation.md#core-languages
Anyway, thanks again for all your have done and I encourage you to keep translating as maybe in the future it could be compensated. When I started translating to Spanish I did it just

[2019-07-02 11:01] y3v63n commented on #302
Hi Drazen,

As MwithM rightly pointed out, Hebrew is not a core languge for Bisq right now, and therefore, translations into it are not compensated.

We really appreciate your help, but this is how it is right now. If we expand the scope of core languages in future, you can definitely submit your compensation request then.

[2019-07-05 14:37] wiz opened #303 "Cycle 3"
## Summary

 - BSQ requested: 1000
 - BSQ address: B1DbnQKJLYNWchJ3wQDKvg2iJqCezTmqAHu

## Contributions delivered

I claim the JPY/BTC market bounty posted at https://github.com/bisq-network/growth/issues/138

- Launched the JPY order book at Tokyo Bitcoin Hackers meetup on June 19th
- Presentation on Bisq with live demo trades at Tokyo Bitcoin Hackers meetup on June 19th
- Presentation on Bisq w

[2019-07-05 17:12] m52go opened #304 "For Cycle 3"
**BSQ requested: `2850`**

## Contributions delivered

**Website**

* Update stats page for June ([PR](https://github.com/bisq-network/bisq-website/pull/192)) (100)

**Docs**

* Add instructions for paying asset listing fee ([PR](https://github.com/bisq-network/bisq-docs/pull/142)) (100)

**Calls**

* Host and upload 3 [growth calls](https://www.youtube.com/playlist?list=PLFH5SztL5cYOvXlXaN91TJ1sl

[2019-07-06 18:23] Drazen-V commented on #302
I edited my request.
What should I do about the Reimbursement request on the Bisq app?
Is there a way to edit it? Should I submit a new request?

[2019-07-06 18:31] m52go commented on #302
@Drazen-V during the proposal phase, you can delete your proposal and submit a new one. After the proposal phase is over, proposals are locked in.

FYI you will lose the 2 BSQ fee you paid to make the original proposal, and you will need to pay another 2 BSQ to make the new proposal.

[2019-07-07 13:32] torachan3 opened #305 "Cycle 3"
## Summary

 - BSQ requested: 20
 - BSQ address: B1G1zmn4WMKd7FJEMRwYCCb4GnsoVj421Ej

## Contributions delivered

I claim the JPY Liquidity Party bounty posted at [bisq-network/growth#140](https://github.com/bisq-network/growth/issues/140)

- Although I did not create an offer on the day of the liquidity party (per bounty requirements), I have created 1 BUY and 1 SELL order that I plan to keep onl

[2019-07-07 13:56] ManfredKarrer commented on #302
@Drazen-V Reimbursement requests are intended for the new trade protocol (not in place yet). Please use a normal compensation request!

[2019-07-07 17:23] tdhr0917 opened #306 "Cycle 3"
## Summary
 - BSQ requested: 70
 - BSQ address: B1HJ7zCPnNZfrw2qpTrfdF6R2LGeiEGv21y

## Contributions delivered
I claim the JPY Liquidity Party bounty posted at bisq-network/growth#140 (20 $BSQ)
 - I delayed but have created 1 BUY and 1 SELL order and will try keeping them for the liquidity party.

I claim completing the 1st F2F trade in JPY/BTC bounty posted at bisq-network/growth#139 (50 $BSQ)

[2019-07-08 09:06] freimair opened #307 "Cycle 3"
## Summary

 - BSQ requested: 4450 BSQ
 - BSQ address:

## Contributions delivered

- some tweaks and bugfixes to the monitor (https://github.com/bisq-network/bisq/pull/2943) (350 BSQ)
- brought an old PR which has not been merged back then up to speed, because a recent discussion brought up a change request that has been fixed by this PR months ago (https://github.com/bisq-network/bisq/pull/2501)

[2019-07-08 16:33] devinbileck commented on #307
Note, https://github.com/bisq-network/bisq/pull/2939 is not merged yet so cannot be considered delivered.

[2019-07-08 16:56] freimair commented on #307
Note, do you see a compensation request filed?

[2019-07-08 17:13] devinbileck commented on #307
Apologies if this is still a work in progress. But since it didn't indicate otherwise, was just trying to help.

[2019-07-08 18:30] HarryMacfinned opened #308 "For Cycle 3"
## Summary

 - BSQ requested: `2900`

This compensation request :
- follows the https://docs.bisq.network/roles.html#compensation recommandations
- applies the 1BSQ=1USD rule (as still suggested on the slack #compensation channel)

## Roles performed
### Substantive reports

- Support | https://github.com/bisq-network/roles/issues/64#issuecomment-509329039 | (BSQ requested = `2500`)
Evaluation is

[2019-07-08 18:46] devinbileck opened #309 "For Cycle 3"
## Summary

This compensation request covers work [delivered](https://github.com/bisq-network/proposals/issues/19) since the previous voting period ([for cycle 2](https://github.com/bisq-network/compensation/issues/295)) up until a few days prior to the end of the cycle 3 proposal phase, between 2019-06-08 and 2019-07-08.

Since the BSQ market is still new and undergoing price discovery, this requ

[2019-07-08 20:54] Emzy opened #310 "Cycle 3"
## Summary

 - BSQ requested: 550

## Contributions delivered

None.

## Contributions in progress

None.

## Roles performed

- Bisq Pricenode Operator at bisq-network/roles#14
- Bisq Seednode Operator at bisq-network/roles#15
- Bisq Bitcoin Node Operator at bisq-network/roles#67
- Bisq Mailman Operator at bisq-network/roles#26
- Markets Website+API Operator at bisq-network/roles#9

## Compensati

[2019-07-08 21:10] freimair commented on #307
No worries :). Thanks for the hint!

[2019-07-09 08:08] sqrrm opened #311 "Cycle 3"
## Summary

 - BSQ requested: `4590`

## Contributions delivered

### Code Delivered
https://github.com/bisq-network/bisq/pull/2888
https://github.com/bisq-network/bisq/pull/2889
https://github.com/bisq-network/bisq/pull/2890
https://github.com/bisq-network/bisq/pull/2903
https://github.com/bisq-network/bisq/pull/2915

BSQ requested: `1900`

### Reviews
https://github.com/bisq-network/bisq-docs/pu

[2019-07-09 09:04] mrosseel opened #312 "Cycle 3"
## Summary

Note: This is a combined request for Cycle 2 and Cycle 3 (missed the deadline)
 - BSQ amount requested: 500

## Contributions delivered

## Contributions in progress

### Hosting
Monthly costs nodes: 50 / node * 5: 250 BSQ

Running:
1 Price node + bitcoinaverage subscription
2 Seed nodes
2 Bitcoin full nodes
1 Monitoring node + 1 messaging sync node (on one server)

## Roles performed

[2019-07-09 10:18] ManfredKarrer opened #313 "Cycle 3"
## Basic information

- BSQ amount requested: **360**

### Roles:

Operator roles:
- Bitcoin Node Operator: https://github.com/bisq-network/roles/issues/67 `(2 nodes: 2 x 80= 160)`
- 2 Monitor nodes: `(2 nodes: 2 x 50= 100)`
- 1 market server: `50`
- BSQ explorer backup: `50`

Sum: 360 BSQ

[2019-07-09 10:24] ManfredKarrer commented on #308
Your link in the app is wrong:
https://bisq-network/dao-compensation/308
-> https://bisq.network/dao-compensation/308

[2019-07-09 11:00] HarryMacfinned commented on #308
ah, thanks @ManfredKarrer
I guess the only way to modify is to remove this comp. request in the DAO and resubmit.

[2019-07-09 11:02] ManfredKarrer commented on #308
I think its not needed to resubmit IMO...

[2019-07-09 13:24] agb19 opened #314 "Cycle 3"
## Summary

 - BSQ requested: 300

## Contributions delivered

Identified, documented and fixed an interop issue on Tails OS, related to an incompatible use of IPv6 in localhost Tor connections:

- issue: https://github.com/bisq-network/bisq/issues/2840
- fixed by: https://github.com/bisq-network/bisq/pull/2862

[2019-07-09 14:55] y3v63n opened #315 "For Cycle 3"
## Summary

 - BSQ requested: 1,840

## Contributions delivered

### Translations (960 BSQ)
Completed the full review of the Russian translation of the Bisq application. As expected, the translation contained many linguistic issues (grammar and punctuation), numerous inconsistencies (button names translated in one way, but another translation is used when they are mentioned elswhere in the app) as

[2019-07-09 17:02] MwithM commented on #315
Hello @y3v63n nice job.

What rates are you using for the review part?

[2019-07-09 17:13] huey735 opened #316 "For Cycle 3"
## Summary

This compensation request :

follows the https://docs.bisq.network/roles.html#compensation recommendations
applies the 1BSQ=1USD rule (as still suggested on the slack #compensation channel)

 - BSQ requested: 1000

## Roles performed

### Substantive Report

- Support Staff - https://github.com/bisq-network/roles/issues/64#issuecomment-509725008 (BSQ requested: 1000)

### Other
Issues

[2019-07-10 07:06] y3v63n commented on #315
Thanks @MwithM!

For this particular task I used my hourly rate of 20 BSQ/h since it involved not just merely reviewing, but also in-app checking and going back and forth between the segments to make the translation consistent.

[2019-07-11 10:42] MwithM commented on #316
This compensation request has 1000 BSQ in the app instead of 500 BSQ described in this github issue.

![imagen](https://user-images.githubusercontent.com/50149324/61044619-502f0400-a3d9-11e9-955b-0de1dc242ac1.png)

[2019-07-11 11:59] huey735 commented on #316
Thanks for the heads up @MwithM

[2019-07-11 21:43] Drazen-V commented on #302
I removed the original request, it got removed from the "Proposals for current cycle" window in the app. I placed a new Compensation request, as suggested above.
For some reason I see now the 2 proposals at the same window in the app.

Any idea why the removed proposal shows now (meanwhile we got advanced from the Proposal phase to the Blind vote phase)? Is this a bug?

[2019-07-11 21:48] m52go commented on #302
[Something similar](https://github.com/bisq-network/compensation/issues/287#issuecomment-500790282) happened in the last cycle...seems like it might be a bug after all.

[2019-07-11 21:50] ManfredKarrer commented on #302
It seems the network and seed nodes have stability issues atm and the remove message was not well propagated. People should down-vote the old proposal....

[2019-07-12 16:10] HarryMacfinned commented on #316
@huey735 wrote

For my part I find that you were very present this month to help with the support (and I guess it was not the 1st month you helped). And your answers to users were of technical quality. I greatly appreciate this help. Thanks.
The metrics is not so easy with all the media, but on the forum you have the info about your personal number of posts, so you can publish this info (the delta

[2019-07-13 17:19] m52go commented on #315
Appreciate your work. That style guide in particular looks meticulous and of high quality. I would like to see these items (and others, like Aruna's documentation on translation efforts) integrated into the canonical Bisq repositories where appropriate.

[2019-07-17 17:47] #309 closed

[2019-07-17 17:50] #308 closed

[2019-07-17 21:33] #311 closed

[2019-07-17 21:34] #304 closed

[2019-07-18 10:29] freimair opened #317 "Cycle 4"
## Summary

 - BSQ requested: 3450 BSQ
 - BSQ address:

## Contributions delivered

- finalize https://github.com/bisq-network/proposals/issues/74 (450 BSQ)
- prepared the infrastructure and howtos for future health monitoring of servers that run some bisq service via https://github.com/bisq-network/bisq-docs/pull/148 (600 BSQ)
- refined and updated the docs on [how to run a seed node](https://doc

[2019-07-18 10:41] #313 closed

[2019-07-18 15:47] #316 closed

[2019-07-21 17:37] #307 closed

[2019-07-21 17:37] #289 closed

[2019-07-23 09:33] #315 closed

[2019-07-23 22:23] juantellez opened #318 "For Cycle 4"
## Summary
 - BSQ requested: 553 BSQ

## Contributions delivered

### Translations and reviews for Bisq-Desktop
Reviews: 11,976 words x 0.035 BSQ = 419.16 BSQ

### Translations and reviews for Bisq-Website
Reviews for dao_content.yml: 405 words x 0.035 BSQ = 14.17 BSQ
Reviews for images.yml: 31 words x 0.035 BSQ = 1.08 BSQ
Reviews for main_nav.yml: 18 words x 0.035 BSQ = 0.63 BSQ
Reviews for strin

[2019-07-23 22:25] juantellez commented on #318
Hi guys, this my first compensation request, I hope it is prepared correctly, otherwise please let me know if something needs to be specified or justified.
Thanks in advance

[2019-07-24 11:58] y3v63n commented on #318
Hi @juantellez! Great job with reviews and translations! All looks good, but you no longer have to indicate your BSQ address here. Also, a quick question. Are you sure you translated over 6k words in the Bisq Desktop project? I was under impression that it was almost completely done by another translator. Could it be that you edited previously reviewed translations? In that case, Transifex filters

[2019-07-25 03:39] juantellez commented on #318
Hi y3v63n, i have checked the Dashboard as you sugested and get surprised to see that i has made 0 translations, i maeby crazy but i remember make a lot of translations the first time i get into transifex, then when i was set as a reviewer i made only reviews. So i have made a count of all translations made by each translator using the filters and that make sense:

The total words for the spanish

[2019-07-25 03:52] juantellez commented on #318
By the way, i have notices that my first count of words for bisq-desktop was 6,346 when actually where 6320. I have already made the correction.

[2019-07-25 10:15] MwithM commented on #318
The dashboard displays translations made in that signaled month. In this image, July.

![imagen](https://user-images.githubusercontent.com/50149324/61865492-986b1d80-aed3-11e9-9d4c-31aaaa5b3d43.png)

When you edit an already translated string it counts as the whole translation has been made by the user who edited the string, even if it's only minor changes. 6320 words translated (more than a third

[2019-07-25 10:57] y3v63n commented on #318
@juantellez I tend to agree with @MwithM.

You should try and check dashboard stats for each month separately.

You joined the team in late April, and if you check our [monthly reports](https://github.com/bisq-network/roles/issues/20), by the end of April Spanish had just [2 untranslated](https://github.com/bisq-network/roles/issues/20#issuecomment-487948127) strings out of the total 16,200 words,

[2019-07-25 15:54] goo-technology commented on #318
Ok, i see. Then i have no translations, just reviews.
I tried to edit the issue again to remove the amount corresponding to translations but I no longer see the option to edit. An admin have to remove it or close so i can pos a new issue with the corrections?

[2019-07-25 18:37] MwithM commented on #318
I assume it's because you are using different user accounts.

[2019-07-26 08:25] y3v63n commented on #315
@m52go yep, I discussed that with @arunasurya and she gave me a greenlight to transfer [Tranlsation Docs](https://github.com/arunasurya/bisqtransifex) from her repository to Bisq, but I need someone with access rights to create the bisqtransifex repo so I can copypaste it.

[2019-07-26 20:08] juantellez commented on #318
You're right.

Issue is updated.

[2019-07-29 03:10] wdljt6 opened #319 "For July 2019"
## Summary

 - BSQ requested:1079.725 BSQ
 - BSQ address:B1PJ3cYKXSm7ERJ3skoFLoCdBb75KDfZiqK

## Contributions delivered

Requested (781.025 BSQ):
Bisq desktop (781.025 BSQ)
9306 words translated into Chinese (9306*0.07=651.42 BSQ)
3703 words edited (3703*0.035=129.605 BSQ)
Total 781.025 BSQ
Bisq website (298.7 BSQ)
images.yml 19 words translated into Chinese (0.07*19=1.33 BSQ)
dao_content.yml 373

[2019-07-30 03:14] ff98sha opened #320 "For Cycle 4"
## Summary

 - BSQ requested: 1199.19

## Contributions delivered

### Bisq desktop in Simplified Chinese
189 words translated
16564 words reviewed

### Bisq website in Simplified Chinese
494 words translated
4904 words reviewed

### Translation work summary (799.19 BSQ)
Simplified Chinese (Chinese Mandarin) is one of the [core languages](https://github.com/arunasurya/bisqtransifex/blob/master/tra

[2019-07-30 06:31] y3v63n commented on #320
Please remove the "edited" part as it is already included into the "reviewed" part.

[2019-07-30 06:58] ff98sha commented on #320
Done.

[2019-07-30 07:57] blabno opened #321 "For May - June 2019"
## Summary

- BSQ requested: 400
- BSQ address: B1ERWi6jd9v1WfJVk6uDgA7L4ohjfj2mcj5

## Contributions delivered

New asset review.

[2019-08-03 17:52] blabno opened #322 "For July 2019"
## Summary

- BSQ requested: 150
- BSQ address: B1ERWi6jd9v1WfJVk6uDgA7L4ohjfj2mcj5

## Contributions delivered

New asset review.

[2019-08-06 16:36] m52go opened #323 "For Cycle 4"
**BSQ requested: `3530`**

## Contributions delivered

**Website** `700`

Submit ------>

* Update stats page with July figures ([PR](https://github.com/bisq-network/bisq-website/pull/200))

Portugese was the test language for the implementation of website translation. The following PRs fixed small issues in huey735's work to clear the way for more languages to be added:

* Make language selector

[2019-08-07 19:22] Emzy opened #324 "Cycle 4"
## Summary

 - BSQ requested: 700

## Contributions delivered

None.

## Contributions in progress

None.

## Roles performed

- Bisq Pricenode Operator at bisq-network/roles#14
- Bisq Seednode Operator at bisq-network/roles#15
- Bisq Bitcoin Node Operator at bisq-network/roles#67
- Bisq Mailman Operator at bisq-network/roles#26
- Markets Website+API Operator at bisq-network/roles#9

## Compensati

[2019-08-07 21:43] sqrrm opened #325 "Cycle 4"
## Summary

 - BSQ requested: `5980`

## Contributions delivered

A lot of work on DAO consistency and stability this cycle, not much time to spend on the account signing.

### Code Delivered
https://github.com/bisq-network/bisq/pull/2884
https://github.com/bisq-network/bisq/pull/2930
https://github.com/bisq-network/bisq/pull/2951
https://github.com/bisq-network/bisq/pull/2953
https://github.com/b

[2019-08-08 06:17] devinbileck opened #326 "For Cycle 4"
## Summary

This compensation request covers work [delivered](https://github.com/bisq-network/proposals/issues/19) since the previous voting period ([for cycle 3](https://github.com/bisq-network/compensation/issues/309)) up until a few days prior to the end of the cycle 4 proposal phase, between 2019-07-09 and 2019-08-07.

Since the BSQ market is still new and undergoing price discovery, this requ

[2019-08-08 09:55] ManfredKarrer opened #327 "Cycle 4"
## Basic information

- BSQ amount requested: **390**

### Roles:

Operator roles:
- Bitcoin Node Operator: https://github.com/bisq-network/roles/issues/67 `(2 nodes: 2 x 80= 160)`
- 2 Monitor nodes: `(2 nodes: 2 x 50= 100)`
- 1 Markets server: `50`
- BSQ explorer backup: `80` (Dao full node)

Sum: 390 BSQ

[2019-08-08 13:12] y3v63n opened #328 "Cycle 4"
## Summary

- BSQ requested: 920

 ## Roles performed: Transifex Admin

- Set up and moderated the [third translator call](https://github.com/bisq-network/growth/issues/153).
- Did Transifex-specific work (updated settings, added new team members, communicated with translators, dealt with issues, etc).
- Sent out invitations to join the Bisq translation team to Chinese, Vietnamese and Thai (our co

[2019-08-08 13:25] christophsturm opened #329 "cycle4"
## Summary

 - BSQ requested: 7000

## Contributions delivered

the main topic of my first weeks in the world of bisq was making the project more welcoming to newcomers, untangle some code and work on stability.

https://github.com/bisq-network/bisq/pull/2997
Fix a logging bug that resulted in a lost stacktrace for some errors which made it impossible to find the exact location of an exception

ht

[2019-08-08 18:24] HarryMacfinned opened #330 "For Cycle 4"
## Summary

 - BSQ requested: <del>`2900`</del> `1600`

This compensation request :
- follows the https://docs.bisq.network/roles.html#compensation recommandations
- applies the 1BSQ=1USD rule (as ~everybody does)

## Roles performed
### Substantive reports

- Support | https://github.com/bisq-network/roles/issues/64#issuecomment-519627588 | (BSQ requested = <del>`2500`</del> `1200`)
<del>Evaluati

[2019-08-09 10:40] #312 closed

[2019-08-09 10:40] mrosseel opened #331 "Cycle 4"
## Summary

 - BSQ amount requested: 250 BSQ

## Contributions delivered

## Contributions in progress

### Hosting
Monthly costs nodes: 50 / node * 5: 250 BSQ

Running:
1 Price node + bitcoinaverage subscription
2 Seed nodes
2 Bitcoin full nodes
1 Monitoring node + 1 messaging sync node (on one server)

## Roles performed

Pricenode Operator at https://github.com/bisq-network/roles/issues/14#issu

[2019-08-09 11:20] wiz opened #332 "Cycle 4"
## Summary

 - BSQ requested: 677
 - BSQ address: B18ggkCYGb4hK13s86Hkygd6h1Y5gseRKt5

## Contributions delivered

Japanese translations shipped in v1.1.4 release: https://github.com/bisq-network/bisq/pull/3022
* Translated 530 words into Japanese @ 0.07 BSQ/word = 37 BSQ
* Reviewed 15442 words in Japanese @ 0.035 BSQ/word = 540 BSQ

## Roles performed

Ambassador role in Japan
* Assisted @tdhr091

[2019-08-09 12:16] tdhr0917 opened #333 "Cycle 4"
## Summary

 - BSQ requested: 1209
 - BSQ address: B17TSe7GmxQi66SnoB4dkobrZkXbECsQem3

## Contributions delivered

* Translated 15292 words into Japanese @ 0.07 BSQ/word = 1070 BSQ
* Reviewed 1122 words in Japanese @ 0.035 BSQ/word = 39 BSQ
(Japanese translations shipped in v1.1.4 and v1.1.5 releases)

## roles performed

* Presented "Why Bisq?" in Japanese at Tokyo Bitcoin Hackers meetup = 100 B

[2019-08-09 15:39] huey735 opened #334 "For Cycle 4"
## Summary

 - BSQ requested: 1200

## Contributions delivered

**Merged pull requests** (BSQ requested = 200)
* bisq-docs
  * [Update arbitration rules](https://github.com/bisq-network/bisq-docs/pull/150)
  * [Correct number of blocks in a voting cycle](https://github.com/bisq-network/bisq-docs/pull/146)

* bisq-website
  * [Add RSS feed hyperlink](https://github.com/bisq-network/bisq-website/pul

[2019-08-09 17:51] niyid opened #335 "Cycle 4"
## Summary

 - BSQ requested:
 1270 BSQ

## Contributions delivered

https://github.com/bisq-network/bisq/issues/1896    500 BSQ (updated to reflect critical nature of solution)
https://github.com/bisq-network/bisq/issues/2106    500 BSQ (updated to reflect critical nature of solution)
https://github.com/bisq-network/bisq/issues/2741       20 BSQ
https://github.com/bisq-network/bisq/issues/2944

[2019-08-11 08:52] MwithM commented on #328
Great to hear that your translators to Chinese request were this successful.
And of course, Japanese bounty.

[2019-08-11 09:02] MwithM commented on #320
There's two compensation requests for DAO. I'm accepting the one that requests 1199 BSQ and rejecting the other, requesting 1759.92 BSQ.

[2019-08-11 09:22] ManfredKarrer commented on #320
@ff98sha why did you create 2 proposals? usually both will get rejected by voters as it seems like a mistake. you could have removed the incorrect one during proposal phase. if you get both rejected you can do it again in the next cycle.

[2019-08-11 15:41] ff98sha commented on #320
I think it's an error of the proposal system (maybe the nodes), as I had already deleted my first proposal of 1759 BSQ befor I sumbitted another. Please reject the 1759 one and only accept the 1199 one. Thanks a lot.

[2019-08-12 09:29] christophsturm commented on #320
do you still have your log files? when did you delete the first proposal?

[2019-08-12 09:32] ManfredKarrer commented on #320
@christophsturm It might have happened when we updated all seeds and prepared the hotfix... But removinf proposals should be re-tested well. We had another issue as last round (but also unstable seeds).

[2019-08-12 09:55] ff98sha commented on #320
@christophsturm I deleted the first proposal at about 12:00 pm on July 30th, UTC time.

[2019-08-12 10:11] christophsturm commented on #320
does it show deleted in your client? whats the total number of proposals in your client?

[2019-08-12 10:55] ff98sha commented on #320
It's deleted in my client, and there's only one of the two proposals in my client. And the security deposit didn't return.

[2019-08-12 11:08] christophsturm commented on #320
can you send me the logfile entries from around that time?

[2019-08-12 11:14] ff98sha commented on #320
Where are the log files stored?

[2019-08-12 14:27] freimair commented on #321
which one?

[2019-08-12 14:27] freimair commented on #322
which one?

[2019-08-12 15:15] blabno commented on #322
Following assets have been merged and there are few others that required review and communication but whose developers remain silent: Particl, Genesis, Myce, Kore, Vertcoin, DarkPay, PENG, Emercoin, SixEleven

[2019-08-12 15:24] blabno commented on #321
BurntBlackCoin, ZeroClassic have been merged in.
Reviewed but not merged: GENIX, bzedge, CMBT, CAT.

[2019-08-12 17:23] freimair opened #336 "Cycle 5"
## Summary

 - BSQ requested: 4020

## Contributions delivered

- various optimizations via https://github.com/bisq-network/bisq/pull/3112 (350 BSQ only, because I got some patches from others)
- GUI
  - fix popup loop via https://github.com/bisq-network/bisq/pull/3076 (350 BSQ)
  - fix auto-resize of lists via https://github.com/bisq-network/bisq/pull/3077 (350 BSQ)
- monitoring
  - streamlined [

[2019-08-13 08:52] HarryMacfinned commented on #335
@niyid Thank you for coming helping with dev.
Hope you will continue.
(and also hope you could do something with the issues/proposals concerning XMR ;-) )

[2019-08-13 09:58] HarryMacfinned commented on #335
My understanding is that, while it may be more reassuring to be assigned, it is not technically githubally necessary in order to work on the task.
(I stand to be corrected if I'm wrong).
And btw, in case you didn't see them, @ManfredKarrer had 2 other open proposals (86 + 87) also concerning XMR/monero.

[2019-08-13 10:43] niyid commented on #335
@HarryMacfinned

Yes, I am aware that it is not necessary to be assigned which is why I have continued to work anyway. Thanks for bringing the other proposals to my attention.

Regards.

[2019-08-17 02:19] #319 closed

[2019-08-17 06:14] #326 closed

[2019-08-17 08:50] #332 closed

[2019-08-17 09:44] #333 closed

[2019-08-17 09:44] #306 closed

[2019-08-17 11:06] #325 closed

[2019-08-17 12:42] #327 closed

[2019-08-17 13:42] #323 closed

[2019-08-17 13:45] #303 closed

[2019-08-18 11:31] #320 closed

[2019-08-18 15:20] #334 closed

[2019-08-19 10:59] #328 closed

[2019-08-20 07:57] HarryMacfinned commented on #330
I did notice that my above compensation request wasn't voted.

Since I didn't get any comment up to know, I can only make some guesses.
My main guess is that the blackballing concerns the support role and the way I handle it recently.
I have to say (and I already did it in my previous reports) that I find myself that there are some worries with the support (as a role), mainly given that ~90% of th

[2019-08-20 09:24] ripcurlx commented on #269
I continue to delay request for compensation until cycle 5.

[2019-08-20 10:30] #317 closed

[2019-08-21 09:05] MwithM commented on #278
`Closing old issue`

[2019-08-21 09:05] #278 closed

[2019-08-21 09:12] MwithM commented on #276
`Closing old issue`

[2019-08-21 09:12] #276 closed

[2019-08-21 09:13] #329 closed

[2019-08-21 09:13] MwithM commented on #262
`Closing old issue`

[2019-08-21 09:13] #262 closed

[2019-08-21 09:14] MwithM commented on #264
`Closing old issue`

[2019-08-21 09:14] #264 closed

[2019-08-21 09:15] MwithM commented on #265
`Closing old issue`

[2019-08-21 09:15] #265 closed

[2019-08-21 09:16] MwithM commented on #266
`Closing old issue`

[2019-08-21 09:16] #266 closed

[2019-08-21 09:18] MwithM commented on #267
`Closing old issue`

[2019-08-21 09:18] #267 closed

[2019-08-21 09:30] MwithM commented on #272
`Closing old issue`

[2019-08-21 09:30] #272 closed

[2019-08-21 09:32] MwithM commented on #274
`Closing old issue`

[2019-08-21 09:32] #274 closed

[2019-08-21 09:32] MwithM commented on #275
`Closing old issue`

[2019-08-21 09:32] #275 closed

[2019-08-21 09:34] MwithM commented on #284
`Closing old issue`

[2019-08-21 09:34] #284 closed

[2019-08-21 09:34] MwithM commented on #283
`Closing old issue`

[2019-08-21 09:34] #283 closed

[2019-08-21 09:34] MwithM commented on #281
`Closing old issue`

[2019-08-21 09:34] #281 closed

[2019-08-21 09:37] #280 closed

[2019-08-21 09:38] MwithM commented on #279
`Closing old issue`

[2019-08-21 09:38] #279 closed

[2019-08-21 09:41] MwithM commented on #285
`Closing old issue`

[2019-08-21 09:41] #285 closed

[2019-08-21 17:33] MwithM commented on #292
`Closed as already voted`

[2019-08-21 17:33] #292 closed

[2019-08-21 17:34] MwithM commented on #297
`Closed as already voted`

[2019-08-21 17:34] #297 closed

[2019-08-21 17:34] MwithM commented on #298
`Closed as already voted`

[2019-08-21 17:34] #298 closed

[2019-08-22 10:41] MwithM commented on #301
`Closed as voted already`

[2019-08-22 10:41] #301 closed

[2019-08-22 10:43] MwithM commented on #305
`Closed as voted already`

[2019-08-22 10:43] #305 closed

[2019-08-22 10:43] MwithM commented on #310
`Closed as voted already`

[2019-08-22 10:43] #310 closed

[2019-08-22 10:44] MwithM commented on #314
`Closed as voted already`

[2019-08-22 10:44] #314 closed

[2019-08-31 12:35] BLOCKCHAINSMOKER opened #337 "For Cycle 5"
## Summary
Hello Everyone,

I have translated the entire website into farsi on transifex.

I have provided screenshots of the 100% completion for the website on transifex.

I have also provided screen shots for the number of words that I have translated.

I have calculated my BSQ using the fixed rate for all languages which is 0.08 BSQ per source word. 4,966 words (see screenshot for July) x 0.08=

[2019-08-31 13:55] huey735 commented on #337
The website translation hasn't been delivered yet according to this standard:

Hopefully we can deliver it before the end of the cycle and you can go ahead.

[2019-08-31 14:36] BLOCKCHAINSMOKER commented on #337
Yes I agree according to the <a href="https://github.com/bisq-network/proposals/issues/19"> "delivered"</a> standard it is not delivered until the work is delivered to the end user. Thanks @huey735!

[2019-09-01 22:05] chimp1984 opened #338 "For Cycle 5"
## Summary
 - BSQ requested: 10350

## Contributions delivered

### Development work:

[Do not send BSQ blocks to full nodes](https://github.com/bisq-network/bisq/pull/3151)
BSQ requested: 100

[Fix small p2p network issues](https://github.com/bisq-network/bisq/pull/3154)
BSQ requested: 400
__Note: Was not as small as intended__

[Add missing check if capability is not empty before checking mandat

[2019-09-02 04:18] KISBITCOIN opened #339 "For Cycle 5"
## Summary

 - BSQ requested: 1500

## Contributions delivered

Created video tutorial guides with step by step demonstration on downloading,verifying,installing,setting up, backing up and trading on Bisq. A new user can have their hand held through the entire process, acclimating them with Bisq.

Part 1 : https://www.youtube.com/watch?v=tIEDEbXN4YE
Part 2 : https://www.youtube.com/watch?v=_Q9MC7-

[2019-09-02 07:42] ArnaudFR86 commented on #339
$100-200/ per hour sounds like a lot to me in comparaison with what translators got and time spent. Based on the current views, it makes $2.56$ per view.

[2019-09-02 10:44] chimp1984 commented on #339
Please remove the hourly rate as it is just for your own estimation important and it would give a wrong signal. $100-$200 per hour is a lot compared to senior Java developers who earn about 80-120 USD. But also here if a developer finds a critical bug in 1 hour he can charge much more than his hourly rate. The value added to Bisq is what counts.

I think the videos have been very good and added a

[2019-09-03 08:49] huey735 opened #340 "For Cycle 5"
## Summary

 - BSQ requested: **2790.69**

## Contributions delivered

### Research and implementation of website translation/localization

* https://github.com/bisq-network/bisq-website/issues/173 - discussion thread
* https://github.com/bisq-network/growth/issues/153 - summary of the implementation

* https://github.com/bisq-network/bisq-website/pull/190 - Add Portuguese ( **200 BSQ**) and suppo

[2019-09-03 10:10] ArnaudFR86 opened #341 "For Cycle 5"
## Summary

BSQ requested: 305
BSQ address: B1MuGmtxStddTevSi8DRoXF8XUy4zzWJWpY

## Contributions delivered

-Website French Translation (Transifex nickname: arnaudFR86)

![B6](https://user-images.githubusercontent.com/50170753/64163190-17dbfd00-ce41-11e9-8a86-9a14856cd79a.JPG)
![b](https://user-images.githubusercontent.com/50170753/64163191-18749380-ce41-11e9-90a8-d636d4b3205a.JPG)
![B2](https://

[2019-09-03 10:36] ArnaudFR86 commented on #340
Thank you @m52go and @huey735 for your time reviewing my mistakes.
Submitted French compensation for website request #341

[2019-09-03 16:23] wdljt6 opened #342 "For Cycle 5"
## Summary

 - BSQ requested:260

## Contributions delivered

I have translated two titles and instruction of the video of Tutorials through the YouTube community contribution. (2×30 BSQ)[Length:1388+1770]
I have translated two subtitles of the video of Tutorials through the YouTube community contribution. (2×100 BSQ)[Length:2560+9554]

Link1:https://www.youtube.com/watch?v=tIEDEbXN4YE
Link2:https

[2019-09-03 16:59] ArnaudFR86 commented on #342
Having done the translation of the two videos also, spent about an hour.
The Website translation compensation is about 300BSQ and it require a lot more works and time than this work, so I feel it is too much imo.

May be it could be great to plan a  futur call on marketing actions and compensation model with the community.

[2019-09-03 17:15] wdljt6 commented on #342
@ArnaudFR86 I may edit it again. Actually I use 3.6 hours on it before the translation project set up. The word count is about 1500 words (introduction is included).Maybe I will reduce it to 200 or less.

[2019-09-03 17:28] ArnaudFR86 commented on #342
I think as you gave the time spent and words numbers, it will now make it easier for others to evaluate it. Using the 0.07 per word or $30 per hour is what I use to get as translator, but i'll like to get others contributors views.

[2019-09-03 17:31] wdljt6 commented on #342
@ArnaudFR86 I'd like to see how much do others apply. Japanese are also working on it.

[2019-09-04 13:25] battleofwizards opened #343 "For Cycle 5"
## Summary

- BSQ requested: 8450

## Contributions delivered

#### Develop dropdown autocomplete and integrate it on major menu tabs (Market, Buy, Sell)
https://github.com/bisq-network/bisq/pull/3139
https://github.com/bisq-network/bisq/pull/3124
https://github.com/bisq-network/bisq/pull/3172

BSQ: 5800

Value: significantly better user experience for all Bisq users, developers and testers. Tradi

[2019-09-06 10:37] bodymindarts opened #344 "For Cycle 5"
## Summary

 - BSQ requested: 435

## Contributions delivered

**Improve onboarding docs**

Set up intellij and updated the [walkthrough doc](https://github.com/bisq-network/bisq/blob/master/docs/idea-import.md) because some points were out of date when going through it with the latest version (2019.2).

https://github.com/bisq-network/bisq/pull/3199

BSQ 125

**Investigate how to deal with Bitcoi

[2019-09-06 11:07] y3v63n commented on #337
Also, the rate we use 0.07BSQ per source word. Sorry for the confusion, I believe it was me who misinformed you.

[2019-09-06 14:29] acrual opened #345 "For Cycle 5"

[2019-09-06 14:31] #345 closed

[2019-09-06 14:34] acrual opened #346 "For cycle 5"
## Summary

 - BSQ requested:
 130

## Contributions delivered

- I've been testing wallet protection and wallet recovery of version 1.1.6. Results can be viewed in the bisq's team version of testpad (bisq.ontestpad.com, project Bisq116).

- I've also been testing the DAO in the same version 1.1.6 and found a bug that I've reported both in the testpad and here in github https://github.com/bisq-net

[2019-09-06 16:28] ripcurlx commented on #346
Here is the live guest link for the Testpad report: https://bisq.ontestpad.com/project/1/folder/f36/report/?auth=2a5f15335ce2966d8595e93145d26112

[2019-09-06 16:37] acrual commented on #346
Awesome thanks. Actually I'm going to do a second round of tests with the new version Christophe has just published in slack. Should I edit the compensation request when I'm done or should I simply add another compensation request?

[2019-09-06 16:40] ripcurlx commented on #346
Actually that shouldn't be necessary in your case as the changes don't touch the area you're testing. But thanks for the testing so far 👍

[2019-09-06 16:41] acrual commented on #346
Ok understood, many thanks! :)

[2019-09-06 16:42] ripcurlx commented on #346
But you could help out @wiz testing the DAO governance which hasn't been tested thoroughly so far. In that case, you don't need to create another compensation request, just add it to this one.

[2019-09-06 16:45] acrual commented on #346
Ok, thanks, perfect, downloading the jar files as I write :)

[2019-09-06 23:14] ManfredKarrer opened #347 "For Cycle 5"
## Basic information

- BSQ amount requested: **390**

### Roles:

Operator roles:
- Bitcoin Node Operator: https://github.com/bisq-network/roles/issues/67 `(2 nodes: 2 x 80= 160)`
- 2 Monitor nodes: `(2 nodes: 2 x 50= 100)`
- 1 Markets server: `50`
- BSQ explorer backup: `80` (Dao full node)

Sum: 390 BSQ

[2019-09-07 08:51] cbeams opened #348 "For Cycle 5"
## Summary

 - BSQ requested: 130

## Contributions delivered

### 19 months of pricenode hosting

Per https://github.com/bisq-network/roles/issues/14#issuecomment-527100177, I recently shut down my pricenode. As seen in the Heroku billing screen below, I ran this service at a cost of 7.00 USD/mo for 19 months. The first and last billings had irregular amounts.

The formula used to arrive at the B

[2019-09-07 11:34] chimp1984 opened #349 "For Cycle 6"
## Summary
 - BSQ requested: 37050

## Contributions delivered

### Development work:
[Add mediator support](https://github.com/bisq-network/bisq/pull/3221)
BSQ requested: 18000
__Note: This feature improves a lot the security and usability of Bisq and I think that justifies a rather high requested BSQ amount. Effort and challenges with backward compatiblity have been high as well.__

[Remove old

[2019-09-08 11:17] MwithM commented on #302
Closed as old.

[2019-09-08 11:17] #302 closed

[2019-09-08 11:38] MwithM opened #350 "For Cycle 5"
## Summary

 - BSQ requested: **407BSQ**

## Contributions delivered

Spanish website translation has been delivered in this cycle, thanks to @huey735 and all who made this possible.
Screenshots were shot after I finished translating and reviewing the strings, I could be forgetting something. Now transifex displays different data because of changes made afterwards.

Spanish website translation:
(3

[2019-09-08 19:08] huey735 commented on #341
@ArnaudFR86 you can search all resources of bisq-website at once
![trresources](https://user-images.githubusercontent.com/44140017/64493152-57a54900-d274-11e9-9e75-ae198f7681c0.png)

[2019-09-08 19:33] alexej996 opened #351 "For Cycle 5"
## Summary
 - BSQ requested: **200**
## Roles performed

- Forum operator: https://github.com/bisq-network/roles/issues/19#issuecomment-529234185 (100 BSQ)
- Reddit moderator: https://github.com/bisq-network/roles/issues/25#issuecomment-529232205 (50 BSQ)

- Pricenode operator: https://github.com/bisq-network/roles/issues/14#issuecomment-529400510 (50 BSQ)

[2019-09-08 21:07] huey735 commented on #351
@alexej996 you no longer need to specify a BSQ address.

[2019-09-08 21:13] alexej996 commented on #351
Oh yea, didn't know, but makes sense.

[2019-09-09 01:47] wiz opened #352 "Cycle 5"
# Summary

BSQ requested: 9884

## Contributions Delivered

Bisq
* Dark Mode UI implementation bounty [ 5000 BSQ ]
* Japan Bank Transfer payment method [ 2000 BSQ ]
* Seednode/desktop stability issues [ 300 BSQ ]

Bisq Website
* Japanese localizations added [ 800 BSQ ]
* General localization features added [ 400 BSQ ]
* Miscellaneous bugfixes + code cleanups [ 100 BSQ ]
* Translations reviewed 973

[2019-09-09 05:06] devinbileck opened #353 "For Cycle 5"
## Summary

This compensation request covers work [delivered](https://github.com/bisq-network/proposals/issues/19) since the previous voting period ([for cycle 4](https://github.com/bisq-network/compensation/issues/326)) up until a few days prior to the end of the cycle 5 proposal phase, between 2019-08-08 and 2019-09-08.

Since the BSQ market is still new and undergoing price discovery, this requ

[2019-09-09 06:43] y3v63n opened #354 "For Cycle 5"
## Summary

- BSQ requested: 220

## Roles performed: Transifex Admin

- Did Transifex-specific work (updated settings, added new team members, communicated with translators, dealt with issues, etc).
- Moderated the #Transifex channel in Slack.
- Created the [monthly report](https://github.com/bisq-network/roles/issues/20#issuecomment-527126550).

[2019-09-09 09:29] Emzy opened #355 "For Cycle 5"
## Summary

 - BSQ requested: 850

## Contributions delivered

None.

## Contributions in progress

None.

## Roles performed

- Bisq Pricenode Operator at bisq-network/roles#14
- Bisq Seednode Operator at bisq-network/roles#15
- Bisq Bitcoin Node Operator at bisq-network/roles#67
- Bisq Mailman Operator at bisq-network/roles#26
- Markets Website+API Operator at bisq-network/roles#9

## Compensati

[2019-09-09 09:46] sqrrm opened #356 "Cycle 5"
## Summary

 - BSQ requested: `8130`

## Contributions delivered

Compensation requested

### Code Delivered
https://github.com/bisq-network/bisq/pull/2871
https://github.com/bisq-network/bisq/pull/3165
https://github.com/bisq-network/bisq/pull/3121
https://github.com/bisq-network/bisq/pull/3164
https://github.com/bisq-network/bisq/pull/3176
https://github.com/bisq-network/btcd-cli4j/pull/7
https:

[2019-09-09 09:55] ArnaudFR86 commented on #341
@huey735 Hello, If was looking at your comments on my github compensation request, Using the method you showed to me, I have a total of 3874 words, whereas I submitted a request for 4083 words. the difference is due that i prepared the compensation request times ago, and my calculation probably included some identicals translated terms, or updated ones. I tried to get a feedback on my compensation

[2019-09-09 11:13] christophsturm opened #357 "cycle5"
## Summary

 - BSQ requested: 12000

## Contributions delivered

guice fixes:
https://github.com/bisq-network/bisq/pull/3043
https://github.com/bisq-network/bisq/pull/3058
https://github.com/bisq-network/bisq/pull/3061
https://github.com/bisq-network/bisq/pull/3086

fix tests and build for jdk 11 and 12
https://github.com/bisq-network/bisq/pull/3081
https://github.com/bisq-network/bisq/pull/3091
h

[2019-09-09 11:39] erciccione opened #358 "For Cycle 5"
## Summary

 - BSQ requested: `800`

## Contributions delivered

Refactored way to translate *Statistics* page of the website: bisq-network/bisq-website#221
Improved contributor's workflow to make git history clearer: bisq-network/bisq#3217

### Reviews
bisq-network/bisq-website#233
bisq-network/bisq-website#226
bisq-network/bisq-docs#159
bisq-network/bisq-website#211
bisq-network/bisq-website#220

[2019-09-09 11:42] erciccione commented on #358
This is my first request, any feedback would be very appreciated :)

[2019-09-09 12:03] erciccione commented on #358
I gave a look at some other proposals and i had the feeling i was asking to less, i changed the amount in the OP from `500` to `800` BSQ. Please let me know if this rate is fair.

[2019-09-09 13:27] huey735 commented on #341
@ArnaudFR86, yeah that's an unfortunate aspect of the way we're counting translated strings right now. What we are looking at is of the number of translated strings what amount did X translate. But in a cycle strings come and ago and you've certainly translated more than those 4083 words as the strings have been updated multiple times since you started translating the bisq-website resource. Maybe

[2019-09-09 15:41] mpolavieja opened #359 "For cycle 5"
## Summary

 - BSQ requested: 140

## Contributions delivered

 I've tested the trading process for version 1.1.6. Link to the test report is https://bisq.ontestpad.com/script/98/report  Results can be viewed in the bisq's team version of testpad (bisq.ontestpad.com, project Bisq116).  I minor bug was found regarding the trading chat for traders (issue [3210](https://github.com/bisq-network/bisq/i

[2019-09-09 15:44] chimp1984 commented on #359
Requested amount sounds very low to me....

[2019-09-09 15:48] mpolavieja commented on #359
It is really difficult to assess the value of this kind of things.  Moreover I was not assigned to perform the full test but only the critical issues.   How much do you think I should ask?

[2019-09-09 19:03] m52go opened #360 "For Cycle 5"
.

[2019-09-09 19:03] m52go opened #361 "For Cycle 5"
**BSQ requested: `5940`**

## Contributions delivered

**Website** `2800`

Separate volume into fiat and altcoin components (https://github.com/bisq-network/bisq-website/pull/226) (800)
* Required that a complete data set of every historical trade from the [Markets API](https://markets.bisq.network/api/) be created, as existing data reporting does not include required data

Update stats page with

[2019-09-09 19:36] m52go commented on #360
Sorry, not sure what happened here. Seems like 2 issues were opened at the same time.

[2019-09-09 19:36] #360 closed

[2019-09-10 08:19] #331 closed

[2019-09-10 08:21] mrosseel opened #362 "For Cycle 5"
## Summary

 - BSQ amount requested: 250 BSQ

## Contributions delivered

## Contributions in progress

https://github.com/bisq-network/bisq/pull/3095

### Hosting
Monthly costs nodes: 50 / node * 5: 250 BSQ

Running:
1 Price node + bitcoinaverage subscription
2 Seed nodes
2 Bitcoin full nodes
1 Monitoring node + 1 messaging sync node (on one server)

## Roles performed

Pricenode Operator at http

[2019-09-11 06:25] wiz commented on #358
Can you delete the 500 BSQ request? I see two requests

[2019-09-11 07:50] ifarnung commented on #339
I was just introduced to BISQ this month, and I find it a very promising project, and I have been contributing as a market maker. So in studying the DAO, I'm going over all the compensation requests to better understand how BSQ is distributed.
Anyway, I agree with ArnaudFR86 that this compensation request amount seems very high.
The videos are high quality and it must have taken skill to create th

[2019-09-11 08:11] erciccione commented on #358
@wiz i'm sure i've deleted it right before opening a new one, not sure why it's still showing up. Anyway, i don't seem able to remove it anymore, should i just reject it?

[2019-09-11 10:36] sqrrm commented on #358
The remove proposal feature has some issues causing proposals to not get removed even though they should be. We will just have to reject the 500 BSQ request.

[2019-09-13 07:44] ripcurlx commented on #340
@huey735 Could you please remove the [WIP] from the title of your compensation request. 👍

[2019-09-16 12:12] freimair opened #363 "Cycle 6"
## Summary

 - BSQ requested: 6900

## Contributions delivered

- new Tor version via https://github.com/bisq-network/bisq/pull/3206 (via [netlayer 0.6.5.2](https://github.com/JesusMcCloud/netlayer/releases/tag/0.6.5.2) and [tor-binary 0.4.1.5](https://github.com/JesusMcCloud/tor-binary/releases/tag/0.4.1.5)) (930 BSQ)
- seed nodes sync themselves regularly via https://github.com/bisq-network/bisq

[2019-09-16 13:18] MwithM commented on #318
Closed as accepted

[2019-09-16 13:18] #318 closed

[2019-09-16 13:19] MwithM commented on #324
Closed as accepted

[2019-09-16 13:19] #324 closed

[2019-09-16 13:22] MwithM commented on #335
Closed as accepted (Cycle 5)

[2019-09-16 13:22] #335 closed

[2019-09-16 13:25] MwithM commented on #330
Closed as rejected.

[2019-09-16 13:26] MwithM commented on #322
Closed as accepted.

[2019-09-16 13:26] #322 closed

[2019-09-16 13:27] MwithM commented on #321
Closed as accepted.

[2019-09-16 13:27] #321 closed

[2019-09-16 13:38] MwithM commented on #358
Closed as rejected.

[2019-09-16 13:38] #358 closed

[2019-09-16 13:42] MwithM commented on #350
Closed as accepted.

[2019-09-16 13:42] #350 closed

[2019-09-16 13:43] MwithM commented on #269
Closed as accepted

[2019-09-16 13:43] #269 closed

[2019-09-16 13:44] MwithM commented on #351
Closed as accepted.

[2019-09-16 13:44] #351 closed

[2019-09-16 13:44] MwithM commented on #352
Closed as accepted.

[2019-09-16 13:44] #352 closed

[2019-09-16 13:45] MwithM commented on #354
Closed as accepted.

[2019-09-16 13:45] #354 closed

[2019-09-16 13:46] MwithM commented on #356
Closed as accepted.

[2019-09-16 13:46] #356 closed

[2019-09-16 13:47] MwithM commented on #359
Closed as accepted.

[2019-09-16 13:47] #359 closed

[2019-09-16 13:47] MwithM commented on #361
Closed as accepted.

[2019-09-16 13:47] #361 closed

[2019-09-16 13:48] MwithM commented on #340
Closed as accepted.

[2019-09-16 13:48] #340 closed

[2019-09-16 13:49] MwithM commented on #336
Closed as accepted.

[2019-09-16 13:49] #336 closed

[2019-09-16 13:50] MwithM commented on #353
Closed as accepted.

[2019-09-16 13:50] #353 closed

[2019-09-16 13:50] MwithM commented on #357
Closed as accepted.

[2019-09-16 13:50] #357 closed

[2019-09-16 13:50] MwithM commented on #338
Closed as accepted.

[2019-09-16 13:50] #338 closed

[2019-09-16 13:51] MwithM commented on #348
Closed as accepted.

[2019-09-16 13:51] #348 closed

[2019-09-16 13:52] MwithM commented on #344
Closed as accepted.

[2019-09-16 13:52] #344 closed

[2019-09-16 13:52] #343 closed

[2019-09-16 13:53] MwithM commented on #346
Closed as accepted.

[2019-09-16 13:53] #346 closed

[2019-09-16 13:54] MwithM commented on #341
Closed as accepted.

[2019-09-16 13:54] #341 closed

[2019-09-16 13:54] MwithM commented on #355
Closed as accepted.

[2019-09-16 13:54] #355 closed

[2019-09-16 13:55] MwithM commented on #330
Accepted on Cycle 5.

[2019-09-16 13:55] MwithM commented on #330
Closed.

[2019-09-16 13:55] #330 closed

[2019-09-16 13:55] MwithM commented on #339
Closed as accepted.

[2019-09-16 13:55] #339 closed

[2019-09-16 13:55] MwithM commented on #347
Closed as accepted.

[2019-09-16 13:55] #347 closed

[2019-09-16 14:03] MwithM commented on #337
Closed as not delivered.
Please ask for reopen or send a new compensation request.

[2019-09-16 14:03] #337 closed

[2019-09-16 14:09] MwithM commented on #362
Was this compensation request on the DAO? If it wasn't, change tytle to _Cycle 6_ and don't forget to make a new request on the DAO.

[2019-09-16 14:14] MwithM commented on #342
@wdljt6 It looks like the Compensation Request wasn't submitted to the DAO. Please change tytle to _Cycle 6_ if you want it for the next Cycle.

[2019-09-16 14:46] chimp1984 opened #364 "BSQ rate for Cycle 6 is 1.00 USD per 1 BSQ"
Proposal https://github.com/bisq-network/proposals/issues/114 got accepted in DAO voting.
At block 595151 (cycle 6 started at 595147) the 90 days average price of 1 BSQ is 1.00 USD.

So it does not change anything from our 1 USD rate used so far, but is it now based on real market price. Expect next cycle to not be the same ;-).

<img width="1017" alt="Screen Shot 2019-09-16 at 16 44 12" src="http

[2019-09-16 15:24] erciccione commented on #358
Just for the records @MwithM the proposal was accepted. There were 2 opened because for some bug the DAO didn't remove the old one, which was correctly rejected. The correct one was approved.

[2019-09-18 06:24] Oscar65 opened #365 "For Cycle 6"
## Summary

 - BSQ requested: 51

## Contributions delivered

739 words translated/fixed typos in transifex Spanish (MnM gave me permissions).

## Contributions in progress

I'm starting to learn how bisq-desktop works and trying to fix minor issues.

## Roles performed

Spanish translator. But I want to be also a developer.

[2019-09-18 07:37] MwithM commented on #365
Also reviewed typos like missing opening question marks "¿" and also substitued "/n" and "\n", which was used to start a new line, for the now allowed "intro" character.
Compensation is only requested for the easy part to value, which is the translation. He made changes to 115 strings.
![imagen](https://user-images.githubusercontent.com/50149324/65127434-af238180-d9f7-11e9-8320-b1d4bc805bdd.png)

[2019-09-18 07:42] Oscar65 commented on #365
I wrote what MnM told me to ask for compensation.

[2019-09-18 07:45] Oscar65 commented on #365
Sorry, I forgot. This is my first compensation request. I will do in next compensation requests. Thanks.

[2019-09-19 09:24] MwithM commented on #362
Closed as stalled. Request reopening if needed.

[2019-09-19 09:24] #362 closed

[2019-09-19 09:24] MwithM commented on #342
Closed as stalled. Request reopening if needed.

[2019-09-19 09:24] #342 closed

[2019-09-19 15:01] erciccione commented on #364
I think this is a step forward compared to $1 = 1 BSQ, but that carries potentially big issues. The biggest problem i see in hardcoding a value at the beginning of the cycle is: will people actually use it?

Right now the 90-day average is about 0.96$ and looking at the market is probably going more down, at least in the near future. If the value of 1 BSQ keep decreasing during this cycle, a contr

[2019-09-19 15:20] chimp1984 commented on #364
@erciccione Agree there is no easy and perfect solution. But using a long term average brings some stability into the price which is overall a good property for the DAO. That the 1 USD price was quite stable over the past months is because most contributors did not want to sell below 1 USD when this was the "promised" price at request time.

[2019-09-24 01:55] itsN1X commented on #264
cc @33o1—

- [ ] append to pending (#bAckLog)

[2019-09-25 06:44] pedromvpg opened #366 "For Cycle 6"
## Summary
 - BSQ requested: 400

## Contributions delivered

Print files here
AI: https://drive.google.com/open?id=15DWnnljVcf5qlhnedr5fxl3wEnm5ReJK
PDF: https://drive.google.com/open?id=1LAy9fG-rA2tePYiNcqHojuPpmUC0c7MI

![Bisq - Paralelni Polis Poster](https://user-images.githubusercontent.com/807505/65575270-6e6ac180-df3d-11e9-9aad-8d5b2f08ee77.jpg)
![Bisq - Paralelni Polis Poster](https://use

[2019-09-26 21:29] rafaelpac opened #367 "Cycle 6"
## Summary

 - BSQ requested: 100

## Contributions delivered

I have ordered 200 stickers for spreading the use of Bisq in my city (Brazil).
I have put some of them around our main university walls and bus stops.
I gave some out for friends to spread the message at bars and street food vendors.
https://photos.app.goo.gl/t14T3yubH5chwRdw5

## Contributions in progress

I still have a few to distri

[2019-09-27 04:05] wiz commented on #367
Can you post the sticker image data on GitHub somewhere? I want to make Bisq stickers too!

[2019-09-27 06:20] rafaelpac commented on #367
I don't have the vector image, only a regular one... I created the design with the simple interface of the website where I bought it, and it was not allowed to download the vector image.

![bisq sticker](https://user-images.githubusercontent.com/6444444/65746418-31d1ce00-e0d5-11e9-8456-b9a51b3d5b32.png)

![image](https://user-images.githubusercontent.com/6444444/65746452-48782500-e0d5-11e9-9118-52

[2019-09-27 10:41] ifarnung commented on #367
This is very cool! Nice work.

[2019-09-27 10:44] MwithM commented on #367
@rafaelpac Please change proposal title to "cycle 6" or "for cycle 6".

[2019-09-27 13:24] FKrauss commented on #367
that's pretty cool!

[2019-10-07 02:31] ManfredKarrer opened #368 "For Cycle 6"
## Basic information

- BSQ amount requested: **340**

### Roles:

Operator roles:
- Bitcoin Node Operator: https://github.com/bisq-network/roles/issues/67 `(2 nodes: 2 x 80= 160)`
- 1 Monitor node: `(50)`
- 1 Markets server: `50`
- BSQ explorer backup: `80` (Dao full node)

Sum: 340 BSQ

[2019-10-07 10:25] ripcurlx opened #369 "For Cycle 6"
## Summary

 - BSQ requested:`9555`

This is a compensation request for contributions delivered from last cycle until now (Oct 7).

## Contributions delivered

**Reviews of PRs**
I monitor PR reviews separately from the responsibilities of the Bisq Desktop Maintainer role.

_Reviewed PRs:_
- https://github.com/bisq-network/bisq/pull/3212
- https://github.com/bisq-network/bisq/pull/3217
- https://g

[2019-10-07 11:28] MwithM opened #370 "Cycle 6"
## Summary

 - BSQ requested: **270 BSQ**

 ## Contributions delivered

Spanish bisq-desktop review:

3716 words x 0.04 BSQ = **150 BSQ**

![imagen](https://user-images.githubusercontent.com/50149324/66306193-4d24b080-e901-11e9-8fef-982947a766b8.png)

## Roles performed

Compensation [Maintainer](https://github.com/bisq-network/roles/issues/86#issuecomment-538947112): **50 BSQ**
Twitter Spanish [A

[2019-10-08 19:30] tdhr0917 opened #371 "Cycle 6"
## Summary

 - BSQ requested: 419

## Contributions delivered

bisq-website translations into Japanese
 - Translated 4563 words into Japanese @ 0.07 BSQ/word = 319 BSQ

## Roles performed
 - Introducing what is Bisq with Japanese Twitter account (@BisqJP) = 100 BSQ

[2019-10-09 10:13] MwithM commented on #371
There's no need to post BSQ address here, since your Compensation Request at the DAO is already linked to this.

[2019-10-09 10:39] m52go opened #372 "For Cycle 6"
**BSQ requested: `5965`**

## Contributions delivered

**Website** `1500`

Update fee structure on FAQ page (https://github.com/bisq-network/bisq-website/pull/248)

Update stats page with September figures (https://github.com/bisq-network/bisq-website/pull/225)

Add blog post for DAO Cycle 5 (https://github.com/bisq-network/bisq-website/pull/211) (50)

Reviews:

  * https://github.com/bisq-network

[2019-10-09 10:46] Emzy opened #373 "For cycle 6"
## Summary

 - BSQ requested: 650

## Contributions delivered

None.

## Contributions in progress

None.

## Roles performed

- Bisq Pricenode Operator at bisq-network/roles#14
- Bisq Seednode Operator at bisq-network/roles#15
- Bisq Bitcoin Node Operator at bisq-network/roles#67
- Bisq Mailman Operator at bisq-network/roles#26
- Markets Website+API Operator at bisq-network/roles#9

## Compensati

[2019-10-09 11:03] tdhr0917 commented on #371
Thank you for telling me.
I deleted it.

[2019-10-09 12:09] erciccione opened #374 "Cycle 6"
## Summary

 - Total BSQ requested: `1050 BSQ`

## Contributions delivered
 BSQ requested: `800 BSQ`

bisq-network/bisq-website/pull/256
*This PR is in preparation for a new system that will make the bisq-website repository scalable and easier to maintain. See bisq-network/bisq-website/issues/244*.

bisq-network/bisq-docs/pull/161
bisq-network/bisq/pull/3278

## Reviews
BSQ requested: `250 BSQ`

b

[2019-10-09 13:22] sqrrm opened #375 "Cycle 6"
## Summary

 - BSQ requested: `9030`

## Contributions delivered

### Code Delivered
Focused on the protection tools as part of https://github.com/bisq-network/proposals/issues/93 this month. Current code can be found in the v1.2.0 branch. Included in this branch is the protection tools and new trade protocol.

https://github.com/bisq-network/bisq/pull/3121
BSQ requested: `7600`

### Reviews
Spent

[2019-10-09 13:23] y3v63n opened #376 "For Cycle 6"
## Summary

- BSQ requested: 240

## Roles performed: Transifex Admin

- Did Transifex-specific work (updated settings, added new team members, communicated with translators, dealt with issues, etc).
- Moderated the #Transifex channel in Slack.
- Created the [monthly report](https://github.com/bisq-network/roles/issues/20#issuecomment-537333443).

[2019-10-09 18:05] HarryMacfinned opened #377 "For cycles 5 and 6"
For cycles 5 and 6
## Summary

 - BSQ requested: `800`

This compensation request :
- follows the https://docs.bisq.network/roles.html#compensation recommandations
- uses 1BSQ=1USD as basis
- is for cycle 5 and for cycle 6. (I didn't make a CR for cycle 5 previously).

## Roles performed
### Substantive reports

- Fees and connectivity monitoring | (BSQ requested = `200 (per cycle)`)
Concerned mon

[2019-10-09 20:01] devinbileck opened #378 "For Cycle 6"
## Summary

This compensation request covers work [delivered](https://github.com/bisq-network/proposals/issues/19) since the previous voting period ([for cycle 5](https://github.com/bisq-network/compensation/issues/353)) up until just prior to the end of the cycle 6 proposal phase, between 2019-09-09 and 2019-10-09.

As we are now using the 90 days average BSQ price for compensation requests, as p

[2019-10-09 21:57] niyid opened #379 "For Cycle 6"
## Summary

 - BSQ requested:
 **`BSQ 6750.00`**

## Contributions delivered

The delivery is wrapped as [Proposal 110](https://github.com/bisq-proposal-110/bisq) which combines the following:

- proposal https://github.com/bisq-network/proposals/issues/51
- issue bisq-network/bisq#1863
- proposal https://github.com/bisq-network/proposals/issues/86
- proposal https://github.com/bisq-network/propos

[2019-10-10 10:02] wiz opened #380 "Cycle 6"
## Summary

BSQ requested: 4800

## Contributions Delivered

Bisq [ 1500 BSQ ]
* Investigated / fixed Bitcoin TX with too low TX fee
* Removed various unmaintained BTCNodes
* Improve display of candle/volume charts
* Add mempool.space as new TX tracker

Bisq Infrastructure [ 1000 BSQ ]
* Created Alerts system for BTCNode/Pricenode/web
* Created Bisq Pricenode gztmprecgqjq64zh.onion
* Migrated Bisq

[2019-10-10 10:30] doitsu232 opened #381 "Cycle 6"
## Summary

 - BSQ requested: 306.04

## Contributions delivered
Translation English to German of the following strings:

**#bisq-desktop**
displayStrings.properties - 650 words
![screenshot-www transifex com-2019 10 10-18_03_01](https://user-images.githubusercontent.com/7280760/66560949-09dd7280-eb8b-11e9-8706-fd3cb535b581.png)

**bisq-website**
community - 213 words
![screenshot-www transifex co

[2019-10-10 12:26] FKrauss opened #382 "Cycle 6"
## Summary

 - BSQ requested: 662 BSQ

## Contributions delivered

Localization (Pt-br) - APP - review 215 strings -> 2573 words * 0.0375 BSQ per word  == **96 BSQ**
Localization (pt-br) - Website - translation 112 strings ->  3553 words * 0.075 BSQ per word = **266 BSQ**
[Presentation](https://www.meetup.com/bitcoinsaopaulo/events/264278690/) to Local São Paulo community - **100 BSQ**
[Tutorial](

[2019-10-10 12:44] huey735 opened #383 "For Cycle 6"
## Summary

 - BSQ requested: 813.11

## Contributions delivered

### Translation of the Bisq software to Portuguese (pt-PT)
[Following this rate.](https://github.com/arunasurya/bisqtransifex/blob/master/translatordocumentation.md#compensation-requests)

0.07 x 4473 = 313.11 BSQ

![20191010-translations](https://user-images.githubusercontent.com/44140017/66558307-412c2f00-eb4b-11e9-9384-a690d15bbb

[2019-10-10 12:47] alexej996 opened #384 "For Cycle 6"
## Summary
 - BSQ requested: **200**
## Roles performed

- Forum operator: https://github.com/bisq-network/roles/issues/19#issuecomment-540578523 (100 BSQ)
- Reddit moderator: https://github.com/bisq-network/roles/issues/25#issuecomment-540568606 (50 BSQ)
- Pricenode operator: https://github.com/bisq-network/roles/issues/14#issuecomment-540569297 (50 BSQ)

[2019-10-10 12:55] huey735 commented on #364
My disagreement isn't well thought out yet, but I still have reservation regarding abandoning 1 BSQ = 1 USD. So I'm just voicing my position.

[2019-10-11 13:39] ripcurlx commented on #381
@doitsu232 Thanks for the translations. I just went through the not reviewed translations of #bisq-desktop on Transifex and accepted them and/or made some changes. I think we need to look through the German translation to be consistent with the translation of Mediator and Arbitrator. E.g. for Mediator both "Vermittler" and "Mediator" is used in the translation. As "Vermittler" is used already for

[2019-10-11 13:45] doitsu232 commented on #381
i agree on that, let's use "mediator" in all translations. it was actually a bit tricky to find the right translation for that term because it is basically "vermittler" but a slightly different function. thanks for clarifying! :)

[2019-10-11 13:47] ripcurlx commented on #380
@wiz  Is it really you 😉

[2019-10-11 13:52] wiz commented on #380
@ripcurlx I forgot my Trezor at the office, so please send me all your Bitcoin and private keys :joy:

[2019-10-11 14:24] ripcurlx commented on #367
@rafaelpac Please use for the next request the same GitHub handle for your compensation request in the Bisq DAO to prevent confusions. ATM you used pac instead of rafaelpac.

[2019-10-11 15:33] FKrauss commented on #366
cool! where was this? I didn't see it at the event =( or was it not related to HCPP, but to PP?

[2019-10-11 16:16] m52go commented on #366
Not strictly for HCPP, more for Paralelní Polis Prague. One of their team members wanted it so they could post it somewhere on the premises. Haven't heard further details yet.

[2019-10-11 16:19] wiz commented on #366
@pedromvpg do you have vector data for stickers? I want to make just simple bisq cat logo

[2019-10-11 16:21] m52go commented on #366
@wiz there's a design repository: https://github.com/bisq-network/bisq-design/blob/master/bisq-logo%2Bmark-0.9.0/bisq_mark.svg

[2019-10-13 14:59] sqrrm commented on #379
None of these PRs are merged in master. I know incubator is new so I'll give it a pass for this month but I think we need a better way to handle the incubator compensation. I think that was mentioned elsewhere as well.

[2019-10-13 16:36] niyid commented on #379
I appreciate the gesture. Yes, @m52go made some suggestions here: [Proposal by @m52go](https://github.com/bisq-network/proposals/issues/122#issuecomment-541198686). I think this should be formalized as a proposal.

Regards.

[2019-10-14 08:17] ripcurlx commented on #379
As none of these PRs got merged into master and we haven't came to a final decision how the incubation project should be compensated I voted against this compensation request. I don't mean that incubation projects shouldn't be compensated at all, but I think we need to discuss this first to set the right incentives for the future.

[2019-10-14 10:18] niyid commented on #379
Your candid assessment is appreciated.

[2019-10-18 19:58] MwithM commented on #383
Closed as accepted.

[2019-10-18 19:58] #383 closed

[2019-10-18 19:59] MwithM commented on #384
Closed as accepted.

[2019-10-18 19:59] #384 closed

[2019-10-18 19:59] MwithM commented on #382
Closed as accepted.

[2019-10-18 19:59] MwithM commented on #382
Closed as accepted.

[2019-10-18 19:59] #382 closed

[2019-10-18 19:59] MwithM commented on #381
Closed as accepted.

[2019-10-18 19:59] #381 closed

[2019-10-18 20:00] MwithM commented on #374
Closed as accepted.

[2019-10-18 20:00] #374 closed

[2019-10-18 20:01] MwithM commented on #365
Closed as accepted.

[2019-10-18 20:01] #365 closed

[2019-10-18 20:01] MwithM commented on #380
Closed as accepted.

[2019-10-18 20:01] #380 closed

[2019-10-18 20:01] MwithM commented on #379
Closed as accepted.

[2019-10-18 20:01] #379 closed

[2019-10-18 20:03] MwithM commented on #349
Closed as accepted.

[2019-10-18 20:03] #349 closed

[2019-10-18 20:04] MwithM commented on #363
Closed as accepted.

[2019-10-18 20:04] #363 closed

[2019-10-18 20:04] MwithM commented on #366
Closed as accepted.

[2019-10-18 20:04] #366 closed

[2019-10-18 20:05] MwithM commented on #367
Closed as accepted.

[2019-10-18 20:05] #367 closed

[2019-10-18 20:05] MwithM commented on #368
Closed as accepted.

[2019-10-18 20:05] #368 closed

[2019-10-18 20:05] MwithM commented on #369
Closed as accepted.

[2019-10-18 20:05] #369 closed

[2019-10-18 20:07] MwithM commented on #377
Closed as accepted.

[2019-10-18 20:07] #377 closed

[2019-10-18 20:07] MwithM commented on #370
Closed as accepted.

[2019-10-18 20:07] #370 closed

[2019-10-18 20:07] MwithM commented on #378
Closed as accepted.

[2019-10-18 20:07] #378 closed

[2019-10-18 20:07] MwithM commented on #375
Closed as accepted.

[2019-10-18 20:07] #375 closed

[2019-10-18 20:07] MwithM commented on #373
Closed as accepted.

[2019-10-18 20:07] #373 closed

[2019-10-18 20:07] MwithM commented on #372
Closed as accepted.

[2019-10-18 20:07] #372 closed

[2019-10-18 20:08] MwithM commented on #371
Closed as accepted.

[2019-10-18 20:08] #371 closed

[2019-10-18 20:08] #376 closed

[2019-10-18 20:08] MwithM commented on #376
Closed as accepted.

[2019-10-18 20:14] MwithM commented on #364
Closed as Cycle 6 has finalised.

@chimp1984 Rate for Cycle 7 should be 0.79USD per 1 BSQ?

![imagen](https://user-images.githubusercontent.com/50149324/67125060-41d05f80-f1f4-11e9-8be1-9fc63a331ef7.png)
Stats at block 599.976

[2019-10-18 20:14] #364 closed

[2019-10-19 05:30] chimp1984 commented on #364
@MwithM Could you post the new BSQ rate for that cycle?

[2019-10-19 16:02] MwithM opened #385 "BSQ rate for Cycle 7 is 0.79 USD per 1 BSQ"
Update for cycle 7 of [this issue](https://github.com/bisq-network/compensation/issues/364) for cycle 6.

At block 599.976 the 3 month average price for 1 BSQ was 0.79 USD. This is the recommended rate to use for Compensation Requests on Cycle 7.

![67125060-41d05f80-f1f4-11e9-8be1-9fc63a331ef7](https://user-images.githubusercontent.com/50149324/67147969-3cc5eb80-f29a-11e9-98e2-9b1326e649fe.png)

[2019-10-21 23:03] chimp1984 opened #386 "For Cycle 7"
## Summary
 - BSQ requested: 11250

## Contributions delivered

### Development work:
[Apply rule to not allow BSQ outputs after BTC output for regular txs](https://github.com/bisq-network/bisq/pull/3413)
BSQ requested: 5000

[Fix bug with not updating vote result table at vote result block](https://github.com/bisq-network/bisq/pull/3442)
BSQ requested: 200

[Update DAO tx structure doc](https://g

[2019-10-23 03:18] fedegrc opened #387 "For Cycle 7"
## Summary

 - BSQ requested: 50

## Contributions delivered

I completed the first Bisq trade in Argentinian Pesos (ARS/BTC) on Sep 10, 2018 and I reported feedback on the details of the trade. See https://github.com/bisq-network/growth/issues/26#issuecomment-423643017

[2019-10-26 08:43] KamilPredecki opened #388 "For Cycle 7"
- BSQ requested: 1800

## Contributions delivered

All three videos below are in Polish.

How works decentralized exchanges based on BISQ exchange:
Part 1: https://www.youtube.com/watch?v=dhPaI4Tb8qo

Fully trade on BISQ exchange:
Part 2: https://www.youtube.com/watch?v=d3wc51tjTnw

Interview with Developer (Bernard) about BISQ DAO, Bonding, Future of BISQ exchange, Creating account on BISQ, Creat

[2019-10-27 18:39] doitsu232 opened #389 "For Cycle 7"
## Summary

 - BSQ requested: 509.85 BSQ

## Contributions delivered

Translations from English to German counted after 10. October 2019

#bisq-desktop
displayStrings.properties - 164 strings (5023 words)
5023 words x 0.07USD = 351.61 USD / 0.79 = ~445.08 BSQ
![screenshot-www transifex com-2019 11 12-02_57_30](https://user-images.githubusercontent.com/7280760/68635398-ada69f00-04f8-11ea-8a6f-c1ae7

[2019-10-28 05:08] ff98sha opened #390 "For Cycle 7"
## Summary

 - BSQ requested: 429.84

## Contributions delivered

### Bisq desktop in Simplified Chinese
95 words translated
5598 words reviewed

### Bisq website in Simplified Chinese
255 words translated
2557 words reviewed

### Bisq subtitles in Simplified Chinese
847 words reviewed

### Translation work summary (429.84 BSQ)
Simplified Chinese (Chinese Mandarin) is one of the [core languages](h

[2019-10-29 01:03] wdljt6 opened #391 "For Cycle 7"
## Summary

 - BSQ requested: 1,003.15

## Contributions delivered

### Bisq desktop in Simplified Chinese
5453 words translated
1518 words edited

### Bisq website in Simplified Chinese
2302 words translated
735 words edited

### Bisq subtitles in Simplified Chinese
847 words translated
100 words edited

### Translation work summary (866.46 BSQ)
Simplified Chinese (Chinese Mandarin) is one of the

[2019-11-01 09:11] freimair opened #392 "For Cycle 7"
## Summary

 - BSQ requested: 3780 USD / [0.79](https://github.com/bisq-network/compensation/issues/385) = 4785 BSQ

## Contributions delivered

- Monitor update, troubleshooting after 1.2 release and maintenance (includes running costs for monitoring server) (420 USD)

- Github issues housekeeping (tagging, good first issues, and stuff) (810 USD)
- PR reviews (2400 USD)
  - https://github.com/bis

[2019-11-01 12:07] MwithM commented on #392
According to #385, you could ask for a few more BSQ.

[2019-11-01 14:53] freimair commented on #392
ah yes thanks for the hint! and my bad, I forgot to add the [WIP] to the title. Will probably change the values to USD and then do the conversion in one line.

[2019-11-03 09:31] blabno opened #393 "For Cycle 7"
## Summary

 - BSQ requested: 1050

## Contributions delivered

* Assets review: YANG, Ergo, VFC, VARIUS, MSR, XSL, XND, BitcoinV, ZOD, CTSC, Faircoin, uPlexa, XND, ANI (200 BSQ)
* meetups:
  - Present Bisq at Krakow-Bitcoin-Meetup https://www.meetup.com/pl-PL/Krakow-Bitcoin-Meetup/events/264497027 (250 BSQ)
  - Present Bisq at Wroclaw Blockchain Meetup https://www.meetup.com/pl-PL/Wroclaw-Blockch

[2019-11-03 09:40] blabno opened #394 "For Cycle 7"
## Summary

 - BSQ requested: 10000

## Contributions delivered

* Minimal API https://github.com/bisq-network/incubator-bisq-api/pull/2
* Add Docker support https://github.com/bisq-network/incubator-bisq-api/pull/12

[2019-11-08 11:04] beingindot opened #395 "For Cycle 7"
## Summary

 - BSQ requested: 980 BSQ

## Contributions delivered

**V1.2.0 release testing:**
Wallet recovery - https://bisq.ontestpad.com/script/109/report (200 BSQ)
Funds managment - https://bisq.ontestpad.com/script/110/report (220 BSQ)
National currency accounts - https://bisq.ontestpad.com/script/106/report (280 BSQ)
Mediation/support process - https://bisq.ontestpad.com/script/113/report (2

[2019-11-08 13:05] ripcurlx commented on #395
Hi @beingindot! Thanks for joining the testing efforts for our v1.2 release. Here's the link to the public test report: https://bisq.ontestpad.com/project/1/folder/f40/report/?auth=858ad7bc21f45d47f0f789c32ad6d62d

As you tested a couple of test scripts could you please split up your requested amount for each test script to make it easier to compare for stakeholders with other compensation request

[2019-11-08 16:58] beingindot commented on #395
@ripcurlx I couldn't get any earlier references. so I estimated/split in my view. please correct if need be.

[2019-11-08 21:08] FKrauss commented on #385
does that adjust translation BSQ values too?  Last value I saw was `0.075 BSQ` per word and half that for review. So it would be `0.075/0.79 = 0.095` BSQ per word. Is that correct?

[2019-11-09 11:17] Oscar65 opened #396 "For Cycle 7"
## Summary

 - BSQ requested: 374.85

## Contributions delivered

### Bisq desktop in Spanish

3701 words translated

![201910112218 WordsTranslated](https://user-images.githubusercontent.com/26004574/68527644-71512400-02e9-11ea-978d-ce6592a643b4.png)

1059 words reviewed

![Captura de pantalla de 2019-10-24 07-17-11](https://user-images.githubusercontent.com/26004574/68527638-68605280-02e9-11ea-9

[2019-11-10 13:59] Emzy opened #397 "For Cycle 7"
## Summary

 - BSQ requested: 886 (700 USD / 0.79)

## Contributions delivered

None.

## Contributions in progress

None.

## Roles performed

- Bisq Pricenode Operator at bisq-network/roles#14
- Bisq Seednode Operator at bisq-network/roles#15
- Bisq Bitcoin Node Operator at bisq-network/roles#67
- Bisq Mailman Operator at bisq-network/roles#26
- Markets Website+API Operator at bisq-network/roles