[2021-11-17 09:55] ghost commented on #944
## Info
Read BSQ amount from summary: 5398.5
Read USD amount from summary: 3050
Read BSQ rate from summary: 1.77
Parsed lineitem: {"team":"ops","amount":300}
Parsed lineitem: {"team":"ops","amount":1750}
Parsed lineitem: {"team":"ops","amount":700}
Parsed lineitem: {"team":"ops","amount":300}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 5398.50 BSQ
   - Cal

[2021-11-17 10:35] MwithM opened #945 "For Cycle 30"
## Summary

- **BSQ requested**: **`480.23`**
- USD requested: 850 USD
- BSQ rate: 1.77 USD per BSQ
- Previous compensation request (if applicable): #932

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 250 | https://github.com/bisq-network/roles/issues/95#issuecomment-971409887 |  |
| Transfiex Admin | *Growth | 0 |

[2021-11-17 10:38] leo816 commented on #945
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-11-17 10:41] MwithM commented on #944
The title should be "For Cycle 30", the cycle you are going to submit the compensation.
Specifying the cycles that you are requesting the compensation for at contributions delivered should be enough. Please submit your compensations every cycle to keep them up to date.

[2021-11-17 12:16] Emzy commented on #944
You must request for compensation every cycle!
Do you have a good reason for it?
If not please do future compensation requests regularly as all the others do.

[2021-11-17 12:18] Emzy commented on #944
As ops team lead I approve this compensation request for ops.

[2021-11-17 19:22] chimp1984 opened #946 "For Cycle 30"
## Summary

- **BSQ requested**: **`12062.15`**
- USD requested: 21350
- BSQ rate: 1.77 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Improve fee handling | dev | 500 | https://github.com/bisq-network/bisq/pull/5826 |  |
| Improve offer validation | dev | 100 | https://github.com/bisq-network/bisq/pull/5825 |  |
| Fix reorg handlin

[2021-11-17 20:16] devinbileck commented on #943
Tx ID 952ede56dd242994d5a431c3ffcf5fb0379e7dca515c9f4c39a104e93380f5bd

[2021-11-17 20:19] Emzy commented on #940
TXID: 76fbd8471950cefbb9a6cf812ca746c2766a4aba1842e2dafa7e5c1bd975acb1

[2021-11-17 20:23] Emzy commented on #944
You calculations are wrong. 50*7 <> 300. You can still fix it.

[2021-11-17 23:24] leo816 opened #947 "For Cycle 30"
## Summary

- **BSQ requested**: **`[1173.44]`**
- USD requested: [2077]
- BSQ rate: [1.77] USD per BSQ
- Previous compensation request (if applicable): #935

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-972366234 |  |
| Support Agent | Support | 500 |http

[2021-11-18 02:11] pazza83 opened #948 "For Cycle 30"
## Summary

- **BSQ requested**: **`[918]`**
- USD requested: [1625]
- BSQ rate: [1.77 USD/BSQ] USD per BSQ as per #937
- Previous compensation request: #925

## Contributions delivered for Cycle 30

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | *Support | 1000 | https://github.com/bisq-network/roles/issues/83#issuecomment-972467132 | Another busy cycle, First t

[2021-11-18 03:43] ghost opened #949 "For Cycle 30"
## Summary

- **BSQ requested**: **`1158`**
- USD requested: 2050
- BSQ rate: 1.77 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/926

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Option to not repeat popup message of locked up funds from failed trade | dev | 50 | https://github

[2021-11-18 08:11] ripcurlx commented on #949
As dev team lead I approve this compensation request. @jmacxx As always you undervalue your work.

[2021-11-18 08:14] ripcurlx commented on #947
As dev team lead I approve this compensation request.

[2021-11-18 08:16] ripcurlx commented on #947
@leo816 You are missing your report for the support agent role. Your link is still pointing to your Cycle 29 report (https://github.com/bisq-network/roles/issues/64#issuecomment-950727065).

[2021-11-18 08:17] ripcurlx commented on #947
Same for Support Team Lead role https://github.com/bisq-network/roles/issues/102#issuecomment-950745933. Although you are not asking for compensation it would be great to get a Cycle 30 report there as well. Thanks!

[2021-11-18 09:25] MwithM commented on #947
Previous compensation request # is missing as well.

[2021-11-18 09:28] ripcurlx commented on #946
My dev [Team Lead](https://bisq.wiki/Compensation#Team_Lead) review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-11-18 11:50] refund-agent2 opened #950 "For Cycle 30"
## Summary

- **BSQ requested**: **`791.54`**
- USD requested: 1401.03
- BSQ rate: 1.77 USD per BSQ
- Previous compensation request (if applicable): #933

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Payouts | *Support | 1401.03 | https://github.com/bisq-network/roles/issues/93#issuecomment-972791823 |  |

## Contributions in progress

[2021-11-18 11:58] chimp1984 commented on #949
@jmacxx I think your request is too low.

[2021-11-18 11:59] chimp1984 commented on #948
@pazza83 I think your request is too low. Specially for the Comptroller role.

[2021-11-18 12:14] leo816 commented on #947
@ripcurlx I added the last fee reimbursement to the compensation request which increased the amount by 155 usd.

[2021-11-18 12:54] ghost commented on #949
Thanks!  I'll leave this CR as-is, but appreciate the feedback!  :stuck_out_tongue_winking_eye:

[2021-11-18 20:01] m52go commented on #945
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth and admin :+1:

[2021-11-18 20:02] m52go commented on #936
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth :+1:

[2021-11-18 20:02] m52go commented on #942
[Approved](https://bisq.wiki/Compensation#Team_Lead) for admin :+1:

[2021-11-18 20:03] leo816 commented on #950
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-11-18 20:04] leo816 commented on #949
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-11-18 20:04] leo816 commented on #948
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-11-18 20:07] cbeams commented on #942
txid: `f21fe8048879b31396f236cf321a4118c1df6a5c71cac2a6180c5aaa8d021d14`

[2021-11-19 02:52] pazza83 commented on #948
Thanks for the comments, It is only currently taking me a max of 3 hours to complete a cycle report.

More work would be involved in checking the donation / fee addresses but I have not done that yet. There will be a discussion on the Comptroller role soon with relation to https://bisq.network/dashboard/ so it can be decided how to proceed going forwards.

[2021-11-19 03:11] pazza83 commented on #948
tx id: 2836e38dbd59e8825bd8e4952bb462277f4c8e3b9d3cecd1d92b162948f07a6e

[2021-11-19 05:38] ghost commented on #949
23dc8fe6fda2a4a0daa25a7857ad061d1fa7c92ba2aefa04b11275e88f0620ec

[2021-11-19 09:53] chimp1984 commented on #946
Tx: cf34270a5fafb5315c71d5787b414e77ae5983e87e4b96917bcc036012f8dbab

[2021-11-19 10:36] alexej996 opened #951 "For Cycle 30"
## Summary
This is a compensation request for work done in Cycle 29.

Note: I didn't make it last cycle to ask for compensation, so I have 2 compesation requests this cycle. This is the second one, for work done last cycle.

- **BSQ requested** : **141**
- USD requested: **250**
- BSQ rate: **1.77** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/93

[2021-11-19 10:40] Emzy commented on #936
Ok, this is for work in Cycle 28 and the other one #951 is the work from Cycle 29?

[2021-11-19 10:47] alexej996 commented on #936
Yes, sorry for confusion.

Sometimes motnly reports for the forum doesn't fit with the proposal phase, so I just leave it for the next cycle.

[2021-11-19 10:50] Emzy commented on #951
As ops team lead I approve this compensation request for ops.

[2021-11-19 14:47] alexej996 commented on #951
DAO txid: **29089f85639d604381af91ee2272c04c37be369246b5e6ab18d4c258752bfa9d**

[2021-11-19 15:28] MwithM commented on #945
TXID: `bce84106f2f31a02d98f8bd069f7e3b17ee2443fd1dfe1491759c06d5f1761e6`

[2021-11-20 09:04] sqrrm opened #952 "For Cycle 30"
## Summary

- **BSQ requested**: **`102`**
- USD requested: 180
- BSQ rate: 1.77 USD per BSQ
- Previous compensation request (if applicable): #930

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Bisq desktop maintainer | dev* | 0 |  |  |
|Bitcoin node maintainer | dev* | 50 | https://github.com/bisq-network/roles/issues/66#issuecomment-974620290

[2021-11-20 11:34] refund-agent2 commented on #950
54684954b989b160ac57e55e030878dd8b43c94c7c9d856e892a4c319ac903e1

[2021-11-20 18:29] sqrrm commented on #941
I approve the work I have reviewed and been involved with, perhaps @chimp1984 could approve the other work.

[2021-11-20 20:26] ripcurlx commented on #939
TXID: `23a9594485b31e792c2c557f685d6b62735f640edf5d74a7284bf1826f626629`

[2021-11-20 22:20] chimp1984 commented on #941
ACK

[2021-11-20 22:40] ghubstan commented on #941
e9f9622f275f30a86ec59a3d4abf3a1ac5d105df5e065aba4f8d0d248301e1c6

[2021-11-21 17:28] burningman3 opened #953 "For Cycle 30"
## Summary

- **BSQ requested**: **`[564.97]`**
- USD requested: [1000]
- BSQ rate: [1.77] USD per BSQ
- Previous compensation request (if applicable): #934

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issueco

[2021-11-21 20:28] ripcurlx commented on #952
As dev team lead I approve this compensation request.

[2021-11-21 23:03] Emzy commented on #952
As ops team lead I approve this compensation request for ops.

[2021-11-22 10:51] leo816 commented on #947
tx id: aa4fe9bd3193a256330d6a4561e992aa0faa2887bc05bcdfd820893556b67ead

[2021-11-22 10:52] leo816 commented on #953
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-11-23 23:27] wiz opened #954 "For Cycle 30"
## Summary

* **BSQ requested**: **`790`**
* USD requested: 1400
* BSQ rate: 1.77 USD per BSQ
* Previous compensation request (if applicable): #927

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin Node Operator

[2021-11-23 23:30] wiz commented on #954
4f552a601b181c1d013b66a4fbef634efb14228cd40ff4f52979a148a303c9d2

[2021-11-24 09:10] Emzy commented on #954
As ops team lead I approve this compensation request for ops.

[2021-11-24 11:34] MwithM commented on #952
Please confirm if this is the correct txid: 1c9c39019541cd3870e1368edcee67ef5386992955e8f2dd15093b42d42e7fe3

[2021-11-24 11:34] MwithM commented on #953
Is this the txid? 27bf9037e7aa8ef5e718b90cea18f4ad86aa1e6637987eefd3e1735fe240a42c

[2021-11-24 11:36] MwithM commented on #944
Is this the correct txid? ae1907c25702b46dbf4f771b035444f9a84da1bee153c3b6b43b0ecd3fd749a1

[2021-11-25 09:19] ripcurlx commented on #936
I think for the future to prevent confusion it would be better to create one compound compensation request and just add the note which items are for which cycle in the table above.

[2021-11-25 14:48] BtcContributor opened #955 "For Cycle 31"
Hi all,
tenth cycle for me!

## Summary

- **BSQ requested**: **`781.25`**
- USD requested: 1500
- BSQ rate: 1.92 USD per BSQ
- Previous compensation request (if applicable): #923

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| L1 Support Agent (Cycle 30 & Cycle 31) | support | 1000 | | https://github.com/bisq-network/roles/issues/64#issuecommen

[2021-11-27 13:35] sqrrm commented on #952
Tx: 1c9c39019541cd3870e1368edcee67ef5386992955e8f2dd15093b42d42e7fe3

[2021-12-02 08:27] ghost commented on #936
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|112.80|200.00|
|growth|28.20|50.00|

Total Issuance: 141.00 BSQ (equivalent to: 250.00 USD)

[2021-12-02 08:28] MwithM commented on #936
Closed as accepted

[2021-12-02 08:28] #936 closed, assigned to nobody

[2021-12-02 08:28] ghost commented on #943
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|593.22|1050.00|

Total Issuance: 593.22 BSQ (equivalent to: 1050.00 USD)

[2021-12-02 08:28] MwithM commented on #943
Closed as accepted

[2021-12-02 08:28] #943 closed, assigned to Emzy

[2021-12-02 08:29] ghost commented on #940
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|677.76|1200.00|
|dev|28.24|50.00|

Total Issuance: 706.00 BSQ (equivalent to: 1250.00 USD)

[2021-12-02 08:29] MwithM commented on #940
Closed as accepted

[2021-12-02 08:29] #940 closed, assigned to ripcurlx

[2021-12-02 08:29] ghost commented on #951
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|112.80|200.00|
|growth|28.20|50.00|

Total Issuance: 141.00 BSQ (equivalent to: 250.00 USD)

[2021-12-02 08:29] MwithM commented on #951
Closed as accepted

[2021-12-02 08:29] #951 closed, assigned to nobody

[2021-12-02 08:29] ghost commented on #946
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|12062.15|21350.00|

Total Issuance: 12062.15 BSQ (equivalent to: 21350.00 USD)

[2021-12-02 08:29] MwithM commented on #946
Closed as accepted

[2021-12-02 08:29] #946 closed, assigned to ripcurlx

[2021-12-02 08:30] MwithM commented on #949
Closed as accepted

[2021-12-02 08:30] #949 closed, assigned to ripcurlx, leo816

[2021-12-02 08:40] ghost commented on #948
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|889.75|1575.00|
|admin|28.25|50.00|

Total Issuance: 918.00 BSQ (equivalent to: 1625.00 USD)

[2021-12-02 08:40] MwithM commented on #948
Closed as accepted

[2021-12-02 08:40] #948 closed, assigned to leo816

[2021-12-02 08:40] ghost commented on #942
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|28.25|50.00|

Total Issuance: 28.25 BSQ (equivalent to: 50.00 USD)

[2021-12-02 08:40] MwithM commented on #942
Closed as accepted

[2021-12-02 08:40] #942 closed, assigned to m52go

[2021-12-02 08:40] ghost commented on #941
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4180.80|7400.00|

Total Issuance: 4180.80 BSQ (equivalent to: 7400.00 USD)

[2021-12-02 08:40] MwithM commented on #941
Closed as accepted

[2021-12-02 08:40] #941 closed, assigned to ripcurlx, sqrrm

[2021-12-02 08:41] ghost commented on #939
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|3452.27|6112.00|
|ops|84.73|150.00|

Total Issuance: 3537.00 BSQ (equivalent to: 6262.00 USD)

[2021-12-02 08:41] MwithM commented on #939
Closed as accepted

[2021-12-02 08:41] #939 closed, assigned to sqrrm

[2021-12-02 08:41] ghost commented on #950
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|NaN|1401.03|

Total Issuance: NaN BSQ (equivalent to: NaN USD)

[2021-12-02 08:42] MwithM commented on #950
Closed as accepted

[2021-12-02 08:42] #950 closed, assigned to leo816

[2021-12-02 08:43] ghost commented on #947
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1173.44|2077.00|

Total Issuance: 1173.44 BSQ (equivalent to: 2077.00 USD)

[2021-12-02 08:43] MwithM commented on #947
Closed as accepted

[2021-12-02 08:43] #947 closed, assigned to ripcurlx

[2021-12-02 08:43] ghost commented on #945
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|141.24|250.00|
|support|282.49|500.00|
|admin|56.50|100.00|

Total Issuance: 480.23 BSQ (equivalent to: 850.00 USD)

[2021-12-02 08:43] MwithM commented on #945
Closed as accepted

[2021-12-02 08:43] #945 closed, assigned to m52go, leo816

[2021-12-02 08:43] ghost commented on #952
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|28.33|50.00|
|ops|73.67|130.00|

Total Issuance: 102.00 BSQ (equivalent to: 180.00 USD)

[2021-12-02 08:44] MwithM commented on #952
Closed as accepted

[2021-12-02 08:44] #952 closed, assigned to ripcurlx, Emzy

[2021-12-02 08:44] ghost commented on #953
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|564.97|1000.00|

Total Issuance: 564.97 BSQ (equivalent to: 1000.00 USD)

[2021-12-02 08:44] MwithM commented on #953
Closed as accepted

[2021-12-02 08:44] #953 closed, assigned to leo816

[2021-12-02 08:44] ghost commented on #954
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|790.00|1400.00|

Total Issuance: 790.00 BSQ (equivalent to: 1400.00 USD)

[2021-12-02 08:44] MwithM commented on #954
Closed as accepted

[2021-12-02 08:44] #954 closed, assigned to Emzy

[2021-12-02 08:44] ghost commented on #944
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1723.00|3050.00|

Total Issuance: 1723.00 BSQ (equivalent to: 3050.00 USD)

[2021-12-02 08:44] MwithM commented on #944
Closed as accepted

[2021-12-02 08:44] #944 closed, assigned to Emzy

[2021-12-02 08:45] MwithM commented on #937
Closed as Cycle 30 finalized.

[2021-12-02 08:45] #937 closed, assigned to nobody

[2021-12-02 08:46] MwithM commented on #938
Closed as Cycle 30 finalized

[2021-12-02 08:46] #938 closed, assigned to MwithM

[2021-12-02 08:47] MwithM opened #956 "BSQ rate for Cycle 31 is 1.92USD per BSQ"
The recommended rate to be used for compensation requests on cycle 31 is **1.92USD/BSQ.**

![imagen](https://user-images.githubusercontent.com/50149324/144388291-a72a38bd-8171-4907-8c84-364f7e9ed6b1.png)

Rate for last cycle: #937
More info about the Compensation process at https://bisq.wiki/Compensation

[2021-12-02 08:52] MwithM opened #957 "Cycle 31 deadline is December 19th"
The deadline for submitting compensations requests for review is **December 19th**.

More details at: https://github.com/bisq-network/compensation/issues
[Calendar](https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe)

[2021-12-02 08:52] ghost commented on #957
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2021-12-04 00:35] ghost commented on #950
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|791.54|1401.03|

Total Issuance: 791.54 BSQ (equivalent to: 1401.03 USD)

[2021-12-09 08:42] opticbit opened #958 "For Cycle 31"
## Summary

- **BSQ requested**: **`1041`**
- BSQ address: Bbc1qkxvz0yatqfkv60xhveqfht823d23efkst2fk30
- USD requested: 2000.00
- BSQ rate: 1.92 USD per BSQ

## Contributions delivered

2.  Growth | $2000 | | to Taxi Ads Las Vegas for 25 trunk signs from Decmber 6 2021 to Jan 2 2022 with graphic created

Placed ads on taxis in Las Vegas.

1 5991 Whittlesea-Bell Transportation
2 5886 Whittlesea-Bel

[2021-12-16 16:07] MwithM commented on #957
3 days left for the deadline. Please submit your proposals by then.

[2021-12-17 06:46] devinbileck opened #959 "For Cycle 31"
## Summary

- **BSQ requested**: **`546.88`**
- USD requested: 1050
- BSQ rate: 1.92 USD per BSQ
- Previous compensation request (if applicable): #943

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-996478145 | 3 nodes
| Seed node operator | ops* |

[2021-12-17 11:23] Emzy opened #960 "For Cycle 31"
## Summary

- **BSQ requested**: **`625`**
- USD requested: 1200
- BSQ rate: 1.92 USD per BSQ
- Previous compensation request (if applicable): #940

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 4* Seed node operator | ops* | 400 | bisq-network/roles#15 | 1 old node (Onion V2)

[2021-12-17 15:34] ghubstan opened #961 "For Cycle 31"
## Summary

- **BSQ requested**: **`4869.79`**
- USD requested: 9350
- BSQ rate: 1.92 USD per BSQ
- Previous compensation request (if applicable): #941

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|	Set gradle java src & target compat = VERSION_11	|	dev	|	100	|	https://github.com/bisq-network/bisq/pull/5860	|	merged	|
|	API daemon 'getoffer' &

[2021-12-17 16:38] sqrrm opened #962 "For Cycle 31"
## Summary

- **BSQ requested**: **`28823`**
- USD requested: 55340
- BSQ rate: 1.92 USD per BSQ
- Previous compensation request (if applicable): #952

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ swaps | dev | 55000 |  | This has been in progress on and off over 18 months, including major refactoring of offers, trade protocol, bitcoinj up

[2021-12-18 09:23] BtcContributor commented on #955
**TxID:** 32d19794513f517d5b5c301d019ca576e25353c5790389aaa744e6d077a76b34

[2021-12-18 10:47] MwithM commented on #955
You can submit your compensation request when you think it's ready for the DAO to vote, but it's much better to wait for team lead's approval.
https://bisq.wiki/Making_a_compensation_request#Submit_your_GitHub_issue_and_address_feedback

[2021-12-18 15:25] leo816 commented on #955
On your report you should create two separate rows for each cycle and ideally, two separate reports. My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request.

[2021-12-18 15:51] Emzy commented on #962
As ops team lead I approve this compensation request for ops.

[2021-12-18 15:52] Emzy commented on #959
As ops team lead I approve this compensation request for ops.

[2021-12-19 06:28] devinbileck commented on #959
773185a3b5b23ac9b153b15ffa30b2def06d91a3bb6d8b07cb56fb105f0b90f6

[2021-12-19 10:44] refund-agent2 opened #963 "For Cycle 31"
## Summary

- **BSQ requested**: **`1302`**
- USD requested: 2499.83
- BSQ rate:  1.92
- Previous compensation request (if applicable): #950

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Refunds | *Support | 2499.83 | https://github.com/bisq-network/roles/issues/93#issuecomment-997368810 |  |

## Contributions in progress

[2021-12-19 18:42] ghost commented on #958
## Info
Read BSQ amount from summary: 1041
Read USD amount from summary: 2000
Read BSQ rate from summary: 1.92

## Errors
Unknown team specified: first
Invalid amount specified: item
Tableformat: request lineitem #1 did not pass validation.
No compensation lineitems found.

[2021-12-19 18:44] ghost commented on #958
## Info
Read BSQ amount from summary: 1041
Read USD amount from summary: 2000
Read BSQ rate from summary: 1.92
Parsed lineitem: {"team":"growth","amount":2000}

## Errors
Tableformat: request lineitem #2 does not have the requisite number of fields.

[2021-12-19 18:46] ghost commented on #958
## Info
Read BSQ amount from summary: 1041
Read USD amount from summary: 2000
Read BSQ rate from summary: 1.92
Parsed lineitem: {"team":"growth","amount":2000}

## Errors
Tableformat: request lineitem #2 does not have the requisite number of fields.

[2021-12-19 18:49] ghost commented on #958
## Info
Read BSQ amount from summary: 1041106082323230
Read USD amount from summary: 2000
Read BSQ rate from summary: 1.92
Parsed lineitem: {"team":"growth","amount":2000}

## Errors
Tableformat: request lineitem #2 does not have the requisite number of fields.
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 1041106082323230.00 BSQ
   - Calculated total: 1041.67 BSQ

[2021-12-19 18:51] ghost commented on #958
## Info
Read BSQ amount from summary: 1041106082323230
Read USD amount from summary: 2000
Read BSQ rate from summary: 1.92
Parsed lineitem: {"team":"growth","amount":2000}

## Errors
Tableformat: request lineitem #2 does not have the requisite number of fields.
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 1041106082323230.00 BSQ
   - Calculated total: 1041.67 BSQ

[2021-12-19 18:52] ghost commented on #958
## Info
Read BSQ amount from summary: 1041
Read USD amount from summary: 2000
Read BSQ rate from summary: 1.92
Parsed lineitem: {"team":"growth","amount":2000}

## Errors
Tableformat: request lineitem #2 does not have the requisite number of fields.

[2021-12-19 18:54] ghost commented on #958
## Info
Read BSQ amount from summary: 1041
Read USD amount from summary: 2000
Read BSQ rate from summary: 1.92
Parsed lineitem: {"team":"growth","amount":2000}

## Errors
Tableformat: request lineitem #2 does not have the requisite number of fields.

[2021-12-19 18:54] ghost commented on #958
## Info
Read BSQ amount from summary: 1041
Read USD amount from summary: 2000
Read BSQ rate from summary: 1.92
Parsed lineitem: {"team":"growth","amount":2000}

## Errors
Tableformat: request lineitem #2 does not have the requisite number of fields.

[2021-12-19 18:57] ghost commented on #958
## Info
Read BSQ amount from summary: 1041
Read USD amount from summary: 2000
Read BSQ rate from summary: 1.92
Parsed lineitem: {"team":"growth","amount":2000}

## Errors
Tableformat: request lineitem #2 does not have the requisite number of fields.

[2021-12-19 18:58] cbeams opened #964 "For Cycle 31"
## Summary

- **BSQ requested**: 546.88
- USD requested: 1050
- BSQ rate: [1.92](https://github.com/bisq-network/compensation/issues/956) USD per BSQ
- Previous compensation request (if applicable): #942

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 | https://github.com/bisq-network/roles/issues/18#issuecomment-99744316

[2021-12-19 19:03] cbeams commented on #964
@ripcurlx, please review/approve for dev, thanks.

[2021-12-19 19:21] ghost commented on #958
## Info
Read BSQ amount from summary: 1041
Read USD amount from summary: 2000
Read BSQ rate from summary: 1.92
Parsed lineitem: {"team":"growth","amount":2000}

## Errors
Tableformat: request lineitem #2 does not have the requisite number of fields.

[2021-12-19 19:23] ghost commented on #958
## Info
Read BSQ amount from summary: 1041
Read USD amount from summary: 2000
Read BSQ rate from summary: 1.92
Parsed lineitem: {"team":"growth","amount":2000}

## Errors
Tableformat: request lineitem #2 does not have the requisite number of fields.

[2021-12-20 07:11] cbeams commented on #962
Congrats on shipping BSQ swap support! They're a pleasure to use and it's great to see how quickly they've been taken up.

[2021-12-20 07:33] cbeams commented on #958
Cool effort, @opticbit. Do you have any way of measuring engagement with these ads? Any way of knowing whether they were worth the effort, worth repeating, etc?

[2021-12-20 08:18] ripcurlx commented on #962
As dev team lead I approve this compensation request for dev, please submit your CR to the DAO and post the transaction ID. Thanks!

[2021-12-20 08:19] MwithM opened #965 "For Cycle 31"
## Summary

- **BSQ requested**: **`468.75`**
- USD requested: 900 USD
- BSQ rate: 1.92 USD per BSQ
- Previous compensation request (if applicable): #945

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 300 | https://github.com/bisq-network/roles/issues/95#issuecomment-997684807 |  |
| Transfiex Admin | *Growth | 0 |

[2021-12-20 08:21] ripcurlx commented on #964
As dev team lead I approve this compensation request for dev.

[2021-12-20 08:35] ripcurlx commented on #955
Here is the test report for v1.8.0: https://bisq.ontestpad.com/project/1/folder/f145/report/?auth=d2df549b5607345e88dc6dde920f9a09

As dev team lead I approve this compensation request for dev.

[2021-12-20 08:36] ripcurlx commented on #961
As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting and post the transaction ID. Thanks!

[2021-12-20 08:49] MwithM commented on #958
As a rushed, enthusiastic project, this one lacks of thought, debate and a pre-approved budget.
I don't know if 2k for this is cheap or expensive, but I like the idea as an experiment and if you can provide the ticket/bank invoice to someone who acknowledges that they're ok, I will vote in favour of this compensation request.

[2021-12-20 09:00] ripcurlx opened #966 "For Cycle 31"
## Summary

- **BSQ requested**: **`3705`**
- USD requested: 7115
- BSQ rate: 1.92 USD per BSQ
- Previous compensation request (if applicable): #939

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev* | 2980 | https://github.com/bisq-network/roles/issues/63#issuecomment-997729673 |  |
| Bitcoin Fullnode Operator | ops*

[2021-12-20 09:19] opticbit commented on #958
Only measurement I can think of is someone meeting or contacting me through one of the F2F offers, and telling me they saw the ad.

Other trades not much of a way to measure effectiveness.

Check image was in Keybase #compensation for 6 hrs with account info blurred.

[2021-12-20 11:32] alexej996 opened #967 "For Cycle 31"
## Summary
This is a compensation request for work done in Cycle 30.

Note: I just saw now that there is a deadline for submiting compensation requests for this cycle. I assume the procedure here is just to move it for the next cycle. I will leave it here as that, but if someone has some better suggestion let me know.

- **BSQ requested** : **130**
- USD requested: **250**
- BSQ rate: **1.92** USD

[2021-12-20 11:38] Emzy commented on #966
As ops team lead I approve this compensation request for ops.

[2021-12-20 11:39] Emzy commented on #967
As ops team lead I approve this compensation request for ops.

[2021-12-20 14:23] ghost opened #968 "For Cycle 31"
## Summary

- **BSQ requested**: **`833.33`**
- USD requested: 1600
- BSQ rate: 1.92 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/949

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Add penalty calculation to dispute agent UI | dev | 450 | https://github.com/bisq-network/bisq/pu

[2021-12-20 16:20] MwithM commented on #967
I suppose you want to get this proposal accepted on Cycle 31. Please update the title and submit the proposal txid.

[2021-12-20 16:42] leo816 commented on #965
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-12-20 16:44] leo816 commented on #968
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-12-20 19:46] ghubstan commented on #961
2804a6ae1b5fbce9da4e64bff4dfa7861bdd521d0bdec9c2e3e16e3800ce4fe3

[2021-12-20 20:54] stejbac opened #969 "For Cycle 31"
## Summary

- **BSQ requested**: **4557.29**
- USD requested: 8750
- BSQ rate: 1.92 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/793

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Implement Segwit for BSQ | dev | 6500 | https://github.com/bisq-network/bisq/pull/5000 | All BSQ S

[2021-12-21 07:46] alexej996 commented on #967
Ok, the deadline on the 19th confused me a bit.

[2021-12-21 07:47] alexej996 commented on #967
DAO txid: **1e50014a3bb19205f7974eadb9701ee1c9530492ad21689de871c4abdc26468d**

[2021-12-21 07:50] cbeams commented on #958
So, like @MwithM, I'm happy to approve this as an experiment and to see how something goes, but I think similar future efforts would need some kind of measurement mechanism in place to gauge effectiveness.

[2021-12-21 07:53] cbeams commented on #964
txid: `528513d60616e5d4068a83f083ccdd3ff34d0b5cfce7b781482ada1b178e19b5`

[2021-12-21 08:26] ripcurlx commented on #969
As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting and post your transaction ID here afterwards. Thanks!

[2021-12-21 08:27] ripcurlx commented on #968
As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting and post your transaction ID here afterwards. Thanks!

[2021-12-21 08:35] ripcurlx commented on #966
TXID: `924a98e6ce4361d1258379b14318f9eff3dd8c955ab380981f9fb8a704238d60`

[2021-12-21 14:22] ghost commented on #968
87c270e442348aed152be0047d7662ff00535adcb4bd1fd0ac1f8a7873f7684a

[2021-12-21 15:19] leo816 opened #970 "For Cycle 31"
## Summary

- **BSQ requested**: **`[947.72]`**
- USD requested: [1819.64]
- BSQ rate: [1.92] USD per BSQ
- Previous compensation request (if applicable): #947

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000  |  https://github.com/bisq-network/roles/issues/83#issuecomment-1000905995 | Mediation tickets have risen with re

[2021-12-22 11:29] stejbac commented on #969
Tx ID: 812a55ff5121848527317e05b9782c659c4c6cd81404acfeccb4aacf524f4b53

[2021-12-22 15:11] burningman3 opened #971 "For Cycle 31"
## Summary

- **BSQ requested**: **`[520.83]`**
- USD requested: [1000]
- BSQ rate: [1.92] USD per BSQ
- Previous compensation request (if applicable): #953

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issueco

[2021-12-22 15:15] burningman3 commented on #971
Tx ID: d0fa206b15c9cef1deee35fca676e9baf102f1400e0cee600eb4368f5bfdccaf

[2021-12-22 19:36] wiz opened #972 "For Cycle 31"
## Summary

* **BSQ requested**: **`729`**
* USD requested: 1400
* BSQ rate: 1.92 USD per BSQ
* Previous compensation request (if applicable): #954

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin Node Operator

[2021-12-22 19:38] Emzy commented on #972
As ops team lead I approve this compensation request for ops.

[2021-12-22 19:40] wiz commented on #972
1d64c2e790a107e25fb02a923c466e018175b9d198f000f42e924f8abb2af3cb

[2021-12-23 10:25] MwithM commented on #965
a3efd9928cc5c8a802b60525d2a922c86601a28bf37bc215d0fad7aaa52f0a55

[2021-12-23 17:43] sqrrm commented on #962
Tx: d2193c4ab0a1e6bc7329aff422b74e152d9e1c5cfff189a21dae8a3202a15eb1

[2021-12-24 04:44] pazza83 opened #973 "For Cycle 31"
## Summary

- **BSQ requested**: **`[1367.18]`**
- USD requested: [2625]
- BSQ rate: [1.92 USD/BSQ] USD per BSQ as per #956
- Previous compensation request: #948

## Contributions delivered for Cycle 31

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | *Support | 1000 | https://github.com/bisq-network/roles/issues/83#issuecomment-1000606843 | Everything is going we

[2021-12-24 11:58] refund-agent2 commented on #963
Proposal sent dfd5f437415935a2e3c31b004998664738d774fb994ce5322c0a00ce5f562624

[2021-12-24 17:34] leo816 commented on #971
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request.

[2021-12-24 17:41] leo816 commented on #973
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-12-24 17:49] pazza83 commented on #973
tx id: d1691e603627292f06f41911d8a78c3632e44f65d3a80156b31c24381fce9de5

[2021-12-24 17:55] leo816 commented on #958
Because we currently have no Growth Team Lead, as Support [Team Lead](https://bisq.wiki/Compensation#Team_Lead) I also agree with Chris and MwithW and approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-12-24 17:57] leo816 commented on #967
Because we currently have no Growth Team Lead, as Support [Team Lead](https://bisq.wiki/Compensation#Team_Lead) my review is complete and I approve this request.

[2021-12-24 17:59] leo816 commented on #973
Because we currently have no Growth Team Lead, as Support [Team Lead](https://bisq.wiki/Compensation#Team_Lead) my review is complete and I approve this request. I've noted your suggestions on payment methods for the next dev meeting.

[2021-12-24 20:13] leo816 commented on #970
tx id: 4f47c515f7f8d302d53306803085f7214dbb11122f1b5f5970d86b72475fb05b

[2021-12-25 04:52] opticbit commented on #958
https://mempool.bisq.services/bisq/tx/fa4df4099908527bfdc023dc2febabed1d8cdd8a63056a3bfea1500c6a471603

I made a mistake requested reimbursement, instead of compensation.  guess i just lose some voting power.

[2021-12-25 05:08] opticbit commented on #958
I'll do $1500 for January out of my pocket too. Its a little late to submit new art. If i get compensated for Decmber I'll see what the teams want to do for February. If anyone wants to do better graphics for February i'm open to it.

Taxi Ads Las Vegas got bought out.  Originally they liked to support local.  haven't heard how things will go with the new company, sounded like they prefer to go wi

[2021-12-25 13:30] mrosseel opened #974 "For Cycle 31"
## Summary

- **BSQ requested**: **`1145`**
- USD requested: 2200
- BSQ rate: 1.92 USD per BSQ
- Previous compensation request (if applicable):  https://github.com/bisq-network/compensation/issues/944

This is a compensation request for cycle 26 - 31 so 6 cycles !

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Pricenode operator | ops* | 300 |

[2021-12-27 08:47] ripcurlx commented on #970
As dev team lead I approve this compensation request.

[2021-12-27 08:57] ripcurlx commented on #960
I approve this compensation request a dev team lead

[2021-12-27 10:17] MwithM commented on #960
Is this the correct TXID?

e750d1b39f87bf5a61421169fc9310bf979e3aa9dc34ddf7272017b38e358dd6

[2021-12-27 17:36] chimp1984 commented on #969
Thanks @stejbac for all your high value contributions. The amounts requests seems very moderate to me. I would not have any problem if you would change more for all your brilliant work!

[2021-12-27 17:37] chimp1984 commented on #968
@jmacxx As always I think you request way too little for all the work you did.

[2021-12-27 20:32] ghubstan commented on #968
What he said.

[2021-12-29 12:20] cbeams commented on #958
Does that mean you would not look for compensation for the effort? If you do plan to request compensation, could you indicate how you plan to measure effectiveness (per my and others' comments above)?

Thanks for your efforts.

[2022-01-02 09:53] MwithM commented on #958
Closed as rejected.

There has not been any public objections against this proposal. I invite those who have voted against it to explain their reasons.

[2022-01-02 09:53] #958 closed, assigned to nobody

[2022-01-02 09:55] MwithM commented on #974
Closed as not submitted.
Please submit a new proposal "For Cycle 32"

[2022-01-02 09:55] #974 closed, assigned to nobody

[2022-01-02 09:57] ghost commented on #973
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|820.31|1575.00|
|admin|26.04|50.00|
|growth|520.83|1000.00|

Total Issuance: 1367.18 BSQ (equivalent to: 2625.00 USD)

[2022-01-02 09:57] MwithM commented on #973
Closed as accepted

[2022-01-02 09:57] #973 closed, assigned to leo816

[2022-01-02 09:58] ghost commented on #972
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|729.00|1400.00|

Total Issuance: 729.00 BSQ (equivalent to: 1400.00 USD)

[2022-01-02 09:58] MwithM commented on #972
Closed as accepted

[2022-01-02 09:58] #972 closed, assigned to Emzy

[2022-01-02 09:58] ghost commented on #971
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|520.83|1000.00|

Total Issuance: 520.83 BSQ (equivalent to: 1000.00 USD)

[2022-01-02 09:58] MwithM commented on #971
Closed as accepted

[2022-01-02 09:58] #971 closed, assigned to leo816

[2022-01-02 09:58] ghost commented on #970
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|947.72|1819.64|

Total Issuance: 947.72 BSQ (equivalent to: 1819.64 USD)

[2022-01-02 09:58] MwithM commented on #970
Closed as accepted

[2022-01-02 09:58] #970 closed, assigned to ripcurlx

[2022-01-02 09:58] ghost commented on #969
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4557.29|8750.00|

Total Issuance: 4557.29 BSQ (equivalent to: 8750.00 USD)

[2022-01-02 09:59] MwithM commented on #969
Closed as accepted

[2022-01-02 09:59] #969 closed, assigned to ripcurlx

[2022-01-02 09:59] ghost commented on #968
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|572.91|1100.00|
|support|260.42|500.00|

Total Issuance: 833.33 BSQ (equivalent to: 1600.00 USD)

[2022-01-02 09:59] MwithM commented on #968
Closed as accepted

[2022-01-02 09:59] #968 closed, assigned to ripcurlx, leo816

[2022-01-02 09:59] ghost commented on #967
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|104.00|200.00|
|growth|26.00|50.00|

Total Issuance: 130.00 BSQ (equivalent to: 250.00 USD)

[2022-01-02 09:59] MwithM commented on #967
Closed as accepted

[2022-01-02 09:59] #967 closed, assigned to Emzy

[2022-01-02 09:59] ghost commented on #966
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|3665.95|7040.00|
|ops|39.05|75.00|

Total Issuance: 3705.00 BSQ (equivalent to: 7115.00 USD)

[2022-01-02 09:59] MwithM commented on #966
Closed as accepted

[2022-01-02 09:59] #966 closed, assigned to sqrrm

[2022-01-02 10:00] ghost commented on #955
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|520.83|1000.00|
|dev|260.42|500.00|

Total Issuance: 781.25 BSQ (equivalent to: 1500.00 USD)

[2022-01-02 10:00] MwithM commented on #955
Closed as accepted

[2022-01-02 10:00] #955 closed, assigned to ripcurlx, leo816

[2022-01-02 10:00] ghost commented on #961
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4869.79|9350.00|

Total Issuance: 4869.79 BSQ (equivalent to: 9350.00 USD)

[2022-01-02 10:00] MwithM commented on #961
Closed as accepted

[2022-01-02 10:00] #961 closed, assigned to ripcurlx

[2022-01-02 10:01] MwithM commented on #960
Closed as accepted

[2022-01-02 10:01] #960 closed, assigned to ripcurlx

[2022-01-02 10:01] ghost commented on #959
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|546.88|1050.00|

Total Issuance: 546.88 BSQ (equivalent to: 1050.00 USD)

[2022-01-02 10:01] MwithM commented on #959
Closed as accepted

[2022-01-02 10:01] #959 closed, assigned to Emzy

[2022-01-02 10:01] ghost commented on #964
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|26.04|50.00|
|dev|520.84|1000.00|

Total Issuance: 546.88 BSQ (equivalent to: 1050.00 USD)

[2022-01-02 10:01] MwithM commented on #964
Closed as accepted

[2022-01-02 10:01] #964 closed, assigned to ripcurlx

[2022-01-02 10:02] ghost commented on #965
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|156.25|300.00|
|support|260.42|500.00|
|admin|52.08|100.00|

Total Issuance: 468.75 BSQ (equivalent to: 900.00 USD)

[2022-01-02 10:02] MwithM commented on #965
Closed as accepted

[2022-01-02 10:02] #965 closed, assigned to leo816

[2022-01-02 10:02] ghost commented on #962
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|28755.29|55210.00|
|ops|67.71|130.00|

Total Issuance: 28823.00 BSQ (equivalent to: 55340.00 USD)

[2022-01-02 10:02] MwithM commented on #962
Closed as accepted

[2022-01-02 10:02] #962 closed, assigned to ripcurlx, Emzy

[2022-01-02 10:02] MwithM commented on #963
Closed as accepted

[2022-01-02 10:02] #963 closed, assigned to leo816

[2022-01-02 10:06] #956 closed, assigned to MwithM

[2022-01-02 10:09] MwithM opened #975 "BSQ rate for Cycle 32 is 1.56USD per BSQ"
The recommended rate to be used for compensation requests on cycle 32 is **1.56 USD/BSQ.**

![imagen](https://user-images.githubusercontent.com/50149324/147872568-6fa57e5b-846f-4501-9383-3eb300d09128.png)

Rate for last cycle: #956
More info about the Compensation process at https://bisq.wiki/Compensation

[2022-01-02 10:20] MwithM opened #976 "Cycle 32 deadline is January 20th"
The deadline for submitting compensations requests for review is **January 20th**.

More details at: https://github.com/bisq-network/compensation/issues
[Calendar](https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe)

[2022-01-02 10:23] #957 closed, assigned to MwithM

[2022-01-15 19:55] ghost opened #977 "For cycle 32"
## Summary

- **BSQ requested**: **`467.94`**
- USD requested: 730
- BSQ rate: 1.56 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/905

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| SEPA Account - editable account name and accepted countries | dev | 400 | https://github.com/bisq-

[2022-01-16 19:02] mrosseel opened #978 "For Cycle 32"
## Summary

- **BSQ requested**: **`1602`**
- USD requested: 2500
- BSQ rate: 1.56 USD per BSQ
- Previous compensation request (if applicable):  https://github.com/bisq-network/compensation/issues/944

This is a compensation request for cycle 26 - 32 so 7 cycles !

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Pricenode operator | ops* | 350 |

[2022-01-17 01:27] chimp1984 opened #979 "For Cycle 32"
## Summary

- **BSQ requested**: **`929.49`**
- USD requested: 1450
- BSQ rate: 1.56 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Add checks for trade statistics | dev | 50 | https://github.com/bisq-network/bisq/pull/5849 |  |
| Improve TradeStatistics validation | dev | 50 | https://github.com/bisq-network/bisq/pull/5853 |  |
| I

[2022-01-17 01:32] chimp1984 opened #980 "For Cycle 32"
## Summary

- **BSQ requested**: **`12820.51`**
- USD requested: 20000
- BSQ rate: 1.56 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Work on Bisq 2 | dev | 20000 | https://github.com/bisq-network/bisq2/pulls?q=is%3Apr+author%3Achimp1984 | https://github.com/bisq-network/projects/issues/51#issuecomment-1013996056 |

## Note:
I have

[2022-01-17 08:48] MwithM commented on #976
Three days left for submitting your compensation requests. Mining difficulty went higher during this Cycle so only 6 days for reviews, proposal phase ends on Jan 26th at 11am UTC.

[2022-01-17 08:56] ripcurlx commented on #979
As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting and post the transaction ID here afterwards.

[2022-01-17 08:56] ripcurlx commented on #980
As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting and post the transaction ID here afterwards.

[2022-01-17 11:49] w0000000t opened #981 "For Cycle 32"
## Summary

- **BSQ requested**: **`339.74`**
- USD requested: 530
- BSQ rate: 1.56 USD per BSQ
- Previous compensation request (if applicable): this is my first CR.

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| L1 Support Agent| Support| 500 | https://github.com/bisq-network/roles/issues/64#issuecomment-1014431635 |  |
| Clarification in `bui

[2022-01-17 16:40] alvasw opened #982 "For Cycle 32"
## Summary

- **BSQ requested**: **`384.62`**
- USD requested: 600
- BSQ rate: 1.56 USD per BSQ
- Previous compensation request (if applicable): None

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Integrate Bitcoind as a wallet backend into Misq | dev | 600 | bisq-network/bisq2#16 | Implement Bitcoin Core as the first wallet backend in Bisq2 (P

[2022-01-17 16:40] ghost commented on #982
## Info
Read BSQ amount from summary: 936
Read USD amount from summary: 600
Read BSQ rate from summary: 1.56
Parsed lineitem: {"team":"dev","amount":600}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":0}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 936.00 BSQ
   - Calculated total: 384.62 BSQ

[2022-01-17 16:48] alvasw commented on #982
Sorry for the inconvenience. I accidentally multiplied the values instead of dividing them.

[2022-01-17 16:49] Emzy commented on #978
As ops team lead I approve this compensation request for ops.

[2022-01-17 18:38] chimp1984 commented on #982
I reviewed bisq-network/bisq2#16 and support the request.

[2022-01-17 20:28] ripcurlx commented on #982
As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-01-18 00:52] devinbileck opened #983 "For Cycle 32"
## Summary

- **BSQ requested**: **`608.97`**
- USD requested: 950
- BSQ rate: 1.56 USD per BSQ
- Previous compensation request (if applicable): #959

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-1014980119 | 3 nodes
| Seed node operator | ops* |

[2022-01-18 08:19] ripcurlx commented on #977
Hi @xyzmaker123 ! I've looked again at the PRs linked to your CR and compared to other CR's I think the USD amounts for it are too high IMO. Could you please adapt them? Thanks!

[2022-01-18 08:23] ripcurlx opened #984 "For Cycle 32"
## Summary

- **BSQ requested**: **`2266`**
- USD requested: 3535
- BSQ rate: 1.56 USD per BSQ
- Previous compensation request (if applicable): #966

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev* | 2160 | https://github.com/bisq-network/roles/issues/63#issuecomment-997729673 |  |
| Bitcoin Fullnode Operator | ops*

[2022-01-18 08:35] MwithM commented on #981
Great job, I would remove the WIP tag unless you really need to add or change something, otherwise the team lead could not review it yet. Weren't you eligible for last Cycle's compensation request?

[2022-01-18 09:59] Emzy commented on #983
As ops team lead I approve this compensation request for ops.

[2022-01-18 15:00] alvasw commented on #982
TxId: `f7a9be458f56de0a4a4507a72b0d47227feae833c94597f789473bad2f1f592e`

[2022-01-18 16:11] chimp1984 commented on #979
Tx ID: 727066bbc1653c970e8a7b08b6b5e5c1ab2c332d47a70d488022554e1394f888

[2022-01-18 16:12] chimp1984 commented on #980
Tx ID: 93b2c45736bb7c098458307c80166de3558184bda23bf8754029ac3b1a8b71c1

[2022-01-18 16:31] Emzy opened #985 "For Cycle 32"
## Summary

- **BSQ requested**: **`705`**
- USD requested: 1100
- BSQ rate: 1.56 USD per BSQ
- Previous compensation request (if applicable): #960

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 3* Seed node operator | ops* | 300 | bisq-network/roles#15 |  |
| Pricenode operat

[2022-01-18 18:42] w0000000t commented on #981
Just finalized the title.
I was told that my very first cycle was an internship and I couldn't open a CR, am I supposed to add cycle 31 in here too now that I am an official L1 Support Agent? I mean I wouldn't complain if I had to 😄

[2022-01-18 19:37] devinbileck commented on #983
001bed949680586bb0216c3ebcd59a6707efe4f6f63dff83ed938964f8a1f5a1

[2022-01-18 23:28] Emzy commented on #985
TXID: 4697b72233a43c36a7536556bbbe3b07d7e5dcb1a1e4b0186887313400d10f3b

[2022-01-19 15:49] ripcurlx commented on #981
As dev team lead I approve this compensation request for dev. Please wait until all your support items are approved as well and submit your CR to the DAO afterwards for voting.

[2022-01-19 18:00] ghost commented on #977
@ripcurlx Thanks for your feedback, I reduced those numbers significantly.

[2022-01-19 19:43] ghubstan opened #986 "For Cycle 32"
## Summary

- **BSQ requested**: **`4070.51`**
- USD requested: 6350
- BSQ rate: 1.56 USD per BSQ
- Previous compensation request (if applicable): #961

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|	 Support and test creation of Swift accounts via API	|	dev	|	750	|	https://github.com/bisq-network/bisq/pull/5852	|	merged	|
|	 API XMR/BTC trading

[2022-01-20 00:33] ghost opened #987 "For Cycle 32"
## Summary

- **BSQ requested**: **`1403.85`**
- USD requested: 2190
- BSQ rate: 1.56 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/968

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Fix fat finger protection in Offer Entry screen | dev | 300 | https://github.com/bisq-network/bi

[2022-01-20 08:36] ripcurlx commented on #987
As dev team lead I approve this compensation request for dev.

[2022-01-20 09:02] ripcurlx commented on #986
As dev team lead I approve this compensation request. Please submit your compensation request to the DAO for voting.

[2022-01-20 09:54] MwithM opened #988 "For Cycle 32"
## Summary

- **BSQ requested**: **`775.64`**
- USD requested: 1210USD
- BSQ rate: 1.56USD per BSQ
- Previous compensation request (if applicable): #965

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 425 | https://github.com/bisq-network/roles/issues/95#issuecomment-1017278560 |  |
| Transifex Admin | *Growth | 0 |

[2022-01-20 09:54] ghost commented on #988
## Info
Read BSQ amount from summary: 641.02
Read USD amount from summary: 1000
Read BSQ rate from summary: 1.56
Parsed lineitem: {"team":"growth","amount":425}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":210}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"admin","amount":75}

## Errors
ERROR: Total USD does not match the sum

[2022-01-20 11:22] leo816 commented on #987
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-01-20 11:23] leo816 commented on #981
@w0000000t First cycle as an intern is not compensated.

My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-01-20 11:24] leo816 commented on #988
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-01-20 13:46] ghubstan commented on #986
17f43716955f9976c6c6548ec210dd93c417a0f3ff3363cd67c42df813e39e48

[2022-01-20 15:33] refund-agent2 opened #989 "For Cycle 32"
## Summary

- **BSQ requested**: **`1252.56`**
- USD requested: 1953.52
- BSQ rate: 1.56 USD per BSQ
- Previous compensation request (if applicable): #963

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Refunds | *Support | 1953.52 | https://github.com/bisq-network/roles/issues/93#issuecomment-1017620944 |  |

## Contributions in progress

[2022-01-20 19:25] w0000000t commented on #981
6288ee0c841b23c1bd089cc68eb84159d577a9c55c62a3d42ac2e91a3435fa6e

[2022-01-21 10:02] MwithM commented on #988
TXID: `a11a517cbde7b1ddaa636ac4fc185d0dbce26e229c8a764be2600903694d7f67`

[2022-01-21 12:56] sqrrm opened #990 "For Cycle 32"
## Summary

- **BSQ requested**: **`115`**
- USD requested: 180
- BSQ rate: 1.56 USD per BSQ
- Previous compensation request (if applicable): #962

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Bisq desktop maintainer | dev* | 0 |  |  |
|Bitcoin node maintainer | dev* | 50 | https://github.com/bisq-network/roles/issues/66#issuecomment-1018482811

[2022-01-21 16:03] ghost commented on #984
## Info
Read BSQ rate from summary: 1.56
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"ops","amount":50}
Parsed lineitem: {"team":"ops","amount":25}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":0}

## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section

[2022-01-21 16:04] ripcurlx commented on #984
I wanted to wait with my CR to get the v1.8.1 release also into it. Sorry about that late submission 😬

[2022-01-21 16:08] ripcurlx commented on #990
As dev team lead I approve this compensation request for dev. Which is pointless, as I just recognized you are not asking for anything dev related :grimacing:

[2022-01-21 16:10] ripcurlx commented on #977
As dev team lead I approve this compensation request for dev. Please submit your compensation request for DAO voting and post the transaction ID here afterwards.

[2022-01-21 16:11] alexej996 opened #991 "For Cycle 32"
## Summary
This is a compensation request for work done in Cycle 31.

- **BSQ requested** : **160**
- USD requested: **250**
- BSQ rate: **1.56** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/967

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bis

[2022-01-21 16:13] ripcurlx commented on #984
TXID: `554430fd48a1e48441523dec793837791f6b2297f0bd51dd5fbd7736e2179bfd`

[2022-01-21 16:27] alexej996 commented on #991
DAO txid: **240e2e6fc535cd73dcd7d6d2c0a6e380fba74a9556cc4ae796a1959ac2916323**

[2022-01-21 17:04] ghost commented on #977
TXID: 401835efe97b333b3e94befbcf672029dd0e847c1cf2b4fb08f945082dc93cae

[2022-01-21 19:35] ghost commented on #987
80968b8a4fdb9bdc28527b8f0ae0c3bf2a9f9dcb1665690778990a92c2b5ebb1

[2022-01-21 20:11] cbeams opened #992 "For Cycle 32"
## Summary

- **BSQ requested**: 192.31
- USD requested: 300
- BSQ rate: [1.56](https://github.com/bisq-network/compensation/issues/975) USD per BSQ
- Previous compensation request (if applicable): #964

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 | https://github.com/bisq-network/roles/issues/18#issuecomment-101882617

[2022-01-21 20:14] cbeams commented on #992
@ripcurlx, please review/approve for dev, thanks.

[2022-01-21 20:27] ripcurlx commented on #992
As dev team lead I approve this compensation request for dev.

[2022-01-21 20:56] leo816 commented on #989
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-01-21 21:01] cbeams commented on #992
txid: `a8cdc65fe6bb8730f5f89f99f779d0469b0a493e1ae570e20eb7afda696a18a9`

[2022-01-21 23:28] Emzy commented on #991
As ops team lead I approve this compensation request for ops.

[2022-01-21 23:29] Emzy commented on #990
As ops team lead I approve this compensation request for ops.

[2022-01-21 23:29] Emzy commented on #984
As ops team lead I approve this compensation request for ops.

[2022-01-22 16:22] pazza83 opened #993 "For Cycle 32"
## Summary

- **BSQ requested**: **`[1,089.74]`**
- USD requested: [1700]
- BSQ rate: [1.56 USD/BSQ] USD per BSQ as per #975
- Previous compensation request: #973

## Contributions delivered for Cycle 31

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | *Support | 1000 | https://github.com/bisq-network/roles/issues/83#issuecomment-1017169203 | Quieter cycle than us

[2022-01-22 16:40] pazza83 commented on #981
Thanks for all the work you are doing with support. The support team has benefited greatly from your input :)

[2022-01-22 16:54] w0000000t commented on #981
you flatter me! Thank you 🙇

[2022-01-23 12:27] refund-agent2 commented on #989
Txid is:
d7a754faef4858342519530c270bf3a068140fe80b9cf786e6fddb53da7d9f80

[2022-01-24 03:24] wiz opened #994 "For Cycle 32"
## Summary

* **BSQ requested**: **`897`**
* USD requested: 1400
* BSQ rate: 1.56 USD per BSQ
* Previous compensation request (if applicable): #972

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin Node Operator

[2022-01-24 09:46] Emzy commented on #994
As ops team lead I approve this compensation request for ops.

[2022-01-24 13:34] burningman3 opened #995 "For Cycle 32"
## Summary

- **BSQ requested**: **`[641.03]`**
- USD requested: [1000]
- BSQ rate: [1.56] USD per BSQ
- Previous compensation request (if applicable): #971

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issueco

[2022-01-24 13:38] burningman3 commented on #995
Tx ID: 6d4f3416d0419e6e3b51303af244c3ee4ad0fec5bc371a57e11e97682ff28529

[2022-01-25 10:57] pazza83 commented on #993
Hi @leo816 please can you review.

I am submitting my tx id in case you do not get the chance to check the above before the cycle closes.

Many thanks

[2022-01-25 11:01] pazza83 commented on #993
tx id: 4a45fdb5af3f08793a08be9fc08bdc6bfa7fa1a3d1faf38bb8d1066fa4b112f4

[2022-01-25 11:01] leo816 commented on #993
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-01-25 11:02] leo816 commented on #995
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request.

[2022-01-25 20:55] sqrrm commented on #990
81a43f80a49cc8d9c7db509e1bce5c0ae247003cc99a9b0a63071e0a1e3d8b13

[2022-01-26 09:21] ripcurlx commented on #985
As dev team lead I approve this compensation request.

[2022-01-26 09:25] MwithM commented on #994
Is 7c34231d1f3022e753619ba5379614b4639e9094c131181703629b57264d1b72 the txid for this proposal?

[2022-01-26 09:26] MwithM commented on #978
Is 180080d8c3027ac696c969edf45d2d0162f21290d07a3cec28eedcc357edd0f3 the correct txid for this proposal?

[2022-01-26 11:16] sqrrm commented on #984
I approve this for dev

[2022-01-30 09:25] cbeams commented on #988
@MwithM, I made a minor typo fix in the description: `s/Transfiex/Transifex/`

[2022-01-30 09:29] cbeams commented on #981
Welcome @w0000000t! Thanks for your work and congrats on the first CR.

[2022-01-30 10:31] w0000000t commented on #981
Feel really well accepted, thank you team 😉

[2022-02-02 14:52] MwithM commented on #978
Closed as accepted.

[2022-02-02 14:53] MwithM commented on #978
Closed as accepted.

[2022-02-02 14:54] MwithM commented on #994
Closed as accepted.

[2022-02-02 14:55] MwithM commented on #979
Closed as accepted.

[2022-02-02 14:55] ghost commented on #980
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|12820.51|20000.00|

Total Issuance: 12820.51 BSQ (equivalent to: 20000.00 USD)

[2022-02-02 14:56] MwithM commented on #980
https://github.com/bisq-network/compensation/issues/994

[2022-02-02 14:56] #980 closed, assigned to ripcurlx

[2022-02-02 14:56] ghost commented on #982
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|384.62|600.00|

Total Issuance: 384.62 BSQ (equivalent to: 600.00 USD)

[2022-02-02 14:56] MwithM commented on #982
Closed as accepted.

[2022-02-02 14:56] #982 closed, assigned to ripcurlx

[2022-02-02 14:57] ghost commented on #978
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1602.00|2500.00|

Total Issuance: 1602.00 BSQ (equivalent to: 2500.00 USD)

[2022-02-02 14:57] MwithM commented on #978
Closed as accepted (good bot).

[2022-02-02 14:57] #978 closed, assigned to Emzy

[2022-02-02 14:58] ghost commented on #994
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|897.00|1400.00|

Total Issuance: 897.00 BSQ (equivalent to: 1400.00 USD)

[2022-02-02 14:58] MwithM commented on #994
Closed as accepted

[2022-02-02 14:58] #994 closed, assigned to Emzy

[2022-02-02 14:59] ghost commented on #979
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|929.49|1450.00|

Total Issuance: 929.49 BSQ (equivalent to: 1450.00 USD)

[2022-02-02 14:59] MwithM commented on #979
Closed as accepted

[2022-02-02 14:59] #979 closed, assigned to ripcurlx

[2022-02-02 14:59] ghost commented on #983
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|608.97|950.00|

Total Issuance: 608.97 BSQ (equivalent to: 950.00 USD)

[2022-02-02 14:59] MwithM commented on #983
Closed as accepted

[2022-02-02 14:59] #983 closed, assigned to Emzy

[2022-02-02 15:00] ghost commented on #981
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|330.12|515.00|
|dev|9.62|15.00|

Total Issuance: 339.74 BSQ (equivalent to: 530.00 USD)

[2022-02-02 15:00] MwithM commented on #981
Closed as accepted

[2022-02-02 15:00] #981 closed, assigned to leo816

[2022-02-02 15:00] ghost commented on #988
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|407.05|635.00|
|support|320.51|500.00|
|admin|48.08|75.00|

Total Issuance: 775.64 BSQ (equivalent to: 1210.00 USD)

[2022-02-02 15:00] MwithM commented on #988
Closed as accepted

[2022-02-02 15:00] #988 closed, assigned to leo816

[2022-02-02 15:00] ghost commented on #986
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4070.51|6350.00|

Total Issuance: 4070.51 BSQ (equivalent to: 6350.00 USD)

[2022-02-02 15:00] MwithM commented on #986
Closed as accepted

[2022-02-02 15:00] #986 closed, assigned to nobody

[2022-02-02 15:01] ghost commented on #977
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|467.94|730.00|

Total Issuance: 467.94 BSQ (equivalent to: 730.00 USD)

[2022-02-02 15:01] MwithM commented on #977
Closed as accepted

[2022-02-02 15:01] #977 closed, assigned to ripcurlx

[2022-02-02 15:01] ghost commented on #991
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|128.00|200.00|
|growth|32.00|50.00|

Total Issuance: 160.00 BSQ (equivalent to: 250.00 USD)

[2022-02-02 15:01] MwithM commented on #991
Closed as accepted

[2022-02-02 15:01] #991 closed, assigned to Emzy

[2022-02-02 15:01] ghost commented on #992
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|32.05|50.00|
|dev|160.26|250.00|

Total Issuance: 192.31 BSQ (equivalent to: 300.00 USD)

[2022-02-02 15:01] MwithM commented on #992
Closed as accepted

[2022-02-02 15:01] #992 closed, assigned to cbeams

[2022-02-02 15:01] ghost commented on #987
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1083.34|1690.00|
|support|320.51|500.00|

Total Issuance: 1403.85 BSQ (equivalent to: 2190.00 USD)

[2022-02-02 15:01] MwithM commented on #987
Closed as accepted

[2022-02-02 15:01] #987 closed, assigned to ripcurlx, leo816

[2022-02-02 15:02] ghost commented on #989
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1252.56|1953.52|

Total Issuance: 1252.56 BSQ (equivalent to: 1953.52 USD)

[2022-02-02 15:02] MwithM commented on #989
Closed as accepted

[2022-02-02 15:02] #989 closed, assigned to leo816

[2022-02-02 15:02] ghost commented on #995
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|641.03|1000.00|

Total Issuance: 641.03 BSQ (equivalent to: 1000.00 USD)

[2022-02-02 15:02] MwithM commented on #995
Closed as accepted

[2022-02-02 15:02] #995 closed, assigned to leo816

[2022-02-02 15:02] ghost commented on #993
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1057.69|1650.00|
|admin|32.05|50.00|

Total Issuance: 1089.74 BSQ (equivalent to: 1700.00 USD)

[2022-02-02 15:02] MwithM commented on #993
Closed as accepted

[2022-02-02 15:02] #993 closed, assigned to leo816

[2022-02-02 15:02] ghost commented on #990
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|31.94|50.00|
|ops|83.06|130.00|

Total Issuance: 115.00 BSQ (equivalent to: 180.00 USD)

[2022-02-02 15:02] MwithM commented on #990
Closed as accepted

[2022-02-02 15:02] #990 closed, assigned to ripcurlx, Emzy

[2022-02-02 15:03] ghost commented on #985
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|705.00|1100.00|

Total Issuance: 705.00 BSQ (equivalent to: 1100.00 USD)

[2022-02-02 15:03] MwithM commented on #985
Closed as accepted

[2022-02-02 15:03] #985 closed, assigned to ripcurlx

[2022-02-02 15:03] ghost commented on #984
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|2217.92|3460.00|
|ops|48.08|75.00|

Total Issuance: 2266.00 BSQ (equivalent to: 3535.00 USD)

[2022-02-02 15:03] MwithM commented on #984
Closed as accepted

[2022-02-02 15:03] #984 closed, assigned to sqrrm

[2022-02-02 15:06] #976 closed, assigned to MwithM

[2022-02-02 15:06] #975 closed, assigned to MwithM

[2022-02-02 15:09] MwithM opened #996 "BSQ rate for Cycle 33 is 1.25 USD per BSQ"
The recommended rate to be used for compensation requests on cycle 33 is **1.25 USD/BSQ.**

![image](https://user-images.githubusercontent.com/50149324/152180670-f860d35d-96aa-4550-a92c-f974b713c98b.png)

Rate for last cycle: #975
More info about the Compensation process at https://bisq.wiki/Compensation

[2022-02-02 16:25] MwithM opened #997 "Cycle 33 deadline is January 20th"
The deadline for submitting compensations requests for review is **February 20th**.

More details at: https://github.com/bisq-network/compensation/issues
[Calendar](https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe) ](https://github.com/bisq-network/compensation/issues/996)

[2022-02-02 16:25] ghost commented on #997
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2022-02-15 12:40] ghost opened #998 "For cycle 33"
## Summary

- **BSQ requested**: **`1720`**
- USD requested: 2150
- BSQ rate: 1.25 USD per BSQ
- Previous compensation request (if applicable): #977

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Add missing filtering on lists | dev | 700 | https://github.com/bisq-network/bisq/pull/5963 | |
| Prevent reset offer values after switch to same curr

[2022-02-17 11:04] alkum opened #999 "For cycle 33"
## Summary

- **BSQ requested**: **`3280`**
- USD requested: 4100
- BSQ rate: 1.25 USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Local test framework for multiple <br/>client and seed configurations <br/>(clear / tor / i2p) | dev | 2500 | https://github.com/bisq-network/bisq2/pull/

[2022-02-18 00:11] UX-P opened #1001 "For Cycle 33"
## Summary

- **BSQ requested**: **`516.8`**
- USD requested: 646
- BSQ rate: 1.25 USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title                                     | Team   | USD | Link                                                                                                                                    | Notes |
| ---

[2022-02-18 00:11] ghost commented on #1001
## Info
Read BSQ amount from summary: 516.8
Read USD amount from summary: 646
Read BSQ rate from summary: 1.25

## Errors
Unknown team specified:
Tableformat: request lineitem #1 did not pass validation.
Unknown team specified:
Tableformat: request lineitem #2 did not pass validation.
No compensation lineitems found.

[2022-02-18 00:17] ghost commented on #1001
## Info
Read BSQ amount from summary: 516.8
Read USD amount from summary: 646
Read BSQ rate from summary: 1.25

## Errors
Unknown team specified:
Tableformat: request lineitem #1 did not pass validation.
Unknown team specified:
Tableformat: request lineitem #2 did not pass validation.
Unknown team specified:
Tableformat: request lineitem #3 did not pass validation.
Unknown team specified:
Tablefor

[2022-02-18 00:29] ghost commented on #1001
## Info
Read BSQ amount from summary: 516.8
Read USD amount from summary: 646
Read BSQ rate from summary: 1.25

## Errors
Unknown team specified:
Tableformat: request lineitem #1 did not pass validation.
Unknown team specified:
Tableformat: request lineitem #2 did not pass validation.
Unknown team specified:
Tableformat: request lineitem #3 did not pass validation.
Unknown team specified:
Tablefor

[2022-02-18 10:01] MwithM commented on #1001
@ripcurlx Let me know who should I assign this.

[2022-02-18 16:51] w0000000t opened #1002 "For Cycle 33"
## Summary

- **BSQ requested**: **`[606.4]`**
- USD requested: [758]
- BSQ rate: [1.25] USD per BSQ
- Previous compensation request (if applicable): #  https://github.com/bisq-network/compensation/issues/981

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|L1 support agent| support|500|https://github.com/bisq-network/roles/issues/64#issuecomment-

[2022-02-18 19:17] MwithM commented on #997
Only 2 days left to submit your compensation requests.

[2022-02-19 13:19] alvasw opened #1003 "For Cycle 33"
## Summary

- **BSQ requested**: **`484`**
- USD requested: 605
- BSQ rate: 1.25 USD per BSQ
- Previous compensation request (if applicable): #982

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq2: Create Wallet Prototype UI To Test Wallet Functionalities | dev | 500 | bisq-network/projects#63 | <ul><li>bisq-network/bisq2#81</li><li>bisq-net

[2022-02-19 15:34] leo816 opened #1004 "For Cycle 33"
## Summary

- **BSQ requested**: **`[2841.168]`**
- USD requested: [3551.46]
- BSQ rate: [1.25] USD per BSQ
- Previous compensation request (if applicable): #947

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000  |  https://github.com/bisq-network/roles/issues/83#issuecomment-1017389707 | Cycle 32 |
| Mediator |Support | 1

[2022-02-19 17:05] Emzy opened #1005 "For Cycle 33"
## Summary

- **BSQ requested**: **`880`**
- USD requested: 1100
- BSQ rate: 1.25 USD per BSQ
- Previous compensation request (if applicable): #985

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 3* Seed node operator | ops* | 300 | bisq-network/roles#15 |  |
| Pricenode operat

[2022-02-19 17:16] ghost commented on #1005
## Info
Read BSQ amount from summary: 956
Read USD amount from summary: 1100
Read BSQ rate from summary: 1.25
Parsed lineitem: {"team":"ops","amount":200}
Parsed lineitem: {"team":"ops","amount":300}
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"ops","amount":200}
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"t

[2022-02-19 18:02] ghost commented on #1002
## Info
Read BSQ amount from summary: 606.4
Read USD amount from summary: 758
Read BSQ rate from summary: 1.25
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":50}
Parsed lineitem: {"team":"support","amount":30}
Parsed lineitem: {"team":"support","amount":2}
Parsed lineitem: {"team":"support","amount":30}
Parsed lineitem: {"team":"support","amount":5}
Pa

[2022-02-19 20:00] refund-agent2 opened #1006 "For Cycle 33"
## Summary

- **BSQ requested**: **`900.42`**
- USD requested: 1125.52
- BSQ rate: 1.25 USD per BSQ
- Previous compensation request (if applicable): #989

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Refunds | *Support  | 1125.52 | https://github.com/bisq-network/roles/issues/93#issuecomment-1046091095 |  |

## Contributions in progress

[2022-02-20 14:09] cbeams opened #1007 "For Cycle 33"
## Summary

- **BSQ requested**: 840
- USD requested: 1050
- BSQ rate: [1.25](https://github.com/bisq-network/compensation/issues/996) USD per BSQ
- Previous compensation request (if applicable): #992

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 |  https://github.com/bisq-network/roles/issues/18#issuecomment-1046246278

[2022-02-20 14:16] cbeams commented on #1007
@emzy, I'll ask you to approve this compreq as ops lead since the main part is ops-related, thanks.

[2022-02-20 14:27] ghubstan opened #1008 "For Cycle 33"
## Summary

- **BSQ requested**: **`2520`**
- USD requested: 3150
- BSQ rate: 1.25 USD per BSQ
- Previous compensation request (if applicable): #986

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|	Add API 'gettrades' method	|	dev	|	3000	|	https://github.com/bisq-network/bisq/pull/5976	|	merged	|
|	Modify .proto file comments to be parsed by bisq

[2022-02-20 23:41] Emzy commented on #1007
First of all thank you very much @ajay1706 for reporting the security issue. And doing a responsible disclosure.
This is very appreciated!

I have to add that it was my fault not updating Grafana on https://monitor.bisq.network/
My reasoning was that the Grafana graphs are broken and need fixing. So updating was counter productive in my mind.

The server has no impact on the operation of Bisq. The

[2022-02-21 03:59] ghost opened #1009 "For Cycle 33"
## Summary

- **BSQ requested**: **`1832`**
- USD requested: 2290
- BSQ rate: 1.25 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/987

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Fix issue of % price being zero when editing offer | dev | 0 | https://github.com/bisq-network/bisq

[2022-02-21 05:05] ajay1706 commented on #1007
So You mean that who ever finds such vulns in your domain should do that for free? You only asked we will pay you according to the time you have worked on it and now you only not accepting it? I have worked my time on it ad don't want to do something for free here.  I deserve a little bounty atleast

[2022-02-21 05:47] devinbileck opened #1010 "For Cycle 33"
## Summary

- **BSQ requested**: **`760`**
- USD requested: 950
- BSQ rate: 1.25 USD per BSQ
- Previous compensation request (if applicable): #983

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-1046497650 | 3 nodes
| Seed node operator | ops* | 300

[2022-02-21 14:06] ripcurlx commented on #1007
Hi @ajay1706 ! What @Emzy is saying is that his team has no budget for this kind of disclosures, not that you won't get compensated for your responsible disclosure. So it will be a bigger discussion here and I think we should put up asap a security policy for the website under bisq/SECURITY.md. Something like

# Security Policy

## Supported Versions

_TODO: Point out which versions+ will receive

[2022-02-21 14:12] ripcurlx commented on #1008
As dev team lead I approve this request for dev. Please submit your compensation request to the DAO for voting and post the transaction id here afterwards.

[2022-02-21 14:12] ripcurlx commented on #1005
As dev team lead I approve this request for dev. Please submit your compensation request to the DAO for voting and post the transaction id here afterwards.

[2022-02-21 14:13] ripcurlx commented on #1002
As dev team lead I approve this request for dev.

[2022-02-21 14:23] sqrrm opened #1011 "For Cycle 34"
## Summary

- **BSQ requested**: **`144`**
- USD requested: 180
- BSQ rate: 1.25 USD per BSQ
- Previous compensation request (if applicable): #990

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Bisq desktop maintainer | dev* | 0 |  |  |
|Bitcoin node maintainer | dev* | 50 | https://github.com/bisq-network/roles/issues/66#issuecomment-1046935366

[2022-02-21 14:28] ripcurlx commented on #1001
I'm not sure, but I think @leo816 said he could/would review the growth related compensation requests? Do I remember correctly @leo816?

[2022-02-21 16:02] leo816 commented on #1009
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-02-21 16:03] leo816 commented on #1002
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-02-21 16:36] w0000000t commented on #1002
2f386743cd2faefa2ecca7a7f2b18007f551b4342f58905cc642c5b29042e5d8

[2022-02-21 18:26] alexej996 opened #1012 "For Cycle 33"
## Summary
This is a compensation request for work done in Cycle 32.
I didn't notice until now that yesterday was final day for Cycle 33 requests, so I will make this one for Cycle 34.

- **BSQ requested** : **200**
- USD requested: **250**
- BSQ rate: **1.25** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/991

## Contributions delivered

| Title

[2022-02-21 19:37] ghost commented on #999
## Info
Read BSQ amount from summary: 3280
Read USD amount from summary: 4100
Read BSQ rate from summary: 1.25
Parsed lineitem: {"team":"dev","amount":2500}
Parsed lineitem: {"team":"dev","amount":1000}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"team":"dev","amount":200}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"team":"dev","amount":200}

## Errors
Unknow

[2022-02-21 19:39] alkum opened #1013 "For cycle 34"
## Summary

- **BSQ requested**: **`4715.44`**
- USD requested: 5800
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #999

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Update test framework | dev | 1500 | https://github.com/bisq-network/bisq2/pull/110<br/>https://github.com/bisq-network/bisq2/pull/160 | |
| Extend

[2022-02-21 19:53] MwithM commented on #1012
I have edited the title, as long as the team lead wants, you are still on time to submit this for this cycle 33.

[2022-02-21 20:38] MwithM opened #1014 "For Cycle 33"
## Summary

- **BSQ requested**: **`860`**
- USD requested: 1075USD
- BSQ rate: 1.25USD per BSQ
- Previous compensation request (if applicable): #988

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 500 | https://github.com/bisq-network/roles/issues/95#issuecomment-1047207198 |  |
| Transifex Admin | *Growth | 0 | ht

[2022-02-21 23:45] Emzy commented on #1012
As ops team lead I approve this compensation request for ops.

[2022-02-21 23:45] Emzy commented on #1011
As ops team lead I approve this compensation request for ops.

[2022-02-21 23:47] Emzy commented on #1010
As ops team lead I approve this compensation request for ops.

[2022-02-22 05:46] devinbileck commented on #1010
aae18144d9b57a493328872c0836c8a40ca244c12495a914c7a7930832d1f223

[2022-02-22 09:27] mrosseel opened #1015 "For Cycle 33"
## Summary

- **BSQ requested**: **`240`**
- USD requested: 300
- BSQ rate:  1.25 USD per BSQ
- Previous compensation request (if applicable):  https://github.com/bisq-network/compensation/issues/978

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Pricenode operator | ops* | 50 | https://github.com/bisq-network/roles/issues/14#issuecomment-10475

[2022-02-22 09:41] Emzy commented on #1015
As ops team lead I approve this compensation request for ops.

[2022-02-22 10:19] mrosseel commented on #1015
c93a7036822beed85065947ea61bf9394becaa02067725a0dea5848f88f115a6

[2022-02-22 11:33] Emzy commented on #1005
216ad7664f66cb3a342393ae44cd8959661a2d459a76aa79bb3e06fedb7ac540

[2022-02-22 14:15] leo816 commented on #1014
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-02-22 19:45] MwithM commented on #1014
Txid is: a84d35e4bcf7072946e3e073429c99b460a9d2563d0ae2e70341e34b3ba088f8

[2022-02-22 21:09] cbeams commented on #1007
Thanks, @Emzy. It's a good point that ops doesn't have budget for this per se. Nor does any other team, though, as this is sort of an undefined area.

I've gone ahead and submitted this compensation request to the DAO anyway, with txid `9d7d24ded9923a020e1cfc5affc152434384bd5a3f52aca4897ea0bb23bff034`.

My argument would be that others should vote for it with the proviso that we publish something

[2022-02-23 12:09] MwithM commented on #1007
I consider that even with no budget assigned to it or team lead approving it as usual, this compensation request has been properly reviewed by various contributors and hence I leave the status of this issue as `Proposal Submitted`.

[2022-02-23 14:45] ripcurlx commented on #1011
As dev team lead I approve this compensation request for dev. Please submit it to the DAO for voting and post your transaction ID here afterwards. Thanks!

[2022-02-23 14:49] ripcurlx commented on #999
@chimp1984 Could you ACK all the bisq 2 related dev tasks as I am not involved enough to review and approve them properly?

[2022-02-23 14:53] ripcurlx commented on #1009
As dev team lead I approve this compensation request for dev. Please submit it to the DAO for voting. Thanks!

_...and as always I think you undervalue your contributions_ 😄

[2022-02-23 14:58] ripcurlx commented on #998
@chimp1984: Could you please approve `Complete RoboHash implementation` Thanks!

[2022-02-23 15:05] chimp1984 commented on #999
ACK

[2022-02-23 15:05] ripcurlx opened #1016 "For Cycle 33"
## Summary

- **BSQ requested**: **`2743`**
- USD requested: 3429
- BSQ rate: 1.25 USD per BSQ
- Previous compensation request (if applicable): #984

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev* | 2160 | https://github.com/bisq-network/roles/issues/63#issuecomment-1048882214 |  |
| Bitcoin Fullnode Operator | ops

[2022-02-23 15:06] chimp1984 commented on #998
ACK

[2022-02-23 15:09] wiz opened #1017 "For Cycle 33"
## Summary

* **BSQ requested**: **`1120`**
* USD requested: 1400
* BSQ rate: 1.25 USD per BSQ
* Previous compensation request (if applicable): #994

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin Node Operato

[2022-02-23 15:25] ghost commented on #1016
## Info
Read BSQ amount from summary: 2743
Read USD amount from summary: 3429
Read BSQ rate from summary: 1.25
Parsed lineitem: {"team":"dev","amount":2160}
Parsed lineitem: {"team":"ops","amount":50}
Parsed lineitem: {"team":"ops","amount":25}
Parsed lineitem: {"team":"dev","amount":276}
Parsed lineitem: {"team":"dev","amount":150}
Parsed lineitem: {"team":"dev","amount":270}
Parsed lineitem: {"t

[2022-02-23 15:27] ripcurlx commented on #998
As dev team lead I approve the remaining tasks for dev. Please submit your compensation request to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-02-23 15:28] ripcurlx commented on #999
As dev team lead I approve the remaining tasks for dev. Please submit your compensation request to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-02-23 15:32] ghost commented on #1016
## Info
Read BSQ amount from summary: 2743
Read USD amount from summary: 3429
Read BSQ rate from summary: 1.25
Parsed lineitem: {"team":"dev","amount":2160}
Parsed lineitem: {"team":"ops","amount":50}
Parsed lineitem: {"team":"ops","amount":25}
Parsed lineitem: {"team":"dev","amount":276}
Parsed lineitem: {"team":"dev","amount":150}
Parsed lineitem: {"team":"dev","amount":270}
Parsed lineitem: {"t

[2022-02-23 15:39] Emzy commented on #1017
As ops team lead I approve this compensation request for ops.

[2022-02-23 15:43] chimp1984 commented on #1003
ACK

[2022-02-23 15:55] chimp1984 opened #1018 "For Cycle 33"
## Summary

- **BSQ requested**: **`8000`**
- USD requested: 10000
- BSQ rate: 1.25 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 26 PRs | dev | 10000 | https://github.com/bisq-network/bisq2/pulls?page=1&q=is%3Apr+author%3Achimp1984 | https://github.com/bisq-network/bisq2/pull/41 - https://github.com/bisq-network/bisq2/pull/96 |

O

[2022-02-23 15:57] chimp1984 commented on #1018
I will be offline over the next days, so I add the Tx ID already:
065530069f8f51fa4281603c254ff519fdc529a15b0060c0adf59c4c3a36254d

[2022-02-23 19:01] ghost commented on #1004
## Info
Read BSQ amount from summary: 2841.168
Read USD amount from summary: 3551.46
Read BSQ rate from summary: 1.25
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":55146}
Parsed lineitem: {"team":"support

[2022-02-23 19:03] leo816 commented on #1006
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-02-23 20:18] ripcurlx commented on #1004
As dev team lead I approve this request. Please submit your compensation request to the DAO for voting and post the transaction id here afterwards. Thanks!

[2022-02-23 20:19] ripcurlx commented on #1018
As dev team lead I approve this compensation request.

[2022-02-23 20:19] ripcurlx commented on #1003
As dev team lead I approve this compensation request. Please submit your request to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-02-24 00:23] ghost commented on #1009
cefb4115d3e867bab2bbdc4bfa11f67bcbf5b217ef0cdaf56b314698f77bd18d

[2022-02-24 02:13] pazza83 opened #1019 "For Cycle 33"
## Summary

- **BSQ requested**: **`[1,300]`**
- USD requested: [1625]
- BSQ rate: [1.25 USD/BSQ] USD per BSQ as per #996
- Previous compensation request: #993

## Contributions delivered for Cycle 33

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | *Support | 1000 | https://github.com/bisq-network/roles/issues/83#issuecomment-1041016369 | Everything going well wi

[2022-02-24 09:19] ripcurlx commented on #1016
@sqrrm Could you please approve my CR? Thanks!

[2022-02-24 11:56] alkum commented on #999
`81e37daf3569df7228b8ee221698d8c887024014c0f97203d183ff6d29063444`

[2022-02-24 12:00] leo816 commented on #1004
tx id: 353877f24c6ecf7631b4454fdd7d8b6ba328631c259bc35c9a10a58b5075f530

[2022-02-24 16:06] alvasw commented on #1003
TxId: `f35069ba23984530e42a9e648f67e23dac4b429a14cae68539dbfe7f791d497c`

[2022-02-24 20:44] opticbit opened #1020 "For Cycle 33"
## Summary

- **BSQ requested**: **`1503`**
- BSQ address: Bbc1qkxvz0yatqfkv60xhveqfht823d23efkst2fk30
- USD requested: 2000.00
- BSQ rate: 1.25 USD per BSQ

## Contributions delivered

2.  Growth | $2000 | | to Taxi Ads Las Vegas for 25 trunk signs from Decmber 6 2021 to Jan 2 2022 with graphic created

Placed ads on taxis in Las Vegas.

1 5991 Whittlesea-Bell Transportation
2 5886 Whittlesea-Bel

[2022-02-25 07:23] ghost commented on #998
TXID: 222a8c324aa3494d63be5708c261ecbcc54407c13ce01076350e6da2b7f248b4

[2022-02-25 08:59] refund-agent2 commented on #1006
`048a6ef094bce267d159097b2228e03778715b811d225b82e3d605c402ea9890`

[2022-02-25 09:02] refund-agent2 commented on #1006
`048a6ef094bce267d159097b2228e03778715b811d225b82e3d605c402ea9890`

[2022-02-25 14:59] ripcurlx commented on #1016
To be on the save side timing wise, I've already submitted it to the DAO. TXID: `49baf3b3d82151a1521b6c817b8b690bc740b15e748c8070045192c7828d727b`

[2022-02-25 15:01] Emzy commented on #1016
As ops team lead I approve this compensation request for ops.

[2022-02-25 21:02] ghost commented on #1020
## Info
Read BSQ amount from summary: 1503
Read USD amount from summary: 2000
Read BSQ rate from summary: 1.25
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":2000}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 1503.00 BSQ
   - Calculated total: 1600.00 BSQ

[2022-02-26 12:52] wiz commented on #1017
877c6ac9b4fc19272185270aaf18393114214d2d6743ad4169427a02ad436f06

[2022-02-26 16:26] leo816 commented on #1019
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-02-26 20:14] pazza83 commented on #1019
Tx ID: 9a070870abb9a9f7a717584f33902686d0c3a44f60543d7b1a88b0d299c445e6

[2022-02-27 22:25] burningman3 opened #1021 "For Cycle 33"
## Summary

- **BSQ requested**: **`[800]`**
- USD requested: [1000]
- BSQ rate: [1.25] USD per BSQ
- Previous compensation request (if applicable): #995

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issuecomme

[2022-02-27 22:31] leo816 commented on #1021
@burningman3 the proposal phase is over so this will have to wait for next cycle

[2022-02-27 23:37] pazza83 commented on #1020
https://www.reddit.com/r/Monero/comments/szprtp/cited_outside_guess_the_airport/

![sp99f3j2xmj81](https://user-images.githubusercontent.com/66367547/155904808-28837af7-4468-4461-8dd8-e3148dc6a4ca.jpg)

[2022-02-28 10:12] MwithM commented on #1021
Closing as not submitted.

[2022-02-28 10:12] #1021 closed, assigned to nobody

[2022-02-28 11:25] MwithM commented on #1008
@ghubstan It appears that you forgot to send the compensation request for DAO voting.

[2022-02-28 11:30] MwithM commented on #1012
@alexej996 Did you send the compensation request to DAO voting?

[2022-02-28 11:30] MwithM commented on #1011
@sqrrm Did you send the compensation request to DAO voting?

[2022-03-01 11:58] ghubstan commented on #1008
@MwithM #!*%!, yes I did forget.   Is it too late now?  Voting ends in two days...

[2022-03-01 12:03] ghubstan commented on #1008
I see it is too late to make the proposal in the DAO.  I"ll have to include it in Cycle 34.

[2022-03-01 19:04] chimp1984 commented on #1007
I think we should define more clearly what types of security vulnerability reports we consider justified for compensation and to which amounts. The potential damage by the security vulnerability could be one factor to consider as well if it touches the core functionalities (Bisq app, trading) or just the sourrounding infrastructure which mostly does not carry any real financial risk. Another facto

[2022-03-01 19:11] ajay1706 commented on #1007
I’m a professional security researcher you can check my record on linkedin
I don’t post much on github post my developer days.

https://www.linkedin.com/in/ajay-sharma-33683a10b

https://twitter.com/security_donut

Hope you got to know about whether I’m being professional in this or not

On Wed, 2 Mar 2022 at 12:34 AM, chimp1984 ***@***.***> wrote:

[2022-03-01 20:00] chimp1984 commented on #1007
Thanks for the additional links. I just looked into your GH account and there has not been indications to security research but the other links confirm your background.

[2022-03-02 02:13] ajay1706 commented on #1007
yeah I hardly use GH for my security thing.

[2022-03-03 10:32] leo816 commented on #1001
thats right, I completely missed that I was also reviewing the growth team. I see you didn't make the proposal on the DAO so this will have to wait until next cycle but I will review it anyways.
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks

[2022-03-03 11:55] MwithM commented on #1001
Better open a new "For cycle 34" compensation request issue copying this one. If you're going to have more tasks for next cycle to get compensation for, you can decide wether to create 2 different issues (one for the tasks on this cycle and another for new tasks) or add taskst o a single issue.
Compensation rate must be the one used for Cycle 34, which is still to be calculated.

Closed as "not su

[2022-03-03 11:55] #1001 closed, assigned to ripcurlx, leo816

[2022-03-07 07:51] ghost commented on #1002
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|493.60|617.00|
|dev|112.80|141.00|

Total Issuance: 606.40 BSQ (equivalent to: 758.00 USD)

[2022-03-07 07:52] MwithM commented on #1002
Closed as accepted.

[2022-03-07 07:52] #1002 closed, assigned to ripcurlx, leo816

[2022-03-07 07:52] ghost commented on #1005
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|880.00|1100.00|

Total Issuance: 880.00 BSQ (equivalent to: 1100.00 USD)

[2022-03-07 07:52] MwithM commented on #1005
Closed as accepted.

[2022-03-07 07:52] #1005 closed, assigned to ripcurlx

[2022-03-07 07:52] ghost commented on #1015
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|240.00|300.00|

Total Issuance: 240.00 BSQ (equivalent to: 300.00 USD)

[2022-03-07 07:52] MwithM commented on #1015
Closed as accepted.

[2022-03-07 07:52] #1015 closed, assigned to nobody

[2022-03-07 07:52] ghost commented on #1010
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|760.00|950.00|

Total Issuance: 760.00 BSQ (equivalent to: 950.00 USD)

[2022-03-07 07:52] MwithM commented on #1010
Closed as accepted.

[2022-03-07 07:52] #1010 closed, assigned to Emzy

[2022-03-07 07:53] ghost commented on #1014
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|400.00|500.00|
|support|400.00|500.00|
|admin|60.00|75.00|

Total Issuance: 860.00 BSQ (equivalent to: 1075.00 USD)

[2022-03-07 07:53] MwithM commented on #1014
Closed as accepted.

[2022-03-07 07:53] #1014 closed, assigned to leo816

[2022-03-07 07:59] ghost commented on #1007
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|40.00|50.00|
|ops|800.00|1000.00|

Total Issuance: 840.00 BSQ (equivalent to: 1050.00 USD)

[2022-03-07 07:59] MwithM commented on #1007
Closed as accepted.

[2022-03-07 07:59] #1007 closed, assigned to Emzy

[2022-03-07 07:59] ghost commented on #1018
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|8000.00|10000.00|

Total Issuance: 8000.00 BSQ (equivalent to: 10000.00 USD)

[2022-03-07 07:59] MwithM commented on #1018
Closed as accepted.

[2022-03-07 07:59] #1018 closed, assigned to ripcurlx

[2022-03-07 07:59] ghost commented on #1004
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2841.17|3551.46|

Total Issuance: 2841.17 BSQ (equivalent to: 3551.46 USD)

[2022-03-07 07:59] MwithM commented on #1004
Closed as accepted.

[2022-03-07 07:59] #1004 closed, assigned to ripcurlx

[2022-03-07 08:00] ghost commented on #999
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|3280.00|4100.00|

Total Issuance: 3280.00 BSQ (equivalent to: 4100.00 USD)

[2022-03-07 08:00] MwithM commented on #999
Closed as accepted.

[2022-03-07 08:00] #999 closed, assigned to ripcurlx

[2022-03-07 08:00] ghost commented on #1009
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1432.00|1790.00|
|support|400.00|500.00|

Total Issuance: 1832.00 BSQ (equivalent to: 2290.00 USD)

[2022-03-07 08:00] MwithM commented on #1009
Closed as accepted.

[2022-03-07 08:00] #1009 closed, assigned to ripcurlx, leo816

[2022-03-07 08:00] ghost commented on #1003
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|484.00|605.00|

Total Issuance: 484.00 BSQ (equivalent to: 605.00 USD)

[2022-03-07 08:00] MwithM commented on #1003
Closed as accepted.

[2022-03-07 08:00] #1003 closed, assigned to ripcurlx

[2022-03-07 08:00] ghost commented on #998
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1720.00|2150.00|

Total Issuance: 1720.00 BSQ (equivalent to: 2150.00 USD)

[2022-03-07 08:01] MwithM commented on #998
Closed as accepted.

[2022-03-07 08:01] #998 closed, assigned to ripcurlx

[2022-03-07 08:01] ghost commented on #1006
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|900.42|1125.52|

Total Issuance: 900.42 BSQ (equivalent to: 1125.52 USD)

[2022-03-07 08:01] ghost commented on #1017
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1120.00|1400.00|

Total Issuance: 1120.00 BSQ (equivalent to: 1400.00 USD)

[2022-03-07 08:01] MwithM commented on #1017
Closed as accepted.

[2022-03-07 08:01] #1017 closed, assigned to Emzy

[2022-03-07 08:01] ghost commented on #1019
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1260.00|1575.00|
|admin|40.00|50.00|

Total Issuance: 1300.00 BSQ (equivalent to: 1625.00 USD)

[2022-03-07 08:01] MwithM commented on #1019
Closed as accepted.

[2022-03-07 08:01] #1019 closed, assigned to leo816

[2022-03-07 08:01] ghost commented on #1016
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|2683.00|3354.00|
|ops|60.00|75.00|

Total Issuance: 2743.00 BSQ (equivalent to: 3429.00 USD)

[2022-03-07 08:01] MwithM commented on #1016
Closed as accepted.

[2022-03-07 08:01] #1016 closed, assigned to sqrrm

[2022-03-07 08:02] MwithM commented on #1006
Closed as accepted.

[2022-03-07 08:02] #1006 closed, assigned to leo816

[2022-03-07 08:02] MwithM commented on #1012
Closed as not submitted.

[2022-03-07 08:02] #1012 closed, assigned to Emzy

[2022-03-07 08:03] MwithM commented on #1011
Closed as not submitted.

[2022-03-07 08:04] MwithM commented on #1008
Closed as not submitted.

[2022-03-07 08:04] #1008 closed, assigned to ripcurlx

[2022-03-07 08:05] MwithM commented on #1020
Closed as not submitted.

[2022-03-07 08:05] #1020 closed, assigned to ripcurlx, leo816

[2022-03-07 08:27] MwithM opened #1022 "BSQ rate for Cycle 34 is 1.23 USD per BSQ"
The recommended rate to be used for compensation requests on cycle 34 is **1.23 USD/BSQ.**

![image](https://user-images.githubusercontent.com/50149324/156993539-94a4a3f2-8194-4d11-9d48-af377615b48a.png)

@pazza83 alerted me that the spread for BSQ trading was high and trying to use a higher outlier threshold at Settings. I have used 20% instead of 5%, the results are significantly different (1.23

[2022-03-07 08:28] MwithM commented on #996
Closed as cycle is over.

[2022-03-07 08:28] #996 closed, assigned to MwithM

[2022-03-07 08:32] MwithM opened #1023 "Cycle 34 deadline is March 25th"
The deadline for submitting compensations requests for review is **March 25th**.

More details at: https://github.com/bisq-network/compensation/issues
[Calendar](https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe) ](https://github.com/bisq-network/compensation/issues/996)

[2022-03-07 08:42] MwithM commented on #997
Closed as cycle is over.

[2022-03-07 08:42] #997 closed, assigned to MwithM

[2022-03-07 14:14] cbeams commented on #1007
As planned, I'll transfer 800 BSQ (1000 USD / 1.25 BSQ-USD) to @ajay1706 later today and will post the tx id when I do.

[2022-03-07 16:25] cbeams commented on #1007
800 BSQ have been transferred to @ajay1706 in tx `01978be2cf5ba092cf014f2745a453f037163f4193748fa857c33769aec29bdc`. Thanks, @ajay1706.

[2022-03-09 22:57] alexej996 opened #1024 "For Cycle 34"
## Summary
This is a compensation request for work done in Cycle 32.
I didn't notice until too late the deadline for Cycle 33 requests, so I will make this one in Cycle 34.

- **BSQ requested** : **203**
- USD requested: **250**
- BSQ rate: **1.23** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/991

## Contributions delivered

| Title | Team | USD

[2022-03-09 23:02] alexej996 commented on #1024
DAO txid: **535974f0e5e383e3278e7e8e4da57da87972cabf2235b9414f935c2af0d1fe4c**

[2022-03-11 10:07] Emzy commented on #1024
As ops team lead I approve this compensation request for ops.

[2022-03-16 14:45] w0000000t commented on #1022
With how long of a distance from cycle deadline is BSQ rate computed?
I currently see 1.12USD and in general last cycle has seen quite a depreciation of BSQ compared to previous, to have just a delta of a couple of cents; just fuel for discussion.

[2022-03-16 20:38] MwithM commented on #1022
The rate is calculated as soon as the cycle starts, using the 30 day average.

[2022-03-20 14:34] opticbit opened #1025 "for cycle 34"
## Summary

- **BSQ requested**: **`1626`**
- BSQ address: Bbc1qkxvz0yatqfkv60xhveqfht823d23efkst2fk30
- USD requested: 2000.00
- BSQ rate: 1.23 USD per BSQ

## Contributions delivered

2.  Growth | $2000 | | to Taxi Ads Las Vegas for 25 trunk signs from Decmber 6 2021 to Jan 2 2022 with graphic created

Placed ads on taxis in Las Vegas.

1 5991 Whittlesea-Bell Transportation
2 5886 Whittlesea-Bel

[2022-03-20 17:20] burningman3 opened #1026 "For Cycle 34"
## Summary

- **BSQ requested**: **`[813.01]`**
- USD requested: [1000]
- BSQ rate: [1.23] USD per BSQ
- Previous compensation request (if applicable): #1021

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issuec

[2022-03-20 17:30] burningman3 commented on #1021
Tx ID: 423e1933722ef94d4c44f9f4e97d92f8679e105ffc60b2f81fcde06ecdeb5d3b

[2022-03-20 17:31] burningman3 commented on #1026
Tx ID: 6cee56b3168f56e19ba5eb7f9c78827b82fa4ab73041ed6ce91e13463ec0017e

[2022-03-21 16:20] w0000000t opened #1027 "For Cycle 34"
## Summary

- **BSQ requested**: **`[577.24]`**
- USD requested: [710]
- BSQ rate: [1.23] USD per BSQ
- Previous compensation request (if applicable): # https://github.com/bisq-network/compensation/issues/1002

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| L1 support agent | support | 600 | https://github.com/bisq-network/roles/issues/64#issue

[2022-03-21 17:20] MwithM commented on #1021
When a compensation request is not submitted a new issue has to be opened for the next cycle (in this case, _For Cycle 34_), and it needs to use the rate for that current cycle.

You already have submitted the proposal txid with a rate of 1.25 instead of [1.23](https://github.com/bisq-network/compensation/issues/1022). The difference is against you, but it's small. I recommend you to simply use th

[2022-03-21 17:26] MwithM commented on #1026
@burningman3
Comment here the TXID and edit the first post to add a new line for the compensation approved but not submitted at Cycle 33.

CC @leo816

[2022-03-21 19:51] alexej996 opened #1028 "For Cycle 34"
## Summary
This is a compensation request for work done in Cycle 33.

- **BSQ requested** : **203**
- USD requested: **250**
- BSQ rate: **1.23** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/1024

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bi

[2022-03-22 00:44] pazza83 opened #1029 "For Cycle 34"
## Summary

- **BSQ requested**: **`[1,768.29]`**
- USD requested: [2175]
- BSQ rate: [1.23 USD/BSQ] USD per BSQ as per #1022
- Previous compensation request: #1019

## Contributions delivered for Cycle 34

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | *Support | 1000 | https://github.com/bisq-network/roles/issues/83#issuecomment-1068657219 | All going well with

[2022-03-22 07:37] MwithM commented on #1028
Are you planning to open a different issue for work on Cycle 34? That would be valid, but I think it's better for you to merge compensation requests.

[2022-03-22 12:01] ripcurlx commented on #1027
As dev team lead I approve this compensation request for dev. It would be great if you could approve/reject your own test scenarios on bisq.ontestpad as well, so it is easier for me to see how detail which parts have been tested in one glance.

[2022-03-22 13:45] alvasw opened #1030 "For Cycle 34"
## Summary

- **BSQ requested**: **`1994.31`**
- USD requested: 2453
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #1003

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Bisq 2: Liquid Wallet Integration (Elements) | dev | 1800 | bisq-network/projects#64 | Commits: <ul><li>bisq-network/bisq2@766520b39d661a696a2f41

[2022-03-22 13:58] MwithM commented on #1023
3 days left reminder.

[2022-03-22 14:10] Emzy opened #1031 "For Cycle 34"
## Summary

- **BSQ requested**: **`894`**
- USD requested: 1100
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #1005

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 3* Seed node operator | ops* | 300 | bisq-network/roles#15 |  |
| Pricenode opera

[2022-03-22 22:43] w0000000t commented on #1027
can absolutely do @ripcurlx , yet can you please explain what you mean, as I didn't quite understand? On testpad, I make sure to tag the tested sections, and in every one of them also attach screenshots of the tested feature + link to PR, example:
![image](https://user-images.githubusercontent.com/95026987/159588501-c77cf38a-91aa-4066-907c-742328eea8a9.png)

The link to the pastebin wall of text i

[2022-03-24 08:45] ripcurlx commented on #1027
@w0000000t I didn't know that you already did this 👍  I think for test cases that are a pass you don't need to add extra information (of course appreciated), but for fail ones it is good to link the Github issue in the bug tracking field (screenshots will be there anyway I guess). Before I release and/or I start my release testing I review an overview which is similar to this report screen: https:

[2022-03-24 08:46] ripcurlx commented on #1031
As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-03-24 08:47] Emzy commented on #1028
As ops team lead I approve this compensation request for ops.

[2022-03-24 08:58] Emzy commented on #1031
TXID: 399676860489f0d91925f3200b712d7120defd6f551ce5f08f3de23b4ff76f74

[2022-03-24 10:24] refund-agent2 opened #1032 "For Cycle 34"
## Summary

- **BSQ requested**: **`1169.2`**
- USD requested: 1438.1
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #1006

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Refunds | *Support | 1438.1| https://github.com/bisq-network/roles/issues/93#issuecomment-1077459054 |  |

## Contributions in progress

[2022-03-24 10:54] alexej996 commented on #1028
@MwithM Thanks for advice, I will do that next time if this happens again. I already made a DAO transaction for both in this cycle.

[2022-03-24 10:56] alexej996 commented on #1028
DAO txid: **ca0fa88e174eb0d0645166c72e5f02ee722b0f126808b1a323e125ac3472baf0**

[2022-03-24 12:28] ghubstan opened #1033 "For Cycle 34"
## Summary

- **BSQ requested**: **`10365.85`**
- USD requested: 12750
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #1008

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
|	Add API 'gettrades' method	|	dev	|	3000	|	https://github.com/bisq-network/bisq/pull/5976	|	merged, approved in cycle 33	|
|	Modify .proto file

[2022-03-24 20:45] UX-P opened #1034 "For Cycle 34"
## Summary

- **BSQ requested**: **`740.65`**
- USD requested: 911
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title                                     | Team   | USD | Link

[2022-03-25 07:35] ghost opened #1035 "For Cycle 34"
## Summary

- **BSQ requested**: **`992`**
- USD requested: 1220
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #998

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Fix NPE issue when edit fresh account | dev | 20 | https://github.com/bisq-network/bisq/pull/6058 | |
| Fix bug with text rendering on trade step info

[2022-03-25 09:01] w0000000t commented on #1027
@ripcurlx I guess I like to make myself accountable, since I'm requesting a compensation, and I attach screenshots to show that I actually did the testing, instead of simply clicking on boxes saying that I did ;) As of now I feel like doing this little extra work, I understand now though how you check "at a glance", and I'll keep doing the pastebin thing for my own convenience and link it in CR if

[2022-03-25 12:15] MwithM opened #1036 "For Cycle 34"
## Summary

- **BSQ requested**: **`825.2`**
- USD requested: 1015USD
- BSQ rate: 1.23USD per BSQ
- Previous compensation request (if applicable): #1014

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 400 | https://github.com/bisq-network/roles/issues/95#issuecomment-1078959483 |  |
| Support Agent | *Support | 500

[2022-03-25 19:32] alkum opened #1037 "For cycle 35"
## Summary

- **BSQ requested**: **`5630.25`**
- USD requested: 6700
- BSQ rate: 1.19 USD per BSQ
- Previous compensation request (if applicable): #1013

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Peer management improvements | dev | 3000 | https://github.com/bisq-network/bisq2/pull/187<br/>https://github.com/bisq-network/bisq2/pull/171<br/>

[2022-03-25 19:34] devinbileck opened #1038 "For Cycle 34"
## Summary

- **BSQ requested**: **`772.36`**
- USD requested: 950
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #1010

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-1079376158 | 3 nodes
| Seed node operator | ops* |

[2022-03-25 23:33] Emzy commented on #1038
As ops team lead I approve this compensation request for ops.

[2022-03-26 05:26] devinbileck commented on #1038
d9638ea2f26890f1af494663fa8a9af76502260080fb51e6a234baff134aa280

[2022-03-26 07:25] ghost opened #1039 "For Cycle 34"
## Summary

- **BSQ requested**: **`756`**
- USD requested: 930
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/1009

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Dispute subsystem enhancements | dev | 280 | https://github.com/bisq-network/bisq/pull/6099 | 1.8.5

[2022-03-26 16:04] wiz opened #1040 "For Cycle 34"
## Summary

* **BSQ requested**: **`1138`**
* USD requested: 1400
* BSQ rate: 1.23 USD per BSQ
* Previous compensation request (if applicable): #1017

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin Node Operat

[2022-03-26 16:50] Emzy commented on #1040
As ops team lead I approve this compensation request for ops.

[2022-03-28 08:21] ripcurlx commented on #1039
As dev team lead I approve this compensation request for dev. 👍

[2022-03-28 08:23] ripcurlx commented on #1030
@chimp1984 Could you please ACK this request? Thanks!

[2022-03-28 08:25] ripcurlx commented on #1013
@chimp1984 Could you please ACK this request? Thanks!

As dev team lead I approve the code reviews for dev.

[2022-03-28 08:29] ripcurlx opened #1041 "For Cycle 34"
## Summary

- **BSQ requested**: **`2970`**
- USD requested: 3654
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #1016

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev* | 2160 | https://github.com/bisq-network/roles/issues/63#issuecomment-1080380775 |  |
| Bitcoin Fullnode Operator | op

[2022-03-28 09:34] chimp1984 commented on #1030
ACK

[2022-03-28 09:34] chimp1984 commented on #1013
ACK

[2022-03-28 09:58] ripcurlx commented on #1033
@ghubstan As `Generate API Reference markdown, implement API cli/java/python examples` is quite a big contribution, could you break it down a bit, so it is easier to evaluate by all contributors? Thanks!

[2022-03-28 10:06] ripcurlx commented on #1035
@xyzmaker123 IMO compensation requested for `Editable account names` and `IBAN validation for SEPA account` is a bit high.

[2022-03-28 10:13] ghost commented on #1035
@ripcurlx OK -  I downgraded them (400USD -> 300USD and 300 -> 250USD)

[2022-03-28 10:16] ripcurlx commented on #1035
IBAN still says 300 instead of 250.

[2022-03-28 10:17] ghost commented on #1035
Sorry - I forgot to click "Update comment" - now it's updated.

[2022-03-28 10:48] ripcurlx commented on #1035
As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-03-28 10:53] ripcurlx commented on #1034
@UX-P I highly appreciate your work on Bisq and Bisq2 so I approve this compensation request for my part. @leo816 What is your take on this?

[2022-03-28 10:54] ghost commented on #1035
TXID: bb15654b3de059c809bd279acb55b48ca29848b6036cab5c160c7d70a962312b

[2022-03-28 12:52] ghubstan commented on #1033
I break it down in today's changes to the project's and subprojects' READMEs, primarily in the [top-level project's README](https://github.com/ghubstan/bisq-api-reference/blob/main/README.md), and the [doc-generator subproject README](https://github.com/ghubstan/bisq-api-reference/blob/main/reference-doc-builder/README.md).

## In Summary:  What is the bisq-api-reference repo?

The repo's main pur

[2022-03-28 13:59] ripcurlx commented on #1033
As dev team lead I approve this compensation request for dev. Please submit your CR to the DAO for voting and post the transaction ID afterwards. Thanks!

[2022-03-28 14:47] ghubstan commented on #1033
64e9ec64c0aa222797ae4fa362b9fc04235a0d5ef3eb962a7fbd03a2e869e563

[2022-03-28 17:18] leo816 commented on #1027
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-03-28 17:19] leo816 commented on #1026
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-03-28 17:24] leo816 commented on #1029
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-03-28 17:24] leo816 commented on #1032
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-03-28 17:25] leo816 commented on #1039
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-03-28 18:02] w0000000t commented on #1027
96cb71a5f2034da95219a0ba3cd389a1167bbfb1417db13f59b9efb496fac53b

[2022-03-28 21:03] opticbit commented on #1025
anything else I need to do?

[2022-03-28 22:02] ghost commented on #1039
c0717eb4cc473d938ea15901935ccefe8d12cba29e9e608e6eaeb6c2201289ef

[2022-03-28 22:50] pazza83 commented on #1029
Tx ID: 5d1e5cba890ef99ffb397d0d8a482def08bc0a4b1eaa12bc726eb41bc140fdff

[2022-03-29 03:29] wiz commented on #1040
ef18d8657bc16084fdbe770277fdd8b10bdf37173cba76c8358a19689e5904fd

[2022-03-29 08:58] MwithM commented on #1036
TXID: 8a26edb5f91c33ae1504c1415424cc0b24d746ab0d95433e3deb6eb251a93d95

[2022-03-29 08:59] MwithM commented on #1036
Please  @leo816 review.

[2022-03-29 15:13] ripcurlx commented on #1041
@sqrrm @Emzy Could you please ACK the CR? Thanks! (yes I know I was late (again) 😬 )

[2022-03-29 15:14] Emzy commented on #1041
As ops team lead I approve this compensation request for ops.

[2022-03-29 15:19] ripcurlx commented on #1025
Referencing https://github.com/bisq-network/compensation/issues/958.

As it seems there was a consensus back then to compensate this as a one-time experiment I think it should be fine to submit this CR to the DAO for voting and post the transaction ID here afterwards.

For more details please see: https://bisq.wiki/Making_a_compensation_request

[2022-03-29 15:21] ripcurlx commented on #1025
Sorry I missed the most important bit, that it was rejected by the DAO in Cycle 31. No one who rejected the CR commented so far. Still you could try to submit it again and maybe people who oppose this CR will add a comment here this time.

[2022-03-29 16:11] chimp1984 opened #1042 "For Cycle 34"
## Summary

- **BSQ requested**: **`4878.05`**
- USD requested: 6000
- BSQ rate: 1.23 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mulitple PRs | dev | 6000 | https://github.com/bisq-network/bisq2/pulls?page=1&q=is%3Apr+author%3Achimp1984 | https://github.com/bisq-network/bisq2/pull/41 - https://github.com/bisq-network/bisq2/pull/

[2022-03-29 16:11] ghost commented on #1042
## Info
Read BSQ amount from summary: 4878.05
Read BSQ rate from summary: 1.23
Parsed lineitem: {"team":"dev","amount":6000}

## Errors
USD amount not specified in summary section
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 4878.05 BSQ
   - Calculated total: 0.00 BSQ

[2022-03-29 16:11] ghost commented on #1042
## Info
Read BSQ amount from summary: 4878.05
Read BSQ rate from summary: 1.23
Parsed lineitem: {"team":"dev","amount":6000}

## Errors
USD amount not specified in summary section
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 4878.05 BSQ
   - Calculated total: 0.00 BSQ

[2022-03-29 16:14] chimp1984 commented on #1039
@jmacxx You really should ask for more. Your contributions are super valuable and the requested amounts do not reflect that IMO.

[2022-03-29 16:15] chimp1984 commented on #1034
I think the requested amount is very low for the high professional quality of your work.

[2022-03-29 17:24] ripcurlx commented on #1042
As dev team lead I approve this compensation request for dev. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-03-29 18:20] chimp1984 commented on #1042
96dcc9847725e199c51c25d6cbe2bffe55c51e3b4fb3ff3491864a3aa882b16b

[2022-03-29 18:45] cbeams opened #1043 "For Cycle 34"
## Summary

- **BSQ requested**: 40.65
- USD requested: 50
- BSQ rate: [1.23](https://github.com/bisq-network/compensation/issues/1022) USD per BSQ
- Previous compensation request (if applicable): #1007

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 |  https://github.com/bisq-network/roles/issues/18#issuecomment-10822495

[2022-03-29 18:52] cbeams commented on #1043
txid: `98f8a4ae49e2797b16fa546cd8d7e2f8b8dadee678d888b8174bc4e061853f0b`

[2022-03-29 20:48] leo816 commented on #1034
I approve, Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-03-29 22:49] Emzy commented on #1043
As ops team lead I approve this compensation request for ops.

[2022-03-29 23:52] alvasw commented on #1030
TxId: `d7d5d2536822dad5de947c3cdf5fb64fcdd4be146361d2290fb9399478308408`

[2022-03-30 06:52] MwithM commented on #1043
Since proposal has been sent to DAO, I've removed WIP label.

[2022-03-30 06:54] MwithM commented on #1034
This is the last day to submit the Compensation Request to DAO.

[2022-03-30 06:55] MwithM commented on #1013
Last day to submit Compensation Request.

[2022-03-30 07:20] sqrrm opened #1044 "For Cycle 34"
## Summary

- **BSQ requested**: **`122`**
- USD requested: 150
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #1011

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Bisq desktop maintainer | dev* | 0 |  |  |
|Bitcoin node maintainer | dev* | 50 | https://github.com/bisq-network/roles/issues/66#issuecomment-108272093

[2022-03-30 07:20] ghost commented on #1044
## Info
Read BSQ amount from summary: 122
Read USD amount from summary: 180
Read BSQ rate from summary: 1.23
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":50}
Parsed lineitem: {"team":"ops","amount":100}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 180.00 USD
   - Calculated total: 150.00 USD

ERROR: Total BSQ does not m

[2022-03-30 07:23] ghost commented on #1044
## Info
Read BSQ amount from summary: 122
Read USD amount from summary: 180
Read BSQ rate from summary: 1.23
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":50}
Parsed lineitem: {"team":"ops","amount":100}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 180.00 USD
   - Calculated total: 150.00 USD

ERROR: Total BSQ does not m

[2022-03-30 07:25] sqrrm commented on #1011
My bisq client didn't work last cycle so I couldn't publish the request, doing it now instead.

0163d4ac807cb1343e57e05e98a7d588428e9a94067a62bb47b8cb71cab84204

[2022-03-30 07:26] sqrrm commented on #1044
bbcedd5d021ec02e04bf4bce07a5beefd3d188347d2afcb761c2503d51009348

[2022-03-30 07:27] ripcurlx commented on #1044
As dev team lead I approve this compensation request for dev.

[2022-03-30 08:10] Emzy commented on #1044
As ops team lead I approve this compensation request for ops.

[2022-03-30 08:32] refund-agent2 commented on #1032
Txid `d9fda1ab0eb8c952af696c63747dcc00b6fcaa33cae970307fb4ea518772b719`

[2022-03-30 08:36] ripcurlx commented on #1041
TXID: `1384956e86818f083e59115b0fad0f4900606f7b605c6d370af437739ccea97f`

[2022-03-30 08:50] chimp1984 commented on #1034
@UX-P You need to make the compensation request in the Bisq app in the DAO section and then post the tx id here. If you have any questions how it works in details, just ping me on matrix.

[2022-03-30 10:17] ripcurlx commented on #1034
There is also documentation available here: https://bisq.wiki/Making_a_compensation_request

[2022-03-30 11:08] UX-P commented on #1034
I've actually already made a DAO request and I forgot to post the transaction ID, thanks for the reminder and the comments

[2022-03-30 11:09] UX-P commented on #1034
TXID:
4fff124d3bff89999c4ac1201b47125f6314444dba1cea09f13dcae5cb00ab36

[2022-03-30 11:42] MwithM commented on #1011
Please, next time, when a compensation request is not submitted open a new issue for that current cycle and also adjust rates while commenting that it failed to submit on the past cycle.
That way it's more organized, bot will work, it will be easier for DAO voting and the rates would be more adjusted to the current price.

[2022-03-30 11:42] ghost commented on #1011
## Info
Read BSQ amount from summary: 144
Read USD amount from summary: 180
Read BSQ rate from summary: 1.25
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":50}
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"ops","amount":30}

## Errors
Incorrect BSQ rate specified: 1.25, expected: 1.23
ERROR: Total BSQ does not match the sum of line items

[2022-03-30 15:14] leo816 commented on #1036
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-03-30 15:15] leo816 commented on #1024
Since there isn't a growth team lead yet, I approve this request from the growth side

[2022-03-30 15:16] leo816 commented on #1028
Since there isn't a growth team lead yet, I approve this request from the growth side

[2022-03-30 15:55] leo816 opened #1045 "For Cycle 34"
## Summary

- **BSQ requested**: **`[1626.01]`**
- USD requested: [2000]
- BSQ rate: [1.23] USD per BSQ
- Previous compensation request (if applicable): #1004

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1100  |  https://github.com/bisq-network/roles/issues/83#issuecomment-1082389417 | Cycle 34 Mediation tickets have decre

[2022-03-30 16:37] leo816 commented on #1045
TX id: 0010f9a8ace346ece5103337817ea0bf5d2ddec3ec8f0f6000a188b5dcc406da

[2022-03-30 17:50] ripcurlx commented on #1045
As dev team lead I approve this request.

[2022-03-30 19:42] alkum commented on #1013
TXID is `79ece0d1c24e8397ca696f5f5c724b239d7c829c3359f2c219420acc6bf03ee1`

[2022-04-07 14:58] MwithM commented on #1025
Closed as rejected (lack of quorum).

[2022-04-07 14:58] #1025 closed, assigned to ripcurlx, leo816

[2022-04-07 14:59] ghost commented on #1041
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|2909.04|3579.00|
|ops|60.96|75.00|

Total Issuance: 2970.00 BSQ (equivalent to: 3654.00 USD)

[2022-04-07 14:59] MwithM commented on #1041
Closed as accepted.

[2022-04-07 14:59] #1041 closed, assigned to sqrrm

[2022-04-07 15:00] ghost commented on #1024
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|162.40|200.00|
|growth|40.60|50.00|

Total Issuance: 203.00 BSQ (equivalent to: 250.00 USD)

[2022-04-07 15:00] MwithM commented on #1024
Closed as accepted.

[2022-04-07 15:00] #1024 closed, assigned to Emzy

[2022-04-07 15:00] ghost commented on #1028
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|162.40|200.00|
|growth|40.60|50.00|

Total Issuance: 203.00 BSQ (equivalent to: 250.00 USD)

[2022-04-07 15:00] MwithM commented on #1028
Closed as accepted.

[2022-04-07 15:00] #1028 closed, assigned to Emzy

[2022-04-07 15:00] ghost commented on #1031
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|894.00|1100.00|

Total Issuance: 894.00 BSQ (equivalent to: 1100.00 USD)

[2022-04-07 15:00] MwithM commented on #1031
Closed as accepted.

[2022-04-07 15:00] #1031 closed, assigned to ripcurlx

[2022-04-07 15:01] ghost commented on #1035
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|992.00|1220.00|

Total Issuance: 992.00 BSQ (equivalent to: 1220.00 USD)

[2022-04-07 15:01] MwithM commented on #1035
Closed as accepted.

[2022-04-07 15:01] #1035 closed, assigned to ripcurlx

[2022-04-07 15:01] ghost commented on #1039
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|349.55|430.00|
|support|406.45|500.00|

Total Issuance: 756.00 BSQ (equivalent to: 930.00 USD)

[2022-04-07 15:01] MwithM commented on #1039
Closed as accepted.

[2022-04-07 15:01] #1039 closed, assigned to ripcurlx

[2022-04-07 15:01] ghost commented on #1029
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1727.64|2125.00|
|admin|40.65|50.00|

Total Issuance: 1768.29 BSQ (equivalent to: 2175.00 USD)

[2022-04-07 15:01] MwithM commented on #1029
Closed as accepted.

[2022-04-07 15:01] #1029 closed, assigned to leo816

[2022-04-07 15:01] ghost commented on #1026
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|813.01|1000.00|

Total Issuance: 813.01 BSQ (equivalent to: 1000.00 USD)

[2022-04-07 15:01] MwithM commented on #1026
Closed as accepted.

[2022-04-07 15:01] #1026 closed, assigned to leo816

[2022-04-07 15:01] ghost commented on #1040
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1138.00|1400.00|

Total Issuance: 1138.00 BSQ (equivalent to: 1400.00 USD)

[2022-04-07 15:01] MwithM commented on #1040
Closed as accepted.

[2022-04-07 15:01] #1040 closed, assigned to nobody

[2022-04-07 15:02] ghost commented on #1042
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4878.05|6000.00|

Total Issuance: 4878.05 BSQ (equivalent to: 6000.00 USD)

[2022-04-07 15:02] MwithM commented on #1042
Closed as accepted.

[2022-04-07 15:02] #1042 closed, assigned to ripcurlx

[2022-04-07 15:02] ghost commented on #1043
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|40.65|50.00|

Total Issuance: 40.65 BSQ (equivalent to: 50.00 USD)

[2022-04-07 15:02] MwithM commented on #1043
Closed as accepted.

[2022-04-07 15:02] #1043 closed, assigned to Emzy

[2022-04-07 15:02] ghost commented on #1030
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1994.31|2453.00|

Total Issuance: 1994.31 BSQ (equivalent to: 2453.00 USD)

[2022-04-07 15:02] MwithM commented on #1030
Closed as accepted.

[2022-04-07 15:02] #1030 closed, assigned to ripcurlx

[2022-04-07 15:03] ghost commented on #1038
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|772.36|950.00|

Total Issuance: 772.36 BSQ (equivalent to: 950.00 USD)

[2022-04-07 15:03] MwithM commented on #1038
Closed as accepted.

[2022-04-07 15:03] #1038 closed, assigned to Emzy

[2022-04-07 15:03] ghost commented on #1033
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|10365.85|12750.00|

Total Issuance: 10365.85 BSQ (equivalent to: 12750.00 USD)

[2022-04-07 15:03] MwithM commented on #1033
Closed as accepted.

[2022-04-07 15:03] #1033 closed, assigned to ripcurlx

[2022-04-07 15:03] ghost commented on #1027
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|508.13|625.00|
|dev|69.11|85.00|

Total Issuance: 577.24 BSQ (equivalent to: 710.00 USD)

[2022-04-07 15:03] MwithM commented on #1027
Closed as accepted.

[2022-04-07 15:03] #1027 closed, assigned to ripcurlx, leo816

[2022-04-07 15:03] ghost commented on #1036
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|325.20|400.00|
|support|406.50|500.00|
|admin|93.50|115.00|

Total Issuance: 825.20 BSQ (equivalent to: 1015.00 USD)

[2022-04-07 15:03] MwithM commented on #1036
Closed as accepted.

[2022-04-07 15:03] #1036 closed, assigned to leo816

[2022-04-07 15:03] ghost commented on #1045
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1626.01|2000.00|

Total Issuance: 1626.01 BSQ (equivalent to: 2000.00 USD)

[2022-04-07 15:03] MwithM commented on #1045
Closed as accepted.

[2022-04-07 15:03] #1045 closed, assigned to nobody

[2022-04-07 15:04] ghost commented on #1013
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4715.44|5800.00|

Total Issuance: 4715.44 BSQ (equivalent to: 5800.00 USD)

[2022-04-07 15:04] MwithM commented on #1013
Closed as accepted.

[2022-04-07 15:04] #1013 closed, assigned to nobody

[2022-04-07 15:04] ghost commented on #1032
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1169.20|1438.10|

Total Issuance: 1169.20 BSQ (equivalent to: 1438.10 USD)

[2022-04-07 15:04] MwithM commented on #1032
Closed as accepted.

[2022-04-07 15:04] #1032 closed, assigned to leo816

[2022-04-07 15:04] ghost commented on #1034
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|740.65|911.00|

Total Issuance: 740.65 BSQ (equivalent to: 911.00 USD)

[2022-04-07 15:04] MwithM commented on #1034
Closed as accepted.

[2022-04-07 15:04] #1034 closed, assigned to ripcurlx, leo816

[2022-04-07 15:04] MwithM commented on #1044
Closed as accepted.

[2022-04-07 15:04] #1044 closed, assigned to ripcurlx

[2022-04-07 15:04] MwithM commented on #1011
Closed as accepted.

[2022-04-07 15:04] #1011 closed, assigned to ripcurlx, Emzy

[2022-04-07 15:06] MwithM commented on #1022
End of Cycle 34

[2022-04-07 15:06] #1022 closed, assigned to MwithM

[2022-04-07 15:07] MwithM commented on #1023
End of Cycle 34

[2022-04-07 15:07] #1023 closed, assigned to MwithM

[2022-04-07 15:12] MwithM opened #1046 "BSQ rate for Cycle 35 is 1.19 USD per BSQ"
The recommended rate to be used for compensation requests on Cycle 35 is **1.19 USD/BSQ.**

![image](https://user-images.githubusercontent.com/50149324/162232247-4a403671-2042-4e5d-b72b-f41f157543c0.png)

Rate for last cycle: #1022
More info about the Compensation process at https://bisq.wiki/Compensation

[2022-04-07 15:30] ghost commented on #1025
I'm quite disappointed that this request did not receive enough votes to pass (2 voted for and 3 abstained).  Thankyou to the 2 who voted for.  Normally I do not vote due to the feeling that my vote does not count.  I will resolve to commit my vote if opticbit can be persuaded to make another attempt in cycle 35.  But we need more people to **commit to voting for this.**

The reasons I am so posit

[2022-04-07 17:34] MwithM opened #1047 "Cycle 35 deadline is April 25"
The deadline for submitting compensations requests for review is **April 25**.

More details at: https://github.com/bisq-network/compensation/issues
[Calendar](https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe)

[2022-04-07 19:22] pazza83 commented on #1025
I think this showed good initiative. It was good to see it being posted about online.

I would encourage @opticbit to make a [proposal](https://bisq.wiki/Proposals) for any future plans for campaigns. You can see how to do so here:

The proposal process works well and if accepted as a proposal any compensation requests should be more a formality as you just need to demonstrate that you did as the

[2022-04-13 14:55] opticbit opened #1048 "For Cycle 35"
## Summary

- **BSQ requested**: **`1680`**
- BSQ address: Bbc1qkxvz0yatqfkv60xhveqfht823d23efkst2fk30
- USD requested: 2000.00
- BSQ rate: 1.19 USD per BSQ

## Contributions delivered

2.  Growth | $2000 | | to Taxi Ads Las Vegas for 25 trunk signs from Decmber 6 2021 to Jan 2 2022 with graphic created

Placed ads on taxis in Las Vegas.

1 5991 Whittlesea-Bell Transportation
2 5886 Whittlesea-Bel

[2022-04-14 14:18] ghost commented on #1048
### This needs community support in the voting process.

<details>
<summary>Examples in the wild (photos, reddit post)</summary>

![image](https://user-images.githubusercontent.com/47253594/163403623-ec607088-4646-461a-b0d6-301efc7a4679.png)

![image](https://user-images.githubusercontent.com/47253594/163397921-ca69efef-ff7e-47b7-84a3-847f7aea6c69.png)

https://old.reddit.com/r/Monero/comments/szp

[2022-04-21 19:06] alexej996 opened #1049 "For Cycle 35"
## Summary
This is a compensation request for work done in Cycle 34.

- **BSQ requested** : **210**
- USD requested: **250**
- BSQ rate: **1.19** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/1028

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bi

[2022-04-21 19:11] alexej996 commented on #1049
DAO txid: **6bb07f4c774e934e341a68da954c83b9677c2807d6b876b3f7ef352b67cc5e86**

[2022-04-22 08:16] w0000000t opened #1050 "For Cycle 35"
## Summary

- **BSQ requested**: **`[509.24]`**
- USD requested: [606]
- BSQ rate: [1.19] USD per BSQ
- Previous compensation request (if applicable): #  https://github.com/bisq-network/compensation/issues/1027

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| L1 support agent | support | 600 | [latest report](https://github.com/bisq-network/role

[2022-04-22 08:45] MwithM commented on #1047
3 days left reminder.

[2022-04-22 14:17] Emzy commented on #1049
As ops team lead I approve this compensation request for ops.

[2022-04-23 10:06] Emzy opened #1051 "For Cycle 35"
## Summary

- **BSQ requested**: **`924`**
- USD requested: 1100
- BSQ rate: 1.19 USD per BSQ
- Previous compensation request (if applicable): #1031

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 3* Seed node operator | ops* | 300 | bisq-network/roles#15 |  |
| Pricenode opera

[2022-04-24 02:44] wiz opened #1052 "For Cycle 35"
## Summary

* **BSQ requested**: **`1176`**
* USD requested: 1400
* BSQ rate: 1.19 USD per BSQ
* Previous compensation request (if applicable): #1040

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin Node Operat

[2022-04-24 10:26] Emzy commented on #1052
As ops team lead I approve this compensation request for ops.

[2022-04-24 13:55] UX-P opened #1053 "For Cycle 35"
## Summary

- **BSQ requested**: **`[1084.03]`**
- USD requested: [1290]
- BSQ rate: [1.19] USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| RT and NT journey wireframes | Growth | 200 | https://www.figma.com/proto/STtOMjF9ga8nJ1wivCplo5/RT-to-NT-User-Journey-(Short)?node-id=340%3A91

[2022-04-24 18:45] mrosseel opened #1054 "For Cycle 35"
## Summary

- **BSQ requested**: **`504`**
- USD requested: 600
- BSQ rate:  1.19 USD per BSQ
- Previous compensation request (if applicable):  https://github.com/bisq-network/compensation/issues/1015

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Pricenode operator | ops* | 100 | https://github.com/bisq-network/roles/issues/14#issuecomment-110

[2022-04-24 20:44] ghost commented on #1054
## Info
Read BSQ amount from summary: 504
Read USD amount from summary: 600
Read BSQ rate from summary: 1.19
Parsed lineitem: {"team":"ops","amount":0}
Parsed lineitem: {"team":"ops","amount":0}
Parsed lineitem: {"team":"ops","amount":0}

## Errors
Invalid amount specified: 2*50
Invalid amount specified: 2*150
Invalid amount specified: 2*100
ERROR: Total USD does not match the sum of line items:

[2022-04-24 22:10] Emzy commented on #1054
As ops team lead I approve this compensation request for ops.

[2022-04-25 01:43] alvasw opened #1055 "For Cycle 35"
## Summary

- **BSQ requested**: **`1642.86`**
- USD requested: 1955
- BSQ rate: 1.19 USD per BSQ
- Previous compensation request (if applicable): #1030

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Gradle Regtest: Add networkServiceConfig JVM args | dev | 4 | https://github.com/bisq-network/bisq2/pull/203 | Fix all broken regtest tasks. |
|

[2022-04-25 06:49] MwithM opened #1056 "For Cycle 35"
## Summary

- **BSQ requested**: **`655`**
- USD requested: 780USD
- BSQ rate: 1.19USD per BSQ
- Previous compensation request (if applicable): #1036

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 100 | https://github.com/bisq-network/roles/issues/95#issuecomment-1108130259 |  |
|Spanish Translation | Growth | 65 |

[2022-04-25 08:24] ripcurlx commented on #1055
@chimp1984: Could you please ACK this contribution? Thanks!

[2022-04-25 08:26] ripcurlx commented on #1053
I approve this compensation request for growth. 👍

[2022-04-25 08:39] chimp1984 commented on #1055
ACK

[2022-04-25 09:21] cbeams opened #1057 "For Cycle 35"
## Summary

- **BSQ requested**: 42
- USD requested: 50
- BSQ rate: [1.19](https://github.com/bisq-network/compensation/issues/1046) USD per BSQ
- Previous compensation request (if applicable): #1043

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 |  https://github.com/bisq-network/roles/issues/18#issuecomment-1108314942

[2022-04-25 09:36] cbeams commented on #1057
txid: `fe2db18aa1c156dee6794493a5a7b6854cabfc9bc2f604bb8609a173337452e9`

[2022-04-25 09:40] ripcurlx commented on #1055
Based on https://github.com/bisq-network/compensation/issues/1055#issuecomment-1108258209 I approve this compensation request for dev. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-04-25 13:39] mrosseel commented on #1054
txid: 2db22a0403d45324da82f08de6551a60a8d41e20655d9483f8614d169c75c5e5

[2022-04-25 14:01] devinbileck opened #1058 "For Cycle 35"
## Summary

- **BSQ requested**: **`798.32`**
- USD requested: 950
- BSQ rate: 1.19 USD per BSQ
- Previous compensation request (if applicable): #1038

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-1109364280 | 3 nodes
| Seed node operator | ops* |

[2022-04-25 14:34] Emzy commented on #1058
As ops team lead I approve this compensation request for ops.

[2022-04-25 17:59] UX-P commented on #1053
TXID:

e147ed62757079d08c28c5cbf0502391aedc7fb7ec1f1da75360c5ed0b731219

[2022-04-26 02:59] wiz commented on #1052
e92376b61e76dc59961b9d570cc6700603c37c1a58ff5330847782db5a949b47

[2022-04-26 05:55] devinbileck commented on #1058
d9ea21134ae64f1f35ec781cf51dd66eab82d42eca655231752f17f2f874c33c

[2022-04-26 07:01] MwithM commented on #1037
The deadline to submit this passed yesterday. Please submit it now or you'll have to submit it for next cycle.

[2022-04-26 08:38] Emzy commented on #1057
As ops team lead I approve this compensation request for ops.

[2022-04-26 08:50] refund-agent2 opened #1059 "For Cycle 35"
## Summary

- **BSQ requested**: **`1000.96`**
- USD requested: 1191.14
- BSQ rate: 1.19 USD per BSQ
- Previous compensation request (if applicable): #1032

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Refund Agent | *Support | 1191.14 | https://github.com/bisq-network/roles/issues/93#issuecomment-1109515981 |  |

## Contributions in progress

[2022-04-26 09:06] ripcurlx opened #1060 "For Cycle 35"
## Summary

- **BSQ requested**: **`4800`**
- USD requested: 5713
- BSQ rate: 1.19 USD per BSQ
- Previous compensation request (if applicable): #1041

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev* | 2280 | https://github.com/bisq-network/roles/issues/63#issuecomment-1109545609 |  |
| Bitcoin Fullnode Operator | op

[2022-04-26 09:19] alvasw commented on #1055
a362f499089836500f5a26240b0edd67ebb74039c5e30aa5b2b19d0cbe2a0d97

[2022-04-26 09:28] chimp1984 opened #1061 "For Cycle 35"
## Summary

- **BSQ requested**: **`8403.36`**
- USD requested: 10000
- BSQ rate: 1.19 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mulitple PRs | dev | 10000 | https://github.com/bisq-network/bisq2/pulls?page=1&q=is%3Apr+author%3Achimp1984 | https://github.com/bisq-network/bisq2/pull/174 - https://github.com/bisq-network/bisq2/pu

[2022-04-26 09:31] ripcurlx commented on #1061
As dev team lead I approve this compensation request for dev. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-04-26 09:32] Emzy commented on #1060
As ops team lead I approve this compensation request for ops.

[2022-04-26 10:04] chimp1984 commented on #1061
91e4aa6b575ec679fc2cc1f9a5d44e23a054c4160dcc4ba1d69be4b9b2761d0f

[2022-04-26 10:57] alkum opened #1062 "[WIP] For cycle 37"
## Summary

- **BSQ requested**: **`[BSQ amount]`**
- USD requested: [USD amount]
- BSQ rate: [rate] USD per BSQ
- Previous compensation request (if applicable): #1037

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Per-module logging | dev | 200 | https://github.com/bisq-network/bisq2/pull/306 | |
| | | |  | Small PRs. See total below.
| | dev

[2022-04-26 10:59] Emzy commented on #1051
TXID: 19d97d671bb76ccdc9342dce7fb7a817e54f23235c7603ce929016f427527419

[2022-04-26 12:03] alkum commented on #1037
@MwithM done, sorry for the delay

[2022-04-26 12:58] ghost opened #1063 "For Cycle 35"
## Summary

- **BSQ requested**: **`1512.61`**
- USD requested: 1800
- BSQ rate: 1.19 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/1039

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Support Bitcoin Core v22 RPC for JSON export | dev | 350 | https://github.com/bisq-network/bisq

[2022-04-27 07:08] ripcurlx commented on #1063
As dev team lead I approve this request for dev.

[2022-04-27 07:10] ripcurlx commented on #1037
@chimp1984 Could you please ACK this CR? Thanks!

[2022-04-27 13:13] chimp1984 commented on #1037
ACK

[2022-04-28 11:49] ripcurlx commented on #1037
As dev team lead based on https://github.com/bisq-network/compensation/issues/1037#issuecomment-1110985240 I approve this compensation request. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-04-28 16:07] alkum commented on #1037
TxID `d8946818af073c728ad70642b39160add4ff6b59f8476f62d765c08ce8679cd7`

[2022-04-28 18:39] burningman3 opened #1064 "For Cycle 35"
## Summary

- **BSQ requested**: **`[840.34]`**
- USD requested: [1000]
- BSQ rate: [1.19] USD per BSQ
- Previous compensation request (if applicable): #1026

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issuec

[2022-04-28 18:45] burningman3 commented on #1064
Tx ID: 9b46801cd80c5cb2b7bd98840cbc6ae4d42a81e2568739c84fe65895508e8dea

[2022-04-28 23:51] opticbit commented on #1048
In the dao now.  i need to take some time and review all the proposals, maybe others need more votes too.

[2022-04-29 07:05] ripcurlx commented on #1060
As I'm not sure if @sqrrm is making it in-time here's my transaction ID: `6df3e86ae55d92ffc0c76b9455fa7c1957acc33c54979d46a53dc2c1425ba652`

[2022-04-29 13:35] leo816 opened #1065 "For Cycle 35"
## Summary

- **BSQ requested**: **`[1764.70]`**
- USD requested: [2100]
- BSQ rate: [1.19] USD per BSQ
- Previous compensation request (if applicable): #1004

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1100  |  https://github.com/bisq-network/roles/issues/83#issuecomment-1113189265 | Cycle 35 Mediation tickets have incre

[2022-04-29 13:36] leo816 commented on #1064
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request.

[2022-04-29 13:36] leo816 commented on #1063
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-04-29 13:37] leo816 commented on #1059
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-04-29 13:37] leo816 commented on #1056
note that compensation for support agents has increased, My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-04-29 13:38] leo816 commented on #1050
Congrats on your work. My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-04-29 19:01] MwithM commented on #1056
Noted, I'll keep them under 600USD for a while.
txid: e86a594bdc0cb7e7aab607b8154ccacb1ab4d7eb5ab959dc3e829a5ccc8ba301

[2022-04-29 19:48] ghost commented on #1063
968c208a1fc2997c8430d90cbcb9d757a1907e9464d768ac35d151625f443925

[2022-04-30 05:58] w0000000t commented on #1050
5e5bac9cc7e83d9429651155572e28098bdbb8bd20cac519885b110fa6131eea

[2022-05-01 05:39] refund-agent2 commented on #1059
913134c8ca6c2a012923eae2a93c258ef9b4407f88d91f77d69077528b12fd77

[2022-05-01 13:13] ripcurlx commented on #1051
As dev team lead I approve this CR.

[2022-05-01 13:13] ripcurlx commented on #1065
As dev team lead I approve this CR for dev. Please submit your CR to the DAO for voting and post the transaction ID afterwards. Thanks!

[2022-05-01 13:18] sqrrm opened #1066 "For Cycle 35"
## Summary

- **BSQ requested**: **`126`**
- USD requested: 150
- BSQ rate: 1.19 USD per BSQ
- Previous compensation request (if applicable): #1044

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Bisq desktop maintainer | dev* | 0 |  |  |
|Bitcoin node maintainer | dev* | 50 | https://github.com/bisq-network/roles/issues/66#issuecomment-111423721

[2022-05-01 13:28] sqrrm commented on #1060
I approve this CR for dev.

[2022-05-01 14:00] Emzy commented on #1066
As ops team lead I approve this compensation request for ops.

[2022-05-01 14:11] sqrrm commented on #1066
810e89b363258b0e422814330b3642679c7ad09a89f237905e20ec76c1c3f9c6

[2022-05-01 21:04] pazza83 opened #1067 "For Cycle 35"
## Summary

- **BSQ requested**: **`[1,533.61]`**
- USD requested: [1825]
- BSQ rate: [1.19 USD/BSQ] USD per BSQ as per #1046
- Previous compensation request: #1029

## Contributions delivered for Cycle 35

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | *Support | 1100 | https://github.com/bisq-network/roles/issues/83#issuecomment-1107055891 | All going well with

[2022-05-01 21:08] pazza83 commented on #1067
Hi @leo816 sorry for leaving this late to submit.

I am posting the Tx ID here: 985ce93967b4c5f03b69ab6e8d69ce398f8a980f856eccafc2fd885c8dd28fe8

[2022-05-02 07:31] ripcurlx commented on #1066
As dev team lead I approve this compensation request for dev.

[2022-05-03 20:31] MwithM commented on #1048
@opticbit Is `08bc1625a0d29b9be7e9047599b18dac2d8ddd8b2d64670fbe7cc3fc0a6b67cf` the correct txid for your proposal?

[2022-05-05 07:47] opticbit commented on #1048
yes

yes

[2022-05-05 08:39] opticbit commented on #1048
txid: 08bc1625a0d29b9be7e9047599b18dac2d8ddd8b2d64670fbe7cc3fc0a6b67cf

[2022-05-09 08:48] MwithM commented on #1065
Closed as not submitted.
When resubmitted, the comensation BSQ/USD rates should be the ones at the moment of the new submission.

[2022-05-09 08:48] #1065 closed, assigned to ripcurlx

[2022-05-09 08:50] ghost commented on #1048
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|1680.00|2000.00|

Total Issuance: 1680.00 BSQ (equivalent to: 2000.00 USD)

[2022-05-09 08:50] MwithM commented on #1048
Closed as accepted.

[2022-05-09 08:50] #1048 closed, assigned to leo816

[2022-05-09 08:51] ghost commented on #1067
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1491.59|1775.00|
|admin|42.02|50.00|

Total Issuance: 1533.61 BSQ (equivalent to: 1825.00 USD)

[2022-05-09 08:52] MwithM commented on #1067
Closed as accepted.

[2022-05-09 08:52] #1067 closed, assigned to leo816

[2022-05-09 08:52] ghost commented on #1054
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|504.00|600.00|

Total Issuance: 504.00 BSQ (equivalent to: 600.00 USD)

[2022-05-09 08:52] MwithM commented on #1054
Closed as accepted.

[2022-05-09 08:52] #1054 closed, assigned to nobody

[2022-05-09 08:52] ghost commented on #1052
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1176.00|1400.00|

Total Issuance: 1176.00 BSQ (equivalent to: 1400.00 USD)

[2022-05-09 08:52] MwithM commented on #1052
Closed as accepted.

[2022-05-09 08:52] #1052 closed, assigned to Emzy

[2022-05-09 08:54] ghost commented on #1058
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|798.32|950.00|

Total Issuance: 798.32 BSQ (equivalent to: 950.00 USD)

[2022-05-09 08:54] MwithM commented on #1058
Closed as accepted.

[2022-05-09 08:54] #1058 closed, assigned to nobody

[2022-05-09 08:55] ghost commented on #1055
Invalid

[2022-05-09 08:55] MwithM commented on #1055
Closed as accepted.

[2022-05-09 08:55] #1055 closed, assigned to ripcurlx

[2022-05-09 08:55] ghost commented on #1057
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|42.00|50.00|

Total Issuance: 42.00 BSQ (equivalent to: 50.00 USD)

[2022-05-09 08:55] MwithM commented on #1057
Closed as accepted.

[2022-05-09 08:55] #1057 closed, assigned to Emzy

[2022-05-09 08:56] ghost commented on #1037
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|5630.25|6700.00|

Total Issuance: 5630.25 BSQ (equivalent to: 6700.00 USD)

[2022-05-09 08:56] MwithM commented on #1037
Closed as accepted.

[2022-05-09 08:56] #1037 closed, assigned to ripcurlx

[2022-05-09 08:56] ghost commented on #1063
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1008.41|1200.00|
|support|504.20|600.00|

Total Issuance: 1512.61 BSQ (equivalent to: 1800.00 USD)

[2022-05-09 08:56] MwithM commented on #1063
Closed as accepted.

[2022-05-09 08:56] #1063 closed, assigned to ripcurlx, leo816

[2022-05-09 08:56] ghost commented on #1061
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|8403.36|10000.00|

Total Issuance: 8403.36 BSQ (equivalent to: 10000.00 USD)

[2022-05-09 08:56] MwithM commented on #1061
Closed as accepted.

[2022-05-09 08:56] #1061 closed, assigned to ripcurlx

[2022-05-09 08:56] ghost commented on #1049
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|168.00|200.00|
|growth|42.00|50.00|

Total Issuance: 210.00 BSQ (equivalent to: 250.00 USD)

[2022-05-09 08:56] MwithM commented on #1049
Closed as accepted.

[2022-05-09 08:56] #1049 closed, assigned to Emzy

[2022-05-09 08:57] ghost commented on #1053
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|1084.03|1290.00|

Total Issuance: 1084.03 BSQ (equivalent to: 1290.00 USD)

[2022-05-09 08:57] MwithM commented on #1053
Closed as accepted.

[2022-05-09 08:57] #1053 closed, assigned to leo816

[2022-05-09 08:57] ghost commented on #1050
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|509.24|606.00|

Total Issuance: 509.24 BSQ (equivalent to: 606.00 USD)

[2022-05-09 08:57] MwithM commented on #1050
Closed as accepted.

[2022-05-09 08:57] #1050 closed, assigned to leo816

[2022-05-09 08:57] ghost commented on #1059
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1000.96|1191.14|

Total Issuance: 1000.96 BSQ (equivalent to: 1191.14 USD)

[2022-05-09 08:57] MwithM commented on #1059
Closed as accepted.

[2022-05-09 08:57] #1059 closed, assigned to leo816

[2022-05-09 08:58] ghost commented on #1056
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|138.56|165.00|
|support|419.87|500.00|
|admin|96.57|115.00|

Total Issuance: 655.00 BSQ (equivalent to: 780.00 USD)

[2022-05-09 08:58] MwithM commented on #1056
Closed as accepted.

[2022-05-09 08:58] #1056 closed, assigned to leo816

[2022-05-09 08:58] MwithM commented on #1064
Closed as accepted.

[2022-05-09 08:58] ghost commented on #1064
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|840.34|1000.00|

Total Issuance: 840.34 BSQ (equivalent to: 1000.00 USD)

[2022-05-09 08:58] #1064 closed, assigned to leo816

[2022-05-09 08:59] ghost commented on #1060
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4736.99|5638.00|
|ops|63.01|75.00|

Total Issuance: 4800.00 BSQ (equivalent to: 5713.00 USD)

[2022-05-09 08:59] MwithM commented on #1060
Closed as accepted.

[2022-05-09 08:59] #1060 closed, assigned to sqrrm

[2022-05-09 08:59] ghost commented on #1051
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|924.00|1100.00|

Total Issuance: 924.00 BSQ (equivalent to: 1100.00 USD)

[2022-05-09 08:59] MwithM commented on #1051
Closed as accepted.

[2022-05-09 08:59] #1051 closed, assigned to ripcurlx

[2022-05-09 08:59] ghost commented on #1066
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|42.00|50.00|
|ops|84.00|100.00|

Total Issuance: 126.00 BSQ (equivalent to: 150.00 USD)

[2022-05-09 08:59] MwithM commented on #1066
Closed as accepted.

[2022-05-09 08:59] #1066 closed, assigned to nobody

[2022-05-09 09:03] MwithM opened #1068 "BSQ rate for Cycle 36 is 1.22 USD per BSQ"
The recommended rate to be used for compensation requests on Cycle 36 is **1.22 USD/BSQ.**

![image](https://user-images.githubusercontent.com/50149324/167376980-f7e2de34-d7da-41ab-a1c8-f367aeba17a2.png)

Rate for last cycle: #1046
More info about the Compensation process at https://bisq.wiki/Compensation

[2022-05-09 09:08] MwithM commented on #1046
Closed as End of Cycle 35

[2022-05-09 09:08] #1046 closed, assigned to MwithM

[2022-05-09 09:09] MwithM opened #1069 "Cycle 36 deadline is May 27"
The deadline for submitting compensations requests for review is **May 27**.

More details at: https://github.com/bisq-network/compensation/issues
[Calendar](https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe)

[2022-05-09 09:09] ghost commented on #1069
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2022-05-09 09:12] MwithM commented on #1047
Closed as End of Cycle 35

[2022-05-09 09:12] #1047 closed, assigned to MwithM

[2022-05-09 10:38] alvasw commented on #1055
The compensation request transaction somehow never ended up in a block (see: https://mempool.space/tx/a362f499089836500f5a26240b0edd67ebb74039c5e30aa5b2b19d0cbe2a0d97). My Bisq node was getting out of sync a lot last month. It could have caused this. I will resubmit the compensation request next cycle.

@MwithM Can you mark this issue as "was:not submitted"? Thank you!

[2022-05-10 10:48] leo816 opened #1070 "For Cycle 36"
## Summary

- **BSQ requested**: **`[3360.65]`**
- USD requested: [4100]
- BSQ rate: [1.22] USD per BSQ
- Previous compensation request (if applicable): #1065

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1100  |  https://github.com/bisq-network/roles/issues/83#issuecomment-1113189265 | Cycle 35 Mediation tickets have incre

[2022-05-10 11:18] ghost opened #1071 "For Cycle 36"
## Summary

- **BSQ requested**: **`4328`**
- USD requested: 5280
- BSQ rate: 1.22 USD per BSQ
- Previous compensation request (if applicable): #1035

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| BSQ Total Supply chart | dev | 400 | https://github.com/bisq-network/bisq/pull/6106 | |
| Mark user's own offers in Market -> Offer book | dev | 100

[2022-05-11 05:49] MwithM commented on #1055
Closed as not submitted.

[2022-05-21 15:39] alexej996 opened #1072 "For Cycle 36"
## Summary
This is a compensation request for work done in Cycle 35.

- **BSQ requested** : **204**
- USD requested: **250**
- BSQ rate: **1.22** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/1049

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bi

[2022-05-21 15:43] alexej996 commented on #1072
DAO txid: **056daf1492d7cec10c06d9e87bea1f58b057a9fc5f7f21d9b0093ec8524d6b48**

[2022-05-24 14:13] paulmercier-bisq opened #1073 "For cycle 36"
## Summary

- **BSQ requested**: **`[53.76 BSQ]`**
- USD requested: [65.59 USD]
- BSQ rate: [1.22] USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/841

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Translation | support | 65.59 | https://imgur.com/a/OKydSke | N/A |

## Contributio

[2022-05-24 14:22] ghost commented on #1073
## Info
Read BSQ amount from summary: 53.76
Read USD amount from summary: 65.59
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"support","amount":6559}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 65.59 USD
   - Calculated total: 6559.00 USD

[2022-05-24 14:22] ghost commented on #1073
## Info
Read BSQ amount from summary: 53.76
Read USD amount from summary: 65.59
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"support","amount":6559}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 65.59 USD
   - Calculated total: 6559.00 USD

[2022-05-24 14:22] ghost commented on #1073
## Info
Read BSQ amount from summary: 53.76
Read USD amount from summary: 65.59
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"support","amount":6559}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 65.59 USD
   - Calculated total: 6559.00 USD

[2022-05-24 14:22] ghost commented on #1073
## Info
Read BSQ amount from summary: 53.76
Read USD amount from summary: 65.59
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"support","amount":6559}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 65.59 USD
   - Calculated total: 6559.00 USD

[2022-05-24 14:22] ghost commented on #1073
## Info
Read BSQ amount from summary: 53.76
Read USD amount from summary: 65.59
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"support","amount":6559}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 65.59 USD
   - Calculated total: 6559.00 USD

[2022-05-24 14:22] ghost commented on #1073
## Info
Read BSQ amount from summary: 53.76
Read USD amount from summary: 65.59
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"support","amount":6559}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 65.59 USD
   - Calculated total: 6559.00 USD

[2022-05-24 14:22] ghost commented on #1073
## Info
Read BSQ amount from summary: 53.76
Read USD amount from summary: 65.59
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"support","amount":6559}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 65.59 USD
   - Calculated total: 6559.00 USD

[2022-05-24 14:22] ghost commented on #1073
## Info
Read BSQ amount from summary: 53.76
Read USD amount from summary: 65.59
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"support","amount":6559}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 65.59 USD
   - Calculated total: 6559.00 USD

[2022-05-24 16:10] MwithM commented on #1069
3 days left reminder.

[2022-05-25 11:30] alvasw opened #1074 "For Cycle 36"
## Summary

- **BSQ requested**: **`3192.62`**
- USD requested: 3895
- BSQ rate: 1.22 USD per BSQ
- Previous compensation request (if applicable): #1030

My last compensation request was **not** properly **broadcasted** to the network. The compensation request never ended up in a block (see https://github.com/bisq-network/compensation/issues/1055#issuecomment-1120935103).

## Contributions deliver

[2022-05-25 17:50] Emzy opened #1075 "For Cycle 36"
## Summary

- **BSQ requested**: **`1163`**
- USD requested: 1420
- BSQ rate: 1.22 USD per BSQ
- Previous compensation request (if applicable): #| Monitoring Operator | ops* | 100 | bisq-network/roles#10 |  |

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 3* Seed node operator

[2022-05-25 20:43] devinbileck opened #1076 "For Cycle 36"
## Summary

- **BSQ requested**: **`983.61`**
- USD requested: 1200
- BSQ rate: 1.22 USD per BSQ
- Previous compensation request (if applicable): #1058

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-1137831940 | 3 nodes
| Seed node operator | ops*

[2022-05-26 08:35] Emzy commented on #1072
As ops team lead I approve this compensation request for ops.

[2022-05-26 08:36] Emzy commented on #1076
As ops team lead I approve this compensation request for ops.

[2022-05-26 10:20] w0000000t opened #1077 "For Cycle 36"
## Summary

- **BSQ requested**: **`[725.41]`**
- USD requested: [885]
- BSQ rate: [1.22] USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/1050

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| L1 support agent | support | 600 | [report](https://github.com/bisq-network/roles/issues/6

[2022-05-26 13:41] ghubstan opened #1078 "For Cycle 36"
## Summary

- **BSQ requested**: **1045.08**
- USD requested: 1275
- BSQ rate: 1.22 USD per BSQ
- Previous compensation request (if applicable): #1033

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
|	Create API cli and daemon releases as zip archives	|	dev	|	500	|	https://github.com/bisq-network/bisq/pull/6122	|	merged	|
|	Rename AustraliaPayidP

[2022-05-27 09:14] refund-agent2 opened #1079 "For Cycle 36"
## Summary

- **BSQ requested**: **`2046.62`**
- USD requested: 2496.88
- BSQ rate: 1.22 USD per BSQ
- Previous compensation request (if applicable): #1059

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Refunds | *Support | 2496.88 | https://github.com/bisq-network/roles/issues/93#issuecomment-1139405153 |  |

## Contributions in progress

[2022-05-27 20:16] UX-P opened #1080 "For Cycle 36"
## Summary

- **BSQ requested**: **`1588`**
- USD requested: 1937
- BSQ rate: 1.22 USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

|Title|Team|USD|Link|Notes|
|---|---|---|---|---|
|Navigation prototype and user journey|Growth|1314|[https://www.figma.com/proto/8nMQutdGan6leUCVgLVHpL/Side-Navigation-Update?node-id=103%3A834&scaling=contain&page-id=0%3A1&s

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:17] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:18] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:19] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:20] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"growth","amount":0}

## Errors
Invalid amount specified: $1314
Invalid amount specified: $223
Invalid amount specified: $400
ERROR: Total USD does not match the sum of

[2022-05-27 20:23] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:23] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:23] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:23] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD