[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:24] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:25] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:26] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:26] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:26] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:26] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:26] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:26] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:26] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:26] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:26] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:26] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:26] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:26] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-27 20:26] ghost commented on #1080
## Info
Read BSQ amount from summary: 1587.71
Read USD amount from summary: 1938
Read BSQ rate from summary: 1.22
Parsed lineitem: {"team":"growth","amount":1314}
Parsed lineitem: {"team":"growth","amount":223}
Parsed lineitem: {"team":"growth","amount":400}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 1938.00 USD
   - Calculated total: 1937.00 USD

[2022-05-28 00:08] ghost opened #1081 "For Cycle 36"
For Cycle 36

## Summary

- **BSQ requested**: **`1106.56`**
- USD requested: 1350
- BSQ rate: 1.22 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/1063

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Add popup reminder to inform users of trading rules | dev | 50 | https://github.c

[2022-05-28 07:47] leo816 commented on #1077
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-05-28 07:47] leo816 commented on #1079
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-05-28 07:48] leo816 commented on #1081
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-05-28 07:52] MwithM opened #1082 "For Cycle 36"
## Summary

- **BSQ requested**: **`491.8`**
- USD requested: 600USD
- BSQ rate: [1.22USD](https://github.com/bisq-network/compensation/issues/1068) per BSQ
- Previous compensation request (if applicable): #1056

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 75 | https://github.com/bisq-network/roles/issues/95#issu

[2022-05-28 07:52] w0000000t commented on #1077
should I also wait for approval regarding dev and growth requests?

[2022-05-28 16:45] w0000000t commented on #1077
I'll go ahead for now and will revisit my next CR in case something needs correcting

[2022-05-28 16:48] w0000000t commented on #1077
d9e6006b64fb36a433a11b52c83fa7f3099c6e83924848fd507657d4556bbeb4

[2022-05-28 17:28] burningman3 opened #1083 "For Cycle 36"
## Summary

- **BSQ requested**: **`[819.67]`**
- USD requested: [1000]
- BSQ rate: [1.22] USD per BSQ
- Previous compensation request (if applicable): #1064

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issuec

[2022-05-28 17:31] burningman3 commented on #1083
Tx ID: 70d25d150602eefb43b6e1cd62a3f8d97a92a093d5ed8a6c55d1389f289a415c

[2022-05-28 17:42] MwithM commented on #1077
There's no growth team lead, maybe @leo816 wants to approve that part. Dev part is small so it doesn't seem a big deal, but I should have waited before marking it as review completed.

[2022-05-28 17:48] w0000000t commented on #1077
I am happy to adjust my next CR with lower amounts if needed. I do expect to get more active on twitter, and I'll have managed the account for the whole cycle, so the next amount I expect will be higher, yet I can revisit it if asked.

[2022-05-28 23:32] UX-P commented on #1080
TXID: 6e072157e90ad9a0ee4d587198eaf570db2050c3e23e2459e14800bc40b7f763

[2022-05-29 07:11] cbeams opened #1084 "For Cycle 36"
## Summary

- **BSQ requested**: 41
- USD requested: 50
- BSQ rate: [1.22](https://github.com/bisq-network/compensation/issues/1068) USD per BSQ
- Previous compensation request (if applicable): #1057

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 |  https://github.com/bisq-network/roles/issues/18#issuecomment-1140392130

[2022-05-29 07:17] cbeams commented on #1084
txid: `45d89a3afe540a765e33fe73ce509d37e7eeb9025365e2687ae2d0fda644aa3a`

[2022-05-29 14:59] chimp1984 opened #1085 "For Cycle 36"
## Summary

- **BSQ requested**: **`4098.36`**
- USD requested: 5000
- BSQ rate: 1.22 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mulitple PRs | dev | 5000 | https://github.com/bisq-network/bisq2/pulls?page=1&q=is%3Apr+author%3Achimp1984 | https://github.com/bisq-network/bisq2/pull/283 - https://github.com/bisq-network/bisq2/pull

[2022-05-29 15:18] wiz opened #1086 "For Cycle 36"
## Summary

* **BSQ requested**: **`1147`**
* USD requested: 1400
* BSQ rate: 1.22 USD per BSQ
* Previous compensation request (if applicable): #1052

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin Node Operat

[2022-05-29 15:37] Emzy commented on #1086
As ops team lead I approve this compensation request for ops.

[2022-05-29 15:38] Emzy commented on #1084
As ops team lead I approve this compensation request for ops.

[2022-05-29 15:42] Emzy commented on #1075
TXID: f73c08080113b1eb11b1ba5a3f21b0fca56a4234d1fe115d25d116bf5eb070c9

[2022-05-29 15:54] wiz commented on #1086
553c5347164c4bdec06fa12199b5af81b186cab808512d18e8ad43e3eeb7abe7

[2022-05-29 17:30] chimp1984 commented on #1085
TxID: c8303f28f0e1ec966edbef0cd02e12784d3bbc1f8d9bd78f5ce59e604c8ba5f8

[2022-05-30 04:12] devinbileck commented on #1076
f0671176465474ee5fda8b757b7b3854bd52085beafdc5ebd2d211e752f98ac8

[2022-05-30 07:34] ripcurlx commented on #1076
As dev team lead I approve this compensation request for dev.

[2022-05-30 07:34] ripcurlx commented on #1085
As dev team lead I approve this compensation request for dev.

[2022-05-30 07:35] ripcurlx commented on #1080
As dev team lead I approve this compensation request for dev.

[2022-05-30 07:35] ripcurlx commented on #1077
As dev team lead I approve this compensation request for dev.

[2022-05-30 07:37] ripcurlx commented on #1081
As dev team lead I approve this compensation request for dev.

[2022-05-30 07:37] ripcurlx commented on #1081
...and your dev compensation requests are too low as always!

[2022-05-30 07:42] ripcurlx commented on #1078
As dev team lead I approve this compensation request for dev. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-05-30 07:46] ripcurlx commented on #1074
@chimp1984 Could you please ACK this CR for the Bisq2 contributions? Thanks!

[2022-05-30 08:09] chimp1984 commented on #1074
ACK

[2022-05-30 08:11] chimp1984 commented on #1071
ACK for Bisq2 work.

[2022-05-30 08:13] chimp1984 commented on #1081
Agree.

[2022-05-30 08:45] ripcurlx commented on #1071
As dev team lead I approve this compensation request for dev based on https://github.com/bisq-network/compensation/issues/1071#issuecomment-1140841459. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-05-30 08:46] ripcurlx commented on #1074
As dev team lease I approve this compensation request for dev based on https://github.com/bisq-network/compensation/issues/1074#issuecomment-1140839806. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-05-30 10:27] leo816 commented on #1082
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-05-30 12:09] ghost commented on #1071
TXID: d27ce15a9894b4dfc20da7171e20957f7f1ca0c8f61a642f3c83bbb052b6fd44

[2022-05-30 12:21] ghubstan commented on #1078
83a9aef27a08c1596598a0373f2b3cb88ff7200daff0add9dcacbc79274dcf43

[2022-05-30 15:01] MwithM commented on #1082
tixd: `b9c72f2b294464908d6d64713b313dae2b27a6e3751af871c0fadd49505644f3`

[2022-05-30 19:18] ripcurlx commented on #1075
As dev team lead I approve this compensation request.

[2022-05-31 09:58] alvasw commented on #1074
7e9751e8b004d54859f8e479b2c67b8a122e4b9e33c52c0288532ff4e3fa122b

[2022-05-31 11:26] sqrrm opened #1087 "For Cycle 36"
## Summary

- **BSQ requested**: **`123`**
- USD requested: 150
- BSQ rate: 1.22 USD per BSQ
- Previous compensation request (if applicable): #1066

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Bisq desktop maintainer | dev* | 0 |  |  |
|Bitcoin node maintainer | dev* | 50 | https://github.com/bisq-network/roles/issues/66#issuecomment-114201694

[2022-05-31 11:28] Emzy commented on #1087
As ops team lead I approve this compensation request for ops.

[2022-05-31 11:42] ripcurlx commented on #1070
As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting. Thanks!

[2022-05-31 11:43] leo816 commented on #1070
Proposal tx id: 645242630db0cf3ff796a830c85b30ecb9e501e09b3f7b930579477b266bfb78

[2022-05-31 13:21] sqrrm commented on #1087
e4f78b22e8e691c05b4de248e42295f3453b29e0ebd4587edbdbee96a0429d65

[2022-05-31 15:46] refund-agent2 commented on #1079
62f039ac99fed685adfd68089a96481827bcfc315af9dde7d9b99001f4d57965

[2022-05-31 18:46] ripcurlx commented on #1087
As dev team lead I approve this compensation request for dev.

[2022-06-01 07:29] ripcurlx opened #1088 "For Cycle 37"
## Summary

- **BSQ requested**: **`7601`**
- USD requested: 7830
- BSQ rate: 1.03 USD per BSQ
- Previous compensation request (if applicable): #1060

As I missed the deadline for Cycle 36, I submit a compound compensation request for Cycle 36 and Cycle 37

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer  | dev* | 2430 | h

[2022-06-01 15:16] pazza83 opened #1089 "For Cycle 36"
## Summary

- **BSQ requested**: **`[1495.9]`**
- USD requested: [1825]
- BSQ rate: [1.22 USD/BSQ] USD per BSQ as per #1068
- Previous compensation request: #1067

## Contributions delivered for Cycle 36

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | *Support | 1100 | https://github.com/bisq-network/roles/issues/83#issuecomment-1133512193 | Pretty busy cycle thi

[2022-06-01 15:17] ghost commented on #1089
## Info
Read BSQ amount from summary: 1495.9
Read USD amount from summary: 1825
Read BSQ rate from summary: 1.122
Parsed lineitem: {"team":"support","amount":1100}
Parsed lineitem: {"team":"support","amount":600}
Parsed lineitem: {"team":"admin","amount":50}
Parsed lineitem: {"team":"support","amount":75}

## Errors
Incorrect BSQ rate specified: 1.122, expected: 1.22

[2022-06-01 15:17] ghost commented on #1089
## Info
Read BSQ amount from summary: 1495.9
Read USD amount from summary: 1825
Read BSQ rate from summary: 1.122
Parsed lineitem: {"team":"support","amount":1100}
Parsed lineitem: {"team":"support","amount":600}
Parsed lineitem: {"team":"admin","amount":50}
Parsed lineitem: {"team":"support","amount":75}

## Errors
Incorrect BSQ rate specified: 1.122, expected: 1.22

[2022-06-01 15:17] ghost commented on #1089
## Info
Read BSQ amount from summary: 1495.9
Read USD amount from summary: 1825
Read BSQ rate from summary: 1.122
Parsed lineitem: {"team":"support","amount":1100}
Parsed lineitem: {"team":"support","amount":600}
Parsed lineitem: {"team":"admin","amount":50}
Parsed lineitem: {"team":"support","amount":75}

## Errors
Incorrect BSQ rate specified: 1.122, expected: 1.22

[2022-06-01 15:17] ghost commented on #1089
## Info
Read BSQ amount from summary: 1495.9
Read USD amount from summary: 1825
Read BSQ rate from summary: 1.122
Parsed lineitem: {"team":"support","amount":1100}
Parsed lineitem: {"team":"support","amount":600}
Parsed lineitem: {"team":"admin","amount":50}
Parsed lineitem: {"team":"support","amount":75}

## Errors
Incorrect BSQ rate specified: 1.122, expected: 1.22

[2022-06-01 15:25] ghost commented on #1089
## Info
Read BSQ amount from summary: 1495.9
Read USD amount from summary: 1825
Read BSQ rate from summary: 1.122
Parsed lineitem: {"team":"support","amount":1100}
Parsed lineitem: {"team":"support","amount":600}
Parsed lineitem: {"team":"admin","amount":50}
Parsed lineitem: {"team":"support","amount":75}

## Errors
Incorrect BSQ rate specified: 1.122, expected: 1.22

[2022-06-01 15:25] ghost commented on #1089
## Info
Read BSQ amount from summary: 1495.9
Read USD amount from summary: 1825
Read BSQ rate from summary: 1.122
Parsed lineitem: {"team":"support","amount":1100}
Parsed lineitem: {"team":"support","amount":600}
Parsed lineitem: {"team":"admin","amount":50}
Parsed lineitem: {"team":"support","amount":75}

## Errors
Incorrect BSQ rate specified: 1.122, expected: 1.22

[2022-06-01 15:25] ghost commented on #1089
## Info
Read BSQ amount from summary: 1495.9
Read USD amount from summary: 1825
Read BSQ rate from summary: 1.122
Parsed lineitem: {"team":"support","amount":1100}
Parsed lineitem: {"team":"support","amount":600}
Parsed lineitem: {"team":"admin","amount":50}
Parsed lineitem: {"team":"support","amount":75}

## Errors
Incorrect BSQ rate specified: 1.122, expected: 1.22

[2022-06-01 15:25] ghost commented on #1089
## Info
Read BSQ amount from summary: 1495.9
Read USD amount from summary: 1825
Read BSQ rate from summary: 1.122
Parsed lineitem: {"team":"support","amount":1100}
Parsed lineitem: {"team":"support","amount":600}
Parsed lineitem: {"team":"admin","amount":50}
Parsed lineitem: {"team":"support","amount":75}

## Errors
Incorrect BSQ rate specified: 1.122, expected: 1.22

[2022-06-01 15:27] #1089 closed, assigned to nobody

[2022-06-01 15:27] pazza83 opened #1090 "For Cycle 36"
## Summary

- **BSQ requested**: **`[1495.9]`**
- USD requested: [1825]
- BSQ rate: [1.22 USD/BSQ] USD per BSQ as per #1068
- Previous compensation request: #1067

## Contributions delivered for Cycle 36

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | *Support | 1100 | https://github.com/bisq-network/roles/issues/83#issuecomment-1133512193 | Pretty busy cycle thi

[2022-06-02 03:54] ghost commented on #1081
f46cde7b0eea6f2190ad8b789cd4f74a4f32475c66b3f11c69637881f2ec8310

[2022-06-02 13:53] leo816 commented on #1090
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-06-05 23:14] pazza83 commented on #1090
Apologies I missed submitting this in time. I will resubmit next cycle

[2022-06-06 08:01] MwithM commented on #1090
Pity. Remember that you'll have to open a new issue and use different rates, the rates for Cycle 37 that are still to be determined. You can choose between creating two different compensation requests or merging this with the compensation request for the tasks at Cycle 37.

[2022-06-08 17:35] opticbit opened #1091 "[WIP] For Cycle 37"
## Summary

- **BSQ requested**: **`[1]`**
- USD requested: [1.22]
- BSQ rate: [rate] USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Consultant | dev | 1.22 | meet.jit.si/ redacted | 1hr discussion on CBM security |

## Contributions in progress

[2022-06-10 20:30] MwithM commented on #1073
Close as not submitted. If it's resubmitted on cycle 37, the new BSQ rate should be used.

[2022-06-10 20:30] #1073 closed, assigned to nobody

[2022-06-10 20:33] MwithM commented on #1070
Was rejected due to lack of quorum.

[2022-06-10 20:33] #1070 closed, assigned to nobody

[2022-06-10 20:34] MwithM commented on #1080
Was rejected due to lack of quorum.

[2022-06-10 20:34] #1080 closed, assigned to leo816

[2022-06-10 20:34] MwithM commented on #1083
Was rejected due to lack of quorum.

[2022-06-10 20:34] #1083 closed, assigned to leo816

[2022-06-10 20:35] MwithM commented on #1074
Was rejected due to lack of quorum.

[2022-06-10 20:35] #1074 closed, assigned to ripcurlx

[2022-06-10 20:35] MwithM commented on #1078
Was rejected due to lack of quorum.

[2022-06-10 20:35] #1078 closed, assigned to nobody

[2022-06-10 20:36] MwithM commented on #1071
Rejected due to lack of quorum.

[2022-06-10 20:36] #1071 closed, assigned to nobody

[2022-06-10 20:36] MwithM commented on #1077
Rejected due to lack of quorum.

[2022-06-10 20:36] #1077 closed, assigned to ripcurlx, leo816

[2022-06-10 20:37] ghost commented on #1076
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|778.69|950.00|
|dev|204.92|250.00|

Total Issuance: 983.61 BSQ (equivalent to: 1200.00 USD)

[2022-06-10 20:37] MwithM commented on #1076
Was accepted.

[2022-06-10 20:37] #1076 closed, assigned to Emzy

[2022-06-10 20:37] ghost commented on #1072
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|163.20|200.00|
|growth|40.80|50.00|

Total Issuance: 204.00 BSQ (equivalent to: 250.00 USD)

[2022-06-10 20:38] MwithM commented on #1072
Was accepted.

[2022-06-10 20:38] #1072 closed, assigned to nobody

[2022-06-10 20:39] MwithM commented on #1090
Closed as not submitted.

[2022-06-10 20:39] #1090 closed, assigned to leo816

[2022-06-10 20:39] ghost commented on #1082
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|61.48|75.00|
|support|409.83|500.00|
|admin|20.49|25.00|

Total Issuance: 491.80 BSQ (equivalent to: 600.00 USD)

[2022-06-10 20:39] MwithM commented on #1082
Was accepted.

[2022-06-10 20:39] #1082 closed, assigned to leo816

[2022-06-10 20:40] ghost commented on #1086
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1147.00|1400.00|

Total Issuance: 1147.00 BSQ (equivalent to: 1400.00 USD)

[2022-06-10 20:40] MwithM commented on #1086
Was accepted.

[2022-06-10 20:40] #1086 closed, assigned to nobody

[2022-06-10 20:40] ghost commented on #1084
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|41.00|50.00|

Total Issuance: 41.00 BSQ (equivalent to: 50.00 USD)

[2022-06-10 20:40] MwithM commented on #1084
Was accepted.

[2022-06-10 20:40] #1084 closed, assigned to Emzy

[2022-06-10 20:40] ghost commented on #1075
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1163.00|1420.00|

Total Issuance: 1163.00 BSQ (equivalent to: 1420.00 USD)

[2022-06-10 20:40] MwithM commented on #1075
Was accepted.

[2022-06-10 20:40] #1075 closed, assigned to ripcurlx

[2022-06-10 20:40] ghost commented on #1087
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|41.00|50.00|
|ops|82.00|100.00|

Total Issuance: 123.00 BSQ (equivalent to: 150.00 USD)

[2022-06-10 20:40] MwithM commented on #1087
Was accepted.

[2022-06-10 20:40] #1087 closed, assigned to nobody

[2022-06-10 20:40] ghost commented on #1079
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2046.62|2496.88|

Total Issuance: 2046.62 BSQ (equivalent to: 2496.88 USD)

[2022-06-10 20:41] MwithM commented on #1079
Was accepted.

[2022-06-10 20:41] #1079 closed, assigned to leo816

[2022-06-10 20:41] ghost commented on #1081
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|614.76|750.00|
|support|491.80|600.00|

Total Issuance: 1106.56 BSQ (equivalent to: 1350.00 USD)

[2022-06-10 20:41] MwithM commented on #1081
Was accepted.

[2022-06-10 20:41] #1081 closed, assigned to leo816

[2022-06-10 20:50] MwithM opened #1092 "BSQ rate for Cycle 37 is 1.03 USD per BSQ"
The recommended rate to be used for compensation requests on Cycle 37 is **1.03 USD/BSQ.**

![image](https://user-images.githubusercontent.com/50149324/173147516-a48b0681-19be-4e83-a5f6-e4721f91a186.png)

Rate for last cycle: #1068
More info about the Compensation process at https://bisq.wiki/Compensation

[2022-06-10 20:50] MwithM commented on #1068
Closed as End of cycle 36.

[2022-06-10 20:50] #1068 closed, assigned to MwithM

[2022-06-10 20:54] MwithM commented on #1085
Closed as accepted.

[2022-06-10 20:54] #1085 closed, assigned to nobody

[2022-06-10 21:01] MwithM commented on #1092
_Outlier threshold for BSQ rate_ at _Settings_ displayed exactly the same results wether at 5% or 20% at DAO dashboard for two or three cycles. @jmacxx will investigate if there is something wrong.

Relevant pull request: https://github.com/bisq-network/bisq/pull/4706

[2022-06-10 21:04] MwithM opened #1093 "Cycle 37 deadline is June 28"
The deadline for submitting compensations requests for review is **June 28**.

More details at: https://github.com/bisq-network/compensation/issues
[Calendar](https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe)

[2022-06-10 21:05] MwithM commented on #1069
Closed as End of cycle 36

[2022-06-10 21:05] #1069 closed, assigned to MwithM

[2022-06-21 01:04] alexej996 opened #1094 "For Cycle 37"
## Summary
This is a compensation request for work done in Cycle 36.

- **BSQ requested** : **242**
- USD requested: **250**
- BSQ rate: **1.03** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/1072

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bi

[2022-06-21 01:07] alexej996 commented on #1094
DAO txid: **9b2d4e8b0541d14eb2b1865bbb069c2c9c20b023f5fa03676d43f9e738cb7c29**

[2022-06-24 08:51] Emzy commented on #1094
As ops team lead I approve this compensation request for ops.

[2022-06-25 16:46] MwithM commented on #1093
3 days left

[2022-06-26 08:37] ghost opened #1095 "For Cycle 37"
## Summary

- **BSQ requested**: **`6680`**
- USD requested: 6880
- BSQ rate: 1.03 USD per BSQ
- Previous compensation request (if applicable): #1071 (rejected because lack of qourum)

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| BSQ Total Supply chart | dev | 400 | https://github.com/bisq-network/bisq/pull/6106 | |
| Mark user's own offers i

[2022-06-26 12:33] w0000000t opened #1096 "For Cycle 37"
## Summary

- **BSQ requested**: **`[1587.38]`**
- USD requested: [1635]
- BSQ rate: [1.03] USD per BSQ
- Previous compensation request (if applicable): # https://github.com/bisq-network/compensation/issues/1077

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| L1 support agent | support | 600 | [report](https://github.com/bisq-network/roles/issu

[2022-06-26 12:42] w0000000t commented on #1091
That was a cheap private consultation! ;-) You should update the BSQ rate to 1.03USD, also it would be uneconomical/impossible to request such compensation as you will have to pay 2BSQ on minting, plus 100sats as minting cost which is below dust limit, and also less than the 282sats fee at 2sat/vB from Bisq application. Also, dust limit on BSQ is 5.46.
So I'd say, go for at least 10BSQ.

[2022-06-27 02:20] alvasw opened #1097 "For Cycle 37"
## Summary

- **BSQ requested**: **`8150.49`**
- USD requested: 8395
- BSQ rate: 1.03 USD per BSQ
- Previous compensation request (if applicable): #1074

This compensation request contains work from the **last 3 cycles**.

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Add Electrum RPC and Notification Support | dev | | https://github.com/bisq-

[2022-06-27 05:43] wiz opened #1098 "For Cycle 37"
## Summary

* **BSQ requested**: **`1359`**
* USD requested: 1400
* BSQ rate: 1.03 USD per BSQ
* Previous compensation request (if applicable): #1086

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin Node Operat

[2022-06-27 08:50] Emzy opened #1099 "For Cycle 37"
## Summary

- **BSQ requested**: **`1563`**
- USD requested: 1610
- BSQ rate: 1.03 USD per BSQ
- Previous compensation request (if applicable): #1075

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 3* Seed node operator | ops* | 300 | bisq-network/roles#15 |  |
| Pricenode oper

[2022-06-27 09:07] ripcurlx commented on #1097
@chimp1984 Could you please ACK the Bisq 2 related contributions? Thanks!

[2022-06-27 09:33] ripcurlx commented on #1095
@chimp1984: Could you please ACK all Bisq 2 related contributions? Thanks!

[2022-06-27 09:51] chimp1984 commented on #1097
ACK

[2022-06-27 11:52] ripcurlx commented on #1097
As dev team lead, based on https://github.com/bisq-network/compensation/issues/1097#issuecomment-1167136137, I approve this compensation request for dev. Please submit your CR to the DAO for voting and post the transaction ID as a comment. Thanks!

[2022-06-27 12:10] UX-P opened #1100 "For Cycle 37"
## Summary

- **BSQ requested**: **`[2322]`**
- USD requested: [2392]
- BSQ rate: [1.03] USD per BSQ
- Previous compensation request (if applicable): # Includes [For Cycle 36
](https://github.com/bisq-network/compensation/issues/1080)

## Contributions delivered

|Title|Team|USD|Link|Notes|
|---|---|---|---|---|
|Navigation prototype and user journey|Growth|1314|[https://www.figma.com/proto/8nMQut

[2022-06-27 12:30] ripcurlx commented on #1100
As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting and post your transaction ID as a comment afterwards. Thanks!

[2022-06-27 13:39] UX-P commented on #1100
e063c7334d4ff72a7dbbccd6e3406718bd8e6601d2a2fd20b0b0f7999b3891c2

[2022-06-27 14:48] ghubstan opened #1101 "For Cycle 37"
## Summary

- **BSQ requested**: **`5242.72`**
- USD requested: 5400
- BSQ rate: 1.03 USD per BSQ
- Previous compensation request (if applicable): #1078

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Create API cli and daemon releases as zip archives | dev | 500 | https://github.com/bisq-network/bisq/pull/6122 | merged |
| Rename AustraliaPayi

[2022-06-27 16:15] Emzy commented on #1098
As ops team lead I approve this compensation request for ops.

[2022-06-27 16:16] Emzy commented on #1088
As ops team lead I approve this compensation request for ops.

[2022-06-27 16:17] Emzy commented on #1094
As ops team lead I approve this compensation request for ops.

[2022-06-27 18:09] wiz commented on #1098
272210cef0540033016befc2583c218371698e03d8ea1bfb557e6574f04474bc

[2022-06-27 22:01] leo816 commented on #1096
Please clarify on the second L1 support agent CR that it's related to cycle 37, same with the twitter co-Admin. My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-06-28 03:50] alvasw commented on #1097
32ca606db0fd92deeb68f6357e475acdc2abd8d7a1ef0420746944a08088bc1c

[2022-06-28 06:09] w0000000t commented on #1096
@ripcurlx are you also okay with the additional request for 1.9.3 testing?

[2022-06-28 06:35] devinbileck opened #1102 "For Cycle 37"
## Summary

- **BSQ requested**: **`922.33`**
- USD requested: 950
- BSQ rate: 1.03 USD per BSQ
- Previous compensation request (if applicable): #1076

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-1168312144 | 3 nodes
| Seed node operator | ops* |

[2022-06-28 11:37] MwithM opened #1103 "For Cycle 37"
## Summary

- **BSQ requested**: **`582.52`**
- USD requested: 600USD
- BSQ rate: [1.03USD](https://github.com/bisq-network/compensation/issues/1092) per BSQ
- Previous compensation request (if applicable): #1082

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 75 | https://github.com/bisq-network/roles/issues/95#iss

[2022-06-28 11:49] Emzy commented on #1102
As ops team lead I approve this compensation request for ops.

[2022-06-28 11:54] ripcurlx commented on #1096
I just checked your notes on Testpad and they are looking fine, so as dev team lead I approve this compensation request for dev.

[2022-06-28 11:57] ripcurlx commented on #1101
@ghubstan I think the contributions residing in your personal repository should be compensated as soon as they are merged into the Bisq repository fork. WDYT?

[2022-06-28 11:58] ripcurlx commented on #1099
As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting and post the transaction  ID here afterwards. Thanks!

[2022-06-28 12:06] ghubstan commented on #1101
I agree.  And they have been merged into https://github.com/bisq-network/bisq-api-reference :: main.

[2022-06-28 14:15] ghost opened #1104 "For Cycle 37"
## Summary

- **BSQ requested**: **`2281.55`**
- USD requested: 2350
- BSQ rate: 1.03 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/1081

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Pricenode: configurable exclusion by provider currency | dev | 150 | https://github.com/bisq-ne

[2022-06-28 14:16] ghost commented on #1103
Title `For Cycle 38` error?

[2022-06-28 17:21] cbeams opened #1105 "For Cycle 37"
## Summary

- **BSQ requested**: 49
- USD requested: 50
- BSQ rate: [1.03](https://github.com/bisq-network/compensation/issues/1092) USD per BSQ
- Previous compensation request (if applicable): #1084

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 |  https://github.com/bisq-network/roles/issues/18#issuecomment-1169016414

[2022-06-28 17:53] devinbileck commented on #1102
1301cdf36ee34fb8abb9796fd799402c426143d7111e1081ff7a04c15b0295c9

[2022-06-28 18:27] Emzy commented on #1105
As ops team lead I approve this compensation request for ops.

[2022-06-28 18:44] ripcurlx commented on #1104
As dev team lead I approve this compensation request for dev. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-06-28 19:25] w0000000t commented on #1096
c64c851e7714fb6645064690471ba4f475d6970fd14f394fa84d27cb7824f685

[2022-06-29 04:46] cbeams commented on #1105
txid: `7de86e249ba96610ebb92dd5bcc0a1c99931009a397db962e17cad9362189968`

[2022-06-29 08:35] sqrrm opened #1106 "For Cycle 37"
## Summary

- **BSQ requested**: **`291`**
- USD requested: 300
- BSQ rate: 1.03 USD per BSQ
- Previous compensation request (if applicable): #1087

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Bisq desktop maintainer Cycle 36 | dev* | 0 |  |  |
|Bitcoin node maintainer Cycle 36 | dev* | 50 | https://github.com/bisq-network/roles/issues/66#issu

[2022-06-29 08:39] sqrrm commented on #1106
fb09ccec34f4dc45b6d941e38dd9f050203be2e510a3d03dc75d39b9802eed55

[2022-06-29 08:40] Emzy commented on #1106
As ops team lead I approve this compensation request for ops.

[2022-06-29 12:30] Emzy commented on #1099
edd212dbbdd77a24d1bc4780c0b8ff817865f1a8c6e571b431300b01776d082d

[2022-06-29 16:38] MwithM commented on #1104
@leo816 still has some review to do for support.

[2022-06-29 17:43] chimp1984 opened #1107 "For Cycle 37"
## Summary

- **BSQ requested**: **`9708.74`**
- USD requested: 10000
- BSQ rate: 1.03 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mulitple PRs for Bisq 2 | dev | 8000 | https://github.com/bisq-network/bisq2/pulls?page=1&q=is%3Apr+author%3Achimp1984 | https://github.com/bisq-network/bisq2/pull/347 - https://github.com/bisq-networ

[2022-06-29 18:15] chimp1984 commented on #1107
TxID: 0738d8baee28c7bafa5efab8b8bdc960bfffafab81f1b476f00ce222edc5a8d5

[2022-06-29 20:51] salokiam opened #1108 "For Cycle 37"
## Summary

- **BSQ requested**: **`1553.40`**
- USD requested: 1600
- BSQ rate: 1.03 USD per BSQ
- Previous compensation request (if applicable): -

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- |------|----:| --- |-------|
| Chat API and Offer API templates for using Dto Classes in constructing further web APIs | dev  | 800 | https://github.com/bisq-network/bisq2/pull/3

[2022-06-29 21:09] chimp1984 commented on #1108
ACK

[2022-06-29 21:34] chimp1984 commented on #1095
ACK

[2022-06-29 22:02] salokiam commented on #1108
taking chances and doing the Tx already:
398e567fc59d115e671ab81e30b40a58516983b4374ce0d580dd36b0d3c322a6

[2022-06-30 08:31] ghost commented on #1095
TXID: 8b21f7fcab6264930d6d8f3ca58dfee1db31364624f6afd3f492ba07dcb1d6fd

[2022-06-30 16:28] pazza83 opened #1109 "For Cycle 37"
## Summary

- **BSQ requested**: **`[2912.6]`**
- USD requested: [3000]
- BSQ rate: [1.03 USD/BSQ] USD per BSQ as per #1092
- Previous compensation request: #1089

I am submitting requests for both cycle 36 and 37 this cycle as I did not complete my previous compensation proposal in time for cycle 36.

## Contributions delivered for Cycle 36

 Title | Team | USD | Link | Notes |
| --- | --- | ---

[2022-06-30 17:56] leo816 opened #1110 "For Cycle 37"
## Summary

- **BSQ requested**: **`[6165.04]`**
- USD requested: [6350]
- BSQ rate: [1.03] USD per BSQ
- Previous compensation request (if applicable): #1070

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1100  |  https://github.com/bisq-network/roles/issues/83#issuecomment-1113189265 | Cycle 35 Mediation tickets have incre

[2022-06-30 18:09] refund-agent2 opened #1111 "For Cycle 37"
## Summary

- **BSQ requested**: **`1731.15`**
- USD requested: 1783.08
- BSQ rate: 1.03 USD per BSQ
- Previous compensation request (if applicable): #1079

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Refunds | *Support | 1783.08 | https://github.com/bisq-network/roles/issues/93#issuecomment-1171507706 |  |

## Contributions in progress

[2022-06-30 18:12] ripcurlx commented on #1107
As dev team lead I approve this compensation request for dev.

[2022-06-30 18:13] ripcurlx commented on #1095
As dev team lead I approve this compensation request for dev.

[2022-06-30 18:15] ripcurlx commented on #1101
Missed that - I approve this compensation request for dev. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-06-30 19:33] ghubstan commented on #1101
a082e850a688d94e07d5358d116a8aae7a55785cc654d81fcfe9c2a27483a227

[2022-07-04 15:03] c4talys7 opened #1112 "For Cycle 37"
## Summary

- **BSQ requested**: **`970.87`**
- USD requested: 1000.00
- BSQ rate: 1.03 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Implementation of OpenTimestamps | dev | 1000 | https://github.com/bisq-network/bisq2/pull/372 | https://github.com/bisq-network/bisq2/issues/231

## Contributions in progress

Working on I2P issue

[2022-07-04 15:03] ghost commented on #1112
## Info
Read BSQ amount from summary: 97087
Read USD amount from summary: 100000
Read BSQ rate from summary: 103
Parsed lineitem: {"team":"dev","amount":1000}

## Errors
Incorrect BSQ rate specified: 103, expected: 1.03
ERROR: Total USD does not match the sum of line items:
   - Summary total: 100000.00 USD
   - Calculated total: 1000.00 USD

[2022-07-04 15:08] chimp1984 commented on #1112
ACK

[2022-07-04 18:02] leo816 commented on #1103
Note that compensation for the support agent role has increased. My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-07-04 18:02] leo816 commented on #1104
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-07-04 18:09] leo816 commented on #1109
Although you may not have joined some of the calls and perhaps were not as active as usual, Im sure you had to deal with x3 of the support requests through matrix and support tickets due to the tor bug. Will leave it up to you to consider but I would say that not getting a compensation for this cycle is not fair on your side. My [Team Lead](https://bisq.wiki/Compensation#Team_Lead) review is compl

[2022-07-04 18:25] pazza83 commented on #1109
Thanks for the comments, I am happy not to claim for support agent work this cycle. I will be back to normal next cycle.

Tx ID: db7b4cae8118a3c144eaee5c829dcf5f23e9620279b4095f6649ef02bc33976e

[2022-07-04 18:31] c4talys7 commented on #1112
Tx. ID: a0ac1c8e3f7ef1ad1cd211b7876545f83ee7ac50e508bea510b65de6bb99cca8

[2022-07-04 19:08] leo816 commented on #1111
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-07-04 20:23] refund-agent2 commented on #1111
txid: 563e416e597d22059c807406d8ddf0009c10e4af5e1a591afb5ec16c96785253

[2022-07-05 04:43] ghost commented on #1104
f5de7ed042e66cfbff5af341d9d2ddd373793fe144760e33169916738e6d2d2f

[2022-07-05 07:02] ripcurlx commented on #1112
As dev team lead I approve this compensation request for dev based on https://github.com/bisq-network/compensation/issues/1112#issuecomment-1173922268.
@c4talys7 Next time please submit your CR in-time so there is enough time for review and discussion. Thanks!

[2022-07-05 07:07] ripcurlx commented on #1110
As dev team lead I approve this compensation request for dev. Please submit your compensation request for voting to the DAO and post the transaction ID afterwards here. Thanks!

[2022-07-05 09:41] MwithM commented on #1103
`c497ef3874883ca160d545b3b43dff060ccb328b92558ec93f5a364e7860f65f`

[2022-07-05 12:16] leo816 commented on #1110
6de724b8defcc5652772b765b6ab2627adc404bcce7975f25c8caa24942117d3

[2022-07-07 19:50] devinbileck commented on #1106
@sqrrm is there a reason you are requesting compensation for cycle 36 here even though your previous CR for cycle 36 was accepted?

[2022-07-07 19:56] ripcurlx commented on #1088
TxID: e6acdaeb49cb04dee2170d53446aa2b280c6840247847b7e189ec1a4016f111b

[2022-07-08 19:20] ripcurlx commented on #1108
As dev team lead I approve this compensation request for dev based on https://github.com/bisq-network/compensation/issues/1108?utm_source=desktop-client&utm_medium=in-app-link&utm_campaign=language_en#issuecomment-1170495840.

[2022-07-14 06:49] MwithM commented on #1091
Closed as not submitted.

[2022-07-14 06:49] #1091 closed, assigned to nobody

[2022-07-14 06:50] MwithM commented on #1062
Closed as not submitted.

[2022-07-14 06:50] #1062 closed, assigned to nobody

[2022-07-14 06:50] ghost commented on #1094
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|193.60|200.00|
|growth|48.40|50.00|

Total Issuance: 242.00 BSQ (equivalent to: 250.00 USD)

[2022-07-14 06:50] MwithM commented on #1094
Closed as accepted.

[2022-07-14 06:50] #1094 closed, assigned to Emzy

[2022-07-14 06:51] ghost commented on #1097
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|8150.49|8395.00|

Total Issuance: 8150.49 BSQ (equivalent to: 8395.00 USD)

[2022-07-14 06:51] MwithM commented on #1097
Closed as accepted.

[2022-07-14 06:51] #1097 closed, assigned to nobody

[2022-07-14 06:51] ghost commented on #1098
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1359.00|1400.00|

Total Issuance: 1359.00 BSQ (equivalent to: 1400.00 USD)

[2022-07-14 06:51] MwithM commented on #1098
Closed as accepted.

[2022-07-14 06:51] #1098 closed, assigned to Emzy

[2022-07-14 06:51] ghost commented on #1100
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|2322.00|2392.00|

Total Issuance: 2322.00 BSQ (equivalent to: 2392.00 USD)

[2022-07-14 06:52] MwithM commented on #1100
Closed as accepted.

[2022-07-14 06:52] #1100 closed, assigned to nobody

[2022-07-14 06:52] ghost commented on #1102
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|922.33|950.00|

Total Issuance: 922.33 BSQ (equivalent to: 950.00 USD)

[2022-07-14 06:52] MwithM commented on #1102
Closed as accepted.

[2022-07-14 06:52] #1102 closed, assigned to Emzy

[2022-07-14 06:52] ghost commented on #1105
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|49.00|50.00|

Total Issuance: 49.00 BSQ (equivalent to: 50.00 USD)

[2022-07-14 06:52] MwithM commented on #1105
Closed as accepted.

[2022-07-14 06:52] #1105 closed, assigned to Emzy

[2022-07-14 06:52] ghost commented on #1108
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1553.40|1600.00|

Total Issuance: 1553.40 BSQ (equivalent to: 1600.00 USD)

[2022-07-14 06:52] MwithM commented on #1108
Closed as accepted.

[2022-07-14 06:52] #1108 closed, assigned to ripcurlx

[2022-07-14 06:52] ghost commented on #1101
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|5242.72|5400.00|

Total Issuance: 5242.72 BSQ (equivalent to: 5400.00 USD)

[2022-07-14 06:52] MwithM commented on #1101
Closed as accepted.

[2022-07-14 06:52] #1101 closed, assigned to nobody

[2022-07-14 06:52] ghost commented on #1112
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|970.87|1000.00|

Total Issuance: 970.87 BSQ (equivalent to: 1000.00 USD)

[2022-07-14 06:53] MwithM commented on #1112
Closed as accepted.

[2022-07-14 06:53] #1112 closed, assigned to nobody

[2022-07-14 06:53] ghost commented on #1096
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1199.03|1235.00|
|dev|131.07|135.00|
|growth|257.28|265.00|

Total Issuance: 1587.38 BSQ (equivalent to: 1635.00 USD)

[2022-07-14 06:53] MwithM commented on #1096
Closed as accepted.

[2022-07-14 06:53] #1096 closed, assigned to ripcurlx, leo816

[2022-07-14 06:53] ghost commented on #1099
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1097.01|1130.00|
|dev|465.99|480.00|

Total Issuance: 1563.00 BSQ (equivalent to: 1610.00 USD)

[2022-07-14 06:53] MwithM commented on #1099
Closed as accepted.

[2022-07-14 06:53] #1099 closed, assigned to ripcurlx

[2022-07-14 06:54] ghost commented on #1095
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|6680.00|6880.00|

Total Issuance: 6680.00 BSQ (equivalent to: 6880.00 USD)

[2022-07-14 06:54] MwithM commented on #1095
Closed as accepted.

[2022-07-14 06:54] #1095 closed, assigned to ripcurlx

[2022-07-14 06:54] ghost commented on #1107
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|9708.74|10000.00|

Total Issuance: 9708.74 BSQ (equivalent to: 10000.00 USD)

[2022-07-14 06:54] MwithM commented on #1107
Closed as accepted.

[2022-07-14 06:54] #1107 closed, assigned to ripcurlx

[2022-07-14 06:54] ghost commented on #1104
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1699.03|1750.00|
|support|582.52|600.00|

Total Issuance: 2281.55 BSQ (equivalent to: 2350.00 USD)

[2022-07-14 06:54] MwithM commented on #1104
Closed as accepted.

[2022-07-14 06:54] #1104 closed, assigned to ripcurlx, leo816

[2022-07-14 06:54] ghost commented on #1106
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|97.00|100.00|
|ops|194.00|200.00|

Total Issuance: 291.00 BSQ (equivalent to: 300.00 USD)

[2022-07-14 06:54] MwithM commented on #1106
Closed as accepted.

[2022-07-14 06:54] #1106 closed, assigned to ripcurlx, Emzy

[2022-07-14 06:54] ghost commented on #1103
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|72.81|75.00|
|support|485.43|500.00|
|admin|24.27|25.00|

Total Issuance: 582.52 BSQ (equivalent to: 600.00 USD)

[2022-07-14 06:54] MwithM commented on #1103
Closed as accepted.

[2022-07-14 06:54] #1103 closed, assigned to leo816

[2022-07-14 06:54] ghost commented on #1110
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|6165.04|6350.00|

Total Issuance: 6165.04 BSQ (equivalent to: 6350.00 USD)

[2022-07-14 06:54] MwithM commented on #1110
Closed as accepted.

[2022-07-14 06:54] #1110 closed, assigned to ripcurlx

[2022-07-14 06:54] ghost commented on #1109
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2864.06|2950.00|
|admin|48.54|50.00|

Total Issuance: 2912.60 BSQ (equivalent to: 3000.00 USD)

[2022-07-14 06:54] MwithM commented on #1109
Closed as accepted.

[2022-07-14 06:54] #1109 closed, assigned to leo816

[2022-07-14 06:55] ghost commented on #1111
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1731.15|1783.08|

Total Issuance: 1731.15 BSQ (equivalent to: 1783.08 USD)

[2022-07-14 06:55] MwithM commented on #1111
Closed as accepted.

[2022-07-14 06:55] #1111 closed, assigned to leo816

[2022-07-14 06:56] ghost commented on #1088
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|7080.68|7294.00|
|ops|520.32|536.00|

Total Issuance: 7601.00 BSQ (equivalent to: 7830.00 USD)

[2022-07-14 06:56] MwithM commented on #1088
Closed as accepted.

[2022-07-14 06:56] #1088 closed, assigned to sqrrm

[2022-07-14 06:58] #1092 closed, assigned to MwithM

[2022-07-14 07:00] MwithM opened #1113 "BSQ rate for Cycle 38 is 0.75 USD per BSQ"
The recommended rate to be used for compensation requests on Cycle 38 is **0.75 USD/BSQ.**

![image](https://user-images.githubusercontent.com/50149324/178921219-0f1a6d55-a6f8-40af-b104-2887960a0637.png)

Rate for last cycle: #1092
More info about the Compensation process at https://bisq.wiki/Compensation

[2022-07-14 07:03] MwithM opened #1114 "Cycle 38 deadline is August 1"
The deadline for submitting compensations requests for review is **August 1**.

More details at: https://github.com/bisq-network/compensation/issues
[Calendar](https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe)

[2022-07-14 07:03] ghost commented on #1114
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2022-07-14 07:05] #1093 closed, assigned to MwithM

[2022-07-21 16:41] alexej996 opened #1115 "For Cycle 38"
## Summary
This is a compensation request for work done in Cycle 37.

- **BSQ requested** : **333**
- USD requested: **250**
- BSQ rate: **0.75** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/1094

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bi

[2022-07-21 16:41] ghost commented on #1115
## Info
Read BSQ amount from summary: 333
Read USD amount from summary: 250
Read BSQ rate from summary: 0.75
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"growth","amount":50}
Parsed lineitem: {"team":"ops","amount":100}

## Errors
Incorrect BSQ rate specified: 0.75, expected: 1.03
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 333.00 BSQ
   - C

[2022-07-21 16:47] alexej996 commented on #1115
DAO txid: **8c71b094cb1155c2d9417534ad8c43f616c7d1e255ccbbb6e015ecd8d5627a30**

[2022-07-21 17:01] ghost commented on #1115
## Info
Read BSQ amount from summary: 335
Read USD amount from summary: 250
Read BSQ rate from summary: 0.75
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"growth","amount":50}
Parsed lineitem: {"team":"ops","amount":100}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 335.00 BSQ
   - Calculated total: 333.33 BSQ

[2022-07-21 17:02] ghost commented on #1115
## Info
Read BSQ amount from summary: 383
Read USD amount from summary: 250
Read BSQ rate from summary: 0.75
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"growth","amount":50}
Parsed lineitem: {"team":"ops","amount":100}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 383.00 BSQ
   - Calculated total: 333.33 BSQ

[2022-07-21 20:47] MwithM commented on #1115
@jmacxx Do you know why the bot takes Cycle 37 rates?

[2022-07-21 22:37] ghost commented on #1115
Just needed a restart to pick up the new rates.

[2022-07-29 08:16] w0000000t opened #1116 "For Cycle 38"
## Summary

- **BSQ requested**: **`[818.67]`**
- USD requested: [614]
- BSQ rate: [0.75] USD per BSQ
- Previous compensation request (if applicable): #  https://github.com/bisq-network/compensation/issues/1096

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| L1 support agent | support | 600 | [report](https://github.com/bisq-network/roles/issue

[2022-07-29 08:16] ghost commented on #1116
## Info
Read BSQ amount from summary: 81867
Read USD amount from summary: 614
Read BSQ rate from summary: 0.75
Parsed lineitem: {"team":"support","amount":600}
Parsed lineitem: {"team":"support","amount":5}
Parsed lineitem: {"team":"support","amount":6}
Parsed lineitem: {"team":"dev","amount":3}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 81867.00 BSQ
   -

[2022-07-29 20:02] MwithM commented on #1114
3 days left for submitting compensation requests.

[2022-07-31 06:15] cbeams opened #1117 "For Cycle 38"
## Summary

- **BSQ requested**: 67
- USD requested: 50
- BSQ rate: [0.75](https://github.com/bisq-network/compensation/issues/1113) USD per BSQ
- Previous compensation request (if applicable): #1105

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 |  https://github.com/bisq-network/roles/issues/18#issuecomment-1200357854

[2022-07-31 13:37] ghubstan opened #1118 "For Cycle 38"
## Summary

- **BSQ requested**: **`9333.33`**
- USD requested: 7000
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #1101

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
|	Prepare Bisq for bitcoin-core v23 compatiblity	|	dev	|	300	|	https://github.com/bisq-network/bisq/pull/6219	|	merged	|
|	Update API test-guide an

[2022-07-31 13:37] ghost commented on #1118
## Info
Read BSQ amount from summary: 100
Read USD amount from summary: 75
Read BSQ rate from summary: 0.75

## Errors
No compensation lineitems found.

[2022-08-01 05:06] devinbileck opened #1119 "For Cycle 38"
## Summary

- **BSQ requested**: **`2600`**
- USD requested: 1950
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #1102

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-1200715054 | 3 nodes
| Seed node operator | ops* |

[2022-08-01 08:24] Emzy commented on #1119
As ops team lead I approve this compensation request for ops.

[2022-08-01 08:29] Emzy opened #1120 "For Cycle 38"
## Summary

- **BSQ requested**: **`1466`**
- USD requested: 1100
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #1099

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 3* Seed node operator | ops* | 300 | bisq-network/roles#15 |  |
| Pricenode oper

[2022-08-01 14:38] alvasw opened #1121 "For Cycle 38"
## Summary

- **BSQ requested**: **`8000`**
- USD requested: 6000
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #1097

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Set Java 11 as Compilation Target | dev | | https://github.com/bisq-network/bisq2/pull/408 | We need to target Java 11 for Android Support. |
| buil

[2022-08-01 16:03] ghost opened #1122 "For Cycle 38"
## Summary

- **BSQ requested**: **`1600`**
- USD requested: 1200
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/1104

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Fix NPE in account name creation | dev | 100 | https://github.com/bisq-network/bisq/pull/6289 | 1.

[2022-08-01 18:39] pazza83 opened #1123 "For Cycle 38"
## Summary

- **BSQ requested**: **`[2633.33]`**
- USD requested: [1975]
- BSQ rate: [0.75 USD/BSQ] USD per BSQ as per #1113
- Previous compensation request: #1109

## Contributions delivered for Cycle 38

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | *Support | 1100 | https://github.com/bisq-network/roles/issues/83#issuecomment-1190931874 | 74 tickets closed th

[2022-08-01 20:29] refund-agent2 opened #1124 "For Cycle 38"
## Summary

- **BSQ requested**: **`3188`**
- USD requested: 2391
- BSQ rate:  0.75USD per BSQ
- Previous compensation request (if applicable): #1111

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Refunds | *Support | 2391 | https://github.com/bisq-network/roles/issues/93#issuecomment-1201632612 |  |

## Contributions in progress

[2022-08-01 20:29] ghost commented on #1124
## Info
Read BSQ amount from summary: 3188
Read USD amount from summary: 2391
Read BSQ rate from summary: 0.75
Parsed lineitem: {"team":"support","amount":3291}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 2391.00 USD
   - Calculated total: 3291.00 USD

[2022-08-01 22:42] chimp1984 opened #1125 "For Cycle 38"
## Summary

- **BSQ requested**: **`21333.33`**
- USD requested: 16000
- BSQ rate: 0.75 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mulitple PRs for Bisq 2 | dev | 16000 | https://github.com/bisq-network/bisq2/pulls?page=1&q=is%3Apr+author%3Achimp1984 | https://github.com/bisq-network/bisq2/pull/415 - https://github.com/bisq-netw

[2022-08-02 01:25] c4talys7 opened #1126 "For Cycle 38"
## Summary

- **BSQ requested**: **`5500.00`**
- USD requested: 4125.00
- BSQ rate: 0.75 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Fixes to I2P identity matching to address | dev | 0 | https://github.com/bisq-network/bisq2/pull/450 | merged |
| Improvements and fixes to I2P implementation | dev | 4125 | https://github.com/bisq

[2022-08-02 09:52] chimp1984 commented on #1126
ACK

[2022-08-02 09:52] chimp1984 commented on #1121
ACK

[2022-08-02 11:58] MwithM commented on #1124
Parsing bot failed because you used 3291 instead of 2391 at the table. Please fix it.

[2022-08-02 13:14] Emzy commented on #1115
As ops team lead I approve this compensation request for ops.

[2022-08-03 13:08] sqrrm opened #1127 "For Cycle 38"
## Summary

- **BSQ requested**: **`0`**
- USD requested: 0
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #1106

## Contributions delivered

I ask nothing for this cycle due to requesting twice for Cycle 36, https://github.com/bisq-network/compensation/issues/1106#issuecomment-1178147764. It looked like my request for Cycle 36 had failed, but with a DAO resync I see

[2022-08-03 15:42] mrosseel opened #1128 "For Cycle 38"
## Summary

- **BSQ requested**: **`1133.33`**
- USD requested:  850
- BSQ rate:  0.75 USD per BSQ
- Previous compensation request (if applicable):  https://github.com/bisq-network/compensation/issues/1015

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Pricenode operator | ops* | 150 | https://github.com/bisq-network/roles/issues/14#issuecommen

[2022-08-03 15:48] ghost commented on #1128
## Info
Read BSQ amount from summary: 637.5
Read USD amount from summary: 850
Read BSQ rate from summary: 0.75
Parsed lineitem: {"team":"ops","amount":150}
Parsed lineitem: {"team":"ops","amount":400}
Parsed lineitem: {"team":"ops","amount":300}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 637.50 BSQ
   - Calculated total: 1133.33 BSQ

[2022-08-03 15:48] ghost commented on #1128
## Info
Read BSQ amount from summary: 637.5
Read USD amount from summary: 850
Read BSQ rate from summary: 0.75
Parsed lineitem: {"team":"ops","amount":150}
Parsed lineitem: {"team":"ops","amount":400}
Parsed lineitem: {"team":"ops","amount":300}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 637.50 BSQ
   - Calculated total: 1133.33 BSQ

[2022-08-03 15:48] ghost commented on #1128
## Info
Read BSQ amount from summary: 637.5
Read USD amount from summary: 850
Read BSQ rate from summary: 0.75
Parsed lineitem: {"team":"ops","amount":150}
Parsed lineitem: {"team":"ops","amount":400}
Parsed lineitem: {"team":"ops","amount":300}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 637.50 BSQ
   - Calculated total: 1133.33 BSQ

[2022-08-03 15:48] ghost commented on #1128
## Info
Read BSQ amount from summary: 637.5
Read USD amount from summary: 850
Read BSQ rate from summary: 0.75
Parsed lineitem: {"team":"ops","amount":150}
Parsed lineitem: {"team":"ops","amount":400}
Parsed lineitem: {"team":"ops","amount":300}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 637.50 BSQ
   - Calculated total: 1133.33 BSQ

[2022-08-03 16:46] MwithM opened #1129 "For Cycle 38"
## Summary

- **BSQ requested**: **`766.67`**
- USD requested: 575
- BSQ rate: [0.75](https://github.com/bisq-network/compensation/issues/1113) per BSQ
- Previous compensation request (if applicable): #1103

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 50 | https://github.com/bisq-network/roles/issues/95#issuecomm

[2022-08-03 20:41] cbeams commented on #1117
txid: `02e1443188612317ea46b4f44067e7642779ca4ea8c642be70964de7d207571c`

[2022-08-04 09:08] Emzy commented on #1128
As ops team lead I approve this compensation request for ops.
Please try to do your requests regularly.

[2022-08-04 09:14] Emzy commented on #1120
TXID: 7c7d1e2041088bb3e544db19c2539d57d238bdf85c7eb0f90578e78472d8523a

[2022-08-04 12:18] leo816 opened #1130 "For Cycle 38"
## Summary

- **BSQ requested**: **`[2666.66]`**
- USD requested: [2000]
- BSQ rate: [0.75] USD per BSQ
- Previous compensation request (if applicable): #1070

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1100  |  https://github.com/bisq-network/roles/issues/83#issuecomment-1191367004 | Cases have decreased from previous cy

[2022-08-04 12:19] leo816 commented on #1129
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-08-04 12:20] leo816 commented on #1116
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-08-04 12:20] leo816 commented on #1122
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-08-04 12:20] leo816 commented on #1123
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-08-04 16:26] mrosseel commented on #1128
txid: 3218fd4ea22c901aa2ad958cb0163e1b86170bd8dc0c8c1844dcc1b4fe766aa2

[2022-08-04 16:43] pazza83 commented on #1123
Tx ID: fa37916fafbf3a47c756b5fc36afba91768aae1d2a8cdd1802a2b55c4f078e1a

[2022-08-04 18:04] ripcurlx commented on #1130
As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-08-04 18:05] ripcurlx commented on #1127
Nothing to approve here for me 😄

[2022-08-04 18:05] w0000000t commented on #1116
9d8e3b22971d8e916fa0867c9fd322680919ef36f943cb9d61ce3b42af7126fd

[2022-08-04 18:06] ripcurlx commented on #1126
As dev team lead I approve this compensation request for dev based on https://github.com/bisq-network/compensation/issues/1126#issuecomment-1202269485. Please submit your compensation request to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-08-04 18:06] ripcurlx commented on #1125
As dev team lead I approve this compensation request for dev. Please submit your compensation request to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-08-04 18:07] ripcurlx commented on #1122
As dev team lead I approve this compensation request for dev. Please submit your compensation request to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-08-04 18:08] ripcurlx commented on #1121
As dev team lead I approve this compensation request for dev based on https://github.com/bisq-network/compensation/issues/1121#issuecomment-1202269893. Please submit your compensation request to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-08-04 18:08] ripcurlx commented on #1120
As dev team lead I approve this compensation request.

[2022-08-04 18:09] ripcurlx commented on #1119
As dev team lead I approve this compensation request for dev. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-08-04 18:11] ripcurlx commented on #1118
As dev team lead I approve this compensation request for dev. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-08-04 19:38] ghubstan commented on #1118
8c7ac177ae510b5c7224ac585627d23107843f0207736028d2f38ea2fa838ac5

[2022-08-05 09:01] leo816 commented on #1124
please fix. My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-08-05 09:32] leo816 commented on #1130
90c7a095732077b946132d10bb62d53f4d1194c5c8db07b3970f05f8685dd2d8

[2022-08-05 10:05] alvasw commented on #1121
f217e0f8cb8b529597ec9f7f4ef76f2e1dc8178633f2fbe237fcc1bb3461bd3f

[2022-08-05 16:32] refund-agent2 commented on #1124
Fixed and submitted.
Txid is 98a06ea9d050c9b4f805849111fc6f1264ffeb4ab9e7679e93ad9b902b992942

[2022-08-06 02:57] wiz opened #1131 "For Cycle 38"
## Summary

* **BSQ requested**: **`1866`**
* USD requested: 1400
* BSQ rate: 0.75 USD per BSQ
* Previous compensation request (if applicable): #1098

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin Node Operat

[2022-08-06 12:24] Emzy commented on #1131
As ops team lead I approve this compensation request for ops.

[2022-08-06 13:17] MwithM commented on #1129
`678153095cbdda9610123f0820027767e88b09c760db7902456325294e8b20b9 `

[2022-08-06 20:32] wiz commented on #1131
392219d93d947eb642d9a5c2dbcb3b6b75b28676e678d2c687e6245b16a827aa

[2022-08-07 04:15] devinbileck commented on #1119
39990236d4beba108c3d41051603bed42a449b8fea7f9e63a6c13caec4c4a36e

[2022-08-07 06:50] MwithM commented on #1122
Please post here the txid if you already submitted the proposal. @jmacxx

[2022-08-07 06:51] MwithM commented on #1125
Please submit the txid for this proposal.

[2022-08-07 06:51] MwithM commented on #1126
Please comment here the txid for this proposal.

[2022-08-07 10:34] chimp1984 commented on #1125
61e43ed54ed9b8b74b82ab7811353aeac0b1b2a19607b339e17badf81b3e50c4

[2022-08-07 13:58] c4talys7 commented on #1126
Tx. id: a648e332f11a0ae029e9a6c765708083ad3dc1aee7c772651852531953068ae4

[2022-08-07 17:20] burningman3 opened #1132 "For Cycle 38"
## Summary

- **BSQ requested**: **`[2666.67]`**
- USD requested: [2000]
- BSQ rate: [0.75] USD per BSQ
- Previous compensation request (if applicable): #1083

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Burningman cycle 37 (forgot to claim) | support | 1000 | https://github.com/bisq-network/roles/issues/80#issuecomment-1177922746 | |
| Burni

[2022-08-07 20:25] burningman3 commented on #1132
Tx ID: 0e711552161ca3c34e81468928463f7bda791b3900e092b8f1664a662378863e

[2022-08-08 03:18] ghost commented on #1122
14f1d57b581ff567caa80b5b73c86434cfd3d9aa8321d5bd6b0148069efd9223

[2022-08-16 07:58] ghost commented on #1117
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|67.00|50.00|

Total Issuance: 67.00 BSQ (equivalent to: 50.00 USD)

[2022-08-16 07:58] MwithM commented on #1117
Closed as accepted

[2022-08-16 07:58] #1117 closed, assigned to Emzy

[2022-08-16 07:59] ghost commented on #1132
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2666.67|2000.00|

Total Issuance: 2666.67 BSQ (equivalent to: 2000.00 USD)

[2022-08-16 07:59] MwithM commented on #1132
Closed as accepted

[2022-08-16 07:59] #1132 closed, assigned to leo816

[2022-08-16 07:59] ghost commented on #1127
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|

Total Issuance: 0.00 BSQ (equivalent to: 0.00 USD)

[2022-08-16 07:59] ghost commented on #1127
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|

Total Issuance: 0.00 BSQ (equivalent to: 0.00 USD)

[2022-08-16 07:59] MwithM commented on #1127
Closed as not submitted.

[2022-08-16 07:59] #1127 closed, assigned to ripcurlx

[2022-08-16 08:00] ghost commented on #1118
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|9333.33|7000.00|

Total Issuance: 9333.33 BSQ (equivalent to: 7000.00 USD)

[2022-08-16 08:00] MwithM commented on #1118
Closed as accepted

[2022-08-16 08:00] #1118 closed, assigned to ripcurlx

[2022-08-16 08:01] ghost commented on #1120
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1466.00|1100.00|

Total Issuance: 1466.00 BSQ (equivalent to: 1100.00 USD)

[2022-08-16 08:01] MwithM commented on #1120
Closed as accepted

[2022-08-16 08:01] #1120 closed, assigned to ripcurlx

[2022-08-16 08:01] ghost commented on #1116
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|814.67|611.00|
|dev|4.00|3.00|

Total Issuance: 818.67 BSQ (equivalent to: 614.00 USD)

[2022-08-16 08:01] MwithM commented on #1116
Closed as accepted

[2022-08-16 08:01] #1116 closed, assigned to leo816

[2022-08-16 08:01] ghost commented on #1123
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2566.66|1925.00|
|admin|66.67|50.00|

Total Issuance: 2633.33 BSQ (equivalent to: 1975.00 USD)

[2022-08-16 08:01] MwithM commented on #1123
Closed as accepted

[2022-08-16 08:01] #1123 closed, assigned to leo816

[2022-08-16 08:01] ghost commented on #1128
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1133.33|850.00|

Total Issuance: 1133.33 BSQ (equivalent to: 850.00 USD)

[2022-08-16 08:01] MwithM commented on #1128
Closed as accepted

[2022-08-16 08:01] #1128 closed, assigned to Emzy

[2022-08-16 08:02] ghost commented on #1122
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|800.00|600.00|
|support|800.00|600.00|

Total Issuance: 1600.00 BSQ (equivalent to: 1200.00 USD)

[2022-08-16 08:02] MwithM commented on #1122
Closed as accepted

[2022-08-16 08:02] #1122 closed, assigned to ripcurlx, leo816

[2022-08-16 08:02] ghost commented on #1125
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|21333.33|16000.00|

Total Issuance: 21333.33 BSQ (equivalent to: 16000.00 USD)

[2022-08-16 08:02] MwithM commented on #1125
Closed as accepted

[2022-08-16 08:02] #1125 closed, assigned to ripcurlx

[2022-08-16 08:02] ghost commented on #1126
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|5500.00|4125.00|

Total Issuance: 5500.00 BSQ (equivalent to: 4125.00 USD)

[2022-08-16 08:02] MwithM commented on #1126
Closed as accepted

[2022-08-16 08:02] #1126 closed, assigned to ripcurlx

[2022-08-16 08:03] ghost commented on #1115
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|266.40|200.00|
|growth|66.60|50.00|

Total Issuance: 333.00 BSQ (equivalent to: 250.00 USD)

[2022-08-16 08:03] MwithM commented on #1115
Closed as accepted

[2022-08-16 08:03] #1115 closed, assigned to Emzy

[2022-08-16 08:03] ghost commented on #1119
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1266.67|950.00|
|dev|1333.33|1000.00|

Total Issuance: 2600.00 BSQ (equivalent to: 1950.00 USD)

[2022-08-16 08:03] MwithM commented on #1119
Closed as accepted

[2022-08-16 08:03] #1119 closed, assigned to ripcurlx, Emzy

[2022-08-16 08:03] ghost commented on #1124
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|3188.00|2391.00|

Total Issuance: 3188.00 BSQ (equivalent to: 2391.00 USD)

[2022-08-16 08:03] MwithM commented on #1124
Closed as accepted

[2022-08-16 08:03] #1124 closed, assigned to leo816

[2022-08-16 08:03] ghost commented on #1121
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|8000.00|6000.00|

Total Issuance: 8000.00 BSQ (equivalent to: 6000.00 USD)

[2022-08-16 08:03] MwithM commented on #1121
Closed as accepted

[2022-08-16 08:03] #1121 closed, assigned to ripcurlx

[2022-08-16 08:04] ghost commented on #1130
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2666.66|2000.00|

Total Issuance: 2666.66 BSQ (equivalent to: 2000.00 USD)

[2022-08-16 08:04] MwithM commented on #1130
Closed as accepted

[2022-08-16 08:04] #1130 closed, assigned to ripcurlx

[2022-08-16 08:04] ghost commented on #1129
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|66.67|50.00|
|support|600.00|450.00|
|admin|100.00|75.00|

Total Issuance: 766.67 BSQ (equivalent to: 575.00 USD)

[2022-08-16 08:04] MwithM commented on #1129
Closed as accepted

[2022-08-16 08:04] #1129 closed, assigned to leo816

[2022-08-16 08:04] ghost commented on #1131
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1866.00|1400.00|

Total Issuance: 1866.00 BSQ (equivalent to: 1400.00 USD)

[2022-08-16 08:04] MwithM commented on #1131
Closed as accepted

[2022-08-16 08:04] #1131 closed, assigned to Emzy

[2022-08-16 08:06] #1113 closed, assigned to MwithM

[2022-08-16 08:08] MwithM opened #1133 "BSQ rate for Cycle 39 is 0.87 USD per BSQ"
The recommended rate to be used for compensation requests on Cycle 39 is **0.87 USD/BSQ.**

![image](https://user-images.githubusercontent.com/50149324/184830043-8428cada-267b-4485-8d64-ae3e8e3bbb0b.png)

Rate for last cycle: #1113
More info about the Compensation process at https://bisq.wiki/Compensation

[2022-08-16 08:10] MwithM opened #1134 "Cycle 39 deadline is September 2"
The deadline for submitting compensations requests for review is **September 2**.

More details at: https://github.com/bisq-network/compensation/issues
[Calendar](https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe)

[2022-08-16 08:10] ghost commented on #1134
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2022-08-16 08:25] #1114 closed, assigned to MwithM

[2022-08-21 19:41] alexej996 opened #1135 "For Cycle 39"
## Summary
This is a compensation request for work done in Cycle 38.

- **BSQ requested** : **287**
- USD requested: **250**
- BSQ rate: **0.87** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/1115

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bi

[2022-08-21 19:46] alexej996 commented on #1135
DAO txid: **33bc6ddd3ffa29b768d0a7a24bdffc2701fe867301881881ed8d7425a636c624**

[2022-08-31 07:31] w0000000t opened #1136 "For Cycle 39"
## Summary

- **BSQ requested**: **`[689.66]`**
- USD requested: [600]
- BSQ rate: [0.87] USD per BSQ
- Previous compensation request (if applicable):  https://github.com/bisq-network/compensation/issues/1116

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| L1 support agent | support | 600 | [report](https://github.com/bisq-network/roles/issues/

[2022-09-01 11:18] alvasw opened #1137 "For Cycle 39"
## Summary

- **BSQ requested**: **`6896.55`**
- USD requested: 6000
- BSQ rate: 0.87 USD per BSQ
- Previous compensation request (if applicable): #1121

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| ElectrumDownloader: Skip download if the file exists already | dev | | https://github.com/bisq-network/bisq2/pull/453 | Verify the hash and perfo

[2022-09-02 06:44] MwithM commented on #1134
Today is the deadline to submit compensation requests.

[2022-09-02 09:23] refund-agent2 opened #1138 "For Cycle 39"
## Summary

- **BSQ requested**: **`2445.58`**
- USD requested: 2127.66
- BSQ rate: 0.87 USD per BSQ
- Previous compensation request (if applicable): #1137

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Refunds | Support | 2127.66 | https://github.com/bisq-network/roles/issues/93#issuecomment-1235248734 |  |

## Contributions in progress

[2022-09-02 10:17] ghost opened #1139 "For cycle 39"
## Summary

- **BSQ requested**: **`528`**
- USD requested: 460
- BSQ rate: 0.87 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/1095

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Styling of bisq2 web app | dev | 200 | https://github.com/salokiam/bisq2-web-ui/pull/3 |  |
| Fix N

[2022-09-02 21:34] ghubstan opened #1140 "For Cycle 39"
## Summary

- **BSQ requested**: **`1810.34`**
- USD requested: 1575
- BSQ rate: 0.87 USD per BSQ
- Previous compensation request (if applicable): #1118

## Contributions delivered

|	 Title 	|	 Team 	|	 USD 	|	 Link 	|	 Notes 	|
|	 --- 	|	 --- 	|	 --- 	|	 --- 	|	 --- 	|
|	Remove subproject inventory	|	dev	|	50	|	https://github.com/bisq-network/bisq/pull/631	|	merged	|
|	Add optional fat / shadow

[2022-09-03 06:37] devinbileck opened #1141 "For Cycle 39"
## Summary

- **BSQ requested**: **`1091.95`**
- USD requested: 950
- BSQ rate: 0.87 USD per BSQ
- Previous compensation request (if applicable): #1119

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-1236060770 | 3 nodes
| Seed node operator | ops*

[2022-09-03 06:44] cbeams opened #1142 "For Cycle 39"
## Summary

- **BSQ requested**: 57
- USD requested: 50
- BSQ rate: [0.87](https://github.com/bisq-network/compensation/issues/1133) USD per BSQ
- Previous compensation request (if applicable): #1117

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 |  https://github.com/bisq-network/roles/issues/18#issuecomment-1236061579

[2022-09-03 07:00] cbeams commented on #1142
txid: `1bfd1201930a8a4229246a7d65d8039571b0005202e825238dbc794c76ff29de`

[2022-09-03 08:13] MwithM opened #1143 "For Cycle 39"
## Summary

- **BSQ requested**: **`689.65`**
- USD requested: 600
- BSQ rate: [0.87](https://github.com/bisq-network/compensation/issues/11) per BSQ
- Previous compensation request (if applicable): #1133

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 50 | https://github.com/bisq-network/roles/issues/95#issuecommen

[2022-09-04 20:59] burningman3 opened #1144 "For Cycle 39"
## Summary

- **BSQ requested**: **`[1149.43]`**
- USD requested: [1000]
- BSQ rate: [0.87] USD per BSQ
- Previous compensation request (if applicable): #1132

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Burningman cycle 39 | support | 1000 | https://github.com/bisq-network/roles/issues/80#issuecomment-1236413895 | |

## Contributions in prog

[2022-09-04 23:42] pazza83 opened #1145 "For Cycle 39"
## Summary

- **BSQ requested**: **`[2097.7]`**
- USD requested: [1825]
- BSQ rate: [0.87 USD/BSQ] USD per BSQ as per #1133
- Previous compensation request: #1123

## Contributions delivered for Cycle 39

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | *Support | 1100 | https://github.com/bisq-network/roles/issues/83#issuecomment-1236207044 | 121tickets closed thi

[2022-09-05 09:39] refund-agent2 commented on #1138
b7295b7d188c6474944e32df461eb185d81f11370c2ad75268ce8fd9abaca70f

[2022-09-05 11:34] c4talys7 opened #1146 "For Cycle 39"
## Summary

- **BSQ requested**: **`1149.42`**
- USD requested: 1000.00
- BSQ rate: 0.87 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Seed node operator | ops* | 300 | bisq-network/roles#15 | 3 nodes (prefixes bisqa, bisqb and bisqc)
| Changes to allow detection of running I2P Router | dev | 700 | https://github.com/bisq-network/

[2022-09-05 11:38] c4talys7 commented on #1146
@Emzy - Ops seed node activities
@chimp1984 - Related to additional changes that were done regarding detection of running I2P router locally

[2022-09-05 11:39] c4talys7 commented on #1146
Also, @MwithM  and @ripcurlx , sorry for the delay on posting, I was travelling and wasn't able to submit before.

[2022-09-05 15:10] burningman3 commented on #1144
Tx ID: 9903635ce4e4dbc219f7d4583fe6a035c2789ed1e04f9c45d90d53a0525dabc0

[2022-09-05 15:54] ghost opened #1147 "For Cycle 39"
## Summary

- **BSQ requested**: **`2121`**
- USD requested: 1845
- BSQ rate: 0.87 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/1122

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Allow mediated payout signature message to be re-sent | dev | 75 | https://github.com/bisq-network

[2022-09-05 19:08] leo816 commented on #1147
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-09-05 19:09] leo816 commented on #1145
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-09-05 19:10] leo816 commented on #1144
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-09-05 19:11] leo816 commented on #1143
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-09-05 19:11] leo816 commented on #1136
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-09-05 19:21] chimp1984 commented on #1146
ACK

[2022-09-05 19:22] chimp1984 commented on #1137
ACK

[2022-09-05 20:06] w0000000t commented on #1136
56c70904bb40d2b88b563992994cd72e0ddaa4030ac622d33aa51ca8cac4083b

[2022-09-05 22:29] Emzy commented on #1135
As ops team lead I approve this compensation request for ops.

[2022-09-05 22:30] Emzy commented on #1141
As ops team lead I approve this compensation request for ops.

[2022-09-05 22:30] Emzy commented on #1146
As ops team lead I approve this compensation request for ops.

[2022-09-05 22:30] Emzy commented on #1147
As ops team lead I approve this compensation request for ops.

[2022-09-05 22:40] pazza83 commented on #1145
Tx ID: 1bcce4985f7a701cc3cd4f3b4c44adfa5c4c8c66ae8fec10d21dd351bf087cc2

[2022-09-06 04:37] devinbileck commented on #1141
9ec483bcf9fc880681eefc557ca77a58267b5e7a9cc6076d6014cfaf281f51e0

[2022-09-06 12:03] ghost commented on #1147
Note: removed 1 dev item from above list as it has not yet been merged.

[2022-09-06 14:03] alvasw commented on #1137
e5cf383b3bdf10eaf824a735b0d332b9cb4bb98dcb1df72cd53055adb9858d90

[2022-09-06 14:43] ripcurlx commented on #1147
As dev team lead I approve this compensation request for dev.

[2022-09-06 14:44] ripcurlx commented on #1146
As dev team lead I approve this compensation request for dev.

[2022-09-06 14:45] ripcurlx commented on #1140
As dev team lead I approve this compensation request for dev.

[2022-09-06 14:45] ripcurlx commented on #1139
As dev team lead I approve this compensation request for dev.

[2022-09-06 14:46] ripcurlx commented on #1137
As dev team lead I approve this compensation request for dev.

[2022-09-06 15:25] ghost commented on #1147
TxId: 239218aa8941475d13cbb0a88a763f10b23bd448e56a17089f3d10d4a2decfe8

[2022-09-06 15:46] leo816 opened #1148 "For Cycle 39"

[2022-09-06 16:08] ghubstan commented on #1140
9ae59ecde11f4e53109065c0892e9a511aa745bee438541f9b212165d06656e2

[2022-09-06 17:41] ghost commented on #1139
TXID: 30e381338173cb898aa084166d9e8f11d9076b7cc2b53f8fc6a361de3aae41d8

[2022-09-07 09:35] Emzy opened #1149 "For Cycle 39"
## Summary

- **BSQ requested**: **`1448`**
- USD requested: 1260
- BSQ rate: 0.87 USD per BSQ
- Previous compensation request (if applicable): #1120

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 3* Seed node operator | ops* | 300 | bisq-network/roles#15 |  |
| Pricenode oper

[2022-09-07 10:20] Emzy commented on #1149
TXID: 012bed421ad5783e40f638f666910a4c68d985caed55830f41a7676bdc8af6e7

[2022-09-07 12:26] sqrrm opened #1150 "For Cycle 39"
## Summary

- **BSQ requested**: **`172`**
- USD requested: 150
- BSQ rate: 0.87 USD per BSQ
- Previous compensation request (if applicable): #1127

## Contributions delivered

I ask nothing for this cycle due to requesting twice for Cycle 36, https://github.com/bisq-network/compensation/issues/1106#issuecomment-1178147764. It looked like my request for Cycle 36 had failed, but with a DAO resync I

[2022-09-07 12:30] sqrrm commented on #1150
dddfa3cf2e269bf911c168e1bcebfeb13de12e545b42fa523f65b0c55a466ea5

[2022-09-07 12:59] Emzy commented on #1150
As ops team lead I approve this compensation request for ops.

[2022-09-07 17:16] MwithM commented on #1142
@Emzy Could you approve this?

[2022-09-07 17:16] MwithM commented on #1138
@leo816 Could you approve this?

[2022-09-07 17:17] MwithM commented on #1148
@ripcurlx Could you approve this?

[2022-09-07 17:17] MwithM commented on #1149
@ripcurlx Could you approve this?

[2022-09-07 17:18] Emzy commented on #1142
As ops team lead I approve this compensation request for ops.

[2022-09-07 17:27] MwithM commented on #1143
`fe35b9cdcb817884302959dc3768285149d5347f3ca5af9c73797a1cb5120d84`

[2022-09-07 17:28] MwithM commented on #1146
@c4talys7 Is this the txid for your compensation request? `0c96f93f62fde8c1f32776c9dfced4aa9f37bbd365a85001a7a99048d04cdc62`

[2022-09-07 17:41] leo816 commented on #1138
My Team Lead review is complete and I approve this request

[2022-09-07 18:32] mrosseel opened #1151 "For Cycle 39"
## Summary

- **BSQ requested**: **`229.88`**
- USD requested:  200
- BSQ rate:  0.87 USD per BSQ
- Previous compensation request (if applicable):  https://github.com/bisq-network/compensation/issues/1128

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Pricenode operator | ops* | 50 | https://github.com/bisq-network/roles/issues/14#issuecomment-

[2022-09-07 19:29] ripcurlx commented on #1149
As dev team lead I approve this compensation request.

[2022-09-07 19:30] ripcurlx commented on #1148
As dev team lead I approve this compensation request.

[2022-09-07 20:19] Emzy commented on #1151
As ops team lead I approve this compensation request for ops.

[2022-09-07 20:22] mrosseel commented on #1151
txid: 8f28d309c596af2f80b9b6a1519a215dec6be207b97ca534f58852eda7e2f39e

[2022-09-08 01:00] c4talys7 commented on #1146
Tx. ID: 0c96f93f62fde8c1f32776c9dfced4aa9f37bbd365a85001a7a99048d04cdc62

[2022-09-08 01:00] c4talys7 commented on #1146
That's correct. I also posted it on the thread. Thanks @MwithM

[2022-09-08 13:04] Android-X13 opened #1152 "For Cycle 39"
## Summary

- **BSQ requested**: **`201`**
- USD requested: 175
- BSQ rate: 0.87 USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Fix/improve clickable areas of toggle buttons | dev | 45 | [bisq-network/bisq/pull/6307](https://github.com/bisq-network/bisq/pull/6307)
| Show Peer Info

[2022-09-08 13:05] Android-X13 commented on #1152
This is my first CR and I have just realized that there are deadlines announced in the compensation repo... I see that the deadline has been reached but people are still submitting CRs so I made this one too.

One question:
Since the total amount requested is relatively low, can I bring this to the next cycle or do I have to submit it to the DAO?

[2022-09-08 15:58] wiz opened #1153 "For Cycle 39"
The 3 seednodes below have recently been removed from the Bisq source code, but are still in use by Bisq users. They are scheduled to be shut down at the end of Cycle 40.

## Summary

* **BSQ requested**: **`1609`**
* USD requested: 1400
* BSQ rate: 0.87 USD per BSQ
* Previous compensation request (if applicable): #1131

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | ---

[2022-09-08 16:03] wiz commented on #1153
de757ddad87eeacd41f871d5a3ead32c5e93f7d9b3fb36ef3f40555ba0e9a4ab

[2022-09-08 16:08] Emzy commented on #1153
As ops team lead I approve this compensation request for ops.

[2022-09-09 09:08] ripcurlx opened #1154 "For Cycle 40"
## Summary

- **BSQ requested**: **`9235`**
- USD requested: 7573
- BSQ rate: 0.82 USD per BSQ
- Previous compensation request (if applicable): #1088

As I missed the deadline for Cycle 38 and 39 because of traveling, I submit a compound compensation request for Cycle 38, 39 and Cycle 40.

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desk

[2022-09-09 10:35] MwithM commented on #1152
I would prefer if you wait for next cycle to submit it. Indeed, that's the only choice you have right now, as  the DAO proposal phase has concluded.
I leave it open for review, though, so it can be pre-approved by the team lead.

You'll have to use the BSQ rates for Cycle 40, while maintain the same USD amounts.

[2022-09-09 10:39] MwithM commented on #1149
@Emzy Is `012bed421ad5783e40f638f666910a4c68d985caed55830f41a7676bdc8af6e7` the correct txid for this compensation request?

[2022-09-09 10:40] MwithM commented on #1148
@leo816 Is `e1dfd5934b492589d3635f2b40bd1d1501fcdab642c25eb17a2dae026cab749d` the correct txid for this compensation request?

[2022-09-17 10:44] ghost commented on #1149
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1448.00|1260.00|

Total Issuance: 1448.00 BSQ (equivalent to: 1260.00 USD)

[2022-09-17 10:44] MwithM commented on #1149
Closed as accepted.

[2022-09-17 10:44] #1149 closed, assigned to ripcurlx

[2022-09-17 10:45] ghost commented on #1148
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2413.79|2100.00|

Total Issuance: 2413.79 BSQ (equivalent to: 2100.00 USD)

[2022-09-17 10:45] MwithM commented on #1148
Closed as accepted.

[2022-09-17 10:45] #1148 closed, assigned to ripcurlx

[2022-09-17 10:45] MwithM commented on #1152
Closed as not submitted.

[2022-09-17 10:45] #1152 closed, assigned to ripcurlx

[2022-09-17 10:46] MwithM commented on #1153
Closed as accepted.

[2022-09-17 10:46] #1153 closed, assigned to nobody

[2022-09-17 10:46] ghost commented on #1141
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1091.95|950.00|

Total Issuance: 1091.95 BSQ (equivalent to: 950.00 USD)

[2022-09-17 10:46] MwithM commented on #1141
Closed as accepted.

[2022-09-17 10:46] #1141 closed, assigned to Emzy

[2022-09-17 10:46] ghost commented on #1145
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2040.23|1775.00|
|admin|57.47|50.00|

Total Issuance: 2097.70 BSQ (equivalent to: 1825.00 USD)

[2022-09-17 10:46] MwithM commented on #1145
Closed as accepted.

[2022-09-17 10:46] #1145 closed, assigned to leo816

[2022-09-17 10:47] ghost commented on #1135
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|229.60|200.00|
|growth|57.40|50.00|

Total Issuance: 287.00 BSQ (equivalent to: 250.00 USD)

[2022-09-17 10:47] MwithM commented on #1135
Closed as accepted.

[2022-09-17 10:47] #1135 closed, assigned to Emzy

[2022-09-17 10:47] ghost commented on #1136
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|689.66|600.00|

Total Issuance: 689.66 BSQ (equivalent to: 600.00 USD)

[2022-09-17 10:48] MwithM commented on #1136
Closed as accepted.

[2022-09-17 10:48] #1136 closed, assigned to leo816

[2022-09-17 10:48] ghost commented on #1144
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1149.43|1000.00|

Total Issuance: 1149.43 BSQ (equivalent to: 1000.00 USD)

[2022-09-17 10:48] MwithM commented on #1144
Closed as accepted.

[2022-09-17 10:48] #1144 closed, assigned to leo816

[2022-09-17 10:48] ghost commented on #1147
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1086.37|945.00|
|support|689.76|600.00|
|ops|344.88|300.00|

Total Issuance: 2121.00 BSQ (equivalent to: 1845.00 USD)

[2022-09-17 10:48] MwithM commented on #1147
Closed as accepted.

[2022-09-17 10:48] #1147 closed, assigned to nobody

[2022-09-17 10:48] ghost commented on #1137
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|6896.55|6000.00|

Total Issuance: 6896.55 BSQ (equivalent to: 6000.00 USD)

[2022-09-17 10:49] MwithM commented on #1137
Closed as accepted.

[2022-09-17 10:49] #1137 closed, assigned to ripcurlx

[2022-09-17 10:49] ghost commented on #1140
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1810.34|1575.00|

Total Issuance: 1810.34 BSQ (equivalent to: 1575.00 USD)

[2022-09-17 10:49] MwithM commented on #1140
Closed as accepted.

[2022-09-17 10:49] #1140 closed, assigned to ripcurlx

[2022-09-17 10:49] ghost commented on #1139
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|528.00|460.00|

Total Issuance: 528.00 BSQ (equivalent to: 460.00 USD)

[2022-09-17 10:49] MwithM commented on #1139
Closed as accepted.

[2022-09-17 10:49] #1139 closed, assigned to ripcurlx

[2022-09-17 10:49] ghost commented on #1150
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|57.33|50.00|
|ops|114.67|100.00|

Total Issuance: 172.00 BSQ (equivalent to: 150.00 USD)

[2022-09-17 10:49] MwithM commented on #1150
Closed as accepted.

[2022-09-17 10:49] #1150 closed, assigned to nobody

[2022-09-17 10:49] ghost commented on #1138
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2445.58|2127.66|

Total Issuance: 2445.58 BSQ (equivalent to: 2127.66 USD)

[2022-09-17 10:49] MwithM commented on #1138
Closed as accepted.

[2022-09-17 10:49] #1138 closed, assigned to leo816

[2022-09-17 10:50] ghost commented on #1142
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|57.00|50.00|

Total Issuance: 57.00 BSQ (equivalent to: 50.00 USD)

[2022-09-17 10:50] MwithM commented on #1142
Closed as accepted.

[2022-09-17 10:50] #1142 closed, assigned to Emzy

[2022-09-17 10:50] ghost commented on #1151
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|229.88|200.00|

Total Issuance: 229.88 BSQ (equivalent to: 200.00 USD)

[2022-09-17 10:50] MwithM commented on #1151
Closed as accepted.

[2022-09-17 10:50] #1151 closed, assigned to nobody

[2022-09-17 10:50] ghost commented on #1146
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|344.83|300.00|
|dev|804.59|700.00|

Total Issuance: 1149.42 BSQ (equivalent to: 1000.00 USD)

[2022-09-17 10:50] MwithM commented on #1146
Closed as accepted.

[2022-09-17 10:50] #1146 closed, assigned to ripcurlx, Emzy

[2022-09-17 10:50] ghost commented on #1143
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|57.47|50.00|
|support|517.24|450.00|
|admin|114.94|100.00|

Total Issuance: 689.65 BSQ (equivalent to: 600.00 USD)

[2022-09-17 10:50] MwithM commented on #1143
Closed as accepted.

[2022-09-17 10:50] #1143 closed, assigned to leo816

[2022-09-17 21:08] MwithM opened #1155 "BSQ rate for Cycle 40 is 0.82 USD per BSQ"
The recommended rate to be used for compensation requests on Cycle 40 is **0.82 USD/BSQ.**

![image](https://user-images.githubusercontent.com/50149324/190876451-b0999c95-509b-4003-8511-48bff4ad8ee7.png)

Rate for last cycle: #1133
More info about the Compensation process at https://bisq.wiki/Compensation

[2022-09-17 21:09] #1133 closed, assigned to MwithM

[2022-09-17 21:11] MwithM opened #1156 "Cycle 40 deadline is October 3"
The deadline for submitting compensations requests for review is **October 3**. (edited)

More details at: https://github.com/bisq-network/compensation/issues
[Calendar](https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe)

[2022-09-17 21:12] #1134 closed, assigned to MwithM

[2022-09-22 20:13] alexej996 opened #1157 "For Cycle 40"
## Summary
This is a compensation request for work done in Cycle 39.

- **BSQ requested** : **304**
- USD requested: **250**
- BSQ rate: **0.82** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/1135

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bi

[2022-09-22 20:25] alexej996 commented on #1157
DAO txid: **37c4374a9d56fda9e9a4deac541d74eeb2937b6158ab1e758226d8eef2f74ce0**

[2022-09-24 11:25] Emzy commented on #1157
As ops team lead I approve this compensation request for ops.

[2022-10-04 08:25] MwithM commented on #1156
I don't know wether miners were faster or I did something wrong, but proposal phase ends in 6 days, the October 10th.
@bisq-network/team-leads

[2022-10-04 08:39] MwithM opened #1158 "For Cycle 40"
## Summary

- **BSQ requested**: **`670.73`**
- USD requested: 550
- BSQ rate: [0.82](https://github.com/bisq-network/compensation/issues/1155) per BSQ
- Previous compensation request (if applicable): #1143

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 50 | https://github.com/bisq-network/roles/issues/95#issuecomm

[2022-10-04 15:32] alvasw opened #1159 "For Cycle 40"
## Summary

- **BSQ requested**: **`4878.05`**
- USD requested: 4000
- BSQ rate: 0.82 USD per BSQ
- Previous compensation request (if applicable): #1137

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Bitcoind: Add createmulti RPC call | dev | | https://github.com/bisq-network/bisq2/pull/495 | _Update to Bitcoin Core 23 Descriptor Wallet_ |
| B

[2022-10-04 15:33] alvasw commented on #1159
@ripcurlx I'm very sorry that I didn't post my compensation request yesterday. I mixed up the dates.

[2022-10-04 15:37] MwithM commented on #1159
It's my fault, I did calculate the deadline wrong, for 7th Oct instead of actual 3d.
https://github.com/bisq-network/compensation/issues/1156#issuecomment-1266578932

[2022-10-04 15:38] Emzy opened #1160 "For Cycle 40"
## Summary

- **BSQ requested**: **`1341`**
- USD requested: 1100
- BSQ rate: 0.82 USD per BSQ
- Previous compensation request (if applicable): #1149

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 3* Seed node operator | ops* | 300 | bisq-network/roles#15 |  |
| Pricenode oper

[2022-10-04 20:41] w0000000t opened #1161 "For Cycle 40"
## Summary

- **BSQ requested**: **`[731.71]`**
- USD requested: [600]
- BSQ rate: [0.82] USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/1136

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| L1 support agent | support | 600 | [report](https://github.com/bisq-network/roles/issues/6

[2022-10-05 06:06] devinbileck opened #1162 "For Cycle 40"
## Summary

- **BSQ requested**: **`1158.54`**
- USD requested: 950
- BSQ rate: 0.82 USD per BSQ
- Previous compensation request (if applicable): #1141

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-1267984941 | 3 nodes
| Seed node operator | ops*

[2022-10-05 08:04] ripcurlx commented on #1160
As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-10-05 08:05] ripcurlx commented on #1159
As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-10-05 09:37] Emzy commented on #1162
As ops team lead I approve this compensation request for ops.

[2022-10-05 09:37] Emzy commented on #1157
As ops team lead I approve this compensation request for ops.

[2022-10-05 09:38] Emzy commented on #1154
As ops team lead I approve this compensation request for ops.

[2022-10-05 16:26] alvasw commented on #1159
9b874ca5165073cedf75fd250a2cec8363cdd416d9e3a7058053f2c1c3d07d65

[2022-10-05 22:44] pazza83 opened #1163 "For Cycle 40"
## Summary

- **BSQ requested**: **`[2225.6]`**
- USD requested: [1825]
- BSQ rate: [0.82 USD/BSQ] USD per BSQ as per #1155
- Previous compensation request: #1145

## Contributions delivered for Cycle 40

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | *Support | 1100 |https://github.com/bisq-network/roles/issues/83#issuecomment-1269020996 | 87 tickets closed this

[2022-10-06 08:19] devinbileck commented on #1162
7744d89c4d22c16d65e0777baa0cf9570b0a68ed9b84bfbb6d274f119ebc659c

[2022-10-06 09:15] refund-agent2 opened #1164 "For Cycle 40"
## Summary

- **BSQ requested**: **`2192.1`**
- USD requested: 1797.52
- BSQ rate: 0.82 USD per BSQ
- Previous compensation request (if applicable): #1138

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Refunds | Support | 1797.52 | https://github.com/bisq-network/roles/issues/93#issuecomment-1269631585 |  |

## Contributions in progress

[2022-10-06 09:45] Emzy commented on #1160
TXID: 509cd08fd05f4061def27928fb238a4ad1bafff4b9276f422f82a8ad712621cc

[2022-10-06 10:01] MwithM commented on #1156
Attention:
@mrossell @ghubstan @xyzmaker123 @burningman3 @devinbileck @wiz

[2022-10-06 15:01] ghost opened #1165 "For Cycle 40"
## Summary

- **BSQ requested**: **`3061`**
- USD requested: 2510
- BSQ rate: 0.82 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/1147

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Offers from a banned node should not be displayed | dev | 50 | https://github.com/bisq-network/bis

[2022-10-06 16:06] Emzy commented on #1165
As ops team lead I approve this compensation request for ops.

[2022-10-06 18:19] Android-X13 opened #1166 "For Cycle 40"
## Summary

- **BSQ requested**: **`457`**
- USD requested: 375
- BSQ rate: 0.82 USD per BSQ
- Previous compensation request: #1152

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Fix/improve clickable areas of toggle buttons | dev | 45 | [bisq-network/bisq/pull/6307](https://github.com/bisq-network/bisq/pull/6307)
| Show Peer Info window only

[2022-10-06 21:17] sqrrm opened #1167 "For Cycle 40"
## Summary

- **BSQ requested**: **`183`**
- USD requested: 150
- BSQ rate: 0.82 USD per BSQ
- Previous compensation request (if applicable): #1150

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Bisq desktop maintainer | dev* | 0 |  |  |
|Bitcoin node maintainer | dev* | 50 | https://github.com/bisq-network/roles/issues/66#issuecomment-127071066

[2022-10-06 21:48] ghost commented on #1167
@sqrrm  Some no longer applicable text under **Contributions delivered** : "_I ask nothing for this cycle due to requesting twice for Cycle 36..._" has been copied over for the past couple of cycles, its a bit confusing.  :smiling_face_with_tear:

[2022-10-06 23:12] Emzy commented on #1167
As ops team lead I approve this compensation request for ops.

[2022-10-07 17:34] ripcurlx commented on #1165
As dev team lead I approve this compensation request for dev.

[2022-10-07 17:36] ripcurlx commented on #1166
As dev team lead I approve this compensation request for dev. Please submit your CR for voting to the DAO and post your transaction ID here afterwards. Thanks!

[2022-10-07 19:59] cbeams opened #1168 "For Cycle 40"
## Summary

- **BSQ requested**: 61
- USD requested: 50
- BSQ rate: [0.82](https://github.com/bisq-network/compensation/issues/1155) USD per BSQ
- Previous compensation request (if applicable): #1142

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 |  https://github.com/bisq-network/roles/issues/18#issuecomment-1272041291

[2022-10-07 20:04] cbeams commented on #1168
txid: `85e7e12630ce905df354a1038678d91c4ddda9fd84a7babf89bd9ad81edcadd0`

[2022-10-07 22:12] Emzy commented on #1168
As ops team lead I approve this compensation request for ops.

[2022-10-08 20:37] Android-X13 commented on #1166
TxID:

02f2a180563274f101fba1bdd30bee5e742a240ed0f7c3b97987f2261ae359a3

[2022-10-08 23:10] leo816 opened #1169 "For Cycle 40"
## Summary

- **BSQ requested**: **`[2439.02]`**
- USD requested: [2000]
- BSQ rate: [0.82] USD per BSQ
- Previous compensation request (if applicable): #1130

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1100  |  https://github.com/bisq-network/roles/issues/83#issuecomment-1271669019 | Cases have decreased from the previou

[2022-10-08 23:10] leo816 commented on #1158
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-10-08 23:10] leo816 commented on #1161
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-10-08 23:11] leo816 commented on #1163
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-10-08 23:11] leo816 commented on #1165
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-10-08 23:26] leo816 commented on #1169
proposal tx id: ec22d9da47b8bf01365fb36b7ae188b0fa6e14dc07ebc2992b18a84845c58568

[2022-10-09 03:41] ghost commented on #1165
1b5e8a5f182583f578afe2ee22c48386e03e62d53903da7d4d213dbbd1d50274

[2022-10-09 09:34] refund-agent2 commented on #1164
`eca8494cf248e536741e597d02c0d761afbdeceed8323b35cf26a5817efe1486`

[2022-10-09 11:03] burningman3 opened #1170 "For Cycle 40"
## Summary

- **BSQ requested**: **`[1219.51]`**
- USD requested: [1000]
- BSQ rate: [0.82] USD per BSQ
- Previous compensation request (if applicable): #1144

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Burningman cycle 40 | support | 1000 |  | |

## Contributions in progress

[2022-10-09 12:21] burningman3 commented on #1170
Tx ID: a033032960beeae0b3d7741ae3e8820c4def07ad1c24ed95e2bb36eb4ce9ab7a

[2022-10-09 12:51] w0000000t commented on #1161
I didn't make it in time to make the proposal in app, will combine cycle 40 and 41 in next CR

[2022-10-09 12:56] pazza83 commented on #1163
Thanks, I missed the proposal phase to submit. Will re-request next cycle.

[2022-10-09 18:52] wiz opened #1171 "For Cycle 40"
The 3 seednodes below were re-added into the Bisq source code, so they will continue to be operated for the time being.

## Summary

* **BSQ requested**: **`1707`**
* USD requested: 1400
* BSQ rate: 0.82 USD per BSQ
* Previous compensation request (if applicable): #1153

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2

[2022-10-09 21:49] MwithM commented on #1158
Compensatieon request TXID: _0c424ec4c9d8d50652fc492ff2455d7323884e40e33d69cc4f1c0c95e762f87b_

[2022-10-09 21:54] MwithM commented on #1163
I'm sorry if announcing the deadline too late made this not getting submitted on time.
Remind that when resubmitting for next cycle, you'll need to use the new BSQ rates that will be announced at the beginning of cycle 41.

[2022-10-09 21:55] MwithM commented on #1171
Proposal phase just finished a few hours ago and it seems that this compensation request has not been submitted to the DAO.
I'm sorry if announcing the deadline too late made this not getting submitted on time.
Remind that when resubmitting for next cycle, you'll need to use the new BSQ rates that will be announced at the beginning of cycle 41.

[2022-10-10 09:21] ripcurlx commented on #1169
As dev team lead I approve this compensation request.

[2022-10-10 09:38] sqrrm commented on #1167
5803adc3072e48409a8a7a6a43d5173db23faf65132587813cb38a25a1687f87

[2022-10-10 09:39] sqrrm commented on #1167
@jmacxx thanks, I just copy paste the previous one since it's the same every cycle.

[2022-10-10 13:54] ripcurlx commented on #1167
As dev team lead I approve this compensation request for dev.

[2022-10-10 21:05] mrosseel opened #1172 "[WIP] For Cycle 40"
## Summary

- **BSQ requested**: **`243.9`**
- USD requested:  200
- BSQ rate:  0.82 USD per BSQ
- Previous compensation request (if applicable):  https://github.com/bisq-network/compensation/issues/1151

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Pricenode operator | ops* | 50 | https://github.com/bisq-network/roles/issues/14#issuecomment-1

[2022-10-10 21:27] MwithM commented on #1172
Proposal phase finished yesterday, so you  won't be able to submit this for Cycle 40.

[2022-10-11 11:34] ripcurlx commented on #1154
TXID: `1e665eebca9f432deba0633c5f7fe7c83fcdbcdb59772ca3f897049e62f6281c`

[2022-10-16 16:26] MwithM commented on #1172
Please open a new compensation request For Cycle 41, you'll have to use the new BSQ/USD rates.

Closed as not submitted.

[2022-10-16 16:26] #1172 closed, assigned to Emzy

[2022-10-16 16:27] MwithM commented on #1171
Closed as not submitted.

[2022-10-16 16:27] #1171 closed, assigned to Emzy

[2022-10-16 16:28] MwithM commented on #1163
Closed as not submitted.

[2022-10-16 16:28] #1163 closed, assigned to leo816

[2022-10-16 16:28] MwithM commented on #1161
Closed as not submitted.

[2022-10-16 16:28] #1161 closed, assigned to leo816

[2022-10-16 16:29] ghost commented on #1164
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2192.10|1797.52|

Total Issuance: 2192.10 BSQ (equivalent to: 1797.52 USD)

[2022-10-16 16:29] MwithM commented on #1164
Closed as accepted.

[2022-10-16 16:29] #1164 closed, assigned to leo816

[2022-10-16 16:29] MwithM commented on #1170
Closed as accepted.

[2022-10-16 16:29] ghost commented on #1154
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|8960.62|7348.00|
|ops|274.38|225.00|

Total Issuance: 9235.00 BSQ (equivalent to: 7573.00 USD)

[2022-10-16 16:29] MwithM commented on #1154
Closed as accepted.

[2022-10-16 16:29] #1154 closed, assigned to sqrrm

[2022-10-16 16:30] ghost commented on #1170
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1219.51|1000.00|

Total Issuance: 1219.51 BSQ (equivalent to: 1000.00 USD)

[2022-10-16 16:30] #1170 closed, assigned to leo816

[2022-10-16 16:31] ghost commented on #1157
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|243.20|200.00|
|growth|60.80|50.00|

Total Issuance: 304.00 BSQ (equivalent to: 250.00 USD)

[2022-10-16 16:31] MwithM commented on #1157
Closed as accepted.

[2022-10-16 16:31] #1157 closed, assigned to Emzy

[2022-10-16 16:31] ghost commented on #1159
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4878.05|4000.00|

Total Issuance: 4878.05 BSQ (equivalent to: 4000.00 USD)

[2022-10-16 16:31] MwithM commented on #1159
Closed as accepted.

[2022-10-16 16:31] #1159 closed, assigned to ripcurlx

[2022-10-16 16:31] ghost commented on #1160
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1341.00|1100.00|

Total Issuance: 1341.00 BSQ (equivalent to: 1100.00 USD)

[2022-10-16 16:31] MwithM commented on #1160
Closed as accepted.

[2022-10-16 16:31] #1160 closed, assigned to ripcurlx

[2022-10-16 16:31] ghost commented on #1162
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1158.54|950.00|

Total Issuance: 1158.54 BSQ (equivalent to: 950.00 USD)

[2022-10-16 16:32] MwithM commented on #1162
Closed as accepted.

[2022-10-16 16:32] #1162 closed, assigned to nobody

[2022-10-16 16:32] ghost commented on #1168
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|61.00|50.00|

Total Issuance: 61.00 BSQ (equivalent to: 50.00 USD)

[2022-10-16 16:32] MwithM commented on #1168
Closed as accepted.

[2022-10-16 16:32] #1168 closed, assigned to nobody

[2022-10-16 16:32] ghost commented on #1158
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|60.98|50.00|
|support|487.80|400.00|
|admin|121.95|100.00|

Total Issuance: 670.73 BSQ (equivalent to: 550.00 USD)

[2022-10-16 16:32] MwithM commented on #1158
Closed as accepted.

[2022-10-16 16:32] #1158 closed, assigned to leo816

[2022-10-16 16:32] ghost commented on #1165
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|2207.33|1810.00|
|support|487.81|400.00|
|ops|365.86|300.00|

Total Issuance: 3061.00 BSQ (equivalent to: 2510.00 USD)

[2022-10-16 16:32] MwithM commented on #1165
Closed as accepted.

[2022-10-16 16:32] #1165 closed, assigned to ripcurlx, leo816

[2022-10-16 16:32] ghost commented on #1166
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|457.00|375.00|

Total Issuance: 457.00 BSQ (equivalent to: 375.00 USD)

[2022-10-16 16:32] MwithM commented on #1166
Closed as accepted.

[2022-10-16 16:32] #1166 closed, assigned to ripcurlx

[2022-10-16 16:33] ghost commented on #1167
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|61.00|50.00|
|ops|122.00|100.00|

Total Issuance: 183.00 BSQ (equivalent to: 150.00 USD)

[2022-10-16 16:33] MwithM commented on #1167
Closed as accepted.

[2022-10-16 16:33] #1167 closed, assigned to Emzy

[2022-10-16 16:33] ghost commented on #1169
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2439.02|2000.00|

Total Issuance: 2439.02 BSQ (equivalent to: 2000.00 USD)

[2022-10-16 16:33] #1169 closed, assigned to ripcurlx

[2022-10-16 16:39] MwithM opened #1173 "Cycle 41 deadline is November 3"
The deadline for submitting compensations requests for review is **November 3**.

More details at: https://github.com/bisq-network/compensation/issues
[Calendar](https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe)

[2022-10-16 16:39] MwithM commented on #1156
Closed for end of Cycle 41

[2022-10-16 16:39] #1156 closed, assigned to MwithM

[2022-10-16 16:44] MwithM opened #1174 "BSQ rate for Cycle 41 is 0.75 USD per BSQ"
The recommended rate to be used for compensation requests on Cycle 41 is **0.75 USD/BSQ.**

![image](https://user-images.githubusercontent.com/50149324/196047568-7b9b7cc0-4566-47f7-9a49-baee76265087.png)

Rate for last cycle: #1155
More info about the Compensation process at https://bisq.wiki/Compensation

[2022-10-16 16:45] MwithM commented on #1155
Closed as end of Cycle 40.

[2022-10-16 16:45] #1155 closed, assigned to MwithM

[2022-10-21 18:54] alexej996 opened #1175 "For Cycle 41"
## Summary
This is a compensation request for work done in Cycle 40.

- **BSQ requested** : **333**
- USD requested: **250**
- BSQ rate: **0.75** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/1157

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bi

[2022-10-21 19:04] alexej996 commented on #1175
DAO txid: **aa58747bb611aed8c6785e6107df49106851aca26e683a801f60431db4389281**

[2022-10-22 09:40] Emzy commented on #1175
As ops team lead I approve this compensation request for ops.

[2022-10-31 10:16] MwithM commented on #1173
3 days left reminder

[2022-10-31 10:58] w0000000t opened #1176 "For Cycle 41"
## Summary

- **BSQ requested**: **`[1640]`**
- USD requested: [1230]
- BSQ rate: [0.75] USD per BSQ
- Previous compensation request (if applicable): # https://github.com/bisq-network/compensation/issues/1161

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| L1 support agent | support | 600 | [report](https://github.com/bisq-network/roles/issues/

[2022-11-01 07:32] devinbileck opened #1177 "For Cycle 41"
## Summary

- **BSQ requested**: **`1266.67`**
- USD requested: 950
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #1162

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-1298135137 | 3 nodes
| Seed node operator | ops*

[2022-11-02 13:59] Emzy opened #1178 "For Cycle 41"
## Summary

- **BSQ requested**: **`1466`**
- USD requested: 1100
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #1160

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 3* Seed node operator | ops* | 300 | bisq-network/roles#15 |  |
| Pricenode oper

[2022-11-02 15:45] MwithM commented on #1178
I've changed the title, it's not Cycle 31 but 41.

[2022-11-02 17:14] alvasw opened #1179 "For Cycle 41"
## Summary

- **BSQ requested**: **`8000`**
- USD requested: 6000
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #1159

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| BitcoindMineInitialRegtestBlocks: Increase timeout to 1 minute | dev | | https://github.com/bisq-network/bisq2/pull/511 | |
| Let Bitcoin Core manag

[2022-11-02 23:22] pazza83 opened #1180 "For Cycle 41"
## Summary

- **BSQ requested**: **`[4866.6]`**
- USD requested: [3650]
- BSQ rate: [0.75 USD/BSQ] USD per BSQ as per #1174
- Previous compensation request: #1163

This compensation request includes work done for both cycles 40 and 41 as I missed posting my compensation request to the DAO by the deadline in the [last cycle](https://github.com/bisq-network/compensation/issues/1163#issuecomment-1272

[2022-11-03 17:21] MwithM opened #1181 "For Cycle 41"
## Summary

- **BSQ requested**: **`800`**
- USD requested: 600
- BSQ rate: [0.75](https://github.com/bisq-network/compensation/issues/1174) per BSQ
- Previous compensation request (if applicable): #1158

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 50 | https://github.com/bisq-network/roles/issues/95#issuecomment

[2022-11-03 22:54] cbeams opened #1182 "For Cycle 41"
## Summary

- **BSQ requested**: 67
- USD requested: 50
- BSQ rate: [0.75](https://github.com/bisq-network/compensation/issues/1174) USD per BSQ
- Previous compensation request (if applicable): #1168

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 |  https://github.com/bisq-network/roles/issues/18#issuecomment-1302767383

[2022-11-03 23:00] cbeams commented on #1182
txid: `f2e8b0fd48cfe5161e93b929977da2acb306aca4dc70bd24348a33a3c21ab6e3`

[2022-11-04 03:17] ghost opened #1183 "For Cycle 41"
## Summary

- **BSQ requested**: **`1367`**
- USD requested: 1025
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/1165

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Warn at shutdown if Dispute message is pending | dev | 100 | https://github.com/bisq-network/bisq/

[2022-11-04 08:51] ripcurlx commented on #1183
As dev team lead I approve this compensation request for dev.

[2022-11-04 08:52] ripcurlx commented on #1178
As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

[2022-11-04 08:54] ripcurlx commented on #1179
As dev team lead I approve this compensation request for dev. Please submit your CR to the DAO for voting and post the transaction ID here afterwards. Thanks!

@alvasw Do you have an idea how far we are away from getting Bisq 2 production ready with Bisq easy?

[2022-11-04 09:16] ripcurlx opened #1184 "For Cycle 41"
## Summary

- **BSQ requested**: **`4446`**
- USD requested: 3335
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #1154

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer  | dev* | 2460 | https://github.com/bisq-network/roles/issues/63#issuecomment-1303730572 | |
| Bitcoin Fullnode Operator | op

[2022-11-04 13:28] mrosseel opened #1185 "For Cycle 41"
## Summary

- **BSQ requested**: **`533.33`**
- USD requested:  400
- BSQ rate:  0.75 USD per BSQ
- Previous compensation request (if applicable):  https://github.com/bisq-network/compensation/issues/1151

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Pricenode operator | ops* | 100 | https://github.com/bisq-network/roles/issues/14#issuecomment

[2022-11-04 13:32] ghost commented on #1185
## Info
Read BSQ amount from summary: 400
Read USD amount from summary: 300
Read BSQ rate from summary: 0.75
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"ops","amount":200}
Parsed lineitem: {"team":"ops","amount":100}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 300.00 USD
   - Calculated total: 400.00 USD

[2022-11-04 15:43] Emzy commented on #1177
As ops team lead I approve this compensation request for ops.

[2022-11-04 15:43] Emzy commented on #1183
As ops team lead I approve this compensation request for ops.

[2022-11-04 15:44] Emzy commented on #1184
As ops team lead I approve this compensation request for ops.

[2022-11-04 15:44] Emzy commented on #1185
As ops team lead I approve this compensation request for ops.

[2022-11-04 15:45] Emzy commented on #1182
As ops team lead I approve this compensation request for ops.

[2022-11-05 08:53] refund-agent2 opened #1186 "For Cycle 41"
## Summary

- **BSQ requested**: **`1789.58`**
- USD requested: 1342
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #1164

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | ---: | --- | --- |
| Reimbursements | *Support | 1342.2 | [link](https://github.com/bisq-network/roles/issues/93#issuecomment-1304441531) |  |

## Contributions in pr

[2022-11-06 21:58] burningman3 opened #1187 "For Cycle 41"
## Summary

- **BSQ requested**: **`[1333.33]`**
- USD requested: [1000]
- BSQ rate: [0.75] USD per BSQ
- Previous compensation request (if applicable): #1170

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Burningman cycle 41 | support | 1000 | https://github.com/bisq-network/roles/issues/80#issuecomment-1304903462 | |

## Contributions in prog

[2022-11-06 22:12] burningman3 commented on #1187
Tx ID: a23cbba345bb819c2fd3074047089da61c43f2b7049b3cf73613a6a983811add

[2022-11-06 22:59] mrosseel commented on #1185
txid: 9ee48248a702041e2f825672c34133b20b47fbfd09177c205bb754bcfcb8c43b

[2022-11-07 05:26] devinbileck commented on #1177
6ee4147b589e02cf33929136329b5a93ceafba4619a71447a0fa9f4ea5a7507f

[2022-11-07 14:19] alvasw commented on #1179
@ripcurlx I'll PMed you a more detailed list. We're mostly feature complete. Chimp implemented almost everything before he left. I'm at the moment, verifying that Bisq 2 is working on all operating systems.

A rough roadmap/todo-list:
 - There have been bugs that were only present on certain OSes. Linux and Windows work now. I'll test soon everything on macOS.
 - We need a wallet UI, the current o

[2022-11-07 18:45] alvasw commented on #1179
9c97dce81b2501ebf9a8e51216719996f1c2e8579518cb6a4993dcc34e69f499

[2022-11-07 23:44] Emzy commented on #1178
TXID: 23db18d553a09d7b5e8020d5040feb6799de3c016f8b28077adb493e11604fc6

[2022-11-09 08:25] sqrrm opened #1188 "For Cycle 41"
## Summary

- **BSQ requested**: **`200`**
- USD requested: 150
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #1167

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Bisq desktop maintainer | dev* | 0 |  |  |
|Bitcoin node maintainer | dev* | 50 | https://github.com/bisq-network/roles/issues/66#issuecomment-130838767

[2022-11-09 08:32] sqrrm commented on #1188
f85e55da82665651cb07da6124edd643ca9a53bbe261a00803dbe3e080de8bec

[2022-11-09 09:54] Emzy commented on #1188
As ops team lead I approve this compensation request for ops.

[2022-11-09 14:22] leo816 commented on #1176
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-11-09 14:23] leo816 commented on #1180
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-11-09 14:23] leo816 commented on #1181
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-11-09 14:23] leo816 commented on #1183
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-11-09 14:24] leo816 commented on #1186
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2022-11-09 14:51] ghost commented on #1183
10cf844cc8ddf9b441f6167dfb7bfd2507e97343ab70e645d28501c2e09bec07

[2022-11-09 14:56] w0000000t commented on #1176
f2d6e5f9c5a0e25e440ed730f2b2411c22b8e2f79c249658df5a1fa432506027

[2022-11-09 15:44] MwithM commented on #1181
Txid: `4b2733e5e628389635a8427147c4217849f34d8028ed1b1c7169f2870a588953`

[2022-11-09 16:28] pazza83 commented on #1180
Tx ID: 8bc826bcf3cb5b6363032ce64d9c831df0e4aab31e74970c3cff4aaa7d908536

[2022-11-09 17:07] sqrrm commented on #1184
I approve this compensation request.

[2022-11-09 19:43] leo816 opened #1189 "For Cycle 41"
## Summary

- **BSQ requested**: **`[2833.33]`**
- USD requested: [2125]
- BSQ rate: [0.75] USD per BSQ
- Previous compensation request (if applicable): #1130

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1100  |  https://github.com/bisq-network/roles/issues/83#issuecomment-1271669019 | Cases have decreased from the previou

[2022-11-09 19:56] leo816 commented on #1189
Tx id: 47a89e1dc74426fb2169b3226d2a2fb5be7a859d0dabb2d8000984091a0c940f

[2022-11-09 20:09] ripcurlx commented on #1189
As dev team lead I approve this compensation request.

[2022-11-09 20:11] ripcurlx commented on #1184
TxID: `191462fae3ca0cb2bf4c24b45470ae13da97487732ba72577a8345813dc6b79a`

[2022-11-09 21:17] refund-agent2 commented on #1186
d320e5dccdd89f9d922dcaa690401966907aa0398e26a320984051eff6fd4cb3

[2022-11-17 20:48] ghost commented on #1186
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1789.85|1342.20|

Total Issuance: 1789.58 BSQ (equivalent to: 1342.00 USD)

[2022-11-17 20:48] MwithM commented on #1186
Closed as accepted.

[2022-11-17 20:48] #1186 closed, assigned to nobody

[2022-11-17 20:49] ghost commented on #1180
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|4733.27|3550.00|
|admin|133.33|100.00|

Total Issuance: 4866.60 BSQ (equivalent to: 3650.00 USD)

[2022-11-17 20:49] MwithM commented on #1180
Closed as acceped.

[2022-11-17 20:49] #1180 closed, assigned to leo816

[2022-11-17 20:49] ghost commented on #1187
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1333.33|1000.00|

Total Issuance: 1333.33 BSQ (equivalent to: 1000.00 USD)

[2022-11-17 20:49] MwithM commented on #1187
Closed as acceped.

[2022-11-17 20:49] #1187 closed, assigned to leo816

[2022-11-17 20:50] ghost commented on #1185
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|533.33|400.00|

Total Issuance: 533.33 BSQ (equivalent to: 400.00 USD)

[2022-11-17 20:50] MwithM commented on #1185
Closed as acceped.

[2022-11-17 20:50] #1185 closed, assigned to nobody

[2022-11-17 20:50] ghost commented on #1177
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1266.67|950.00|

Total Issuance: 1266.67 BSQ (equivalent to: 950.00 USD)

[2022-11-17 20:50] MwithM commented on #1177
Closed as acceped.

[2022-11-17 20:50] #1177 closed, assigned to Emzy

[2022-11-17 20:50] ghost commented on #1178
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1466.00|1100.00|

Total Issuance: 1466.00 BSQ (equivalent to: 1100.00 USD)

[2022-11-17 20:50] MwithM commented on #1178
Closed as acceped.

[2022-11-17 20:50] #1178 closed, assigned to ripcurlx

[2022-11-17 20:51] ghost commented on #1179
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|8000.00|6000.00|

Total Issuance: 8000.00 BSQ (equivalent to: 6000.00 USD)

[2022-11-17 20:51] MwithM commented on #1179
Closed as acceped.

[2022-11-17 20:51] #1179 closed, assigned to ripcurlx

[2022-11-17 20:51] ghost commented on #1189
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2833.33|2125.00|

Total Issuance: 2833.33 BSQ (equivalent to: 2125.00 USD)

[2022-11-17 20:51] MwithM commented on #1189
Closed as acceped.

[2022-11-17 20:51] #1189 closed, assigned to nobody

[2022-11-17 20:51] ghost commented on #1184
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4346.01|3260.00|
|ops|99.99|75.00|

Total Issuance: 4446.00 BSQ (equivalent to: 3335.00 USD)

[2022-11-17 20:51] MwithM commented on #1184
Closed as acceped.

[2022-11-17 20:51] #1184 closed, assigned to sqrrm

[2022-11-17 20:52] ghost commented on #1182
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|67.00|50.00|

Total Issuance: 67.00 BSQ (equivalent to: 50.00 USD)

[2022-11-17 20:52] MwithM commented on #1182
Closed as acceped.

[2022-11-17 20:52] #1182 closed, assigned to Emzy

[2022-11-17 20:52] ghost commented on #1175
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|266.40|200.00|
|growth|66.60|50.00|

Total Issuance: 333.00 BSQ (equivalent to: 250.00 USD)

[2022-11-17 20:52] MwithM commented on #1175
Closed as acceped.

[2022-11-17 20:52] #1175 closed, assigned to Emzy

[2022-11-17 20:53] ghost commented on #1188
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|66.67|50.00|
|ops|133.33|100.00|

Total Issuance: 200.00 BSQ (equivalent to: 150.00 USD)

[2022-11-17 20:53] MwithM commented on #1188
Closed as acceped.

[2022-11-17 20:53] #1188 closed, assigned to Emzy

[2022-11-17 20:53] ghost commented on #1176
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1606.67|1205.00|
|dev|33.33|25.00|

Total Issuance: 1640.00 BSQ (equivalent to: 1230.00 USD)

[2022-11-17 20:53] MwithM commented on #1176
Closed as acceped.

[2022-11-17 20:53] #1176 closed, assigned to leo816

[2022-11-17 20:53] ghost commented on #1183
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|166.71|125.00|
|support|800.20|600.00|
|ops|400.10|300.00|

Total Issuance: 1367.00 BSQ (equivalent to: 1025.00 USD)

[2022-11-17 20:53] MwithM commented on #1183
Closed as acceped.

[2022-11-17 20:53] #1183 closed, assigned to ripcurlx, Emzy, leo816

[2022-11-17 20:54] ghost commented on #1181
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|66.67|50.00|
|support|600.00|450.00|
|admin|133.33|100.00|

Total Issuance: 800.00 BSQ (equivalent to: 600.00 USD)

[2022-11-17 20:54] MwithM commented on #1181
Closed as acceped.

[2022-11-17 20:54] #1181 closed, assigned to leo816

[2022-11-17 21:00] MwithM commented on #1173
Closed as Cycle 41 ended

[2022-11-17 21:00] #1173 closed, assigned to MwithM

[2022-11-17 21:01] MwithM opened #1190 "Cycle 42 deadline is December 5"
The deadline for submitting compensations requests for review is **December 5**.

More details at: https://github.com/bisq-network/compensation/issues
[Calendar](https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe)

[2022-11-17 21:04] MwithM opened #1191 "BSQ rate for Cycle 42 is 0.75 USD per BSQ"
The recommended rate to be used for compensation requests on Cycle 42 is **0.75 USD/BSQ.**

![image](https://user-images.githubusercontent.com/50149324/202559415-542bef20-a88a-4407-ba70-7a53a7216e17.png)

Rate for last cycle: #1174
More info about the Compensation process at https://bisq.wiki/Compensation

[2022-11-17 21:05] MwithM commented on #1174
Closed as end of Cycle 41

[2022-11-17 21:05] #1174 closed, assigned to MwithM

[2022-11-21 11:52] alexej996 opened #1192 "For Cycle 42"
## Summary
This is a compensation request for work done in Cycle 41.

- **BSQ requested** : **333**
- USD requested: **250**
- BSQ rate: **0.75** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/1175

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bi

[2022-11-21 11:56] alexej996 commented on #1192
DAO txid: **ce64d824fe41436285b918336bfade6536f7fd029408bfc7bf01000130ea43f9**