[2021-03-15 08:15] MwithM commented on #790
Closed as accepted.

[2021-03-15 08:15] #790 closed, assigned to ripcurlx

[2021-03-15 08:15] ghost commented on #791
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1189.77|1440.00|
|ops|303.23|367.00|

Total Issuance: 1493.00 BSQ (equivalent to: 1807.00 USD)

[2021-03-15 08:15] MwithM commented on #791
Closed as accepted.

[2021-03-15 08:15] #791 closed, assigned to ripcurlx

[2021-03-15 08:15] ghost commented on #800
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|41.32|50.00|

Total Issuance: 41.32 BSQ (equivalent to: 50.00 USD)

[2021-03-15 08:15] MwithM commented on #800
Closed as accepted.

[2021-03-15 08:15] #800 closed, assigned to nobody

[2021-03-15 08:16] ghost commented on #783
Issuance cannot be displayed as there were errors in the comp request

[2021-03-15 08:16] MwithM commented on #783
Closed as accepted.

[2021-03-15 08:16] #783 closed, assigned to ripcurlx

[2021-03-15 08:16] ghost commented on #785
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|24793.39|30000.00|

Total Issuance: 24793.39 BSQ (equivalent to: 30000.00 USD)

[2021-03-15 08:16] ghost commented on #784
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4256.20|5150.00|
|support|165.29|200.00|

Total Issuance: 4421.49 BSQ (equivalent to: 5350.00 USD)

[2021-03-15 08:16] MwithM commented on #784
Closed as accepted.

[2021-03-15 08:16] #784 closed, assigned to ripcurlx

[2021-03-15 08:16] ghost commented on #803
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1653.72|2001.00|

Total Issuance: 1653.72 BSQ (equivalent to: 2001.00 USD)

[2021-03-15 08:16] MwithM commented on #803
Closed as accepted.

[2021-03-15 08:16] #803 closed, assigned to ripcurlx

[2021-03-15 08:17] ghost commented on #781
Issuance cannot be displayed as there were errors in the comp request

[2021-03-15 08:17] MwithM commented on #781
Closed as accepted.

[2021-03-15 08:17] #781 closed, assigned to ripcurlx

[2021-03-15 08:17] ghost commented on #792
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|826.45|1000.00|

Total Issuance: 826.45 BSQ (equivalent to: 1000.00 USD)

[2021-03-15 08:17] MwithM commented on #792
Closed as accepted.

[2021-03-15 08:17] #792 closed, assigned to leo816

[2021-03-15 08:17] MwithM commented on #785
Closed as accepted.

[2021-03-15 08:17] #785 closed, assigned to ripcurlx

[2021-03-15 09:15] MwithM opened #805 "BSQ rate for Cycle 23 is 2.18 USD per 1 BSQ"
The recommended rate to be used for compensation requests on cycle 23 is 2.18 USD/BSQ.

30 Day BTC/BSQ: 0.00004868
30 Day USD/BSQ: 2.57
90 Day BTC/BSQ: 0.00004956
90 Day USD/BSQ: 2.18

More info about the Compensation process at https://bisq.wiki/Compensation
Rate for last cycle: #782
Proposal for this cycle: https://github.com/bisq-network/proposals/issues/314

On Cycle 24 the 30D volume weighted

[2021-03-15 09:15] ghost commented on #805
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2021-03-15 09:19] MwithM commented on #805
We could use today's prices, as it was proposed on proposal 314. Upvote until march 18th which one do you prefer.

BSQ rate for Cycle 23: 2.18 USD per 1 BSQ.

![imagen](https://user-images.githubusercontent.com/50149324/111130608-b2a9b180-8577-11eb-8cf0-b0d2152fdd93.png)

30 Day BTC/BSQ: 0.00004868
30 Day USD/BSQ: 2.57
90 Day BTC/BSQ: 0.00004956
**90 Day USD/BSQ: 2.18**

[2021-03-15 09:41] #782 closed, assigned to nobody

[2021-03-19 11:25] ghost commented on #805
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2021-03-19 11:25] ghost commented on #805
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2021-03-19 11:27] MwithM commented on #805
With three votes in favour of using the rate at the beginning of the cycle and 0 in favour of using the rate a week previous to end of proposal phase, the new rate is 2.18USD
For next cycle Bisq will use the 30D average at the beginning of the cycle.

[2021-03-24 12:52] paulmercier-bisq opened #806 "For cycle 23"
## Summary

- **BSQ requested**: **`[43.6]`**
- USD requested: [87.2]
- BSQ rate: [2] USD per BSQ

## Contributions delivered
**TRANSLATIONS** 43,6 BSQ
* Translations to en-fr
 Title 	Team 	USD 	Link 	Notes
Translator Translation 87.2 https://user-images.githubusercontent.com/46323936/112331675-6a963780-8cb9-11eb-9c95-68829c9ae6b7.png here
 - ![translations](https://user-images.githubusercontent.c

[2021-03-24 14:56] ghost commented on #806
## Info
Read BSQ amount from summary: 43637614679
Read USD amount from summary: 95.13
Read BSQ rate from summary: 2.18

## Errors
Incorrect BSQ rate specified: 2.18, expected: 2
No compensation lineitems found.

[2021-03-24 14:57] ghost commented on #806
## Info
Read BSQ amount from summary: 43.6
Read USD amount from summary: 87.2
Read BSQ rate from summary: 2

## Errors
No compensation lineitems found.

[2021-03-24 15:00] ghost commented on #806
## Info
Read BSQ amount from summary: 43637614679
Read USD amount from summary: 95.13
Read BSQ rate from summary: 2.18

## Errors
Incorrect BSQ rate specified: 2.18, expected: 2
No compensation lineitems found.

[2021-03-24 15:01] ghost commented on #806
## Info
Read BSQ amount from summary: 43.6
Read USD amount from summary: 87.2
Read BSQ rate from summary: 2

## Errors
No compensation lineitems found.

[2021-03-24 15:04] ghost commented on #806
## Info
Read BSQ amount from summary: 43.6
Read USD amount from summary: 87.2
Read BSQ rate from summary: 2

## Errors
No compensation lineitems found.

[2021-03-24 15:05] ghost commented on #806
## Info
Read BSQ amount from summary: 43.6
Read USD amount from summary: 87.2
Read BSQ rate from summary: 2

## Errors
No compensation lineitems found.

[2021-03-24 15:05] paulmercier-bisq commented on #806
What the

[2021-03-24 15:08] ghost commented on #806
## Info
Read BSQ amount from summary: 43.6
Read USD amount from summary: 87.2
Read BSQ rate from summary: 2

## Errors
No compensation lineitems found.

[2021-03-24 15:09] #806 closed, assigned to nobody

[2021-03-24 15:14] paulmercier-bisq opened #807 "For cycle 23"
## Summary

- **BSQ requested**: **`[178.7]`**
- USD requested: [389.55]
- BSQ rate: [2.18] USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Translator | support | 389.55 | See screenshot | here |

![translations](https://user-images.githubusercontent.com/46323936/112721928-d4efe780-8

[2021-03-24 15:29] ghost commented on #807
The USD/BSQ rate should have been 2.18 but the bot had not caught up with the latest edit of the rate in https://github.com/bisq-network/compensation/issues/805

If you edit your comp request the bot will validate using the 2.18 rate.

[2021-03-24 15:40] ghost commented on #807
## Info
Read BSQ amount from summary: 43.6
Read USD amount from summary: 95.048
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"support","amount":86.2}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 95.05 USD
   - Calculated total: 86.20 USD

[2021-03-24 15:41] paulmercier-bisq commented on #807
Done thanks :D!

[2021-03-26 19:49] ghost commented on #807
## Info
Read BSQ amount from summary: 111646788991
Read USD amount from summary: 243.39
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"support","amount":243.39}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 111646788991.00 BSQ
   - Calculated total: 111.65 BSQ

[2021-03-27 13:15] ghost commented on #807
## Info
Read BSQ amount from summary: 154.64
Read USD amount from summary: 337.12
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"support","amount":335.79}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 337.12 USD
   - Calculated total: 335.79 USD

[2021-03-27 13:17] ghost commented on #807
## Info
Read BSQ amount from summary: 154.64
Read USD amount from summary: 337.12
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"support","amount":335.79}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 337.12 USD
   - Calculated total: 335.79 USD

[2021-03-27 13:17] ghost commented on #807
## Info
Read BSQ amount from summary: 154.64
Read USD amount from summary: 337.12
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"support","amount":335.79}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 337.12 USD
   - Calculated total: 335.79 USD

[2021-03-30 11:48] wiz opened #808 "For Cycle 23"
## Summary

* **BSQ requested**: **`642`**
* USD requested: 1400
* BSQ rate: 2.18 USD per BSQ
* Previous compensation request (if applicable): #781

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin Node Operator

[2021-03-30 13:57] BtcContributor opened #809 "For Cycle 23"
Hi all,
second cycle for me and really happy so far with all the support from the community (thanks especially to @jmacxx for all the help).
Hope to contribute even more soon!

## Summary

- **BSQ requested**: **`550.45`**
- USD requested: 1200
- BSQ rate: 2.18 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Testing new Bisq releases

[2021-04-01 09:57] refund-agent2 opened #810 "For Cycle 23"
## Summary

- **BSQ requested**: **`813.26`**
- USD requested: 1772.91
- BSQ rate: 2.18 USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Refunds | *Support | 1772.91 | https://github.com/bisq-network/roles/issues/93#issuecomment-811775313 |  |

## Contributions in progress

[2021-04-01 17:12] burningman3 opened #811 "For Cycle 23"
## Summary

- **BSQ requested**: **`[458.72]`**
- USD requested: [1000]
- BSQ rate: [2.18] USD per BSQ
- Previous compensation request (if applicable): #792

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issueco

[2021-04-01 22:02] devinbileck opened #812 "For Cycle 23"
## Summary

- **BSQ requested**: **`458.72`**
- USD requested: 1000
- BSQ rate: 2.18 USD per BSQ
- Previous compensation request (if applicable): #797

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 100 | https://github.com/bisq-network/roles/issues/67#issuecomment-812324007 | 2 nodes
| Seed node operator | ops* |

[2021-04-02 09:20] wiz commented on #812
Approved for ops

[2021-04-02 15:25] ripcurlx opened #813 "For Cycle 23"
## Summary

- **BSQ requested**: **`3106`**
- USD requested: 6773
- BSQ rate: 2.18 USD per BSQ
- Previous compensation request (if applicable): #795

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev | 3840 | https://github.com/bisq-network/roles/issues/63#issuecomment-812578782 |  |
| Bitcoin Fullnode Operator| ops |

[2021-04-02 16:04] ghost opened #814 "For Cycle 23"
## Summary

- **BSQ requested**: **`2385`**
- USD requested: 5200
- BSQ rate: 2.18 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/791

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Verify maker & taker fee transactions via Mempool lookup | dev | 3500 | https://github.com/bisq-n

[2021-04-02 18:12] ghubstan opened #815 "For Cycle 23"
## Summary

- **BSQ requested**: **`3268.35`**
- USD requested: 7125
- BSQ rate: 2.18 USD per BSQ
- Previous compensation request (if applicable): #790

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Display buyer's cost in api's gettrade output| dev |400|https://github.com/bisq-network/bisq/pull/5246| merged |
| Improve gRPC server error loggin

[2021-04-02 18:29] RififiCastorjunior opened #816 "For Cycle 23"
## Summary

- **BSQ requested**: **`619.27`**
- USD requested: 1350
- BSQ rate: 2.18 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|L1 Support Agent| Support | 1350 | https://github.com/bisq-network/roles/issues/64#issuecomment-812643482 |  |

## Contributions in progress

[2021-04-02 21:11] sqrrm opened #817 "For Cycle 23"
## Summary

- **BSQ requested**: **`463`**
- USD requested: 1010
- BSQ rate: 2.18 USD per BSQ
- Previous compensation request (if applicable): #788

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Add NGN as default | dev | 80 | https://github.com/bisq-network/bisq/pull/5293 | |
| Lower deposit | dev | 100 | https://github.com/bisq-network/bisq/p

[2021-04-02 23:40] wallclockbuilder opened #818 "For Cycle 23"
## Summary(Previous Cycle 22)

- **BSQ requested**: **`225.69`**
- USD requested: 492
- BSQ rate: 2.18 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Changes "Verify result" to "Check signature" | dev | 15 | [5209](https://github.com/bisq-network/bisq/pull/5209) | Code Review |
| Add step for signature creation for Arch Linux  | dev

[2021-04-02 23:40] ghost commented on #818
## Info
Read BSQ amount from summary: 218.8073394
Read USD amount from summary: 477
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"dev","amount":15}
Parsed lineitem: {"team":"dev","amount":349}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"team":"dev","amount":21}
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":2}

## Errors
ERROR: T

[2021-04-03 00:30] ghost commented on #818
## Info
Read BSQ amount from summary: 406.6115702
Read USD amount from summary: 492
Read BSQ rate from summary: 1.21
Parsed lineitem: {"team":"dev","amount":15}
Parsed lineitem: {"team":"dev","amount":349}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"team":"dev","amount":21}
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":2}

## Errors
Incorrec

[2021-04-03 00:33] wallclockbuilder commented on #818
It says for Cycle 22 in the title. Why is the bot still insisting on the cycle 23 rate?

[2021-04-03 00:36] wallclockbuilder opened #819 "For Cycle 23"
## Summary

- **BSQ requested**: **`283.49`**
- USD requested: 618.00
- BSQ rate: 2.18 USD per BSQ

## Contributions delivered
Cycle 23

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Replace slack with Keybase | dev | 5 | [5288](https://github.com/bisq-network/bisq/pull/5288) | PR |
|Release v1.6.0 | dev | 441 | [Report](https://bisq.ontestpad.com/project/1/folder/f104/re

[2021-04-03 00:36] ghost commented on #819
## Info
Read BSQ amount from summary: 497.2477064
Read USD amount from summary: 1084
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":564}
Parsed lineitem: {"team":"dev","amount":128}
Parsed lineitem: {"team":"dev","amount":17}
Parsed lineitem: {"team":"dev","amount":7}
Parsed lineitem: {"team":"dev","amount":3}
Parsed lineitem: {"

[2021-04-03 00:50] wallclockbuilder commented on #818
@bisq-network/bisq-devs Whats the best way to make the bot happy?

[2021-04-03 01:04] wallclockbuilder commented on #818
I guess its ok. [This issue](https://github.com/bisq-network/compensation/issues/781) had the same problem but was accepted anyway.
About time human overrules bot.

[2021-04-03 05:58] cbeams opened #820 "For Cycle 23"
## Summary

- **BSQ requested**: 23
- USD requested: 50
- BSQ rate: [2.18](https://github.com/bisq-network/compensation/issues/805) USD per BSQ
- Previous compensation request (if applicable): #794 (deferred)

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 | https://github.com/bisq-network/roles/issues/18#issuecomment-812

[2021-04-03 06:02] cbeams commented on #820
@m52go please approve as per usual.

@bisq-network/compensation-maintainers, please note that like my last compensation request, I will also defer this one in order to batch settle in a later cycle.

[2021-04-03 08:04] MwithM commented on #818
Current DAO cycle, which its proposal phase will end in a week, is Cycle 23. Even if your job was done at Cycle 22, you should title your tasks as "For Cycle 23" and indicate if it's a past task.

[2021-04-03 08:10] leo816 commented on #810
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-04-03 08:10] leo816 commented on #811
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-04-03 08:12] leo816 commented on #816
Please go in more depth as to why you have raised the compensation request of L1 support agent from 500 to 1350

[2021-04-03 08:32] ghost commented on #818
## Info
Read BSQ amount from summary: 406.6115702
Read USD amount from summary: 492
Read BSQ rate from summary: 1.21
Parsed lineitem: {"team":"dev","amount":15}
Parsed lineitem: {"team":"dev","amount":349}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"team":"dev","amount":21}
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":2}

## Errors
Incorrec

[2021-04-03 08:34] ghost commented on #818
## Info
Read BSQ amount from summary: 406.6115702
Read USD amount from summary: 492
Read BSQ rate from summary: 1.21
Parsed lineitem: {"team":"dev","amount":15}
Parsed lineitem: {"team":"dev","amount":349}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"team":"dev","amount":21}
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":2}

## Errors
Incorrec

[2021-04-03 08:34] wallclockbuilder commented on #818
Updated.

[2021-04-03 08:44] ghost commented on #818
## Info
Read BSQ amount from summary: 406.6115702
Read USD amount from summary: 492
Read BSQ rate from summary: 1.21
Parsed lineitem: {"team":"dev","amount":15}
Parsed lineitem: {"team":"dev","amount":349}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"team":"dev","amount":21}
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":2}

## Errors
Incorrec

[2021-04-03 10:15] Emzy opened #821 "For Cycle 23"
## Summary

- **BSQ requested**: **`550`**
- USD requested: 1200
- BSQ rate: 2.18 USD per BSQ
- Previous compensation request (if applicable): #799

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 4* Seed node operator | ops* | 400 | bisq-network/roles#15 | 1 old node (Onion V2)

[2021-04-03 11:24] RififiCastorjunior commented on #816
L1 support agent compensation is 500 for 10 hours, so i done this :

                                  - 500/4 = 125         number of weeks
                                  - 125/10= 12,5        number of hours

So `12,5` is the average compensation done per hour for the role of L1 support agent.

This month i done more than 28 hours per week :

                              - 12,5 * 28 =  350

[2021-04-03 11:29] MwithM opened #822 "For Cycle 23"
## Summary

- **BSQ requested**: **`521.56`**
- USD requested: 1137
- BSQ rate: 2.18 USD per BSQ as per #805
- Previous compensation request (if applicable): #789

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Community Manager| *Growth | 450 |https://github.com/bisq-network/roles/issues/95#issuecomment-812846496 |  |
|Transifex Admin| *Growth |

[2021-04-03 11:29] ghost commented on #822
## Info
Read BSQ amount from summary: 52156
Read USD amount from summary: 1137
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"growth","amount":450}
Parsed lineitem: {"team":"growth","amount":50}
Parsed lineitem: {"team":"growth","amount":12}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"admin","amount":100}
Parsed lineitem: {"team":"admin","amount":25}

##

[2021-04-04 11:23] freimair opened #823 "For Cycle 23"
## Summary

- **BSQ requested**: **`69`**
- USD requested: 150
- BSQ rate: 2.18 USD per BSQ
- Previous compensation request (if applicable): #801

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Arch Linux AUR Maintainer Cycle 23 | dev* | 150 |   https://github.com/bisq-network/roles/issues/78#issuecomment-810000345|

## Contributions in progress

[2021-04-04 11:25] freimair opened #824 "For Cycle 23"
## Summary

- **BSQ requested**: **`1376`**
- USD requested: 3000
- BSQ rate: 2.18 USD per BSQ
- Previous compensation request (if applicable): #802

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Reduce bandwidth requirement on Bisq startup | dev | 3000 | bisq-network/projects#25 | the project got completed recently, and given the design is the

[2021-04-04 11:25] ghost commented on #824
## Info
Read BSQ amount from summary: 1376
Read USD amount from summary: 3000
Read BSQ rate from summary: 218
Parsed lineitem: {"team":"dev","amount":3000}

## Errors
Incorrect BSQ rate specified: 218, expected: 2.18

[2021-04-04 12:37] refund-agent2 commented on #810
Transaction ID: ceeda3af3c04246cc12fd51131add142f44dd0f8888e7916790b6e80ae865b49

[2021-04-04 15:06] leo816 commented on #822
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-04-04 17:13] MwithM commented on #807
I approve this Compensation request, you can submit the TXID when you have [submitted](https://bisq.wiki/Compensation#Submit_your_request_as_a_DAO_proposal) this compensation request to DAO.
As a first time contributor, you can reach me at Keybase for help.

[2021-04-04 17:14] MwithM commented on #822
Waiting for @m52go approval.

[2021-04-05 04:57] devinbileck commented on #812
Tx ID 459c97a1eae6e63933ad147a0a40e09a2705b4c8414a1f610c54146984f092e4

[2021-04-05 05:04] m52go commented on #822
Looks good to me -- [approved](https://bisq.wiki/Compensation#Review_team_member_requests) :+1:

[2021-04-05 05:09] m52go commented on #807
Good to see, as French translations were in much need of some attention.

[2021-04-05 05:16] m52go commented on #820
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests) -- submit as you prefer.

[2021-04-05 06:34] paulmercier-bisq commented on #807
Txid : 74a956cdc9b5def00667386d0176bf83edee90051b3db31ec8f1ab8538f5f7b3
A big thanks to @MwithM for lending 10 BSQ for fees <3

[2021-04-05 11:41] MwithM commented on #816
I've never asked for more than 500USD per cycle as a support agent, that's a fixed price independent of the min 10 hours per week required.

[2021-04-05 15:49] pazza83 opened #825 "[Draft] For Cycle 23"
## Summary

- **BSQ requested**: **`[688.07]`**
- USD requested: [1500]
- BSQ rate: [2.18 USD/BSQ] USD per BSQ as per #805
- Previous compensation request: #798

## Contributions delivered for Cycle 23

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Payment Maintainer Role | *Growth | 1000 | URL | Comments |
| Support Agent | *Support  | 500 | https://github.com/bisq-networ

[2021-04-05 15:49] ghost commented on #825
## Info
Read BSQ amount from summary: 583.65
Read USD amount from summary: 1500
Read BSQ rate from summary: 2.57
Parsed lineitem: {"team":"growth","amount":1000}
Parsed lineitem: {"team":"support","amount":500}

## Errors
Incorrect BSQ rate specified: 2.57, expected: 2.18
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 583.65 BSQ
   - Calculated total: 688.07 BSQ

[2021-04-05 16:10] Emzy commented on #817
Approved for ops

[2021-04-05 16:10] Emzy commented on #808
Approved for ops

[2021-04-05 16:10] Emzy commented on #821
(self)approved for ops

[2021-04-05 17:07] ripcurlx commented on #809
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-04-05 17:08] ripcurlx commented on #814
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-04-05 17:09] ripcurlx commented on #815
Sorry for being late, but @sqrrm could you please help with reviewing Stan's work? Thanks!

[2021-04-05 17:10] ripcurlx commented on #817
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-04-05 17:10] ripcurlx commented on #823
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-04-05 17:29] #825 closed, assigned to nobody

[2021-04-05 17:29] pazza83 opened #826 "For Cycle 23"
## Summary

- **BSQ requested**: **`[688.07]`**
- USD requested: [1500]
- BSQ rate: [2.18 USD/BSQ] USD per BSQ as per #805
- Previous compensation request: #798

## Contributions delivered for Cycle 23

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Payment Maintainer Role | *Growth | 1000 | https://github.com/bisq-network/roles/issues/38#issuecomment-813519670 | All going

[2021-04-05 19:30] ripcurlx commented on #819
@wallclockbuilder Please don't create test scripts on your own for new releases, as it leads to unnecessary testing cycles. In this case you were testing for v1.6.1 account creation, but the changes in the release https://github.com/bisq-network/bisq/releases/tag/v1.6.1 didn't touch this part of the code at all. The amount for release testing of v1.6.0 also seems to be higher than what we compensa

[2021-04-05 19:31] ripcurlx commented on #818
@wallclockbuilder Could you please resolve the issues pointed out by the bisq-bot so it can be reviewed? Thanks!

[2021-04-05 19:35] wallclockbuilder commented on #818
This is for previous cycle 22. The bot is insisting on cycle 23 rate.

I guess its ok. [This issue](https://github.com/bisq-network/compensation/issues/781) had the same problem but was accepted anyway.

[2021-04-05 21:07] wallclockbuilder commented on #819
- [5356](https://github.com/bisq-network/bisq/pull/5356): Setup time required to switch into API enduser context. Being a first time user(tester), there were some sunk costs in setup time. This setup will not need to be done again for other tests.
- [5353](https://github.com/bisq-network/bisq/pull/5353) Adjusted the number. Should have been a utACK.
- [5354](https://github.com/bisq-network/bisq/pu

[2021-04-05 21:10] ghost commented on #819
## Info
Read BSQ amount from summary: 497.2477064
Read USD amount from summary: 1086
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":564}
Parsed lineitem: {"team":"dev","amount":128}
Parsed lineitem: {"team":"dev","amount":17}
Parsed lineitem: {"team":"dev","amount":7}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"

[2021-04-05 21:11] ghost commented on #819
## Info
Read BSQ amount from summary: 497.2477064
Read USD amount from summary: 1056
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":564}
Parsed lineitem: {"team":"dev","amount":128}
Parsed lineitem: {"team":"dev","amount":17}
Parsed lineitem: {"team":"dev","amount":7}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"

[2021-04-05 21:57] ghost commented on #819
## Info
Read BSQ amount from summary: 484.4
Read USD amount from summary: 1056
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":564}
Parsed lineitem: {"team":"dev","amount":128}
Parsed lineitem: {"team":"dev","amount":17}
Parsed lineitem: {"team":"dev","amount":7}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":

[2021-04-05 22:27] ghost commented on #819
## Info
Read BSQ amount from summary: 408.72
Read USD amount from summary: 891
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":564}
Parsed lineitem: {"team":"dev","amount":128}
Parsed lineitem: {"team":"dev","amount":17}
Parsed lineitem: {"team":"dev","amount":7}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":

[2021-04-05 22:28] wallclockbuilder commented on #819
- Release v1.6.1 Adjusted to 0.

[2021-04-05 22:51] wallclockbuilder commented on #819
The testing is in the ball park of the most [recent tests](https://github.com/bisq-network/compensation/issues/795) approved. Mine is a few percentage points higher only because I'm a first timer. It'll get lower as I do more rounds.

[2021-04-06 00:59] pedromvpg opened #827 "For Cycle 23"
# Summary

- BSQ requested: 688.07
- USD requested: 1500
- BSQ rate: 2.18 USD/BSQ USD per BSQ as per #805

Title | Team | USD | Link | Notes
-- | -- | -- | -- | --
Reimbursement for BitBlockBoom Sponsorship  | Growth | 1500 | [BTC TX](https://mempool.space/tx/22e5eed9ac92290c7f6c0b9c8829dc88cdfb738b9d036f2f8020e309b1c31594) |

![paste (3)](https://user-images.githubusercontent.com/807505/113644016

[2021-04-06 00:59] ghost commented on #827
## Info
Parsed lineitem: {"team":"growth","amount":1500}

## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
Unknown team specified: --
Invalid amount specified: --
Tableformat: request lineitem #1 did not pass validation.

[2021-04-06 03:03] ghost commented on #814
TxId: 3e920222404b066ea93281e6210232ddf964b2d2d0791e4a3aab93417f0dd476

[2021-04-06 03:58] m52go commented on #827
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests). Please submit to the DAO and post txid here.

[2021-04-06 04:09] m52go commented on #826
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests) for growth :+1:

[2021-04-06 08:52] leo816 commented on #826
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-04-06 08:56] wiz commented on #821
Approved for ops

[2021-04-06 08:59] leo816 commented on #816
Personally, I agree with @MwithM . As of right now, I believe we all do extra hours that are not accounted for. Almost triple what all other support agents are asking for is too much. In the future when Bisq reaches a higher volume I would consider this to be more adequate. I would like to hear from other support team members and have an open discussion. If you strongly believe this is justified,

[2021-04-06 09:38] MwithM commented on #827
I just discovered what bitblockboom is, and I like the bronze sponsorship, but I miss some more details about this initiative.

[2021-04-06 09:41] MwithM commented on #818
If all the tasks were for the previous cycle, it would be ok to use 1.21USD. Why didn't you submit this compensation request then?

[2021-04-06 09:57] sqrrm commented on #815
I approve of this CR.

Going forward we should get some further feedback from the community on where to focus the efforts with the API as it's now released and there should be some real world usage.

[2021-04-06 10:02] sqrrm commented on #818
The only reason to use an old exchange rate should be that the CR was held back for technical reasons like when there was too much BSQ requested and some contributors had to wait one cycle with their requests to avoid failing the vote due to hitting the max issuance limit.

Even in the case of a failed cycle I think it's right to use the current rate.

[2021-04-06 10:05] sqrrm commented on #813
I approve of this CR.

[2021-04-06 10:32] MwithM commented on #818
It's ok for me to do like this from now on.

[2021-04-06 10:32] MwithM commented on #818
It's ok for me to do like this from now on.

[2021-04-06 13:41] wallclockbuilder commented on #818
#523 submitted late and it was approved without any discretionary opinions. Is there any written policy concerning this?

[2021-04-06 13:43] ghost commented on #818
## Info
Read BSQ amount from summary: 406.6115702
Read USD amount from summary: 492
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"dev","amount":15}
Parsed lineitem: {"team":"dev","amount":349}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"team":"dev","amount":21}
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":2}

## Errors
ERROR: T

[2021-04-06 13:46] ghubstan commented on #815
588c3df376acafb01891a5b0b2aee37078c27e20a08527e7647d060a49062b61

[2021-04-06 13:47] RififiCastorjunior commented on #816
So it's a min 10 hours, what if people doing more than 10 hours ? for the last 3 month i done more than 25 hours available hours and help on every issue that happen when i attended to the shift. Less than 10min to respond to the users.

On my proposal last month, i also ask if is too munch of compensation for those 21+ hours, there were no respond to that point.

Also ask about if i should stick o

[2021-04-06 13:48] ghost commented on #818
## Info
Read BSQ amount from summary: 406.6115702
Read USD amount from summary: 492
Read BSQ rate from summary: 1.21
Parsed lineitem: {"team":"dev","amount":15}
Parsed lineitem: {"team":"dev","amount":349}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"team":"dev","amount":21}
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":2}

## Errors
Incorrec

[2021-04-06 14:13] wallclockbuilder commented on #818
Updated rate to cycle 23 rate(2.18) as requested.

[2021-04-06 15:27] RififiCastorjunior commented on #816
I think i get the idea now, thanks for all. i was wondering why Dev doesn't want to touch to BSQ, i get it now.

i have to be known and i don't have any credibility, so Bisq is an another "death march" project. Thnx for all i will move to other stuff.

Like the CEO says all i done its free.

[2021-04-06 15:27] #816 closed, assigned to leo816

[2021-04-06 15:31] ghost commented on #818
New contributors often lack the domain knowledge to provide valuable code reviews.
I've not seen anyone else charge for code reviews other than the repository maintainers & I think that's how it should be.

Advice: accept constructive criticism & persevere.  Improve your contributions.

[2021-04-06 18:57] alexej996 opened #828 "For Cycle 23"
## Summary
This is a compensation request for work done in Cycle 22.

- **BSQ requested** : **114**
- USD requested: **250**
- BSQ rate: **2.18** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/804

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bis

[2021-04-06 19:13] alexej996 commented on #828
DAO txid: **6b76912518d39337c30f876c4cbc102e70e21f9f26e2aa68898e56c0361e08ad**

[2021-04-06 22:10] m52go commented on #827
I've never been there, but as I understand it, it's one of the most "toxic" maximalist events there is. Yet apparently many people there don't know about Bisq or aren't familiar with what sets it apart.

[2021-04-07 01:13] pazza83 commented on #826
Tx ID: debd033cdce39c851b56ec04a482b8fe0796727b7d6f77265f817a0c2769

[2021-04-07 04:27] pedromvpg commented on #827
Here it is. Thank you for the reminder!
ff361ded45b4b1d1d96251b2340736717dffdadc59b9498077b5f3df7dc6d591

https://mempool.space/tx/ff361ded45b4b1d1d96251b2340736717dffdadc59b9498077b5f3df7dc6d591

[2021-04-07 09:11] Emzy commented on #821
TXID 648f882f65a4a2ebb9c2fb504df4b8856b69b65f133617a4d389b1d3199b153b

[2021-04-07 09:56] sqrrm commented on #817
Tx: 2428d75393f8a2ce385339e5d14810b2c8ae6b74d225b6b9b8c9331a9dad41ab

[2021-04-07 14:11] ripcurlx commented on #819
As we don't want to incentivize time spent, but rather what is delivered it would be great to keep out of your testing and review efforts anything that is related to one-time setup efforts. So it is easier to review for everyone who is checking CRs without the need to know if someone is already around for a long time or new to Bisq.

[2021-04-07 15:34] wallclockbuilder commented on #819
Will do!

[2021-04-07 15:39] ghost commented on #819
## Info
Read BSQ amount from summary: 385.78
Read USD amount from summary: 741
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":564}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":17}
Parsed lineitem: {"team":"dev","amount":7}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"d

[2021-04-07 15:48] wallclockbuilder commented on #819
5354: Adjusted from 128 to 28
5356: Adjusted from 87 to 37

[2021-04-07 21:09] BtcContributor commented on #809
DAO txid: **4eee5432b4d6544e744c32f289da7eb02a9c58208ed4fc5a572fa76a375470ab**

[2021-04-08 01:11] leo816 opened #829 "For Cycle 23"
## Summary

- **BSQ requested**: **`919.26`**
- USD requested: 2004
- BSQ rate: 2.18 USD per BSQ
- Previous compensation request (if applicable): #744

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-815374081 |  |
| L1 Support Agent | Support | 500 |https://

[2021-04-08 14:32] ripcurlx commented on #829
As [dev team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request.

[2021-04-08 15:54] MwithM commented on #829
Just on time.

![giphy](https://user-images.githubusercontent.com/50149324/114058066-6c542380-9893-11eb-82be-2f7e7e13dfa5.gif)

[2021-04-08 16:01] wallclockbuilder commented on #818
@MwithM. Noticed you moved this to "closed" earlier. Its ready for review now. Please move it to back to "in review".

[2021-04-08 16:02] wallclockbuilder commented on #819
@ripcurlx All issues addressed. Ready for review.

[2021-04-08 21:56] leo816 commented on #829
proposal tx id: cc8ca27d52ddcde5880e54c010e7282619036c2ab42c8f0f4dfd0a4cea05946d

[2021-04-09 09:38] wiz commented on #808
845738fc16a55f3af9f1e0c1579b05eca71c4fa330385aa8cdc7b9d42cedfcb3

[2021-04-09 09:59] MwithM commented on #819
The proposal phase time has concluded, you will have to resubmit this for next cycle. It would be nice if you finally get it approved though. You can keep the review even if the issue is closed.

Closed as not submitted.

[2021-04-09 09:59] #819 closed, assigned to nobody

[2021-04-09 10:03] MwithM commented on #818
@wallclockbuilder I clicked the _close issue_ button by mistake, and then reopened it afterwards. I did not realize that by doing that, the issue stayed as `closed` and did not go back to `in review`. Sorry for that, but I think that this is not the reason why the review did not get in time.
As for #819, I think it's better if the review for this tasks are finally reviewed. That can be done even a

[2021-04-09 10:03] #818 closed, assigned to ripcurlx

[2021-04-09 10:24] MwithM commented on #822
ea6395587ded99ea69df6979a191a8e469054eaa0cd081e0f5c9e3132d17deb5

[2021-04-09 10:24] MwithM commented on #811
Please share the TXID of your proposal.

[2021-04-09 10:26] #820 closed, assigned to m52go

[2021-04-09 10:26] MwithM commented on #823
Please submit the txid of this proposal.

[2021-04-09 10:27] MwithM commented on #813
Please submit the TXID.

[2021-04-09 14:14] wallclockbuilder commented on #819
Alright

[2021-04-09 17:37] ripcurlx commented on #819
Sorry about this delayed reviews. I had and have still personal issues that consumed most of my time over the last week. I'll do another proper review of the changes on Monday. Sorry that you missed because of this the chance to submit your CR for this cycle.

[2021-04-12 09:55] ripcurlx commented on #826
@pazza83 It seems you have posted here a different Tx ID than what I see in the DAO CR: `5b47debd033cdce39c851b56ec04a482b8fe0796727b7d6f77265f817a0c2769` Can you please re-check if you posted the wrong Tx ID?

[2021-04-12 09:56] ripcurlx commented on #813
Sorry about that. Missed it this time: `5cc69e903ce17eae379622329aecae00d37d0ef76895ea12c514b57fd9144bb5`

[2021-04-12 09:58] ripcurlx commented on #828
@wiz @Emzy Could you please approve this CR? Thanks!

[2021-04-12 09:58] wiz commented on #828
Approved for ops!

[2021-04-12 11:39] pazza83 commented on #826
Hi @ripcurlx

Thanks for spotting.

You are correct, the Tx ID is: 5b47debd033cdce39c851b56ec04a482b8fe0796727b7d6f77265f817a0c2769

Many thanks

[2021-04-15 18:31] MwithM commented on #824
Closed as not submitted.

[2021-04-15 18:31] #824 closed, assigned to ripcurlx

[2021-04-15 18:32] ghost commented on #811
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|458.72|1000.00|

Total Issuance: 458.72 BSQ (equivalent to: 1000.00 USD)

[2021-04-15 18:32] MwithM commented on #811
Closed as accepted

[2021-04-15 18:32] #811 closed, assigned to leo816

[2021-04-15 18:33] ghost commented on #823
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|69.00|150.00|

Total Issuance: 69.00 BSQ (equivalent to: 150.00 USD)

[2021-04-15 18:33] MwithM commented on #823
Closed as accepted

[2021-04-15 18:33] #823 closed, assigned to ripcurlx

[2021-04-15 18:34] ghost commented on #827
Issuance cannot be displayed as there were errors in the comp request

[2021-04-15 18:35] ghost commented on #827
## Info
Parsed lineitem: {"team":"growth","amount":1500}

## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
Unknown team specified: --
Invalid amount specified: --
Tableformat: request lineitem #1 did not pass validation.

[2021-04-15 18:36] MwithM commented on #827
Closed as accepted

[2021-04-15 18:36] #827 closed, assigned to m52go

[2021-04-15 18:36] ghost commented on #807
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|178.70|389.55|

Total Issuance: 178.70 BSQ (equivalent to: 389.55 USD)

[2021-04-15 18:37] MwithM commented on #807
Closed as accepted

[2021-04-15 18:37] #807 closed, assigned to m52go, MwithM

[2021-04-15 18:37] ghost commented on #812
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|458.72|1000.00|

Total Issuance: 458.72 BSQ (equivalent to: 1000.00 USD)

[2021-04-15 18:37] MwithM commented on #812
Closed as accepted

[2021-04-15 18:37] #812 closed, assigned to nobody

[2021-04-15 18:37] ghost commented on #814
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|2385.00|5200.00|

Total Issuance: 2385.00 BSQ (equivalent to: 5200.00 USD)

[2021-04-15 18:37] MwithM commented on #814
Closed as accepted

[2021-04-15 18:37] #814 closed, assigned to ripcurlx

[2021-04-15 18:37] ghost commented on #826
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|458.71|1000.00|
|support|229.36|500.00|

Total Issuance: 688.07 BSQ (equivalent to: 1500.00 USD)

[2021-04-15 18:37] MwithM commented on #826
Closed as accepted

[2021-04-15 18:37] #826 closed, assigned to m52go, leo816

[2021-04-15 18:37] ghost commented on #821
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|550.00|1200.00|

Total Issuance: 550.00 BSQ (equivalent to: 1200.00 USD)

[2021-04-15 18:38] MwithM commented on #821
Closed as accepted

[2021-04-15 18:38] #821 closed, assigned to nobody

[2021-04-15 18:38] ghost commented on #810
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|813.26|1772.91|

Total Issuance: 813.26 BSQ (equivalent to: 1772.91 USD)

[2021-04-15 18:39] MwithM commented on #810
Closed as accepted

[2021-04-15 18:39] #810 closed, assigned to leo816

[2021-04-15 18:39] ghost commented on #817
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|403.41|880.00|
|ops|59.59|130.00|

Total Issuance: 463.00 BSQ (equivalent to: 1010.00 USD)

[2021-04-15 18:39] MwithM commented on #817
Closed as accepted

[2021-04-15 18:39] #817 closed, assigned to ripcurlx

[2021-04-15 18:39] ghost commented on #809
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|550.45|1200.00|

Total Issuance: 550.45 BSQ (equivalent to: 1200.00 USD)

[2021-04-15 18:39] MwithM commented on #809
Closed as accepted

[2021-04-15 18:39] #809 closed, assigned to ripcurlx

[2021-04-15 18:39] ghost commented on #808
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|642.00|1400.00|

Total Issuance: 642.00 BSQ (equivalent to: 1400.00 USD)

[2021-04-15 18:39] MwithM commented on #808
Closed as accepted

[2021-04-15 18:39] #808 closed, assigned to ripcurlx

[2021-04-15 18:39] ghost commented on #822
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|234.86|512.00|
|support|229.36|500.00|
|admin|57.34|125.00|

Total Issuance: 521.56 BSQ (equivalent to: 1137.00 USD)

[2021-04-15 18:40] MwithM commented on #822
Closed as accepted

[2021-04-15 18:40] #822 closed, assigned to m52go, leo816

[2021-04-15 18:40] ghost commented on #828
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|91.20|200.00|
|growth|22.80|50.00|

Total Issuance: 114.00 BSQ (equivalent to: 250.00 USD)

[2021-04-15 18:40] MwithM commented on #828
Closed as accepted

[2021-04-15 18:40] #828 closed, assigned to m52go

[2021-04-15 18:40] ghost commented on #815
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|3268.35|7125.00|

Total Issuance: 3268.35 BSQ (equivalent to: 7125.00 USD)

[2021-04-15 18:40] MwithM commented on #815
Closed as accepted

[2021-04-15 18:40] #815 closed, assigned to ripcurlx, sqrrm

[2021-04-15 18:40] ghost commented on #829
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|919.26|2004.00|

Total Issuance: 919.26 BSQ (equivalent to: 2004.00 USD)

[2021-04-15 18:40] MwithM commented on #829
Closed as accepted

[2021-04-15 18:40] #829 closed, assigned to ripcurlx

[2021-04-15 18:40] ghost commented on #813
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|3071.61|6698.00|
|ops|34.39|75.00|

Total Issuance: 3106.00 BSQ (equivalent to: 6773.00 USD)

[2021-04-15 18:40] MwithM commented on #813
Closed as accepted

[2021-04-15 18:40] #813 closed, assigned to nobody

[2021-04-15 18:48] MwithM opened #830 "BSQ rate for Cycle 24 is 2.4 USD per 1 BSQ"
The recommended rate to be used for compensation requests on cycle 24 is 2.4 USD/BSQ.

30 Day BTC/BSQ: 0.00004033
30 Day USD/BSQ: 2.398
90 Day BTC/BSQ: 0.00004807
90 Day USD/BSQ: 2.443

More info about the Compensation process at https://bisq.wiki/Compensation
Rate for last cycle: #805

30D volume weighted average has been used, as in proposal [#313](https://github.com/bisq-network/proposals/issue

[2021-04-15 18:50] MwithM commented on #805
Closed in Cycle 24

[2021-04-15 18:50] #805 closed, assigned to nobody

[2021-04-15 19:08] ghubstan commented on #809
I got an email about this issuance.  Not sure if that is a problem or bug.

[2021-05-02 09:09] BtcContributor opened #831 "For Cycle 24"
Hi all,
third cycle for me!

## Summary

- **BSQ requested**: **`364.58`**
- USD requested: 875
- BSQ rate: 2.4 USD per BSQ
- Previous compensation request (if applicable): #809

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Testing new Bisq releases | dev | 500 | | Test reports for [v1.6.3](https://bisq.ontestpad.com/project/1/folder/f117/repo

[2021-05-02 14:02] ghubstan opened #832 "For Cycle 24"
## Summary

- **BSQ requested**: **`781.25`**
- USD requested: 1875
- BSQ rate: 2.4 USD per BSQ
- Previous compensation request (if applicable): #815

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Complete API support for BSQ/BTC trade pair|dev|1750|https://github.com/bisq-network/bisq/pull/5412| merged |
|Adjust to changing minimum tx fee rates

[2021-05-03 09:43] MwithM opened #833 "For cycle 24"
## Summary

- **BSQ requested**: **`490.42`**
- USD requested: 1177 USD
- BSQ rate: 2.4 USD per BSQ as per #830
- Previous compensation request (if applicable): #822

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 500 | https://github.com/bisq-network/roles/issues/95#issuecomment-831134408 |  |
| Transfiex Admin | *

[2021-05-03 09:43] ghost commented on #833
## Info
Read BSQ amount from summary: 490.42
Read USD amount from summary: 11771177
Read BSQ rate from summary: 2.4
Parsed lineitem: {"team":"growth","amount":500}
Parsed lineitem: {"team":"growth","amount":25}
Parsed lineitem: {"team":"growth","amount":27}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"admin","amount":75}
Parsed lineitem: {"team":"admin","amount":50}

[2021-05-03 20:38] burningman3 opened #834 "For Cycle 24"
## Summary

- **BSQ requested**: **`[416.67]`**
- USD requested: [1000]
- BSQ rate: [2.4] USD per BSQ
- Previous compensation request (if applicable): #811

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issuecom

[2021-05-04 04:06] ghost opened #835 "For Cycle 24"
## Summary

- **BSQ requested**: **`312`**
- USD requested: 750
- BSQ rate: 2.4 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/814

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Disputes UI improvements | dev | 50 | https://github.com/bisq-network/bisq/pull/5370 | 1.6.3
| Messa

[2021-05-04 07:07] ripcurlx commented on #835
@jmacxx Too low as always, but I'll approve this request as dev team lead.

[2021-05-04 07:35] ripcurlx commented on #832
As dev team lead I approve this compensation request.

[2021-05-04 07:39] ripcurlx commented on #831
Here is the report link: https://bisq.ontestpad.com/project/1/folder/f117/report/?auth=f53d492354f5c9640e9757abc5b153a9

Just out of interest - is there a specific reason for the increased testing amount compared to past testing cycles?

[2021-05-04 08:27] BtcContributor commented on #831
Hi @ripcurlx,
as I previously wrote:
"I am charging a little more for testing as Segwit BSQ tests required more effort and time than usual."

However, if you think this is or could be perceived as too much, please let me know and I will lower the amount, no problem at all.

Thanks!

[2021-05-04 08:50] ripcurlx commented on #831
I should read the whole CR before posting 😉

As team lead I approve this CR.

[2021-05-04 10:21] MwithM commented on #831
Remember that you should use v1.6.3 to submit this CR to the DAO.

[2021-05-04 10:22] MwithM commented on #832
Remember that you should use v1.6.3 to submit this CR to the DAO.

[2021-05-04 10:22] MwithM commented on #835
Remember that you should use v1.6.3 to submit this CR to the DAO.

[2021-05-04 12:44] ghubstan commented on #832
Thanks for the reminder.

[2021-05-04 13:22] ghubstan commented on #832
`72ccc91f2728637638631b11790ebf7eee4b84ea07a257f6de2807fa8a81aaed`

[2021-05-05 08:06] cbeams opened #836 "For Cycle 24"
## Summary

- **BSQ requested**: 20.83
- USD requested: 50
- BSQ rate: [2.40](https://github.com/bisq-network/compensation/issues/830) USD per BSQ
- Previous compensation request (if applicable): #820 (deferred)

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 | https://github.com/bisq-network/roles/issues/18#issuecomment-

[2021-05-05 08:13] cbeams commented on #836
@m52go please approve as per usual.

@bisq-network/compensation-maintainers, please note that like my last compensation request, I will also defer this one in order to batch settle in a later cycle.

[2021-05-05 08:37] refund-agent2 opened #837 "For Cycle 24"
## Summary

- **BSQ requested**: **`873.71`**
- USD requested: 2096.9
- BSQ rate: 2.4 USD per BSQ
- Previous compensation request (if applicable): #810

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Refunds | *Support | 2096.9 | https://github.com/bisq-network/roles/issues/93#issuecomment-832510763 |  |

## Contributions in progress

[2021-05-05 21:43] sqrrm opened #838 "For Cycle 24"
## Summary

- **BSQ requested**: **`183`**
- USD requested: 440
- BSQ rate: 2.4 USD per BSQ
- Previous compensation request (if applicable): #817

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
||||https://github.com/bisq-network/bisq/pull/5444 | Small reviews
|||| https://github.com/bisq-network/bisq/pull/5446
|||| https://github.com/bisq-network

[2021-05-06 14:59] Emzy opened #839 "For Cycle 24"
## Summary

- **BSQ requested**: **`500`**
- USD requested: 1200
- BSQ rate: 2.4 USD per BSQ
- Previous compensation request (if applicable): #821

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 4* Seed node operator | ops* | 400 | bisq-network/roles#15 | 1 old node (Onion V2)

[2021-05-06 18:25] devinbileck opened #840 "For Cycle 24"
## Summary

- **BSQ requested**: **`541.67`**
- USD requested: 1300
- BSQ rate: 2.4 USD per BSQ
- Previous compensation request (if applicable): #812

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-833785653 | 3 nodes
| Seed node operator | ops* | 4

[2021-05-06 18:48] paulmercier-bisq opened #841 "For cycle 24"
## Summary

- **BSQ requested**: **`[50 BSQ]`**
- USD requested: [120 USD]
- BSQ rate: [2.4] USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/807

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Testing Bisq | dev | 120 | https://bisq.ontestpad.com/script/364#361/3/ | N/A |

## Contr

[2021-05-06 23:58] pazza83 opened #842 "For Cycle 24"
## Summary

- **BSQ requested**: **`[625]`**
- USD requested: [1500]
- BSQ rate: [2.4 USD/BSQ] USD per BSQ as per #830
- Previous compensation request: #826

## Contributions delivered for Cycle 24

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Payment Maintainer Role | *Growth | 1000 | https://github.com/bisq-network/roles/issues/38#issuecomment-833922953 | This is progre

[2021-05-07 01:06] chimp1984 commented on #835
Yes, I think the same. Your contributions are super valuebale and lot of work seems to be in the debugging and bugfixing area which is for sure not the most fun. Please charge more realistic amounts, otherwise we other devs feel ashamed ;-).

[2021-05-07 04:21] m52go commented on #836
[Approved](https://bisq.wiki/Compensation#Team_Lead) -- submit as you prefer.

[2021-05-07 04:22] m52go commented on #833
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth :+1:

[2021-05-07 04:23] m52go commented on #842
[Approved](https://bisq.wiki/Compensation#Team_Lead).

From my perspective, the payment methods maintainer role is hard to evaluate because most work isn't delivered in the form of merged code or other tangible deliverable, and in addition, pazza83 is approaching the role with a relatively long time horizon. So while there aren't really any concrete milestones that directly justify the compensatio

[2021-05-07 06:28] freimair opened #843 "For Cycle 24"
## Summary

- **BSQ requested**: **`42`**
- USD requested: 100
- BSQ rate: 2.4 USD per BSQ
- Previous compensation request (if applicable): #823

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Arch Linux AUR Maintainer Cycle 24 | dev* | 100 |  https://github.com/bisq-network/roles/issues/78#issuecomment-834102503|

## Contributions in progress

[2021-05-07 06:54] cbeams commented on #842
I think there's a lot of value in having a proactive payment method owner, and so long as progress continues, I think the proposed compensation scheme is reasonable. Like @m52go, I make this assessment based heavily on @pazza83's demonstrated dedication to the role. The context and particulars matter here.

[2021-05-07 08:28] MwithM commented on #842
I find your approach too methodical and a little bit slow, but that's just because I would not be able to do it that way.
It looks like all this process is giving some new promising and unknown (to me) payment methods for Bisq and the thorough process to include them makes me confident that they are secure and Bisq won't have to remove them.

[2021-05-07 09:08] ripcurlx commented on #838
As dev team lead I approve this CR for dev.

[2021-05-07 09:08] ripcurlx commented on #840
As dev team lead I approve this CR for dev.

[2021-05-07 09:35] ripcurlx commented on #841
@paulmercier-bisq Thanks for joining the testing efforts although they were this time after the actual release (v1.6.3). It would be great if you could join the testing efforts for our upcoming v1.6.5 release upfront.

I had a look at the test scripts run (https://bisq.ontestpad.com/project/1/folder/f117/report/Q?auth=f53d492354f5c9640e9757abc5b153a9) and I think the amount asked is in proportion

[2021-05-07 09:36] ripcurlx commented on #843
As team lead I approve this request.

[2021-05-07 21:59] doitsu232 commented on #780
would like to reopen this one with an updated rate of 2.4USD/BSQ

[2021-05-07 23:11] pazza83 commented on #841
Other comments are saying v1.6.3 https://github.com/bisq-network/compensation/issues/831#issuecomment-831836536 ?

[2021-05-08 08:17] paulmercier-bisq commented on #841
TxID : d76bf073ad72d2e49b5d80da8ae5add51de7e7e6b1cf396dbc046771d161baac
I'm on v1.6.4 also.

[2021-05-08 11:46] BtcContributor commented on #831
TxID: f54081eb3642cf593704f9181cfe00865714ca46645e80b026b7fef8c55e0792

[2021-05-08 14:05] MwithM commented on #841
I'm not sure if 1.6.4 was released yet when I wrote that message. 1.6.4 is much better to submit the compensation request, although both have segwit on BSQ.

[2021-05-08 14:07] MwithM commented on #780
@doitsu232 I think it's much better if you open a new issue with the Title "For Cycle 24" and copy-paste the compensation request, linking this issue as well.

[2021-05-09 06:51] paulmercier-bisq commented on #841
I can confirm that 1.6.4 has been released 3 days ago : https://github.com/bisq-network/bisq/releases/tag/v1.6.4

[2021-05-09 21:37] huey735 opened #844 "For Cycle 24"
## Summary

- **BSQ requested**: **`[416.67]`**
- USD requested: [1000]
- BSQ rate: [2.4] USD per BSQ
- Previous compensation request (if applicable): #712

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | Support | 1000 | https://github.com/bisq-network/roles/issues/83#issuecomment-835896293 |  |

## Contributions in progress

[2021-05-09 21:37] ghost commented on #844
## Info
Read BSQ amount from summary: 2400
Read USD amount from summary: 1000
Read BSQ rate from summary: 2.4
Parsed lineitem: {"team":"support","amount":1000}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 2400.00 BSQ
   - Calculated total: 416.67 BSQ

[2021-05-09 22:02] sqrrm commented on #838
Tx: 7e641e1ede4908e58c9cb0691d9848d27c062229523e3bf73995a658d10053d1

[2021-05-10 01:16] ghost commented on #835
TxId: 17efecf2d3516f5784158a4cf16b4d70f66f89707895d72db91f4b2f91f88841

[2021-05-10 07:30] MwithM commented on #833
@leo816 has not approved yet, but I have sent the proposal to DAO since there is no much time left.
TXID: `33467fdca5a7d4efcfdea742f70f9323536849c99ddf5b8119af8d0eb357d0d2`

[2021-05-10 09:29] refund-agent2 commented on #837
txid: 12dd196b775d31d9b3ed26b5af42131ebc5284de175b7ed670becaa7bccb775c

[2021-05-10 09:39] leo816 commented on #833
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-05-10 09:39] leo816 commented on #844
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-05-10 09:43] leo816 commented on #834
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-05-10 10:03] leo816 commented on #842
@pazza83 I think you have shown to be committed to bisq and have been working really well throughout this semester, giving a lot of insight as to how we could improve on the support team and in general. I agree with @m52go 's assessment on the maintainer role in the sense that It's not how we normally go about compensation but I believe this will be a good incentive for you and will help bisq scal

[2021-05-10 11:49] leo816 opened #845 "For Cycle 24"
## Summary

- **BSQ requested**: **`710.83`**
- USD requested: 1706
- BSQ rate: 2.4 USD per BSQ
- Previous compensation request (if applicable): #744

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-815374081 |  |
| L1 Support Agent | Support | 500 |https://g

[2021-05-10 11:49] ghost commented on #845
## Info
Read BSQ amount from summary: 71083
Read USD amount from summary: 1706
Read BSQ rate from summary: 2.4
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":206}
Parsed lineitem: {"team":"support","amount":0}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 71083.00

[2021-05-10 12:16] huey735 commented on #844
txid: 6bd642b0f05ffd9a864d092a902e35524b857b0bc94edb9e385e073a40109d81

[2021-05-10 13:51] freimair commented on #843
per the discussion at bisq-network/bisq#5269 (comment), I will hold off on submitting this for inclusion in Cycle 24 and will batch it together with other requests in a later cycle.

[2021-05-10 17:29] ripcurlx opened #846 "For Cycle 24"
## Summary

- **BSQ requested**: **`1949`**
- USD requested: 4679
- BSQ rate: 2.4 USD per BSQ
- Previous compensation request (if applicable): #813

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev | 3000 | https://github.com/bisq-network/roles/issues/63#issuecomment-837023462 |  |
| Bitcoin Fullnode Operator| ops | 5

[2021-05-10 17:42] Emzy commented on #840
Approved for ops

[2021-05-10 17:43] Emzy commented on #838
Approved for ops

[2021-05-10 17:46] Emzy commented on #839
TX: 1180680044c137f3ee9b18d28098bec680075ee36055c6711cf62832f8842de1

[2021-05-10 17:51] ripcurlx commented on #846
I am very sorry that I submitted that late 😬 !

[2021-05-10 17:53] ripcurlx commented on #846
TXID: `ad2a16c473bd571cb8fd8ece32393edf67c5d2584db359786b23883f621d110f`

[2021-05-10 17:53] ripcurlx commented on #846
@sqrrm @wiz Could you please approve my last minute compensation request? Thanks!

[2021-05-10 18:03] devinbileck commented on #840
TxID 2fc8e4978ade8bf408c702a0d3bdf3dd1bcdc3ecea5f9adf9b8c0d177e9786da

[2021-05-10 18:16] ripcurlx commented on #845
I approve this CR as dev team lead.

[2021-05-10 18:46] pazza83 commented on #842
Thanks for for all the feedback much appreciated.

I understand the DAO is placing their trust in me to deliver on the payment methods. I will continue to work hard to re-pay the trust and ensure the work is delivered.

Tx ID: 05a951b589975512d8b688f05026598e694e46bfa9467eaf263fdf4605529ca1

Hoping it confirms in time!!

[2021-05-10 22:36] viperperidot opened #847 "For Cycle 25"
## Summary

- **BSQ requested**: **`35`**
- USD requested: 78.05
- BSQ rate: 2.23 USD per BSQ
- Previous compensation request (if applicable):

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Migrate test spreadsheet off Google and write up README | dev | 78.05 | https://github.com/bisq-network/projects/issues/51 | A test spreadsheet was created

[2021-05-10 23:05] viperperidot commented on #847
Update: I originally requested 20 BSQ but I asked a Bisq contributor about this amount and they thought that was low, I am not too sure how everyone would value this contribution so I started out on the low side. I changed the request to asking for 50 BSQ, please let me know if this is more accurate.

[2021-05-11 06:41] doitsu232 opened #848 "For Cycle 25"
## Summary

- **BSQ requested**: **`67.3139013453`**
- USD requested: 150.11
- BSQ rate: 2.23 USD per BSQ
- Previous compensation request (if applicable): #610 #780

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DE Translation for Bisq Desktop | growth | 104.23 | see screenshot | after 16.07.2020 |
| DE Translation for Bisq Website (fixed price

[2021-05-11 06:42] doitsu232 commented on #780
done

[2021-05-11 06:56] doitsu232 commented on #848
just saw it is too late to get into cycle 24. changed it to cycle 25

[2021-05-11 07:27] wiz commented on #839
Approved for ops

[2021-05-11 07:27] MwithM commented on #831
Could you edit the first post to add the link to your previous compensation request as in the template?

[2021-05-11 07:30] MwithM commented on #836
Closed as deferred.

[2021-05-11 07:30] #836 closed, assigned to m52go

[2021-05-11 07:30] MwithM commented on #843
Closed as deferred.

[2021-05-11 07:30] #843 closed, assigned to ripcurlx

[2021-05-11 07:43] MwithM commented on #847
I had issues with data consistency with cryptpad spreadsheets in the past. The info there is not very important to be saved, but regular backups would be necessary.
I find that 50-60 USD would be more accurate, since the main task as I see it was to perform the migration from one platform to another. I assign this to @bisq-network/growth team lead as it's not yet a dev intensive task, but an exper

[2021-05-11 11:06] sqrrm commented on #846
Approved for dev.

[2021-05-11 13:24] wiz opened #849 "For Cycle 25"
## Summary

* **BSQ requested**: **`1833`**
* USD requested: 4400
* BSQ rate: 2.4 USD per BSQ
* Previous compensation request (if applicable): #808

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin Node Operator

[2021-05-11 20:19] BtcContributor commented on #831
@MwithM done, thanks!

[2021-05-11 21:05] burningman3 commented on #834
Tx ID: 792a81dcb949bb577d581894481307677bcac81b52eeaa69dcf95a38a92461e7

[2021-05-11 22:38] leo816 commented on #845
will remake this proposal next cycle

[2021-05-12 07:13] #845 closed, assigned to ripcurlx

[2021-05-12 07:13] MwithM commented on #845
Closed as not submitted.

[2021-05-13 13:35] m52go commented on #842
For the record, I agree and I shared this with pazza on our call -- we had a very enthusiastic market maker in Kuwait appear weeks ago who's probably already long gone, people in India asking about UPI all the time, etc...not sure the long drawn-out approach is worth it. pazza is convinced it is, and no one has suggested anything better (aside from [shortening time period for feedback](https://git

[2021-05-13 21:36] pazza83 commented on #842
Thanks for the feedback.

I agree the process takes time. I disagree that anything has been done too methodically.

It would be great to be as responsive as possible to the needs of market makers and users in getting payment methods added. Being responsive enough to add a payment method quickly requires dev involvement as well as myself.

The reality of adding payment methods to take are that they

[2021-05-18 10:12] ghost commented on #837
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|873.71|2096.90|

Total Issuance: 873.71 BSQ (equivalent to: 2096.90 USD)

[2021-05-18 10:12] MwithM commented on #837
Closed as accepted.

[2021-05-18 10:12] #837 closed, assigned to leo816

[2021-05-18 10:12] ghost commented on #841
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|50.00|120.00|

Total Issuance: 50.00 BSQ (equivalent to: 120.00 USD)

[2021-05-18 10:12] MwithM commented on #841
Closed as accepted.

[2021-05-18 10:12] #841 closed, assigned to ripcurlx

[2021-05-18 10:13] ghost commented on #835
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|312.00|750.00|

Total Issuance: 312.00 BSQ (equivalent to: 750.00 USD)

[2021-05-18 10:13] MwithM commented on #835
Closed as accepted.

[2021-05-18 10:13] #835 closed, assigned to nobody

[2021-05-18 10:13] ghost commented on #838
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|128.93|310.00|
|ops|54.07|130.00|

Total Issuance: 183.00 BSQ (equivalent to: 440.00 USD)

[2021-05-18 10:13] MwithM commented on #838
Closed as accepted.

[2021-05-18 10:13] #838 closed, assigned to ripcurlx, wiz

[2021-05-18 10:13] ghost commented on #833
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|230.00|552.00|
|support|208.33|500.00|
|admin|52.08|125.00|

Total Issuance: 490.42 BSQ (equivalent to: 1177.00 USD)

[2021-05-18 10:13] MwithM commented on #833
Closed as accepted.

[2021-05-18 10:13] #833 closed, assigned to m52go, leo816

[2021-05-18 10:13] ghost commented on #844
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|416.67|1000.00|

Total Issuance: 416.67 BSQ (equivalent to: 1000.00 USD)

[2021-05-18 10:13] MwithM commented on #844
Closed as accepted.

[2021-05-18 10:13] #844 closed, assigned to leo816

[2021-05-18 10:14] ghost commented on #846
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1917.76|4604.00|
|ops|31.24|75.00|

Total Issuance: 1949.00 BSQ (equivalent to: 4679.00 USD)

[2021-05-18 10:14] MwithM commented on #846
Closed as accepted.

[2021-05-18 10:14] #846 closed, assigned to nobody

[2021-05-18 10:14] ghost commented on #834
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|416.67|1000.00|

Total Issuance: 416.67 BSQ (equivalent to: 1000.00 USD)

[2021-05-18 10:14] MwithM commented on #834
Closed as accepted.

[2021-05-18 10:14] #834 closed, assigned to leo816

[2021-05-18 10:14] ghost commented on #839
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|500.00|1200.00|

Total Issuance: 500.00 BSQ (equivalent to: 1200.00 USD)

[2021-05-18 10:14] MwithM commented on #839
Closed as accepted.

[2021-05-18 10:14] #839 closed, assigned to wiz

[2021-05-18 10:14] ghost commented on #832
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|781.25|1875.00|

Total Issuance: 781.25 BSQ (equivalent to: 1875.00 USD)

[2021-05-18 10:14] MwithM commented on #832
Closed as accepted.

[2021-05-18 10:14] #832 closed, assigned to ripcurlx

[2021-05-18 10:14] ghost commented on #831
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|364.58|875.00|

Total Issuance: 364.58 BSQ (equivalent to: 875.00 USD)

[2021-05-18 10:14] MwithM commented on #831
Closed as accepted.

[2021-05-18 10:14] #831 closed, assigned to ripcurlx

[2021-05-18 10:15] ghost commented on #840
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|437.50|1050.00|
|dev|104.17|250.00|

Total Issuance: 541.67 BSQ (equivalent to: 1300.00 USD)

[2021-05-18 10:15] MwithM commented on #840
Closed as accepted.

[2021-05-18 10:15] #840 closed, assigned to ripcurlx, wiz

[2021-05-18 10:15] ghost commented on #842
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|416.67|1000.00|
|support|208.33|500.00|

Total Issuance: 625.00 BSQ (equivalent to: 1500.00 USD)

[2021-05-18 10:15] MwithM commented on #842
Closed as accepted.

[2021-05-18 10:15] #842 closed, assigned to m52go, leo816

[2021-05-18 10:22] MwithM opened #850 "BSQ rate for Cycle 25 is 2.23 USD per 1 BSQ"
The recommended rate to be used for compensation requests on cycle 25 is **2.23 USD/BSQ.**

![imagen](https://user-images.githubusercontent.com/50149324/118635091-7ee74400-b7d3-11eb-90c7-d65216f16304.png)

More info about the Compensation process at https://bisq.wiki/Compensation
Rate for last cycle: #830
30D volume weighted average has been used, as in proposal [#313](https://github.com/bisq-netw

[2021-05-18 10:22] #830 closed, assigned to nobody

[2021-05-18 14:07] MwithM commented on #848
Please update the BSQ rate for Cycle 25. #850

[2021-05-18 14:08] MwithM commented on #849
Please update the BSQ rate for Cycle 25. #850

[2021-05-18 14:08] MwithM commented on #847
Please update the BSQ rate for Cycle 25. #850

[2021-05-18 14:17] doitsu232 commented on #848
updated the rate to 2.23 USD per BSQ

[2021-05-18 18:11] viperperidot commented on #847
Completed, thank you.

[2021-05-18 19:04] m52go commented on #847
@viperperidot thanks for your work! I followed the conversation as it took place, appreciate your initiative, and I know you've been an active part of the community for a while now.

Your request is [approved](https://bisq.wiki/Compensation#Team_Lead). If you don't think you'll be making any additions to this request, feel free to [submit it to the DAO](https://bisq.wiki/Making_a_compensation_requ

[2021-05-18 19:14] m52go commented on #847
@viperperidot thanks for that work! I followed the conversation as it took place, appreciate your initiative, and I know you've been an active part of the community for a while now.

I agree the amount requested of 50 BSQ might be a bit high, but your initial request of 20 BSQ is probably too low. I'm not sure it's worth haggling over, so given the factors I listed above, I'll leave the final amou

[2021-05-19 00:44] viperperidot commented on #847
Awesome thanks @m52go, I really enjoy being a part of the Bisq community and try to contribute in ways that I can. This is the first thing I have done that I thought might actually qualify as a real contribution with the DAO and i'm excited to see how to DAO works first-hand! Bisq is by far one of the most important projects in the bitcoin space in my opinion so I will keep trying to find ways to

[2021-05-19 06:14] doitsu232 commented on #848
added the translation of one new bisq-desktop string to the calculation.

[2021-05-19 14:17] alexej996 opened #851 "For Cycle 25"
## Summary
I just missed the last cycle for a compensation request, so I will be making it in this one.
This is a compensation request for work done in Cycle 23.

- **BSQ requested** : **112**
- USD requested: **250**
- BSQ rate: **2.23** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/828

## Contributions delivered

| Title | Team | USD | Link | N

[2021-05-19 14:22] alexej996 commented on #851
DAO txid: **26f95276957641c0199bfe8e591426e47b3c49c1b45b205c1119d7fa67b57538**

[2021-05-19 22:49] m52go commented on #847
Sounds great. Guidelines for valuing work are imperfect but as long as everyone is reasonable and communicates, as I think we've been doing, we should be ok ;)

[Approved](https://bisq.wiki/Compensation#Team_Lead). Unless you expect to add more items to this request, feel free to [submit this request to the DAO](https://bisq.wiki/Making_a_compensation_request#Submit_your_request_as_a_DAO_proposal)

[2021-05-20 02:04] viperperidot commented on #847
Thanks and sounds good, I am just waiting for the mempool to calm down a bit (I guess I should have submitted it when it was at 35 sats/vbyte) but I think I still have time to wait before I need to submit this request. Maybe this weekend is will be cooled off a bit...

[2021-06-03 10:39] BtcContributor opened #852 "For Cycle 25"
Hi all,
fourth cycle for me!

## Summary

- **BSQ requested**: **`369.95`**
- USD requested: 825
- BSQ rate: 2.23 USD per BSQ
- Previous compensation request (if applicable): #831

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Testing new Bisq releases | dev | 400 | | Test reports for [v1.6.5](https://bisq.ontestpad.com/project/1/folder/f121/re

[2021-06-05 04:35] ghost opened #853 "For Cycle 25"
## Summary

- **BSQ requested**: **`1547`**
- USD requested: 3450
- BSQ rate: 2.23 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/835

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Specify interface and architecture for wallet and blockchain data modules | dev | 3000 | https://

[2021-06-05 15:53] refund-agent2 opened #854 "For Cycle 25"
## Summary

- **BSQ requested**: **`595.21`**
- USD requested: 1327.33
- BSQ rate: 2.23 USD per BSQ
- Previous compensation request (if applicable): #837

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Refunds | *Support | 1327.33 | https://github.com/bisq-network/roles/issues/93#issuecomment-855257876 |  |

## Contributions in progress

[2021-06-05 15:53] ghost commented on #854
## Info
Read BSQ amount from summary: 754.16
Read USD amount from summary: 1327.33
Read BSQ rate from summary: 1.76
Parsed lineitem: {"team":"support","amount":1327.33}

## Errors
Incorrect BSQ rate specified: 1.76, expected: 2.23
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 754.16 BSQ
   - Calculated total: 595.22 BSQ

[2021-06-05 22:01] sqrrm opened #855 "For Cycle 25"
## Summary

- **BSQ requested**: **`547`**
- USD requested: 1220
- BSQ rate: 2.23 USD per BSQ
- Previous compensation request (if applicable): #838

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Fix Fee request | dev | 500 | https://github.com/bisq-network/bisq/pull/5528 |
| Fix BSQ send | dev | 350 | https://github.com/bisq-network/bisq/pull/5

[2021-06-06 11:55] burningman3 opened #856 "For Cycle 25"
## Summary

- **BSQ requested**: **`[448.43]`**
- USD requested: [1000]
- BSQ rate: [2.23] USD per BSQ
- Previous compensation request (if applicable): #834

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80 | |

##

[2021-06-07 01:09] pazza83 opened #857 "For Cycle 25"
## Summary

- **BSQ requested**: **`[414.8]`**
- USD requested: [925]
- BSQ rate: [2.23 USD/BSQ] USD per BSQ as per #850
- Previous compensation request: #842

## Contributions delivered for Cycle 25

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Payment Maintainer | *Growth | 375 | https://github.com/bisq-network/roles/issues/38#issuecomment-855498035 | Took a bit a time

[2021-06-07 08:07] ripcurlx commented on #855
@sqrrm Are the `link` labels by mistake (as they are not linked :wink:)?

[2021-06-07 08:56] ripcurlx commented on #852
Here is the link for the TestPad report: https://bisq.ontestpad.com/project/1/folder/f121/report/?auth=27d0be015159d5baba5d08aada0e42

As dev team lead I approve this CR for dev.

[2021-06-07 10:40] sqrrm commented on #855
Forgot to update links, I use that as placeholder until I've updated the roles. Now linking as they should.

[2021-06-07 10:42] MwithM opened #858 "For Cycle 25"
## Summary

- **BSQ requested**: **`414.8`**
- USD requested: 925 USD
- BSQ rate: 2.23 USD per BSQ as per #850
- Previous compensation request (if applicable): #833

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 350 | https://github.com/bisq-network/roles/issues/95#issuecomment-855808583 |  |
| Transfiex Admin | *G

[2021-06-07 10:47] MwithM commented on #848
In past cycle I asked you to reduce the website translation to 40USD. If you do that, the total amount for this compensation would be 150.11 USD and it would be approved.
https://github.com/bisq-network/compensation/issues/780#issuecomment-790464132

[2021-06-07 10:49] MwithM commented on #852
Since there's only dev tasks, I suppose you can submit your tx proposal to the DAO and submit the resulting TXID here.

[2021-06-07 10:58] doitsu232 commented on #848
updated

[2021-06-07 14:46] MwithM commented on #848
It's approved, comment here the txid when the compensation request is submitted to the DAO.

[2021-06-07 15:28] doitsu232 commented on #848
8be5a131626371fdf08a6abdfc7da38402daab2aefcc779693262a2fcde6546a

[2021-06-07 17:30] devinbileck opened #859 "For Cycle 25"
## Summary

- **BSQ requested**: **`470.85`**
- USD requested: 1050
- BSQ rate: 2.23 USD per BSQ
- Previous compensation request (if applicable): #840

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-856140589 | 3 nodes
| Seed node operator | ops* |

[2021-06-07 21:30] BtcContributor commented on #852
TxID: 0d6c429a1ca461d4b45d9db169b174d7c2155543c0d74c24eb816d325b0848a9

[2021-06-08 07:34] ripcurlx commented on #855
As team lead I approve this CR for dev.

[2021-06-08 08:00] ripcurlx opened #860 "For Cycle 25"
## Summary

- **BSQ requested**: **`3742`**
- USD requested: 8345
- BSQ rate: 2.23 USD per BSQ
- Previous compensation request (if applicable): #846

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev* | 3720 | https://github.com/bisq-network/roles/issues/63#issuecomment-856560945 |  |
| Bitcoin Fullnode Operator| ops*

[2021-06-08 08:56] ripcurlx commented on #853
@chimp1984 Could you please ACK `Specify interface and architecture for wallet and blockchain data modules`? Thanks!

[2021-06-08 13:48] chimp1984 commented on #853
ACK, but too low as always ;-)

[2021-06-08 16:22] leo816 opened #861 "For Cycle 25"
## Summary

- **BSQ requested**: **`1527.35`**
- USD requested: 3406
- BSQ rate: 2.23 USD per BSQ
- Previous compensation request (if applicable): #845

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  bisq-network/roles#83 (comment) | Cycle 24 |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues

[2021-06-08 19:57] ripcurlx commented on #853
As dev team lead I approve this CR.

[2021-06-09 10:05] cbeams opened #862 "For Cycle 25"
## Summary

This compensation request includes three previously approved but deferred compensation requests:

- Cycle 22 (#794): 41 BSQ
- Cycle 23 (#820): 23 BSQ
- Cycle 24 (#836): 20.83 BSQ

The total amount of BSQ that was approved for these three cycles is 41+23+20.83 = 84.83 BSQ.

At the current rate of 2.23 USD per BSQ, I am requesting 239.17 USD worth of deferred compensation, and that is re

[2021-06-09 10:11] cbeams commented on #862
@m52go sorry for the late submission here.  Please approve as per usual, but note that I've gone ahead and submitted to the DAO with tx id `7fa6226736188c2c11de0f5df40e9fad155c65f3963cee6d88178e549a1d0ab4` just to ensure this doesn't miss the deadline (and at my own risk in case it's not approved for some reason).

[2021-06-09 13:35] Emzy opened #863 "For Cycle 25"
## Summary

- **BSQ requested**: **`538`**
- USD requested: 1200
- BSQ rate: 2.23 USD per BSQ
- Previous compensation request (if applicable): #839

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 4* Seed node operator | ops* | 400 | bisq-network/roles#15 | 1 old node (Onion V2)

[2021-06-09 14:45] flybylow opened #864 "For cycle 25"
## Summary

- **BSQ requested**: **`224`**
- USD requested: 500 USD
- BSQ rate: 2.23

## Contributions delivered

https://github.com/bisq-network/projects/issues/57#issuecomment-839515541
(Prototype for offer book and create offer UX for Bisq 2.0 (Misq) #57)

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Prototype for offer book  | dev | 500 | https://github.com/bisq-netw

[2021-06-09 14:45] ghost commented on #864
## Info
Read BSQ amount from summary: 345
Read USD amount from summary: 500
Read BSQ rate from summary: 1.45
Parsed lineitem: {"team":"dev","amount":500}

## Errors
Incorrect BSQ rate specified: 1.45, expected: 2.23
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 345.00 BSQ
   - Calculated total: 224.22 BSQ

[2021-06-09 15:11] MwithM commented on #864
BSQ rate should be 2.23, as indicated at the beginning of this cycle. https://github.com/bisq-network/compensation/issues/850

[2021-06-10 00:43] m52go commented on #858
[Approved](https://bisq.wiki/Compensation#Team_Lead) -- please post your txid here.

[2021-06-10 00:44] m52go commented on #857
[Approved](https://bisq.wiki/Compensation#Team_Lead) -- please post your txid here.

Have there been any recent discussions about work on the new UI? I wonder if it should still be a priority given the apparent momentum of Misq / Bisq v2. I don't mean to make a judgment 1 way or another, but to suggest a re-evaluation, if such a thing hasn't happened recently.

[2021-06-10 00:45] m52go commented on #862
No worries -- [approved](https://bisq.wiki/Compensation#Team_Lead).

[2021-06-10 05:46] MwithM commented on #858
Waiting for @leo816

[2021-06-10 06:31] leo816 commented on #857
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-06-10 06:32] leo816 commented on #858
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-06-10 06:35] leo816 commented on #856
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-06-10 06:38] leo816 commented on #854
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-06-10 07:41] ghost commented on #861
## Info
Read USD amount from summary: 3200
Read BSQ rate from summary: 2.23
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":0}
Parsed lineitem: {"team":"support","amount":206}
Parsed lineitem: {"team":"supp

[2021-06-10 07:41] ghost commented on #861
## Info
Read USD amount from summary: 3206
Read BSQ rate from summary: 2.23
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":0}
Parsed lineitem: {"team":"support","amount":206}
Parsed lineitem: {"team":"supp

[2021-06-10 10:59] sqrrm commented on #860
I approve of this CR.

[2021-06-10 13:36] MwithM commented on #858
TXID `8cd8a0f41c6b178c4d5f502e26421e0c9f25c8c8879183d713239d7ee708d85a`

[2021-06-10 13:54] ripcurlx commented on #861
@leo816 Shall I wait with approving this CR until you have added this additional data or is it good to go?

[2021-06-10 13:58] ripcurlx commented on #860
TXID: `72b9bbd511b502a7615869e7f3b478d535dbef129096304937574da0169649ff`

[2021-06-10 14:00] ripcurlx commented on #864
@chimp1984 Could you please approve this CR as it is part of the misq project. Thanks!

[2021-06-10 14:26] pazza83 commented on #857
Yes, I am not sure either @chimp184 let me know the Misq UX will be very different to the current and proposed Bisq UI changes, this would make a lot of it unusable.

The developer got back to me to say they have taken on another project and are no longer available for the Bisq UI project. Therefore, I suppose it would be prudent to wait until more is know about the resources required for Misq bef

[2021-06-10 14:26] pazza83 commented on #857
Tx ID: c8c3ab487706724910d6d3b097536a14ef8bd8675146c8e9ad62d991063f9792

[2021-06-10 14:36] chimp1984 commented on #864
ACK

[2021-06-10 15:58] buddhalore opened #865 "Illegal reflective access operation by com.google.inject.internal.cglib.core.."
After a transaction got stuck in moderation and unable to progress to arbitration, moderator suggested doing the dump delayed payout, which partly solved the hanging pending payout (missing still the fee).

https://bisq.wiki/Command_line_options#Dump_delayed_payout_transactions to dump the payout transaction for this trade

I get this error message in the console and upon venting it to the moderat

[2021-06-10 23:03] leo816 commented on #861
Will try to get the reimbursements done today and update the compensation request

[2021-06-11 07:37] refund-agent2 commented on #854
1603c8805a19f86c1bb7f7edec26838043f84fe637efe8be82c8c482da4b5796

[2021-06-11 07:55] ripcurlx commented on #864
As team lead I approve this CR based on the ACK by @chimp1984. Please update the incorrect BSQ rate mentioned in https://github.com/bisq-network/compensation/issues/864#issuecomment-85778801, submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-06-11 10:27] alexej996 opened #866 "For Cycle 25"
## Summary
I just missed the last cycle for a compensation request, so I made it at the start of this one.
So this is a second compensation request, the one for this cycle, so I am back to normal.
This is a compensation request for work done in Cycle 24.

- **BSQ requested** : **112**
- USD requested: **250**
- BSQ rate: **2.23** USD per BSQ
- Previous compensation request: https://github.com/bisq

[2021-06-11 10:28] flybylow commented on #864
Updated the rate to 2.23.

Do i need to provide a wallet address or take other steps?

[2021-06-11 10:32] alexej996 commented on #866
DAO txid: **364c902f06f33df83708a0eb1d8f8e13a9ce65ccf5cedd0cf009d7ae1f4c4bdd**

[2021-06-11 15:28] MwithM commented on #864
No, submit the compensation request to the DAO so it can be voted at the voting phase of this cycle, and comment here the resulting TXID of the proposal.
https://bisq.wiki/Making_a_compensation_request#Submit_your_request_as_a_DAO_proposal

Contact me at Keybase if your doubts persist.

[2021-06-11 15:36] m52go commented on #866
Growth item [looks good](https://bisq.wiki/Compensation#Team_Lead).

[2021-06-11 19:22] m52go commented on #849
Approved for growth :+1:

[2021-06-12 10:16] Emzy commented on #866
Approved for ops

[2021-06-12 10:17] Emzy commented on #860
Approved for ops

[2021-06-12 10:17] Emzy commented on #859
Approved for ops

[2021-06-12 10:17] Emzy commented on #855
Approved for ops

[2021-06-12 10:18] Emzy commented on #851
Approved for ops

[2021-06-12 10:18] Emzy commented on #849
Approved for ops

[2021-06-12 12:47] sqrrm commented on #855
Tx: e70203d28397f53fc154c1d314600194e3f73425a712940b6828f1514005eeb3

[2021-06-12 13:30] Emzy commented on #863
TXID: c77ae08df2361deb51afdf4ffbef62cf2479e3f31164f5be8211fb980401ef3e

[2021-06-12 17:46] ghost commented on #853
a89f5c0dcce7f183a5e0d57a0ef19398e2428dd6f352afe23815943b754ea044

[2021-06-12 20:42] burningman3 commented on #856
Tx ID: bb77405b5739ed33841dedf7aebf835cf64fad991d2c6b0912bb4bf384e95878

[2021-06-13 04:39] devinbileck commented on #859
Tx ID 1252b7fa9faae979cc934e944015dd28f33023b82259f52c02d50384b4db641e

[2021-06-13 13:09] leo816 commented on #861
tx id: 607963704973b9fce2b7143549540ba896b39b3d8a1edaac12ba25ef34eff599

[2021-06-14 08:45] ripcurlx commented on #861
As dev team lead I approve this request. Please update the Notes column to reflect the updated reimbursements payouts.

[2021-06-14 19:08] wiz commented on #849
This CR is for contributions delivered in Cycle 24, just missed the deadline last month, so the rate is correct. I will do a separate CR for Cycle 25.

[2021-06-14 19:14] wiz opened #867 "For Cycle 25"
My other CR #849 was for contributions delivered in Cycle 24 but missed the deadline to submit the DAO proposal. This CR is for contributions in Cycle 25.

## Summary

* **BSQ requested**: **`627`**
* USD requested: 1400
* BSQ rate: 2.23 USD per BSQ
* Previous compensation request (if applicable): #849

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | ---

[2021-06-14 20:38] MwithM commented on #849
I didn't know these tasks were meant for last cycle. Still, the rate should be the one for this cycle as I understand from: https://github.com/bisq-network/compensation/issues/818#issuecomment-813996350

As you're benefiting to the DAO by using Cycle 24's rate, I won't fight much about this, but I think it's worth noting it for next cycles.

[2021-06-14 21:19] wiz commented on #849
No these contributions were done in Cycle 24 so I should use the rate for Cycle 24, I'm only submitting it in Cycle 25 due to missing the proposal phase deadline

[2021-06-17 08:58] MwithM commented on #867
Is `37820ed1fe905f1efdc4bf03f006988f9f26c198ae559a8cdbb49352a5739e56` the correct TXID?
@ripcurlx do you approve this Compensation request?

[2021-06-17 12:49] ripcurlx commented on #867
As dev team lead I approve this compensation request.

[2021-06-18 21:43] sqrrm commented on #849
I think all compensation requests should use the current cycle BSQ rate to avoid any gaming of the system, especially since that's the implicit consensus and no other system has been suggested.

I can see the case for ops compensation always using the rate for the cycle they pertain to, but consensus for such a change should be sought first in my opinion.

Other exceptional cases might arise, such

[2021-06-19 08:27] ripcurlx commented on #863
Not sure if @wiz should ACK this, but I approve this CR as dev team lead.

[2021-06-19 08:34] ripcurlx commented on #847
@viperperidot Could you please confirm that  `23b12fc1e403ea67be9b7909e9fc96acc952b473ecb926e54c9ff32d6a33b35d` is the correct transaction ID? Thanks!

[2021-06-19 13:33] wiz commented on #863
Yes approved

[2021-06-20 14:21] wiz commented on #849
Yeah ops stuff is monthly so no gaming of the system is possible

[2021-06-22 18:14] viperperidot commented on #847
Yes that is correct, thank you!

[2021-06-25 07:57] MwithM commented on #864
Was not submitted.

[2021-06-25 07:57] #864 closed, assigned to ripcurlx

[2021-06-25 08:03] ghost commented on #852
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|369.95|825.00|

Total Issuance: 369.95 BSQ (equivalent to: 825.00 USD)

[2021-06-25 08:03] MwithM commented on #852
Close as accepted.

[2021-06-25 08:03] #852 closed, assigned to nobody

[2021-06-25 08:03] ghost commented on #848
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|67.31|150.11|

Total Issuance: 67.31 BSQ (equivalent to: 150.11 USD)

[2021-06-25 08:03] MwithM commented on #848
Close as accepted.

[2021-06-25 08:03] #848 closed, assigned to m52go, MwithM

[2021-06-25 08:04] ghost commented on #858
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|156.95|350.00|
|support|224.22|500.00|
|admin|33.63|75.00|

Total Issuance: 414.80 BSQ (equivalent to: 925.00 USD)

[2021-06-25 08:04] MwithM commented on #858
Close as accepted.

[2021-06-25 08:04] #858 closed, assigned to m52go, leo816

[2021-06-25 08:04] ghost commented on #860
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|3708.37|8270.00|
|ops|33.63|75.00|

Total Issuance: 3742.00 BSQ (equivalent to: 8345.00 USD)

[2021-06-25 08:04] MwithM commented on #860
Close as accepted.

[2021-06-25 08:04] #860 closed, assigned to wiz, sqrrm

[2021-06-25 08:04] ghost commented on #857
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|168.16|375.00|
|support|224.22|500.00|
|admin|22.42|50.00|

Total Issuance: 414.80 BSQ (equivalent to: 925.00 USD)

[2021-06-25 08:04] MwithM commented on #857
Close as accepted.

[2021-06-25 08:04] #857 closed, assigned to m52go, leo816

[2021-06-25 08:04] ghost commented on #854
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|595.21|1327.33|

Total Issuance: 595.21 BSQ (equivalent to: 1327.33 USD)

[2021-06-25 08:05] MwithM commented on #854
Close as accepted.

[2021-06-25 08:05] #854 closed, assigned to leo816

[2021-06-25 08:05] ghost commented on #855
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|488.71|1090.00|
|ops|58.29|130.00|

Total Issuance: 547.00 BSQ (equivalent to: 1220.00 USD)

[2021-06-25 08:05] MwithM commented on #855
Close as accepted.

[2021-06-25 08:05] #855 closed, assigned to ripcurlx, wiz

[2021-06-25 08:05] ghost commented on #853
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1547.00|3450.00|

Total Issuance: 1547.00 BSQ (equivalent to: 3450.00 USD)

[2021-06-25 08:06] MwithM commented on #853
Close as accepted.

[2021-06-25 08:06] #853 closed, assigned to ripcurlx

[2021-06-25 08:06] ghost commented on #856
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|448.43|1000.00|

Total Issuance: 448.43 BSQ (equivalent to: 1000.00 USD)

[2021-06-25 08:06] MwithM commented on #856
Close as accepted.

[2021-06-25 08:06] #856 closed, assigned to leo816

[2021-06-25 08:07] ghost commented on #859
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|470.85|1050.00|

Total Issuance: 470.85 BSQ (equivalent to: 1050.00 USD)

[2021-06-25 08:07] MwithM commented on #859
Close as accepted.

[2021-06-25 08:07] #859 closed, assigned to wiz

[2021-06-25 08:07] ghost commented on #861
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1527.35|3406.00|

Total Issuance: 1527.35 BSQ (equivalent to: 3406.00 USD)

[2021-06-25 08:07] MwithM commented on #861
Close as accepted.

[2021-06-25 08:07] #861 closed, assigned to ripcurlx

[2021-06-25 08:07] ghost commented on #866
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|89.60|200.00|
|growth|22.40|50.00|

Total Issuance: 112.00 BSQ (equivalent to: 250.00 USD)

[2021-06-25 08:08] MwithM commented on #866
Close as accepted.

[2021-06-25 08:08] #866 closed, assigned to wiz, m52go

[2021-06-25 08:08] ghost commented on #851
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|89.60|200.00|
|growth|22.40|50.00|

Total Issuance: 112.00 BSQ (equivalent to: 250.00 USD)

[2021-06-25 08:08] MwithM commented on #851
Close as accepted.

[2021-06-25 08:08] #851 closed, assigned to wiz

[2021-06-25 08:08] ghost commented on #863
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|538.00|1200.00|

Total Issuance: 538.00 BSQ (equivalent to: 1200.00 USD)

[2021-06-25 08:08] MwithM commented on #863
Close as accepted.

[2021-06-25 08:08] #863 closed, assigned to wiz

[2021-06-25 08:08] ghost commented on #867
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|627.00|1400.00|

Total Issuance: 627.00 BSQ (equivalent to: 1400.00 USD)

[2021-06-25 08:08] MwithM commented on #867
Close as accepted.

[2021-06-25 08:08] #867 closed, assigned to ripcurlx

[2021-06-25 08:08] ghost commented on #849
Issuance cannot be displayed as there were errors in the comp request

[2021-06-25 08:08] MwithM commented on #849
Close as accepted.

[2021-06-25 08:08] #849 closed, assigned to ripcurlx, m52go

[2021-06-25 08:09] ghost commented on #862
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|129.67|289.17|

Total Issuance: 129.67 BSQ (equivalent to: 289.17 USD)

[2021-06-25 08:09] MwithM commented on #862
Close as accepted.

[2021-06-25 08:09] #862 closed, assigned to m52go

[2021-06-25 08:09] ghost commented on #847
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|35.00|78.05|

Total Issuance: 35.00 BSQ (equivalent to: 78.05 USD)

[2021-06-25 08:09] MwithM commented on #847
Close as accepted.

[2021-06-25 08:09] #847 closed, assigned to m52go

[2021-06-25 08:14] #850 closed, assigned to nobody

[2021-06-25 08:17] MwithM opened #868 "BSQ rate for Cycle 26 is 1.46 USD per BSQ"
The recommended rate to be used for compensation requests on cycle 26 is **1.46 USD/BSQ.**

![image](https://user-images.githubusercontent.com/50149324/123393327-42f78980-d59e-11eb-805a-a31d80329d46.png)

Rate for last cycle: #850
30D volume weighted average has been used, as in proposal [#313](https://github.com/bisq-network/proposals/issues/313).
5% outlier removal has been used.
More info about

[2021-07-01 08:00] flybylow commented on #864
Is the first time i tried making a request.  It says i need BSQ funds to make the request. How do i get some?

[2021-07-01 11:08] ripcurlx commented on #864
On Bisq in the BTC/BSQ market. :wink:

[2021-07-01 19:36] MwithM commented on #864
This [guide](https://bisq.wiki/Trading_BSQ) will help you to buy small amounts. As first time contributor you could also have asked for help too.

[2021-07-12 09:21] alexej996 opened #869 "For Cycle 26"
## Summary
I just missed the last cycle for a compensation request, so I made it at the start of this one.
So this is a second compensation request, the one for this cycle, so I am back to normal.
This is a compensation request for work done in Cycle 24.

- **BSQ requested** : **171**
- USD requested: **250**
- BSQ rate: **1.46** USD per BSQ
- Previous compensation request: https://github.com/bisq

[2021-07-12 09:27] alexej996 commented on #869
DAO txid: **a64210be33fbc8502a6985bc924848a213b9582ffd6a0ddf3f299aaef5278416**

[2021-07-12 21:19] chimp1984 opened #870 "For Cycle 26"
## Summary

- **BSQ requested**: **`3424.66`**
- USD requested: 5000
- BSQ rate: 1.46 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Optimize DaoState snapshot behaviour | dev | 3000 | https://github.com/bisq-network/bisq/pull/5609 |  |
| Delay sending of payment account information during trade | dev | 2000 | https://github.com/bis

[2021-07-13 16:57] MwithM opened #871 "For Cycle 26"
## Summary

- **BSQ requested**: **`599.32`**
- USD requested: 875 USD
- BSQ rate: 1.46 USD per BSQ as per #868
- Previous compensation request (if applicable): #858

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 350 | https://github.com/bisq-network/roles/issues/95#issuecomment-879240074 |  |
| Transfiex Admin | *

[2021-07-13 16:57] ghost commented on #871
## Info
Read BSQ amount from summary: 591.21
Read USD amount from summary: 875
Read BSQ rate from summary: 1.48
Parsed lineitem: {"team":"growth","amount":350}
Parsed lineitem: {"team":"growth","amount":0}
Parsed lineitem: {"team":"support","amount":450}
Parsed lineitem: {"team":"admin","amount":75}

## Errors
Incorrect BSQ rate specified: 1.48, expected: 1.46
ERROR: Total BSQ does not match the s

[2021-07-15 17:13] devinbileck opened #872 "For Cycle 26"
## Summary

- **BSQ requested**: **`1267.12`**
- USD requested: 1850
- BSQ rate: 1.46 USD per BSQ
- Previous compensation request (if applicable): #859

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-881994783 | 3 nodes
| Seed node operator | ops* |

[2021-07-16 08:12] refund-agent2 opened #873 "For Cycle 26"
## Summary

- **BSQ requested**: **`1446.61`**
- USD requested: 2112.05
- BSQ rate: 1.46 USD per BSQ
- Previous compensation request (if applicable): #854

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Refunds | *Support | 2112.05 | https://github.com/bisq-network/roles/issues/93#issuecomment-881258194 |  |

## Contributions in progress

[2021-07-16 10:53] sqrrm opened #874 "For Cycle 26"
## Summary

- **BSQ requested**: **`1459`**
- USD requested: 2130
- BSQ rate: 1.46 USD per BSQ
- Previous compensation request (if applicable): #855

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Hard fork release review | dev | 1000 | https://github.com/bisq-network/bisq/pull/5606 |  |
|Memory improvement review | dev | 300 | https://github.com

[2021-07-17 17:07] Emzy opened #875 "For Cycle 26"
## Summary

- **BSQ requested**: **`822`**
- USD requested: 1200
- BSQ rate: 1.46 USD per BSQ
- Previous compensation request (if applicable): #863

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 4* Seed node operator | ops* | 400 | bisq-network/roles#15 | 1 old node (Onion V2)

[2021-07-17 18:23] ghubstan opened #876 "For Cycle 26"
## Summary

- **BSQ requested**: **`2996.57`**
- USD requested: 4375
- BSQ rate: 1.46 USD per BSQ
- Previous compensation request (if applicable): #832

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Adjust API to remove-op-return hotfix|dev|250|https://github.com/bisq-network/bisq/commit/e5765aeef281f1f5a487a8c28d72bddc33c7cba6|merged|
|Remove c

[2021-07-18 03:29] ghost opened #877 "For Cycle 26"
## Summary

- **BSQ requested**: **`787.67`**
- USD requested: 1150
- BSQ rate: 1.46 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/853

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Remind user when their DAO state needs to be refreshed | dev | 100 | https://github.com/bisq-netw

[2021-07-19 01:38] pazza83 opened #878 "For Cycle 26"
## Summary

- **BSQ requested**: **`[1061.6]`**
- USD requested: [1550]
- BSQ rate: [1.46 USD/BSQ] USD per BSQ as per #868
- Previous compensation request: #857

## Contributions delivered for Cycle 26

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | *Support | 1000 | https://github.com/bisq-network/roles/issues/83#issuecomment-882134662 | This was my first cycle

[2021-07-19 16:55] pedromvpg opened #879 "For Cycle 26"
## Summary

- **BSQ requested**: **`3082.19`**
- USD requested: 4,500
- BSQ rate: 1.46 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin 2021 Booth | Growth | 4000 | | |
| Bitcoin 2021 T-shirt | Growth | 500 | | |

![paste (6)](https://user-images.githubusercontent.com/807505/126197210-c7a15273-303a-4d25-88f2-c8276f560f65.png)

[2021-07-19 16:55] ghost commented on #879
## Info
Read BSQ amount from summary: 6570
Read USD amount from summary: 4500
Read BSQ rate from summary: 1.46
Parsed lineitem: {"team":"growth","amount":4000}
Parsed lineitem: {"team":"growth","amount":500}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 6570.00 BSQ
   - Calculated total: 3082.19 BSQ

[2021-07-20 22:40] burningman3 opened #880 "For Cycle 26"
## Summary

- **BSQ requested**: **`[684.93]`**
- USD requested: [1000]
- BSQ rate: [1.46] USD per BSQ
- Previous compensation request (if applicable): #856

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issueco

[2021-07-20 23:28] burningman3 commented on #880
Tx ID: 6aee0356080a36d9452b4433b07d28df8eb475017fea31df16dc051709df0bf5

[2021-07-21 07:59] cbeams opened #881 "For Cycle 26"
## Summary

- **BSQ requested**: 34.25
- USD requested: 50
- BSQ rate: [1.46](https://github.com/bisq-network/compensation/issues/868) USD per BSQ
- Previous compensation request (if applicable): #862

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 | https://github.com/bisq-network/roles/issues/18#issuecomment-883978180 |

[2021-07-21 11:13] cbeams commented on #881
@m52go, please approve as usual, but note that I've already submitted it to the DAO since we're so close to the deadline.

tx id: `b2cbe264a499091d21c97d811611f3e34a8d3e99d8edf2bad2b6d65155f791d3`

[2021-07-21 15:47] m52go commented on #878
[Approved](https://bisq.wiki/Compensation#Team_Lead) for admin.

[2021-07-21 15:49] m52go commented on #881
[Approved](https://bisq.wiki/Compensation#Team_Lead) :+1:

[2021-07-21 15:49] m52go commented on #869
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth.

[2021-07-21 15:50] m52go commented on #879
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth.

For context, remaining costs for this conference (after last year's expenditure) added up to over 20,000 USD, all of which was covered by the Mempool project.

[2021-07-21 16:12] Emzy commented on #869
Approved for ops.

[2021-07-21 16:14] Emzy commented on #872
Approved for ops.

[2021-07-21 16:15] Emzy commented on #874
Approved for ops.

[2021-07-21 18:24] ripcurlx commented on #870
I approve this CR as dev team lead. Please submit your CR to the DAO and post the transaction ID below. Thanks!

[2021-07-21 18:25] ripcurlx commented on #877
I approve this CR as dev team lead. Please submit your CR to the DAO and post the transaction ID below. Thanks!

[2021-07-21 18:25] ripcurlx commented on #874
I approve this CR as dev team lead. Please submit your CR to the DAO and post the transaction ID below. Thanks!

[2021-07-21 18:25] ripcurlx commented on #872
I approve this CR as dev team lead. Please submit your CR to the DAO and post the transaction ID below. Thanks!

[2021-07-21 18:27] ripcurlx commented on #876
@chimp1984: Could you please help with the misq related dev tasks?

[2021-07-21 18:32] ripcurlx opened #882 "For Cycle 26"
## Summary

- **BSQ requested**: **`4586`**
- USD requested: 6697
- BSQ rate: 1.46 USD per BSQ
- Previous compensation request (if applicable): #860

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev* | 4000 | https://github.com/bisq-network/roles/issues/63#issuecomment-884406721 |  |
| Bitcoin Fullnode Operator| ops*

[2021-07-21 23:11] Emzy commented on #875
TXID: 147cd57be682946706481771e79c276d52d2e3ef6ec8dbca5d2a1bda677b09c0

[2021-07-22 06:04] devinbileck commented on #872
Tx ID a1b28b769b22cac4db1f6a07dffa4ef0ced03ce3bc403f1bedce2780c2df403f

[2021-07-22 06:53] ripcurlx commented on #876
As @chimp1984 is travelling and IMO everything looks reasonable I approve this CR for dev. Please submit your CR to the DAO and post the transaction ID afterwards. Thanks!

[2021-07-22 06:56] ripcurlx commented on #882
Tx ID: `21fce133bf08d041db3a77d4a16427bd13e37a8efda7a651410ff5da5d4dc1c9`

[2021-07-22 07:59] freimair opened #883 "For Cycle 26"
## Summary

- **BSQ requested**: **`68`**
- USD requested: 100
- BSQ rate: 1.46 USD per BSQ
- Previous compensation request (if applicable): #843

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Arch Linux AUR Maintainer Cycle 24 | dev* | 100 |  https://github.com/bisq-network/roles/issues/78#issuecomment-874771649|

## Contributions in progress

[2021-07-22 08:00] freimair commented on #883
per the discussion at bisq-network/bisq#5269 (comment), I will hold off on submitting this for inclusion in Cycle 26 and will batch it together with other requests in a later cycle - in case it gets accepted that is of course

[2021-07-22 13:29] ghubstan commented on #876
Proposal tx has been published. TxId=a5a62bf462cbc37b344bdbc7bd81531c4d24866a289ac7b76936b56c713a69a8

`a5a62bf462cbc37b344bdbc7bd81531c4d24866a289ac7b76936b56c713a69a8`

[2021-07-22 14:35] wiz opened #884 "For Cycle 26"
## Summary

* **BSQ requested**: **`958`**
* USD requested: 1400
* BSQ rate: 1.46 USD per BSQ
* Previous compensation request (if applicable): #867

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin Node Operator

[2021-07-22 14:38] wiz commented on #884
57440001adf5c25b60dc2dba8fc8cb3fe86af5ac5fcd5ecf2891c8c042277439

[2021-07-22 14:59] ghost commented on #877
TxId: 1845a556c43bfab4a0a626dc975800ecc1943b3a3fe856be7ee66205761725ed

[2021-07-22 15:01] Emzy commented on #884
Approved for ops.

[2021-07-23 08:02] leo816 commented on #878
@pazza83 for the mediator report please copy the format used above by Huey and me. Rather than just go over every mediation one by one, do a little summary of the amount of cases and why they happened. No need to provide trade ids. My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID he

[2021-07-23 08:04] leo816 commented on #871
why did you set the compensation in 450 and not 500 for support agent?
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-07-23 08:04] leo816 commented on #873
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-07-23 08:07] leo816 opened #885 "For Cycle 26"
## Summary

- **BSQ requested**: **`1027.39`**
- USD requested: 1500
- BSQ rate: 1.46 USD per BSQ
- Previous compensation request (if applicable): #861

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-885486371 |  |
| L1 Support Agent | Support | 500 |https:/

[2021-07-23 09:50] m52go commented on #871
Shoot, looks like I missed yours when evaluating other requests earlier. [Approved](https://bisq.wiki/Compensation#Team_Lead) for growth :+1:

[2021-07-23 15:40] chimp1984 commented on #876
Sorry was offline last days...
ACK to all..

[2021-07-23 15:42] chimp1984 commented on #870
TX id: 1a02ce3072a2a825fc678aaaaa1b4ce67dafee39f901e32b1e6e78745176e940

[2021-07-23 16:03] sqrrm commented on #882
I approve of this CR (sorry for the late review).

[2021-07-23 18:14] MwithM commented on #871
@leo816 I have not been as available for support as other cycles.

[2021-07-23 18:16] leo816 commented on #885
20a7087c2ed02ead2ad42c6f1c31af2449d50e880a39f213f211ae0922b799d0

[2021-07-23 18:20] wiz commented on #875
Approved for ops

[2021-07-23 18:21] MwithM commented on #871
2022e263caa59bc34c99ec3ac14611ad8e103fbfa3ed94288401a58708682681

[2021-07-23 23:23] pazza83 commented on #878
Thanks @leo816 will update the mediation report..

Looks like I missed the the proposal phase for this cycle so will put this compensation request as a separate request for next cycle.

[2021-07-24 10:45] leo816 commented on #880
I missed this, My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request, thanks.

[2021-07-24 16:27] MwithM commented on #878
Closed as not submitted.

[2021-07-24 16:27] #878 closed, assigned to ripcurlx

[2021-07-26 11:43] ripcurlx commented on #883
As dev team lead I approve this CR.

[2021-07-26 11:44] ripcurlx commented on #885
As dev team lead I approve this CR.

[2021-07-27 09:26] sqrrm commented on #874
Tx: 37dc32b0ae5de1c258d761e66c3e75a6488fddc574891e84a352957fd8baee1e

[2021-07-27 11:57] ripcurlx commented on #873
@refund-agent2 Can you please confirm that `e2efd7f9942b32dd96733e9c271b6fc0bddb6a552da9f656dbab20bed6cdc955` is the correct transaction ID? Thanks!

[2021-07-27 11:58] ripcurlx commented on #879
@pedromvpg Can you please confirm that `0296694ab1111713cd5dcf0d701db833f5730414789e1757320ed18cf2683098` is the correct transaction ID? Thanks!

[2021-07-31 08:37] ghost commented on #879
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|3082.19|4500.00|

Total Issuance: 3082.19 BSQ (equivalent to: 4500.00 USD)

[2021-07-31 08:37] MwithM commented on #879
Closed as accepted.

[2021-07-31 08:37] #879 closed, assigned to m52go

[2021-07-31 08:37] ghost commented on #873
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1446.61|2112.05|

Total Issuance: 1446.61 BSQ (equivalent to: 2112.05 USD)

[2021-07-31 08:37] MwithM commented on #873
Closed as accepted.

[2021-07-31 08:37] #873 closed, assigned to leo816

[2021-07-31 08:38] MwithM commented on #883
Closed as deferred. Was approved.

[2021-07-31 08:38] #883 closed, assigned to ripcurlx

[2021-07-31 08:38] ghost commented on #881
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|34.25|50.00|

Total Issuance: 34.25 BSQ (equivalent to: 50.00 USD)

[2021-07-31 08:38] MwithM commented on #881
Closed as accepted.

[2021-07-31 08:38] #881 closed, assigned to nobody

[2021-07-31 08:39] ghost commented on #869
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|136.80|200.00|
|growth|34.20|50.00|

Total Issuance: 171.00 BSQ (equivalent to: 250.00 USD)

[2021-07-31 08:39] MwithM commented on #869
Closed as accepted.

[2021-07-31 08:39] #869 closed, assigned to wiz, m52go

[2021-07-31 08:39] ghost commented on #872
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|719.18|1050.00|
|dev|547.94|800.00|

Total Issuance: 1267.12 BSQ (equivalent to: 1850.00 USD)

[2021-07-31 08:39] MwithM commented on #872
Closed as accepted.

[2021-07-31 08:39] #872 closed, assigned to nobody

[2021-07-31 08:39] ghost commented on #877
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|787.67|1150.00|

Total Issuance: 787.67 BSQ (equivalent to: 1150.00 USD)

[2021-07-31 08:39] MwithM commented on #877
Closed as accepted.

[2021-07-31 08:39] #877 closed, assigned to ripcurlx

[2021-07-31 08:39] ghost commented on #884
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|958.00|1400.00|

Total Issuance: 958.00 BSQ (equivalent to: 1400.00 USD)

[2021-07-31 08:39] MwithM commented on #884
Closed as accepted.

[2021-07-31 08:39] #884 closed, assigned to nobody

[2021-07-31 08:39] ghost commented on #874
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1369.95|2000.00|
|ops|89.05|130.00|

Total Issuance: 1459.00 BSQ (equivalent to: 2130.00 USD)

[2021-07-31 08:39] MwithM commented on #874
Closed as accepted.

[2021-07-31 08:39] #874 closed, assigned to ripcurlx, wiz

[2021-07-31 08:39] ghost commented on #885
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1027.39|1500.00|

Total Issuance: 1027.39 BSQ (equivalent to: 1500.00 USD)

[2021-07-31 08:39] MwithM commented on #885
Closed as accepted.

[2021-07-31 08:39] #885 closed, assigned to ripcurlx

[2021-07-31 08:40] ghost commented on #880
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|684.93|1000.00|

Total Issuance: 684.93 BSQ (equivalent to: 1000.00 USD)

[2021-07-31 08:40] MwithM commented on #880
Closed as accepted.

[2021-07-31 08:40] #880 closed, assigned to leo816

[2021-07-31 08:40] ghost commented on #876
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|2996.57|4375.00|

Total Issuance: 2996.57 BSQ (equivalent to: 4375.00 USD)

[2021-07-31 08:40] MwithM commented on #876
Closed as accepted.

[2021-07-31 08:40] #876 closed, assigned to nobody

[2021-07-31 08:40] ghost commented on #870
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|3424.66|5000.00|

Total Issuance: 3424.66 BSQ (equivalent to: 5000.00 USD)

[2021-07-31 08:40] MwithM commented on #870
Closed as accepted.

[2021-07-31 08:40] #870 closed, assigned to ripcurlx

[2021-07-31 08:40] ghost commented on #882
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4534.64|6622.00|
|ops|51.36|75.00|

Total Issuance: 4586.00 BSQ (equivalent to: 6697.00 USD)

[2021-07-31 08:40] MwithM commented on #882
Closed as accepted.

[2021-07-31 08:40] #882 closed, assigned to nobody

[2021-07-31 08:40] ghost commented on #875
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|822.00|1200.00|

Total Issuance: 822.00 BSQ (equivalent to: 1200.00 USD)

[2021-07-31 08:40] MwithM commented on #875
Closed as accepted.

[2021-07-31 08:40] #875 closed, assigned to wiz

[2021-07-31 08:41] ghost commented on #871
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|239.73|350.00|
|support|308.22|450.00|
|admin|51.37|75.00|

Total Issuance: 599.32 BSQ (equivalent to: 875.00 USD)

[2021-07-31 08:41] MwithM commented on #871
Closed as accepted.

[2021-07-31 08:41] #871 closed, assigned to m52go, leo816

[2021-07-31 08:57] #868 closed, assigned to nobody

[2021-07-31 08:57] MwithM opened #886 "BSQ rate for Cycle 27 is 1.23 USD per BSQ"
The recommended rate to be used for compensation requests on cycle 27 is **1.23 USD/BSQ.**

![imagen](https://user-images.githubusercontent.com/50149324/127734466-8b8e4918-5cde-4e05-bcd5-3c5af5becce1.png)

Rate for last cycle: #868
30D volume weighted average has been used, as in proposal [#313](https://github.com/bisq-network/proposals/issues/313).
5% outlier removal has been used.
More info abou

[2021-08-01 18:54] wallclockbuilder commented on #818
@ripcurlx I'm ready to re-open this CR, what do I need to do? @MwithM

[2021-08-01 19:03] wallclockbuilder opened #887 "For Cycle 27"
## Summary

- **BSQ requested**: **`502.44`**
- USD requested: 618.00
- BSQ rate: 1.23 USD per BSQ

## Contributions delivered
Cycle 23

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Replace slack with Keybase | dev | 5 | [5288](https://github.com/bisq-network/bisq/pull/5288) | PR |
|Release v1.6.0 | dev | 441 | [Report](https://bisq.ontestpad.com/project/1/folder/f104/re

[2021-08-01 19:03] ghost commented on #887
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2021-08-01 19:04] ghost commented on #887
## Info
Read BSQ amount from summary: 283.49
Read USD amount from summary: 618
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":441}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":17}
Parsed lineitem: {"team":"dev","amount":7}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"d

[2021-08-01 19:05] wallclockbuilder commented on #887
Reference: https://github.com/bisq-network/compensation/issues/819

![Screen Shot 2021-08-01 at 12 31 27 PM](https://user-images.githubusercontent.com/2033945/127783145-eb469d32-30ad-4530-953b-3aa918c6a0d6.png)

[2021-08-01 19:07] wallclockbuilder opened #888 "For Cycle 27"
## Summary(Previous Cycle 22)

- **BSQ requested**: **`1213.01 `**
- USD requested: 1492.00
- BSQ rate: 1.23 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Changes "Verify result" to "Check signature" | dev | 15 | [5209](https://github.com/bisq-network/bisq/pull/5209) | Code Review |
| Add step for signature creation for Arch Linux

[2021-08-01 19:07] ghost commented on #888
## Info
Read BSQ amount from summary: 225.69
Read USD amount from summary: 492
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"dev","amount":15}
Parsed lineitem: {"team":"dev","amount":349}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"team":"dev","amount":21}
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":2}

## Errors
Incorrect BSQ

[2021-08-01 19:08] wallclockbuilder commented on #888
Reference: https://github.com/bisq-network/compensation/issues/818

![Screen Shot 2021-08-01 at 12 32 49 PM](https://user-images.githubusercontent.com/2033945/127783162-a5d8d457-047f-47b4-951a-6afb0d99aad8.png)

[2021-08-01 20:43] wallclockbuilder commented on #888
TX ID: 2013654fff2503b92f840aa838153f7d3083c582a3ce0995e6fef4f83c503cb2

[2021-08-01 20:59] wallclockbuilder commented on #887
TX ID: c50a3d588c6d1ceacca822ba30c0db140e4d2cac4b4c59fb9dee67670572b7ba

[2021-08-13 08:45] BtcContributor opened #889 "For Cycle 27"
Hi all,
fifth cycle for me!

Unfortunately I missed the last one.

Main changes are that I succesfully passed my internship as L1 Support Agent and this is my first cycle as a full agent.

## Summary

- **BSQ requested**: **`1219.51`**
- USD requested: 1500
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #852

## Contributions delivered

| Title | Team | USD | Link |

[2021-08-13 11:39] flybylow opened #890 "For Cycle 27"
## Summary

- **BSQ requested**: **`406`**
- USD requested: 500
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| UX Designerorderbook | dev  | 500 | https://github.com/bisq-network/projects/issues/57 | here |

## Contributions in progress

[2021-08-13 11:39] ghost commented on #890
## Info
Read BSQ amount from summary: 406
Read USD amount from summary: 500
Read BSQ rate from summary: 1.23

## Errors
Unknown team specified: chimp1984
Tableformat: request lineitem #1 did not pass validation.
No compensation lineitems found.

[2021-08-15 08:12] MwithM commented on #890
I guess that team must be dev. The parsing must be valid so please edit until it is.

[2021-08-15 19:54] ghost commented on #888
## Info
Read BSQ amount from summary: 225.69
Read USD amount from summary: 492
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"dev","amount":15}
Parsed lineitem: {"team":"dev","amount":349}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"team":"dev","amount":21}
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":2}

## Errors
Incorrect BSQ

[2021-08-15 19:55] ghost commented on #887
## Info
Read BSQ amount from summary: 283.49
Read USD amount from summary: 618
Read BSQ rate from summary: 2.18
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":441}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":17}
Parsed lineitem: {"team":"dev","amount":7}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"d

[2021-08-15 20:15] wallclockbuilder opened #891 "For Cycle 27"
## Summary

- **BSQ requested**: **`[813.01]`**
- USD requested: [1000]
- BSQ rate: [1.23] USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Support Intern | Support | 0.00 | N/A | Cycle 23 |
| Support Agent | Support | 500 | N/A | Cycle 24 |
| Support Agent | Support | 500 | N/A | Cyc

[2021-08-15 20:24] alexej996 opened #892 "For Cycle 27"
## Summary
This is a compensation request for work done in Cycle 26.

- **BSQ requested** : **203**
- USD requested: **250**
- BSQ rate: **1.23** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/869

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bis

[2021-08-16 00:38] wallclockbuilder commented on #887
https://github.com/bisq-network/compensation/issues/887#issuecomment-890570382

[2021-08-16 00:39] wallclockbuilder commented on #887
Reference: https://github.com/bisq-network/compensation/issues/887#issuecomment-890570382

[2021-08-16 00:40] wallclockbuilder commented on #888
Reference: https://github.com/bisq-network/compensation/issues/888#issuecomment-890570769

[2021-08-16 07:22] ripcurlx commented on #890
@chimp1984 could you please ACK this as soon as it is parsed valid? Thanks!

[2021-08-16 07:23] MwithM commented on #888
You should use the BSQ rate of the current cycle. That's clearly in your interest, so I leave it up to you to change the rate.

[2021-08-16 08:45] chimp1984 commented on #890
ACK

[2021-08-16 10:20] sqrrm commented on #891
I think it would be best to consolidate all these compensation requests in one and wait for feedback before creating the on chain compensation request.

[2021-08-16 10:59] ghost commented on #889
## Info
Read BSQ amount from summary: 121951
Read USD amount from summary: 1500
Read BSQ rate from summary: 1.27
Parsed lineitem: {"team":"dev","amount":800}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"dev","amount":200}

## Errors
Incorrect BSQ rate specified: 1.27, expected: 1.23
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 121951.00 B

[2021-08-16 12:04] ghost commented on #889
## Info
Read BSQ amount from summary: 121951
Read USD amount from summary: 1500
Read BSQ rate from summary: 1.23
Parsed lineitem: {"team":"dev","amount":800}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"dev","amount":200}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 121951.00 BSQ
   - Calculated total: 1219.51 BSQ

[2021-08-16 12:41] alexej996 commented on #892
DAO txid: **05aa26f37eddb0f956ca7221115b860c9b5dc3ec0568dca43130aa1736dedd0b**

[2021-08-16 22:33] wallclockbuilder commented on #888
Adjusted rate as recommended.

[2021-08-16 22:46] wallclockbuilder commented on #887
Tx ID: b7676812f3b62f274b6cb06cddf64c49fe23568f8a830ca8d4b2a878b70ff7c5

[2021-08-17 15:47] ghost commented on #888
## Info
Read BSQ amount from summary: 400
Read USD amount from summary: 492
Read BSQ rate from summary: 1.23
Parsed lineitem: {"team":"dev","amount":15}
Parsed lineitem: {"team":"dev","amount":349}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"team":"dev","amount":21}
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":2}
Parsed lineitem: {"team":"s

[2021-08-17 15:48] ghost commented on #888
## Info
Read BSQ amount from summary: 400
Read USD amount from summary: 1492
Read BSQ rate from summary: 1.23
Parsed lineitem: {"team":"dev","amount":15}
Parsed lineitem: {"team":"dev","amount":349}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"team":"dev","amount":21}
Parsed lineitem: {"team":"dev","amount":5}
Parsed lineitem: {"team":"dev","amount":2}
Parsed lineitem: {"team":"

[2021-08-17 15:50] wallclockbuilder commented on #891
Merged into https://github.com/bisq-network/compensation/issues/888
Thus closing this CR

[2021-08-17 15:50] #891 closed, assigned to leo816

[2021-08-17 16:37] Emzy opened #893 "For Cycle 27"
## Summary

- **BSQ requested**: **`1178`**
- USD requested: 1450
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #875

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 4* Seed node operator | ops* | 400 | bisq-network/roles#15 | 1 old node (Onion V2

[2021-08-17 18:56] devinbileck opened #894 "For Cycle 27"
## Summary

- **BSQ requested**: **`853.66`**
- USD requested: 1050
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #872

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-900564210 | 3 nodes
| Seed node operator | ops* |

[2021-08-18 10:48] BtcContributor commented on #889
TxID: 9a72b096f7cfe449d5ff00c7c557546047b63b87f33ae6f8f56b94708a8e8dc2

Sorry if I did not wait for the review but I will be AFK this coming week.

[2021-08-18 17:29] MwithM opened #895 "For Cycle 27"
## Summary

- **BSQ requested**: **`589.43`**
- USD requested: 725 USD
- BSQ rate: 1.23 USD per BSQ as per #886
- Previous compensation request (if applicable): #871

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 250 | https://github.com/bisq-network/roles/issues/95#issuecomment-901266212 |  |
| Transfiex Admin | *

[2021-08-18 18:14] pazza83 opened #896 "For Cycle 27"
## Summary

- **BSQ requested**: **`[2,520.3]`**
- USD requested: [3100]
- BSQ rate: [1.23 USD/BSQ] USD per BSQ as per #886
- Previous compensation request: #878 (tx id not submitted in time so requesting both Cycle 26 and 27 together in this compensation request)

## Contributions delivered for Cycle 27

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | *Support |

[2021-08-18 20:52] sqrrm opened #897 "For Cycle 27"
## Summary

- **BSQ requested**: **`634`**
- USD requested: 780
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #874

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Fix refund double payout | dev | 400 | https://github.com/bisq-network/bisq/pull/5649 ||
||||https://github.com/bisq-network/bisq/pull/5630 | Small revie

[2021-08-19 02:12] ghost opened #898 "For Cycle 27"
## Summary

- **BSQ requested**: **`243.90`**
- USD requested: 300
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/877

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Add don't show again option to DAO resync popup | dev | 25 | https://github.com/bisq-network/bisq/

[2021-08-19 11:57] bisqubutor opened #899 "For Cycle 27"
Hello everybody, this is my first time of this kind of request.
I hope I'm not too hasty with this current cycle.

## Summary

- **BSQ requested**: **33**
- USD requested: 41
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): # (_None, this is my first and single one._)

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| D

[2021-08-19 12:38] refund-agent2 opened #900 "For Cycle 27"
## Summary

- **BSQ requested**: **`972.43`**
- USD requested: 1196.09
- BSQ rate:  1.23 USD per BSQ
- Previous compensation request (if applicable): #873

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Refunds | *Support | 1196.09 | https://github.com/bisq-network/roles/issues/93#issuecomment-901876354 | I had to stop refunds due to double payo

[2021-08-19 12:39] sqrrm commented on #899
@bisqubutor I wasn't involved in the css fix, but I suspect you're not asking enough for that fix, @ripcurlx what do you think?

The ask for tor relays for the first month looks fine to me, but I assume you will ask somewhat more once they're all up and running, could you give an indication of how much?

[2021-08-19 14:38] bisqubutor commented on #899
@sqrrm Since I'm not sure yet what would be reasonable, I chose this value resulting based on the number of the 4 previously announced relays for the beginning I chose, thus 10 apiece to start with that would be helpful. But you will know it from experience with the operation of your own best.
The costs arise evenly multiplied by the number of running nodes.

[2021-08-19 15:29] sqrrm commented on #899
I basically ask for the cost of servers plus a little bit for the work to keep them running. I see it as a service I do for the community. If you're more experienced running nodes I assume it'll be even less work. USD10 per instance sounds very reasonable for the performance of your nodes.

[2021-08-20 01:15] wiz opened #901 "For Cycle 27"
## Summary

* **BSQ requested**: **`1138`**
* USD requested: 1400
* BSQ rate: 1.23 USD per BSQ
* Previous compensation request (if applicable): #884

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin Node Operato

[2021-08-20 08:51] wiz commented on #901
d93f9624c39466fb6a356354c1576e23de4857afa5d593989196f709b5723943

[2021-08-20 10:09] Emzy commented on #901
Approved for ops.

[2021-08-20 22:19] devinbileck commented on #894
ad43d15fba2374b66f728e96f31a54b6881fb61b96b2152c2d1eb861306d0af0

[2021-08-21 09:56] Emzy commented on #893
TXID: 4a1dc66a61664e4fd3f95eae05fec8cf449e9943646654eb58d9f526382b7fd6

[2021-08-21 14:25] m52go commented on #896
[Approved](https://bisq.wiki/Compensation#Team_Lead) for admin.

[2021-08-21 14:26] m52go commented on #892
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth.

[2021-08-21 14:26] m52go commented on #895
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth.

[2021-08-21 14:34] m52go commented on #896
@pazza83 can we be push SWIFT harder? It's been pretty obvious for a while that wallclockbuilder would not come through for it...I mentioned this to you privately back in June. I believe he's been assigned to the issue since April.

[2021-08-21 14:40] pazza83 commented on #896
@m52go will do, do you or any @bisq-network/dev's had an idea of who might be available to do it?

[2021-08-21 18:14] leo816 commented on #888
Report for support Incomplete: "Most of the work I've done has been on github and in the support channel."
Please provide a link to all the work related to support on github.
You mention that you began on cycle 23 (15th of March) your internship which is true. But the last time I heard from you was on May 3rd after I advised you to keep a detailed track of the cases you are handling. Given that cy

[2021-08-21 18:28] leo816 commented on #895
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-08-21 18:28] leo816 commented on #896
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-08-21 18:30] leo816 commented on #889
Please make sure you join Support Weekly calls.
Support report missing, make sure you do it asap.
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-08-21 19:00] wallclockbuilder commented on #888
Bullshit

[2021-08-21 19:52] pazza83 commented on #896
Thanks here is my Transaction ID:

17670c6421c6439a0498e9d0c21cea555c8213f058e0f0d480c79b31267dd900

[2021-08-21 20:07] burningman3 opened #902 "For Cycle 27"
## Summary

- **BSQ requested**: **`[813.01]`**
- USD requested: [1000]
- BSQ rate: [1.23] USD per BSQ
- Previous compensation request (if applicable): #880

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issueco

[2021-08-21 20:11] leo816 opened #903 "For Cycle 27"
## Summary

- **BSQ requested**: **`1219.51`**
- USD requested: 1500
- BSQ rate: 1.23 USD per BSQ
- Previous compensation request (if applicable): #885

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-885486371 |  |
| L1 Support Agent | Support | 500 |https:/

[2021-08-21 20:11] ghost commented on #903
## Info
Read BSQ amount from summary: 1019.51
Read USD amount from summary: 1500
Read BSQ rate from summary: 1.23
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":0}
Parsed lineitem: {"team":"support","amount":0}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 1019.51

[2021-08-21 20:15] burningman3 commented on #902
Tx ID: 3c65aa026917aa4aa6b24888c6da1b9e8370cf4df3b5a117a86ad7336bb82d72

[2021-08-22 07:23] sqrrm commented on #897
Tx: f0c5a8be5910b12605e092ca81440aee8fc092500a3aed4667bbf2691fbca4cd

[2021-08-22 11:22] ripcurlx commented on #889
As dev team lead I approve this CR. Sorry for my late review!

[2021-08-22 11:23] ripcurlx commented on #898
As dev team lead I approve this CR. Sorry for my late review! I hope you can publish it to the DAO in time 😬

[2021-08-22 11:23] ripcurlx commented on #897
As dev team lead I approve this CR. Sorry for my late review!

[2021-08-22 11:26] ripcurlx commented on #888
@wallclockbuilder Sorry for my late review as I had personal issues. Unfortunately I won't be able to complete the review for this cycle. Still I'll respond to this issue for documentation purpose latest tomorrow.

[2021-08-22 11:27] ripcurlx commented on #887
@wallclockbuilder Sorry for my late review as I had personal issues. Unfortunately I won't be able to complete the review for this cycle. Still I'll respond to this issue for documentation purpose latest tomorrow. I saw that you published your CR already so I'll try to review it in-time for everyone else to vote on. But worst-case you have to re-submit it in the next cycle.

[2021-08-22 11:37] ripcurlx commented on #887
@wallclockbuilder For your v1.6.0 release test report. Could you please post here the export of your test payment accounts (fiat and alt) as you tested all of them. It would help other devs setting up all of them manually. Also in this test report it says you tested all trading test cases on Testnet (which is not possible, as it is not running anymore). How did you test this?

[2021-08-22 11:44] ripcurlx commented on #887
Code Reviews:

@ https://github.com/bisq-network/bisq/pull/5365: For contributors without a track record I don't think it is a good precedent to compensate a utACK.

In general I think to ask for code review compensation without contributing to the codebase first (more than fixing typos) would send the wrong signal for future CR code reviews (what would prevent someone just to utACK/ACK every PR a

[2021-08-22 11:46] ripcurlx commented on #888
I don't think this argumentation strengthen your case getting compensated.

[2021-08-22 11:50] ripcurlx commented on #899
@bisqubutor I agree with @sqrrm that you asked too little for this work as it was tricky to find (although to fix seems easy).  Sorry that I missed to review earlier (I had personal issue the last days).

[2021-08-22 11:52] ripcurlx commented on #899
If you are not able to submit your CR for this cycle please try it again for next cycle and I'll review it in time (big promise) 😬

[2021-08-22 11:53] ripcurlx commented on #903
As dev team lead I approve this request. Please submit it to the DAO.

[2021-08-22 12:30] leo816 commented on #903
fe956cc263f6d0010a05dd8901adf064a38c32dfd680d402e8f29f77d9f8085b

[2021-08-22 12:31] leo816 commented on #902
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request.

[2021-08-22 12:31] leo816 commented on #900
@refund-agent2 We need you to join our weekly support calls.
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-08-22 12:58] ghost commented on #898
TxId: b28864543405c657c75c88cd0c7c35e9b1c1b1f50c271fb6dff617cd847bf7ce

[2021-08-22 13:41] bisqubutor commented on #899
Okay, here is my BSQ Transaction ID: `adfb0da353711a7dd7b1df2eec24d277d55507ff80b73054b2767756c6fa78d7`

[2021-08-22 16:19] BtcContributor commented on #889
Isn't this my Support Report @leo816?

https://github.com/bisq-network/roles/issues/64#issuecomment-899417556

[2021-08-22 16:52] wallclockbuilder commented on #888
I wrote the report from memory. Did my best.if its not enough then sorry. There is no way to make it gooder.

[2021-08-23 09:35] ripcurlx opened #904 "For Cycle 28"
## Summary

- **BSQ requested**: **`5052`**
- USD requested: 7680
- BSQ rate: 1.52 USD per BSQ
- Previous compensation request (if applicable): #882

As I missed the deadline for Cycle 27 this will be a compound compensation request for Cycle 27 and Cycle 28.
Cycle 27: Because of vacation I wasn't very active in this cycle.

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- |

[2021-08-23 17:03] refund-agent2 commented on #900
I missed this cycle.

[2021-08-23 17:03] #900 closed, assigned to leo816

[2021-08-24 09:40] MwithM commented on #890
Is this the correct TXID? 5e0ee7eb13783cc6eb611a7f3c702760ea6d1ce5e8b1f29b939e4dadbab3ac4f

[2021-08-25 06:53] flybylow commented on #890
Sorry,
I was camping off-grid without access to my email. Is the first time i ask
for a compensation and is not the simplest flow so might need some help.

Do i need to make the request again with ACK as team?

My wallet address: Bbc1qng253uf2pcrfcsckh8h5har4u2d6jjmzjq8p92

Regards,
Ward

Op di 24 aug. 2021 om 11:40 schreef MwithM ***@***.***>:

[2021-08-25 07:00] MwithM commented on #890
You don't need to share any BSQ address, that is handled by Bisq software when doing a proposal. There is a 406BSQ proposal under this handle at the Bisq DAO.

![imagen](https://user-images.githubusercontent.com/50149324/130741779-12f2ce94-c6d4-4419-abf7-fa44767b6243.png)

DAO voters should check that the one who submitted the proposal to the DAO has access to the same keybase handle by posting th

[2021-08-25 08:28] flybylow commented on #890
Thanks for the information. I do not need to take any action from my side
then.

Op wo 25 aug. 2021 om 09:00 schreef MwithM ***@***.***>:

[2021-08-25 18:36] ripcurlx commented on #894
@Emzy I guess you approve this request? 😄

[2021-08-25 20:19] Emzy commented on #897
Approved for ops.

[2021-08-25 20:19] Emzy commented on #894
Approved for ops.

[2021-08-25 20:20] Emzy commented on #892
Approved for ops.

[2021-08-28 07:50] ghost opened #905 "For Cycle 28"
## Summary

- **BSQ requested**: **`625`**
- USD requested: 950
- BSQ rate: 1.52 USD per BSQ
- Previous compensation request (if applicable): #

Compensation request for work done in Cycle 27.

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Fix incorrect tx link to tx explorer | dev | 300 | https://github.com/bisq-network/bisq/pull/5563 | |
| Wr

[2021-08-29 09:13] MwithM commented on #887
Closed as rejected.

[2021-08-29 09:13] #887 closed, assigned to ripcurlx

[2021-08-29 09:14] ghost commented on #890
Issuance cannot be displayed as there were errors in the comp request

[2021-08-29 09:14] ghost commented on #890
## Info
Read BSQ amount from summary: 406
Read USD amount from summary: 500
Read BSQ rate from summary: 1.23
Parsed lineitem: {"team":"dev","amount":0}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 500.00 USD
   - Calculated total: 0.00 USD

[2021-08-29 09:16] ghost commented on #890
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|406.00|500.00|

Total Issuance: 406.00 BSQ (equivalent to: 500.00 USD)

[2021-08-29 09:17] MwithM commented on #890
Closed as accepted, even if was not parsed as valid.
I edited your request until it was valid (by adding "dev" and "500" USD). Please, on next cycle makes sure your compensation is good for the parsing bot.

[2021-08-29 09:17] #890 closed, assigned to ripcurlx

[2021-08-29 09:18] MwithM commented on #888
Closed as not submitted.

[2021-08-29 09:18] #888 closed, assigned to ripcurlx

[2021-08-29 09:19] ghost commented on #893
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|974.90|1200.00|
|growth|203.10|250.00|

Total Issuance: 1178.00 BSQ (equivalent to: 1450.00 USD)

[2021-08-29 09:19] MwithM commented on #893
Closed as accepted.

[2021-08-29 09:19] #893 closed, assigned to wiz

[2021-08-29 09:19] ghost commented on #901
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1138.00|1400.00|

Total Issuance: 1138.00 BSQ (equivalent to: 1400.00 USD)

[2021-08-29 09:19] MwithM commented on #901
Closed as accepted.

[2021-08-29 09:19] #901 closed, assigned to Emzy

[2021-08-29 09:19] ghost commented on #895
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|203.25|250.00|
|support|325.20|400.00|
|admin|60.98|75.00|

Total Issuance: 589.43 BSQ (equivalent to: 725.00 USD)

[2021-08-29 09:20] MwithM commented on #895
Closed as accepted.

[2021-08-29 09:20] #895 closed, assigned to m52go, leo816

[2021-08-29 09:20] ghost commented on #896
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2439.00|3000.00|
|admin|81.30|100.00|

Total Issuance: 2520.30 BSQ (equivalent to: 3100.00 USD)

[2021-08-29 09:20] MwithM commented on #896
Closed as accepted.

[2021-08-29 09:20] #896 closed, assigned to leo816

[2021-08-29 09:20] ghost commented on #889
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|813.01|1000.00|
|support|406.50|500.00|

Total Issuance: 1219.51 BSQ (equivalent to: 1500.00 USD)

[2021-08-29 09:20] MwithM commented on #889
Closed as accepted.

[2021-08-29 09:20] #889 closed, assigned to ripcurlx, leo816

[2021-08-29 09:20] ghost commented on #898
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|243.90|300.00|

Total Issuance: 243.90 BSQ (equivalent to: 300.00 USD)

[2021-08-29 09:20] MwithM commented on #898
Closed as accepted.

[2021-08-29 09:20] #898 closed, assigned to ripcurlx

[2021-08-29 09:21] ghost commented on #902
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|813.01|1000.00|

Total Issuance: 813.01 BSQ (equivalent to: 1000.00 USD)

[2021-08-29 09:21] MwithM commented on #902
Closed as accepted.

[2021-08-29 09:21] #902 closed, assigned to leo816

[2021-08-29 09:21] ghost commented on #903
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1219.51|1500.00|

Total Issuance: 1219.51 BSQ (equivalent to: 1500.00 USD)

[2021-08-29 09:21] MwithM commented on #903
Closed as accepted.

[2021-08-29 09:21] #903 closed, assigned to ripcurlx

[2021-08-29 09:21] MwithM commented on #899
Closed as accepted.

[2021-08-29 09:21] #899 closed

[2021-08-29 09:22] ghost commented on #897
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|528.33|650.00|
|ops|105.67|130.00|

Total Issuance: 634.00 BSQ (equivalent to: 780.00 USD)

[2021-08-29 09:22] MwithM commented on #897
Closed as accepted.

[2021-08-29 09:22] #897 closed, assigned to ripcurlx

[2021-08-29 09:22] ghost commented on #894
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|853.66|1050.00|

Total Issuance: 853.66 BSQ (equivalent to: 1050.00 USD)

[2021-08-29 09:22] MwithM commented on #894
Closed as accepted.

[2021-08-29 09:22] #894 closed, assigned to wiz

[2021-08-29 09:23] ghost commented on #892
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|162.40|200.00|
|growth|40.60|50.00|

Total Issuance: 203.00 BSQ (equivalent to: 250.00 USD)

[2021-08-29 09:23] MwithM commented on #892
Closed as accepted.

[2021-08-29 09:23] #892 closed, assigned to wiz, m52go

[2021-08-29 09:28] #886 closed, assigned to nobody

[2021-08-29 09:31] MwithM opened #906 "BSQ rate for Cycle 28 is 1.52 USD per BSQ"
The recommended rate to be used for compensation requests on cycle 28 is **1.52 USD/BSQ.**

![imagen](https://user-images.githubusercontent.com/50149324/131245694-882aa524-f921-44cb-8602-6a4021368a81.png)

Rate for last cycle: #886
More info about the Compensation process at https://bisq.wiki/Compensation

[2021-09-15 19:58] devinbileck opened #907 "For Cycle 28"
## Summary

- **BSQ requested**: **`690.79`**
- USD requested: 1050
- BSQ rate: 1.52 USD per BSQ
- Previous compensation request (if applicable): #894

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-920348164 | 3 nodes
| Seed node operator | ops* |

[2021-09-16 00:53] bisqubutor opened #908 "For Cycle 28"
## Summary

- **BSQ requested**: **444**
- USD requested: 675
- BSQ rate: 1.52 USD per BSQ
- Previous compensation request (if applicable): For Cycle 27 #899

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Tor relay operator | ops* | 675 | [bisq-network/roles#72 (comment)](https://github.com/bisq-network/roles/issues/72#issuecomment-920497141) |

[2021-09-16 10:08] refund-agent2 opened #909 "For Cycle 28"
## Summary

- **BSQ requested**: **1846.27**
- USD requested: 2806.33
- BSQ rate:  1.52 USD per BSQ
- Previous compensation request (if applicable): #873

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Refunds | *Support | 1196.09 | https://github.com/bisq-network/roles/issues/93#issuecomment-901876354 | Not submitted on [Cycle 27](https://githu

[2021-09-16 15:14] MwithM opened #910 "For Cycle 28"
## Summary

- **BSQ requested**: **`493.42`**
- USD requested: 750 USD
- BSQ rate: 1.52 USD per BSQ as per #906
- Previous compensation request (if applicable): #895

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 200 | https://github.com/bisq-network/roles/issues/95#issuecomment-920978108|  |
| Transfiex Admin | *G

[2021-09-16 20:12] ghubstan opened #911 "For Cycle 28"
## Summary

- **BSQ requested**: **`5921.05`**
- USD requested: 9000
- BSQ rate: 1.52 USD per BSQ
- Previous compensation request (if applicable): #876

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Refactor EditOfferDataModel for new editoffer api method|dev|150|https://github.com/bisq-network/bisq/pull/5571|merged|
|Add new api method editoffe

[2021-09-16 20:15] ghubstan commented on #911
This is a compound compensation request for Cycle 27 and Cycle 28.

[2021-09-17 04:25] wiz opened #912 "For Cycle 28"
## Summary

* **BSQ requested**: **`921`**
* USD requested: 1400
* BSQ rate: 1.52 USD per BSQ
* Previous compensation request (if applicable): #901

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin Node Operator

[2021-09-17 16:27] ghost opened #913 "For Cycle 28"
## Summary

- **BSQ requested**: **`1315.79`**
- USD requested: 2000
- BSQ rate: 1.52 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/898

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Add SWIFT payment method | dev | 800 | https://github.com/bisq-network/bisq/pull/5672 | 1.7.4
Ad

[2021-09-17 18:44] BtcContributor opened #914 "For Cycle 28"
Hi all,
sixth cycle for me!

## Summary

- **BSQ requested**: **`723.68`**
- USD requested: 1100
- BSQ rate: 1.52 USD per BSQ
- Previous compensation request (if applicable): #889

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Testing new Bisq releases | dev | 600| | Test reports for [v1.7.3](https://bisq.ontestpad.com/project/1/folder/f133/rep

[2021-09-18 11:12] alexej996 opened #915 "For Cycle 28"
## Summary
This is a compensation request for work done in Cycle 27.

- **BSQ requested** : **164**
- USD requested: **250**
- BSQ rate: **1.52** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/892

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bis

[2021-09-18 11:12] ghost commented on #915
## Info
Read BSQ amount from summary: 164
Read USD amount from summary: 250
Read BSQ rate from summary: 1.54
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"growth","amount":50}
Parsed lineitem: {"team":"ops","amount":100}

## Errors
Incorrect BSQ rate specified: 1.54, expected: 1.52

[2021-09-18 11:22] alexej996 commented on #915
DAO txid: **8d1509515f7ceff3ead6a0a7a6cdf090221386f35c2b89e0ab8701631d3983db**

[2021-09-19 09:19] wiz commented on #912
e33dc8ff3678d8667846e590472f9341dcbf8964a65d4601ca6355fc326ac4e0

[2021-09-19 11:52] sqrrm opened #916 "For Cycle 28"
## Summary

- **BSQ requested**: **`1421`**
- USD requested: 2160
- BSQ rate: 1.52 USD per BSQ
- Previous compensation request (if applicable): #897

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Editoffer | dev | 400 | https://github.com/bisq-network/bisq/pull/5666 ||
|Bitcoinj tor v3 | dev | 1500 | https://github.com/bisq-network/bisq/pull/568

[2021-09-19 13:53] Emzy commented on #912
Approved for ops.

[2021-09-19 13:54] Emzy commented on #907
Approved for ops.

[2021-09-19 13:54] Emzy commented on #915
Approved for ops.

[2021-09-19 13:54] Emzy commented on #916
Approved for ops.

[2021-09-19 13:58] Emzy opened #917 "For Cycle 28"
## Summary

- **BSQ requested**: **`789`**
- USD requested: 1200
- BSQ rate: 1.52 USD per BSQ
- Previous compensation request (if applicable): #893

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 4* Seed node operator | ops* | 400 | bisq-network/roles#15 | 1 old node (Onion V2)

[2021-09-19 20:55] burningman3 opened #918 "For Cycle 28"
## Summary

- **BSQ requested**: **`[657.89]`**
- USD requested: [1000]
- BSQ rate: [1.52] USD per BSQ
- Previous compensation request (if applicable): #902

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issueco

[2021-09-19 20:59] burningman3 commented on #918
Tx ID: 173b82cee8fea3ab06ee3e4845c5b200940f2669bed032989354b1536caafdb2

[2021-09-19 21:37] pazza83 opened #919 "For Cycle 28"
## Summary

- **BSQ requested**: **`[1,019.7]`**
- USD requested: [1550]
- BSQ rate: [1.52 USD/BSQ] USD per BSQ as per #906
- Previous compensation request: #896

## Contributions delivered for Cycle 28

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | *Support | 1000 | https://github.com/bisq-network/roles/issues/83#issuecomment-922535171 | This has been my busies

[2021-09-20 07:37] ripcurlx commented on #914
As dev team lead I approve this request. Here is the link for the test report for v1.7.3: https://bisq.ontestpad.com/project/1/folder/f133/report/?auth=2f3eee0da91ed49449b4041f1b7f61d6

[2021-09-20 08:11] ghost commented on #904
## Info
Read BSQ amount from summary: 5260
Read USD amount from summary: 7680
Read BSQ rate from summary: 1.46
Parsed lineitem: {"team":"dev","amount":2160}
Parsed lineitem: {"team":"dev","amount":3060}
Parsed lineitem: {"team":"ops","amount":50}
Parsed lineitem: {"team":"ops","amount":50}
Parsed lineitem: {"team":"ops","amount":25}
Parsed lineitem: {"team":"ops","amount":25}
Parsed lineitem: {"te

[2021-09-20 08:11] ghost commented on #904
## Info
Read BSQ amount from summary: 5260
Read USD amount from summary: 7680
Read BSQ rate from summary: 1.46
Parsed lineitem: {"team":"dev","amount":2160}
Parsed lineitem: {"team":"dev","amount":3060}
Parsed lineitem: {"team":"ops","amount":50}
Parsed lineitem: {"team":"ops","amount":50}
Parsed lineitem: {"team":"ops","amount":25}
Parsed lineitem: {"team":"ops","amount":25}
Parsed lineitem: {"te

[2021-09-20 08:24] ripcurlx commented on #911
I approve this compensation request for dev. Please submit your CR to the DAO for voting.

[2021-09-20 08:32] ripcurlx commented on #913
As dev team lead I approve this compensation request for dev.

[2021-09-20 08:33] ripcurlx commented on #916
As dev team lead I approve this compensation request for dev.

[2021-09-20 08:37] ripcurlx commented on #905
@xyzmaker123 Thanks for your contributions so far! Compared to other compensation requests I think the compensation requested for `Fix incorrect tx link to tx explorer` and `Tooltip for unsigned accounts needs to provide more information` are a little bit high.

[2021-09-20 10:50] BtcContributor commented on #914
I think I need @leo816 approval before submitting my proposal to the DAO.

[2021-09-20 10:52] leo816 commented on #910
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-09-20 10:52] leo816 commented on #914
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-09-20 10:52] leo816 commented on #919
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-09-20 10:53] leo816 commented on #913
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-09-20 10:53] leo816 commented on #918
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request.

[2021-09-20 10:54] Emzy commented on #904
Approved for ops.

[2021-09-20 11:00] ghubstan commented on #911
`66d35c5fe065fd015d1d8b256c01c5b674556bf372268f768983f484584704ab`

[2021-09-20 11:07] Emzy commented on #917
TXID: 5e9ebb78315cf15358083ecb621b14f71bf32a90ffd3363fdab9ce2168f72160

[2021-09-20 12:10] ripcurlx commented on #917
As dev team lead I approve this compensation request.

[2021-09-20 12:22] BtcContributor commented on #914
**TxID**: 20fcc20f0857447a8fe50df2736626137cce715eb861e2969da3279356300db9

[2021-09-20 12:37] MwithM commented on #910
I wait for @m52go approval.

[2021-09-20 12:44] ghost commented on #913
txid=099e09e19bc3cd5bb8cd521b696e161ca3116f4cc2f6862763f9b48aabe29a39

[2021-09-20 14:33] m52go commented on #910
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth and admin :+1:

[2021-09-20 14:35] m52go commented on #915
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth.

[2021-09-20 14:54] pazza83 commented on #919
Tx id: b0a06166c984810cfb536604b539b993558c0c6a15580a9f763c6ffecab044ad

[2021-09-20 15:48] ghost commented on #905
@ripcurlx You're welcome. I decreased both items by 100USD

[2021-09-20 17:10] devinbileck commented on #907
TxId 328a806607fe5eb0a9d0d9f0d003784162161a0e337cf06f694b65eb9d8d5855

[2021-09-20 17:49] ghost commented on #914
I think your dev contributions have been good, and you **could** continue to grow in that role.  The great thing about programming is the constant learning!  So I'm absolutely disagreeing with your comment of "_I think I am not a good dev.._".  Bisq has a desperate need for people to maintain it, and you demonstrated that capability.

[2021-09-20 19:59] MwithM commented on #910
TXID: fd5f4f7a93338a8007664e9e5242a2d5d6fd0e73c75831f0c41fc51045381c90

[2021-09-21 07:28] sqrrm commented on #904
I approve dev.

[2021-09-21 07:47] ripcurlx commented on #905
I still think `Tooltip for unsigned accounts needs to provide more information` is quite high, but I err in that case to approve it as this issue shouldn't have been marked as `good first issue` in the first place as of its JavaFX complexity. As dev team lead I approve this compensation request. Please submit your CR to the DAO for voting.

[2021-09-21 08:01] ripcurlx commented on #904
TXID: `a16445e0956e68eb5c897f8321877cc276559d04c69e9f131c3b68e9fb93a183`

[2021-09-21 10:08] sqrrm commented on #916
Tx: 8e34ea20cd31cdf9f7db43e07f574ff9b769d19b9ba10ad8a686b23dc5fce13c

[2021-09-21 10:57] leo816 opened #920 "For Cycle 28"
## Summary

- **BSQ requested**: **`[2041.45]`**
- USD requested: [3103]
- BSQ rate: [1.52] USD per BSQ
- Previous compensation request (if applicable): #903

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-923895771 | Cycle 28 |
| L1 Support Agent | Support

[2021-09-21 10:58] ghost commented on #920
## Info
Read BSQ amount from summary: 204197
Read USD amount from summary: 31038
Read BSQ rate from summary: 1.52
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":3748}
Parsed lineitem: {"team":"support","amount":1229}
Parsed lineitem: {"team":"support","amount":0}

## Errors
ERROR: Total USD does not mat

[2021-09-21 10:58] ghost commented on #920
## Info
Read BSQ amount from summary: 204197
Read USD amount from summary: 31038
Read BSQ rate from summary: 1.52
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":374.8}
Parsed lineitem: {"team":"support","amount":1229}
Parsed lineitem: {"team":"support","amount":0}

## Errors
ERROR: Total USD does not ma

[2021-09-21 11:01] ghost commented on #920
## Info
Read BSQ amount from summary: 31038
Read USD amount from summary: 31038
Read BSQ rate from summary: 1.52
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":374.8}
Parsed lineitem: {"team":"support","amount":1229}
Parsed lineitem: {"team":"support","amount":0}

## Errors
ERROR: Total USD does not mat

[2021-09-21 11:03] ghost commented on #920
## Info
Read BSQ amount from summary: 3103
Read USD amount from summary: 3103
Read BSQ rate from summary: 1.52
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":374.8}
Parsed lineitem: {"team":"support","amount":1229}
Parsed lineitem: {"team":"support","amount":0}

## Errors
ERROR: Total BSQ does not match

[2021-09-21 11:03] Emzy commented on #920
you just have to use "." not ",".

[2021-09-21 11:04] ghost commented on #920
## Info
Read BSQ amount from summary: 204145
Read USD amount from summary: 3103
Read BSQ rate from summary: 1.52
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":374.8}
Parsed lineitem: {"team":"support","amount":1229}
Parsed lineitem: {"team":"support","amount":0}

## Errors
ERROR: Total BSQ does not mat

[2021-09-21 11:06] Emzy commented on #920
Ok. Maybe no "." allowed?

[2021-09-21 12:05] leo816 commented on #909
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-09-21 14:14] ripcurlx commented on #920
As dev team lead I approve this request.

[2021-09-21 14:59] leo816 commented on #920
ebb77aec8d865f4b949a018b3a19040888abd9e75acc975f5be963da12368eac

[2021-09-21 16:17] ghost commented on #905
TXID: ce2ffa35e66dd4992f631dfafbca523f498259d065b02515aeda4708ef5a0dd6

[2021-09-21 18:24] refund-agent2 commented on #909
`68f146973d603efb438b435b0ec1a7968ec2828992746c2a28797cdfa24636a7`

[2021-09-23 04:51] xanoni commented on #908
heroes

[2021-09-25 15:56] wiz commented on #908
This is not approved for any budget allocation by the Bisq ops team

[2021-09-25 17:17] Emzy commented on #908
As team lead for ops I reject this compensation request!
There is no budget for it.
It is rejected.

[2021-09-25 17:17] #908 closed

[2021-09-25 18:24] xanoni commented on #908
Sad! Still a hero.

Life sucks sometime @bisqubutor

[2021-09-26 21:48] xanoni commented on #685
This is still a problem ... the website links to a broken monitor ....

See https://github.com/bisq-network/bisq/issues/5297#issuecomment-927376913

[2021-09-26 21:49] xanoni commented on #708
https://github.com/bisq-network/bisq/issues/5297#issuecomment-927376913

[2021-09-28 14:59] chimp1984 commented on #905
I looked into https://github.com/bisq-network/bisq/pull/5563 and in my opinion the asked amount is too high also taking into account the review effort. It is basically a copy of the TxIdTextField with removing some parts and renaming fields.

I have not looked in details into https://github.com/bisq-network/bisq/pull/5569 but 600 seems also very high to me.

[2021-09-29 08:02] ghost commented on #905
@chimp1984 It's my first compensation request and I wasn't fully aware how to charge. I mainly took into account time I've spent on these pull requests. As I'm new here I needed to spend more time that usually to become familiar with codebase etc. Companies usually paid for onboarding time. I think final compensation I'll get will be lower, because of fees and btc coloring.

[2021-09-29 22:55] chimp1984 commented on #905
Yes, I understand, the DAO structure is a new for all of us....

Yes I know, but in companies there is a hire process first and then the company invests in an employee based on that. The DAO works differently. Anyone can partizipate but we do not pay for onboarding (we did in the past and it resulted in negative experience for the DAO). The DAO pays for the delivered value to Bisq, similar like de

[2021-09-30 07:55] ghost commented on #905
@chimp1984 I see you [received](https://github.com/bisq-network/compensation/issues/870) 3000 USD for [this pull request](https://github.com/bisq-network/bisq/pull/5609) which was in fact small refactoring...

[2021-09-30 07:57] ripcurlx commented on #905
Did you look into the PR in detail and what it is actually about?

[2021-09-30 08:00] ghost commented on #905
@ripcurlx Very roughtly, but you guys motivated me to review it more precisely :)

[2021-09-30 12:35] ghost commented on #917
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|789.00|1200.00|

Total Issuance: 789.00 BSQ (equivalent to: 1200.00 USD)

[2021-09-30 12:35] MwithM commented on #917
Closed as accepted.

[2021-09-30 12:35] #917 closed, assigned to wiz

[2021-09-30 12:35] ghost commented on #915
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|131.20|200.00|
|growth|32.80|50.00|

Total Issuance: 164.00 BSQ (equivalent to: 250.00 USD)

[2021-09-30 12:35] MwithM commented on #915
Closed as accepted.

[2021-09-30 12:35] #915 closed, assigned to m52go

[2021-09-30 12:35] ghost commented on #912
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|921.00|1400.00|

Total Issuance: 921.00 BSQ (equivalent to: 1400.00 USD)

[2021-09-30 12:35] MwithM commented on #912
Closed as accepted.

[2021-09-30 12:35] #912 closed, assigned to Emzy

[2021-09-30 12:36] ghost commented on #911
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|5921.05|9000.00|

Total Issuance: 5921.05 BSQ (equivalent to: 9000.00 USD)

[2021-09-30 12:36] MwithM commented on #911
Closed as accepted.

[2021-09-30 12:36] #911 closed, assigned to nobody

[2021-09-30 12:36] ghost commented on #918
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|657.89|1000.00|

Total Issuance: 657.89 BSQ (equivalent to: 1000.00 USD)

[2021-09-30 12:36] MwithM commented on #918
Closed as accepted.

[2021-09-30 12:36] #918 closed, assigned to nobody

[2021-09-30 12:36] ghost commented on #914
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|394.73|600.00|
|support|328.95|500.00|

Total Issuance: 723.68 BSQ (equivalent to: 1100.00 USD)

[2021-09-30 12:36] MwithM commented on #914
Closed as accepted.

[2021-09-30 12:36] #914 closed, assigned to ripcurlx

[2021-09-30 12:36] ghost commented on #913
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|986.84|1500.00|
|support|328.95|500.00|

Total Issuance: 1315.79 BSQ (equivalent to: 2000.00 USD)

[2021-09-30 12:36] MwithM commented on #913
Closed as accepted.

[2021-09-30 12:36] #913 closed, assigned to ripcurlx, leo816

[2021-09-30 12:37] ghost commented on #919
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|986.81|1500.00|
|admin|32.89|50.00|

Total Issuance: 1019.70 BSQ (equivalent to: 1550.00 USD)

[2021-09-30 12:37] MwithM commented on #919
Closed as accepted.

[2021-09-30 12:37] #919 closed, assigned to nobody

[2021-09-30 12:37] ghost commented on #907
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|690.79|1050.00|

Total Issuance: 690.79 BSQ (equivalent to: 1050.00 USD)

[2021-09-30 12:37] MwithM commented on #907
Closed as accepted.

[2021-09-30 12:37] #907 closed, assigned to wiz

[2021-09-30 12:37] ghost commented on #910
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|131.58|200.00|
|support|296.05|450.00|
|admin|65.79|100.00|

Total Issuance: 493.42 BSQ (equivalent to: 750.00 USD)

[2021-09-30 12:37] MwithM commented on #910
Closed as accepted.

[2021-09-30 12:37] #910 closed, assigned to m52go, leo816

[2021-09-30 12:37] ghost commented on #904
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4953.33|7530.00|
|ops|98.67|150.00|

Total Issuance: 5052.00 BSQ (equivalent to: 7680.00 USD)

[2021-09-30 12:37] MwithM commented on #904
Closed as accepted.

[2021-09-30 12:37] #904 closed, assigned to sqrrm

[2021-09-30 12:38] ghost commented on #916
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1335.48|2030.00|
|ops|85.52|130.00|

Total Issuance: 1421.00 BSQ (equivalent to: 2160.00 USD)

[2021-09-30 12:38] MwithM commented on #916
Closed as accepted.

[2021-09-30 12:38] #916 closed, assigned to ripcurlx

[2021-09-30 12:38] ghost commented on #909
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1846.27|2806.33|

Total Issuance: 1846.27 BSQ (equivalent to: 2806.33 USD)

[2021-09-30 12:38] MwithM commented on #909
Closed as accepted.

[2021-09-30 12:38] #909 closed, assigned to leo816

[2021-09-30 12:38] ghost commented on #920
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2041.98|3103.80|

Total Issuance: 2041.45 BSQ (equivalent to: 3103.00 USD)

[2021-09-30 12:38] MwithM commented on #920
Closed as accepted.

[2021-09-30 12:38] #920 closed, assigned to ripcurlx

[2021-09-30 12:38] ghost commented on #905
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|625.00|950.00|

Total Issuance: 625.00 BSQ (equivalent to: 950.00 USD)

[2021-09-30 12:38] MwithM commented on #905
Closed as accepted.

[2021-09-30 12:38] #905 closed, assigned to ripcurlx

[2021-09-30 12:42] MwithM opened #921 "BSQ rate for Cycle 29 is 1.55 USD per BSQ"
The recommended rate to be used for compensation requests on cycle 29 is **1.55 USD/BSQ.**

![imagen](https://user-images.githubusercontent.com/50149324/135456899-92da8b24-23b7-4003-9ae3-a0df68dd1591.png)

Rate for last cycle: #906
More info about the Compensation process at https://bisq.wiki/Compensation

[2021-09-30 12:43] #906 closed, assigned to nobody

[2021-10-10 20:44] MwithM opened #922 "Cycle 29 deadline is October 17th"
The deadline for submitting compensations requests for review is October 17. More deatails at: https://github.com/bisq-network/compensation/issues

[2021-10-10 20:44] ghost commented on #922
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2021-10-10 20:46] ghost commented on #922
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2021-10-10 20:48] ghost commented on #922
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2021-10-10 20:48] ghost commented on #922
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2021-10-16 18:22] BtcContributor opened #923 "For Cycle 29"
Hi all,
seventh cycle for me!

## Summary

- **BSQ requested**: **`322.58`**
- USD requested: 500
- BSQ rate: 1.55 USD per BSQ
- Previous compensation request (if applicable): #914

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| L1 Support Agent | support | 500 | | https://github.com/bisq-network/roles/issues/64#issuecomment-944974811 ||

[2021-10-16 18:23] BtcContributor commented on #923
**TxID**: 1c416c094518d14eb0ce0ea71d86d9fe256c69179962786f4bbb4a4bb0dd85ad

[2021-10-18 19:56] cbeams opened #924 "For Cycle 29"
## Summary

- **BSQ requested**: 32.26
- USD requested: 50
- BSQ rate: [1.55](https://github.com/bisq-network/compensation/issues/921) USD per BSQ
- Previous compensation request (if applicable): #881

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 | https://github.com/bisq-network/roles/issues/18#issuecomment-946143016 |

[2021-10-19 02:50] pazza83 opened #925 "For Cycle 29"
## Summary

- **BSQ requested**: **`[1,048.3]`**
- USD requested: [1625]
- BSQ rate: [1.55 USD/BSQ] USD per BSQ as per #921
- Previous compensation request: #919

## Contributions delivered for Cycle 29

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator | *Support | 1000 | https://github.com/bisq-network/roles/issues/83#issuecomment-946316649 | This has been another b

[2021-10-19 03:27] ghost opened #926 "For Cycle 29"
## Summary

- **BSQ requested**: **`2193.55`**
- USD requested: 3400
- BSQ rate: 1.55 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/913

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
Add five Indian payment methods | dev | 750 | https://github.com/bisq-network/bisq/pull/5696 | 1

[2021-10-19 14:50] wiz opened #927 "For Cycle 29"
## Summary

* **BSQ requested**: **`4129`**
* USD requested: 6400
* BSQ rate: 1.55 USD per BSQ
* Previous compensation request (if applicable): #912

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin Node Operato

[2021-10-19 16:16] Emzy opened #928 "For Cycle 29"
## Summary

- **BSQ requested**: **`812`**
- USD requested: 1260
- BSQ rate: 1.55 USD per BSQ
- Previous compensation request (if applicable): #917

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 4* Seed node operator | ops* | 400 | bisq-network/roles#15 | 1 old node (Onion V2)

[2021-10-19 19:01] devinbileck opened #929 "For Cycle 29"
## Summary

- **BSQ requested**: **`677.42`**
- USD requested: 1050
- BSQ rate: 1.55 USD per BSQ
- Previous compensation request (if applicable): #907

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-947321674 | 3 nodes
| Seed node operator | ops* |

[2021-10-20 09:40] sqrrm opened #930 "For Cycle 29"
## Summary

- **BSQ requested**: **`232`**
- USD requested: 360
- BSQ rate: 1.55 USD per BSQ
- Previous compensation request (if applicable): #916

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Data stores | dev | 50 | https://github.com/bisq-network/bisq/pull/5720 ||
|Release and testing | dev | 130 | https://github.com/bisq-network/bisq/pull/5

[2021-10-20 18:16] ripcurlx commented on #930
As dev team lead I approve this compensation request for dev.

[2021-10-20 18:18] ripcurlx commented on #926
As dev team lead I approve this compensation request for dev.

[2021-10-20 18:19] ripcurlx commented on #928
As dev team lead I approve this compensation request for dev.

[2021-10-20 18:25] ripcurlx opened #931 "For Cycle 29"
## Summary

- **BSQ requested**: **`1284`**
- USD requested: 1991
- BSQ rate: 1.55 USD per BSQ
- Previous compensation request (if applicable): #904

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev* | 1110 | https://github.com/bisq-network/roles/issues/63#issuecomment-947927839 |  |
| Bitcoin Fullnode Operator | ops*

[2021-10-20 19:46] m52go commented on #927
This spot on the back cover of the magazine is the last component of the contract we signed with Bitcoin Magazine in 2019. As wiz mentioned, we're splitting costs for it with Mempool, just as we did for the conference itself.

For those following closely, the Miami event turned out to be much more expensive than planned, but it also turned out to be much better than expected. Mempool has taken on

[2021-10-20 19:53] MwithM opened #932 "For Cycle 29"
## Summary

- **BSQ requested**: **`387.09`**
- USD requested: 600 USD
- BSQ rate: 1.55 USD per BSQ
- Previous compensation request (if applicable): #910

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 200 | https://github.com/bisq-network/roles/issues/95#issuecomment-947975265 |  |
| Transfiex Admin | *Growth | 0 |

[2021-10-20 20:17] m52go commented on #932
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth and admin.

[2021-10-21 09:17] Emzy commented on #931
As ops team lead I approve this compensation request for ops.

[2021-10-21 09:17] Emzy commented on #930
As ops team lead I approve this compensation request for ops.

[2021-10-21 09:18] Emzy commented on #929
As ops team lead I approve this compensation request for ops.

[2021-10-21 09:20] Emzy commented on #927
As ops team lead I approve this compensation request for ops.

[2021-10-21 11:34] Emzy commented on #928
TXID: 556ef9319555c6fc51f98e27e370258407ac095dff93811ca54bc704f52c939e

[2021-10-21 16:50] refund-agent2 opened #933 "For Cycle 29"
## Summary

- **BSQ requested**: **`1037.33`**
- USD requested: 1607.86
- BSQ rate: 1.55 USD per BSQ
- Previous compensation request (if applicable): #909

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Refunds | *Support | 1607.86 | https://github.com/bisq-network/roles/issues/93#issuecomment-948789479 |  |

## Contributions in progress

[2021-10-21 17:28] devinbileck commented on #929
Tx ID babe42f8dff4dd7a2ac0f2b517d9800cc1a7aab989671a573db092cdb887a317

[2021-10-21 21:36] wiz commented on #927
5577b735a3787e00bc2ffdd41605c316e92f38dc8559e7ecde7f1f6697ff23a4

[2021-10-23 03:19] ghost commented on #926
882905856b33e08085c61f316c13620f7e31f2db7a2c976b9b500de7d5128e2d

[2021-10-23 11:06] MwithM commented on #930
Last hours to submit compensation request.

[2021-10-23 11:16] sqrrm commented on #930
@MwithM Thanks for the reminder.

Tx: 4a2bb44abcf3ed01c1a8c1ea21f1a82898974e5530a7354aaf149619a8e64e25

[2021-10-23 11:19] sqrrm commented on #931
I approve this compensation request

[2021-10-23 11:37] MwithM commented on #932
Proposal TXID: bd8133e2e7b117c50d8c0c3e5f65941133db9709c86591bf87064efd60da0216

[2021-10-23 11:42] cbeams commented on #924
proposal txid: `d6180270317ab34cb8d9aff83ee7cd788d7fb47a60d51c3f6caf7e4afaeba3f6`

[2021-10-23 12:25] cbeams commented on #926
Hey @jmacxx. I asked @MwithM to start creating actual issues around cycle deadlines so that subscribers to the compensation repository get notifications about these deadlines instead of having to diligently check in on them.

https://github.com/bisq-network/compensation/issues/922 is the first such example issue, and as you can see, it resulted in a bunch of false errors from the compensation-bot.

[2021-10-23 12:33] ghost commented on #926
@cbeams sounds good, working on it.

[2021-10-23 16:55] burningman3 opened #934 "For Cycle 29"
## Summary

- **BSQ requested**: **`[645.16]`**
- USD requested: [1000]
- BSQ rate: [1.55] USD per BSQ
- Previous compensation request (if applicable): #918

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issueco

[2021-10-23 17:11] burningman3 commented on #934
Tx ID: eb779e97283000dd081d14f0fcdea44f1d6d06c5e91e3511e8e510c8f844633a

[2021-10-23 18:02] pazza83 commented on #925
Submitted compensation request to not miss close of proposal stage. Still awaiting review from @leo816

Tx Id: 42d22611b49af9f015fceb5f4050edcaaf2abf53db090cf071a96d5104891278

[2021-10-23 18:06] leo816 commented on #923
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request.

[2021-10-23 18:06] leo816 commented on #925
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-10-23 18:07] leo816 commented on #926
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request.

[2021-10-23 18:08] leo816 commented on #932
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request.

[2021-10-23 18:08] leo816 commented on #933
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-10-23 18:08] leo816 commented on #934
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-10-23 18:19] leo816 opened #935 "For Cycle 29"
## Summary

- **BSQ requested**: **`[967.74]`**
- USD requested: [1500]
- BSQ rate: [1.55] USD per BSQ
- Previous compensation request (if applicable): #920

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-950722707 |  |
| Support Agent | Support | 500 |https

[2021-10-23 20:21] cbeams commented on #935
Not sure I understand, @leo816, why the Notes above mention different cycles. Can you clarify?

[2021-10-24 06:06] ripcurlx commented on #931
Unfortunately I was travelling and afk the last three days, so I missed the deadline to submit my CR to the DAO. I'll re-submit it in the next cycle.

[2021-10-24 11:15] MwithM commented on #931
Closed as not submitted.

[2021-10-24 11:15] #931 closed, assigned to sqrrm

[2021-10-25 08:38] MwithM commented on #933
Is 28b33fa1d7851e4c2ab641d90db668474412f230d7920937440c685e20a847bb the correct TXID?

[2021-10-25 09:36] leo816 commented on #935
Just did a quick proposal since I was traveling and that information was left from the earlier cycle. fixed.

[2021-10-25 13:56] alexej996 opened #936 "For Cycle 30"
## Summary
This is a compensation request for work done in Cycle 28.

- **BSQ requested** : **141**
- USD requested: **250**
- BSQ rate: **1.77** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/915

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bis

[2021-10-28 17:22] ripcurlx commented on #935
As dev team lead I approve this compensation request.

[2021-10-28 23:02] pazza83 commented on #935
Hi @leo816 thanks for the report.

I think support is working really well at the moment. Communication is good and most issues are quickly resolved.

The weekly support calls have been really beneficial, as have the inclusion of @jmacxx in the support team to help with all the much needed dev support.

All of the recent developments have been coordinated and lead by yourself.

I am not sure at wha

[2021-10-28 23:15] pazza83 commented on #926
Hi @jmacxx just wanted to say many thanks for getting the payment methods implemented so quickly. It is much appreciated. Hopefully it will allow for more fiat payment options for traders and also open up new markets.

Many thanks 😃

[2021-10-30 18:58] ghost commented on #928
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|773.33|1200.00|
|dev|38.67|60.00|

Total Issuance: 812.00 BSQ (equivalent to: 1260.00 USD)

[2021-10-30 18:59] MwithM commented on #928
Closed as accepted.

[2021-10-30 18:59] ghost commented on #929
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|677.42|1050.00|

Total Issuance: 677.42 BSQ (equivalent to: 1050.00 USD)

[2021-10-30 18:59] MwithM commented on #929
Closed as accepted.

[2021-10-30 18:59] #929 closed, assigned to Emzy

[2021-10-30 18:59] ghost commented on #927
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|903.22|1400.00|
|growth|3225.78|5000.00|

Total Issuance: 4129.00 BSQ (equivalent to: 6400.00 USD)

[2021-10-30 18:59] MwithM commented on #927
Closed as accepted.

[2021-10-30 18:59] #927 closed, assigned to m52go, Emzy

[2021-10-30 18:59] ghost commented on #926
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1870.97|2900.00|
|support|322.58|500.00|

Total Issuance: 2193.55 BSQ (equivalent to: 3400.00 USD)

[2021-10-30 18:59] MwithM commented on #926
Closed as accepted.

[2021-10-30 18:59] #926 closed, assigned to ripcurlx, leo816

[2021-10-30 19:00] ghost commented on #934
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|645.16|1000.00|

Total Issuance: 645.16 BSQ (equivalent to: 1000.00 USD)

[2021-10-30 19:00] MwithM commented on #934
Closed as accepted.

[2021-10-30 19:00] #934 closed, assigned to nobody

[2021-10-30 19:00] ghost commented on #932
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|129.03|200.00|
|support|193.54|300.00|
|admin|64.51|100.00|

Total Issuance: 387.09 BSQ (equivalent to: 600.00 USD)

[2021-10-30 19:00] MwithM commented on #932
Closed as accepted.

[2021-10-30 19:00] #932 closed, assigned to m52go

[2021-10-30 19:01] ghost commented on #925
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1016.04|1575.00|
|admin|32.26|50.00|

Total Issuance: 1048.30 BSQ (equivalent to: 1625.00 USD)

[2021-10-30 19:01] MwithM commented on #925
Closed as accepted.

[2021-10-30 19:01] #925 closed, assigned to leo816

[2021-10-30 19:01] ghost commented on #923
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|322.58|500.00|

Total Issuance: 322.58 BSQ (equivalent to: 500.00 USD)

[2021-10-30 19:01] MwithM commented on #923
Closed as accepted.

[2021-10-30 19:01] #923 closed, assigned to leo816

[2021-10-30 19:01] ghost commented on #930
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|148.22|230.00|
|ops|83.78|130.00|

Total Issuance: 232.00 BSQ (equivalent to: 360.00 USD)

[2021-10-30 19:01] MwithM commented on #930
Closed as accepted.

[2021-10-30 19:01] #930 closed, assigned to ripcurlx

[2021-10-30 19:02] #928 closed, assigned to ripcurlx

[2021-10-30 19:02] ghost commented on #924
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|32.26|50.00|

Total Issuance: 32.26 BSQ (equivalent to: 50.00 USD)

[2021-10-30 19:02] MwithM commented on #924
Closed as accepted.

[2021-10-30 19:02] #924 closed, assigned to m52go

[2021-10-30 19:04] MwithM commented on #935
Closed as not submitted.

[2021-10-30 19:04] #935 closed, assigned to ripcurlx

[2021-10-30 19:04] ghost commented on #933
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1037.33|1607.86|

Total Issuance: 1037.33 BSQ (equivalent to: 1607.86 USD)

[2021-10-30 19:04] MwithM commented on #933
Closed as accepted.

[2021-10-30 19:04] #933 closed, assigned to leo816

[2021-10-30 19:11] MwithM opened #937 "BSQ rate for Cycle 30 is 1.77USD per BSQ"
The recommended rate to be used for compensation requests on cycle 30 is **1.77USD/BSQ.**

![imagen](https://user-images.githubusercontent.com/50149324/139555674-c86f1101-546e-4f02-9e15-abd86e4f8111.png)

Rate for last cycle: #921
More info about the Compensation process at https://bisq.wiki/Compensation

[2021-10-30 19:17] #921 closed, assigned to nobody

[2021-10-30 19:31] #922 closed, assigned to nobody

[2021-10-31 07:54] MwithM opened #938 "Cycle 30 deadline is November 17th"
The deadline for submitting compensations requests for review is **November 17th**.

More details at: https://github.com/bisq-network/compensation/issues
Calendar: https://calendar.google.com/calendar/embed?src=adfiuiokq9jtac8t9keomc00b0%40group.calendar.google.com&ctz=Europe

[2021-11-01 14:24] ghost commented on #936
## Info
Read BSQ amount from summary: 144
Read USD amount from summary: 250
Read BSQ rate from summary: 1.77
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"growth","amount":50}
Parsed lineitem: {"team":"ops","amount":100}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 144.00 BSQ
   - Calculated total: 141.24 BSQ

[2021-11-01 14:38] alexej996 commented on #936
DAO txid: **593af91680a94570d75ca8ababc0c97bd0ee74d07b536e7d5f9b1fa7a327a968**

[2021-11-10 08:39] ripcurlx opened #939 "For Cycle 30"
## Summary

- **BSQ requested**: **`3537`**
- USD requested: 6262
- BSQ rate: 1.77 USD per BSQ
- Previous compensation request (if applicable): #904

As I missed to submit my PR in time for Cycle 29 voting (https://github.com/bisq-network/compensation/issues/931), this is a compound CR for Cycle 29 and Cycle 30.

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- |

[2021-11-15 08:51] MwithM commented on #938
2 days left for submitting compensation requests.

[2021-11-15 15:51] Emzy opened #940 "For Cycle 30"
## Summary

- **BSQ requested**: **`706`**
- USD requested: 1250
- BSQ rate: 1.77 USD per BSQ
- Previous compensation request (if applicable): #928

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 4* Seed node operator | ops* | 400 | bisq-network/roles#15 | 1 old node (Onion V2)

[2021-11-15 20:21] ghubstan opened #941 "For Cycle 30"
## Summary

- **BSQ requested**: **`4180.80`**
- USD requested: 7400
- BSQ rate: 1.77 USD per BSQ
- Previous compensation request (if applicable): #911

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Add API support to Atomic-Swap devel  (PR to @sqrrm's repo)|dev|1500|https://github.com/sqrrm/bisq-desktop/pull/4|@sqrrm will confirm my assistance

[2021-11-16 08:29] ripcurlx commented on #941
@sqrrm If you have time could you give your 👍  for @ghubstan  support in https://github.com/sqrrm/bisq-desktop/pull/4?

As dev team lead I approve the remaining tasks.

[2021-11-16 10:13] Emzy commented on #936
As ops team lead I approve this compensation request for ops.

[2021-11-16 12:23] ripcurlx commented on #940
As dev team lead I approve this compensation request.

[2021-11-16 12:55] ghost commented on #939
## Info
Read BSQ amount from summary: 3503
Read USD amount from summary: 6202
Read BSQ rate from summary: 1.77
Parsed lineitem: {"team":"dev","amount":1110}
Parsed lineitem: {"team":"dev","amount":2000}
Parsed lineitem: {"team":"ops","amount":50}
Parsed lineitem: {"team":"ops","amount":50}
Parsed lineitem: {"team":"ops","amount":25}
Parsed lineitem: {"team":"ops","amount":25}
Parsed lineitem: {"te

[2021-11-16 13:45] cbeams opened #942 "For Cycle 30"
## Summary

- **BSQ requested**: 28.25
- USD requested: 50
- BSQ rate: [1.77](https://github.com/bisq-network/compensation/issues/937) USD per BSQ
- Previous compensation request (if applicable): #924

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 | https://github.com/bisq-network/roles/issues/18#issuecomment-970294358 |

[2021-11-17 05:41] devinbileck opened #943 "For Cycle 30"
## Summary

- **BSQ requested**: **`593.22`**
- USD requested: 1050
- BSQ rate: 1.77 USD per BSQ
- Previous compensation request (if applicable): #929

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 150 | https://github.com/bisq-network/roles/issues/67#issuecomment-971209586 | 3 nodes
| Seed node operator | ops* |

[2021-11-17 08:23] mrosseel opened #944 "For Cycle 30"
## Summary

- **BSQ requested**: **`1723`**
- USD requested: 3050
- BSQ rate: 1.77 USD per BSQ
- Previous compensation request (if applicable):  https://github.com/bisq-network/compensation/issues/691

This is a compensation request for cycle 19 - 25 so 7 cycles !

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Pricenode operator | ops* | 300 |

[2021-11-17 08:23] ghost commented on #944
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
Unknown team specified: first
Invalid amount specified: item
Tableformat: request lineitem #1 did not pass validation.
No compensation lineitems found.

[2021-11-17 09:30] Emzy commented on #939
As ops team lead I approve this compensation request for ops.

[2021-11-17 09:30] Emzy commented on #943
As ops team lead I approve this compensation request for ops.

[2021-11-17 09:44] ghost commented on #944
## Info
Read BSQ amount from summary: 3050
Read USD amount from summary: 5398.5
Read BSQ rate from summary: 1.77
Parsed lineitem: {"team":"ops","amount":300}
Parsed lineitem: {"team":"ops","amount":1750}
Parsed lineitem: {"team":"ops","amount":700}
Parsed lineitem: {"team":"ops","amount":300}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 5398.50 USD
   - Cal