[2020-10-05 06:45] #671 closed, assigned to sqrrm

[2020-10-05 06:45] ghost commented on #670
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|496.21|332.46|

Total Issuance: 496.21 BSQ (equivalent to: 332.46 USD)

[2020-10-05 06:46] MwithM commented on #670
Closed as accepted

[2020-10-05 06:46] #670 closed, assigned to m52go, MwithM

[2020-10-05 06:46] ghost commented on #679
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2385.36|1598.19|

Total Issuance: 2385.36 BSQ (equivalent to: 1598.19 USD)

[2020-10-05 06:46] MwithM commented on #679
Closed as accepted

[2020-10-05 06:46] #679 closed, assigned to leo816

[2020-10-05 06:46] ghost commented on #680
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1000.00|670.00|

Total Issuance: 1000.00 BSQ (equivalent to: 670.00 USD)

[2020-10-05 06:46] MwithM commented on #680
Closed as accepted

[2020-10-05 06:46] #680 closed, assigned to leo816

[2020-10-05 06:47] ghost commented on #657
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|298.40|200.00|
|growth|74.60|50.00|

Total Issuance: 373.00 BSQ (equivalent to: 250.00 USD)

[2020-10-05 06:47] MwithM commented on #657
Closed as accepted

[2020-10-05 06:47] #657 closed, assigned to nobody

[2020-10-05 06:47] ghost commented on #674
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1492.00|1000.00|

Total Issuance: 1492.00 BSQ (equivalent to: 1000.00 USD)

[2020-10-05 06:47] MwithM commented on #674
Closed as accepted

[2020-10-05 06:47] #674 closed, assigned to leo816

[2020-10-05 06:48] ghost commented on #659
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|746.26|500.00|

Total Issuance: 746.26 BSQ (equivalent to: 500.00 USD)

[2020-10-05 06:48] MwithM commented on #659
Closed as accepted

[2020-10-05 06:48] #659 closed, assigned to leo816

[2020-10-05 06:49] ghost commented on #660
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|74.62|50.00|

Total Issuance: 74.62 BSQ (equivalent to: 50.00 USD)

[2020-10-05 06:49] MwithM commented on #660
Closed as accepted

[2020-10-05 06:49] #660 closed, assigned to m52go

[2020-10-05 06:49] ghost commented on #658
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|447.76|300.00|

Total Issuance: 447.76 BSQ (equivalent to: 300.00 USD)

[2020-10-05 06:49] MwithM commented on #658
Closed as accepted

[2020-10-05 06:49] #658 closed, assigned to ripcurlx

[2020-10-05 06:50] ghost commented on #682
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|895.50|600.00|
|ops|4776.00|3200.00|
|support|1492.50|1000.00|

Total Issuance: 7164.00 BSQ (equivalent to: 4800.00 USD)

[2020-10-05 06:50] MwithM commented on #682
Closed as accepted

[2020-10-05 06:50] #682 closed, assigned to ripcurlx, leo816

[2020-10-05 06:50] ghost commented on #676
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|3357.88|2250.00|
|support|634.27|425.00|
|ops|223.86|150.00|

Total Issuance: 4216.00 BSQ (equivalent to: 2825.00 USD)

[2020-10-05 06:50] MwithM commented on #676
Closed as accepted

[2020-10-05 06:50] #676 closed, assigned to leo816

[2020-10-05 06:50] ghost commented on #655
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|597.33|400.00|
|ops|298.67|200.00|

Total Issuance: 896.00 BSQ (equivalent to: 600.00 USD)

[2020-10-05 06:50] MwithM commented on #655
Closed as accepted

[2020-10-05 06:50] #655 closed, assigned to ripcurlx, wiz

[2020-10-05 06:56] cbeams commented on #668
Attn: @chimp1984, @sqrrm

@MwithM [wrote](https://github.com/bisq-network/compensation/issues/668#issuecomment-703430405):

This seems very unusual. I've never had a request rejected before; this appears to be the only request rejected during this cycle; and it got unanimous downvotes! (I was unable to add my own upvote because I missed the voting deadline)

<img width="1001" alt="image" src="http

[2020-10-05 07:03] MwithM opened #683 "BSQ rate for Cycle 18 is 0.68 USD per 1 BSQ"
The recommended rate to be used for compensation requests on cycle 18 is 0.68USD/BSQ. The 90 day weighted volume average at the beginning of the cycle has been used.

![imagen](https://user-images.githubusercontent.com/50149324/95049140-7bda9000-06e9-11eb-8fab-ce4b53a373ff.png)

More info about the Compensation process at https://bisq.wiki/Compensation
Rate for last cycle: #656

[2020-10-05 07:03] ghost commented on #683
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2020-10-05 07:03] #656 closed, assigned to nobody

[2020-10-05 11:04] sqrrm commented on #668
@cbeams I suspect your proposal didn't propagate before the vote. I didn't see it for example. I'm a bit fuzzy on exactly how the votes are counted, but I think that since your proposal wasn't part of the majority view of proposals it will count all votes that were part of the majority view as rejecting all non majority view proposals.

It looks like I didn't have it on Oct 1 and received it on Oc

[2020-10-05 15:54] cbeams commented on #668
Thanks, @sqrrm. Relevant bits from my log:

`Sep-24 09:48:14.689 [JavaFX Application Thread] INFO  b.c.d.g.p.MyProposalListService: Proposal tx has been published. TxId=cf1216d60bb0639a95a4604b038e15dd500cb576ceb38f508a89379bb3344cbe
`

`Oct-04 08:56:18.426 [JavaFX Application Thread] INFO  b.c.d.g.b.BallotListService: We create a new ballot with a proposal and add it to our list. Vote is null at

[2020-10-05 15:58] sqrrm commented on #668
The tx obviously broadcast properly since it was confirmed on the 25th, but the p2p data probably didn't get distributed until the 4th which was too late. Anything more from the 24th about the p2p data?

[2020-10-05 16:08] cbeams commented on #668
Just these lines, perhaps:

`Sep-24 09:48:14.612 [JavaFX Application Thread] INFO  b.c.d.g.p.ProposalService: We received a TempProposalPayload and store it to our protectedStoreList. proposalTxId=cf1216d60bb0639a95a4604b038e15dd500cb576ceb38f508a89379bb3344cbe`

`Sep-24 09:48:14.618 [JavaFX Application Thread] INFO  b.c.d.g.p.MyProposalListService: TempProposalPayload has been added to P2P networ

[2020-10-06 01:39] chimp1984 commented on #668
@cbeams can you send me the full logs (all 10 files). Maybe its related to the late BSQ tx from last cycle? I assume as well that the proposal data did not got distributed in time or have been invalid for yet unknown reasons.

[2020-10-06 02:32] chimp1984 commented on #668
Seems we have one more irregular tx. The others have been late proposals. Likely thats the case here as well... investigating...
<img width="280" alt="Screen Shot 2020-10-05 at 21 24 52" src="https://user-images.githubusercontent.com/54558767/95152193-1ec6f480-0752-11eb-9c2d-c7a0e0add76f.png">

[2020-10-06 02:58] chimp1984 commented on #668
Added breakpoint there and got your tx. So seems that the proposal data did not arriv ein time. If you quite the app quickly after proposal creation that can happen. Have not investigated further so far... but seems likely thats the issue.
<img width="1139" alt="Screen Shot 2020-10-05 at 21 55 50" src="https://user-images.githubusercontent.com/54558767/95153697-ad894080-0755-11eb-9245-1d40116f858b

[2020-10-06 06:18] cbeams commented on #668
Sure. They're available at keybase://private/chimp1984%2Ccbeams/compensation-668-logs.tgz

[2020-10-12 15:04] alexej996 opened #684 "For Cycle 18"
## Summary
This is a compensation request for work done in Cycle 16.

- **BSQ requested** : **367**
- USD requested: **250**
- BSQ rate: **0.68** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/657

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bis

[2020-10-13 01:02] alexej996 commented on #684
DAO txid: **0c7c4b7cb871f261ebf505bb92eed446e0e9cceee98a9fcf7a4c29d8c281a432**

[2020-10-20 13:44] freimair opened #685 "For Cycle 18"
## Summary

- **BSQ requested**: **`3603`**
- USD requested: 2450
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #655

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Monitoring Operator/Maintainer | ops* | 200 | https://github.com/bisq-network/roles/issues/10#issuecomment-712851330 | |
| Establish network usage met

[2020-10-21 03:44] chimp1984 commented on #685
The 3200 USD for bisq-network/projects#25 seems a bit high to me. Consider also the lost effort which went into your implementation from various reviewers. For not merged code there is usually no compensation. As the concept was good and was used as base for the final implementation as well as your code base (though that got transformed to a huge extent) I agree that we should compensate your effo

[2020-10-21 04:49] ChanoSan opened #686 "For Cycle 18"
## Summary

- **BSQ requested**: **`102.94`**
- USD requested: 70
- BSQ rate: 0.68 USD per BSQ as in #683
- Previous compensation request (if applicable): #673

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Japanese Translator | Growth | 70 | image at bottom | bisq-desktop only |

## Contributions in progress

1000 words *0.07 = 70 (rounded dow

[2020-10-21 18:33] oscarguindzberg opened #687 "For Cycle 18"
## Summary

- **BSQ requested**: **`14705.88`**
- USD requested: 10000
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #662

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Segwit for bisq btc wallet | dev | 10000 | https://github.com/bisq-network/bisq/pull/4568 | |

Context:
https://github.com/bisq-network/projects/

[2020-10-22 15:12] ghubstan opened #688 "For Cycle 18"
## Summary

- **BSQ requested**: **`11029.41`**
- USD requested: 7500
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #658

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Delete redundant core.api.StatusCheck | dev | 0 | https://github.com/bisq-network/bisq/pull/4606 | merged |
| Change 'createoffer' api method retu

[2020-10-22 19:01] RefundAgent opened #689 "For Cycle 18"
## Summary
Refund Agent compensation October 22.

30 cases handled , 50 USD each. $1500.

1.4163 BTC has been paid out giving an interest of 0.014163 BTC = $185

In total $1685 or 2477.94 BSQ.

- **BSQ requested**: **`2477.94`**
- USD requested: 1685
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #679

## Contributions delivered

| Title | Team | USD | Link | Notes |

[2020-10-22 23:38] Bayernatoor opened #690 "For Cycle 18"
## Summary

- **BSQ requested**: **`[735.29]`**
- USD requested: [500]
- BSQ rate: [.68] USD per BSQ
- Previous compensation request (if applicable): 659

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Support Agent | support* | 500 | https://github.com/bisq-network/roles/issues/64#issuecomment-714818189 | here |

## Contributions in progress
|

[2020-10-23 07:04] mrosseel opened #691 "For Cycle 18"
## Summary

- **BSQ requested**: **`514`**
- USD requested: 350
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #638

## Contributions delivered

| Title                         | Team | USD    | Link  | Notes |
| ---                           | --- | ---     | ---   | ---   |
| 1x pricenode Operator            | ops* | 50      | [bisq-network/roles#14](https://github

[2020-10-23 09:28] cd2357 opened #692 "For Cycle 18"
## Summary

- **BSQ requested**: **`1470.58`**
- USD requested: 1000 USD
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #666

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Update `tor-binary` build process to allow tor binary hash verification |  |  |  |  `notes-1` |
| Update `tor-binary` and `netlayer` versions t

[2020-10-23 10:48] sqrrm opened #693 "For Cycle 18"
## Summary

- **BSQ requested**: **`4544`**
- USD requested: 3090
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #667

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
||||https://github.com/bisq-network/bisq/pull/4549 | Small reviews
||||https://github.com/bisq-network/bisq/pull/4552
||||https://github.com/bisq-networ

[2020-10-23 13:14] cbeams commented on #668
Heads up: I'm putting together my compensation request for Cycle 18 now, and I will include the amount requested in this compensation request there.

[2020-10-23 13:35] cbeams opened #694 "For Cycle 18"
## Summary

- **BSQ requested**: 147.06
- USD requested: 100
- BSQ rate: [0.68](https://github.com/bisq-network/compensation/issues/683) USD per BSQ
- Previous compensation request (if applicable): #668

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 | https://github.com/bisq-network/roles/issues/18#issuecomment-715346620

[2020-10-23 13:40] ghost commented on #694
## Info
Read BSQ amount from summary: 100
Read USD amount from summary: 147.06
Read BSQ rate from summary: 0.68
Parsed lineitem: {"team":"admin","amount":25}
Parsed lineitem: {"team":"admin","amount":25}
Parsed lineitem: {"team":"admin","amount":50}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 147.06 USD
   - Calculated total: 100.00 USD

ERROR: Total BSQ d

[2020-10-23 13:43] cbeams commented on #694
Please approve, @m52go.

[2020-10-23 15:13] MwithM opened #695 "For Cycle 18"
## Summary

- **BSQ requested**: **`1727.9`**
- USD requested: 1175
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #661

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager | *Growth | 475 | https://github.com/bisq-network/roles/issues/95#issuecomment-715399265 |  |
| Transifex Admin | *Growth | 25 | h

[2020-10-23 15:13] ghost commented on #695
## Info
Parsed lineitem: {"team":"growth","amount":475}
Parsed lineitem: {"team":"growth","amount":25}

## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section

[2020-10-23 15:49] ghost commented on #695
## Info
Parsed lineitem: {"team":"growth","amount":475}
Parsed lineitem: {"team":"growth","amount":25}

## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section

[2020-10-23 15:59] wdljt opened #696 "For Cycle 18"
## Summary

- **BSQ requested**: **`[676.47]`**
- USD requested: [460]
- BSQ rate: [0.68] USD per BSQ
- Previous compensation request (if applicable): #670

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq desktop in Simplified Chinese | growth | 150 | https://github.com/bisq-network/roles/issues/20 | 3333 words *0.07USD=233.31 >150 USD budge

[2020-10-23 16:09] Emzy opened #697 "For cycle 18"
## Summary

- **BSQ requested**: **`2058`**
- USD requested: 1400
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #677

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 5* Seed node operator | ops* | 500 | bisq-network/roles#15 |  |
| Pricenode opera

[2020-10-23 17:23] Bisq-knight opened #698 "For Cycle 18"
## Summary

- **BSQ requested**: **`1470`**
- USD requested: 1000
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #674

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediation | Support | 1000 | [Roles report Cycle 18](https://github.com/bisq-network/roles/issues/83#issuecomment-715471022) | Cycle 18 |

## Contribu

[2020-10-23 19:51] devinbileck opened #699 "For Cycle 18"
## Summary

- **BSQ requested**: **`1617.65`**
- USD requested: 1100
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #665

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 100 | https://github.com/bisq-network/roles/issues/67#issuecomment-715574179 | 2 nodes
| Seed node operator | ops* |

[2020-10-23 21:08] oscarguindzberg commented on #687
This compensation proposal is subject to the terms of DAO proposal 247 https://github.com/bisq-network/proposals/issues/247 and will be paid from the special BTC multisig escrow to @oscarguindzberg as follows, pending DAO approval in Cycle 18 voting:

USD: 10000
BSQ: 10000 / .68 = 14705.88 BSQ
BTC: 14705.88 * 0.00006239 = 0.9175, minus 0.01470588 BTC for comp req = 0.90279412 BTC net to oscar
Note

[2020-10-23 22:05] ghost opened #700 "For Cycle 18"
## Summary

- **BSQ requested**: **`220.59`**
- USD requested: 150
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/663

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Display the calculated security deposit at order entry | dev | 100 | https://github.com/bisq-net

[2020-10-23 22:18] burningman3 opened #701 "For Cycle 18"
## Summary

- **BSQ requested**: **`[1470.59]`**
- USD requested: [1000]
- BSQ rate: [0.68] USD per BSQ
- Previous compensation request (if applicable): #680

After feedback, I now ask for 1000 USD per month for performing this role. This relates to the bond, personal risk and the expected amount of work correlating to bisq activity.

## Contributions delivered

| Title | Team | USD | Link | Notes

[2020-10-24 00:31] m52go opened #702 "For Cycle 18"
## Summary

- **BSQ requested**: **`2647`**
- USD requested: 1800
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #676

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Trade protocol PR text review | dev | 50 | https://github.com/bisq-network/bisq/pull/4566/files/0258205211f76133063141a8e61d0cca4bd1d843 | |
| Create

[2020-10-24 01:35] chimp1984 commented on #700
Why do you not charge anything for https://github.com/bisq-network/bisq/pull/4560? Even if it might have been a small fix it was important and not that trivial to find. I think you should get compensated for that!

[2020-10-24 01:36] chimp1984 commented on #700
Also https://github.com/bisq-network/bisq/pull/4637 is merged and up for compensation ;-)

[2020-10-24 02:49] luisantoniocrag opened #703 "For Cycle 18"
## Summary

- **BSQ requested**: **`284.9`**
- USD requested: 193.75
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #582

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Spanish Translator #Website |Growth|150| See below| --- |
| Spanish Translator  #Desktop |Growth|43.75| See below| --- |

## Contributions in progr

[2020-10-24 02:51] ghost commented on #700
Thanks, appreciate your support & advice  @chimp1984.  I've adjusted to charge for https://github.com/bisq-network/bisq/pull/4560 and will save https://github.com/bisq-network/bisq/pull/4637 until included in the next release.  :+1:

[2020-10-24 02:51] ghost commented on #703
## Info
Read BSQ amount from summary: 458.8
Read USD amount from summary: 312
Read BSQ rate from summary: 0.68

## Errors
Unknown team specified: ---
Tableformat: request lineitem #1 did not pass validation.
No compensation lineitems found.

[2020-10-24 05:28] wiz commented on #687
@oscarguindzberg regarding the 30 days average price for BSQ/BTC, recently it seems there were some very high priced BSQ trades that moved the average BSQ/BTC rate much higher:

<img width="318" alt="Screen Shot 2020-10-24 at 14 08 33" src="https://user-images.githubusercontent.com/232186/97068715-20733200-1605-11eb-813c-746176ac6a58.png">

considering that these outlier trades are obviously manip

[2020-10-24 05:41] wiz commented on #687
Alternatively I made another proposal how to calculate the "fair market price" of BSQ: https://github.com/bisq-network/proposals/issues/269

[2020-10-24 08:41] ripcurlx opened #704 "For Cycle 18"
## Summary

- **BSQ requested**: **`4808`**
- USD requested: 3270
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #671

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev | 1200 | https://github.com/bisq-network/roles/issues/63#issuecomment-715882579 |  |
| Bitcoin Fullnode Operator| ops |

[2020-10-24 09:14] ripcurlx commented on #688
As I haven't reviewed this PRs: @sqrrm and @chimp1984 could you please provide your feedback on the requested amounts? Thanks!

[2020-10-24 09:16] ripcurlx commented on #693
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request.

[2020-10-24 09:17] ripcurlx commented on #700
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-10-24 09:18] ripcurlx commented on #697
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2020-10-24 09:19] ripcurlx commented on #702
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2020-10-24 09:21] ripcurlx commented on #685
@freimair Could you please respond to this comment as I haven't reviewed the PR in discussion? Thanks!

[2020-10-24 10:17] sqrrm commented on #688
I approve of this CR.

[2020-10-24 10:19] sqrrm commented on #704
I approve of this CR.

[2020-10-24 12:17] ghost commented on #692
## Info
Read BSQ amount from summary: NaN
Read USD amount from summary: NaN
Read BSQ rate from summary: 0.68
Parsed lineitem: {"team":"dev","amount":1000}

## Errors
Unknown team specified: ---
Invalid amount specified: ---:
Tableformat: request lineitem #1 did not pass validation.
Unknown team specified:
Tableformat: request lineitem #2 did not pass validation.
Unknown team specified:
Tableformat

[2020-10-24 12:19] ghost commented on #692
## Info
Read BSQ amount from summary: 1470.58
Read USD amount from summary: 1000
Read BSQ rate from summary: 0.68
Parsed lineitem: {"team":"dev","amount":1000}

## Errors
Unknown team specified: ---
Invalid amount specified: ---:
Tableformat: request lineitem #1 did not pass validation.
Unknown team specified:
Tableformat: request lineitem #2 did not pass validation.
Unknown team specified:
Tablef

[2020-10-24 12:21] ghost commented on #692
## Info
Read BSQ amount from summary: 1470.58
Read USD amount from summary: 1000
Read BSQ rate from summary: 0.68
Parsed lineitem: {"team":"dev","amount":950}
Parsed lineitem: {"team":"dev","amount":50}
Parsed lineitem: {"team":"dev","amount":1000}

## Errors
Unknown team specified: ---
Invalid amount specified: ---:
Tableformat: request lineitem #1 did not pass validation.
ERROR: Total USD does n

[2020-10-24 12:22] ghost commented on #692
## Info
Read BSQ amount from summary: 1470.58
Read USD amount from summary: 1000
Read BSQ rate from summary: 0.68
Parsed lineitem: {"team":"dev","amount":1000}

## Errors
Unknown team specified: ---
Invalid amount specified: ---:
Tableformat: request lineitem #1 did not pass validation.

[2020-10-24 14:12] leo816 commented on #690
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-10-24 14:13] leo816 commented on #695
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-10-24 14:15] leo816 commented on #698
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-10-24 15:09] Bayernatoor commented on #690
TXID: d45b2094da0276002de5cd9f3704544289ff8bb99459b1e1c9a549ad29efdd48

[2020-10-24 15:42] m52go commented on #694
[Approved](https://bisq.wiki/Compensation#Team_Lead)—please submit to the DAO and post txid here.

[2020-10-24 15:44] m52go commented on #695
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth and admin :+1:

[2020-10-24 15:44] m52go commented on #696
[Approved](https://bisq.wiki/Compensation#Team_Lead)—please submit to the DAO and post txid here.

[2020-10-24 15:45] m52go commented on #686
[Approved](https://bisq.wiki/Compensation#Team_Lead)—please submit to the DAO and post txid here.

[2020-10-24 15:45] m52go commented on #684
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth :+1:

[2020-10-24 15:46] m52go commented on #703
This looks like a rather big request for translations...I thought Spanish translations were already done for the most part.

What translations does this request cover?

[2020-10-24 16:28] ghost commented on #703
## Info
Read BSQ amount from summary: 294.11
Read USD amount from summary: 200
Read BSQ rate from summary: 0.68
Parsed lineitem: {"team":"growth","amount":312}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 200.00 USD
   - Calculated total: 312.00 USD

[2020-10-24 16:30] luisantoniocrag commented on #703
@m52go
ohhh man i'm sorry. I was wrong in the number of words translated. I have already corrected and added more detail.

I also lowered the amount to required. Please let me know any other clarification or doubt.

[2020-10-24 16:58] chimp1984 commented on #688
I have not reviewed that much, but what I had was all satisfying.

[2020-10-24 22:14] leo816 opened #705 "For Cycle 18"
## Summary

- **BSQ requested**: **`3011`**
- USD requested: 2048
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): #651

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-716062175 |  |
| L1 Support Agent | Support | 500 |https://gi

[2020-10-25 02:52] ghost commented on #700
ebe6a5a7e31e9c50d38488f69cd4777ebb8ae5d712bb355b6add525b116b5034

[2020-10-25 08:34] MwithM commented on #703
![imagen](https://user-images.githubusercontent.com/50149324/97102239-29ffa700-16a4-11eb-9dff-c171cd102c97.png)
Although word count is 3385x0.07=237 USD for website translation, [budget](https://github.com/bisq-network/roles/issues/20#issuecomment-704895185) was 150USD because many strings were already translated and just needed to use the suggested translation. 150USD is a rough estimate, knowing

[2020-10-25 08:48] cbeams commented on #694
`5deb93a4d4228f1907ab86a03eee16c727533cb99a85207a7507fff6d47afb51`

[2020-10-25 11:10] wiz commented on #699
Approved for ops

[2020-10-25 11:10] wiz commented on #697
Approved for ops

[2020-10-25 11:11] wiz commented on #693
Approved for ops

[2020-10-25 11:13] wiz commented on #691
Approved for ops

[2020-10-25 11:16] Emzy commented on #697
TXID: 1241ea546cd9b857eef1e5e68e95e27037e54c7b4c2fa4698623c7cf47aa7e20

[2020-10-25 11:49] MwithM commented on #696
This looks good to me, if @m52go agrees, you can submit this to DAO and post resulting TXID here.

[2020-10-25 11:52] MwithM commented on #686
Looks good to me, let's see if for next release we can have all strings finished.
You can submit the compensation request to the DAO and post here the resulting TXID, thanks.

[2020-10-25 11:57] MwithM commented on #705
Is this  proposal still WIP or you forgot changing the title?

[2020-10-25 12:01] MwithM commented on #695
TXID: bdfe89bb5a342fded9e071d6e030014e3040310e8f780d8de48242d7d016a112

[2020-10-25 14:28] ChanoSan commented on #686
TXID `0abb4b51089a88bfaf4149d86ffd990ba6fffb85cf6ba3747f1af3923dcd0461`

[2020-10-25 14:47] luisantoniocrag commented on #703
Yes @MwithM Thanks for reviewing this issue, I update the amount and description.

[2020-10-25 16:41] leo816 commented on #689
Taking into account the approved paid per case [proposal](https://github.com/bisq-network/proposals/issues/222) my [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-10-25 21:18] chimp1984 commented on #687
0.90279412 BTC is 11,774 USD according to:
https://www.google.com/search?client=firefox-b-d&ei=4-qVX6ufFqSx5wKhuK6oCg&q=0.90279412+BTC+in+usd&oq=0.90279412+BTC+in+usd

The BSQ rate should cancel itself out from my understanding (not knowing the details of the contract).

[2020-10-25 22:40] sqrrm commented on #687
The payout to @oscarguindzberg is denominated in USD. The exchange rate should in my opinion be the Bisq average from our price nodes at the time of payout. Another source could be used, but I think that doesn't make sense since we have one that's used as the accepted USD/BTC rate for all other usages within Bisq.

[2020-10-25 23:34] chimp1984 commented on #687
I just looked at the last comp request https://github.com/bisq-network/compensation/issues/662 and the same calculation was done which resulted in about 1500 USD loss due the BSQ volatility. I think we have to fix that the calculation is not adding BSQ volatility and just convert the USD to BTC and replay the loss @oscarguindzberg suffered at last cycle.

[2020-10-26 01:16] wiz commented on #687
if you want to be the guarantor and deposit 4 BTC in the multisig escrow, we can make a new deal with oscar using whatever terms you want, otherwise right now i am just mediating the terms agreed between the parties that are defined in https://github.com/bisq-network/proposals/issues/247

[2020-10-26 02:50] chimp1984 commented on #687
Ah ok. I have not read the initial proposal before...

So after doing a few more calculations I think the problem is that we have both the USD/BTC volatility as well as the BTC/BSQ volatility as part of the model and we apply the 30 or 90 days average on both BSQ and BTC.

The calculation with 30 days average and excluded outliers (1% threshold - see https://github.com/bisq-network/bisq/pull/4706)

[2020-10-26 08:01] ripcurlx commented on #692
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) for dev I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-10-26 08:04] ripcurlx commented on #705
@leo816 ☝️

[2020-10-26 08:25] cd2357 commented on #692
Tx ID: cf7fe4e298fdd9bc3010a8b033a5dd8bfde9c6658faa0d5475ab97e76a5d27ad

[2020-10-26 09:12] ghost commented on #705
## Info
Read BSQ amount from summary: 3456
Read USD amount from summary: 2316
Read BSQ rate from summary: 0.67
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":548}
Parsed lineitem: {"team":"support","amount":0}

## Errors
Incorrect BSQ rate specified: 0.67, expected: 0.68
ERROR: Total USD does not match

[2020-10-26 09:15] leo816 commented on #705
Was just waiting for 2 users to provide the correct btc address in order to make the fee reimbursement payout correctly

[2020-10-26 10:03] ripcurlx commented on #704
TXID: `c1a9f2be8481880de99cb095fd8a733fe1c1e28a21d3809046d33c73a2b807f3`

[2020-10-26 10:23] MwithM commented on #703
Please separate website (150USD) and desktop (43.75USD) tasks.

[2020-10-26 10:26] MwithM commented on #704
I assume ops tasks are previously approved and OK.

[2020-10-26 12:41] sqrrm commented on #704
@wiz Would be good to get your approval of the ops on this CR.

[2020-10-26 12:59] mrosseel commented on #691
txid: 6b00fad96fa506d266beefdbce88564738177427c560653e43f85c6c196ad016

[2020-10-26 14:28] oscarguindzberg commented on #687
I agree to use the BSQ/BTC rate suggested by @chimp1984.

This is the updated calculation:

USD: 10000
BSQ: 10000 / .68 = 14705.88 BSQ
BTC: 14705.88 * 0.00005652 = 0,83117633, minus 0,01470588 BTC for comp req = 0,81647045 BTC net to oscar

[2020-10-26 15:29] ghost commented on #703
## Info
Read BSQ amount from summary: 284.9
Read USD amount from summary: 193.75
Read BSQ rate from summary: 0.68
Parsed lineitem: {"team":"growth","amount":150}
Parsed lineitem: {"team":"growth","amount":193.75}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 193.75 USD
   - Calculated total: 343.75 USD

[2020-10-26 21:27] devinbileck commented on #699
Tx ID 7baee69faa8dea1e23f26a4483ab9f4cc81ae252a82139aca95e99a88dee030a

[2020-10-26 21:47] Bisq-knight commented on #698
tx id
166fa3eb822b45358d323f7a7b2f22728f2d1d0a9e76e0293c59f80310dbdf37

[2020-10-27 18:53] ripcurlx commented on #687
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request.

[2020-10-27 23:34] m52go commented on #702
`54b8af6abe726d15a51d81e5214dfa14b06297bb2a739f3da2e8507ce72ba7d6`

[2020-10-28 07:20] freimair commented on #685
I disagree. Yes, coding style changed a lot, yes, the "version" information has its own protocol field now, and yes, stuff only applies to TradeStatistics now. But overall, the business logic did not change too much and I could have made these changes with very little efforts based on my ready-to-ship PR. However, the project was defined as is half a year ago (by a group of people) I was not aware

[2020-10-28 09:23] sqrrm commented on #693
Tx: eb7a59c22112daa5e9f38e850bc27f725f9a008ecd8ec36dc88b1f3b1840ef46

[2020-10-28 09:44] ripcurlx commented on #688
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-10-28 13:53] ghubstan commented on #688
`6a80e8b617fd472f034d6ca9c2b94d40434bfc8f8bb633364aa181c37110a81f`

[2020-10-28 13:59] chimp1984 commented on #685
We both have the right to disagree. So will I.

[2020-10-29 09:06] robkaandorp opened #706 "For Cycle 18"
## Summary

- **BSQ requested**: **`73.53`**
- USD requested: 50
- BSQ rate: 0.68 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/664

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BTC Node operator | ops* | 50 | https://github.com/bisq-network/proposals/issues/189 | I had some do

[2020-10-29 09:08] robkaandorp commented on #706
DAO txid: 45a8c0815834fdaeacbecc9d6664f62fc74f9583fc15c3c16034c54490cb791c

[2020-10-29 09:09] MwithM commented on #706
Deadline for submitting this for review ended 6 days ago. https://github.com/orgs/bisq-network/teams/dao/discussions/18

[2020-10-29 09:13] freimair commented on #685
I understand that your vote will make my compensation request fail if I do not lower the amount for the project in question, so I will include that part in my next compensation request. Maybe you care about naming an amount you are comfortable with?

[2020-10-29 09:17] ripcurlx commented on #685
Based on the changes mentioned in https://github.com/bisq-network/compensation/issues/685#issuecomment-718518285 as stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev now.

[2020-10-29 09:20] freimair commented on #685
@wiz can I have your two cents here as well?

[2020-10-29 16:12] chimp1984 commented on #685
@freimair I think 50% of the initial request amount for that project is justified.

[2020-10-29 21:49] luisantoniocrag commented on #703
Proposal ID: b59e843f8f0b93c35dec2cd387f4fe5d7bfb6612333a4f19195e6cc17977f1f0

[2020-10-29 22:51] burningman3 commented on #701
Tx ID: e13bfcb63c7b6a8188338f7e3271bebe743ed50430c390996561d4a18dd75fdf

[2020-10-30 01:38] wiz commented on #704
yeah it's approved

[2020-10-30 01:38] wiz commented on #702
Approved for ops

[2020-10-30 01:42] wiz commented on #685
It's fine but I thought @emzy was taking over the Bisq monitor since you resigned? Are you guys still coordinating that?

[2020-10-30 10:26] MwithM commented on #701
@leo816 This is still waiting for review.

[2020-10-30 10:52] leo816 commented on #701
I approve this request, thank you for changing to usd

[2020-10-30 12:26] leo816 commented on #705
Proposal tx id: 2793176f9c42b4204d7f49cb135e56b9792441fb902fd4eed29532e312eaac57

[2020-10-30 12:42] RefundAgent commented on #689
Proposal txID: 77722*****************************bdcaa96

[2020-10-30 17:14] freimair commented on #685
b3d5225b03c0e1477934e08cf19bf4f30a03d495eb5d6e06ecec7fe67c8120bc

[2020-10-31 16:19] chimp1984 commented on #685
@freimair Can you please provide @emzy the necessary information/data for the monitor setup (grafana config,...). Please check in all the data required to get a running monitor into a repo (can you yours) so its easier to share and transparent. I consider that as part of the monitor project the DAO has paid for and expect that the handover works without much hassle. Thanks in advance.

[2020-11-02 08:47] ripcurlx commented on #696
@m52go ☝️
@wdljt Please post the TXID here as there is a CR submitted to the DAO for voting already.

[2020-11-02 08:53] ripcurlx commented on #687
@oscarguindzberg Can you please post your TXID for this CR? Thanks!

[2020-11-02 08:54] ripcurlx commented on #705
As stand in [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request.

[2020-11-02 09:44] ripcurlx commented on #684
@wiz Still missing the :+1:  for ops ☝️

[2020-11-02 12:54] m52go commented on #696
Sorry, [approved](https://bisq.wiki/Compensation#Team_Lead) 👍

[2020-11-02 13:31] oscarguindzberg commented on #687
0e589f7d3894c40c50eb32b00ed5c8789b6122ad2dded0e3042456b3216af0c1

[2020-11-02 17:37] chimp1984 commented on #696
@m52go Do we have any Chineses traders at all? I fear this is not a good investment as long there is no market.

[2020-11-02 17:44] m52go commented on #696
We're going to start another effort.

[2020-11-03 13:16] cbeams commented on #706
Downvoted because of the submission timing issue mentioned above and because the proposal was in any case never approved by a team lead. Should be no problem to re-submit for Cycle 19 (just include the amount in your Cycle 19 report and link back to this discussion).

[2020-11-03 13:26] wiz commented on #706
@cbeams Please see this note on the compensation approval for ops team we did a while back: https://bisq.wiki/Compensation#Incorporate_review_feedback_for_your_request

Also I think it would be a bit harsh to reject Rob's compensation proposal this cycle just to make him re-submit it next month when you consider it's only for $50 and probably cost him over $10 in on-chain fees to create it...

[2020-11-03 13:28] wiz commented on #706
In any case, this is approved for ops team

[2020-11-03 13:29] cbeams commented on #706
That's fine. I didn't know about the agreement above, thanks, and I haven't submitted my vote yet, so I'll reverse that decision. In any case, when there's contention about whether a submission was valid (as above), there should be something explicit from a team lead stating that it's all good (or not) to avoid confusion.

[2020-11-03 15:17] cbeams commented on #705
@leo816, I've upvoted this, but for future reference, could you explain how you calculate the amount you're requesting for Fee Reimbursement Agent each cycle? I looked through the last few compensation requests and cycle reports, and it wasn't obvious to me how you arrived at the amount requested. I'm sure there is a logic to it, and forgive me if it's already been documented or discussed somewher

[2020-11-04 04:18] wiz commented on #706
Yeah I was traveling the past few days so missed this one. I agree the auto-approve exception for this kind of stuff is not optimal and should be approved manually whenever possible, but on the other hand it's usually for very small amounts so not a huge risk to the DAO. Would rather have a larger mix of bonded node operators like @robkaandorp who are doing a great job :)

[2020-11-04 11:26] cbeams commented on #649
Upvoted, but will just mention that $200 feels like not enough for the prep work you did with me on the HCPP20 talk. Admittedly, I forgot to claim anything for my own preparation and delivery of this talk on my Cycle 18 compensation request, but even if I had, I would have found it difficult to determine how much to request. I might still claim something for it in a future cycle, but will wait unt

[2020-11-04 11:57] cbeams commented on #697
For others' benefit when reviewing and voting: I wondered why this compensation request jumped to running 5 seednodes vs. the usual 3 in previous requests, and I saw by clicking through to @Emzy's seednode operator cycle report at https://github.com/bisq-network/roles/issues/15#issuecomment-715438885 that this is just a temporary measure during the Tor v2 > v3 migration.

@Emzy, in future compensa

[2020-11-04 20:59] chimp1984 commented on #685
@freimair
As you have not reacted I will wait with supporting your request until you have fulfilled the outstanding obligation to provide the source of work you got paid for. The current monitor project is incomplete as it misses the Grafana setup as well as potentially other tools used. I consider the monitor project complete when a dev can run it from the provided source and instructions on his

[2020-11-05 08:14] ripcurlx commented on #685
Based on the unresponsiveness on the missing handover of the items required to run the monitor I have to withdraw my approval for this compensation request this cycle.

[2020-11-08 15:49] MwithM commented on #685
Closed as rejected.

[2020-11-08 15:49] #685 closed, assigned to ripcurlx, wiz

[2020-11-08 15:51] ghost commented on #697
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1911.00|1300.00|
|dev|147.00|100.00|

Total Issuance: 2058.00 BSQ (equivalent to: 1400.00 USD)

[2020-11-08 15:51] MwithM commented on #697
Closed as accepted.

[2020-11-08 15:51] #697 closed, assigned to nobody

[2020-11-08 15:51] ghost commented on #694
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|147.06|100.00|

Total Issuance: 147.06 BSQ (equivalent to: 100.00 USD)

[2020-11-08 15:51] MwithM commented on #694
Closed as accepted.

[2020-11-08 15:51] #694 closed, assigned to m52go

[2020-11-08 15:51] ghost commented on #700
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|220.59|150.00|

Total Issuance: 220.59 BSQ (equivalent to: 150.00 USD)

[2020-11-08 15:51] MwithM commented on #700
Closed as accepted.

[2020-11-08 15:51] #700 closed, assigned to ripcurlx

[2020-11-08 15:52] ghost commented on #695
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|772.04|525.00|
|support|735.28|500.00|
|admin|220.58|150.00|

Total Issuance: 1727.90 BSQ (equivalent to: 1175.00 USD)

[2020-11-08 15:52] MwithM commented on #695
Closed as accepted.

[2020-11-08 15:52] #695 closed, assigned to m52go, leo816

[2020-11-08 15:52] ghost commented on #690
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|735.29|500.00|

Total Issuance: 735.29 BSQ (equivalent to: 500.00 USD)

[2020-11-08 15:52] MwithM commented on #690
Closed as accepted.

[2020-11-08 15:52] #690 closed, assigned to leo816

[2020-11-08 15:52] ghost commented on #692
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|1470.58|1000.00|

Total Issuance: 1470.58 BSQ (equivalent to: 1000.00 USD)

[2020-11-08 15:52] MwithM commented on #692
Closed as accepted.

[2020-11-08 15:52] #692 closed, assigned to ripcurlx

[2020-11-08 15:53] ghost commented on #693
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4205.77|2860.00|
|ops|338.23|230.00|

Total Issuance: 4544.00 BSQ (equivalent to: 3090.00 USD)

[2020-11-08 15:53] MwithM commented on #693
Closed as accepted.

[2020-11-08 15:53] #693 closed, assigned to nobody

[2020-11-08 15:53] ghost commented on #704
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4660.97|3170.00|
|ops|147.03|100.00|

Total Issuance: 4808.00 BSQ (equivalent to: 3270.00 USD)

[2020-11-08 15:53] MwithM commented on #704
Closed as accepted.

[2020-11-08 15:53] #704 closed, assigned to nobody

[2020-11-08 15:53] ghost commented on #686
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|102.94|70.00|

Total Issuance: 102.94 BSQ (equivalent to: 70.00 USD)

[2020-11-08 15:53] MwithM commented on #686
Closed as accepted.

[2020-11-08 15:53] #686 closed, assigned to m52go, MwithM

[2020-11-08 15:53] ghost commented on #691
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|514.00|350.00|

Total Issuance: 514.00 BSQ (equivalent to: 350.00 USD)

[2020-11-08 15:54] MwithM commented on #691
Closed as accepted.

[2020-11-08 15:54] #691 closed, assigned to nobody

[2020-11-08 15:54] ghost commented on #706
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|73.53|50.00|

Total Issuance: 73.53 BSQ (equivalent to: 50.00 USD)

[2020-11-08 15:54] MwithM commented on #706
Closed as accepted.

[2020-11-08 15:54] #706 closed, assigned to wiz

[2020-11-08 15:54] ghost commented on #689
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2477.94|1685.00|

Total Issuance: 2477.94 BSQ (equivalent to: 1685.00 USD)

[2020-11-08 15:54] MwithM commented on #689
Closed as accepted.

[2020-11-08 15:54] #689 closed, assigned to leo816

[2020-11-08 15:54] ghost commented on #703
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|284.90|193.75|

Total Issuance: 284.90 BSQ (equivalent to: 193.75 USD)

[2020-11-08 15:54] MwithM commented on #703
Closed as accepted.

[2020-11-08 15:54] #703 closed, assigned to m52go, MwithM

[2020-11-08 15:55] ghost commented on #702
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|73.53|50.00|
|growth|2352.89|1600.00|
|ops|220.58|150.00|

Total Issuance: 2647.00 BSQ (equivalent to: 1800.00 USD)

[2020-11-08 15:55] MwithM commented on #702
Closed as accepted.

[2020-11-08 15:55] #702 closed, assigned to wiz, leo816

[2020-11-08 15:55] ghost commented on #698
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1470.00|1000.00|

Total Issuance: 1470.00 BSQ (equivalent to: 1000.00 USD)

[2020-11-08 15:55] MwithM commented on #698
Closed as accepted.

[2020-11-08 15:55] #698 closed, assigned to leo816

[2020-11-08 15:55] ghost commented on #699
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1617.65|1100.00|

Total Issuance: 1617.65 BSQ (equivalent to: 1100.00 USD)

[2020-11-08 15:56] MwithM commented on #699
Closed as accepted.

[2020-11-08 15:56] #699 closed, assigned to nobody

[2020-11-08 15:56] ghost commented on #688
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|11029.41|7500.00|

Total Issuance: 11029.41 BSQ (equivalent to: 7500.00 USD)

[2020-11-08 15:56] MwithM commented on #688
Closed as accepted.

[2020-11-08 15:56] #688 closed, assigned to ripcurlx

[2020-11-08 15:57] ghost commented on #687
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|14705.88|10000.00|

Total Issuance: 14705.88 BSQ (equivalent to: 10000.00 USD)

[2020-11-08 15:57] MwithM commented on #687
Closed as accepted.

[2020-11-08 15:57] #687 closed, assigned to ripcurlx

[2020-11-08 15:57] ghost commented on #701
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1470.59|1000.00|

Total Issuance: 1470.59 BSQ (equivalent to: 1000.00 USD)

[2020-11-08 15:57] MwithM commented on #701
Closed as accepted.

[2020-11-08 15:57] #701 closed, assigned to leo816

[2020-11-08 15:58] ghost commented on #705
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|3011.00|2048.00|

Total Issuance: 3011.00 BSQ (equivalent to: 2048.00 USD)

[2020-11-08 15:58] MwithM commented on #705
Closed as accepted.

[2020-11-08 15:58] #705 closed, assigned to ripcurlx

[2020-11-08 15:58] ghost commented on #696
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|676.47|460.00|

Total Issuance: 676.47 BSQ (equivalent to: 460.00 USD)

[2020-11-08 15:59] MwithM commented on #696
Closed as accepted. Please, next time remember to post TXID of the DAO proposal.

[2020-11-08 15:59] #696 closed, assigned to m52go, MwithM

[2020-11-08 16:00] ghost commented on #684
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|293.60|200.00|
|growth|73.40|50.00|

Total Issuance: 367.00 BSQ (equivalent to: 250.00 USD)

[2020-11-08 16:00] MwithM commented on #684
Closed as accepted.

[2020-11-08 16:00] #684 closed, assigned to wiz, m52go

[2020-11-08 16:02] MwithM commented on #683
Closed for end of Cycle 18

[2020-11-08 16:02] #683 closed, assigned to nobody

[2020-11-08 16:15] MwithM opened #707 "BSQ rate for Cycle 19 is 0.67 USD per 1 BSQ"
The recommended rate to be used for compensation requests on cycle 18 is **0.67USD/BSQ**. 90 day weighted volume average needed to be [voted](https://github.com/bisq-network/proposals/issues/271) at [DAO](https://github.com/bisq-network/proposals/issues/271#issuecomment-717838584) after detecting manipulated price statistics. Next, I inform about the voted 30 and 90 days BSQ rate.

30 Day BTC/BSQ:

[2020-11-08 16:51] chimp1984 commented on #685
@freimair As stated above please provide all data and information to @emzy so that he can start to setup the monitor and we can do the handover.

The DAO has invested about 50 000 USD in the monitor project and we need to ensure that this investment does not vanish just because you left the project. To re-do all the work to setup Grafana would be too much of an effort to invest again into the proj

[2020-11-10 12:17] freimair opened #708 "For Cycle 20"
## Summary

- **BSQ requested**: **`671`**
- USD requested: 470
- BSQ rate: 0.70 USD per BSQ
- Previous compensation request (if applicable): #685

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Monitoring Operator/Maintainer Cycle 18 | ops* | 200 | https://github.com/bisq-network/roles/issues/10#issuecomment-712851330 | |
| Monitoring Operator/

[2020-11-10 13:03] freimair opened #709 "For Cycle 20"
## Summary

- **BSQ requested**: **`3929`**
- USD requested: 2750
- BSQ rate: 0.7 USD per BSQ
- Previous compensation request (if applicable): #708

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Establish network usage metrics | dev | 2250 | https://github.com/bisq-network/projects/issues/13#issuecomment-701471826 | |
| Software part of https:/

[2020-11-16 21:13] oscarguindzberg opened #710 "For cycle 19"
## Summary

- **BSQ requested**: **`29850.75`**
- USD requested: 20000
- BSQ rate: [rate] USD per BSQ 0.67
- Previous compensation request (if applicable): #687

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Segwit for the trade protocol | dev | 20000 | https://github.com/bisq-network/bisq/pull/4710 https://github.com/bisq-network/bisq/pull/461

[2020-11-19 15:15] ChanoSan opened #711 "For Cycle 19"
## Summary

- **BSQ requested**: **`522.39`**
- USD requested: 350
- BSQ rate: 0.67 USD per BSQ as in #707
- Previous compensation request (if applicable): #686

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Japanese Translator | Growth | 350 | image at bottom | desktop only |

## Contributions in progress

5000 words *0.07 = 350 (rounded down

[2020-11-19 22:53] huey735 opened #712 "For Cycle 19"
## Summary

- **BSQ requested**: **`[1492]`**
- USD requested: [1000]
- BSQ rate: [0.67] USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/383

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Medaitor | Support | 1000 | https://github.com/bisq-network/roles/issues/83#issuecomment-7306

[2020-11-19 22:53] ghost commented on #712
## Info
Read BSQ amount from summary: 1492
Read USD amount from summary: 1000
Read BSQ rate from summary: 0.67

## Errors
Unknown team specified: Supprot
Tableformat: request lineitem #1 did not pass validation.
No compensation lineitems found.

[2020-11-19 23:27] ghost commented on #710
## Info
Read BSQ amount from summary: 2985074
Read USD amount from summary: 20000
Parsed lineitem: {"team":"dev","amount":20000}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 2985074.00 BSQ
   - Calculated total: 29850.75 BSQ

[2020-11-19 23:31] oscarguindzberg commented on #710
This compensation proposal is subject to the terms of DAO proposal 247 bisq-network/proposals#247 and will be paid from the special BTC multisig escrow to @oscarguindzberg as follows, pending DAO approval in Cycle 18 voting:
USD: 20000 
BSQ: 20000 / .67 = 29850,75 BSQ
 BTC: 29850,75 * 0,00005200 = 1,55223880, minus 0,02985075 BTC for comp req = 1,52238805 BTC net to oscar 
Note: Using 30 days aver

[2020-11-19 23:54] oscarguindzberg commented on #710
@chimp1984 @wiz @ripcurlx @sqrrm could you confirm the 30 days average 5200 sats BSQ/BTC rate.
It would be great if you could verify that ASAP on your bisq nodes. We need consensus on the 30 days average BSQ/BTC rate as of the day this compensation request is published (nov 19th).
If you see a different number, just post it here.

[2020-11-20 04:33] wiz commented on #710
I acknowledge the 5200 sats rate, and the math to calculate the final amount 1.52238805 BTC seems correct to me

[2020-11-21 16:46] alexej996 opened #713 "For Cycle 19"
## Summary
This is a compensation request for work done in Cycle 18.

- **BSQ requested** : **373**
- USD requested: **250**
- BSQ rate: **0.67** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/684

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bis

[2020-11-23 09:19] ripcurlx commented on #710
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request.

[2020-11-23 10:43] Drazen-V opened #714 "For Cycle 19"
## Summary

- **BSQ requested**: **149.25**
- USD requested: 100
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/302

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| debugging | dev | 100 | https://github.com/bisq-network/bisq/issues/4807 | asking for compensation f

[2020-11-23 10:43] ghost commented on #714
## Info
Read BSQ amount from summary: 149.25
Read USD amount from summary: 100
Read BSQ rate from summary: 0.67

## Errors
Unknown team specified:
Tableformat: request lineitem #1 did not pass validation.
No compensation lineitems found.

[2020-11-23 10:52] ghost commented on #714
## Info
Read BSQ amount from summary: 149.25
Read USD amount from summary: 100
Read BSQ rate from summary: 0.67

## Errors
Unknown team specified: ?
Tableformat: request lineitem #1 did not pass validation.
No compensation lineitems found.

[2020-11-23 16:38] MwithM commented on #714
Debugging must be a dev team compensation request. Parsing should be valid for compensation request review!

[2020-11-23 17:48] Drazen-V commented on #714
Thanks. Changed now.
Please note that there's actually a `team:?` label among the labels.

[2020-11-24 09:42] robkaandorp opened #715 "For Cycle 19"
## Summary

- **BSQ requested**: **`74.63`**
- USD requested: 50
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/706

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BTC Node operator | ops* | 50 | https://github.com/bisq-network/proposals/issues/189 | nothing to re

[2020-11-24 09:44] robkaandorp commented on #715
DAO txid: 7bd20d06a5a9a5619edfcfebafc177df5feb32df2a4302c585d5c5f92afce523

[2020-11-24 20:36] ghubstan opened #716 "For Cycle 19"
## Summary

- **BSQ requested**: **`9067.16`**
- USD requested: 6075
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #688

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Block on tx-fee-request in core TakeOfferModel init | dev | 50 | https://github.com/bisq-network/bisq/pull/4692 | merged |
| Add fields to grpc Tra

[2020-11-25 23:19] stopfeds opened #717 "For Cycle 19"
## Summary

- **BSQ requested**: **268**
- USD requested: 180
- BSQ rate: 0.67 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
|---|---|---|---|---|
| German Bisq-desktop translation | Growth | 180 | --- | --- |

![image](https://user-images.githubusercontent.com/71401614/100290698-467d5080-2f7c-11eb-8b08-ab44029aa7e8.png)

## Contributions in progress

| Title | Tea

[2020-11-25 23:20] ghost commented on #717
## Info
Parsed lineitem: {"team":"support","amount":224}

## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section

[2020-11-25 23:21] ghost commented on #717
## Info
Parsed lineitem: {"team":"support","amount":224}

## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section

[2020-11-25 23:21] ghost commented on #717
## Info
Parsed lineitem: {"team":"support","amount":224}

## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section

[2020-11-26 06:50] devinbileck opened #718 "For Cycle 19"
## Summary

- **BSQ requested**: **`1343.28`**
- USD requested: 900
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #699

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 100 | https://github.com/bisq-network/roles/issues/67#issuecomment-734484220 | 2 nodes
| Seed node operator | ops* |

[2020-11-26 08:52] MwithM commented on #717
Parsing is invalid. Don't worry, I'll fix that for you, the first compensation request is the hardest one.

[code]
I propose you to reduce your compensation request to 200USD - 298.5BSQ. The reason is that there are some strings that only needed to add a hyperlink (i.e. string number 600, 630) and some just had a small change or were lost, but were already translated many months ago and they could

[2020-11-26 12:34] Emzy opened #719 "For Cycle 19"
## Summary

- **BSQ requested**: **`1791`**
- USD requested: 1200
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #697

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 5* Seed node operator | ops* | 500 | bisq-network/roles#15 | 2 temp. old nodes (O

[2020-11-26 12:44] cbeams opened #720 "For Cycle 19"
## Summary

- **BSQ requested**: 74.63
- USD requested: 50
- BSQ rate: [0.67](https://github.com/bisq-network/compensation/issues/707) USD per BSQ
- Previous compensation request (if applicable): #694
## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 | https://github.com/bisq-network/roles/issues/18#issuecomment-734279682 |

[2020-11-26 12:52] cbeams commented on #720
Please approve, @m52go.

[2020-11-26 13:22] sqrrm opened #721 "For Cycle 19"
## Summary

- **BSQ requested**: **`2910`**
- USD requested: 1950
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #693

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Signed account cleanup | dev | 180 | https://github.com/bisq-network/bisq/pull/4744 | |
||||https://github.com/bisq-network/bisq/pull/4694 | Small revi

[2020-11-26 13:22] ghost commented on #721
## Info
Read BSQ amount from summary: 0
Read USD amount from summary: 0
Read BSQ rate from summary: 0.67
Parsed lineitem: {"team":"dev","amount":300}
Parsed lineitem: {"team":"dev","amount":450}
Parsed lineitem: {"team":"dev","amount":250}
Parsed lineitem: {"team":"dev","amount":650}
Parsed lineitem: {"team":"dev","amount":120}
Parsed lineitem: {"team":"dev","amount":250}
Parsed lineitem: {"team":

[2020-11-26 14:29] ghost opened #722 "For Cycle 19"
## Summary

- **BSQ requested**: **`2149`**
- USD requested: 1440
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/700

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Make URLs in popup notices clickable | dev | 100 | https://github.com/bisq-network/bisq/pull/4637

[2020-11-26 14:38] ghost commented on #717
Also it needs 2 hashes before the word `Summary`, per the template.

[2020-11-26 14:51] ripcurlx opened #723 "For Cycle 19"
## Summary

- **BSQ requested**: **`7732`**
- USD requested: 5181
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #704

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev | 2640 | https://github.com/bisq-network/roles/issues/63#issuecomment-734342357 |  |
| Bitcoin Fullnode Operator| ops |

[2020-11-26 15:21] ripcurlx commented on #722
https://github.com/bisq-network/bisq/pull/4845 and https://github.com/bisq-network/bisq/pull/4841 are already merged. Feel free to adapt your compensation request.

[2020-11-26 16:03] MwithM opened #724 "For Cycle 19"
## Summary

- **BSQ requested**: **`1895.5`**
- USD requested: 1270
- BSQ rate: 0.67 USD per BSQ as #707
- Previous compensation request (if applicable): #695

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Community Manager| *Growth | 475 | https://github.com/bisq-network/roles/issues/95#issuecomment-734338871 | |
|Transifex Admin| *Growth | 50

[2020-11-26 17:51] stopfeds commented on #717
@jmacxx @MwithM
Thanks for your help. I hope everything is correct now.

I changed the amount to 180 USD, because I have seen the budget, I didn't expect to receive more than 180 USD anyway. So 268 BSQ should be fine.

[2020-11-26 22:41] chimp1984 commented on #709
As I stated in the past request as well I think the request for #25 is too high IMO. I will not support more than about 50% of the old one (3200) which is about 1600 USD. You can split it also in 2 separate compensation requests so the uncontroversial part can get accepted easier.

[2020-11-26 22:46] chimp1984 commented on #722
@jmacxx Thanks a lot for all your valueable contributions! I still think your requests are too low, but I also appreciate as this shows that you not just 'in for the money'! Thanks!

[2020-11-26 23:41] burningman3 opened #725 "For Cycle 19"
## Summary

- **BSQ requested**: **`[1492.54]`**
- USD requested: [1000]
- BSQ rate: [0.67] USD per BSQ
- Previous compensation request (if applicable): #701

I ask for 1000 USD per month for performing this role.

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation address | support | 1000 | https://

[2020-11-27 01:22] stejbac opened #726 "For Cycle 19"
## Summary

- **BSQ requested**: **`2985.07`**
- USD requested: 2000
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/672

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Fix remaining blackmail vulnerabilities | dev | 2000 | https://github.com/bisq-network/bisq/pull

[2020-11-27 03:17] pazza83 opened #727 "For Cycle 19"
## Summary

- **BSQ requested**: **`[1492]`**
- USD requested: [1000]
- BSQ rate: [0.67USD/BSQ] USD per BSQ
- Previous compensation request: This is my first compensation request

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Payment Maintainer Role | *Growth | 1000 | https://github.com/bisq-network/roles/issues/38#issuecomment-734569659 | This

[2020-11-27 03:38] chimp1984 commented on #726
Thanks @stejbac for your valueable contribution!!!

[2020-11-27 03:44] chimp1984 commented on #727
I consider the requested amount very low to the efforts you have put in over the past weeks and the high productivity.

[2020-11-27 18:38] MwithM commented on #711
Approved. Thanks for your work, make a DAO proposal and post here the resulting TXID.

Just for the record, untranslated strings are now less than 33, so you have worked a little 1000 words more. You can claim that for next cycle if you wish.

[2020-11-28 01:54] wdljt opened #728 "For Cycle 19"
## Summary

- **BSQ requested**: **`[299]`**
- USD requested: [200]
- BSQ rate: [0.67] USD per BSQ
- Previous compensation request (if applicable): #696

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq desktop in Simplified Chinese | growth | 100 | https://www.transifex.com/bisq/bisq-desktop/translate/#zh_CN | 1612 words |
| Bisq desktop in

[2020-11-28 02:53] rafael2333 opened #729 "For Cycle 19"
## Summary

- **BSQ requested**: **`[642]`**
- USD requested: [430]
- BSQ rate: [0.67] USD per BSQ
- Previous compensation request (if applicable): #

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| French Bisq-desktop translation | growth | 280 | See image below |  |
| French Bisq-website translation | growth | 150 | See image below |  |

![LYH9

[2020-11-28 03:03] m52go commented on #728
How much more work would you say is left for Chinese translations? Are these routine updates, or something more substantial? I will get in touch with you folks on Keybase shortly to make sure we can get something going in the Chinese market to make use of all this work you're doing. It seems to me the barrier is more technical at the moment than anything else.

[2020-11-28 05:14] ChanoSan commented on #711
TXID `aa797e7b6ab773e75a84f62495de4e0c267b01f1d324e2b112a3ec235ef22afe`

[2020-11-28 07:29] MwithM commented on #728
Currently translations are complete, there's nothing else to translate and this was a routine update (1613 words added since 23 Oct).

Thanks wdljt, I approve this proposal. Please submit request to DAO and publish here resulting TXID.

[2020-11-28 15:02] RefundAgent opened #730 "For Cycle 19"
## Summary
Refund Agent compensation November 28.

24 cases handled , 50 USD each. $1200.

1.45037 BTC has been paid out giving an interest of 0.0145037 BTC = $251

In total $1451 or 2165.67 BSQ.

- **BSQ requested**: **`2165.67`**
- USD requested: 1451
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #689

## Contributions delivered

| Title | Team | USD | Link | Note

[2020-11-28 18:37] sqrrm commented on #723
I approve of this compensation request.

[2020-11-29 09:58] MwithM commented on #729
Hello Rafael, I can't approve this compensation request. The compensation request submission came late, but most important, for the reasons I'll explain following. We have not talked before you started translating about 6 days ago, so I could not explain personally the conditions written on https://bisq.wiki/Translation. I changed new translator's acceptance and now they need to ask for permission

[2020-11-29 12:04] stopfeds commented on #717
TXID `d80fbb39d243aa3c57115816424224514620cf0c1a6bab2cf4759343621bc1c3`

[2020-11-29 14:25] m52go commented on #713
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth :+1:

[2020-11-29 14:29] m52go commented on #724
[Approved](https://bisq.wiki/Compensation#Team_Lead) for growth :+1:

[2020-11-29 14:36] MwithM commented on #724
I still have to wait for @leo816 approval.

[2020-11-29 14:40] m52go commented on #727
[Approved](https://bisq.wiki/Compensation#Team_Lead)—please submit to the DAO and post txid here.

Solid start...thanks for your help so far! You clearly put in a lot of time and effort in the past cycle. Proposed maximum of 1000 USD for the role seems reasonable to me for the kind of work you're doing since it directly impacts liquidity. Curious to see the roadmap you have in mind.

[2020-11-29 14:54] m52go commented on #724
Ah, updated comment. I scanned the teams and didn't see anything for other teams—you might want to change the request for support agent to the support team.

[2020-11-29 16:58] wiz commented on #710
TXID created by Guarantor is `5090caa7d7fffec4c947f81ccf85f542a9b89522149012269cb221110e6ea30d`

[2020-11-29 17:58] sqrrm commented on #716
I approve of this compensation request.

[2020-11-29 23:21] Bisq-knight opened #731 "For Cycle 19"
## Summary

- **BSQ requested**: **`1492`**
- USD requested: 1000
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #698

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediation | Support | 1000 | [Roles report Cycle 19](https://github.com/bisq-network/roles/issues/83#issuecomment-735473832) | Cycle 19 |

## Contribu

[2020-11-29 23:22] pazza83 commented on #727
Thanks, will do.

Glad to help. I do not think the roadmap will be too exciting at first. Keen to collate the status of all the current payment methods being used, discussed and those that look promising.

[2020-11-29 23:31] pazza83 commented on #727
txid: d6035bf29b2567d5a717f8c2dbe3af9bcfe565626e2b40c41bd3d9005c9f1aca

[2020-11-30 08:20] ripcurlx commented on #716
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-11-30 08:41] wiz commented on #721
Approved for ops

[2020-11-30 08:41] wiz commented on #718
Approved for ops

[2020-11-30 08:42] wiz commented on #715
Approved for ops

[2020-11-30 08:42] wiz commented on #713
Approved for ops

[2020-11-30 08:43] wiz commented on #719
Approved for ops

[2020-11-30 08:43] ripcurlx commented on #721
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-11-30 08:44] wiz commented on #723
Approved for ops

[2020-11-30 08:44] ripcurlx commented on #722
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-11-30 08:45] ripcurlx commented on #726
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-11-30 10:30] Emzy commented on #719
TX ID: 39c7305c540017a5ae2b42bc6196e2189e605d4a4e8072cedcf1399458e2a1cb

[2020-11-30 10:33] stejbac commented on #726
Tx ID: 56ed387fd20a58873c010660b9620c75b9f10c82267e32fe4a60ed9e71b31c67

[2020-11-30 14:06] rafael2333 commented on #729
Hello Mwithm,I can totally understand your decision. I have already read your reason carefully, that's true I have made some mistakes. I will deal with the "Hyperlink","no_translate"and some incorrect translation  mistakes immediately. The missing strings I will also try to complete them.
I am really sorry to put you through. I will finish it nicely next cycle. And thanks for your patience to let

[2020-11-30 14:11] rafael2333 commented on #729
Hello Mwithm,I can totally understand your decision. I have already read your reason carefully, that's true I have made some mistakes. I will deal with the "Hyperlink","no_translate"and some incorrect translation  mistakes immediately. The missing strings I will also try to complete them.
I am really sorry to put you through. I will finish it nicely next cycle. And thanks for your patience to let

[2020-11-30 14:18] ripcurlx commented on #714
Although normally bug reporting is not compensated I as [team lead](https://bisq.wiki/Compensation#Team_Lead) approve this request, as in this case the investigation and repeated testing led to a critical bug, fixed in https://github.com/bisq-network/bisq/pull/4840. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-11-30 14:33] RefundAgent commented on #730
TxID: 919d********************************4759

[2020-11-30 14:41] ripcurlx commented on #723
TXID: `f570b932fd2582adf092b3242595d655f0794bd801e7c0dd1805a7eec376c43d`

[2020-11-30 15:49] MwithM commented on #730
I guess it's no big deal, but there's no reason to hide the Tx ID.

[2020-11-30 15:52] ghubstan commented on #716
74b506b0b7ab2145dc68ece32cb6053e335689e1404afc19b18970af6e26bb4c

[2020-11-30 17:43] leo816 commented on #712
Please add the cycle 19 header on your report and the previous compensation request # . My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-11-30 17:44] leo816 commented on #724
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-11-30 17:46] leo816 commented on #730
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-11-30 17:47] leo816 commented on #731
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-11-30 17:58] devinbileck commented on #718
Tx ID 322a8ca3fca7e86d9bfebf0013462368b15ba3addff240efad30fb1244d8f524

[2020-11-30 19:29] MwithM commented on #729
What happened with the comment with chinese characters?

I count on you to keep translating for next cycle, on the meantime, I would appreciate that you come by Keybase to say hi and stay connected.

[2020-11-30 23:54] Bisq-knight commented on #731
tx id `aa2aaf5cc93983cad12176ac5a36fa2455fb87c4d1205c143188640c01fb503d`

[2020-12-01 00:18] ghost commented on #722
4142fa53e649059b5ae29da349eb2017aa69b6692b773a970f953226006dc4a1

[2020-12-01 07:01] MwithM commented on #724
TXID: `35d7d89ce12239a7a52669a57ac21b5eba8b38322d7b4f14af5df77465fe36b9`

[2020-12-01 10:41] sqrrm commented on #721
Tx: 6e46ac8866c28cd81c40b5a9d630558bdeeba0fa14aca8902d5effb16804d347

[2020-12-01 12:26] alexej996 commented on #713
DAO txid: **fc207d25acf6e6c854ddca8ec8333179cc9188424c2bed93cd546bc557719e36**

[2020-12-01 20:40] wiz opened #732 "For Cycle 19"
Due to some personal stuff, I didn't have much time to contribute to Bisq during the past few months, so I've had my mediator key disabled for some of that time, only doing support for users who DM me, with the occasional re-opened mediation cases and longer disputes, so mediation compensation is 20% for past 2 months. This compensation request is for both Cycle 18 and 19.

## Summary

* **BSQ req

[2020-12-01 20:40] ghost commented on #732
## Info
Read BSQ amount from summary: 5820
Read USD amount from summary: 3900
Read BSQ rate from summary: 0.67
Parsed lineitem: {"team":"growth","amount":100}
Parsed lineitem: {"team":"dev","amount":200}
Parsed lineitem: {"team":"ops","amount":400}
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"ops","amount":200}
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem:

[2020-12-01 23:26] burningman3 commented on #725
Tx ID: 514e01d361417c5a09e4d010bfbb90818111fcc2920a752ea96fec8f8f6c6a9e

[2020-12-02 00:33] leo816 opened #733 "For Cycle 19"
## Summary

- **BSQ requested**: **`2238`**
- USD requested: 1500
- BSQ rate: 0.67 USD per BSQ
- Previous compensation request (if applicable): #651

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-736905208 |  |
| L1 Support Agent | Support | 500 |https://gi

[2020-12-02 00:33] ghost commented on #733
## Info
Read BSQ amount from summary: 3011
Read USD amount from summary: 2048
Read BSQ rate from summary: 0.68
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":0}
Parsed lineitem: {"team":"support","amount":0}

## Errors
Incorrect BSQ rate specified: 0.68, expected: 0.67
ERROR: Total USD does not match th

[2020-12-02 01:56] leo816 commented on #733
a8472335f7a05a87102715fc9e37b0f1c3e82454be50f2dfa48b5018c7342409

[2020-12-02 07:25] MwithM commented on #725
@leo816 Do you approve this compensation request?

[2020-12-02 07:29] MwithM commented on #720
I forgot to assign @m52go sorry.
Seems this proposal will have to be re sent for next Cycle.

[2020-12-02 07:31] MwithM commented on #714
Please submit here the TXID of your proposal for compensation request.

[2020-12-02 07:31] MwithM commented on #712
Please submit here the TXID of your proposal for compensation request.

[2020-12-02 07:49] m52go commented on #720
Sorry on my end, this must be why -- I went through all compensation requests from the project board a few days ago and this one didn't show up there.

[2020-12-02 07:51] Drazen-V commented on #714
Tx id: `e45adcde830fff9aba121a5238dfac7abd4cffc0c7835575011dd4b47138fe64`

[2020-12-02 07:51] m52go commented on #720
[Approved](https://bisq.wiki/Compensation#Team_Lead) in any case.

[2020-12-02 07:54] cbeams commented on #720
Great, was just filing this anyway. Glad it's official now.

[2020-12-02 07:57] cbeams commented on #720
txid: `5c250c51a84e06eb1368d59d1c2f27c69da803b2093c4f3dc5a774eeff92fed1`

(txid was edited, original value was incorrect)

[2020-12-02 08:10] leo816 commented on #725
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-12-02 08:11] leo816 commented on #732
monthly report is missing

[2020-12-02 15:12] ripcurlx commented on #732
@wiz Are you referencing the change in the [PR](https://github.com/bisq-network/bisq/pull/4585) in this CR, or the efforts necessary in the mempool project to make this happen?

[2020-12-02 15:17] ripcurlx commented on #733
I approve this compensation request.

[2020-12-03 07:52] ghost commented on #709
## Info
Read BSQ amount from summary: 8582
Read USD amount from summary: 5750
Read BSQ rate from summary: 0.67
Parsed lineitem: {"team":"dev","amount":2250}
Parsed lineitem: {"team":"dev","amount":325}
Parsed lineitem: {"team":"dev","amount":175}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 5750.00 USD
   - Calculated total: 2750.00 USD

[2020-12-03 08:09] freimair opened #734 "For Cycle 20"
## Summary

- **BSQ requested**: **`4286`**
- USD requested: 3000
- BSQ rate: 0.70 USD per BSQ
- Previous compensation request (if applicable): #709

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Reduce bandwidth requirement on Bisq startup | dev | 3000 | bisq-network/projects#25 | the project got completed recently, and given the design is the

[2020-12-03 08:10] ghost commented on #708
## Info
Read BSQ amount from summary: 478
Read USD amount from summary: 320
Read BSQ rate from summary: 0.67
Parsed lineitem: {"team":"ops","amount":200}
Parsed lineitem: {"team":"ops","amount":70}
Parsed lineitem: {"team":"dev","amount":100}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 320.00 USD
   - Calculated total: 370.00 USD

[2020-12-03 09:01] MwithM commented on #734
Proposal phase ended, this proposal should be submitted for Cycle 20. Please edit the title.

[2020-12-04 14:07] ripcurlx commented on #728
@wdljt Could you please verify that `b9e384e79e61834473545ab0448f3bc7146bc878b077b23d0dd72ffe0cc686fb` is the correct transaction ID for your CR? Thanks!

[2020-12-04 14:08] ripcurlx commented on #712
@huey735 Could you please confirm that `93ef743d4f9db82816104300fd32d016ab01e3d39defa7b9a4447500f79838a8` is the transaction ID linked to your CR? Thanks!

[2020-12-04 14:10] wiz commented on #732
@ripcurlx yes both, it was mostly research and testing to come up with the new idea for the "medium high" algorithm, to make sure we didn't blow up anything

@leo816 will do shortly, but there isn't much to report

[2020-12-04 14:11] ripcurlx commented on #732
I approve as dev team lead the dev item in this compensation request.

[2020-12-05 21:28] sqrrm commented on #730
@MwithM Maybe it's not hiding but manual copying (which would explain the reversed `919d` which should be `d919`).

[2020-12-06 14:28] huey735 commented on #712
I confirm it @ripcurlx and @MwithM
`93ef743d4f9db82816104300fd32d016ab01e3d39defa7b9a4447500f79838a8` is indeed my transaction.

[2020-12-09 22:25] ghost commented on #711
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|522.39|350.00|

Total Issuance: 522.39 BSQ (equivalent to: 350.00 USD)

[2020-12-09 22:25] MwithM commented on #711
Closed as accepted.

[2020-12-09 22:25] #711 closed, assigned to m52go, MwithM

[2020-12-09 22:26] ghost commented on #717
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|268.00|180.00|

Total Issuance: 268.00 BSQ (equivalent to: 180.00 USD)

[2020-12-09 22:26] MwithM commented on #717
Closed as accepted.

[2020-12-09 22:26] #717 closed, assigned to m52go, MwithM

[2020-12-09 22:26] ghost commented on #710
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|29850.75|20000.00|

Total Issuance: 29850.75 BSQ (equivalent to: 20000.00 USD)

[2020-12-09 22:26] MwithM commented on #710
Closed as accepted.

[2020-12-09 22:26] #710 closed, assigned to ripcurlx

[2020-12-09 22:26] ghost commented on #727
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|1492.00|1000.00|

Total Issuance: 1492.00 BSQ (equivalent to: 1000.00 USD)

[2020-12-09 22:26] MwithM commented on #727
Closed as accepted.

[2020-12-09 22:26] #727 closed, assigned to m52go

[2020-12-09 22:27] ghost commented on #715
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|74.63|50.00|

Total Issuance: 74.63 BSQ (equivalent to: 50.00 USD)

[2020-12-09 22:27] MwithM commented on #715
Closed as accepted.

[2020-12-09 22:27] #715 closed, assigned to nobody

[2020-12-09 22:27] ghost commented on #733
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2238.00|1500.00|

Total Issuance: 2238.00 BSQ (equivalent to: 1500.00 USD)

[2020-12-09 22:27] MwithM commented on #733
Closed as accepted.

[2020-12-09 22:27] #733 closed, assigned to ripcurlx

[2020-12-09 22:28] ghost commented on #725
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1492.54|1000.00|

Total Issuance: 1492.54 BSQ (equivalent to: 1000.00 USD)

[2020-12-09 22:28] MwithM commented on #725
Closed as accepted.

[2020-12-09 22:28] #725 closed, assigned to leo816

[2020-12-09 22:28] ghost commented on #720
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|74.63|50.00|

Total Issuance: 74.63 BSQ (equivalent to: 50.00 USD)

[2020-12-09 22:28] MwithM commented on #720
Closed as accepted.

[2020-12-09 22:28] #720 closed, assigned to m52go

[2020-12-09 22:28] ghost commented on #714
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|149.25|100.00|

Total Issuance: 149.25 BSQ (equivalent to: 100.00 USD)

[2020-12-09 22:28] MwithM commented on #714
Closed as accepted.

[2020-12-09 22:28] #714 closed, assigned to ripcurlx

[2020-12-09 22:28] ghost commented on #730
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2165.67|1451.00|

Total Issuance: 2165.67 BSQ (equivalent to: 1451.00 USD)

[2020-12-09 22:29] MwithM commented on #730
Closed as accepted.

[2020-12-09 22:29] #730 closed, assigned to leo816

[2020-12-09 22:35] ghost commented on #719
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1791.00|1200.00|

Total Issuance: 1791.00 BSQ (equivalent to: 1200.00 USD)

[2020-12-09 22:35] MwithM commented on #719
Closed as accepted.

[2020-12-09 22:35] #719 closed, assigned to nobody

[2020-12-09 22:36] ghost commented on #726
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|2985.07|2000.00|

Total Issuance: 2985.07 BSQ (equivalent to: 2000.00 USD)

[2020-12-09 22:36] MwithM commented on #726
Closed as accepted.

[2020-12-09 22:36] #726 closed, assigned to ripcurlx

[2020-12-09 22:36] ghost commented on #723
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|7620.07|5106.00|
|ops|111.93|75.00|

Total Issuance: 7732.00 BSQ (equivalent to: 5181.00 USD)

[2020-12-09 22:36] MwithM commented on #723
Closed as accepted.

[2020-12-09 22:36] #723 closed, assigned to nobody

[2020-12-09 22:36] ghost commented on #718
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|1343.28|900.00|

Total Issuance: 1343.28 BSQ (equivalent to: 900.00 USD)

[2020-12-09 22:36] MwithM commented on #718
Closed as accepted.

[2020-12-09 22:36] #718 closed, assigned to nobody

[2020-12-09 22:36] ghost commented on #722
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|2149.00|1440.00|

Total Issuance: 2149.00 BSQ (equivalent to: 1440.00 USD)

[2020-12-09 22:37] MwithM commented on #722
Closed as accepted.

[2020-12-09 22:37] #722 closed, assigned to ripcurlx

[2020-12-09 22:37] ghost commented on #716
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|9067.16|6075.00|

Total Issuance: 9067.16 BSQ (equivalent to: 6075.00 USD)

[2020-12-09 22:37] MwithM commented on #716
Closed as accepted.

[2020-12-09 22:37] #716 closed, assigned to ripcurlx

[2020-12-09 22:37] ghost commented on #721
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|2716.00|1820.00|
|ops|194.00|130.00|

Total Issuance: 2910.00 BSQ (equivalent to: 1950.00 USD)

[2020-12-09 22:37] MwithM commented on #721
Closed as accepted.

[2020-12-09 22:37] #721 closed, assigned to ripcurlx

[2020-12-09 22:37] ghost commented on #713
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|298.40|200.00|
|growth|74.60|50.00|

Total Issuance: 373.00 BSQ (equivalent to: 250.00 USD)

[2020-12-09 22:37] MwithM commented on #713
Closed as accepted.

[2020-12-09 22:37] #713 closed, assigned to nobody

[2020-12-09 22:38] ghost commented on #724
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|888.05|595.00|
|support|746.26|500.00|
|admin|261.19|175.00|

Total Issuance: 1895.50 BSQ (equivalent to: 1270.00 USD)

[2020-12-09 22:38] MwithM commented on #724
Closed as accepted.

[2020-12-09 22:38] #724 closed, assigned to m52go, leo816

[2020-12-09 22:38] ghost commented on #731
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1492.00|1000.00|

Total Issuance: 1492.00 BSQ (equivalent to: 1000.00 USD)

[2020-12-09 22:38] MwithM commented on #731
Closed as accepted.

[2020-12-09 22:38] #731 closed, assigned to leo816

[2020-12-09 22:39] ghost commented on #712
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1492.00|1000.00|

Total Issuance: 1492.00 BSQ (equivalent to: 1000.00 USD)

[2020-12-09 22:39] MwithM commented on #712
Closed as accepted.

[2020-12-09 22:39] #712 closed, assigned to leo816

[2020-12-09 22:41] ghost commented on #728
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|299.00|200.00|

Total Issuance: 299.00 BSQ (equivalent to: 200.00 USD)

[2020-12-09 22:41] MwithM commented on #728
Closed as accepted.

[2020-12-09 22:41] #728 closed, assigned to m52go, MwithM

[2020-12-09 22:42] MwithM commented on #729
Closed as not submitted

[2020-12-09 22:42] #729 closed, assigned to m52go, MwithM

[2020-12-09 22:44] ghost commented on #732
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|447.75|300.00|
|dev|298.50|200.00|
|ops|4626.75|3100.00|
|support|597.00|400.00|

Total Issuance: 5970.00 BSQ (equivalent to: 4000.00 USD)

[2020-12-09 22:45] MwithM commented on #732
Closed as accepted.

[2020-12-09 22:45] #732 closed, assigned to ripcurlx, m52go, leo816

[2020-12-09 22:57] MwithM opened #735 "BSQ rate for Cycle 20 is 0.7 USD per 1 BSQ"
The recommended rate to be used for compensation requests on cycle 20 is 0.7USD/BSQ. Approved rates through [this porposal](https://github.com/bisq-network/proposals/issues/282)

30 Day BTC/BSQ: 0.00005135
30 Day USD/BSQ: 0.87
90 Day BTC/BSQ: 0.00005522
90 Day USD/BSQ: 0.7

More info about the Compensation process at https://bisq.wiki/Compensation
Rate for last cycle: #707

[2020-12-09 23:57] oscarguindzberg opened #736 "For cycle 21"
## Summary

- **BSQ requested**: **`7142.86`**
- USD requested: 5000
- BSQ rate: [rate] USD per BSQ 0.70
- Previous compensation request (if applicable): #710

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Post deployment support | dev | 5000 |    | See list bellow |

Detailed list of contributions:

- Part of the support work was done on keyba

[2020-12-10 00:06] ghost commented on #736
## Info
Read BSQ amount from summary: 714286
Read USD amount from summary: 5000
Parsed lineitem: {"team":"dev","amount":5000}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 714286.00 BSQ
   - Calculated total: 7462.69 BSQ

[2020-12-10 00:06] ghost commented on #736
## Info
Read BSQ amount from summary: 7142.86
Read USD amount from summary: 5000
Parsed lineitem: {"team":"dev","amount":5000}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 7142.86 BSQ
   - Calculated total: 7462.69 BSQ

[2020-12-10 00:09] ghost commented on #736
## Info
Read BSQ amount from summary: 7142.86
Read USD amount from summary: 5000
Parsed lineitem: {"team":"dev","amount":5000}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 7142.86 BSQ
   - Calculated total: 7462.69 BSQ

[2020-12-10 00:10] oscarguindzberg commented on #736
don't know why bisq-bot does its math with BSQ rate 0.67. It should be 0.70

[2020-12-10 00:11] ghost commented on #736
## Info
Read BSQ amount from summary: 7142.86
Read USD amount from summary: 5000
Parsed lineitem: {"team":"dev","amount":5000}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 7142.86 BSQ
   - Calculated total: 7462.69 BSQ

[2020-12-10 00:27] oscarguindzberg commented on #736
This compensation proposal is subject to the terms of DAO proposal 247 bisq-network/proposals#247 and will be paid from the special BTC multisig escrow to @oscarguindzberg as follows, pending DAO approval in Cycle 20 voting:
USD: 5000 
BSQ: 5000 / .70 = 7142.86 BSQ
 BTC: 7142.86 * 0,00004887 = 0,34907156, minus 0,00714286 BTC for comp req = 0,3419287082 BTC net to oscar 
Note: Using 30 days averag

[2020-12-10 02:24] chimp1984 commented on #735
How did you derive the above values?

I see quite different values in my app:
With 5% outlier value:
<img width="1026" alt="Screen Shot 2020-12-09 at 21 22 46" src="https://user-images.githubusercontent.com/54558767/101712984-b7386880-3a64-11eb-87a3-3a48dd99704b.png">

With 0% outlier value (no effect):
<img width="1022" alt="Screen Shot 2020-12-09 at 21 22 36" src="https://user-images.githubuserc

[2020-12-10 08:49] MwithM commented on #735
I followed the new process, where the rate for next cycle is proposed at the submit review deadline of the previous cycle. Here, I'm just announcing what was already proposed here (with only one upvote but noone against it).
https://github.com/bisq-network/proposals/issues/282

Maybe it has changed significantly in the last days. Next time I'll get a screenshot of it.
If you think 0.7 is wrong, I'

[2020-12-10 08:52] ghost commented on #735
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2020-12-10 10:27] MwithM commented on #736
I suggest you this to have your compensation parsed by the bot:
[code]

[2020-12-10 14:52] chimp1984 commented on #735
Ah sorry forgot my own proposal ;-). All fine...

[2020-12-10 16:27] oscarguindzberg commented on #736
@MwithM I do not understand what you mean.

[2020-12-10 17:07] #707 closed, assigned to nobody

[2020-12-10 17:09] MwithM commented on #736
Edit to use:
`- BSQ rate: 0.7 USD per BSQ`
Instead of:
 `- BSQ rate: [rate] USD per BSQ 0.70`

[2020-12-12 17:07] oscarguindzberg commented on #736
@wiz @sqrrm @ripcurlx please, could you confirm the rate of 4887 sats BSQ/BTC as of Dec 9th 2020? thanks

[2020-12-16 21:29] wiz commented on #736
Sorry, just saw this now. Looks like the rate has declined a bit since then, but looking at the recent trades, it seems the rate you used at time of compensation proposal creation was what it was at the time.

<img width="649" alt="Screen Shot 2020-12-17 at 6 28 36" src="https://user-images.githubusercontent.com/232186/102408571-24359a80-4031-11eb-94da-7404ff1257ce.png">

[2020-12-20 09:19] ghost commented on #708
## Info
Read BSQ amount from summary: 700
Read USD amount from summary: 420
Read BSQ rate from summary: 0.7
Parsed lineitem: {"team":"ops","amount":200}
Parsed lineitem: {"team":"ops","amount":70}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"team":"dev","amount":50}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 700.00 BSQ
   - Calculated t

[2020-12-23 09:18] cbeams opened #737 "For Cycle 20"
## Summary

- **BSQ requested**: 71.43
- USD requested: 50
- BSQ rate: [0.70](https://github.com/bisq-network/compensation/issues/735) USD per BSQ
- Previous compensation request (if applicable): #720
## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 | https://github.com/bisq-network/roles/issues/18#issuecomment-750033498 |

[2020-12-23 09:24] cbeams commented on #737
Please approve, @m52go.

[2020-12-23 14:06] m52go commented on #737
[Approved](https://bisq.wiki/Compensation#Team_Lead)—please submit to the DAO and post txid here.

[2020-12-26 03:36] chimp1984 opened #738 "For Cycle 20"
## Summary

- **BSQ requested**: **`14357.14`**
- USD requested: 10050
- BSQ rate: 0.70 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| UI improvements | dev | 300 | https://github.com/bisq-network/bisq/pull/4914 | - |
| Property fields must not be set from non JavaFX threads | dev | 50 | https://github.com/bisq-network/bisq/pull/491

[2020-12-26 03:36] ghost commented on #738
## Info
Read BSQ amount from summary: 14957
Read USD amount from summary: 9950
Read BSQ rate from summary: 0.7
Parsed lineitem: {"team":"dev","amount":300}
Parsed lineitem: {"team":"dev","amount":50}
Parsed lineitem: {"team":"dev","amount":300}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":200}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"tea

[2020-12-26 03:37] ghost commented on #738
## Info
Read BSQ amount from summary: 1421429
Read USD amount from summary: 9950
Read BSQ rate from summary: 0.7
Parsed lineitem: {"team":"dev","amount":300}
Parsed lineitem: {"team":"dev","amount":50}
Parsed lineitem: {"team":"dev","amount":300}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":200}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {"t

[2020-12-26 07:44] ChanoSan opened #739 "For Cycle 20"
## Summary

- **BSQ requested**: **`100`**
- USD requested: 70
- BSQ rate: 0.7 USD per BSQ as in #735
- Previous compensation request (if applicable): #711

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Japanese Translator | Growth | 70 | image/notes as bottom | carryover from underreported Cycle 19 work, as per comment by MwithM |

## Contribu

[2020-12-26 09:47] MwithM commented on #739
I thought you were going to keep translating when I posted that comment at previous cycle. There's 500 words left to translate.

This proposal is approved, you can submit your request to DAO and comment here your resulting TXID.

[2020-12-26 10:49] ChanoSan commented on #739
TXID `b1acd1b47a23cfbd3435ad566bf96d16cfd5bd3380d05694966129efa6f3d2e6`

[2020-12-26 10:51] ChanoSan commented on #739
I have no intention of stopping work. Between holidays and other work, December was a busy month. I will be picking up translation in January. I didn't think it would be wise to leave this outstanding amount hanging, however. If this is discouraged, I will refrain from doing so in future.

[2020-12-26 10:53] MwithM opened #740 "For Cycle 20"
## Summary

- **BSQ requested**: **`1887`**
- USD requested: 1321
- BSQ rate: 0.7 USD per BSQ as per #735
- Previous compensation request (if applicable): #724

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Community Manager| *Growth | 500 | https://github.com/bisq-network/roles/issues/95 |  |
|Transifex Admin| *Growth | 100 | https://github.com

[2020-12-26 10:55] MwithM commented on #739
I was just expecting to see the amount you left at previous month together with the strings of this month.

[2020-12-26 11:02] ChanoSan commented on #739
Should this situation arise in future, would it be best to carry the uncomp'd amount over to a future month?

[2020-12-26 11:04] MwithM commented on #739
I think it's best to require compensations as soon as possible. If you're not going to ask for compensation because i.e. it's a very low amount, it makes sense to make a report here and not submitting the compensation request to DAO.

[2020-12-26 11:11] ChanoSan commented on #739
Understood. Will remember that going forward.

[2020-12-26 13:03] leo816 commented on #740
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-12-26 16:20] ghubstan opened #741 "For Cycle 20"
## Summary

- **BSQ requested**: **`12857.14`**
- USD requested: 9000
- BSQ rate: 0.7 USD per BSQ
- Previous compensation request (if applicable): #716

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Define new grpc bsq/btc balances protos | dev |25| https://github.com/bisq-network/bisq/pull/4793 | merged |
| Add proto wrappers for sending bsq,

[2020-12-26 16:27] Emzy opened #742 "For Cycle 20"
## Summary

- **BSQ requested**: **`1857`**
- USD requested: 1300
- BSQ rate: 0.70 USD per BSQ
- Previous compensation request (if applicable): #719

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 5* Seed node operator | ops* | 500 | bisq-network/roles#15 | 2 temp. old nodes (O

[2020-12-27 04:39] ghost opened #743 "For Cycle 20"
## Summary

- **BSQ requested**: **`1429`**
- USD requested: 1000
- BSQ rate: 0.70 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/722

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Privacy improvements for manual payout | dev | 600 | https://github.com/bisq-network/bisq/pull/48

[2020-12-27 15:50] chimp1984 commented on #743
I think you request too low amounts for your great work.

[2020-12-27 16:42] ghost commented on #743
Thanks!  I'm trying to improve. :smile:

[2020-12-28 05:07] cbeams commented on #737
txid: `b2cd93e81ed20c94133385eacf627d9b8240c86a8abd88a34847bd85cdb81412`

[2020-12-28 10:02] leo816 opened #744 "For Cycle 20"
## Summary

- **BSQ requested**: **`2571.42`**
- USD requested: 1800
- BSQ rate: 0.7 USD per BSQ
- Previous compensation request (if applicable): #733

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-751918789 |  |
| L1 Support Agent | Support | 500 |https://

[2020-12-28 12:29] Bisq-knight opened #745 "For Cycle 20"
## Summary

- **BSQ requested**: **`1428`**
- USD requested: 1000
- BSQ rate: 0.70 USD per BSQ
- Previous compensation request (if applicable): #731

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediation | Support | 1000 | [Roles report Cycle 20](https://github.com/bisq-network/roles/issues/83#issuecomment-751695534) | Cycle 20 |

## Contribu

[2020-12-28 14:01] ripcurlx commented on #743
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-12-28 14:02] ripcurlx commented on #736
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-12-28 14:04] ripcurlx commented on #741
@sqrrm @chimp1984 Could you please review this request as it is hard to review this CR if you haven't followed all mentioned PRs above already. Thanks!

[2020-12-28 14:05] ripcurlx commented on #708
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2020-12-28 14:56] ripcurlx opened #746 "For Cycle 20"
## Summary

- **BSQ requested**: **`8374`**
- USD requested: 5862
- BSQ rate: 0.7 USD per BSQ
- Previous compensation request (if applicable): #723

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev | 3861 | https://github.com/bisq-network/roles/issues/63#issuecomment-751740473 |  |
| Bitcoin Fullnode Operator| ops | 5

[2020-12-28 14:56] ghost commented on #746
## Info
Read BSQ rate from summary: 0.7
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"ops","amount":50}
Parsed lineitem: {"team":"ops","amount":25}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":0}

## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
I

[2020-12-28 15:00] ghubstan commented on #741
One of the reasons this is a difficult CR to review is because two long PR chains contain some PRs that were reviewed and approved, but were skipped over during the merge phase.  The final or last few of the PRs in the chain were explicitly merged, and all prior approved PRs in a chain were implicitly merged.

For example, [PR 4818](https://github.com/bisq-network/bisq/pull/4818) was the 13th PR (

[2020-12-28 16:07] ripcurlx commented on #738
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-12-28 16:35] sqrrm opened #747 "For Cycle 20"
## Summary

- **BSQ requested**: **`3071`**
- USD requested: 2150
- BSQ rate: 0.7 USD per BSQ
- Previous compensation request (if applicable): #721

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Sign specific account | dev | 320 | https://github.com/bisq-network/bisq/pull/4957 | |
||||https://github.com/bisq-network/bisq/pull/4860 | Small review

[2020-12-28 16:46] sqrrm commented on #741
I approve of this compensation request. It has been mostly straight forward to review, just looks a bit messy when comment fixes come on top of a much later PR.

[2020-12-28 17:16] m52go commented on #740
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests) for growth and admin :+1:

[2020-12-28 18:11] ripcurlx commented on #741
Based on https://github.com/bisq-network/compensation/issues/741#issuecomment-751782136 as [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-12-28 18:12] ripcurlx commented on #747
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2020-12-28 18:45] ghubstan commented on #741
`f8deecd9a02d028d6f63982f12fd37896f585b40b162a35ba9697d3a662882d1`

[2020-12-28 20:34] sqrrm commented on #746
I approve of this compensation request.

[2020-12-28 21:06] devinbileck opened #748 "For Cycle 20"
## Summary

- **BSQ requested**: **`1285.71`**
- USD requested: 900
- BSQ rate: 0.70 USD per BSQ
- Previous compensation request (if applicable): #718

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 100 | https://github.com/bisq-network/roles/issues/67#issuecomment-751877542 | 2 nodes
| Seed node operator | ops* |

[2020-12-29 00:21] freimair commented on #709
@ripcurlx it seems to me you did not look at the CR in detail. Chimp said to split the CR, and I did just that.

May I have at least some comment on this CR?

[2020-12-29 00:31] freimair commented on #734
@MwithM @ripcurlx this cr is not in the review project. Any reason for that?

[2020-12-29 02:23] leo816 commented on #738
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-12-29 02:24] leo816 commented on #745
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-12-29 04:41] pazza83 opened #749 "For Cycle 20"
## Summary

- **BSQ requested**: **`[1821]`**
- USD requested: [1275]
- BSQ rate: [0.7USD/BSQ] USD per BSQ
- Previous compensation request: #727

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Payment Maintainer Role | *Growth | 1000 | https://github.com/bisq-network/roles/issues/38#issuecomment-751939909 | This is my second cycle completing thi

[2020-12-29 07:23] MwithM commented on #740
TXID is: `492eb96490b679183a9be5d79a0736063ea7a81c0fbe852b853c5d0dd6ad1584`

[2020-12-29 07:27] MwithM commented on #734
No, I just forgot to put it into, sorry.

[2020-12-29 10:38] Bisq-knight commented on #745
Tx id = 5c1611186cc815b29c82a8e13adc2049b42ec3cd6c5353d95eaba244ee1bc964

[2020-12-29 13:21] ripcurlx commented on #746
TXID: `c00cac962ec80cf0c05353b089659f0195ce36d67ac9f25a89ff5eea1ca0e867`

[2020-12-29 14:41] RefundAgent opened #750 "For Cycle 20"
## Summary
Refund Agent compensation December 29.

37 cases handled , 50 USD each. $1850.

1.69397 BTC has been paid out giving an interest of 0.0169397 BTC = $454

In total $2304 or 3291.43 BSQ.

- **BSQ requested**: **`3291.43`**
- USD requested: 2304
- BSQ rate: 0.7 USD per BSQ
- Previous compensation request (if applicable): #730

## Contributions delivered

| Title | Team | USD | Link | Notes

[2020-12-29 14:41] ghost commented on #750
## Info
Read BSQ amount from summary: 3290
Read USD amount from summary: 2304
Read BSQ rate from summary: 0.7
Parsed lineitem: {"team":"support","amount":2304}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 3290.00 BSQ
   - Calculated total: 3291.43 BSQ

[2020-12-29 15:34] m52go commented on #749
@pazza83 could you please remove the asterisk in the team column for the growth kit and press kit items? Those are not role items so they don't need an asterisk.

Recommendation: many of the completed tasks listed in [the payment method maintainer role report](https://github.com/bisq-network/roles/issues/38#issuecomment-751939909) involve discussion, recommendations, proposals, etc—not firm contri

[2020-12-29 18:40] ripcurlx commented on #709
I didn't see that you made any changes as edits are not displayed visible in the timeline of the issue.
I can confirm that https://monitor.bisq.network nearly works as before.
<img width="1596" alt="Bildschirmfoto 2020-12-29 um 19 38 31" src="https://user-images.githubusercontent.com/170962/103306302-8a48f700-4a0d-11eb-9f1c-c92387b5f4be.png">
Do you have an idea why this are not working yet? That

[2020-12-29 22:04] burningman3 opened #751 "For Cycle 20"
## Summary

- **BSQ requested**: **`[1428.57]`**
- USD requested: [1000]
- BSQ rate: [0.7] USD per BSQ
- Previous compensation request (if applicable): #725

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issueco

[2020-12-29 22:38] ghost commented on #744
## Info
Read BSQ amount from summary: 2140
Read USD amount from summary: 1500
Read BSQ rate from summary: 0.7
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":0}
Parsed lineitem: {"team":"support","amount":0}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 2140.00 BSQ

[2020-12-30 09:44] leo816 commented on #751
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-12-30 09:47] leo816 commented on #750
Taking into account the approved "paid per case" [proposal](https://github.com/bisq-network/proposals/issues/222) , My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2020-12-30 14:20] ripcurlx commented on #744
I approve this compensation request.

[2020-12-30 15:32] freimair commented on #709
well now you know

I have no access to the monitoring infrastructure anymore after Bisq insisted that I hand it over. Emzy confirmed afaik that he received all he needs and I have given all the configuration I had. Am I now denied compensation because others fail to fill in?

A wild guess would be that the markets API cannot be reached (because its API changed or moved to another address) or the s

[2020-12-31 12:00] sqrrm commented on #747
Tx: 200b4195fbab745ef812eefe3b1977bd7e048bd0305a9c6e942ebd33334a51b7

[2020-12-31 23:02] ghost commented on #743
2907bd07e7e08f11ac974d7242ae1934b31db09b1f462ab7f9b15a6e52053a82

[2020-12-31 23:15] pedromvpg opened #752 "For Cycle 20"
## Summary

- **BSQ requested**: **`4857`**
- USD requested: 3400
- BSQ rate: 0.7 USD per BSQ

## Contributions delivered

Title | Team  | USD | Link  | Notes |
--    | --    | --  | --    | --    |
"The KYC System Has You" video  | growth 	| 2000 	| [Twitter Post](https://twitter.com/pedromvpg/status/1319748453245878273)	   |  |
Short message videos (5)	      | growth 	| 500 	| [1](https://drive.

[2020-12-31 23:36] m52go commented on #752
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests).

Another recent, notable example of the power of Pedro's "The KYC System Has You" video is [this @matt_odell tweet](https://twitter.com/matt_odell/status/1344475527151718401) from yesterday. People have spontaneously tweeted that video a few times now with great results.

[2020-12-31 23:36] m52go commented on #752
@pedromvpg please post the txid of your compensation request here as a new comment when you can.

[2020-12-31 23:39] pedromvpg commented on #752
https://mempool.space/bisq/tx/52f244d214e30706d35522aaced527c9281521723f3c1b0c136c2e5894b9618d

[2021-01-01 02:30] chimp1984 commented on #738
Tx ID: 05bfc43fd904c15f3ffe92dd40b7768c0154146782bcb3cb2060902e01a84ecc

[2021-01-01 07:27] wiz opened #753 "For Cycle 20"
## Summary

* **BSQ requested**: **`2000`**
* USD requested: 1400
* BSQ rate: 0.7 USD per BSQ
* Previous compensation request (if applicable): #732

## Contributions delivered in Cycle 20

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mempool Explorer Operator (2x) | ops* | 400 | https://github.com/bisq-network/roles/issues/107 | mempool.space, mempool.ninja |
| Bitcoin N

[2021-01-01 07:51] wiz commented on #753
58e134c4d8068fbd75c80285d65113ed82bd7332994addc66d1525cb085f5e08

[2021-01-01 08:08] devinbileck commented on #748
Tx ID b8dca50e2925d960d384f4b5c62e25780bfa8fd14c4d3f7a8980f1bd297cf7a8

[2021-01-01 12:22] Emzy commented on #742
TXID: 40739eb753b0b176afbcb8ce2a4b9c2258c03cef9b97ecfa5487636a6596f914

[2021-01-01 13:29] freimair commented on #708
It seems like a full review is not going to happen in time, thus, I create the CR anyways (plus I believe wiz said that the amounts are preapproved anyways)

4fe1b3161693ce631a1b9c5f13474b1da4f3c602f43190935b1ab78d856de08d

[2021-01-01 13:35] freimair commented on #709
Since time is running short and it seems like this CR is not going to get a nACK/ACK in time (again), I file the CR anyways and thereby trust the Bisq community to come to a proper conclusion.

7df83af561c0811789dbbe5fe306e29d4549de4eb340a01026ea8e6fabd2427d

[2021-01-01 13:37] freimair commented on #734
Since time is running short and it seems like this CR is not going to get a nACK/ACK in time (again), I file the CR anyways and thereby trust the Bisq community to come to a proper conclusion.

c71bce3791ccd0aac96360976a7cc1e3b94bc4b8801bfad7e02d4ef1106b76a8

[2021-01-01 13:52] freimair commented on #738
Following Bisq's policy and budgeting efforts render PR (or issues fixed) not marked "bug", "critical" or "priority" to not be up for compensation in order to battle overspending, BSQ inflation, and focus work on what is most important. This has been put in place months ago and enforced ever since.

Looking at your CR while keeping the aforementioned Bisq policy and budgeting efforts in mind, make

[2021-01-01 15:00] wiz commented on #708
Didn't @Emzy takeover running the monitor from you a couple months ago?

[2021-01-01 15:03] wiz commented on #742
Approved for ops. Please shut down V2 seed nodes now.

[2021-01-01 15:03] wiz commented on #748
Approved for ops

[2021-01-01 15:04] wiz commented on #746
Approved for ops

[2021-01-01 15:08] burningman3 commented on #751
Tx ID: 040e63020376d76f9713c88412ae22cd4ffa488197a0f8c9d9669318c294fafa

[2021-01-01 15:14] Emzy commented on #742
both? ore only one after another?

[2021-01-01 17:30] ripcurlx commented on #709
I would appreciate that we get the monitor in a state, that the most important KPI does work again. Maybe @emzy could you directly contact @freimair to figure this out? But besides that open issue IMO as [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request.

[2021-01-02 01:51] pazza83 commented on #749
Thanks @m52go for the feedback.

I agree with your comments. Next cycle I will try and better break things down by the stages they are in the process; proposed > researching > discussing > agreed / rejected > implementing > implemented > marketing etc (need to confirm what these will be, that is one of the tasks I want to completed when putting the above into a kanban board.

Hopefully each cycle

[2021-01-02 01:52] pazza83 commented on #749
txid: f51ac9ffcb8b2aae8b531bd27b23ecb4e8efef04f84660e226b7af99a55941ab

[2021-01-02 11:58] RefundAgent commented on #750
Proposal tx ID: d031*********************9fae28

[2021-01-02 15:22] alexej996 opened #754 "For Cycle 20"
## Summary
This is a compensation request for work done in Cycle 19.

- **BSQ requested** : **357**
- USD requested: **250**
- BSQ rate: **0.7** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/713

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bisq

[2021-01-02 15:26] freimair commented on #708
@wiz If you take a closer look my CR is for cycle 18 and 19. Whereas the amount for cycle 19 is rather small - because emzy took over. And actually, DNS was updated only two weeks ago.

[2021-01-02 15:28] wiz commented on #708
Ah okay for some reason I thought he took it over a while ago. Approved for ops

[2021-01-02 19:17] m52go commented on #754
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests) for growth :+1:

[2021-01-03 02:06] leo816 commented on #744
proposal tx id: 31c5e6d0c9abe2341ca3e713cf05a0bb507e55947f8871f328450d16b84a5aac

[2021-01-03 08:46] MwithM commented on #736
Please submit in a comment the TXID for DAO copensation request.

[2021-01-03 10:47] alexej996 commented on #754
DAO txid: **2debf523022873367b451881018486d36038d89a90852572b8f13022541ba37c**

[2021-01-03 20:43] oscarguindzberg commented on #736
3d4c102214929cbd58b21efaa78abf995620064d02dbb74bb7740fc20a02fbf9

[2021-01-04 18:54] ripcurlx commented on #753
I approve this request.

[2021-01-06 18:12] ripcurlx commented on #754
@wiz is it approved by you as well for ops?

[2021-01-06 23:31] wiz commented on #754
Yes sorry missed this one - approved for ops

[2021-01-10 17:53] MwithM commented on #739
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 17:53] #739 closed, assigned to m52go, MwithM

[2021-01-10 18:33] MwithM opened #755 "BSQ rate for Cycle 21 is 0.75 USD per 1 BSQ"
The recommended rate to be used for compensation requests on cycle 21 is 0.75USD/BSQ.

30 Day BTC/BSQ: 0.00004290
30 Day USD/BSQ: 0.93
90 Day BTC/BSQ: 0.00005020
90 Day USD/BSQ: 0.8

More info about the Compensation process at https://bisq.wiki/Compensation
Rate for last cycle: #735

[2021-01-10 21:39] MwithM commented on #737
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:39] #737 closed, assigned to m52go

[2021-01-10 21:39] MwithM commented on #740
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:39] #740 closed, assigned to m52go, leo816

[2021-01-10 21:40] MwithM commented on #752
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:40] #752 closed, assigned to m52go

[2021-01-10 21:40] MwithM commented on #741
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:40] #741 closed, assigned to ripcurlx

[2021-01-10 21:40] MwithM commented on #745
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:40] #745 closed, assigned to leo816

[2021-01-10 21:40] MwithM commented on #747
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:40] #747 closed, assigned to ripcurlx

[2021-01-10 21:41] MwithM commented on #709
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:41] #709 closed, assigned to ripcurlx

[2021-01-10 21:41] MwithM commented on #738
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:41] #738 closed, assigned to ripcurlx, leo816

[2021-01-10 21:41] MwithM commented on #743
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:41] #743 closed, assigned to ripcurlx

[2021-01-10 21:42] MwithM commented on #751
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:42] #751 closed, assigned to leo816

[2021-01-10 21:42] MwithM commented on #746
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:42] #746 closed, assigned to wiz, sqrrm

[2021-01-10 21:42] MwithM commented on #742
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:42] #742 closed, assigned to wiz

[2021-01-10 21:42] MwithM commented on #748
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:42] #748 closed, assigned to wiz

[2021-01-10 21:43] MwithM commented on #749
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:43] #749 closed, assigned to leo816

[2021-01-10 21:43] MwithM commented on #750
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:43] #750 closed, assigned to leo816

[2021-01-10 21:43] MwithM commented on #708
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:43] #708 closed, assigned to ripcurlx, wiz

[2021-01-10 21:44] MwithM commented on #744
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:44] #744 closed, assigned to ripcurlx

[2021-01-10 21:44] MwithM commented on #754
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:44] #754 closed, assigned to wiz, m52go

[2021-01-10 21:44] MwithM commented on #736
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:44] MwithM commented on #753
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:44] #753 closed, assigned to ripcurlx

[2021-01-10 21:46] MwithM commented on #734
Cycle 20 DAO vote failed. Submit a new DAO request for next cycle.

[2021-01-10 21:46] #734 closed, assigned to ripcurlx

[2021-01-10 21:49] MwithM commented on #735
Cycle 20 finished.

[2021-01-10 21:49] #735 closed, assigned to nobody

[2021-01-10 21:54] MwithM opened #756 "For Cycle 21"
## Summary

- **BSQ requested**: **`3448`**
- USD requested: 2586
- BSQ rate: 0.75 USD per BSQ as per #755
- Previous compensation request (if applicable): #740 and #724

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Community Manager| *Growth | 500 | https://github.com/bisq-network/roles/issues/95 | (Cycle 20) |
|Transifex Admin| *Growth | 100

[2021-01-11 00:30] pazza83 opened #757 "For Cycle 21"
## Summary

- **BSQ requested**: **`[3700]`**
- USD requested: [2775]
- BSQ rate: [0.75 USD/BSQ] USD per BSQ as per https://github.com/bisq-network/compensation/issues/755
- Previous compensation request: #749 and #727

## Contributions delivered for Cycle 21

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Payment Maintainer Role | *Growth | 1000 | https://github.com/bisq-n

[2021-01-13 09:00] ripcurlx commented on #755
Do we want to use the same BSQ rate for the Cycle 20 contributions that failed?

[2021-01-13 09:00] ripcurlx opened #758 "For Cycle 21"
## Summary

- **BSQ requested**: **`11546`**
- USD requested: `8660`
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #746

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev | 3861 | https://github.com/bisq-network/roles/issues/63#issuecomment-751740473 | (Cycle 20) |
| Bisq Desktop Maintai

[2021-01-13 09:29] MwithM commented on #755
Problem would be that most contributors will be compensated for tasks done at Cycle 21 and do it into the same proposal. Maybe we could use an in-between rate for all proposals, even those which only are meant for a single cycle?

[2021-01-14 16:13] MwithM commented on #755
I propose to change the current rate of 0.8USD per BSQ to 0.75USD per BSQ. That's half way between Cycle 20 and 21 rates. The change will be made in 3 days if no one is against it.

[2021-01-18 14:59] leo816 opened #759 "For Cycle 21"
## Summary

- **BSQ requested**: **`5026`**
- USD requested: 3770
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #744

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-736905208 | Cycle 20 |
| Mediator |Support | 1000 |  https://

[2021-01-19 17:01] MwithM commented on #759
You should separate and specify what tasks correspond to cycle 20. https://github.com/orgs/bisq-network/teams/dao/discussions/21

[2021-01-21 07:44] freimair opened #760 "For Cycle 21"
## Summary

- **BSQ requested**: **`760`**
- USD requested: 570
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #708

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Monitoring Operator/Maintainer Cycle 18 | ops* | 200 | https://github.com/bisq-network/roles/issues/10#issuecomment-712851330 |(Cycle 20) |
| Monitoring

[2021-01-21 07:46] freimair opened #761 "For Cycle 21"
## Summary

- **BSQ requested**: **`3667`**
- USD requested: 2750
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #709

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Establish network usage metrics | dev | 2250 | https://github.com/bisq-network/projects/issues/13#issuecomment-701471826 | (Cycle 20)|
| Software part

[2021-01-21 07:50] freimair opened #762 "For Cycle 21"
## Summary

- **BSQ requested**: **`4000`**
- USD requested: 3000
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #734

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Reduce bandwidth requirement on Bisq startup | dev | 3000 | bisq-network/projects#25 | the project got completed recently, and given the design is the

[2021-01-21 09:26] MwithM commented on #760
It looks like there's a reason to open 3 different compensation requests on this cycle, but just FYI and those who might ask.
https://github.com/orgs/bisq-network/teams/dao/discussions/21

[2021-01-24 21:09] ghost opened #763 "For Cycle 21"
## Summary

- **BSQ requested**: **`2667`**
- USD requested: 2000
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/743

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Privacy improvements for manual payout | dev | 600 | https://github.com/bisq-network/bisq/pull/48

[2021-01-25 18:15] ChanoSan opened #764 "For Cycle 21"
## Summary

- **BSQ requested**: **`228.29`**
- USD requested: 171.22
- BSQ rate: 0.75 USD per BSQ as in #755
- Previous compensation request (if applicable): #739

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Japanese Translator | Growth | 101.22 | image/notes at bottom | desktop strings |
| Japanese Translator | Growth | 70 | image/notes at

[2021-01-26 11:47] Emzy opened #765 "For Cycle 21"
## Summary

- **BSQ requested**: **`3333`**
- USD requested: 2500
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #719 and #742

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 | (Cycle 20) |
| 5* Seed node operator | ops* | 500 | bisq-network/roles#15 | (

[2021-01-26 12:05] burningman3 opened #766 "For Cycle 21"
## Summary

- **BSQ requested**: **`[2666.67]`**
- USD requested: [2000]
- BSQ rate: [0.75] USD per BSQ
- Previous compensation request (if applicable): #751

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issuec

[2021-01-26 14:40] ghubstan opened #767 "For Cycle 21"
## Summary

- **BSQ requested**: **`20200`**
- USD requested: 15150
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #741

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Define new grpc bsq/btc balances protos | dev |25| https://github.com/bisq-network/bisq/pull/4793 | (Cycle 20) |
| Add proto wrappers for sending bs

[2021-01-27 03:39] chimp1984 opened #768 "For Cycle 21 [Please reject my proposal as we are over the max issuance limit]"
## Summary

Please reject my proposal as we are over the max issuance limit!

- **BSQ requested**: **`31133.33`**
- USD requested: 23350
- BSQ rate: 0.75 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| UI improvements | dev | 300 | https://github.com/bisq-network/bisq/pull/4914 | - |
| Property fields must not be set from non JavaFX

[2021-01-27 03:39] ghost commented on #768
## Info
Read BSQ amount from summary: 3113333
Read USD amount from summary: 23350
Read BSQ rate from summary: 0.75
Parsed lineitem: {"team":"dev","amount":300}
Parsed lineitem: {"team":"dev","amount":50}
Parsed lineitem: {"team":"dev","amount":300}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":200}
Parsed lineitem: {"team":"dev","amount":100}
Parsed lineitem: {

[2021-01-27 12:00] refund-agent2 opened #769 "For Cycle 21"
## Summary

- **BSQ requested**: **`3891.83`**
- USD requested: 2918.87
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): N/A

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Refunds | *Support | 2918.87 | https://github.com/bisq-network/roles/issues/93#issuecomment-768237963 |  |

## Contributions in progress

[2021-01-27 15:09] pedromvpg opened #770 "For Cycle 21"
## Summary

- **BSQ requested**: **`5200`**
- USD requested: 3900
- BSQ rate: 0.75 USD per BSQ (as per [#735](https://github.com/bisq-network/compensation/issues/755))
- Previous compensation request: [752](https://github.com/bisq-network/compensation/issues/752) (failed Cycle 20)

## Contributions delivered

Title | Team  | USD | Link  | Notes |
--    | --    | --  | --    | --    |
"The KYC Syst

[2021-01-27 15:09] ghost commented on #770
## Info
Read BSQ amount from summary: 5200
Read USD amount from summary: 3900
Read BSQ rate from summary: 0.75
Parsed lineitem: {"team":"growth","amount":2000}
Parsed lineitem: {"team":"growth","amount":500}
Parsed lineitem: {"team":"growth","amount":800}
Parsed lineitem: {"team":"growth","amount":100}
Parsed lineitem: {"team":"growth","amount":150}
Parsed lineitem: {"team":"growth","amount":150}

[2021-01-27 16:15] MwithM commented on #767
Please mark at the notes the tasks that were already approved by team leader at at Cycle 20. https://github.com/orgs/bisq-network/teams/dao/discussions/21

[2021-01-27 18:42] cbeams opened #771 "For Cycle 21"
## Summary

- **BSQ requested**: 133
- USD requested: 100
- BSQ rate: [0.75](https://github.com/bisq-network/compensation/issues/755) USD per BSQ
- Previous compensation request (if applicable): #720 and #737
## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 | https://github.com/bisq-network/roles/issues/18#issuecomment-7500

[2021-01-27 22:35] devinbileck opened #772 "For Cycle 21"
## Summary

- **BSQ requested**: **`2533.33`**
- USD requested: 1900
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #748

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 100 | https://github.com/bisq-network/roles/issues/67#issuecomment-751877542 | (Cycle 20) 2 nodes
| Seed node operat

[2021-01-27 23:03] sqrrm opened #773 "For Cycle 21"
## Summary

- **BSQ requested**: **`6413`**
- USD requested: 4810
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #721 and #747

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Sign specific account | dev | 320 | https://github.com/bisq-network/bisq/pull/4957 | (Cycle 20) |
||||https://github.com/bisq-network/bisq/pul

[2021-01-28 00:27] stejbac opened #774 "For Cycle 21"
## Summary

- **BSQ requested**: **`800.00`**
- USD requested: 600
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/726

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Add taker check for deposit amount | dev | 300 | https://github.com/bisq-network/bisq/pull/4860 |

[2021-01-28 03:12] chimp1984 commented on #774
I consider the value of your contributions much higher as what you are requesting for. Specially #4860 was a very important fix (even technically fixed earlier already).

[2021-01-28 04:54] m52go commented on #756
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests)—please post txid when you can.

[2021-01-28 04:55] m52go commented on #764
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests). Though as we did for Chinese (pausing efforts until there's a mobile app), we might want to reconsider efforts for Japanese since there isn't much momentum with JPY market.

[2021-01-28 04:56] m52go commented on #770
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests) :+1:

We're going to be looking for a way to organize all these great assets and templates Pedro has been creating soon.

[2021-01-28 04:57] m52go opened #775 "[WIP] For Cycle 21"
.

[2021-01-28 05:03] ChanoSan commented on #764
Understandable. Would this mean stopping all JP localization, or simply scaling it down?

Also, shall I submit a DAO request for this?

[2021-01-28 05:10] m52go commented on #764
I think scaling down would be best, but I wonder how we can do that? Maybe we can discuss more on Keybase.

Yes, I should have mentioned that—please go ahead.

[2021-01-28 08:29] MwithM commented on #756
Waiting for @leo816 approval.

[2021-01-28 10:27] RefundAgent opened #776 "For Cycle 21"
## Summary
Refund Agent compensation January 28.

42 cases handled , 50 USD each. $2100. This includes the cases from cycle 20 which was not compensated and thus inclcudes the cases from November 27 until now.

1.69397 BTC has been paid out giving an interest of 0.0169397 BTC = $454
It is actually a bit more, but I donate the rest to the DAO.

In total $2554 or 3405.33 BSQ.

- **BSQ requested**: *

[2021-01-28 10:27] ghost commented on #776
## Info
Read BSQ amount from summary: 3405.33
Read USD amount from summary: 2554

## Errors
Unknown team specified: first
Invalid amount specified: item
Tableformat: request lineitem #1 did not pass validation.
No compensation lineitems found.

[2021-01-28 11:00] leo816 commented on #756
Please indicate the cycle number on your Support Agent report. My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-01-28 11:29] MwithM commented on #756
TXID `95ab9c0d4c8efa53ea859e97478417a126c28b0cd205702a56f175bf98ecfdc1`

[2021-01-28 11:44] sqrrm commented on #774
@stejbac I agree with @chimp1984 here. You really should ask for a lot more for these valuable contributions.

[2021-01-28 11:54] ChanoSan commented on #764
TXID `4dc9b38c0409da108f6e035c82029650dd35244f7d5c214c82c0eb5ba10efd15`

[2021-01-28 12:56] stejbac commented on #774
OK, I'll amend the request. (I wasn't sure about #4860 as I had already claimed compensation for the earlier effective fix.)

[2021-01-29 00:28] leo816 commented on #766
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-01-29 00:29] leo816 commented on #768
From the support side, My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-01-29 00:31] leo816 commented on #769
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-01-29 00:34] leo816 commented on #776
please use refundagent2's example of the cycle report for future reports https://github.com/bisq-network/roles/issues/93#issuecomment-761772749

[2021-01-29 01:21] chimp1984 commented on #768
TxID: 35b06bbbc8f8722ef1a14a2f277a2d54cde1c28bde98f9248db2351307fd7098

[2021-01-29 09:35] ripcurlx commented on #768
As [dev team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request.

[2021-01-29 10:30] ripcurlx commented on #758
Sorry about the late update, but I was 🤢  the last couple of days.

[2021-01-29 10:39] ripcurlx commented on #773
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-01-29 10:40] ripcurlx commented on #774
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-01-29 10:41] ripcurlx commented on #767
@sqrrm Could you please jump in on reviewing this items? Thanks!

[2021-01-29 10:42] ripcurlx commented on #761
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-01-29 10:43] ripcurlx commented on #763
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-01-29 10:44] ripcurlx commented on #760
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-01-29 11:18] sqrrm commented on #767
I approve of this CR.

[2021-01-29 11:19] sqrrm commented on #758
I approve of this CR.

[2021-01-29 18:54] MwithM commented on #776
@leo816 Is it approved?

[2021-01-29 21:55] leo816 commented on #776
@RefundAgent from your report I counted less than 42 cases since cycle 19. Could you specify since what date do you start counting?

[2021-01-30 00:03] stopfeds opened #777 "For Cycle 21"
## Summary

- **BSQ requested**: **282**
- USD requested: 212
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable):

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| German Bisq-website translation | Growth | 150 | --- | --- |
| German Bisq-desktop translation | Growth | 62 | --- | --- |

![Cycle 21 Website strings yml](htt

[2021-01-30 07:32] MwithM commented on #777
Hi, you're submittin this [late](https://github.com/orgs/bisq-network/teams/dao/discussions/21) for review. Please do it on time next time.
For budgeting reasons, could you make it 150 USD for website and 62 USD for desktop?
The compensation request is approved. Submit the proposal to DAO and comment here the resulting TXID.

[2021-01-30 08:21] freimair commented on #760
since amouts for ops has been approved by wiz in the failed cycle 20 request, I go forward and submit the request for voting:

6214d094a6dc868d52a9377d6a258b0439480c44eb105ffe6bd577a2

[2021-01-30 08:23] freimair commented on #761
401350ec7ea688cd3cde2adbdab16c3f0b85e6fc5e3f67a8678a50eec2f31ba2

[2021-01-30 08:24] freimair commented on #762
@ripcurlx is this CR going to be ignored by bisq officials for Cycle 21 as well?

[2021-01-30 11:03] stopfeds commented on #777
`cdeaa65584a565e148b8b150add5c98d7cf4511a4c88894fc440c0e7bc09c96b`

[2021-01-30 11:30] stopfeds commented on #777
Hey, don't really get what you mean (link doesn't work) because there are still 3-4 days left (Proposal Phase).
Sorry for the inconvenience.

[2021-01-30 14:43] ripcurlx commented on #758
Proposal transaction ID: `e0b08e125cc26ef1d46ed241d90c6b12a9f2f1ada89a16904b27d5b99003bedf`

[2021-01-30 14:59] ripcurlx commented on #762
The last time it was for discussion for this amount it was rejected by @chimp1984. As I don't think it will find consensus during DAO voting for this amount I'm holding off until a consensus is found between you and @chimp1984.

[2021-01-30 15:03] ripcurlx commented on #777
@stopfeds The link doesn't work for you as you are not part of the Bisq GitHub organisation right now. I've just sent you an invitation to it.

[2021-01-30 15:55] burningman3 commented on #766
Tx ID: aba1049c4d2be099c4e8b01f592450cc24b73c06573ab9ff9be2067e776f0368

[2021-01-31 00:39] leo816 commented on #776
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-01-31 01:51] stejbac commented on #774
Tx ID: cc405b54a8992065cc32a04578e7c2d35af0b7ddb3eee3cda6b452867ec07d30

[2021-01-31 07:22] ghost commented on #771
## Info
Read BSQ amount from summary: 75
Read USD amount from summary: 100
Read BSQ rate from summary: 0.75
Parsed lineitem: {"team":"admin","amount":25}
Parsed lineitem: {"team":"admin","amount":25}
Parsed lineitem: {"team":"admin","amount":25}
Parsed lineitem: {"team":"admin","amount":25}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 75.00 BSQ
   - Calcula

[2021-01-31 07:24] cbeams commented on #771
@m52go, I forgot to remove the `[WIP]` prefix from this request. I've removed it now, can you review/approve?

[2021-01-31 10:38] Emzy commented on #765
TXID: 51a3c09fc4073ce101fc7639529e59184fc85b59506e46e09f108b7882ff0b4d

[2021-01-31 11:45] MwithM commented on #777
You should submit the proposal for review 7 days before end of proposal phase. https://bisq.wiki/Compensation#Create_your_compensation_request_issue

[2021-01-31 11:46] MwithM commented on #765
@wiz the amount is not small, I'd like your thumbs up here.

[2021-01-31 12:26] refund-agent2 commented on #769
TXID 33dc620aadabfdcca953e844ec8d8493f3f819ceb3158dd242cfc38b55c29c17

[2021-01-31 15:19] m52go commented on #771
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests)—please submit your request to the DAO and post txid here.

[2021-01-31 17:28] m52go commented on #757
Great stuff @pazza83, [approved](https://bisq.wiki/Compensation#Review_team_member_requests) from my end :+1:

[2021-01-31 18:50] MwithM commented on #770
Please comment here the TXID of your proposal.

[2021-01-31 20:37] chimp1984 commented on #768
As we are over 300k we need to reduce some expenses. There is a hard limit (DAO param so can be changed) with 300k BSQ to be issued, if we are higher it would invalidate the cycle (again). So to avoid that I will make another request just before the proposal phase ends with a lower amount so we do not exceed that. My initial request need to be down-voted then to invalidate it.

https://docs.google

[2021-02-01 00:16] Emzy commented on #768
This is a paring error. Somehow the "." from "31133.33" was not parsed.

[2021-02-01 00:18] chimp1984 commented on #768
I used a `,` for comma, the parser requires anglosaxon `.`.

[2021-02-01 00:43] ghost commented on #763
TxId: 1df196950625041121f5063681fa7bed5d8bdb0dc12ede17e8a95b7d3be5f5f7

[2021-02-01 02:28] pazza83 commented on #757
Thanks,

@MwithM, I think @leo816 needs to approve the support parts.

[2021-02-01 06:50] devinbileck commented on #772
d07a7ee58538ad5909eb0c16768cec77f631a48dba2a85f76c0f7ff7a9574c9a

[2021-02-01 09:44] sqrrm commented on #773
I am holding off creating the in app request due to hitting the max compensation request limit in the DAO. Next cycle I will add BSQ `6413` for previous work done, linking this request.

[2021-02-01 12:40] MwithM commented on #736
@oscarguindzberg
Could you confirm that you have submitted the request with TXID 7053913491640f03819aa1b426453573cad3dc6fb3cba3f5b5f9ae78d1ef475d ?

It should have been opened as a new issue for Cycle 21. You probably missed the channels where this was informed through (you're not part of https://github.com/orgs/bisq-network/teams/dao/discussions/ and probably you're not at compensation Keybase ch

[2021-02-01 15:06] freimair commented on #768
let me just repeat what I commented on your Cycle 20 CR:

seems to be especially valid now as this CR threatens to fail again because of overspending.

[2021-02-01 15:08] freimair commented on #762
well now I am properly confused.

I had the understanding that the Bisq community decides on whether something gets compensated or not. And I have been under the impression that the Bisq community is more than one individual (as a matter of fact, there are at least 3: me, you and chimp1984). So why can one community member stop a CR in its tracks?

Furthermore, given one community member can stop

[2021-02-01 15:17] #775 closed, assigned to nobody

[2021-02-01 16:09] chimp1984 commented on #768
Those restrictions on expenses have been made in times when Bisq was not sustainable from the revenue stream. Luckily we are in a better situation now and due lack of work force to maintain the projects area those rules have not been updated. I prefer to spend my time on coding instead of management and nobody else took time either.

As you know Bisq is based on meritocracy, so the merits everyone

[2021-02-01 16:18] chimp1984 commented on #762
I cannot speak for @ripcurlx but I assume his motivation is that he has not reviewed your contribution so he depends on others who know more about it, which is me in that case. You can file a request anyway independent of @ripcurlx approval, this is just to help to find consensus.

As we discussed sufficiently in the past I did not consider your PR as mergable and following our basic rule that onl

[2021-02-01 19:35] RefundAgent commented on #776
txID 6e47cf*****************************364fb

[2021-02-02 07:29] cbeams commented on #771
txid: `eb4eea53be535fccc0db3899d2c31493a079bac3646234c647ec6ef6438eb8ed`

[2021-02-02 09:58] freimair commented on #762
You stated in a [commit](https://github.com/bisq-network/bisq/pull/4519/commits/8458a88d7fbf070b002d0f3533e21bafa789003f) that you fixed a bug and later, in private conversation, you admitted that it wasn't actually a bug, but something quite necessary. Just an example on how good you understood what the PR did. But we already had that discussion.

Well, you took my work, changed it a little and s

[2021-02-02 10:10] robkaandorp opened #778 "For Cycle 21"
## Summary

- **BSQ requested**: **`133.33`**
- USD requested: 100
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/715

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BTC Node operator | ops* | 50 | https://github.com/bisq-network/proposals/issues/189 | This is for

[2021-02-02 10:12] robkaandorp commented on #778
DAO txid: 6ab72bb0ffdade5cb84b2367a5b70fa19d5c1ffc92b4a0e5639c09c5357f6cfa

[2021-02-02 10:59] MwithM commented on #778
This compensation request is 6 days late. https://github.com/orgs/bisq-network/teams/dao/discussions/21

[2021-02-02 11:57] chimp1984 commented on #762
Anyone can have a look to your original PR to make their own opinion. There have been good reasons why that PR went through endless review discussions and never got an OK from 2 different reviewers (me not included). Don't provoke me to list more of the terrible and weird details of that PR... I would have been faster to rewrite from scratch anyway instead of doing a code refactor of your code whi

[2021-02-02 14:38] alexej996 opened #779 "For Cycle 21"
## Summary
This is a compensation request for work done in Cycle 20.

- **BSQ requested** : **333**
- USD requested: **250**
- BSQ rate: **0.75** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/754
- (didn't meet the deadline for republishing the compensation)

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | ---

[2021-02-02 14:46] alexej996 commented on #779
DAO txid: **31ca331224f82579cfdb1a3382a5a80bc759c095c1c2410120a6649debb3d230**

[2021-02-02 16:21] ghubstan commented on #767
@ripcurlx I think I need to get a 'paste your proposal tx' msg from you.
I think the cycle phase for doing this has not arrived, but I want to ping you just to make sure I get this included in cycle 21.

[2021-02-02 17:13] oscarguindzberg commented on #736
@MwithM It was the guarantor who submitted tx id 7053913491640f03819aa1b426453573cad3dc6fb3cba3f5b5f9ae78d1ef475d. He is going to receive the BSQ.
@wiz @sqrrm please, let me know if I have to do something.

[2021-02-02 17:41] ghost commented on #736
## Info
Read BSQ amount from summary: 7142.86
Read USD amount from summary: 5000
Parsed lineitem: {"team":"dev","amount":5000}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 7142.86 BSQ
   - Calculated total: 6666.67 BSQ

[2021-02-02 19:35] MwithM commented on #767
@ghubstan I'm quite sure that you can submit your proposal after @sqrrm approved the request after ripcurlx asked him to review it.
The proposal phase ends in about 24h you should submit it before then, and copy the TXID in a comment.

[2021-02-02 21:33] ghubstan commented on #767
0f8bacca45221ca2b8ac2a77ff82cfbdbed46e8939f5b147342581172b0b3e98

[2021-02-03 00:00] pazza83 commented on #757
Tx ID: 737f5eb5b0175a6e748fe0aa644f32f8ba3e3695ecb3c800148b353c75eb3ae8

[2021-02-03 09:35] ripcurlx commented on #767
Sorry about that. Yes, I approve this compensation request as team lead for dev.

[2021-02-03 09:52] leo816 commented on #757
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request, thanks.

[2021-02-03 10:51] ripcurlx commented on #758
~To get under the limit for this cycle, please downvote this CR and I'll re-submit it for next cycle.~

After talking with other contributors it doesn't seem to be necessary to remove my CR after all, so please 👍 again :wink:

[2021-02-03 10:54] ghost commented on #758
## Info
Parsed lineitem: {"team":"dev","amount":3861}
Parsed lineitem: {"team":"dev","amount":1770}
Parsed lineitem: {"team":"ops","amount":50}
Parsed lineitem: {"team":"ops","amount":50}
Parsed lineitem: {"team":"ops","amount":25}
Parsed lineitem: {"team":"ops","amount":25}
Parsed lineitem: {"team":"dev","amount":1020}
Parsed lineitem: {"team":"dev","amount":510}
Parsed lineitem: {"team":"dev","a

[2021-02-03 13:56] ghubstan commented on #767
Np, 0f8bacca45221ca2b8ac2a77ff82cfbdbed46e8939f5b147342581172b0b3e98 again.

[2021-02-03 18:55] MwithM commented on #759
Is 8e2fe97ed8c6f7dd7d4e9793694744ae2eccc52758eb994f0c8a00b325e50c96 yours? @leo816

[2021-02-03 19:35] leo816 commented on #759
yes, proposal tx id: 8e2fe97ed8c6f7dd7d4e9793694744ae2eccc52758eb994f0c8a00b325e50c96

[2021-02-04 17:59] chimp1984 commented on #768
Please reject my proposal as we are over the max issuance limit!
I will redo it next cycle with exact same numbers/price.

[2021-02-04 19:35] MwithM commented on #768
If you edit the first post to ask for 0 BSQ the parser will fail and it will be even more evident that this compensation request should be rejected.

[2021-02-07 12:52] ripcurlx commented on #736
The validation issue is because this CR was initially posted for cycle 20 where the USD/BSQ rate was 0,70, but in this cycle (21) it was adapted to 0,75.

[2021-02-07 13:00] ripcurlx commented on #772
@wiz  It would be great if you could approve all ops related CRs as it is additional work for other voters if they have to check other CRs from the same person if it was approved in the past already. Thanks!

[2021-02-07 13:12] ripcurlx commented on #770
@pedromvpg Could you please confirm if `b9c45f0949263962e452e5b1a28509d5e095a56cebe16f1287a8538d6fc8925d` is the correct TXID? Thanks!

[2021-02-07 20:10] pedromvpg commented on #770
Yes, any issues?

[2021-02-07 20:27] ripcurlx commented on #770
No, I missed to look it up in your CR text 😬

[2021-02-08 07:14] cbeams commented on #762
For the record: when there is contention about a compensation request being approved (as is the case here), there is nothing stopping the contributor from going ahead with submitting their request to the DAO, and there is nothing stopping DAO stakeholders from voting for it as they see fit. In such a case, it is the submitting contributor's burden to make a convincing case as to why their request

[2021-02-08 11:10] doitsu232 opened #780 "For Cycle 22 (old)"
## Summary

- **BSQ requested**: **`77.40`**
- USD requested: 185.78
- BSQ rate: 2.40 USD per BSQ
- Previous compensation request (if applicable): #610 #780

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DE Translation for Bisq Desktop | growth | 104.23 | see screenshot | after 16.07.2020 |
| DE Translation for Bisq Website | growth | 81.55 | s

[2021-02-08 11:18] doitsu232 commented on #780
will request this for cycle 22

[2021-02-10 03:06] wiz opened #781 "For Cycle 22"
Since DAO cycle 20 failed and DAO cycle 21 was over the issuance limit, this is my compensation request for cycles 20, 21, and 22 combined. Since my stuff is the same for each cycle I'm using the average rate of 70 cents, 80 cents, and 121 cents = 90 cents for simple calculation.

## Summary

* **BSQ requested**: **`4666`**
* USD requested: 4200
* BSQ rate: 0.90 USD per BSQ
* Previous compensation

[2021-02-10 03:06] ghost commented on #781
## Info
Read BSQ amount from summary: 4516
Read USD amount from summary: 4200
Read BSQ rate from summary: 0.93
Parsed lineitem: {"team":"ops","amount":400}
Parsed lineitem: {"team":"ops","amount":200}
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"ops","amount":200}
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"ops","amount":300}
Parsed lineitem: {"

[2021-02-10 16:03] MwithM commented on #762
closed as rejected.

[2021-02-10 16:03] #762 closed, assigned to ripcurlx

[2021-02-10 16:04] MwithM commented on #768
Closed as rejected.

[2021-02-10 16:04] #768 closed, assigned to ripcurlx

[2021-02-10 16:05] ghost commented on #736
Issuance cannot be displayed as there were errors in the comp request

[2021-02-10 16:05] MwithM commented on #736
Closed as accepted

[2021-02-10 16:05] #736 closed, assigned to ripcurlx

[2021-02-10 16:06] ghost commented on #765
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|3333.00|2500.00|

Total Issuance: 3333.00 BSQ (equivalent to: 2500.00 USD)

[2021-02-10 16:06] MwithM commented on #765
Closed as accepted.

[2021-02-10 16:06] #765 closed, assigned to wiz

[2021-02-10 16:07] ghost commented on #772
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|2533.33|1900.00|

Total Issuance: 2533.33 BSQ (equivalent to: 1900.00 USD)

[2021-02-10 16:07] MwithM commented on #772
Closed as accepted.

[2021-02-10 16:07] #772 closed, assigned to wiz

[2021-02-10 16:07] ghost commented on #778
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|133.33|100.00|

Total Issuance: 133.33 BSQ (equivalent to: 100.00 USD)

[2021-02-10 16:07] MwithM commented on #778
Closed as accepted.

[2021-02-10 16:07] #778 closed, assigned to wiz

[2021-02-10 16:12] ghost commented on #773
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|6066.35|4550.00|
|ops|346.65|260.00|

Total Issuance: 6413.00 BSQ (equivalent to: 4810.00 USD)

[2021-02-10 16:12] MwithM commented on #773
Was not submitted.

[2021-02-10 16:12] ghost commented on #770
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|5200.00|3900.00|

Total Issuance: 5200.00 BSQ (equivalent to: 3900.00 USD)

[2021-02-10 16:12] MwithM commented on #770
Closed as accepted.

[2021-02-10 16:12] #770 closed, assigned to m52go

[2021-02-10 16:12] ghost commented on #756
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|1681.33|1261.00|
|support|1333.33|1000.00|
|admin|433.33|325.00|

Total Issuance: 3448.00 BSQ (equivalent to: 2586.00 USD)

[2021-02-10 16:13] MwithM commented on #756
Closed as accepted.

[2021-02-10 16:13] #756 closed, assigned to m52go, MwithM, leo816

[2021-02-10 16:14] ghost commented on #764
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|228.29|171.22|

Total Issuance: 228.29 BSQ (equivalent to: 171.22 USD)

[2021-02-10 16:14] MwithM commented on #764
Closed as accepted.

[2021-02-10 16:14] #764 closed, assigned to m52go, MwithM

[2021-02-10 16:15] ghost commented on #760
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|360.00|270.00|
|dev|400.00|300.00|

Total Issuance: 760.00 BSQ (equivalent to: 570.00 USD)

[2021-02-10 16:15] MwithM commented on #760
Closed as accepted.

[2021-02-10 16:15] #760 closed, assigned to ripcurlx, wiz

[2021-02-10 16:15] ghost commented on #761
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|3667.00|2750.00|

Total Issuance: 3667.00 BSQ (equivalent to: 2750.00 USD)

[2021-02-10 16:16] MwithM commented on #761
Closed as accepted.

[2021-02-10 16:16] #761 closed, assigned to ripcurlx

[2021-02-10 16:16] ghost commented on #758
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|11346.01|8510.00|
|ops|199.99|150.00|

Total Issuance: 11546.00 BSQ (equivalent to: 8660.00 USD)

[2021-02-10 16:16] MwithM commented on #758
Closed as accepted.

[2021-02-10 16:16] #758 closed, assigned to wiz, sqrrm

[2021-02-10 16:16] ghost commented on #779
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|266.40|200.00|
|growth|66.60|50.00|

Total Issuance: 333.00 BSQ (equivalent to: 250.00 USD)

[2021-02-10 16:17] ghost commented on #766
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|2666.67|2000.00|

Total Issuance: 2666.67 BSQ (equivalent to: 2000.00 USD)

[2021-02-10 16:17] MwithM commented on #766
Closed as accepted.

[2021-02-10 16:17] #766 closed, assigned to leo816

[2021-02-10 16:17] ghost commented on #774
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|800.00|600.00|

Total Issuance: 800.00 BSQ (equivalent to: 600.00 USD)

[2021-02-10 16:17] MwithM commented on #774
Closed as accepted.

[2021-02-10 16:17] #774 closed, assigned to ripcurlx

[2021-02-10 16:17] ghost commented on #769
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|3891.83|2918.87|

Total Issuance: 3891.83 BSQ (equivalent to: 2918.87 USD)

[2021-02-10 16:17] MwithM commented on #769
Closed as accepted.

[2021-02-10 16:17] #769 closed, assigned to leo816

[2021-02-10 16:17] ghost commented on #777
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|282.00|212.00|

Total Issuance: 282.00 BSQ (equivalent to: 212.00 USD)

[2021-02-10 16:17] MwithM commented on #777
Closed as accepted.

[2021-02-10 16:17] #777 closed, assigned to m52go, MwithM

[2021-02-10 16:17] ghost commented on #776
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|3405.33|2554.00|

Total Issuance: 3405.33 BSQ (equivalent to: 2554.00 USD)

[2021-02-10 16:17] MwithM commented on #776
Closed as accepted.

[2021-02-10 16:17] #776 closed, assigned to leo816

[2021-02-10 16:18] ghost commented on #771
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|admin|133.00|100.00|

Total Issuance: 133.00 BSQ (equivalent to: 100.00 USD)

[2021-02-10 16:18] MwithM commented on #771
Closed as accepted.

[2021-02-10 16:18] #771 closed, assigned to m52go

[2021-02-10 16:18] ghost commented on #763
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|2667.00|2000.00|

Total Issuance: 2667.00 BSQ (equivalent to: 2000.00 USD)

[2021-02-10 16:18] MwithM commented on #763
Closed as accepted.

[2021-02-10 16:18] #763 closed, assigned to ripcurlx

[2021-02-10 16:18] ghost commented on #767
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|20200.00|15150.00|

Total Issuance: 20200.00 BSQ (equivalent to: 15150.00 USD)

[2021-02-10 16:18] MwithM commented on #767
Closed as accepted.

[2021-02-10 16:18] #767 closed, assigned to ripcurlx

[2021-02-10 16:18] ghost commented on #757
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|3033.33|2275.00|
|support|666.67|500.00|

Total Issuance: 3700.00 BSQ (equivalent to: 2775.00 USD)

[2021-02-10 16:18] MwithM commented on #757
Closed as accepted.

[2021-02-10 16:18] #757 closed, assigned to m52go, leo816

[2021-02-10 16:18] ghost commented on #759
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|5026.00|3770.00|

Total Issuance: 5026.00 BSQ (equivalent to: 3770.00 USD)

[2021-02-10 16:18] MwithM commented on #759
Closed as accepted.

[2021-02-10 16:18] #759 closed, assigned to ripcurlx

[2021-02-10 16:19] MwithM commented on #779
Closed as accepted.

[2021-02-10 16:19] #779 closed, assigned to nobody

[2021-02-10 16:44] MwithM opened #782 "BSQ rate for Cycle 22 is 1.21 USD per 1 BSQ"
The recommended rate to be used for compensation requests on cycle 22 is 1.21 USD/BSQ.

30 Day BTC/BSQ: 0.00006020
30 Day USD/BSQ: 2.1
90 Day BTC/BSQ: 0.00004960
90 Day USD/BSQ: 1.21

More info about the Compensation process at https://bisq.wiki/Compensation
Rate for last cycle: #755
Proposal for this cycle: https://github.com/bisq-network/proposals/issues/300

There will be some contributors who

[2021-02-10 16:44] ghost commented on #782
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2021-02-10 16:45] #755 closed, assigned to nobody

[2021-02-10 18:18] chimp1984 opened #783 "For Cycle 22"
## Summary

Due to limtations of max. issuance per cycle I recommened to reject that requests in **cycle 21**, so I repeat it here with the same rate and amount as before.

- **BSQ requested**: **`31133.33`**
- USD requested: 23350
- BSQ rate: 0.75 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| UI improvements | dev | 300 | https://

[2021-02-10 18:42] chimp1984 commented on #782
Should be on cycle 22, no?

I think we should use the 30 day average instead the 90 days for the next price proposal. We have about 2 weeks delay between the proposal and the nex cycle and then 4 weeks for the cycle, so the payout rate is already 6 weeks in the past and then with the 90 days average so get a price too much in the past.

Current BSQ price  is about 2.6 USD (30 day average). So with

[2021-02-10 18:44] ghost commented on #782
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2021-02-10 18:55] ghost commented on #782
## Errors
USD amount not specified in summary section
BSQ amount not specified in summary section
No compensation lineitems found.

[2021-02-10 19:42] MwithM commented on #782
I don't agree with that. Other than a sudden BSQ price rise, nothing has changed. The reasons to use this compensation rate model is the same as when it started.
The reason to use a large mean for contributions was to make contributors commit with the project on the long term. That helps to stabilize BSQ price too.
As long as we accept that there will be times where our contributions will be worth

[2021-02-10 20:16] flix1 commented on #782
Whatever price criteria is used (30 or 90 day avg) I think the most important meta-issue is that it is predictable.

There will ALWAYS be somebody who benefits or stands to lose with a change of rules in BSQ valuation, therefore to avoid disagreements, hurt feelings, or some collaborators feeling cheated... it is very important that the rule is known BEFORE they start to work on the cycle that wil

[2021-02-10 20:42] MwithM commented on #783
Will you make two different proposals with two different rates for tasks done during Cycle 22?
This way there will be no confusion with the rates to use. I think it's better, specially considering they are for a high amount.

[2021-02-10 21:27] chimp1984 commented on #783
Yes, I will make 2 diff. requests. This is the exact copy which only got delayed to not cause a failed cycle.

[2021-02-10 22:35] chimp1984 commented on #782
Sure volatility cannot be avoided and there will always be a winner and a loser when volatility is involved, but the risk increases with longer time periods. We use a short term adjustment period for the BSQ rate (users would not accept a long term historical price anyway) and a long term rate for the issuance.

So the balance of what we issue and what we burn gets out of balance.

It will also cr

[2021-02-10 23:07] sqrrm commented on #773
@MwithM I have not yet created the DAO request to avoid the issuance limit last cycle.

[2021-02-11 00:38] RefundAgent commented on #782
There should not be any averaging at all and the volatility cost should be included in the compensation request made by the contributors. The past averaged price says less about the future price than the present price. It says very little about the volatility either which can be estimated using different (but simple) methods.
The present system will be warmly welcomed when the price increases and

[2021-02-11 03:53] wiz commented on #782
There were often times in the past when the Bitcoin price crashed suddenly and because our compensation system uses a 90 day average, Bisq contributors had to accept getting paid at a rate higher than the actual market, which resulted in them getting paid less. Now because of the recent Bitcoin price increase, the market has moved in their favor, let them get the good pay for a while so it balance

[2021-02-11 04:11] chimp1984 commented on #782
The price rise is going on since about 4 months. So we are constantly overpaying since. With my new charts (still pending PR) you can see much better details of historical price development. There have been a bad period around Jan 2020 where price went down to about 0.45 USD. But beside that it was pretty stable.

<img width="1322" alt="Screen Shot 2021-02-10 at 22 58 05" src="https://user-images.

[2021-02-11 10:59] MwithM commented on #773
You're right, as there's no DAO request for this I did not filter it properly.
I think it's better if you just make another request for Cycle 22, indicating the reason why you did not submit your request at Cycle 21.
Also, I think it's better to make 2 different proposals with 2 diffferent rates.

[2021-02-11 14:14] spx4000 commented on #782
Lots of good points on this thread, but if the DAO wants to change from 90 day average, at least pick a time where the 30 day and the 90 day are equal to each other.

Some seem to forget that it was approximately 1 year of the 90 day BSQ average falling, and contributors were not able to sell at the rate that they requested.  The price slowly fell from 10,000 sats to 9,000 to 8000, 7000, 6000, 500

[2021-02-11 23:25] chimp1984 commented on #782
All those rules have been defined not by any market but as educated guesses and as it seems without enough thought.

The DAO economy requires a system-thinking approach. It was defined with certain assumptions and not being flexible to fix mistakes (to use 2 very different time scales for setting rate for issuance and BSQ trade fees) will lead to bigger problems.

In that case I expect that it wil

[2021-02-12 09:58] sqrrm commented on #782
If we had a very liquid BSQ market I think using spot price at some point towards the end of the compensation phase would be the only reasonable conclusion.

Historically we started with a fixed rate when the DAO was new to have a bit of predictability and after a while we felt comfortable enough to move to the 90 day average. The BSQ price has been moving a lot and is now far off the spot price a

[2021-02-12 13:49] chimp1984 commented on #782
Yes I did not mention any concrete new suggestion, but I had similar in mind. We need some average and we need to keep the manual price fixing as BSQ price could be easily manipulated.
I think the most we can do would be to set the price as late as possible (e.g. start price fixing discussion 1 week after cycle start for 1 week, then set the rate, so comp. requests cannot be made in the first 2 we

[2021-02-16 08:48] MwithM commented on #773
Closing this as not submitted (dropped to not exceed the issuance limit on cycle 21).

[2021-02-16 08:48] #773 closed, assigned to ripcurlx, wiz

[2021-02-16 19:36] MwithM commented on #782
As the main objection to reduce the average mean to calculate the rate is that it's a bad time _("one could suggest to change the compensation calculation for the express purpose of lowering everyone's pay.", "Now because of the recent Bitcoin price increase, the market has moved in their favor, let them get the good pay for a while so it balances out from before IMO.")_ and that predictability is

[2021-02-16 20:13] chimp1984 commented on #782
When the 90 day average was started to use it was stated that it was an arbitrary measure and that it could change, but I think that changes like this (trading fees, compensation and reimbursement rates...) needs to be done at a calm and steady pace.

Yes agree. I did not mean to do the change for that cycle, just used that thread for discussing it.

[2021-02-19 02:31] pazza83 commented on #782
I agree with contributors that did not ask for reimbursements requests on Cycle 21, or asked to be voted down for them, to submit the work delivered for Cycle 21 at the BSQ rate of Cycle 21.

[2021-02-19 15:19] pazza83 commented on #782
@MwithM Would that mean that 90 day average no longer becomes used for anything?

Following on from the discussion we had on [cycle 21 proposal](https://github.com/bisq-network/proposals/issues/301) and the discussion on this one. I would be in favor of moving to a 30 day average for all DAO requests.

I agree with @RefundAgent that there should not be any averaging all. But think 30 day averages

[2021-02-19 18:39] chimp1984 opened #784 "For Cycle 22"
## Summary

- **BSQ requested**: **`4421.49`**
- USD requested: 5350
- BSQ rate: 1.21 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Fix null pointer | dev | 50 | https://github.com/bisq-network/bisq/pull/5101 | - |
| Remove unused BalanceWithConfirmationTextField | dev | 0 | https://github.com/bisq-network/bisq/pull/5134 | - |
| Sh

[2021-02-19 18:51] chimp1984 opened #785 "For Cycle 22"
## Summary

I have not made compensation requests in the period between **cycle 10 and 19**.
I list here just an overall summary as its too much work to evaluate each PR individually (and I doubt any reviewer would take the time to review them).
Here is a list all PRs:
From: https://github.com/bisq-network/bisq/pulls?page=4&q=is%3Apr+author%3Achimp1984
To: https://github.com/bisq-network/bisq/pull

[2021-02-20 12:09] MwithM commented on #782
Yes, 90 day average would not be used anymore.

[2021-02-20 12:14] MwithM commented on #785
For parsing reasons, use the **For Cycle 22** standard title, and then explain that this tasks were not compensated in the cycles 10-19. This is how we've done it for those who forgot a to request a compensation on the corresponding cycle.

[2021-02-23 13:11] ghost commented on #781
## Info
Read BSQ amount from summary: 4666
Read USD amount from summary: 4200
Read BSQ rate from summary: 0.9
Parsed lineitem: {"team":"ops","amount":400}
Parsed lineitem: {"team":"ops","amount":200}
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"ops","amount":200}
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"team":"ops","amount":300}
Parsed lineitem: {"t

[2021-02-23 14:22] wiz commented on #781
b63cba89e376a9c12afc3504eae6c76a77aeadeebf3ba5c619e31d53d212ad48

[2021-02-24 10:05] RefundAgent commented on #781
This compensation request uses a rate of 0.9 USD for one BSQ, whereas the spotprice is 2.7 USD for one BSQ.

[2021-02-24 11:04] MwithM commented on #781
This proposal is using the same method to calculate the BSQ rate as for [Cycle 21](https://github.com/bisq-network/compensation/issues/755#issuecomment-760297872) and it was considered that this could happen on this cycle as some of them retrieved from asking for compensation on Cycle 21. https://github.com/bisq-network/compensation/issues/782#issue-805682986
After some discussion during this cycl

[2021-02-24 12:13] wiz commented on #781
@RefundAgent hey remember that time you paid out an extra 2 BTC to someone and the DAO bailed you out?

[2021-02-26 10:46] RefundAgent commented on #781
@wiz I also remember your position concerning this mistake. But I guess this time is different since there is no mistake involved.

@MwithM The method is still completely wrong and to use a 30 day average as some "compromise" has no advantage at all. All investors in Bisq that I know about have sold the majority of their BSQ due to the lack of business sense in Bisq.

[2021-02-26 14:19] chimp1984 commented on #784
txid: 07627f14938bbcf9cc183055d8c36f867054ef3b252cd0c2fe5191f36cbbd6fd

[2021-02-26 14:20] chimp1984 commented on #783
txid: 293d91e325fdb3092ca8b1ac19a8ac22a337b9832c94d41b0d086315829e7b0d

[2021-02-26 14:20] chimp1984 commented on #785
txid: 0edb167d8d86a44e1995bcf9b19f1d5d446aa41b5f308a1d8e03ff396a7ccfdf

[2021-02-27 17:49] BtcContributor opened #786 "For Cycle 22"
Hi all,
this is my first CR so I hope I did not make any mistake.

I started this journey 10 days ago and I would like to help this project as much as my time and skills will allow me.

## Summary

- **BSQ requested**: **`371.90`**
- USD requested: 450
- BSQ rate: 1.21 USD per BSQ

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Testing | dev | 4

[2021-02-27 22:33] sqrrm opened #787 "For Cycle 22"
## Summary

- **BSQ requested**: **`6413`**
- USD requested: 4810
- BSQ rate: 0.75 USD per BSQ
- Previous compensation request (if applicable): #773

This is a resubmission of #773 as I held it back to avoid hitting the max issuance limit.

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Sign specific account | dev | 320 | https://github.com/bisq-

[2021-02-27 22:33] ghost commented on #787
## Info
Read BSQ amount from summary: 6413
Read USD amount from summary: 4810
Read BSQ rate from summary: 0.75
Parsed lineitem: {"team":"dev","amount":320}
Parsed lineitem: {"team":"dev","amount":650}
Parsed lineitem: {"team":"dev","amount":800}
Parsed lineitem: {"team":"dev","amount":200}
Parsed lineitem: {"team":"dev","amount":50}
Parsed lineitem: {"team":"ops","amount":100}
Parsed lineitem: {"t

[2021-02-27 22:42] sqrrm opened #788 "For Cycle 22"
## Summary

- **BSQ requested**: **`769`**
- USD requested: 930
- BSQ rate: 1.21 USD per BSQ
- Previous compensation request (if applicable): #773

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
||||https://github.com/bisq-network/bisq/pull/5133 | Small reviews
|||| https://github.com/bisq-network/bisq/pull/5145
|||| https://github.com/bisq-networ

[2021-02-28 09:39] MwithM opened #789 "For Cycle 22"
## Summary

- **BSQ requested**: **`941.32`**
- USD requested: 1139
- BSQ rate: 1.21 USD per BSQ as per #782
- Previous compensation request (if applicable): #756

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
|Community Manager| *Growth | 450 | https://github.com/bisq-network/roles/issues/95#issuecomment-787421287 |  |
|Transifex Admin| *Growth

[2021-02-28 15:28] ghubstan opened #790 "For Cycle 22"
## Summary

- **BSQ requested**: **`2685.95`**
- USD requested: 3250
- BSQ rate: 1.21 USD per BSQ
- Previous compensation request (if applicable): #767

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Git-ignore apitest dao-setup files| dev |0|https://github.com/bisq-network/bisq/pull/5125| merged |
| Check wallet is avaiable and/or unlocked on c

[2021-02-28 15:28] ghost commented on #790
## Info
Read BSQ amount from summary: 3932.5
Read USD amount from summary: 3250
Read BSQ rate from summary: 1.21
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":500}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"dev","amount":0}
Parsed lineitem: {"team":"d

[2021-02-28 16:54] ghost opened #791 "For Cycle 22"
## Summary

- **BSQ requested**: **`1493`**
- USD requested: 1807
- BSQ rate: 1.21 USD per BSQ
- Previous compensation request (if applicable):   https://github.com/bisq-network/compensation/issues/763

## Contributions delivered

[edit 1] _added 2 merged items https://github.com/bisq-network/bisq/pull/5235, https://github.com/bisq-network/bisq/pull/5267; increased request amount by 5%_

| Title |

[2021-02-28 22:56] burningman3 opened #792 "For Cycle 22"
## Summary

- **BSQ requested**: **`[826.45]`**
- USD requested: [1000]
- BSQ rate: [1.21] USD per BSQ
- Previous compensation request (if applicable): #766

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BSQ buying and burning, using funds from donation and fee addresses | support | 1000 | https://github.com/bisq-network/roles/issues/80#issueco

[2021-03-01 04:51] stejbac opened #793 "For Cycle 22"
## Summary

- **BSQ requested**: **`289.26`**
- USD requested: 350
- BSQ rate: 1.21 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/774

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Speed up deposit and transactions view loads | dev | 250 | https://github.com/bisq-network/bisq/pu

[2021-03-01 06:41] cbeams opened #794 "For Cycle 22"
## Summary

- **BSQ requested**: 41
- USD requested: 50
- BSQ rate: [1.21](https://github.com/bisq-network/compensation/issues/782) USD per BSQ
- Previous compensation request (if applicable): #771

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| DNS Admin | admin* | 25 | https://github.com/bisq-network/roles/issues/18#issuecomment-787695836 |
|

[2021-03-01 06:47] ghost commented on #794
## Info
Read BSQ amount from summary: 83
Read USD amount from summary: 100
Read BSQ rate from summary: 1.21
Parsed lineitem: {"team":"admin","amount":25}
Parsed lineitem: {"team":"admin","amount":25}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 100.00 USD
   - Calculated total: 50.00 USD

[2021-03-01 06:49] cbeams commented on #794
@m52go: I'm a day late in submitting this, my apologies. Could you review as per usual?

[2021-03-01 09:16] ripcurlx opened #795 "For Cycle 22"
## Summary

- **BSQ requested**: **`4329`**
- USD requested: 5239
- BSQ rate: 1.21 USD per BSQ
- Previous compensation request (if applicable): #758

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bisq Desktop Maintainer | dev | 2100 | https://github.com/bisq-network/roles/issues/63#issuecomment-734342357 |  |
| Bitcoin Fullnode Operator| ops |

[2021-03-01 17:33] refund-agent2 opened #796 "For Cycle 22"
## Summary

- **BSQ requested**: **`1735.53`**
- USD requested: 2100
- BSQ rate: 1.21 USD per BSQ
- Previous compensation request (if applicable): #769

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Refunds | *Support | 2100 | https://github.com/bisq-network/roles/issues/93#issuecomment-788126784 |  |

## Contributions in progress

[2021-03-01 19:17] devinbileck opened #797 "For Cycle 22"
## Summary

- **BSQ requested**: **`826.45`**
- USD requested: 1000
- BSQ rate: 1.21 USD per BSQ
- Previous compensation request (if applicable): #772

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Bitcoin node operator | ops* | 100 | https://github.com/bisq-network/roles/issues/67#issuecomment-788223997 | 2 nodes
| Seed node operator | ops* |

[2021-03-01 22:31] chimp1984 commented on #791
Have not followed in details, but from my feeling that seems too low. You are covering a lot of the bug fixing and support dev work and I think you should ask for a more appropriate compensation.

[2021-03-02 02:03] pazza83 opened #798 "For Cycle 22"
## Summary

- **BSQ requested**: **`[1239.67]`**
- USD requested: [1500]
- BSQ rate: [1.21 USD/BSQ] USD per BSQ as per https://github.com/bisq-network/compensation/issues/782
- Previous compensation request: #757

## Contributions delivered for Cycle 22

 Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Payment Maintainer Role | *Growth | 1000 | https://github.com/bisq-network

[2021-03-02 04:27] m52go commented on #794
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests)—please submit to the DAO and paste the txid here.

[2021-03-02 04:28] m52go commented on #789
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests) for growth :+1:

[2021-03-02 04:28] m52go commented on #798
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests) for growth :+1:

[2021-03-02 04:29] m52go commented on #780
@doitsu232 the [rate for this cycle is 1.21](https://github.com/bisq-network/compensation/issues/782).

[2021-03-02 04:42] ghost commented on #780
## Info
Read BSQ amount from summary: 1535372
Read USD amount from summary: 185.78
Read BSQ rate from summary: 1.21
Parsed lineitem: {"team":"growth","amount":104.23}
Parsed lineitem: {"team":"growth","amount":81.55}

## Errors
ERROR: Total BSQ does not match the sum of line items:
   - Summary total: 1535372.00 BSQ
   - Calculated total: 153.54 BSQ

[2021-03-02 04:43] doitsu232 commented on #780
edited.

[2021-03-02 09:58] Emzy opened #799 "For Cycle 22"
## Summary

- **BSQ requested**: **`991`**
- USD requested: 1200
- BSQ rate: 1.21 USD per BSQ
- Previous compensation request (if applicable): #765

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| 4* Bitcoin node operator | ops* | 200 | bisq-network/roles#67 |  |
| 4* Seed node operator | ops* | 400 | bisq-network/roles#15 | 1 old node (Onion V2)

[2021-03-02 12:00] leo816 commented on #789
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-03-02 12:01] leo816 commented on #783
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-03-02 12:02] leo816 commented on #792
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-03-02 12:06] leo816 commented on #796
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.
Regarding the per-case compensation, you proposed having a fixed amount to avoid conflict of interest. For next cycle we can talk about how we could implement this change.

[2021-03-02 12:07] leo816 commented on #798
My [Team Lead](https://bisq.wiki/Compensation#Team_Lead)  review is complete and I approve this request. Please submit your DAO proposal and paste the transaction ID here as a comment when complete, thanks.

[2021-03-02 21:10] MwithM commented on #789
Txid: `10411f22e8aca30b44a765b19c198e4c497bf3956949ae7331a471bfc4b097ec`

[2021-03-03 02:13] pazza83 commented on #798
Tx ID: 775788bafb8de2fc99fee647676ddbfc1c1d56ef3709103800095f28635cf004

[2021-03-03 07:15] wiz commented on #797
Approved for ops

[2021-03-03 07:15] wiz commented on #787
Approved for ops

[2021-03-03 07:17] wiz commented on #788
Re-Approved for ops since this is a re-submission of #773

[2021-03-03 07:18] wiz commented on #799
Approved for ops

[2021-03-03 07:19] wiz commented on #791
Approved for ops. I agree the comp req amounts seem very low, you should ask for more.

[2021-03-03 09:54] ghost commented on #796
## Info
Read BSQ amount from summary: 1735.53
Read USD amount from summary: 2100
Read BSQ rate from summary: 1.21
Parsed lineitem: {"team":"support","amount":2129.54}

## Errors
ERROR: Total USD does not match the sum of line items:
   - Summary total: 2100.00 USD
   - Calculated total: 2129.54 USD

[2021-03-03 10:02] refund-agent2 commented on #796
I have reduced the compensation 30USD because there is a case which was just an invalid delayed payout. I think that I should get something because there is a slight risk that I make a refund by mistake, but not 50USD.
The main conflict of interest is not wether to use a per-case or a % of refunds reimbursement, but that I could generate fake reimbursement cases to increase the amount of my compen

[2021-03-03 12:18] robkaandorp opened #800 "For Cycle 22"
## Summary

- **BSQ requested**: **`41.32`**
- USD requested: 50
- BSQ rate: 1.21 USD per BSQ
- Previous compensation request (if applicable): https://github.com/bisq-network/compensation/issues/778

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| BTC Node operator | ops* | 50 | https://github.com/bisq-network/proposals/issues/189 |  |

## Contri

[2021-03-03 12:19] robkaandorp commented on #800
DAO txid: 21b147ecff2fa7fedfc3626fe8201ed271b941b0e959710a785265bcd9ac4a0a

[2021-03-03 14:51] ghost commented on #791
@chimp1984 @wiz Thankyou for your support, it is not easy to price these things so your comments are appreciated.
I have added 2 recently merged items and increased the requested amount by 5%.

https://github.com/bisq-network/bisq/pull/5267
https://github.com/bisq-network/bisq/pull/5235

[2021-03-03 14:52] freimair opened #801 "For Cycle 22"
## Summary

- **BSQ requested**: **`207`**
- USD requested: 250
- BSQ rate: 1.21 USD per BSQ
- Previous compensation request (if applicable): #760

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Arch Linux AUR Maintainer Cycle 22 | dev* | 250 |   https://github.com/bisq-network/roles/issues/78#issuecomment-771532871|

## Contributions in progres

[2021-03-03 14:54] freimair opened #802 "For Cycle 22"
## Summary

- **BSQ requested**: **`2479`**
- USD requested: 3000
- BSQ rate: 1.21 USD per BSQ
- Previous compensation request (if applicable): #762

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Reduce bandwidth requirement on Bisq startup | dev | 3000 | bisq-network/projects#25 | the project got completed recently, and given the design is the

[2021-03-03 15:59] leo816 opened #803 "For Cycle 22"
## Summary

- **BSQ requested**: **`1653.72`**
- USD requested: 2001
- BSQ rate: 1.21 USD per BSQ
- Previous compensation request (if applicable): #744

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Mediator |Support | 1000 |  https://github.com/bisq-network/roles/issues/83#issuecomment-791949967 |  |
| L1 Support Agent | Support | 500 |https:/

[2021-03-03 19:39] ripcurlx commented on #783
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-03-03 19:40] ripcurlx commented on #793
As always you undervalue your valuable contributions @stejbac! As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-03-03 19:41] ripcurlx commented on #787
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-03-03 19:41] ripcurlx commented on #788
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-03-03 19:42] ripcurlx commented on #791
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev and I agree with what was mentioned in the comments before.

[2021-03-03 19:44] ripcurlx commented on #790
@sqrrm Could you please chime in on approving this CR? Thanks!

[2021-03-03 19:47] ripcurlx commented on #801
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-03-03 21:55] devinbileck commented on #797
Tx Id fa943b663be040269485d6aabc62043c5f0da63a5d68a8351f6e15cad53653e1

[2021-03-04 08:38] cbeams commented on #794
Update: per the discussion at https://github.com/bisq-network/bisq/discussions/5269#discussioncomment-425461, I will hold off on submitting this for inclusion in Cycle 22 and will batch it together with other requests in a later cycle. Mining fees are prohibitively high to make such small compensation requests economical, and there is agreement that deferral and batching is an acceptable way to go

[2021-03-04 09:21] MwithM commented on #780
All the website budget was already claimed on #777 and there was [none](https://github.com/bisq-network/roles/issues/20#issuecomment-779689002) left for it.
Reduce the amount for the web to 40USD and make regular reports although the amount to claim is too low to request compensation for every cycle.

[2021-03-04 09:24] MwithM commented on #794
Closed as deferred.

[2021-03-04 09:24] #794 closed, assigned to m52go

[2021-03-04 10:05] sqrrm commented on #790
I approve of this CR.

[2021-03-04 10:06] sqrrm commented on #795
I approve of this CR.

[2021-03-04 10:08] alexej996 opened #804 "For Cycle 22"
## Summary
This is a compensation request for work done in Cycle 21.

- **BSQ requested** : **206**
- USD requested: **250**
- BSQ rate: **1.21** USD per BSQ
- Previous compensation request: https://github.com/bisq-network/compensation/issues/779

## Contributions delivered

| Title | Team | USD | Link | Notes |
| --- | --- | --- | --- | --- |
| Forum operator | ops* | 100 | https://github.com/bis

[2021-03-04 11:31] alexej996 commented on #804
DAO txid: **8d621fa9d016a164a6f7a4ec53dfc4893fe6450e2e7ce5f2234b5fdc7cf09db5**

[2021-03-04 14:37] wiz commented on #804
Approved for ops

[2021-03-04 15:12] m52go commented on #804
[Approved](https://bisq.wiki/Compensation#Review_team_member_requests) for growth :+1:

[2021-03-04 16:45] ghubstan commented on #790
MyProposalListService: Proposal tx has been published.:
 `a007e066d519fcd118d5b1e103c08769252a8de49b42e8c12eee706de395c578`

[2021-03-04 18:05] ripcurlx commented on #786
Welcome to Bisq @BtcContributor! Thanks especially for your testing support! As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-03-04 18:29] ripcurlx commented on #795
Tx-Id: 260d9a953ca22f1e3cbc59b85099c5318012091169123045a4ca11ba8f64e416

[2021-03-05 09:12] refund-agent2 commented on #796
Txid is 0e4e5a85d7dd68cf8cb3e3c0f43a5b147776ab75dced8ea6e95b08e7d0c9ad7d

[2021-03-05 09:21] BtcContributor commented on #786
TxID: 4e280bcd7aaab510b287799e74fec23c371076cd08899757a1b0587fca0baf86

[2021-03-05 10:17] sqrrm commented on #788
Tx: 9d66c5ab0b2cc42c06d3a93bfb4b70b75d3c8d4b324f6aebbed0cc57810c7dae

[2021-03-05 10:17] sqrrm commented on #787
Tx: 3c7526bb54a68a004e6384f3d32fe0fb4278b8059c7a7eff8bbc67f9599a8593

[2021-03-05 11:50] Emzy commented on #799
TX: b7a866a2d006dba70d3ff04bda1d847cf0aa7729f417638d810288cf80d44b90

[2021-03-06 05:47] stejbac commented on #793
Tx ID: 8e279ce7ba7d569df29d6e8f0d35f7b49a0e307daa0f899623ea6b5b47eaa6de

[2021-03-06 08:51] freimair commented on #801
8fc5b9def54e678590ecfae517150c07620f9883c98c5074d0b88efff572f53a

[2021-03-06 08:53] freimair commented on #802
As I again do not expect any positive reviews or even constructive comments here:

94888f1c9f214947cfad4d9768b260ef4adf258260f85cf7bd726d89c861e709

[2021-03-07 17:07] ghost commented on #791
159d7e31cc1d833bc75c5cb411e5c6918d6f213423089d51ac28e05e027e0eb3

[2021-03-07 20:55] ghost commented on #803
## Info
Read BSQ amount from summary: 1652
Read USD amount from summary: 2000
Read BSQ rate from summary: 121
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":501}
Parsed lineitem: {"team":"support","amount":0}

## Errors
Incorrect BSQ rate specified: 121, expected: 1.21
ERROR: Total USD does not match th

[2021-03-07 20:56] ghost commented on #803
## Info
Read BSQ amount from summary: 1652
Read USD amount from summary: 2001
Read BSQ rate from summary: 121
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":501}
Parsed lineitem: {"team":"support","amount":0}

## Errors
Incorrect BSQ rate specified: 121, expected: 1.21
ERROR: Total BSQ does not match th

[2021-03-07 20:56] ghost commented on #803
## Info
Read BSQ amount from summary: 165372
Read USD amount from summary: 2001
Read BSQ rate from summary: 121
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":501}
Parsed lineitem: {"team":"support","amount":0}

## Errors
Incorrect BSQ rate specified: 121, expected: 1.21
ERROR: Total BSQ does not match

[2021-03-07 20:56] ghost commented on #803
## Info
Read BSQ amount from summary: 1653.72
Read USD amount from summary: 2001
Read BSQ rate from summary: 121
Parsed lineitem: {"team":"support","amount":1000}
Parsed lineitem: {"team":"support","amount":500}
Parsed lineitem: {"team":"support","amount":501}
Parsed lineitem: {"team":"support","amount":0}

## Errors
Incorrect BSQ rate specified: 121, expected: 1.21

[2021-03-07 21:19] leo816 commented on #803
tx id: cc0c46147a15e140ac1789111c9a6c7e9bb746325cfb0e596215e8c15d2698d3

[2021-03-08 08:58] MwithM commented on #783
Reminder: please submit the TXID of the DAO proposal.

[2021-03-08 08:58] MwithM commented on #792
Reminder: please submit the TXID of the proposal.

[2021-03-08 08:59] MwithM commented on #781
This needs to be reviewed @bisq-network/team-leads

[2021-03-08 09:04] MwithM commented on #800
I consider this pre approved and reviewed.

[2021-03-08 12:44] burningman3 commented on #792
Tx ID: 4fa107847ffabbcc2771d53cbab8164d702d74ebddddad4c392e4d090eb03c67

[2021-03-08 13:57] ripcurlx commented on #781
As it would have been this amount of BSQ created if the CR would have been approved in the respective cycles I approve this request as dev team lead.

[2021-03-08 13:59] ripcurlx commented on #803
I approve this request as dev team lead. @leo816 Please add your CR next time earlier so there is realistic time to properly review your CR as well. Thanks!

[2021-03-08 14:02] ripcurlx commented on #784
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-03-08 14:02] ripcurlx commented on #785
As [team lead](https://bisq.wiki/Compensation#Team_Lead) I approve this request for dev.

[2021-03-08 15:22] chimp1984 commented on #783
https://github.com/bisq-network/compensation/issues/783#issuecomment-786675449

[2021-03-09 06:24] wiz commented on #800
Hey Rob! Approved for ops

[2021-03-15 08:10] MwithM commented on #780
was:not submitted

[2021-03-15 08:10] #780 closed, assigned to m52go, MwithM

[2021-03-15 08:11] MwithM commented on #802
Closed as rejected.

[2021-03-15 08:11] #802 closed, assigned to ripcurlx

[2021-03-15 08:11] ghost commented on #789
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|404.13|489.00|
|support|413.22|500.00|
|admin|123.97|150.00|

Total Issuance: 941.32 BSQ (equivalent to: 1139.00 USD)

[2021-03-15 08:12] MwithM commented on #789
Closed as accepted.

[2021-03-15 08:12] #789 closed, assigned to m52go, leo816

[2021-03-15 08:12] ghost commented on #798
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|growth|826.45|1000.00|
|support|413.22|500.00|

Total Issuance: 1239.67 BSQ (equivalent to: 1500.00 USD)

[2021-03-15 08:12] MwithM commented on #798
Closed as accepted.

[2021-03-15 08:12] #798 closed, assigned to m52go, leo816

[2021-03-15 08:12] ghost commented on #797
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|826.45|1000.00|

Total Issuance: 826.45 BSQ (equivalent to: 1000.00 USD)

[2021-03-15 08:12] MwithM commented on #797
Closed as accepted.

[2021-03-15 08:12] #797 closed, assigned to nobody

[2021-03-15 08:12] ghost commented on #804
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|164.80|200.00|
|growth|41.20|50.00|

Total Issuance: 206.00 BSQ (equivalent to: 250.00 USD)

[2021-03-15 08:12] MwithM commented on #804
Closed as accepted.

[2021-03-15 08:12] #804 closed, assigned to wiz, m52go

[2021-03-15 08:13] ghost commented on #795
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|4267.03|5164.00|
|ops|61.97|75.00|

Total Issuance: 4329.00 BSQ (equivalent to: 5239.00 USD)

[2021-03-15 08:13] MwithM commented on #795
Closed as accepted.

[2021-03-15 08:13] #795 closed, assigned to wiz, sqrrm

[2021-03-15 08:13] ghost commented on #786
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|371.90|450.00|

Total Issuance: 371.90 BSQ (equivalent to: 450.00 USD)

[2021-03-15 08:13] MwithM commented on #786
Closed as accepted.

[2021-03-15 08:13] #786 closed, assigned to ripcurlx

[2021-03-15 08:13] ghost commented on #796
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|support|1735.53|2100.00|

Total Issuance: 1735.53 BSQ (equivalent to: 2100.00 USD)

[2021-03-15 08:13] MwithM commented on #796
Closed as accepted.

[2021-03-15 08:13] #796 closed, assigned to leo816

[2021-03-15 08:14] ghost commented on #787
Issuance cannot be displayed as there were errors in the comp request

[2021-03-15 08:14] MwithM commented on #787
Closed as accepted.

[2021-03-15 08:14] #787 closed, assigned to ripcurlx

[2021-03-15 08:14] ghost commented on #788
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|661.51|800.00|
|ops|107.49|130.00|

Total Issuance: 769.00 BSQ (equivalent to: 930.00 USD)

[2021-03-15 08:14] MwithM commented on #788
Closed as accepted.

[2021-03-15 08:14] #788 closed, assigned to ripcurlx

[2021-03-15 08:14] ghost commented on #801
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|207.00|250.00|

Total Issuance: 207.00 BSQ (equivalent to: 250.00 USD)

[2021-03-15 08:14] MwithM commented on #801
Closed as accepted.

[2021-03-15 08:14] #801 closed, assigned to ripcurlx

[2021-03-15 08:15] ghost commented on #793
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|289.26|350.00|

Total Issuance: 289.26 BSQ (equivalent to: 350.00 USD)

[2021-03-15 08:15] MwithM commented on #793
Closed as accepted.

[2021-03-15 08:15] #793 closed, assigned to ripcurlx

[2021-03-15 08:15] ghost commented on #799
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|ops|991.00|1200.00|

Total Issuance: 991.00 BSQ (equivalent to: 1200.00 USD)

[2021-03-15 08:15] MwithM commented on #799
Closed as accepted.

[2021-03-15 08:15] #799 closed, assigned to nobody

[2021-03-15 08:15] ghost commented on #790
## Issuance by Team:
|team|amount BSQ|amount USD|
|---|---|---|
|dev|2685.95|3250.00|

Total Issuance: 2685.95 BSQ (equivalent to: 3250.00 USD)